[2017-06-07 00:43] #1094 closed

[2017-06-07 00:43] #1098 closed

[2017-06-07 00:59] chendrix commented on #575
Provided by concourse/atc#163

[2017-06-07 01:01] andrewedstrom commented on #596
@willejs Are you still experiencing this issue now that we've moved off of btrfs as of 3.1.x?

[2017-06-07 01:01] chendrix commented on #709
Closing as provided by `fly validate-pipeline`

[2017-06-07 01:01] #709 closed

[2017-06-07 04:14] literatesnow opened #1261 "Using put with params in a job results in the get to be missing the same params"
# Bug Report

When ``put`` is used with ``params`` in the pipeline, the subsequent ``get`` is not passed the same ``params`` as the ``put`` via ``stdin``.

Consider the following job:

[code]

## Stdin as received from each step

1. ``put`` s3-bucket (as expected):

[code]

1. ``get`` s3-bucket (missing params, expecting the same ``stdin`` as the ``put`` - this step is automatically run even when

[2017-06-07 05:19] marco-m commented on #1191
@chendrix I am still learning concourse and all its concepts and technologies, so I could have missed something (or more!) :-) For me to better understand, what would be the difference between your suggestion of a fake garden implementation and https://github.com/vito/houdini ?

[2017-06-07 07:06] chendrix commented on #1191
Houdini is also a fake garden implementation, but it just uses folders as its containers. The ask for using VMs would use VMs as the "container"

Sincerely,
Christopher Hendrix

On Jun 6, 2017, 10:19 PM -0700, Marco Molteni <notifications@github.com>, wrote:

[2017-06-07 08:40] dsyer commented on #324
I tried following the pattern in http://www.davidkarlsson.no/2016/12/26/integration-testing-in-concourse-ci/. It looks like a decent idea but isn't working for me yet. I can run everything I need on my local docker daemon, but the non-docker environment in concourse seems to behave differently, and I can't see how to fix it (or even if it's possible to fix it).

When I try to start `dockerd` in th

[2017-06-07 09:19] jochenehret opened #1262 "Custom headline in web UI"
# Feature Request

## What challenge are you facing?

We have many Concourse instances running on different landscapes. The pipelines are always the same. So just from looking at the web UI you can't directly conclude which landscape you are facing. The Concourse VMs are running in a private network and we use SSH tunnels to connect to the web nodes. So the browser URL doesn't tell much about the

[2017-06-07 11:35] marco-m commented on #1191
Ah yes, that makes sense! Merci!

[2017-06-07 13:04] devdavidkarlsson commented on #324
Sorry it is not working for you @dsyer. What docker image are you using where I specify:` image: docker-registry-dind`

[2017-06-07 13:09] Sharor commented on #847
We ended up following advice on Slack, and changing our infrastructural stack to BOSH. :slightly_smiling_face: Ill give it a test run though! Thanks.

[2017-06-07 13:27] dsyer commented on #324
I was using `docker:dind`

[2017-06-07 13:54] pivotal-topher-bullock commented on #1084
dupe of #1082

[2017-06-07 14:03] pivotal-topher-bullock commented on #1057
dupe of #1056

[2017-06-07 14:03] #1057 closed

[2017-06-07 14:07] clarafu commented on #413
We noticed that a lot of people that want this feature are using the PR resource. We created a separate issue for some remodelling for multi-branch workflows in #1172 and it would be helpful if people that are interested could leave some comments on it, so we can better understand the need for both, and also figure out who needs this current issue for other reasons. Your feedback will determine wh

[2017-06-07 14:23] #1254 closed

[2017-06-07 14:26] clarafu commented on #912
This seems like a duplicate of #676 so I'm going to close this. Sounds like further validation for the other issue so we will take this into account. Thanks!

[2017-06-07 14:27] pivotal-topher-bullock commented on #1160
Might be [antipattern: knobs](https://github.com/concourse/concourse/labels/antipattern%3A%20knobs). I can see how having the option to temporarily keep containers around would be nice, but accidentally leaving that on could be(come) nasty.

[2017-06-07 14:32] vito commented on #110
rip

On Tue, Jun 6, 2017, 6:46 PM Christopher Brown <notifications@github.com>
wrote:

[2017-06-07 14:34] pivotal-topher-bullock commented on #110
![](https://media2.giphy.com/media/xTiTneUZ6NoHdYpeE0/giphy.gif)

[2017-06-07 14:40] jama-pivotal commented on #865
closing this issue thanks to @asehra fix!

[2017-06-07 14:40] #865 closed

[2017-06-07 15:19] jama-pivotal commented on #1022
Added some notes in our documentation around absolute paths in our Tasks docs http://concourse.ci/running-tasks.html#path

[2017-06-07 15:19] #1022 closed

[2017-06-07 15:56] davewalter commented on #413
The original reason for this request was that we manage multiple "environments" (pool resource) that we use to deploy CF, and we have an automated pipeline that cleanses and prepares each environment for use in other pipelines. At any given time, we could have multiple environments going through the same pipeline and, depending on timing and/or build failures, environments can get "lost" in the pi

[2017-06-07 16:08] rfliam commented on #1209
I believe this lacks a major feature set (and really the thrust of my issue behind #1012):
## Feature's an Admin Need's

1. I, an admin,  need to be able to identify "bad actors" (generally not intentional) who are using excessive resources. For example one of my teams had a script go awry that attempted to create 1,000's of check containers over the course of a week. This brought down the environ

[2017-06-07 16:23] freelock commented on #1160
Well, it might be a knob, but I must say we've been having some trouble with some deployment scripts, and since upgrading to 3.1.0, it's been exceedingly frustrating to try to debug these. When I go to hijack into a successful container, if I don't catch it in the first 5 minutes, it's gone.

Worse, when I manually trigger a job and then hijack in when the task (finally) starts, I'll be in the mid

[2017-06-07 16:24] kmacoskey commented on #954
## A big  +1  for this feature request.

Our need is slightly different, and we have dug into the issue a bit.

### Background

Specifically, we want to have the ability to change the core file size kernel limit. We are interested in this because our developers want the ability to hijack a container and core dump processes with a large memory footprint. In addition the product that they are develo

[2017-06-07 16:26] freelock commented on #1160
I would love some sort of manual ability to "keep next run of this job available for debugging" -- a button on the web UI, a fly command. Not a permanent setting, just a flag to debug, which is cleared when the job is next run, or after an hour, or...

We do automatically pause pipelines when they are done, so it would be nice to not have pausing a pipeline kill these debug containers, though I su

[2017-06-07 16:32] chendrix commented on #1261
This is on purpose.

Gets and puts do not necessarily share the same resource parameters, and I doubt we ever intended for this to have this behavior.

[2017-06-07 16:32] #1261 closed

[2017-06-07 16:53] vito commented on #1160
I think the container being killed while you're debugging might be a Garden
regression. It's supposed to keep the container alive as long as there's an
attached process. I've observed this behavior as well.

/cc @julz

On Wed, Jun 7, 2017, 12:26 PM John Locke <notifications@github.com> wrote:

[2017-06-07 16:58] charlieoleary commented on #1172
Adding context in regards to #413.

We use PRs to merge short-lived branches back into master. All of our flows do utilize a single pipeline for running tests and builds along side the pull_request resource and it works well. The problem that we're having is when a test or build fails for some miscellaneous reason (this isn't always because of a code issue) there is no easy way to re-trigger. Unfo

[2017-06-07 18:33] Lindsayauchin commented on #1262
This is relevant to issue #1259

[2017-06-07 18:59] pivotal-topher-bullock commented on #954
@kmacoskey 👍

I could see this being part of the task config, where there is an additional map for `garden_resource_limits` ( or some other key that `rootfs_uri` could be shoehorned under to keep them in "you sure you know what you're doing with these" group of settings.)

Might need to investigate what the side-effects passing those values to the Garden client with various backends would be.. pro

[2017-06-07 19:23] jama-pivotal opened #1264 "Concourse release blobs should be versioned"
# Feature Request

## What challenge are you facing?

The team at Pivotal needs to scan the concourse repository for potential conflicts in the open source licenses for dependant libraries. A part of the process relies on `config/blobs.yml` and detecting changes to the libraries listed within it. According to our teams, we need to version the specific names of the blobs so that the tool knows when

[2017-06-07 19:28] hfinucane opened #1265 "Javascript failure blocking viewing of completed jobs in 3.1.1"
# Bug Report

On viewing some larger completed builds via the browser, we get infinite 'loading' screens. `fly watch` works fine.

We get this in the console, in Chrome and Firefox:
[code]

[2017-06-07 21:21] jtarchie commented on #413
@clarafu, I'm with @davewalter. I think these are two separate issues.

The workflow of the feature branches does not necessarily solve the problem of retriggering a build. It would be a nice to have along with it.

@davewalter has a great use case where the idempotent explicitness of concourse doesn't work for automation.

That being said, as the creator of the PR resource, this issue still has m

[2017-06-07 21:25] clarafu opened #1266 "Volumes for imported worker base resource types should be global, not per-team"
Volumes reference a `team_id`, so it seems that we import these every time a different team needs them.

These should be safe to be made global, as opposed to `check` containers, as there should be no form of "hijacking" or anything that can pollute them.

[2017-06-07 21:28] clarafu commented on #1243
This build demonstrates the problem to fix:

https://ci.concourse.ci/teams/main/pipelines/main/jobs/bosh-testflight/builds/3289

[2017-06-07 21:34] jtarchie commented on #1172
@charlieoleary, I'd say this use case still doesn't work for you. Even though you had a flakey test run on a feature branch pipeline, you wouldn't be able to re-trigger it. Join my campaign for #413.

[2017-06-07 21:36] joaogbcravo commented on #413
@clarafu I'm not using concourse yet, because of this particular issue.

I want to use concourse for continuous delivery. I would like to have a "button" to deploy to production. If later I need to do a rollback I would like to re-trigger an old successful "build", using all the versions used on it, to redeploy that same versions on production again.

This "feature" exists in many other CI/CD tool

[2017-06-07 21:50] thewoolleyman commented on #413
@clarafu #2 [mentioned in the comment above](https://github.com/concourse/concourse/issues/413#issuecomment-233076618) (retrying flaky or failed build steps) is a primary reason this functionality is needed independent of any other feature to address multiple branch handling.

Sometimes build steps just fail intermittently and you need to re-run them.  This isn't a defense of flaky builds; you may

[2017-06-08 00:21] chendrix commented on #1172
the committee that supports #413 doesn't understand Concourse fundamentals 😝

[2017-06-08 00:24] chendrix commented on #1265
Are you using a custom resource type that has an incorrect `/check` or `/in` behavior? A reminder to resource authors that those must output version information, even if it's an output-only resource.

[2017-06-08 00:24] chendrix commented on #1264
Change the tool you're using 😄

[2017-06-08 00:49] andrewedstrom commented on #765
@xtreme-gavin-enns Are you still observing this in v3.1.x?

[2017-06-08 01:09] bensullivan commented on #1229
@vito - no problems - thanks for the feedback.  We've rolled back to 2.7.7 and are back in business.  I'll try what you suggest with `0777` on the worker work folder.  I'll also put together a hello world pipeline to try and remove some more variables from what we're seeing and help with the troubleshooting.  Cheers

[2017-06-08 02:02] vito commented on #1172
@jtarchie @charlieoleary With each PR being a separate pipeline, the likelihood that you would need to re-trigger a particular *build* vs. re-triggering the job like you do today would be much lower. You would only need *build* re-triggering if for whatever reason you wanted to re-run an older iteration of the pull request.

So, you wouldn't need an empty commit to re-trigger the PR - you'd just r

[2017-06-08 05:19] kei-yamazaki opened #1267 "Two or more serial jobs are not enqueued"
# Bug Report

In the case of serial job, even if multiple versions are added, only one build is enqueued.
And un-enqueued versions will not be built.

As build 1 is running as in the screenshot below, I added three new versions.
<img width="1002" alt="running-build1" src="https://user-images.githubusercontent.com/1715090/26913045-63ee26fe-4c53-11e7-9b5e-55cc0b5f9557.png">

However, only one build

[2017-06-08 06:01] SHyx0rmZ commented on #1267
Concourse only ever uses the most recent version when running jobs. To get it to use the remaining versions, too, you have to specify `version: every` on your `get` like so:
[code]

[2017-06-08 06:51] kei-yamazaki commented on #1267
@SHyx0rmZ Thank you!
I completely forgot about the existence of `version: every`.
The problem was solved.
Close issues.

[2017-06-08 06:51] #1267 closed

[2017-06-08 06:58] SHyx0rmZ commented on #1267
You're welcome. Happens to all of us once in a while :wink:

[2017-06-08 12:32] duncanatkinson commented on #403
I have hit this issue trying to use [gradle image](https://hub.docker.com/_/gradle/) to build a gradle project, can work around it by specifying root, but I don't like being forced to do so. I think this is a bug, you have different behaviour when running gradle via docker
`docker run --rm -v "$PWD":/project -w /project --name gradle gradle:alpine gradle <gradle-task>`
This is not consistent.

[2017-06-08 13:29] tscolari opened #1268 "Feature Request: Paused jobs not to hold `serial_groups` lock"
# Feature Request

## What challenge are you facing?

We have many jobs sharing the same `serial_groups` lock and triggered by the same resource. On each job we are testing a segment of the product, and eventually we need to focus on one of it. The problem is that even if the other jobs are paused (blue) they pulse in graey and hold other jobs from the serial group (that are not paused) from runni

[2017-06-08 13:39] clarafu commented on #1268
Same as https://github.com/concourse/concourse/issues/520

[2017-06-08 13:39] #1268 closed

[2017-06-08 13:42] vito commented on #1191
Just chiming in to say a VM-backed Garden backend wouldn't really be "fake". 😛 I think it makes a lot of sense, but we're unlikely to do it ourselves, so I'm going to close this.

If you do tackle this yourself I'd be happy to answer questions about it and maybe even help out - I'll be in Slack!

[2017-06-08 13:42] #1191 closed

[2017-06-08 13:43] xtreme-gavin-enns commented on #765
I haven't seen this since then, but then I'm not on a project with a CI monitor at the moment.

[2017-06-08 13:47] clarafu commented on #1175
I think this might be a regression, and maybe a nasty one since the build errors as a result. I'm not sure if we want to *always* force-check or only the first time. It might be extra overhead to using custom resource types if we do it all the time.

[2017-06-08 13:58] vito opened #1269 "Containers get destroyed while hijacked"
# Bug Report

I've noticed that when hijacked into a container, it'll get destroyed even while I'm actively doing things in it. I checked the logs and it looked like Garden's grace-time reaper just straight up killed it. Not our garbage collector, which handles hijacked containers by setting a GraceTime and never touching it again until it disappears from Garden on its own accord.

Seems to be a G

[2017-06-08 13:58] vito commented on #1160
Opened https://github.com/concourse/concourse/issues/1269 to capture the eager container destroying.

[2017-06-08 14:00] vito commented on #1144
We'll probably sooner stop providing Vagrant boxes in favor of a `bosh create-env` workflow, which will allow you to pick the IP anyway.

[2017-06-08 14:00] #1144 closed

[2017-06-08 14:06] Lindsayauchin commented on #776
Design for error state on authentication failure. ![Login_error_01.png](https://codetreeusercontent.s3.amazonaws.com/uploads/3a7173ae-08de-43c7-96e6-1f611d9bf853/Login_error_01.png)

[2017-06-08 14:15] marco-m commented on #1191
I have to agree it would be a nice project to learn golang (and Garden and friends) for me!

[2017-06-08 14:31] pivotal-topher-bullock commented on #1145
Acceptance:
- `docker-compose` with the latest `concourse/concourse-rc` image
- target the composed atc, set a pipeline, run a task, hijack the task container
- from the hijacked container, `apt-get install dnsutils` then `nslookup concoursedocker_concourse-db_1`
- Note that the dns server used is the ip of the host container, and it resolves the ip of the db container :
[code]

[2017-06-08 14:31] #1145 closed

[2017-06-08 14:33] pivotal-topher-bullock commented on #1226
Acceptance:
- atc doesn't have a package named `dbng`
- looks like some refactoring happened too :+1:
- also the tests pass still .. LGTM

[2017-06-08 14:33] #1226 closed

[2017-06-08 14:44] pivotal-topher-bullock commented on #1100
Acceptance:
- chmod -w /usr/local/bin
- fly -t ci sync
  version 3.1.2 already matches; skipping
- fly -t wings sync
  update failed:: open /usr/local/bin/.fly.new: permission denied

Update failed prior to downloading the new fly version.

[2017-06-08 14:44] #1100 closed

[2017-06-08 15:02] vito commented on #1218
Looking into this a bit, here are our most expensive queries:

[code]

I don't think we have a smoking gun, but at least looking at this, here's what we found:

The first query is the build collector, which was introduced in 3.1.0. The second query I think is the same as it's always been, and there may be optimizations we can do there. The third query is the resource cache use collector, which is

[2017-06-08 15:03] vito commented on #1218
@cnelson While we're at it, would you mind running that same query we did to find our slowest queries? It's a bit easier for us to process. (Thanks for the dump from before though!)

[2017-06-08 15:26] rogeruiz commented on #1269
Thanks. This just bit us again today. 👍🏽

[2017-06-08 15:30] pivotal-topher-bullock commented on #1242
Acceptance:
LGTM
👌  👏   :1st_place_medal:

[2017-06-08 15:31] #1242 closed

[2017-06-08 15:35] spgreenberg commented on #1194
We are seeing this on multiple 3.1.1 vagrant installs as well.

[2017-06-08 15:36] ebabani commented on #1199
Acceptance:
- `./dev/start atc worker tsa`
- Observe logs for `11:33:20    atc | creating database...` consistently
- in another session `./dev/start db` atc connects to the database once its up :+1:

[2017-06-08 15:38] #1199 closed

[2017-06-08 15:43] elgohr opened #1270 "Question: Use of the favicon"
Hi there!

Due to the need of having an eye on the pipeline, I developed a notifier which runs as a local application.
The notifier (https://github.com/elgohr/Concourse-Notifier) shows notifications in case of events on the pipeline.
In this way I would like to ask whether it would be ok to use the Concourse favicon as the logo on the system tray?

[2017-06-08 15:45] cnelson commented on #1218
@vito.  Here you go https://gist.github.com/cnelson/dbe3e8cc419bbc98fa70a1559a7d55b1

[2017-06-08 16:10] mvdkleijn commented on #1255
Experiencing the same issue here. We:

- Recreated the workers
- Restarted ATC

Our info:

- Concourse version: 3.1.1
- Deployment type: BOSH
- Infrastructure/IaaS: Openstack
- Did this used to work? Yes

When I run `fly -t admin containers`, I actually do see the "unknown handle" listed but its for pipeline, job, etc "none".

After manually triggering the build, the build still fails with the sam

[2017-06-08 17:50] hfinucane commented on #1265
Yeah, I'm using [this resource](https://github.com/aequitas/concourse-http-api-resource/tree/master/assets) with no /opt/resource/check. It should be printing out at least `[]`, right?

[2017-06-08 18:26] blakebarnett commented on #1194
Seeing this with 3.1.1 on kubernetes 1.6.4 also.

[2017-06-08 18:31] charlieoleary commented on #1172
@vito I don't know if misunderstanding, but I definitely don't want separate pipelines for each PR. I have a full pipeline that runs my pull requests, and everything isn't crammed into a single job. Can you expand more or include some visuals / arch diagrams on what you're proposing here?

[2017-06-08 20:30] chendrix commented on #1265
Yep. I'm going to close this. Please ask that resource author to fix their resource.

[2017-06-08 20:30] #1265 closed

[2017-06-08 20:54] vito commented on #1172
@charlieoleary In today's model that's most certainly the case. Pipelines are managed manually and configuring one for each pull request would be a pain. This issue is to explore alternative approaches to satisfy models like pull requests, feature branches, and release branches. This may mean having a pipeline-that-generates-pipelines as a Concourse abstraction, or some other primitive (or just UX

[2017-06-08 21:03] clarafu commented on #1218
Thanks! Those top two are very slow indeed. Your first query was the same as ours, and judging by the second-slowest query there, it seems like our index on `builds (status)` should help a lot.

[2017-06-08 21:20] cnelson commented on #1218
How many rows are in the builds / jobs tables where your stats are from?  I'm curious why our queries are so much slower than yours.  FWIW, here's our counts:

[code]

[2017-06-08 23:37] hfinucane commented on #1265
Wait, really? Shouldn't a broken resource generate a visible error, not a forever spinner and a blank page?

[2017-06-09 00:14] andrewedstrom opened #1271 "Write Documentation for Anatomy"
# Feature Request

## What challenge are you facing?
We have observed that users often request small docs changes, but are resistant to making the changes themselves and then submitting a pull request.

One possible explanation for this resistance is that we use [anatomy](https://github.com/vito/anatomy) in our docs. Anatomy is a documentation system which is itself undocumented. As a result, if O

[2017-06-09 01:02] emcniece commented on #1178
This _did_ get merged, right? I started experiencing this problem after a 3.0.1 upgrade, now I'm at 3.1.1 and it's still happening :(

[2017-06-09 02:15] blt commented on #1194
To further what @blakebarnett has said, we're seeing this on a fresh installation of 3.1.1 with only one pipeline, which looks like so:

[code]

The project dockerfile is

[code]

We thought that maybe the lack of privilege was the problem but sprinkling `privileged: true` into the resources brought out errors that look like `failed-to-find-created-volume-in-baggageclaim`. Unmodified pipelines wil

[2017-06-09 02:23] chendrix commented on #1178
There's a regression. We're aware of it. It's highly prioritized.

[2017-06-09 02:43] vito commented on #1218
Not as many, but it doesn't seem anywhere near proportional to how much slower yours were though:

[code]

...considering the first query runs once on a fixed interval. But who knows.

To be honest I've seen wildly varying performance on RDS, especially if you're on a lower tier. Our Postgres is the one from our BOSH release.

In any case, deploying our index changes drastically reduced CPU usage

[2017-06-09 07:18] paolostivanin opened #1272 "db node on openstack shows high load (lots of select statements)"
Hi,
we are using Concourse 3.1.1 on openstack since it came out.Yesterday, we saw that loading the pipeline UI was super slow (like 3/4 minutes). Today the problem persists. On aws we don't have this kind of issue.
Looking at the vms I saw that the db/0 node it's showing a high load even if **the pipeline is stopped and doing nothing**:

[code]

I ssh'ed into the db node and looked into the psql l

[2017-06-09 09:16] danrspencer opened #1273 "Concourse should always try and parse image_resource/source/tag as a string"
Hi there!

Please pick the appropriate section (Feature Request or Bug Report) and delete the rest of this. Note that "missing support for X" is a feature request, not a bug!

# Feature Request

## What challenge are you facing?

While updating one of our tasks we changed to the latest Node image (8.0.0), The guy updating the task was new to Concourse and entered:

[code]

Assuming this was valid

[2017-06-09 12:24] philicious commented on #1194
now also happened for me with 3.1.1

@mbjelac where is that worker-state folder located? couldnt find any folder with that name

[2017-06-09 12:56] mvdkleijn commented on #1255
@vito Any ideas? :smile:

[2017-06-09 13:34] mbjelac commented on #1194
Heh, like I said, I use Docker for all this, maybe its a different setup.

Here are the root folders of my Concourse worker container:

[code]

If I remember correctly, when I was troubleshooting, I found the last folder's name most interesting so I tried to fix the problem by deleting its contents. :) And it worked.

[2017-06-09 13:39] clarafu opened #1274 "Worker object being partially instantiated"
The worker object is being partially instantiated in a few places in the code (in db/volume_factory.go and db/worker_base_resource_type.go). This breaks the abstraction of only having the worker being constructed in the worker factory.

[2017-06-09 13:53] philicious commented on #1194
ah ok. according to the dockerfile, the worker-state/ folder is the workdir and in vagrant the worker is started with `--work-dir=/tmp/concourse` , so I will try deleting that folder next time it happens

[2017-06-09 14:16] engrun commented on #1236
I'm also interested in this topic. Can concourse be installed on AWS **without** BOSH? We're not using BOSH at the moment (and not planning to), and I'm rather new to AWS, so it seems a bit of a too steep learning curve just to install a CI/CD server.
I like the concepts of Concourse and would like to try it out, however, I can't find any official docs on how to install to cloud providers without

[2017-06-09 15:02] clarafu commented on #1274
The partially instantiated worker objects were being saved on the volume objects (creating, created, and destroying volumes) but mostly only the worker name was used from it. We decided to save only the worker name on those volume objects and to FindWorker to get the baggageclaim url and garden address whenever the callers need it.

[2017-06-09 15:37] charlieoleary commented on #1172
@vito Thanks for the more in-depth explanation. We have enjoyed the single pipeline model because it's easy to find everything we need about builds, but with how you're describing it this does sound like it could be a better solution. It almost sounds like this this solution you could truly store pipeline info in a repo similar to a JenkinsFile, which currently isn't really possible. If each build

[2017-06-09 16:25] jadekler opened #1275 "Colour blind mode"
Hello! It'd be fantastic if there were some UI-magic that helped with colour-blindness 😃

[2017-06-09 16:44] pivotal-topher-bullock commented on #1236
@engrun
**TL;DR:** BOSH is not explicitly required to run Concourse on AWS ( or any IaaS ). If you just want to get the Concourse Web UI and a Worker up on AWS, I'd suggest running the [binaries](http://concourse.ci/binaries.html) on EC2 instances (and optionally work your way up to EBS); one instance running `concourse web` and another (or several others) running `concourse worker`.

---

You can

[2017-06-09 17:34] chendrix commented on #1273
This will be fixed in the next version by docker-image-resource#89

Until then you can just quote the number 8.

[2017-06-09 17:34] #1273 closed

[2017-06-09 17:50] andrewedstrom commented on #1184
As of today we split out get/put/task steps into actions.

Actions are being constructed in GardenFactory which takes the plan and constructs the set of actions and passes them to ActionsStep along with BuildEventsDelegate. ActionsStep will call:
* Initializing at the beginning of the step
* ActionCompleted after each action
* Failed if any action fails
* Finished at the end after all actions succ

[2017-06-09 17:50] andrewedstrom commented on #1184
We also want to rethink the delegates interface to maybe always pass the action/step that's being acted upon, and respond accordingly.

[2017-06-09 23:32] mariash commented on #1027
@DRuggeri thanks for your input. I like the idea of passing certificates as a file to some specified location and maybe providing a command to run to install them. Please see my suggestion here: https://github.com/cloudfoundry/guardian/issues/83#issuecomment-307523651

[2017-06-10 14:08] vito commented on #1027
@DRuggeri Agreed. I appreciate that you called out that resource authors shouldn't be burdened with having to deal with the certs being mounted in different places. That was one of the the trickiest parts of this whole ordeal. I'm not sure what you mean by your first proposal though (the option to mind `/etc/ssl/certs` or some other directory) - where would that option live such that resource auth

[2017-06-10 14:10] vito commented on #534
@ljfranklin It's currently scheduled for v3.3.0, but I'd place a conservative estimate as a month, as we're taking things a bit slower now and doing more refactoring now that Life and a couple big features have shipped.

Being scheduled for v3.3.0 is a big improvement over its priority before, at least.

[2017-06-10 14:16] vito commented on #1255
@mvdkleijn @gerhard Next time this happens could you collect all the logs mentioning that handle and throw them in a gist? It's hard to make a call on this without knowing what the container was for.

I suspect it may be related to custom resource types.

[2017-06-10 14:19] vito opened #1277 "Don't run a "check" for a custom resource type's image for 'get' and 'put' containers"
This falls down the same code path as `image_resource`, but what it should really do is just use the version that we've already detected for the resource type. This would make the resource type scanner the source of truth, and remove the need for a `check` container when using custom resource types.

[2017-06-10 14:23] vito commented on #1194
We should probably handle this case by just creating the volume again. It's weird for a volume to disappear after we've created it, and that may point to something wrong in your deployment automation, but we can at least be durable to it.

[2017-06-11 14:21] drahnr opened #1278 "Document v1 API"
# Feature Request

## What challenge are you facing?

I am facing having to read go-lang code which is a language  Iam not very familiar with to understand how to connect to golang in a pragmatic manor.

## A Modest Proposal

Document the methods under

https://github.com/concourse/atc/blob/master/routes.go

and write a brief example using curl

[2017-06-12 09:01] schuth commented on #1230
I am facing the same issue when runninh Concourse: 3.1.1 running on Kubernetes. All resources fail.

[2017-06-12 10:17] elgohr commented on #1278
Just a tip, have a look at the API calls done by the browser. This doesn't replace a real documentation but helped me to reverse it. It's not that complicated.

[2017-06-12 12:39] superbeeny commented on #1230
Oddly I'm only seeing the cf-resource fail with the `failed to create volume`, a few retries will usually get it to work. I have the Baggage claim logs

[baggageclaim.zip](https://github.com/concourse/concourse/files/1068139/baggageclaim.zip)

[2017-06-12 14:23] vito commented on #1218
Haha, found some more low hanging fruit: https://github.com/concourse/atc/commit/8f489e55a7a4c06a66b73f39f62e1fa3e7fd94b8

That query was basically doing an `UPDATE` on the entire `builds` table every time it ran.

[2017-06-12 14:44] vito commented on #1194
To anyone running in to this in Vagrant, could you provide a bit more info? For example, does this happen right out of the box, or is your host machine or the VM being rebooted/put to sleep, etc. etc.?

[2017-06-12 14:52] vito commented on #1247
D'oh. This can't be done as initially planned because `resource_config_check_sessions` references a `resource_config_id`, which had to exist before the check session.

The real fix for this may actually be #1277, so we never do a check for the resource's type. That way we won't end up creating duplicate rows for one resource, and the orphaned resource config use collector will be correct in all it

[2017-06-12 15:40] philicious commented on #1194
@vito so I've seen this couple times now and it just happens suddenly. UI says "bla turbulence" and concourse is dead. Also I cannot `vagrant ssh`anymore. I then `vagrant reload` (reboot) the VM and concourse is up again but has this error with baggage-claim.
I couldnt get it back to a working state so I always `vagrant destroy` `vagrant up` a new VM.
fortunately setting up the pipelines is as eas

[2017-06-12 15:46] clarafu commented on #1194
We found that the volumes all disappear when vagrant is rebooted because work-dir is pointing to a tmp directory in concourse-lite. We changed it so it does not point to tmp here https://github.com/concourse/concourse-lite/commit/6e4600716726fd601a0e28356d6053fd1a6a08f6. But this only solves the problem for the vagrant box users getting the "failed to find created volume in baggageclaim".

For eve

[2017-06-12 16:11] spgreenberg commented on #1194
@vito It happened multiple times during a class.  I believe each time was
related to a reboot/sleep/crash.

On Mon, Jun 12, 2017 at 8:44 AM, Alex Suraci <notifications@github.com>
wrote:

[2017-06-12 17:39] tjvman opened #1279 "`--inputs-from` doesn't work when most recent build failed"
When the most recent build of a given task failed, doing a `fly execute --inputs-from my-pipeline/my-task` will fail with `error: missing required input <foo>`

* Concourse version: 2.5.1
* Deployment type (BOSH/Docker/binary): Bosh
* Infrastructure/IaaS: AWS

[2017-06-12 18:49] #1248 closed

[2017-06-12 19:16] vito commented on #1247
Actually nevermind, it's doable so long as we change the order of creation slightly:

* create resource config
* create resource config check session referencing it (`ON DELETE RESTRICT`)
* create resource config use joining the two

Doing #1277 first still makes sense though as that has a user-facing win (fewer containers).

[2017-06-12 20:37] pivotal-topher-bullock commented on #471
@philwebb as of .. **fiddles with the milestone a bit**.. 3.0.0 we're using GitHub milestones more actively now.

[2017-06-12 20:37] #471 closed

[2017-06-12 20:39] robertjsullivan commented on #847
I'm seeing this on 3.1.1 running on GCP with the bosh concourse deployment
[code]
almost all of the containers sticking around are  of type `check`

a sampling:
[code]

[2017-06-12 23:26] mariash opened #1280 "Allow special characters in database password"
When specifying a password for db in concourse bosh deployment manifest with special characters like `%`, ATC will fail to start up and create that user.

Example of bosh deployment manifest snippet:
[code]

There is no escaping happening here: https://github.com/concourse/concourse/blob/master/jobs/postgresql/templates/postgresql_ctl.erb#L69

[2017-06-12 23:55] mariash opened #1281 "Split task/get/put into actions"
Split out from #1184

What is step? Step is something you see in your pipeline separated by individual header.

Each step can actually consist of several actions. For example, task step can run check action for image resource, get action for image resource and then task action. Splitting steps into actions will allow us to get better visibility into what actions are included in each step. Remove r

[2017-06-13 00:03] mariash opened #1282 "Refactor resource package"
This issue was split off from #1184

- [ ] rethink the resource terminology.

Currently we have a lot of different definitions for resource: atc.Resource, resource.Resource, dbng.Resource, dbng.ResourceUser, ResourceInstance, ResourceOptions, ResourceFetcher along with passing around resourceType, resourceSource, params, version, resource types that we use to determine if resource is custom resour

[2017-06-13 00:11] mariash opened #1283 "Refactor worker package"
Split out from #1184

- [ ] worker pool should be refactored to explicitly behave as worker placement. It accepts execution plan, picks the best worker, and delegates execution to it.

- [ ] clean up CreateOrFindContainerFor(*) methods to just create or find container based on input and not separate methods for each type of container.

- [ ] With #1281 remove logic around what image to fetch. Work

[2017-06-13 00:12] mariash commented on #1184
This issue has gotten pretty big so we are going to split it into some subissues.

1) #1281 which covers the breaking up of the task/get/put steps into actions, and refactoring of the build delegate
2) #1282 for future refactoring of the Resource package
3) #1283 for worker package refactoring

[2017-06-13 00:24] mariash commented on #1163
In the new theme of our refactoring of get/put/task steps into actions that can be an action, e.g. GetVolumeSizeAction that we run as part of those steps.

[2017-06-13 00:29] mariash commented on #1011
I think we should distinguish between ATC failing to run migrations because of some data error and failing to connect to DB. In case if we fail to connect to DB we should not fail ATC, ATC should keep on retrying to connect. In case if migrations fail due to some database current state it ATC should fail to start and BOSH deploy should fail.

[2017-06-13 00:32] mariash commented on #1216
@krishicks is there anything else you can think of besides worker name to include in output?

[2017-06-13 00:33] mariash commented on #1216
including UX area to discuss where to best put this information. It can be first build event for example. Like `running on worker-name`.

[2017-06-13 00:36] mariash commented on #1215
@ascherbaum-pivotal is that not going to be racy? to run check before trying to delete?

[2017-06-13 03:13] krishicks commented on #1216
The main thing for me is the worker name.

[2017-06-13 09:46] aahlenst opened #1284 "Limit resource usage and runtime of tasks for a specific team"
# Feature Request

## What challenge are you facing?

I'm considering moving a number of teams from dedicated Jenkins instances (each team has its own VM with Jenkins running on it) onto Concourse. From experience I know that sometimes tasks aren't well behaving (build steps are stuck in an infinite loop, …) or the jobs of some teams are too complex and therefore consume too many or even all the a

[2017-06-13 15:17] zaa commented on #1230
Unfortunately we too experience the issue with Concourse 3.1.1 on AWS (running on Kubernetes using the helm chart). OS: Debian Jessie. Baggageclaim driver: overlay.

The problem can be reproduced with help of the following pipeline:

[code]

Concourse successfully pulls the docker image, but stumbles on running the task in non-privileged container:

[code]

If I set the task's privileged attribute

[2017-06-13 15:19] clarafu commented on #545
The evaluating of the template variables from "load-from-file" was going to happen on the server side but then we realized that the diff that happens in fly between the new and existing config would need to have an interpreted new config. So now, the evaluating will happen in fly and then send the yaml marshalled config to the atc.

We also decided to keep the evaluating of the "{{}}" in order to

[2017-06-13 15:54] dmlemos commented on #1218
@vito Our results https://gist.github.com/dmlemos/28d1e80425404f078979ce8fc08102e6

Noticed the usage increased even more after setting up the encryption key with the new release.
Let me know if you want me to setup it up without encryption key for comparison.

[2017-06-13 18:57] #1274 closed

[2017-06-13 19:15] krishicks commented on #945
Copy-pasting my response to concourse/time-resource#17:

This is the scenario:

I have a job which triggers on new versions of `resource-A`. I only want that job to run when:

1. A **new** version of `resource-A` that **has not passed the job** has been discovered by Concourse
2. The current time is within the allowed time window

The problem is that with a single job that consumes both of these r

[2017-06-13 19:17] krishicks commented on #945
I'd like to add another use-case for where I'd find the ability to prevent a job from running unless a new version of a resource is present:

I have a job `test` which has a `trigger: true` constraint on a resource. I also have a downstream job, `create-rc`, that has no triggers. I'd like to be able to trigger `create-rc` and have it be pending until a new version of a particular resource is prese

[2017-06-13 21:09] ese opened #1285 "Worker processes stucked in D state"
# Bug Report

* Concourse version: 3.0.1
* Deployment type (BOSH/Docker/binary): Docker
* Infrastructure/IaaS: Kubernetes, AWS, c4.2xlarge
Linux  4.4.65-k8s  x86_64 GNU/Linux

This happen in our workers radomly, at least I am not able to find what is leading to this situation. So at some point our workers and btrfs stuff get stucked in D state and stop to works correctly. The load of the instance

[2017-06-13 21:18] vito commented on #1285
This is a btrfs kernel bug. It can be fixed by switching to the `overlay` driver, available in 3.1.0+.

[2017-06-13 21:18] #1285 closed

[2017-06-13 21:33] dmlemos commented on #1272
Seems related to #1218

[2017-06-13 21:57] clarafu commented on #291
Doing some investigation, we are thinking of having the token and server URL for whichever credential manager be passed as a flag and have it be global. In terms of vault, the path to the secrets will be team/pipeline.

We are also thinking of limiting the things that you can populate from a credential manager to (probably) resource and resource type source and task params at least for the first p

[2017-06-13 22:02] vito commented on #1218
The `DELETE FROM resource_cache_uses rcu USING builds b WHERE ...` query is pretty gnarly. I think it's time to significantly revamp the schema around image resource versions. There's only so much indexes can do, there:

[code]

This query takes ~30s on our largest instance.

I think we should just kill `image_resource_versions` and have some sort of table that directly references `resource_caches

[2017-06-14 06:21] paolostivanin commented on #1272
Concourse version: 3.1.1
Deployment type: BOSH
IaaS: Openstck; 1 web instance, 6 worker instances;
Postgres: the one provided by Concourse (I guess v9.3.x?)

[2017-06-14 09:08] kelvich commented on #802
+1

[2017-06-14 13:39] clarafu commented on #291
I have a question for anyone following this issue, we are currently thinking of having the credentials plugged in when a build plan is constructed. This means that if you have a build that will run an hour long task and you have secrets in vault that rotates every 30 minutes, the secrets that we pulled (when your build started) will be old. We're wondering if that will be a problem, or if this is

[2017-06-14 13:52] jchesterpivotal commented on #291
My gut sense is to ignore this problem for the first release of credential support and come back to it later. At that time you'll probably have more data points on what exact pain is being felt and what shape users would prefer relief to take.

[2017-06-14 13:55] farcaller commented on #291
Safe to ignore for initial release. I'd say that if credentials are needed further in pipeline, they should be pulled only as the relevant step is reached, though.

[2017-06-14 15:16] robdimsdale commented on #1225
@vito (and @chendrix etc) it sounds like there may be an issue with configuring pipelines with the resource that was introduced between 2.7.1 and 3.1.1 - see https://github.com/robdimsdale/concourse-pipeline-resource/issues/15

any ideas?

[2017-06-14 16:41] schubert commented on #291
+1 Agreed. I think the 80/20 will be solved with the first implementation and folks where they need credentials much later in the process can either break it up into multiple tasks or deal with their own particular problems some other way.

Just having this first pass implementation would make a huge reduction in risks to secrets to make it worth everyone's time.

[2017-06-14 16:46] Rukenshia commented on #925
Also a repo on bitbucket.org (though that probably doesn't really matter), I've tried using the suggested options (and the suggested values in there) you mentioned @mariash but that doesn't change anything for me.

[2017-06-14 18:17] GooseYArd commented on #291
I don't know the architecture of Concourse well enough to make a really meaningful statement, but I can tell you that the reason I'm following this issue is that, in order to consider using Concourse, Id need to ensure that secrets obtained via the plugin mechanism were exposed only to the environment where they're being used. For example, in my case I need a client cert in order to access the doc

[2017-06-14 18:53] vito commented on #1264
What even is it going to look for in those blobs? They're all rootfses built in-house, containing either binaries or packaged code distributed verbatim. What happens if we *don't* do this? How exactly does the security scanner tie those to any license? Does it just look in the entire image for license files?

I ask because the only reason this would be beneficial to us is if we can put the ref of

[2017-06-14 18:54] vito commented on #1251
I'm not confident we'll be able to reproduce this with the information provided. Next time it happens could you look for logs in the worker around the same time?

[2017-06-14 19:02] vito commented on #1194
I'm going to close this for now as we've fixed the Vagrant box.

For everyone else, please make sure that your worker name correctly matches the lifecycle of the worker's VM/disk state/etc. This means that when a worker goes away and loses all of its data, the worker should be retired in Concourse or come back under a new name. This has been the case ever since [v2.6.0](http://concourse.ci/downloa

[2017-06-14 19:02] #1194 closed

[2017-06-14 19:06] #1243 closed

[2017-06-14 19:07] vito commented on #1247
We ended up punting on the rest of this now that #1277 is done. Either path forward is kind of tricky. Let's take this slower and maybe rethink the `*_uses` tables entirely.

[2017-06-14 19:07] #1247 closed

[2017-06-14 19:07] #1277 closed

[2017-06-14 19:07] #1252 closed

[2017-06-14 19:25] vito commented on #291
@GooseYArd It will have to go over the wire, but it'll never touch disk either in ATC or Postgres, and in most cases not even in the receiving container, as we communicate to resources via stdin. Some write to `/tmp` in their container, which is a problem that should be addressed separately.

Tracking where the credential flows over the wire depends on how your workers are registered with the TSA.

[2017-06-14 19:32] dmlemos commented on #1238
We have this problem when using the `jtarchie/pull-request` resource on a darwin worker. Some of the repositories are big and it is increasing the build time considerably and unnecessarily!

[2017-06-14 20:43] GooseYArd commented on #291
awesome, thanks for the explanation and confirmation @vito. I think this'll work for me!

[2017-06-14 22:30] mariash commented on #1175
yeah, maybe when build is triggered we should run checks only for custom resource types that don't have version.

[2017-06-14 23:46] mariash commented on #419
this was solved with `life`. We can now see the container identifier if volume belongs to container.

[code]

[2017-06-14 23:47] #419 closed

[2017-06-15 02:13] zambien opened #1286 "Missing files in concourse worker running docker-image. Files exist in non-concourse docker run."
# Bug Report

Using the following Dockerfile:

[code]

Files are missing when this is run on a concourse worker.  For example:

[code]

Note there are 4 files there.  There are some files missing.

If I run the docker image in docker on the EC2 instance or on my local VM all the files are there:

[code]

The permissions are the same so this seems like it must be an issue with the filesystem.  I ha

[2017-06-15 15:00] xtreme-gavin-enns commented on #1264
@Manifaust or @ryanmattcollins could chime in for more specifics, but if I understand correctly it's mostly a problem of knowing when to scan the source repos of dependencies so that legal can review any license changes. Like, they detect the change in the version of the blob and then scan the source. This works best when we can link the blob name to a git ref via a regex, usually by version numbe

[2017-06-15 15:14] krishicks opened #1287 "Add ability to re-run a job given the same config"
Sometimes I want to re-run a job in a pipeline that is configured to pull the latest version of its resources. But when I re-run it, I don't want it to pull the latest; I want to re-run the job as it ran before. I want to run the job with the same input versions it had in some prior run.

Presently to do this I have to check the versions of each of the resources that a particular run of a job ran

[2017-06-15 15:17] krishicks opened #1288 "Add "solo" button to resource versions"
Sometimes I want to target a specific version of a resource when running a pipeline, but I don't want to have to re-set the pipeline, modifying the `get` of that resource to have a specific version. It's a temporary thing, and I don't want to block other users of the pipeline (which I also cannot do other than verbally), nor do I want to have to spin up a new pipeline just for this purpose; I want

[2017-06-15 16:57] ggeorgiev opened #1289 "Resource cache should be based on resource source and get params"
# Bug Report

When using the same resource with different get parameters which version will be cached is at random.

In general get parameters might have a serious effect on the obtained resource - for example, `disable_git_lfs` for git-resource could completely exclude a set of files being fetched.

The cache should be tracked based on combination of the source and the get params, not only on the

[2017-06-15 17:01] hamid-elaosta commented on #1251
This seems like the same issue I'm having also and just reported in Slack. My single worker on the same machine breaks, stopping and re-upping so I get a new worker seems to fix my builds temporarily and I can prune the old one.

https://concourseci.slack.com/archives/C07RY25QF/p1497544260712894

[2017-06-15 17:20] nebhale opened #1290 "Pipelines with non-Concourse keys newly rejected"
In Concourse 3.1.1, the following manifest was parsed and [rendered properly](https://java-experience.ci.springapps.io/teams/strepsirrhini-army/pipelines/chaos-lemur):

[code]

In 3.2.0 this no longer works, failing with the following error:

[code]

It would appear the new implementation validates that there are no keys in pipeline definitions that aren't part of the official declaration.  Howeve

[2017-06-15 18:19] cnelson commented on #1218
So far `3.2.0` is looking pretty good:

<img width="323" alt="screen shot 2017-06-15 at 11 13 30" src="https://user-images.githubusercontent.com/604163/27195659-7498c7de-51bc-11e7-985a-e6a01528f348.png">

Will continue to monitor it for a couple of days and close this out if it stays happy.

Thanks for looking into this!

[2017-06-15 18:58] vito commented on #1290
Yep, looks like we unintentionally changed this. That validation was always the intended behavior but it looks like it got lost in a refactor to having `fly` submit an unmarshalled `atc.Config` rather than the raw payload. So the extra keys would just get dropped client-side and never hit the ATC's server-side validation.

I'll mark this as a bug since it regressed even though technically this was

[2017-06-15 19:00] vito commented on #1289
It already is. We also have explicit tests covering this.

https://github.com/concourse/atc/blob/master/db/resource_cache.go#L29

https://github.com/concourse/testflight/commit/a83993700eba65c322b3e0905c6915a1d413bee3

[2017-06-15 19:00] #1289 closed

[2017-06-15 19:11] vito commented on #1218
@cnelson Great! Yeah do let me know how it goes. We use Google Cloud SQL
for our largest instance and the metrics have never been very reliable. RDS
seems better there.

On Thu, Jun 15, 2017, 2:40 PM Chris Nelson <notifications@github.com> wrote:

[2017-06-15 19:47] ggeorgiev commented on #1289
great. thanks, I was left with the impression that it isn't in the chat. sorry about that.

[2017-06-15 20:28] xtreme-gavin-enns opened #1291 "OId-style templated json string being interpreted as invalid yaml"
# Bug Report

Ran into trouble upgrading concourse so we deleted and redeployed. When attempting to recreate our pipeline (scripted, so high degree of confidence that nothing has changed) we get this error:

[code]

Maybe we were doing something wrong all along, but even so they don't appear to "behave exactly as they did before".

It's not clear to me what file it's complaining about, as line 2 o

[2017-06-15 20:32] xtreme-gavin-enns commented on #1291
Fixed by piping the gcp_credentials.json through jq as per suggestion.

Now we get the unknown/extra keys error from a yaml anchor at the top of the pipeline :)

[2017-06-15 20:40] vito commented on #1289
no worries!

[2017-06-15 21:22] xtreme-gavin-enns opened #1292 "set-pipeline -v mangles multiline strings"
# Bug Report

in 3.2.0 running `fly set-pipeline` with `  -v "GIT_BOT_KEY=$(lpass show --notes REDACTED/fake_key)"` turns this:
[code]
into this:
[code]
which makes the git resource think it's got a passphrase, but it's probably just failing to understand it.

The following can also be handy:

* Concourse version: 3.2.0
* Deployment type (BOSH/Docker/binary): bosh create-env
* Infrastructure/IaaS:

[2017-06-15 21:33] xtreme-gavin-enns commented on #1292
Workaround on Mac:
[code]

[2017-06-15 21:35] xtreme-gavin-enns commented on #1291
Workaround:

[code]

[2017-06-15 22:18] kyleshoaf opened #1293 "Updating to 3.2.0 results in unmarshal errors when setting pipeline on previously working yaml"
# Bug Report

After upgrading to the latest concourse version I am unable to set my pipeline. Unmarshaling errors are thrown each time I attempt to set-pipeline. My yaml has not changed since the update.  I have confirmed that the same yaml still works with previous versions.

my set-pipeline:
fly -t lite set-pipeline -p main -c pipeline-dev-ci.yml --load-vars-from credentials.yml

error: yaml: un

[2017-06-15 23:00] vito commented on #1293
dupe of #1291

[2017-06-15 23:00] #1293 closed

[2017-06-16 00:34] vito commented on #1272
Gonna close this to consolidate into #1218. Try out v3.2.0 which we shipped today; it should help a lot.

[2017-06-16 00:34] #1272 closed

[2017-06-16 00:49] emcniece commented on #1178
Wow, @chendrix - I just fixed my pipeline after doing an upgrade to 3.2.0. Turns out I didn't have any issues with resources - just a duplicate `resource_types:` declaration.

[code]

Slack notifications were working fine, but the pull-request and S3 resources were failing with the exact error you shared in the first comment. The dumb, it hurts...

[2017-06-16 00:58] vito commented on #1292
Is this with `{{params}}` or `((params))`?

I'm actually not sure if there's anything we can do about this. It might be getting mangled by the shell before it even gets to us. How does your workaround work?

[2017-06-16 04:41] richarddowner commented on #1170
+1

[2017-06-16 04:51] richarddowner opened #1294 "For Auditing purposes we need to know which logged in / oAuthed user starts/stops a job"
# Feature Request

## For Auditing purposes we need to know which logged in / oAuthed user starts/stops a job

This may be a duplicate, but I could not find another feature request similar to this.

Currently there is no way to know which user starts/stops a job/task. It is really important to know this for auditing purposes.

If the user logs in via github oauth, their login name at least should

[2017-06-16 07:42] kelvich commented on #1255
Also experiencing the same after restart of both tsa and worker (3.1.1).

[code]

On TSA side:
[code]

Also following error exist in logs for all resources:
[code]

[2017-06-16 08:07] knifhen opened #1295 "Docker upgrade"
# Bug Report

Hi,
I was running a small concourse 3.1.1 setup in docker-compose. When I updated my docker-compose config to use version 3.2.0 and applied the new config. The web container fails with the following message. The changes I made was to update to the new docker image concourse/concourse:3.2.0 and ran docker-compose up -d to apply. I'm not sure if that is supposed to work or not. I ended

[2017-06-16 08:07] kelvich commented on #1255
Hm, also found some `dial tcp 127.0.0.1:35201: getsockopt: connection refused` messages, rebooted server and now resources works properly.

[2017-06-16 08:16] pms1969 commented on #1295
I've just hit this too.  On a much larger concourse install.  Both ATC's failing during upgrade.  Previously we were on 3.1.0

[2017-06-16 08:53] dumbbell commented on #1295
Same here.

* Concourse version: 3.1.1 to 3.2.0
* Deployment type: BOSH
* Infrastructure: AWS

@vito suggested to someone else on the Concourse Slack channel to run the following query on the database to checkt the state:
[code]

In my case, I got the following duplicates:
[code]

This user had a stalled worker. He pruned it and the duplicated entry was gone. He could update Concourse to 3.2.0 suc

[2017-06-16 08:57] pms1969 commented on #1295
hmmmmm.  Ok, I've got 1 duplicate after running that select.  I'm currently trying to reload 3.1.0.  But I know prior to the (surprisingly unintended :/ ) upgrade that there were no unpruned workers.  I'll see what happens after I get 3.1.0 back.

[2017-06-16 08:59] pms1969 commented on #1295
OK, looks like I'm completely mullered now.
[code]
guess I'll just have to fix the extra entry.

[2017-06-16 09:00] dumbbell commented on #1295
I couldn't restore 3.1.1 because the database has now version 167 which is incompatible with version 160 expected by Concourse 3.1.1.

[2017-06-16 09:11] pms1969 commented on #1295
ok, so I just chose one of the volumes (lowest id) from the following query and deleted it.
[code]

a more succinct way to get the duplicate values is thru

[code]

[2017-06-16 09:28] dumbbell commented on #1295
I just did remove duplicated entries too and it allowed the upgrade to complete. Not sure if the state is correct though.

[2017-06-16 09:41] vmcpherson commented on #1251
I'm seeing it on Ubuntu 16.04, seems straight forward to reproduce. Setup a docker-compose.yml file as per the documentation (I need a CONCOURSE_GARDEN_DNS_SERVER env. variable), deploy a build which will work, bounce the containers (docker-compose stop, docker-compose-start). Same build fails with 'file not found' error. I see it in 3.2.0 also

[2017-06-16 11:37] kelvich commented on #1292
Same here. Both `{{params}}` or `((params))` now smashes private key.
In 3.1.1 following was working, but right now doesn't:
[code]

[2017-06-16 12:05] kelvich commented on #1292
Seems that interpolation have nothing to do with it. Just putting key directly into pipeline causes the same formatting.

[2017-06-16 12:19] vito commented on #1292
@kelvich what do you mean by directly in the pipeline? Can you paste a snippet?

Make sure you use the yaml multilinear syntax via `|`.

[2017-06-16 12:42] kelvich commented on #1292
@vito my bad, i tried to insert it as a single line string. `|` seems to help.

But to reproduce original problem it is enough to have any pipeline with key and try to evaluate it with set-pipeline. Even in diff it will be visible that some of newlines were translated to spaces.

For example:

pipeline.yml:
[code]

And interpolate that with some random key:
[code]

Checked that on osx and linux wi

[2017-06-16 12:51] JGjorgji commented on #1251
We are having the same issue after reboot.

v3.1.1
Ubuntu 16.04, the official ec2 image

Unlike other commenters builds work completely fine all the time except after rebooting the machine. This is always reproducible.

Worker is on the same host as ATC.

The fix as above seems to be stopping and pruning the worker and then restarting, works fine after that.

Here is an example log message:
`Jun 1

[2017-06-16 13:19] jchanam commented on #1275
Here there's a guide about how to design thinking on color blind people: http://blog.usabilla.com/how-to-design-for-color-blindness/

I'd reccomend using patterns/textures.

[2017-06-16 13:19] iSynaptic commented on #291
It might be useful have Concourse issue tokens associated with Vault policies based on task/resource configuration and then allow the underlying container to use that token to retrieve/renew secrets it's authorized to see via that token.

[2017-06-16 13:27] xtreme-gavin-enns commented on #1292
@vito this was with {{params}}, apologies.

Similar to the other issue I posted yesterday, this was a scripted set-pipeline so we have a high degree of confidence that nothing changed except the concourse upgrade. Also, this should be very easy to reproduce; we could easily stand up a 3.0.1 environment to compare against if that would help.

Our workaround was to escape the newline characters and

[2017-06-16 14:03] norman-abramovitz commented on #291
That is exactly what I have been working on with our vault/concourse integration.   The work is in figuring out how to setup the policies since the various paths you want to protect are documented all over the place.  You want people to read policies but not update them, etc, etc.    With credhub now being released, that subsystem could be evaluated.

[2017-06-16 14:18] vito opened #1296 "Migration adding unique index for worker resource caches does not handle existing dupes"
We should nullify the relation on the dupes before adding the index.

[2017-06-16 14:36] clarafu commented on #291
We have an update! We will retrieve the secrets from vault when the step runs (eg, get for a resource) instead of when the build plan is generated because we realized there would be a few problems if we retrieve them during the build generation. We were going to ignore (for the first pass) the fact some steps might take time, and in that time secrets could be rotated for a subsequent step which wo

[2017-06-16 14:40] vito opened #1297 "Parallelize garbage collection to prevent snowballing of volumes/containers"
Today's GC is very naive: we garbage collect everything serially, in order. Granted, we've optimized the order to catch most things in a single pass, but that's about the only good thing about it.

On our large Wings deployment we observed a very slow-to-recover (possibly never?) situation wherein the ATC was taking so long to garbage collect volumes that the number of containers rose. So the next

[2017-06-16 14:43] cnelson commented on #1294
It would be extremely helpful to capture who paused / unpaused a job / pipeline as well.

[2017-06-16 14:56] jmcarp opened #1298 "Resource versions not being passed"
# Bug Report

We recently noticed that resource versions are never passed from one task to the next for some pipelines. Given two jobs like this:

[code]

The second job does not trigger when `resource1` updates, and doesn't find versions of `resource1` when triggered manually. I haven't been able to replicate this with a simple example pipeline, and I found that creating a new pipeline with exact

[2017-06-16 14:59] vito commented on #1290
Fixed by permitting specifically *toplevel* extra keys, and keeping the validation for anything nested further down (e.g. under `jobs` and `resources`), as that's where 99% of the risk for typos actually is.

This'll be fixed in 3.2.1 which we hope to ship today.

[2017-06-16 15:06] vito commented on #1298
I'm confused by the example. Do you mean "job" rather than "task"?

Can't think of anything that would change how this works. If you find a concrete example, in lieu of a repro, could you post more evidence, e.g. the version history of the resource, and information around which versions have passed through which jobs?

[2017-06-16 15:14] vito commented on #291
Is anyone here already using Vault (or CredHub) for other things? I'm wondering how you'd like Concourse to "plug in" to it. Right now we're just looking up under `/<team>/<pipeline>` as @clarafu said but that may be awfully presumptuous if your Vault is already being used for other things.

Would being able to specify a key path prefix (e.g. `/concourse`) be enough? Or is this all solved by per-t

[2017-06-16 15:15] jmcarp commented on #1298
<img width="899" alt="screen shot 2017-06-16 at 11 08 48 am" src="https://user-images.githubusercontent.com/1633460/27232560-7c45b6ae-5284-11e7-924e-345b09d01713.png">

<img width="1118" alt="screen shot 2017-06-16 at 11 08 59 am" src="https://user-images.githubusercontent.com/1633460/27232571-88232e66-5284-11e7-82a4-8f32ec123609.png">

Here are some pictures: the `common-development` resource is

[2017-06-16 15:38] vito commented on #1292
This will actually be fixed for `{{params}}` as part of the same fix for #1291, however I'm going to go a step further and just have `-v` *always* mean "just take this string value and template it in verbatim", even for `((params))`. To support templating in YAML values with `((params))` (the original goal of the change), I've added a second flag, `-y` (`--yaml-var`).

This feels more consistent /

[2017-06-16 15:40] nebhale commented on #1290
Thanks for the quick turnaround.  Looking forward to it.

[2017-06-16 15:48] jamestoyer commented on #291
@vito At the least I'm happy for the ability to specify a key path prefix, providers like [Hiera Vault](https://github.com/jsok/hiera-vault) do this. However, ideally I'd prefer the ability to pick where the secret comes from, but understand this may make things more difficult

[2017-06-16 15:48] norman-abramovitz commented on #291
When you say 'other things', do you mean other than Cloud Foundry?
 It may be our misuse or abuse of Vault, but a single path would not work.   If you take the philosophy that single copy should exist in Vault, then your path structure could be different.    In this case, we are trying to control access using Vault policies assigned to tokens.

If you take the philosophy that your secrets can be d

[2017-06-16 16:03] Manifaust commented on #1264
A docker base image is challenging problem. But lets just deal with source code for now. If you append a ref to the blob name, and help point us to the repo, then our tooling can know whenever you update your blobs and scan the source code for dependencies (and other stuff).

[2017-06-16 16:08] vito commented on #291
@norman-abramovitz One goal of having the paths be 100% convention is that it leaves the pipeline configs specifying only a key name. This makes the config more portable/reusable as you can specify them with `-v` or `-l` instead of a credential store if you so desire. This portability would be lost if the keys started to reference specific paths or anything too Vault/CredHub-specific.

I do see th

[2017-06-16 16:16] elasticdog commented on #291
We're using Vault pretty extensively, and the namespacing/organization can be tricky, especially until the [symlink support](https://github.com/hashicorp/vault/issues/1284) is figured out upstream. I have some questions:

* I assume this discussion is strictly related to the [generic secrets backend](https://www.vaultproject.io/docs/secrets/generic/index.html)?
* Which authentication backend is be

[2017-06-16 16:45] xoebus commented on #291
@vito The way that the the CredHub BOSH integration handles this is that relative paths are namespaced but absolute paths can reference anything in the credential filesystem (somewhat as you would expect).

[code]

Could Concourse do something similar with teams and pipelines instead of directors and deployments?

[2017-06-16 16:45] norman-abramovitz commented on #291
@vito @elasticdog
We need to live with what exists and do our best, so symlinks do not exist yet.

I have used AppRole, AppID and Token auth backends as well as the generic auth backend in pipelines.

I am working with the model that the token is stored externally.

I am in the midst of trying to decide how to deal with setting up Vault policies, but policies must be assigned when tokens are creat

[2017-06-16 18:16] vito commented on #291
@xoebus Yeah that makes sense. The default behavior is enough to push people towards the path that would support portability, while providing an outlet for people that have a pre-existing path they need to use, in which case portability is likely not a concern.

@elasticdog That should address the missing symlinks concern, but for the rest:

* I don't consider this limited to the generic backend.

[2017-06-16 19:15] elasticdog commented on #291
@vito thanks for the details...sounds good to me.

[2017-06-16 21:00] wernerb commented on #1298
Is common-development a git resource? do you have paths set? if so make sure that the commits you do target those paths, otherwise concourse will not fetch a new version of the common-development.  What happens with a new pipeline is that concourse has NO version of common-development, so it will retrieve *any* version it will get and so will work for you the first time.

[2017-06-16 21:10] LinuxBozo commented on #1298
common-development is not a git resource. It is a custom resource that polls a set of paths from S3, and returns as it's version the epoch timestamp of the newest file. However, even if we were running into the situation that you are trying to describe, we would not get the first job to trigger either, and it does so happily when any of the files are updated, so that is not the issue.

[2017-06-16 21:13] cnelson commented on #1298
We have also observed this happening with the built-in `bosh-io-release`.  When trying to debug this we ran into https://github.com/concourse/concourse/issues/1096 which prevented us from gathering any more useful information.

[2017-06-16 21:17] marco-m commented on #1294
Pretty please :-)

[2017-06-16 21:21] #1290 closed

[2017-06-16 21:21] #1291 closed

[2017-06-16 21:21] #1292 closed

[2017-06-16 21:29] pivotal-jwinters opened #1299 "Add the ability to group resources together"
# Feature Request

## What challenge are you facing?

We end up passing a giant block of resources between jobs in our pipeline. Example here: https://ci.kubo.sh. It would be nice if we had a way to group these resources in order to make the yaml more manageable and the pipeline easier to understand.

## A Modest Proposal

I was thinking something along the lines of a `resource_group` that can be

[2017-06-16 21:49] hamid-elaosta commented on #1251
I seem to be having two issues here; The first; After I down-up containers; worker IDs change and can no longer be found; that of course breaks jobs; I prune them and carry on with new ones.

The second, is that after some ? the workers stop functioning correctly and my builds go orange. A down-up (and prune) recovers them temporarily from this.

[2017-06-16 21:51] nebhale opened #1300 "Missing template vars error isn't user friendly"
Starting In `fly` 3.2.0, the error returned when variables are missing is pretty user unfriendly.

[code]

I'd guess this is just a non-formatted Go type that was just overlooked.  It should be a bit more user friendly.

[2017-06-16 22:19] nebhale commented on #1290
3.2.1 looks good.

[2017-06-16 22:35] mariash commented on #976
I am re-openning this issue for now. There are several problems with this proposal:

1) resource configuration should be independent from your IAAS configuration. That means you should be able to easily migrate your pipeline. In case if you change IAAS you will have to change your resource configuration. For example, if you migrate your pipeline from AWS to GCP you can still use the same s3-resour

[2017-06-19 08:53] slapers opened #1301 "Unable to pull in a docker image: tar: rc: Cannot open: File exists"
# Bug Report

I also submitted a bug report https://github.com/moby/moby/issues/33730 which seems to cause the issue..  I think the issue is docker related, however its a complete concourse showstopper for us :-(

**Concourse version:**
3.2.1

**Steps to reproduce**

- Create a task:

[code]

- Execute it:

[code]

- The docker image details:
https://hub.docker.com/r/slapers/angular-cli/
https://g

[2017-06-19 09:32] drahnr commented on #1220
Possible solutions:
* use ssh keys as identity
* allow to pass a UUID to the worker execution commandline

[2017-06-19 10:39] willejs commented on #976
@mariash I agree with all your points.
Implementing vault support and using STS credentials would be ideal, this is what i have been waiting for for over a year. I hope this drops soon, and we can start using it, however, it will add more overhead to peoples setups, and complexity.

In the mean time, I have forked and patched providers to use IAM instance profiles and ECS task roles which works, b

[2017-06-19 13:50] drahnr opened #1302 "network access, disable by default"
# Feature Request

## What challenge are you facing?

Opening concourse to a team of people I never met in RL and I have only limited trust in, need to get access to certain features for the sake of easier debugging for issues that only popup in the CI pipeline. This is - not only - but also the case for open source projects.

## A Modest Proposal

Add a switch per buildplan (next to privileged) t

[2017-06-19 13:52] clarafu opened #1303 "Build plans should not be indefinitely stored in the database with credentials"
In #1050 we encrypted pipeline configs and team auth, but missed one spot: build plans, which are currently stored on the `builds` table with credentials in plaintext, and never removed. This is pretty awful for security and also takes up a ton of space over time.

[2017-06-19 14:35] ringods commented on #976
@mariash out of interest:
* which component of Concourse will call into Vault and retrieve these short-lived credentials?
* how will that Concourse component authenticate to Vault as a valid client? Currently, I use the Vault AWS Auth backend to make sure that scripts on a certain EC2 instance are valid, but that breaks again your statement that `resource configuration should be independent from y

[2017-06-19 15:14] Lindsayauchin commented on #1235
Error state for login with invalid credentials ![Login_error_01.png](https://codetreeusercontent.s3.amazonaws.com/uploads/c22af672-1b7a-450f-b38b-7048e63b466e/Login_error_01.png)

[2017-06-19 15:51] clarafu commented on #291
We are making progress, heres the steps we outlined so far!

* [ ] Interpolate for resource `check`s.
* [ ] Interpolate for resource `get`s.
* [ ] Interpolate for resource `put`s.
* [ ] Interpolate for custom resource types.
* [ ] Interpolate for task params in a pipeline.
* [ ] Interpolate for `image_resource` in a task in a pipeline.
* [ ] Interpolate for `image_resource` in a task in a one-off

[2017-06-19 16:52] cnelson commented on #1218
Closing this out, our database has stayed happy.  Thanks for the fix!
<img width="774" alt="screen shot 2017-06-19 at 09 51 56" src="https://user-images.githubusercontent.com/604163/27296267-087d17d2-54d5-11e7-902e-0cc091ca0fdf.png">

[2017-06-19 16:52] #1218 closed

[2017-06-19 17:38] cnelson commented on #1255
Any chance you have `garden.default_container_grace_time:` set in your manifest?

We did and saw the same issues until we removed it.  [Discussion in slack about it is here.](https://concourseci.slack.com/archives/C07RY25QF/p1495034421311428)

[2017-06-19 17:43] mariash commented on #976
@ringods the ATC will be making requests to Vault (or any other credential provider, e.g. Credhub in future). Pipeline yaml will be saved as is with credential references in database and ATC will populate those references with values from Vault right before running the build.

ATC will be configured with Vault read token to prefixed namespace. Individual pipelines will have credentials in namespac

[2017-06-19 17:57] #1296 closed

[2017-06-19 18:59] cwlbraa commented on #1087
this is more than a year old, and I no longer have skin in this game, but at the time I at least wanted the option to upload .git, however large it may be. I doubt etcd is the only project out there that has (had?) git as a build dependency.

[2017-06-19 19:08] vito commented on #230
Some investigation needed in to parallel execution of builds with the same cache. But we'll pick it up and figure it out as we go.

Worst-case ontario, we could just not care, and say if you've got parallel hits of the same cache, you can just set `serial: true` if there are problems.

[2017-06-19 19:26] vito commented on #1303
We still need the plan after the build completes so that the web UI can render the structure of the build. However we should no longer need the credentials.

Let's start by encrypting the data, as we'll still need it while the build is running. This can be kept in a separate table/column, and preserve the plan as needed for the web UI (the public plan) unencrypted. The encrypted plan information c

[2017-06-19 19:43] bbokorney commented on #1251
I'm also seeing the `file not found` issue on any kind of step (resource `get`/`put`, task run, etc.). I've collected logs for a few of the workers where the issue was happening, I'll analyze them soon.

* Concourse version: 3.1.1
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: OpenStack
* Browser (if applicable): Chrome
* Did this used to work? Yes. Previously on 2.7.5, no iss

[2017-06-19 20:33] michaelklishin commented on #991
This is a major issue for RabbitMQ, to the point that the UI sometimes is completely unusable.
It has been going on for more or less the entire time we've been using Concourse, which is over 6 months now.

[2017-06-19 21:00] philicious commented on #1109
I can add to this that I'm seeing 120% (of 400%) CPU usage on an Intel i7 3+GHz (macbook pro) when the tab is open (firefox) with a very simple pipeline of 2 tasks with 3-4 inputs/outputs.
Concourse: 3.x
MacOS: 10.12

@chendrix your pipeline looks impressive and alot of work must have gone into it. it would probably insta-fry all of my cores.

I didnt even dare yet opening concourse on a RasPi for

[2017-06-19 21:15] ships opened #1304 "`fly watch` ignores meaningless positional arg"
Hi there!

# Feature Request

## What challenge are you facing?

I use `fly watch` quite often to watch a collection of similar builds that are running in parallel. I have frequently left out the `-b` when entering build numbers. I agree that requiring `-b` is a sensible & semantically paradigmatic design for `fly`, however, I would like to know that I have made this mistake, rather than `watch` s

[2017-06-19 21:22] ggeorgiev opened #1305 "unknown handle ... after cleaning of the workers volumes"
# Bug Report

After cleaning of the workers volumes (/opt/concourse/worker/volumes.img) the systems get in state that cannot get out by itself - reporting `unknown handle: ac306f71-3b4a-43eb-5c2d-c1f0fdd11d9c` for most of the resources. Note that the only way to get out of this is to delete all the pipelines that have any of the affected resources - which in most of the cases means all.

The follo

[2017-06-19 22:05] mariash opened #1306 "Old builds are not showing up"
Web UI fails to parse atc.Plan cause dependent get plan was removed but still present in old builds.

[2017-06-19 23:33] mariash commented on #1306
https://github.com/concourse/concourse/commit/a125de34587cc307ac4d467a76618bbc42144b12

[2017-06-19 23:45] pivotal-lyle-murphy commented on #991
@michaelklishin we have seen this on a few teams with many pipelines, it is something we, the Concourse team are working on addressing, but is a much more difficult problem than we thought. Looking to find a solution in the future, but for for now, you can use an alternative summary UI, found here: https://github.com/dgodd/concourse-summary

This will allow you to [generate a summary UI like this]

[2017-06-20 00:18] mariash commented on #1178
@emcniece cool thanks for update!

[2017-06-20 00:56] mariash opened #1307 "Update release notes to mention that maps cannot be arrays anymore"
Apparently prior to 3.2.x params could be provided as array, e.g.

[code]

This is not working anymore and params must be map, e.g.:

[code]

Otherwise, set-pipeline fails with error:

[code]

[2017-06-20 01:56] endemics commented on #291
Hi,

@vito said:

We're currently using AWS SSM parameter store to manage our secrets and would love to be able to use that in concourse too.

AWS SSM parameter store has a very low entry cost since it's a managed service. It allows role based access control through IAM, logs access to cloudtrail and encrypts data at rest using KMS.

You can access secrets under an encrypted or decrypted form usin

[2017-06-20 04:48] jmcarp opened #1308 "ATC should error on invalid influx url"
## A Modest Proposal

Given an invalid influx url (e.g., missing a protocol or port), atc panics with `invalid memory address or nil pointer dereference`. It looks like that happens because we discard possible errors on creating an influx client: https://github.com/concourse/atc/blob/e0933057d024789538d61afb1ce331e5ebe988b9/metric/emitter/influxdb.go#L35. To fix, we should either check errors on `

[2017-06-20 05:07] jmcarp opened #1309 "Document fly completion"
## A Modest Proposal

Fly now supports tab completion for certain flags, but users will have to set up completion in their shells to make use of the feature. For example, my `.zshrc` includes this:

[code]

Some cli libraries can auto-generate these invocations for users, like https://github.com/alecthomas/kingpin#bashzsh-shell-completion, but go-flags doesn't. Or if fly were installed with homebr

[2017-06-20 10:25] mindscratch commented on #1214
I'm using "paths" in my git resource so I only clone when changes are made, however, I noticed that concourse is "using version of resource found in cache" (but that version is a few commits behind).

I have a resource, setup like so:

[code]

I'd like some way to force Concourse to clone again, aka clear its cache.

[2017-06-20 12:08] schuth commented on #1230
This is still an issue for me with 3.2.1 - any plans to fix this?

[2017-06-20 12:31] jtarchie commented on #1307
@mariash, we did this by [accident](https://github.com/cloudfoundry/loggregator-ci/blob/92d81f62ec52ad4253fe8271e808bce5606ac098/tasks/container-metrics-smoke-test.yml#L4-L5) in another CI deployment. That deployment was on 2.6.x.

[2017-06-20 13:22] jchesterpivotal commented on #291
It's worth noting that Credhub also follows S3-like semantics in this regard. There are "paths" delimited by `/`, but it's a convention.

The illusion is completed by [prepending `/` to any Credhub key name that doesn't have it upon saving](https://github.com/cloudfoundry-incubator/credhub/blob/87139258d12e68bc09e7159e7e302fe4535888fe/src/main/java/io/pivotal/security/aspect/CredentialNameAspect.j

[2017-06-20 13:27] jchesterpivotal commented on #291
That said: Credhub may change in this respect. Right now one main track of work is to build a permissions scheme for credentials. In future this may be extended to be applicable to "subpaths".

Whether the implementation introduces an internal concept of paths, or whether it uses S3-style pattern matching instead, is probably up in the air.

@ishustava @ebeer please let me know if I'm leading anyo

[2017-06-20 13:47] gerhard commented on #1255
Yes, we did. We've removed `garden.default_container_grace_time` & also upgraded to 3.2.1, will close this issue if the problem doesn't come back within a week.

[2017-06-20 13:55] vito commented on #291
@endemics The problem with pushing credential resolution to the workers is that it would imply a few things:

1. Granting access to credential manager to your workers, which is a bad idea in a multi-tenant Concourse or when you're running untrusted code like pull-requests.
1. The workers having network access to your credential manager, which won't be the case all the time (lots of people have wor

[2017-06-20 14:30] DRuggeri commented on #1278
+1 - at the least, patch the docs to point people to this go code

[2017-06-20 16:37] vito commented on #1307
wat

How did this ever work?

[2017-06-20 16:47] chendrix commented on #1109
closing as same as #991

[2017-06-20 16:47] #1109 closed

[2017-06-20 19:48] cnelson commented on #1298
@vito any more thoughts on how to debug this before we destroy this pipeline and lose the ability to reproduce?

[2017-06-20 19:49] pivotal-topher-bullock commented on #918
Sorry @jtarchie ..

[2017-06-20 19:49] #918 closed

[2017-06-20 19:59] #1257 closed

[2017-06-20 22:03] mervyn777 opened #1310 "Issues with setting up Darwin iOS worker"
Hi,

I'm a newbie to this whole Concourse pipelines so kindly bear with me.

So far I've tried to setup a concourse build server and the Darwin worker on a mac mini for our iOS projects.

I've installed the Build Server using docker-compose and my yaml looks like this:

[code]

Later I generated all necessary SSH keys and stored them in the appropriate folders.
And I'm able to successfully open th

[2017-06-21 00:33] endemics commented on #291
@vito wrote:

Thanks for those explanations!

Now this raises an interesting point: At the moment we have hard-coded AWS keys/secrets provided via '-l' when setting the plan.

SInce everyone can see those by doing a `fly gp`, we considered that this is not safe and instead were planning to use short lived credentials obtained through EC2 IAM profiles on the workers.

We are not in a multi-tenant e

[2017-06-21 17:10] pn-santos commented on #230
One thing I don't quite understand from the proposed solution, how would the cache be evicted/reset?

Would that be something that the task is responsible for? Could fly for example offer a way to evict caches of a certain job?

Also regarding the scope of caches, won't making them task scoped make the size requirements for each worker go up considerably? i.e it I have 3 tasks that use the same ca

[2017-06-21 17:17] defsprite commented on #1201
We're seeing a lot of open pipes using the standalone binaries with docker.
It *feels* like they are growing steadily, but I have no definite proof of that yet.

Docker version: `Docker version 17.05.0-ce, build 89658be`
Concourse version: `3.0.1`

[code]

When grepping for random pipe, we see something like this:

[code]

grepping for the PID `45372` shows it's not running anymore (same on the ho

[2017-06-21 17:44] vito commented on #291
@endemics One point of clarification: it'll always be the ATC managing anything Concourse-domain-specific; TSA just serves as an SSH proxy to aid in worker registration. It doesn't do anything beyond that, and won't be the component touching any credentials.

Regarding `fly get-pipeline`, using any form of credential manager will solve that problem as the pipeline will be returned back with the `(

[2017-06-21 22:18] andrewedstrom commented on #1310
When you `fly hijack` into the container on the Darwin worker, are you able to manually clone the repo? Are you able to clone it when you just SSH into the Darwin worker?

[2017-06-21 22:24] chendrix commented on #1310
resources are never fetched on anything other than linux workers.

The running of the `/opt/resource/check` is actually happening on your one linux worker that comes with your `docker-compose.yml`

So if there's any networking issues it's on what you're calling your `Build Server`

[2017-06-21 22:37] krishicks commented on #1216
@mariash I've just now seen the retry tab; it would be nice if the debug info contained which information about tries; do these retries run on the same worker?

[2017-06-21 23:11] mervyn777 commented on #1310
Thanks, actually chendrix was right! I had to manually setup the dns params in the env of the concourse worker in the dockercompose file:

[code]

This seems to be a problem with all macs running the concourse as the dns is overwritten or left blank. I dont know much about what's going on internally.

And also the other roadblock i hit with mac os, that might help others, was to manually set rootf

[2017-06-21 23:23] andrewedstrom commented on #1310
This seems like another networking issue, based on the `internal API unreachable` error. Can your linux worker reach that internal repo?

[2017-06-21 23:28] vito commented on #291
Update on this: we've completed what I think is a reasonable candidate for MVP, and hope to ship this very soon as 3.3!

Here's what we've left out:

* Absolute path references with `((/foo))`. This raised a couple security questions that we don't have great answers for yet. Primarily, it would allow a pipeline in team B to reference credentials from team A, which is pretty bad. We may want to go

[2017-06-22 00:04] andrewedstrom commented on #954
Noting that this issue and #1284 seem related, as both address wanting to be able to increase/decrease resource limits. This story is about wanting to tweak resource limits for a task container, while the other is about wanting to impose limits for an entire team.

[2017-06-22 00:17] andrewedstrom commented on #954
Closing this issue because it is encapsulated by #787, but I will add a note in that issue looping back to the discussion here.

[2017-06-22 00:17] #954 closed

[2017-06-22 00:19] andrewedstrom commented on #787
See the discussion at #954 for more. I closed that because it was basically the same issue.

#1284 is blocked on this

[2017-06-22 00:20] andrewedstrom commented on #1284
needs #787

[2017-06-22 00:22] chendrix commented on #1302
I don't know what "network access" means, but I'm pretty sure this is already captured in #1209 or #769 or #194

Closing.

[2017-06-22 00:22] #1302 closed

[2017-06-22 00:31] chendrix commented on #1294
related to #194

[2017-06-22 00:33] chendrix commented on #1270
@vito is probably most knowledgeable about our trademarks

[2017-06-22 00:42] chendrix commented on #1286
I'm confused as to what you mean.

Can you explain more what your reproduction steps are?

[2017-06-22 00:44] chendrix commented on #1287
What are you trying to do by re-running a job that you do not currently get out of the way Concourse runs?

Seems very much related to #413

[2017-06-22 00:51] chendrix commented on #528
Is this any different than being forced to run `fly sync` between all the times you switch between various concourse versions?

I'm going to close this as we haven't seen much traction on it since July of last year.

Someone please re-open it if they have a compelling reason to.

[2017-06-22 00:51] #528 closed

[2017-06-22 00:53] #592 closed

[2017-06-22 00:58] mariash commented on #973
@pierrebeaucamp can you check ATC logs if there is anything interesting there when callback happens. Logs will be located at `/var/vcap/sys/log/atc`. Make sure your ATC `log_level` is set to `debug`.

Also during callback try to get the dump of goroutines in ATC by curling `localhost:8079/debug/pprof/goroutine?debug=2` on ATC VM. Search for the ones in `auth`. Hopefully, it will give you the line

[2017-06-22 01:04] mariash commented on #914
Thanks to recent auth refactor adding new providers should be much easier in ATC. We recently merged PR for gitlab https://github.com/concourse/atc/pull/172/files. I am marking this issue with `Help Wanted` to add support for SAML auth provider.

[2017-06-22 02:28] krishicks commented on #1287
I'm not sure how to elaborate as I believe the use case is called out quite clearly in the issue.

[2017-06-22 02:31] krishicks commented on #1287
#413 does cover it, and @vito had it right with his response. My use case is what he calls scenario 2. I'll close this and plus that issue.

[2017-06-22 02:31] #1287 closed

[2017-06-22 02:54] cdaringe opened #1311 "Fresh Run of ConcourseCI in docker compose yields error w/ Hello World"
# Bug Report

hi all,

i am not able to run the docker-compose example out of the current concourseci docs.

all services are running fine when exec'ing `docker-compose up` from the cli.

however, on execution of the provided hello world pipeline, the following error occurs.

[code]

[code]

[code]

<img width="494" alt="screen shot 2017-06-21 at 7 47 45 pm" src="https://user-images.githubusercont

[2017-06-22 06:24] drahnr commented on #1302
@chendrix I am talking about the container to have not have CAP_NET_ADMIN and friends by default. For CI this would be the default sane behaviour at least for most use cases.

[2017-06-22 09:47] richarddowner commented on #973
@pierrebeaucamp our concourse instance is within a private aws vpc and the DNS name is not resolvable outside certain networks. We have decided the problem must be something to do with public github not being able to resolve our concourse instance's DNS name on an auth callback somewhere behind the scenes.

[2017-06-22 16:04] cjcjameson opened #1312 "Allow `#` in pipeline names"
A Feature Request

### What challenge are you facing?

We have a script automatically generates pipeline names for people based on their git remote and git branch when they fork a pipeline for individual developers' branches. Some people name their branches with issue tracking numbers (such as Pivotal Tracker) in the format `meaningful_name_#12345678`, and so when we auto-generate the pipeline, th

[2017-06-22 16:18] zambien commented on #1286
i just went back to try and reproduce this today and could not so I'm going to close this issue.

I think this had something to do with the version of libraries being pulled by node at the time I was doing a build but since I can't reproduce it I can't be sure.

[2017-06-22 16:18] #1286 closed

[2017-06-22 16:27] chendrix commented on #1302
I guess I'm still confused as to what the potential attack vector or problematic behavior is.

What can a person *do* if the container has those permissions set that you don't think they should be able to?

[2017-06-22 17:25] mariash commented on #230
The initial approach is to introduce `worker_task_caches` table with the following fields:
- worker_name
- job_id
- step_name (is step name unique within the job? or you can have several with the same name?)

Plan ID is not consistent, it is just an incremented number within pipeline (see NewPlanFactory). It will be different for each build.

Volumes can now belong to worker_task_caches. Same way

[2017-06-22 22:18] mervyn777 commented on #1310
The error seemed to go away when I tried early today. The problem was mostly with the gitlab service that was down last evening. Now I'm able to execute basic simple pipelines.

But I'm running into a lot of other issues when executing xcodebuild commands from my pipeline:

For instance I cant run a command as simple as:
[code]
or
[code]

I get the following errors:
For build:
[code]

For test:
[c

[2017-06-22 23:31] andrewedstrom commented on #1310
If those commands are working on the host but not working when you run them in your pipeline, it seems likely that your host machine has some configuration or files that are missing within the container that your task is running in.

If the ios simulator is runs as a process on the host machine, there might be an issue with the networking between the container and your host machine.

I don't know

[2017-06-23 09:35] mkuratczyk opened #1314 "Incorrect time reporting when there is a time difference between client and server"
Hi there!

We noticed a strange behavior where after manually triggering a build, the "started ... ago"  time on the top bar was incorrect - it started counting at "1m57s ago". We found the root cause to be the time difference between the host where the browser was running and Concourse server. While obviously we need to fix NTP configuration on the client, it could be considered to check for the

[2017-06-23 11:04] dweidenfeld opened #1315 "no versions of image available"
# Bug Report

* Concourse version: 3.2.1 / docker
* Deployment type (BOSH/Docker/binary): docker + kubernetes (see configuration below)

Hi there,

I've deployed concourse on my kubernetes cluster and managed to get it work like with the docker-compose version.
Just for correctness I've attached my kubernetes configuration below

## Problem
I followed the hello-world tutorial https://concourse.ci/

[2017-06-23 11:39] bstick12 opened #1316 "Missing job events for pre-upgrade jobs"
# Bug Report

We are unable to view pipeline job events for jobs that ran before we upgraded. The job events page hangs with a Loading icon. In the JS console we get the following error message

`failed to fetch plan: BadPayload "I ran into the following problems at _.plan:\n\nExpecting an object with a field named `task` but instead got: {\"id\`

We upgraded from 3.1.1 -> 3.2.1

* Concourse versi

[2017-06-23 13:37] clarafu commented on #1316
This is a known bug that was introduced with 3.2.1. We will have a patch for it out soon!

[2017-06-23 13:38] #1316 closed

[2017-06-23 13:54] #912 closed

[2017-06-23 14:33] vito commented on #291
Upon attempting to dogfood what we have so far, I found that our auth support wasn't quite realistic. We only supported being given a token, and had no periodic renewal set up. This is unrealistic as Vault tokens are always set to expire after some amount of time (max 32 days by default), and having to re-generate a token and re-deploy the ATC periodically would be quite burdensome.

As part of ou

[2017-06-23 14:38] topherbullock opened #1317 "Discussion; Fine-grained / Role-based Access Control"
# What challenge is the Concourse community facing?

There is a clear, cross-cutting thematic need for fine grained access controls or role-based access control for the actions a user is able to perform within a team. This observation comes from many issues opened over the history of Concourse, each expressing the need for this level of access control granularity in different ways:

## Multi-tenan

[2017-06-23 15:45] dweidenfeld commented on #1315
Hey... got it fixed... it has been the DNS problem.... to fix it replace the worker config from above with

[code]

[2017-06-23 15:45] #1315 closed

[2017-06-23 15:50] mervyn777 commented on #1310
Ok here's what I got to work:

I had to change the user of the tasks in the pipeline from root to myuser while executing the bash commands as follows:
[code]

instead of just
[code]

This actually makes sense since the tasks are all run as root and not as user to have access to all the files and folders of the project. But I'm not completely aware of the repercussions of using `chmod` in this cont

[2017-06-23 17:17] #1310 closed

[2017-06-25 00:27] cnelson commented on #1298
@chendrix @vito  More updates on this.  We've now seen Concourse fail to grab the correct version of the resource even when there are are no passed constraints:

We have this job which pulls in a certificate from a versioned s3 resource (master-bosh-root-cert):

<img width="539" alt="screen shot 2017-06-24 at 16 56 35" src="https://user-images.githubusercontent.com/604163/27512765-71bab7f6-5901-11

[2017-06-25 00:49] chendrix commented on #1298
Is there a version in your pipeline yml that pins the version that's get?

On Jun 24, 2017, 5:27 PM -0700, Chris Nelson <notifications@github.com>, wrote:

[2017-06-25 00:53] cnelson commented on #1298
There's no version pinning involved.  No params are being passed to the get:
[code]

[2017-06-25 09:32] elgohr opened #1319 "Feature Request: Supporting templates"
Hi there!

# Feature Request

At the moment I'm finding myself in migration of 15 applications to concourse. In this way I need to setup for example green blue deployment 15 times. If you take a look at the example https://github.com/pivotalservices/concourse-pipeline-samples/tree/master/blue-green-app-deployment this is pretty much copy & paste & configuration for such a standard task. In the end

[2017-06-25 12:52] philicious opened #1320 "Metadata vars not being substituted"
Hi there!

# Bug Report

The metadata variables arent substituted everywhere. The first `put` (slack) gets the substitutions but the second `put` keeps the variables instead of the values

[code]

* Concourse version: 3.2.1

[2017-06-25 16:08] cnelson commented on #520
Any idea on when this might be addressed?  This impacts us almost daily.

[2017-06-25 19:45] davidgarciaMontreal opened #1321 "Unable to spin up concourse worker in Docker Swarm mode"
Hi team,
Would you know if concourse is compitable with swarm mode in Docker?
I am able to spin up concourse web but not the worker. See logs below.
Thanks for your support.

# Bug Report

* Concourse version: fly-version is 3.2.1
fly -version
3.2.1
* Deployment type (BOSH/Docker/binary):Docker
* Infrastructure/IaaS:
* Browser (if applicable):
* Did this used to work?yes with docker-compose but no

[2017-06-26 01:40] davidgarciaMontreal commented on #1321
btw, i just noticed that this isnt working with docker-compose anymore.
The only change i've made it's the docker engine.
$ docker version
Client:
 Version:      17.05.0-ce
 API version:  1.29
 Go version:   go1.7.5
 Git commit:   89658be
 Built:        Thu May  4 22:20:42 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.05.0-ce
 API version:  1.29 (minimum version 1.12)
 Go version:   g

[2017-06-26 09:10] CalamarBicefalo commented on #247
Thanks @chendrix we will definitely do!

[2017-06-26 09:12] CalamarBicefalo opened #1322 "Unknown handle makes pipeline unusable"
I am running into some issues in concourse 3.0.0 & 3.0.1 with the docker compose setup.

It says `unknown handle: xxxxx-xxxx-xxxx-xxxx-xxxxx` errors, and next time you retry it will stay in pending (guess the worker is dead, although `docker ps` says the container is up and running).

I also found this in the logs

[code]
Interestingly the worker itself keeps heart beating according to the logs:

[2017-06-26 09:47] defsprite commented on #1201
After moving the (single) worker to bare metal, the situation did not improve at all. We went back to the dockerized version creating a separate concourse worker per team, all hosted on a single host, which resolved the open fd issue.

It seems like the advice of one worker = one physical machine does not work well for bigger hosts and larger team/pipelines setups. Something seems to grow faster t

[2017-06-26 10:57] JohannesRudolph commented on #731
I verified this is in 3.2.1
![image](https://user-images.githubusercontent.com/130103/27536345-f97dbf30-5a6e-11e7-8c88-94dae4db8bbc.png)

Thanks for fixing this!

[2017-06-26 10:57] #731 closed

[2017-06-26 15:38] #1306 closed

[2017-06-26 15:43] #1235 closed

[2017-06-26 16:16] vito commented on #291
Slight change from before: we went ahead and just made the auth fully generic. So you specify `--vault-auth-backend` and `--vault-auth-param`.

For example, to use TLS auth, you'd just say `--vault-auth-backend cert` (or whatever you named your `cert` auth backend mount) and specify a client cert/key. To configure `approle` you'd do something like `--vault-auth-backend approle --vault-auth-param r

[2017-06-26 16:33] chendrix commented on #1320
Hi there, the processing of particular metadata variables such as `$BUILD_NAME` is done on a per-resource basis. Concourse [provides certain pieces of metadata to the resource](https://concourse.ci/implementing-resources.html#resource-metadata) but it's up to the resource to actually make use of them.

The [slack-notification-resource](https://github.com/cloudfoundry-community/slack-notification-r

[2017-06-26 16:33] #1320 closed

[2017-06-26 16:37] chendrix commented on #1319
Could you please elaborate on what you mean from this? As it stands now I don't have a clear picture of what you're trying to accomplish here.

[2017-06-26 18:40] vito commented on #1251
Has anyone pinned this down to a repeateable set of steps?

[2017-06-26 18:58] zgagnon opened #1323 "Feature Request: Document how to prepare postgres for a standalone binary installation"
My team has faced some challenges in following the installation directions for the standalone binary install. One of those challenges is that none of us are very familiar with postgresdb. It would be helpful if the standalone binary install documentation included the steps to prepare a postgres database for concourse, as well as to clean up after it so we could try again.

Thanks!

[2017-06-26 19:12] elgohr commented on #1319
The problem I'm facing is, that the configuration of commonly used patterns (e.g. green-blue deployment) produces pretty much configuration, which is just copy & pasted into different products/projects.
I'm looking for an easy way to implement templates/patterns like https://github.com/pivotalservices/concourse-pipeline-samples/blob/master/blue-green-app-deployment/ci/pipeline.yml

Speaking in Jav

[2017-06-26 19:15] pgporada commented on #1323
This would be useful for my org as well. I just started investigating concourse as a standalone install.

[2017-06-26 21:15] chendrix commented on #1323
Unfortunately, this falls into our anti-pattern of [Duplicate Effort](https://github.com/concourse/concourse/wiki/Anti-Patterns#duplicate-effort).

Because documenting external dependencies then becomes a monumental task in keeping that up to date, we try to minimize it as much as possible.

Thanks for letting us know this is has been an issue of yours, though.

[2017-06-26 21:15] #1323 closed

[2017-06-26 21:38] philicious commented on #1320
@chendrix I'm using https://github.com/zarplata/concourse-git-bitbucket-pr-resource and forked it and work on BitBucket Cloud support and the strings end up in the resource as is without substitution

[2017-06-27 00:59] chendrix commented on #1322
Hi there!

Could you please move this question to [stackoverflow (tagged with `concourse`)](https://stackoverflow.com/questions/tagged/concourse). We are trying to use this repo only for issues and stackoverflow for questions.

[2017-06-27 00:59] #1322 closed

[2017-06-27 00:59] chendrix commented on #1321
Hi there!

Could you please move this question to [stackoverflow (tagged with `concourse`)](https://stackoverflow.com/questions/tagged/concourse). We are trying to use this repo only for issues and stackoverflow for questions.

[2017-06-27 00:59] #1321 closed

[2017-06-27 01:01] chendrix commented on #1305
I do not think we have ever officially supported people cleaning out their own volumes.

This *used* to work because volumes used to heartbeat, but it was by virtue of the internals of Concourse, not a supported Concourse pattern.

[2017-06-27 01:01] #1305 closed

[2017-06-27 01:03] chendrix commented on #1278
There is a reason we have not documented the API and that's because it's not meant for public consumption.

Thanks for bringing this up to us but it's unlikely we will do this ourselves, as it then ties us to what we publicly expose and document.

Any usage of the API by clients other than our own `fly` are fully in *Here Be Dragons* territory.

[2017-06-27 01:03] #1278 closed

[2017-06-27 01:04] chendrix commented on #1270
I'm going to say yes.

[2017-06-27 01:04] #1270 closed

[2017-06-27 01:04] chendrix commented on #1255
@gerhard any update?

[2017-06-27 01:05] chendrix commented on #1253
Can you please upgrade to the latest version and let us know whether or not this still persists?

[2017-06-27 01:11] chendrix commented on #1319
It sounds like you're asking for #417

If so, I'm going to close this for consolidation. If you disagree strongly, please let me know why and I will reconsider.

[2017-06-27 01:11] #1319 closed

[2017-06-27 02:30] Orbixx commented on #550
For anybody who stumbled across this like I did when searching about this error, if you are trying to run it on Arch it's failing because of a lack of namespace support in the default kernel. You can use AUR to compile a kernel with userns support here: https://aur.archlinux.org/packages/linux-userns/

Though you're probably better off running it on a different distro, even if just for testing.

[2017-06-27 04:17] vito commented on #230
@mariash minor thing - noticed these show up as "unknown" in `fly volumes`. could we show something special for these? e.g. `task-cache` and maybe the pipeline/job/step?

[2017-06-27 10:32] edysli commented on #914
I'd advise against doing your own SAML implementation. It's hard to get it right, secure and interoperable in a federation context. (I currently work for a national SAML federation operator and we see a lot of crappy implementations out there.)

Implementing an authentication provider that accepts a user identifier from a given HTTP header is much simpler and fills my needs.

[2017-06-27 13:58] vito commented on #1245
I don't think this is worth setting up to be honest. We don't link to or want anyone to go to `www.` and I'd rather not manage two certificates.

[2017-06-27 13:58] #1245 closed

[2017-06-27 15:22] kkallday commented on #1245
Correct me if I'm wrong but I don't think that securing the both `
www.concourse.ci` and `concourse.ci` domains requires two certificates.
Most CAs support this even when you purchase a single domain certificate.

This also runs the risk of breaking old links that use `www.concourse.ci`
domain.

Based on the error message:

[code]

Seems like the fix would be to serve up the concourse.ci certifica

[2017-06-27 15:44] clarafu commented on #413
For those who haven't seen @vito 's comment in #1172 , I'll sort of reiterate what vito said. We created #1172 instead of just implementing the ability to re-trigger a single build because looking beyond that one retriggered job, things get pretty confusing. For example, re-triggering a build in the middle of the pipeline won't result in the rest of the pipeline running if it's already run with a

[2017-06-27 15:53] DRuggeri commented on #1278
So.... Concourse, being a modern CD platform in the year 2017, offers no supported way to programatically interact with it other than invoking a thick client and scraping the thick client's output?

... just want to make sure I understand the direction because that seems to be in conflict with what I see elsewhere in the industry.

[2017-06-27 15:54] joaogbcravo commented on #413
@clarafu Thanks for the heads up.

In my understanding, the way you are thinking on this will not solve the use case that I expose in https://github.com/concourse/concourse/issues/413#issuecomment-306932392

Correct me if i'm wrong.

[2017-06-27 16:13] clarafu commented on #413
@joaogbcravo I think it would because if you specify `forked: true` on the job that does the deploy to production, it will create an instance for every build of that job and you can retrigger a previous successful build from that forked instance. Does that make sense?

[2017-06-27 16:21] joaogbcravo commented on #413
@clarafu It makes sense. I thought you was limiting this to failed builds with what you said "That way, if the job fails".

Would be nice if you can specify another property for all the "downstream" jobs of the "forked" job that. if a forked job runs, the following dowstream jobs with also be retriggered with the input resources from the forked job run outputs updated. It makes sense?

[2017-06-27 16:34] chendrix commented on #1278
I'd like to remind everyone involved that the API still exists, and you can certainly attempt to use it for programmatic interaction. And if someone would like to make a PR documenting it, we'd more than likely accept it, but for such a small development team (8 engineers for the entirety of concourse), I will repeat that creating it and keeping it up to date is an engineering burden we do not fee

[2017-06-27 16:37] drahnr commented on #1278
@chendrix where would you like this to be documented? I am up for it, I am digging into it anyways. Cheers

[2017-06-27 16:41] chendrix commented on #1278
@drahnr all of our docs also live in the `concourse/concourse` repo, here at [concourse/docs](https://github.com/concourse/concourse/tree/master/docs)

You can see how the [index page](https://github.com/concourse/concourse/blob/master/docs/index.any) is done, and I think the best place for it would be a separate section called API. It's not very well documented as a documentation language but the

[2017-06-27 16:51] clarafu commented on #413
Oh if those downstream jobs have already ran then if you retrigger a successful build, the downstream jobs will not retrigger automatically again. It seems like your use case if more closely related to #92?

[2017-06-27 17:02] vito commented on #291
I've converted all our pipelines over to Vault, and all is going well so far. I wrote a little [tool](https://github.com/vito/vaultchuck) to make the migration easier.

[2017-06-27 17:08] joaogbcravo commented on #413
Well I would say it's a mix.

[2017-06-27 17:43] chendrix commented on #1307
bump @vito lol

[2017-06-27 18:18] andrewedstrom commented on #1197
Closing since we seem to have found a fix here.

[2017-06-27 18:18] #1197 closed

[2017-06-27 18:19] andrewedstrom commented on #888
I'm closing this due to inactivity. Feel free to reopen if this is still an issue.

[2017-06-27 18:19] #888 closed

[2017-06-27 18:21] andrewedstrom commented on #922
Closing since, as @chendrix suggested, this seems to be a duplicate. If this was not solved by #1145 please reopen.

[2017-06-27 18:21] #922 closed

[2017-06-27 18:23] andrewedstrom commented on #795
Closing this due to inactivity

[2017-06-27 18:23] #795 closed

[2017-06-27 18:31] OwenGr commented on #1317
Please forgive my ignorance. I'm relatively new to Concourse (since March)...but it seems a lot easier (and preferable from a best-practice point of view) to spin up a single instance of Concourse per team. This eliminates the headaches of trying to maintain all the needs of multiple teams in one instance and is relatively easy to script and deploy for each individual team.

Benefits of a single i

[2017-06-27 18:40] drahnr commented on #1253
I will test over the next two weeks.

[2017-06-27 18:41] andrewedstrom commented on #297
@xoebus I'm not exactly sure what you mean by allowing outputs to overlap with inputs. If this is still something you'd like would you mind reopening the issue and elaborating?

@Gisleburt To pass resources between jobs in a pipeline requires an external source of truth. This is by design, as [this user](https://stackoverflow.com/a/39041780/8216928) mentions on SO.

[2017-06-27 18:41] #297 closed

[2017-06-27 19:13] andrewedstrom commented on #675
@cjcjameson As far as I know, the changes in 3.0 did not impact the distribution of jobs across workers. I'm not sure whether those changes make it easier to address this, but this issue is still very much on our radar!

[2017-06-27 21:00] ctaymor commented on #1079
We're seeing this as well, and it's especially confusing when loading inputs fails.

[2017-06-27 21:06] ctaymor opened #1324 "Fly execute hangs without a clear error message when inputs are not dirs"
# Bug Report

The fly execute docs do not say that inputs provided with `-i` must be directories, not files. However, when providing an input which is a file and not a dir, the fly execute hangs, without a helpful error message. It would be great if the fly configure failed, and provided a clear message that one of the inputs (maybe even which one) needs to be a dir. It would also be helpful if th

[2017-06-27 21:52] andrewedstrom opened #1325 "Tweak postgres config to try to reduce CPU usage"
A team here at Pivotal was able to dramatically reduce their Postgres CPU usage by manually adding the following to their Postgres Config:

[code]

# A Modest Proposal

Let's manually add this to our Postgres config in prod and see if it helps. If it does, maybe we can bake it in as a default configuration. This seems like a pretty cheap experiment that could potentially make a lot of difference.

[2017-06-27 22:43] DRuggeri opened #1326 "fly set-team and destroy-team should have a --non-interactive flag"
# Feature Request

## What challenge are you facing?

Similar to set-pipeline, the set-team command could benefit from having a --non-interactive flag. Currently, I have to `echo "y" | fly -t blah set-team <args>` to get past the confirmation.

## A Modest Proposal

Adding the argument seems to be fairly straight forward. Assuming this capability isn't present for a reason, I can provide a patch/P

[2017-06-27 22:45] DRuggeri commented on #1278
I think you are misinterpreting my reply, @chendrix.

After having reread your first response a few times, the message I am able to take away is that you only endorse the use of fly and a browser to interact with concourse and that there is no current desire or plan to expand on that. I'm happy to hear (in your second reply) that this isn't the architectural direction concourse is going and that t

[2017-06-27 22:55] mervyn777 commented on #676
Any updates on this issue. I'm having the same problem when more than one job is run simultaneously on the Darwin worker, even if the jobs are in different pipelines triggered by their corresponding git commits. Other than the first one, that started using the worker resource, the rest of the jobs fail. They will have to be manually triggered one after the other to pass. Is there some workaround t

[2017-06-27 23:08] DRuggeri commented on #1027
Sorry - been AFK a bit on vacation and then too much time spent trying to catch up.

Just for clarity, my point about GO was that bind-mounting a single file for the things distributed with the concourse binary would work since those are written in GO and the concourse project has full control of how/where those resources look for certs. This can address the first part of your proposal where each

[2017-06-27 23:19] andrewedstrom commented on #748
@cjcjameson Thanks for the issue! I'm closing it since this doesn't seem to be a problem anymore, but if you do see this again please feel free to reopen.

[2017-06-27 23:19] #748 closed

[2017-06-27 23:22] andrewedstrom commented on #1141
Since vito/houdini#6 was the issue and has now been fixed, I'm assuming this is fixed as well.

[2017-06-27 23:22] #1141 closed

[2017-06-27 23:24] andrewedstrom commented on #894
Closing since we don't seem to have enough information here to reproduce.

[2017-06-27 23:24] #894 closed

[2017-06-28 00:25] mariash commented on #1249
It actually returns 403, not 401, so it does not cause the redirect to login page:

https://github.com/concourse/atc/blob/master/web/elm/src/Pipeline.elm#L160-L161

So we just need to add `||  status.code == 403` everywhere where we handle 401. `loginRedirect` method will redirect to login page of resource's team.

Marking this as `help wanted`.

[2017-06-28 00:32] brittag commented on #1317
As a person who supports the security standards compliance of a system that uses Concourse in a regulated environment, role-based access control similar to Cloud Foundry would help our team because we are required to give information to auditors and to carefully apply the principle of least privilege to our work.

My use cases are similar to https://github.com/concourse/concourse/issues/769 - for

[2017-06-28 00:37] mariash commented on #852
`fly login` now opens URL in browser automatically.

Also, there is a proposal to be able to login to multiple teams at once https://github.com/concourse/concourse/issues/720

I am going to close this issue.

[2017-06-28 00:37] #852 closed

[2017-06-28 00:40] mariash commented on #973
@richarddowner yes that sounds like that will cause this. I am going to close this issue then.

[2017-06-28 00:40] #973 closed

[2017-06-28 00:43] mariash commented on #776
This currently shows `login error: not authorized`.

[2017-06-28 00:47] mariash commented on #776
Since there is an indication present now for user when failing to login I am going to close this issue.

[2017-06-28 00:47] #776 closed

[2017-06-28 00:50] #687 closed

[2017-06-28 01:02] mariash commented on #1196
@vChrisR fly is going to start a server on localhost. It will automatically open the provided URL in browser for you. Once the redirect happens back to local server, fly will read token from it. Is you fly the same version as concourse (fly sync)? Do you see fly spinning up the server on 127.0.0.1? Is 127.0.0.1 your local machine?

[2017-06-28 01:09] mariash commented on #914
@edysli do you think having clients authenticated with client-side certificate would solve your problem too? https://github.com/concourse/concourse/issues/578

[2017-06-28 01:22] mariash commented on #847
@robertjsullivan do you see any errors in garden logs? It is probably failing to delete containers?

[2017-06-28 06:46] edysli commented on #914
@mariash Sorry no, it wouldn't. I want to do the authentication in Apache httpd *then* proxy to concourse. This way I can use any authentication method supported by Apache (there are many).

[2017-06-28 09:13] fbiville opened #1327 "Parameterize task output name"
# Feature Request

## What challenge are you facing?

Currently, variables are only interpreted within the "run" part of a task.
I had to duplicate a task the other day just because they did not have the same output.

## A Modest Proposal

It would be super convenient if variables were interpreted in the output declaration.

[2017-06-28 09:18] fbiville opened #1328 "Automatically update versioned pipeline"
# Feature Request

## What challenge are you facing?

In most of the project I have seen, the pipeline file is versioned with the project it builds. Currently, the workflow is a bit confusing as pipelines need to be updated manually (via `fly` e.g.) but the tasks the pipeline jobs run usually are versioned and just need to be pushed.

It happens from time to time that one forgets to push the pipel

[2017-06-28 12:34] fverbist commented on #1252
I'm running 3.0.1 and get "no basic auth credentials" when trying to push to ECR
what's wrong ?

`resource_types:
  - name: docker-image-2
    type: docker-image
    source:
      repository: concourse/docker-image-resource
      tag: docker-1.12.6
resources:
  - name: genesis-builder-docker-image
    type: docker-image-2
    source:
      repository: xxxx.dkr.ecr.eu-west-1.amazonaws.com/genesis-b

[2017-06-28 13:05] SHyx0rmZ commented on #1328
I don't think it makes sense to force that onto everyone using Concourse. You can easily model this using a [git-resource](https://github.com/concourse/git-resource) and either a [pipeline-resource](https://github.com/robdimsdale/concourse-pipeline-resource) or a [fly-resource](https://github.com/mschirmacher/concourse-fly-resource). I'm sure there are more options. There also is the problem of ha

[2017-06-28 13:08] SHyx0rmZ commented on #1327
If I understand correctly you can just use an [output mapping](http://concourse.ci/task-step.html#output_mapping) and reuse the task as is, but maybe I'm misunderstand. Can you maybe provide a small example configuration that shows the problem you're facing?

[2017-06-28 13:31] vito commented on #291
Looks good so far; calling this done as of now! The remaining bits of work will be modeled as separate issues.

[2017-06-28 13:32] #291 closed

[2017-06-28 14:12] chendrix commented on #1252
@fverbist

Hi there, we're trying to build up a knowledge base of common questions and answers in StackOverflow and we're trying to use Github for features and bug reports. Would you mind instead posting it to [StackOverflow](https://stackoverflow.com/questions/tagged/concourse)

[2017-06-28 14:19] philicious commented on #1320
@chendrix as per your suggestion, here is the stackoverflow question which you can now answer and I will accept your answer then https://stackoverflow.com/questions/44805171/where-is-concourse-ci-metadata-variable-substition-happening

[2017-06-28 14:22] fbiville commented on #1327
Oooh, that's exactly what I needed! Thanks a lot!

[2017-06-28 14:22] #1327 closed

[2017-06-28 14:23] fbiville commented on #1328
Thanks, I'll look into these options.

[2017-06-28 14:23] #1328 closed

[2017-06-28 14:54] pivotal-topher-bullock commented on #1317
@OwenGr
The issues you describe with operating a multi-tenant ( 1 > team ) Concourse deployment are all issues we are looking to solve in the platform. Concourse should be able to scale to multiple teams and allow operators of the deployment to horizontally scale workers based on resource demands. We're planning additional features around supporting these use cases to address the problems you're s

[2017-06-28 14:55] #1303 closed

[2017-06-28 14:59] vito opened #1329 "Task caches should have identifying information in "fly volumes""

[2017-06-28 14:59] vito commented on #230
Breaking that last bit out as a separate issue in 3.3.x since it's not critical enough to block release.

[2017-06-28 14:59] #230 closed

[2017-06-28 15:11] #520 closed

[2017-06-28 15:22] #1307 closed

[2017-06-28 15:26] #1264 closed

[2017-06-28 15:29] #1131 closed

[2017-06-28 15:41] jgeorge300 commented on #844
<img width="520" alt="screen shot 2017-06-28 at 11 33 56 am" src="https://user-images.githubusercontent.com/513514/27646023-a081a3be-5bf5-11e7-860b-a19e9745d621.png">

* Are all of your workers present? (fly workers)
Yes

* Is there a check container present for each of the inputs to your job? (fly hijack -c pipeline-name/resource-name)
1 of 2 resources was missing a check container.

* Do any of

[2017-06-28 16:37] chendrix opened #1330 "fly set-team should offer prompt for auth credentials"
# Feature Request

## What challenge are you facing?

The current fly CLI (as of 3.1.0) requires the auth credentials for a set-team to be provided as flags.
This is bad practice as credentials will end up in *sh history.

## A Modest Proposal
Instead, provide a prompt in the fly CLI to enter the credentials.

--

moved from concourse/fly#175 cc @hamid-elaosta

[2017-06-28 16:39] chendrix opened #1331 "Inconsistent behavior when not authenticated"
# Feature Request

## What challenge are you facing?

would expect all commands that require authentication to show an error and a nonzero exit code when not authenticated. Some commands behave as expected, but some show an empty table and exit with 0.

not authorized. run the following to log in:
    fly -t ci login

not authorized. run the following to log in:
    fly -t ci login

name  paused

[2017-06-28 16:40] chendrix opened #1332 "Feature Request: Improve validate-pipeline functionality"
# Feature Request

## What challenge are you facing?

Use Case 1: Modifying existing pipelines.

Fly YAML parsing ignores stanzas it does not understand. By doing the diff I can see my expected stanzas exists instead of getting a message of "looks good".

Fly could also warn about additional stanzas in the validate-pipeline operation.

Test Case Take any task with an image_resource and change imag

[2017-06-28 16:42] fverbist commented on #1252
@chendrix done ;)

https://stackoverflow.com/questions/43733396/jenkins-amazon-ecr-no-basic-auth-credentials

[2017-06-28 16:43] mariash commented on #233
going to close this issue in favor of this https://github.com/concourse/concourse/issues/194

[2017-06-28 16:43] #233 closed

[2017-06-28 16:43] mariash commented on #1294
going to close this issue in favor of this #194

[2017-06-28 16:43] #1294 closed

[2017-06-28 16:44] chendrix commented on #1252
@fverbist why does that say Jenkins and it's from May?

[2017-06-28 16:46] mariash commented on #194
moving from https://github.com/concourse/concourse/issues/233

* If a build is manually triggered, it should say "manually triggered by "
* If a build was triggered automatically, it should say "automatically triggered by <resource 1>, <resource 2>, ..."

[2017-06-28 16:46] fverbist commented on #1252
sorry wrong link, I edited since :)

2017-06-28 18:44 GMT+02:00 Chris Hendrix <notifications@github.com>:

[2017-06-28 16:47] chendrix commented on #396
Is there a reason why your "pipeline being sad" is of super duper importance to you?

I'm going to close this as I don't think it's a development priority, but please feel free to chime in with rationale, and maybe we can make some kind of meta-issue.

[2017-06-28 16:47] #396 closed

[2017-06-28 16:47] mariash commented on #497
closing in favor of https://github.com/concourse/concourse/issues/194

[2017-06-28 16:47] #497 closed

[2017-06-28 16:50] cnelson commented on #194
Re: pausing / manual triggers -- I know this would be a big change in the UI as it doesn't really take user input beyond clicks right now, but it's be really useful to allow a line of text input when these actions are taken so it could show

manually triggered by :user: because :reason:

paused by :user: at :time: because :reason:

[2017-06-28 16:51] chendrix commented on #902
I'm going to close this as we're instead attacking it from the other direction in concourse/concourse#1264

[2017-06-28 16:51] #902 closed

[2017-06-28 16:53] mariash commented on #194
@cnelson there is a separate story for reasons: https://github.com/concourse/concourse/issues/273. Lets keep this issue focused only on auditability of who did what.

[2017-06-28 16:58] chendrix commented on #1331
Also concourse/concourse#1071

[2017-06-28 16:58] chendrix commented on #1071
Closing in favor of concourse/concourse#1331

[2017-06-28 16:58] #1071 closed

[2017-06-28 17:04] thomasmmitchell commented on #1326
#1056 :)

[2017-06-28 17:20] #765 closed

[2017-06-28 17:31] DRuggeri commented on #1056
+1
I see that set-pipeline and destroy-pipeline both have a --non-interactive argument.

Other than those two, the following commands seem like they would benefit from the same:

- destroy-team
- set-team

The following "do" things, but don't seem to prompt (not sure if that should be considered a bug?):
- abort-build
- expose-pipeline
- hide-pipeline
- pause-job
- pause-pipeline
- pause-resource

[2017-06-28 17:46] wendorf commented on #396
Thinking about it in a broader context is a good idea. If I have an information radiator (CI monitor, Slack notifications, etc.), a non-green pipeline is going to grab the attention and time of my team. Even if I know that a "sad" (brown/red) box on the pipeline visualization is a false negative, I've forgotten that throughout the course of a day or week and kept re-checking it.

A non-green job i

[2017-06-28 18:31] doty-pivotal opened #1333 "BaggageClaim response header timeout of 10 minutes is reached when deployment is under high load"
# Bug Report
Creating a volume can take a while, and the current timeout of 10 minutes is still being reached.

The error:
[code]

Here are the logs corresponding to this request:

[code]

FYI - we have a snapshot of all the logs on the deployment tar'ed up and available if you need them.

Here is our environment:

* Concourse version: `3.2.1`
* Deployment type (BOSH/Docker/binary): `BOSH`
* Infra

[2017-06-28 21:04] chendrix commented on #396
It sounds like your rationale is that you don't want to care about it if it wasn't something that should be actionable.

To me, this request is better served with something like #273

[2017-06-28 21:05] chendrix commented on #396
Or also #401 (which you wrote)

[2017-06-28 21:06] vito opened #1334 "Upgrade BOSH director and rotate SSL cert"
It's been out of date for a while since upgrading it broke SSH-ability to the director and other VMS.

I think the fix comes down to un-configuring the `ssh_tunnel`.

We may want to consider switching to `bosh-deployment` for managing it. If so, we just need to make sure to keep the same blobstore and NATS credentials, for it to be a drop-in upgrade.

[2017-06-28 21:08] chendrix commented on #1333
Are you using overlay? Do you need to be using overlay? Can you switch back to btrfs?

[2017-06-28 21:13] SHyx0rmZ commented on #1333
We are also hitting this in about 50% of our pipelines. We are using OverlayFS, having had no luck trying to move back to Btrfs, because kernel errors always appear after a few hour (or even just minutes).

[2017-06-28 21:52] mariash opened #1335 "Failing to fly execute with parameterized inputs"
When running `fly execute -j pipeline/job` that has resources with parameter `((some-variable))` we are getting an error:

[code]

[2017-06-28 22:13] doty-pivotal commented on #1333
@chendrix:

Yes

We were one of the users that experienced issues with `btrfs` and followed issue [#1045](https://github.com/concourse/concourse/issues/1045) closely.  So without more information, we think we should be using what was released with [v3.1.0](http://concourse.ci/downloads.html#v310).

Is there a way to do that while remaining up to date with the latest Concourse release?  I would als

[2017-06-28 23:37] literatesnow opened #1336 "Failure to pull custom resources if the container is removed"
# Bug Report

When a pipeline uses a ``docker-image`` custom resource it seems to always try and use the same container from when it first downloaded the custom resource. If the custom resource is updated and the old container is removed from the docker repository then the build fails because Concourse can't find the container.

1. Consider the following resource type:

[code]

1. Build a pipeline

[2017-06-29 01:28] chendrix commented on #1336
Is there a reason you're attempting to destroy the old image from Dockerhub immediately?

[2017-06-29 01:29] chendrix commented on #1336
Concourse spins up a check container to grab any new versions of your custom docker image. But it doesn't happen instantaneously (the default check interval is 1m I think), and should happen when you trigger a new build.

[2017-06-29 02:25] richarddowner commented on #973
Hey @mariash and @pierrebeaucamp - There has been a new development with this. I think ive narrowed down the cause. And its not what I previously thought.

I believe either concourse web OR the golang oauth package is not honoring the http_proxy, https_proxy and no_proxy environment variables.

I managed to get this working in AWS by adding a transparent proxy between our corporate proxy and the c

[2017-06-29 02:38] richarddowner opened #1337 "oAuth behind proxy fails on callback"
It seems that when you need to use a proxy with concourse, by supplying env variables http_proxy etc, the github oAuth callback fails.

I believe either concourse web OR the golang oauth package is not honoring the http_proxy, https_proxy and no_proxy environment variables.

I managed to get the oAuth working in AWS by adding a transparent proxy between our corporate proxy and the concourse instan

[2017-06-29 03:17] markstgodard commented on #1230
I can also confirm I'm getting similar error on 3.3.0 deployed to k8s 1.6.4 on GKE via the helm chart:

Example output from a git resource failure
[code]

[2017-06-29 05:16] literatesnow commented on #1336
All untagged images are removed from the docker repository (ECR) overnight because we haven't had a need to keep them around before (I believe there's a hosting cost and image limit reason somewhere too).

Our worker instance isn't running all the time and is terminated overnight when not in use. A webhook starts the worker instance (if none is running) and triggers a build in Concourse. I guess t

[2017-06-29 09:29] ese commented on #1230
It seems to be related with debian based kubernetes installation with kernel 4.4.65-k8s, I am only able to reproduce the problem in that  one

[2017-06-29 10:25] Zteve commented on #194
It's nice to see this is being taken seriously; but I'm a little concerned that "audit trails" don't address the UI side of the story.  It's all very well collecting this information, but it should also be _visible_ at crucial places in the user experience.  Can you make sure that this is included as part of this issue? (That was the nub of #497.)

One reason for being explicit is the knotty probl

[2017-06-29 14:37] jtarchie commented on #1230
@ese, thanks for reporting. I don't have the needed expertise to reproduce this issue with k8. It would be really useful if you could provide steps to reproduce this locally, using `minikube`.

[2017-06-29 14:54] jtarchie commented on #1006
I'd like to expand on this a bit more as there are a lot of details missing from this as an actionable story.

A precompiled bosh release is tied to a specific OS and version. If you look at the documentation for `bosh export-release` you'll see this information. This means that for a pre-compiled release to be useful to a bosh directory, we'd to maintain one for each IAAS and stemcell version.

A

[2017-06-29 15:09] vito commented on #1230
@ese That's a great lead, thanks! Can anyone else confirm this?

We may just have to document/detect a minimum kernel requirement for the `overlay` volume driver.

[2017-06-29 15:16] vito opened #1339 "Optimize build plan migration to not use so much memory"
The migration introduced in v3.3.0 loads all the builds into memory and then processes them. It has to do this (rather than read one row at a time and update) as it only has one transaction. Can we run this in batches instead? e.g. read N builds, update N, read next N build, update N, etc.

[2017-06-29 16:07] vito commented on #1297
Update: we did the initial easy step of GCing volumes + containers in parallel (still synchronous for each), but even with that we still ran in to a case where the containers crept up, perhaps because of a slow/unresponsive worker.

[2017-06-29 16:59] chendrix commented on #1336
Yeah concourse expects a certain level of stability and continuous operation from its workers and its external resources.

The scheduling is all done by the ATC and if there are no workers it doesn't just sit there waiting, it fails the build.

[2017-06-29 17:07] chendrix commented on #1333
@doty-pivotal @SHyx0rmZ

They are two different filesystem drivers with different bugs or performance issues.

`btrfs` seems to have a kernel bug (or two), but `overlay` is slow when creating volumes with very large files or lots of files.

We have a baggageclaim header timeout to prevent unnecessary waiting under resource constraints and fail the build, and we originally had the timeout set to 1

[2017-06-29 17:13] DRuggeri opened #1340 "Docker resources and tasks with private CAs are broken"
# Bug Report

Internal registries signed by a private CA (when you don't want to disable all validation with insecure_registries) are broken. I've verified it works in 3.1.1 and 3.1.0 but no prior or older versions.

I assume this is a side effect or regression after 3.1.1, but a guess makes me think it's related to the introduction of (( params )) in 3.2.0.

When using 3.3.0, I can only reproduce

[2017-06-29 17:36] markstgodard commented on #1230
I can confirm my Concourse 3.3.0 deployment to GKE k8s 1.6.4 cluster, workers running: linux kernel 4.4.35+ has the issue.

From kubectl get nodes
[code]

[2017-06-29 17:41] vito opened #1341 "ATC crashes when listing pipelines when DB is down"
https://github.com/concourse/atc/blob/c3418208d2332a1f0cb13838532b7c8e1dad7a38/api/present/pipeline.go#L20-L23

Can we change this to not have to do the query in the first place? That'll be n+1 queries for listing pipelines.

[2017-06-29 17:55] doty-pivotal commented on #1333
@chendrix, Thanks for taking the time to respond.  I hear what you are saying about the tradeoffs, there always are.  That being said, is there a recommendation for moving forward?  We see (as posted initially) where that timeout was set, and after reading the issues related, we are on the same page.  So now from a practical standpoint, the pipelines we have in production are unstable, and this ti

[2017-06-29 18:12] mariash commented on #1329
showing `pipeline-name/job-name/step-name` as identifier and type `task-cache`

[2017-06-29 18:19] vito commented on #1297
Here are some vectors to consider for making garbage collection not prone to slowing itself down:

* [ ] Having many containers.
* [ ] Having many volumes.
* [ ] A single slow worker (overall).
* [ ] A single stuck container delete on the worker.
* [ ] A single stuck volume delete on the worker.
* [ ] A single stuck call to the database (e.g. mark container/volume as destroying).

[2017-06-29 18:57] SHyx0rmZ commented on #1333
@doty-pivotal You can use the `--baggageclaim-driver=[detect|naive|btrfs|overlay]` flag (or set the `CONCOURSE_BAGGAGECLAIM_DRIVER` environment variable) to force baggageclaim to use a certain driver.

@chendrix I know about most of this. Personally, I'm trying to find the time to create a pull request to make the timeout configurable. This would of course still mean that the builds would be slow,

[2017-06-29 19:01] doty-pivotal commented on #1333
@SHyx0rmZ - Thanks for pointing out that option.

[2017-06-29 19:07] DRuggeri opened #1342 "The fly hijack/intercept capabilties seem to be broken"
# Bug Report

After having upgraded from 3.1.1 to 3.3.0 and executing a `fly sync`, the `fly intercept/hijack` commands no longer seem to work. The error returned is `error: websocket: bad handshake`.

* Concourse version: 3.3.0
* Fly version: 3.3.0
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: vSphere
* Browser (if applicable): N/A
* Did this used to work? Yes

Observations:

[2017-06-29 19:07] clarafu commented on #1341
The plan is to remove the config from the pipeline object and to save the groups in the config separately in the database. This way, we will not be querying for all the resource/resourcetype/job configs when we only want the groups part of the config. The usages of the pipeline config for resource/resourcetype/job configs will be switched to calling Config() off the resource/resourcetype/job objec

[2017-06-29 19:24] joshzarrabi opened #1343 "fly set-pipeline errors out when using yaml anchors under the key 'variables'"
Hi there!

# Bug Report

We are setting variables at the top of our pipeline file like so:
[code]
and when running `fly set-pipeline` we get the following error.
[code]
It seems that the problem is with the `variables` header above the anchors
[code]

works as expected.

The following can also be handy:

* Concourse version: 3.3.0
* Deployment type (BOSH/Docker/binary): n/a
* Infrastructure/IaaS:

[2017-06-29 19:50] DRuggeri commented on #1340
A quick question... since 3.3.0 [added a change to DB encryption](https://concourse.ci/downloads.html#v3.3.0) which we are using, does that prevent fallback to 3.1.1?

[2017-06-29 21:10] chendrix commented on #1340
You are correct that that migration and the migration to add task caching prevent fallback to 3.1.1

This issue should be addressed in the next release, I've attached it to the 3.3.x milestone.

[2017-06-29 21:32] chendrix commented on #1333
@SHyx0rmZ yeah a PR to make the timeout configurable seems like the best path forward for right now.

We've always tried to maintain sane defaults but in this case the tweakability from an operations standpoint might be a necessary short-term fix.

[2017-06-29 22:00] lnhrdt opened #1344 "ATC error message for auth configuration should be more helpful for no-auth"
If you're trying to setup a local Concourse with no authentication, it's hard to figure out what property to provide to the atc job.

`errors.New("must configure basic auth, OAuth, UAAAuth, or provide no-auth flag")`

https://github.com/concourse/atc/blob/master/atccmd/command.go#L645

Maybe the error message (or docs) could more directly explain the options. It was hard to figure out that "provid

[2017-06-29 22:25] literatesnow commented on #1336
The path to least resistance sounds like always run a Concourse worker. Thanks.

[2017-06-29 22:25] andrewedstrom commented on #1225
First commit in pipeline-resource that used go-concourse: 2a6ca68ef18de8c8faabbb71d079fc5f9ef3dee4.

So what we need to do is go back to that commit and then readd the changes that have been made to the pipeline-resource repo since, but use fly instead of the api.

[2017-06-29 22:38] pivotal-topher-bullock commented on #1343
Thanks @joshzarrabi . Looks to be an issue specifically with the variables keyword, likely because we're leveraging templating from the BOSH CLI manifest templating, which has a variables section.

[2017-06-29 22:38] pivotal-topher-bullock commented on #1343
Thanks @joshzarrabi . Looks to be an issue specifically with the variables keyword, likely because we're leveraging templating from the BOSH CLI manifest templating, which has a variables section.

[2017-06-29 22:44] andrewedstrom commented on #1225
Changes since 668e47ad2ff1634c04c50315c609ea5dbf666528:
- Add support for teams
- Update go to 1.6

[2017-06-29 23:57] mariash opened #1345 "Resource configuration cannot contain more than one level of maps"
Having resource with nested source configuration raises a JSON error:

[code]

Will raise an error:

[code]

[2017-06-29 23:57] mariash commented on #1340
The issue is actually related to any nested resource configuration https://github.com/concourse/concourse/issues/1345

[2017-06-30 00:15] ships opened #1346 "a concourse user can execute a multi-build flow via the command line"
# Feature Request

## What challenge are you facing?

This is one approach to the classic question, 'how can i `fly execute` a whole job rather than just a task?'

Sometimes, when i have jobs in my pipelines which involve multiple tasks transmitting volumes between one another, I would like to validate that those changes actually do work in concert. Because it is a royal pain to call `fly execute`

[2017-06-30 01:17] mariash commented on #1345
Result of bisect:

[code]

I have a simple test on this branch: https://github.com/concourse/testflight/tree/config-test. The test will hang if broken.

I suspect the issue is here:

https://github.com/concourse/atc/blob/master/creds/eval.go

I tried to add `SanitizeDecodeHook` in there, but was unsuccessful.

[2017-06-30 05:19] d commented on #1333
@doty-pivotal since you're using BOSH, you'll want to set the `driver` property for the `baggageclaim` job to `btrfs` (instead of the default `detect`). See http://bosh.io/jobs/baggageclaim?source=github.com/concourse/concourse&version=3.2.1#p=driver

[2017-06-30 10:24] philicious opened #1347 ""check" has weird behavior for now-empty version"
Hi there!

# Bug Report

I was recently working on a custom resource for building PRs on Bitbucket (Cloud) repos which is working fine now (got merged into https://github.com/zarplata/concourse-git-bitbucket-pr-resource )

However I noticed a weird behavior which could be a bug:

When `check`-ing I emit a single version, i.e. the latest updated PR. Emitting more than one turned out to confuse conc

[2017-06-30 14:11] vito commented on #1347
If there are no versions available it should emit an empty array. Granted, Concourse shouldn't choke on a `null` version and should probably emit a sensible error somewhere, but in any case the root of the misbehavior is in the resource.

Emitting more than one version shouldn't confuse anything; that's the normal and expected state for any resource. You should however make sure the order returned

[2017-06-30 14:11] #1347 closed

[2017-06-30 14:39] philicious commented on #1347
@vito right ok. so just to make sure I understand it correctly: the `null` is the problem and the empty emitted resource should just be ?
[code]

multiple emitted versions:
yes I know from https://concourse.ci/implementing-resources.html how they are supposed to look like. for i.e. git thats working out just fine as you can always return the inputted version (ref) + all refs that happened afterwar

[2017-06-30 14:49] craigfurman commented on #802
We've been seeing this too, but only after upgrading from 3.0.1 to 3.2.1. We are using the btrfs storage driver

[2017-06-30 15:26] vito commented on #1347
@philicious yep, the `null` is the problem.

[2017-06-30 16:00] michaelklishin commented on #991
We are aware of Concourse Summary and tried it. It is not a Concourse UI replacement, at least for our team.

[2017-06-30 17:10] marco-m commented on #1346
I like the idea, it would be equivalent of a `buildbot try`, which is I think unique among CI systems.
Small comment about dirty git history: as long as you do the work in a branch (meaning: history rewrite will not impact anybody else), you can keep amending / history rewriting, so history would not be dirty.

[2017-06-30 17:14] gerhard commented on #1255
I've been avoiding Concourse on purpose, it always turns into a time sink when I look at it. Maybe @dumbbell has something to share. Will follow-up next week, thanks for the reminder.

[2017-06-30 17:49] vito commented on #802
This is more pronounced with 3.1; I'll prioritize it somewhere soon.

I think we can just change https://github.com/concourse/baggageclaim/blob/c12e0c4e85ad48d068aefb761e65ca704b2a9dcd/uidgid/translator.go#L38 to check if setuid/setgid are set before the chown, and if so, restore it after the chown. If someone wants to PR that with integration test coverage in baggageclaim, that'd be super helpful

[2017-06-30 18:08] #1329 closed

[2017-06-30 18:55] chendrix commented on #1345
@concourse/pivotal Hey

[2017-06-30 20:47] erulabs commented on #1345
Hrm, downgrading to 3.2.1 results in:
[code]

This is a pretty big breaker. I'd love to dive into this, but need to get the concourse pool healthy again - anyone have a resource for downgrading? I suppose I should have taken a snapshot before upgrading 🤕

[2017-06-30 20:55] mariash commented on #1345
@erulabs 3.3.1 will come out with the fix today. If you can't wait you can use release candidate https://s3.amazonaws.com/concourse-release-candidates/concourse-3.3.1-rc.11.tgz

[2017-06-30 21:01] joshzarrabi commented on #1345
Thanks for working so quickly on this concourse team!

[2017-06-30 21:23] professor commented on #987
We're thinking of working on improving the animation speed and removing the paused halo for hack day...

The css is coming from:
https://github.com/concourse/atc/blob/bdf157188a51beadc069e6f0c286769eca8438e3/web/assets/css/colors.less

[2017-06-30 21:49] vito opened #1348 "Self-service team auth management"
# Feature Request

## What challenge are you facing?

Running a multi-tenant Concourse entails bootstrapping teams with some sort of auth config. In our case, we typically bootstrap a team with GitHub auth configured to authorize a particular GitHub team, which involves configuring a client ID/secret.

One feature of Teams is that you can run `fly set-team` against your own team to change this con

[2017-06-30 21:52] vito opened #1349 "When accessing multiple fields of the same key via params, the key should only be fetched once"
# Feature Request

## What challenge are you facing?

If I've configured a key with a backend that rotates the value on every fetch, then doing something like:

[code]

...will currently end up with broken credentials, as it'll be fetched twice.

## A Modest Proposal

We should fetch `my_s3_key` once per resolution "scope" (i.e. `source`), and fetch the fields off the same value.

[2017-07-01 14:37] watawuwu commented on #1230
I was able to avoid it if I started the worker with `--baggageclaim-driver=naive` as environment variables.

[code]

Kubernetes 1.6.4(on GKE)
Concourse 3.3.0(from Helm concourse-0.1.3)

[2017-07-01 18:46] joshzarrabi commented on #1346
@jraqula You should check out [piper](https://github.com/ryanmoran/piper). It is essentially `fly execute` but it runs the task locally in a docker container on your machine. Its super useful.

[2017-07-01 21:49] jraqula commented on #1346
that is pretty cool, definitely saves me some trouble in certain use cases. Thanks for the reference @joshzarrabi . doesn't stop me from having to do excessive workspace management however, given the conundrum of volumes littering my station between builds that i would `piper` in sequence, right?

[2017-07-02 02:03] joshzarrabi commented on #1346
@jraqula it wouldn't, i think, but at least you wont have to deal with git.

[2017-07-02 22:32] smousa opened #1350 "Combine multiple pipelines?"
# Feature Request

## What challenge are you facing?

I am currently trying to figure out a build strategy for a platform that supports multiple unique microservices.  Each microservice should be able to asynchronously trigger a build through a pull request, where it will be compiled, tested and published to an image repository.

The big caveat to this is because all of these services communicate

[2017-07-03 06:14] DoingItNow opened #1351 "Docker in Docker Image fails to creating aufs mount after Concourse v3.0.1"
# Bug Report

## What challenge are you facing?
I have a job that would run server tests in a docker in docker image which creates a docker compose stack to run the necessary containers. The job can be seen below

[code]
This job was working fine on concourse v3.0.1. After that version it will fail to build the aufs mount when the job starts. A snippet of error can be seen below

`docker: Error re

[2017-07-03 06:39] devdavidkarlsson opened #1352 ""download latest" on the webpage"
# Feature Request

## What challenge are you facing?

I have an automated setup that runs docker to get the latest Concourse CI. I then run an ansible role with fly and fly commands in it.

But there is no matching url for fly: When I run docker it get's the latest version, there is no url for the latest version of fly. I can only find URLs towards specific versions.

## A Modest Proposal

It woul

[2017-07-03 07:26] devdavidkarlsson commented on #1352
Adding a couple of lines in the ansible script for synching the fly version worked for me:

- name: Sync fly with Concourse version
  command: 	fly --target _ sync

[2017-07-03 08:12] devdavidkarlsson opened #1353 "garden-init: permission denied on OSX worker"
# Bug Report

I started running Concourse 3.3.0 (docker-compose) connected to a OSX worker.
I am getting the below error on my OSX Worker now:

runc create: exit status 1: container_linux.go:264: starting container process caused “process_linux.go:339: container init caused \“rootfs_linux.go:57: mounting \\\“/worker-state/3.3.0/assets/bin/init\\\” to rootfs \\\“/worker-state/volumes/live/ddf79092-

[2017-07-03 08:12] devdavidkarlsson commented on #1353
(I have chmoded the entire volumes directory to 777, did not help...)

[2017-07-03 08:34] devdavidkarlsson commented on #1353
For my ATC Setup I have the following setup, note: I am not using the linux worker, the error appears in a job that is running against my darwin worker.

[code]

[2017-07-03 08:37] devdavidkarlsson commented on #1353
attempting to chmod -R 777 the entire worker-state folder:

hijack: Backend error: Exit status: 500, message: {"Type":"","Message":"unable to find user root: no matching entries in passwd file","Handle":""}

[2017-07-03 15:58] JohannesRudolph commented on #1255
https://github.com/concourse/concourse/issues/1255 seems to be related as well and I see the same issue whenever I restart our docker-compose based concourse deployment.

Any insights what we can do to fix this? Running 3.2.1 btw.

[2017-07-03 16:03] JohannesRudolph commented on #1255
Some more info, I see that the worker is registered (and to make sure, I pruned old workers too). It even has a container count but doing a container list shows nothing:

[code]

[2017-07-03 20:36] mattjbarlow opened #1355 "Vault Prefix Property Not Utilized"
After installing Vault 3.3.0, we set the [vault.path_prefix](https://github.com/concourse/concourse/blob/v3.3.0/jobs/atc/spec#L409-L412) in our deployment manifest, but the property does not seem to have any effect and we receive an error from atc indicating it is still looking at the default prefix of `/concourse`.

We also tried manually injecting `--vault-prefix`, as mentioned [here](https://co

[2017-07-03 22:40] tcdowney commented on #1345
Thanks for fixing this! 👍

@mariash do you know when the 3.3.1 release is expected to be cut?

[2017-07-04 07:20] jsiebens commented on #1340
@mariash We are also using private CAs and after upgrading to 3.3.1 (released June 30) we are still getting this error when setting our pipelines

[2017-07-04 10:43] willejs commented on #976
Now vault is implemented i am going to close this.

[2017-07-04 10:43] #976 closed

[2017-07-04 12:42] biels commented on #1251
Faced the exact same issue, running this pipeline from the tutorial on the official vagrant box:
pipeline.yml
[code]

1. Spin up the official vagrant vm
2. Set the mentioned pipeline
3. Check that job-hello-world finishes successfully when triggered manually
4. Halt vagrant vm
5. Check that job-hello-world exits with error "file not found"

[2017-07-04 15:29] zaa commented on #1230
The issue might have something to do with user namespaces support in Linux kernel versions less than 4.8.

From https://github.com/oracle/crashcart#known-issues

Sounds familiar.

[2017-07-04 15:40] pms1969 commented on #970
I was just thinking of a similar requirement.  I could really do with being able to share the same pipeline across 2 or more teams, with the output being available to authorized teams, but not public.

We've got a couple of teams at present, 1 front end, 1 api, and I'd like to be able to provide a "product" pipeline, that had all the output from both teams, and have them both see how the pipeline

[2017-07-04 23:23] joris77 commented on #1342
The same is happening for fly 3.2.1 with the vagrant box

[2017-07-05 13:41] clarafu commented on #1340
@jsiebens what part of your pipeline config is broken using your private CAs?

[2017-07-05 16:50] #1352 closed

[2017-07-05 16:55] andrewedstrom commented on #1350
@smousa This seems like more of a question than a bug report or feature request, so I'm closing it. Would you mind asking this as a question on Stack Overflow and tagging it with `Concourse`? We'll be happy to answer you over there. We're trying to build up a repository of common questions and answers in Stack Overflow so it would be a big help :)

[2017-07-05 16:55] #1350 closed

[2017-07-05 17:02] pivotal-topher-bullock commented on #1355
Looks like you caught two mistakes in one issue 👍 :
1) the `vault.path_prefix` property in the ATC job isn't used by the control script that starts ATC anywhere
2) the docs reference `--vault-prefix` but the flag is `--vault-path-prefix`

[2017-07-05 17:06] andrewedstrom commented on #1345
@tcdowney It's out now :)

http://concourse.ci/downloads.html#v331

[2017-07-05 17:12] JohannesRudolph opened #1356 "Frequent killed builds and "no workers" since upgrading to > 3.2"
# Bug Report

* Concourse version: 3.3.1
* Deployment type: docker-compose
* Infrastructure/IaaS: OpenStack, single VM with 8GB RAM and 4vCPU
* Did this used to work: Probably

I'm pretty sure this wasn't a problem before the 3.2 releases, but we quickly moved to 3.3 so I can't say if it started with 3.2 or 3.3.

We frequently need to retry builds because processes in them get Killed (see above, a

[2017-07-05 17:21] dsabeti commented on #1298
Howdy all. The CF Release Integration team has two pipelines showing this bug as well. It's new in the last few days.

We're running Concourse 3.1.1 on GCP. @vito @chendrix, let me know what other information I can provide.

[2017-07-05 18:06] vito commented on #1356
Looks symptomatic of running out of memory and being killed by the OS. The OS may even be killing the worker process.

[2017-07-05 18:26] antitux commented on #1356
I am seeing the same thing, moving workers from 3.3.0 to 3.3.1. Rolling the workers back to 3.3.0 allowed them to be picked up correctly by the ATC.

[2017-07-05 18:28] antitux commented on #1356
[code]

[2017-07-05 18:28] antitux commented on #1356
Top 2 are on 3.3.0, bottom 2 are on 3.3.1. ATC is at 3.3.1.

[2017-07-05 19:07] chendrix commented on #1298
Looks like the pipelines affected are:

18F: https://github.com/18F/cg-deploy-shibboleth/blob/master/ci/pipeline.yml
RelInt: https://github.com/cloudfoundry/runtime-ci/blob/master/pipelines/cf-release.yml

We've been given version dumps and @vito and I are looking at them in the context of the build algorithm.

[2017-07-05 19:08] antitux commented on #1356
Possible fix: Manually prune the stalled workers and allow them to readd themselves. It seems to have cleared up my issue.

[2017-07-05 19:31] DRuggeri commented on #1340
I can confirm that after upgrading to 3.3.1, I'm still unable to set pipelines using the docker image resource with nested configs. The pipeline snippet I shared in the initial report can still reproduce the problem

[2017-07-05 20:36] jtarchie commented on #1340
@DRuggeri, thanks for the report, again. We've been able to narrow down the [issue to YAML decoding](https://github.com/go-yaml/yaml/issues/139), which is causing the 'map[interface{}]interface{}` issue.

It was not directly related to #1345. Same cause (the library) just a different different area of the code base.

[2017-07-05 20:45] krishicks opened #1358 "Task with forward slash in the name causes incorrect page to load"
* Concourse version: 3.3.0
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: vSphere
* Browser (if applicable): Chrome on Linux
* Did this used to work? ?

When clicking a job in a pipeline that has a forward slash in the name e.g. `some/job`, the loaded page is some other pipeline page.

Example: https://some-concourse/teams/main/pipelines/some-pipeline/jobs/some/job took me to

[2017-07-05 20:46] chendrix commented on #1358
Closing as same as #751

[2017-07-05 20:46] #1358 closed

[2017-07-05 20:50] #1240 closed

[2017-07-05 20:54] chendrix commented on #737
As we've moved to `overlay` by default, I'm going to close this unless I see a pressing need to have it reopened or someone can find another current reproduction.

[2017-07-05 20:54] #737 closed

[2017-07-05 20:55] #1087 closed

[2017-07-05 21:05] mervyn777 opened #1359 "Not able to persist Concourse Pipelines after Server restarts on MacOS"
I have setup a concourse ci using docker on Mac Mini.

My docker compose file looks like:
[code]

After loading all iOS/other pipelines everything builds and works just fine. But when the server is restarted either manually or through some other event I'll have to manually execute `docker-compose up` to restart all the concourse services once again. (I plan to create a launchagent daemon script to

[2017-07-05 21:16] chendrix commented on #1298
From @dsabeti

This tends to support the idea that at least for the RelInt case it was a complicated `passed` constraint that wasn't being satisfied.

[2017-07-05 21:27] aarondl commented on #737
Fair enough. I don't remember seeing this recently. We have other problems now as I alluded to in my e-mail.

[2017-07-05 21:28] DRuggeri commented on #1340
OK, cool. Thanks for the heads up. Sounds like you have a handle on it, but if there's any info I can share, feel free to drop a line.

[2017-07-05 21:28] dsabeti commented on #1298
Yeah. I'm trying the same approach to fixing the other pipeline that's seeing this issue. I'll report back here once it's finished.

[2017-07-05 21:51] vito commented on #1298
@cnelson I've added a test [here](https://github.com/concourse/atc/commit/728a43bec4913655997d1efd7d12ddb5d58bc8f3) locally to reflect your job's configuration running against the data set, but the data set itself hows that the job has run with the latest input version (id 206635 of resource 893, `master-bosh-root-cert`). The test result also shows it selecting that as the candidate version.

Do y

[2017-07-05 22:06] chendrix commented on #1298
@jmcarp told me that @cnelson was out for the day, but maybe @jmcarp can look at it.

[2017-07-05 23:02] tjvman opened #1360 "Add command for checking login status"
# Feature Request

## What challenge are you facing?
We'd like to have a way to check whether or not we're logged in to our Concourse for scripting purposes because doing `fly -t foo login` requires user interaction (clicking on the auth link) that we'd prefer to avoid when possible.

Currently, we have to rely on the exit status of a command (e.g. `fly workers`) to determine our login status.

[2017-07-05 23:06] jama-pivotal opened #1361 "Opt-in analytics for Concourse versions"
# Feature Request

## What challenge are you facing?

As a product manager at Pivotal who's helping with Concourse, its hard to make product decisions without data around what versions of Concourse is commonly installed by users. For example, if we discover a nasty bug or a CVE that needs to be patched; the Concourse team would also want to know if we absolutely *need* to patch a prior version as

[2017-07-06 01:10] chendrix commented on #1298
@dsabeti also said he triggered a new build early on that then maybe "flushed" the system's resources and now it's got the correct version

[2017-07-06 02:50] svrc-pivotal commented on #1342
Same issue with 3.3.1 on docker compose

[2017-07-06 03:36] rahulkj opened #1362 "Vault permission denied upon running pipeline"
* Concourse version: 3.3.1
* Deployment type: BOSH
* Infrastructure/IaaS: vSphere
* Browser (if applicable): chrome
* Did this used to work? no

[code]

I created a role using the command
`vault write auth/approle/role/cc-role policies=cc-policy`

and defined the `cc-policy` as

[code]

Upon setting the pipeline it reads the params fine, and then it starts throwing 403..

Is there anything more to

[2017-07-06 04:54] rahulkj commented on #1362
to add, after running `monit restart all`, The job at which I had the error vanishes and then I get the same error when the next job is fired. seems like the token is getting invalidated or something. It would be useful to have the example steps to create a approle documented on concourse.ci

[2017-07-06 05:54] svrc-pivotal commented on #1359
Generally this only happens if you lose the Postgres container and it gets recreated.   If you declare a volume, it will survive recreates..

Here's what i did to fix my running concourse deployment:
[code]
Now I edit docker-compose.yml to add a   **volumes: ["./database:/database"]** entry in concourse-db:
[code]
Then I ran
[code]

And I had my PG database running on my Mac instead of in the cont

[2017-07-06 07:02] devdavidkarlsson opened #1363 "Sync fails for fly"
# Bug Report

[code]
The error message here doesn't really tell me what I can do....

The following can also be handy:

* Concourse version: 3.3.0 (fly: 3.0.1)
* Deployment type (BOSH/Docker/binary): Binary
* Did this used to work? I think so.

[2017-07-06 07:43] ykrevnyi opened #1364 "Slow docker save/load in v3.3.1"
# Bug Report
In the latest Concourse v3.3.1 the `docker` step with `save: true` or `load_base` parameter is pretty slow.
It seems to have problems while saving (or loading) images to/from cache.

Example:
- clone repo
- pull base image (base image size ~ 200mb)
[code]
And it stops for 3-5 min after message `Successfully pulled <image>`.

Same thing happens when we are trying to use `load_base:` pa

[2017-07-06 09:21] hatemosphere commented on #1351
check this commit https://github.com/concourse/docker-image-resource/commit/7ffaffb69b052c02cffa9a1bfed30b355af2c453
so you just need to change your docker-lib.sh by adding --data-root /scratch/docker to dockerd startup params

[2017-07-06 14:45] gabro commented on #1351
Hi @hatemosphere, we're facing the same issue. We tried to apply the same diff as  concourse/docker-image-resource@7ffaffb to [amidos/dcind](https://github.com/meAmidos/dcind), but it looks like docker doesn't come up.

Here's the output of our build after performing the change:

[code]

and so on. Any idea of why docker is not coming up with the new `data-root`?

[2017-07-06 14:49] hatemosphere commented on #1351
@gabro your setup might be different from mine, i'm using this Dockerfile https://github.com/recordunion/RU.PublicDockerfiles/tree/master/concourse-dcind and it works just fine with 3.2.1. you can try mine just to isolate your problem

[2017-07-06 14:50] gabro commented on #1351
Thanks! I'll try it soon, is there a public docker image that I can grab?

[2017-07-06 14:57] gabro commented on #1351
It works! Thank you @hatemosphere!

[2017-07-06 15:57] rahulkj commented on #1362
This was an issue in my config as the token was not periodic

[2017-07-06 15:57] #1362 closed

[2017-07-06 17:00] jpluscplusm opened #1365 "Resource versions need to be strings, but this is not made explicit in the docs"
A resource with a pinned version can't be pinned to something that looks numeric.

Below is a the output of a repro `cat pipeline.yml; fly set-pipeline` run.

In the first 2 of the 5 example jobs the version hash is empty. I expected all 5 to have the values specified in the pipeline definition.

[code]

The following can also be handy:

* Concourse version: 3.3.1
* Deployment type (BOSH/Docker/bi

[2017-07-06 17:13] andrewedstrom commented on #1365
This is expected behavior, as the version for a resource is actually a string: https://github.com/concourse/atc/blob/master/resource_types.go#L7

As such, versions you specify need to be stringly.

However, it appears our docs need to be updated to reflect this fact:
http://concourse.ci/get-step.html#get-version

[2017-07-06 17:59] mervyn777 commented on #1359
I'm able to now persist the pipelines and builds and see them in the next launch of Concourse but now even the workers' state are persisted from the db and during the next run most of the workers are stalled.

For e.g while cloning from git  I get the following error:
`Get http://127.0.0.1:8080/containers: worker '4a3b06a91186' is unreachable (state is 'stalled')`

It seems like the stale non-exis

[2017-07-06 18:25] JohannesRudolph commented on #1356
@vito looks like you're right. I've run docker-stats while builds are running and memory usage was indeed _very_ high. I think it's time for us to scale...

For now I was able to reduce parallelism in builds so that individual jobs stay below 4GB of RAM and then limit concurrency in individual pipelines to two. However, there's no inter-pipeline coordination, so our concourse may still overload.

[2017-07-06 18:52] chendrix commented on #1342
From a now deleted issue (https://github.com/concourse/fly/issues/108):

---

---

---

Also a [comment you *can* see](https://github.com/concourse/concourse/issues/53#issuecomment-107581660)

Does this match your use cases?

[2017-07-06 19:08] DRuggeri commented on #1342
In my use case I'm using a local, hardware layer 4 (TCP only) loadbalancer. It is configured to forward 443 and 2222. This configuration was working fine, but stopped after upgrading from 3.1.1 to 3.3.0.

After upgrading to 3.3.1, released the other day, I seem to be able to hijack containers again (just not all of them as I've seen a few failures similar to what I opened the issue for). Could thi

[2017-07-07 01:03] andrewedstrom commented on #1225
We have successfully ripped out all the usages of go-concourse and replaced them with fly. Left to be done:

[] Backfill missing tests for out command
[] Add fly sync
[] Turn this into a docker image

[2017-07-07 02:47] DRuggeri commented on #346
Maybe a dense question, but how does one see the TTL of a container? With fly? I'm seeing lots of containers hanging around (264, actually) with "none" defined for pipeline, job, build #, build id and name wreaking havoc on the ability to launch pipelines. They are all "check" type containers, so I'm curious if concourse even *thinks* they should be cleaned up.

[2017-07-07 02:54] DRuggeri commented on #1149
+1
This would be very helpful for those hitting the "max containers" errors

[2017-07-07 02:55] DRuggeri commented on #1073
+1
Similarly, those using a minimal docker image such as alpine don't have /bin/bash

[2017-07-07 03:12] DRuggeri commented on #847
Seeing the same as @robertjsullivan ... though #1149 makes it really hard to see what isn't getting cleaned up.

A quick grep for "error" in garden's stdout gives me this one most often:
[code]

And this one fairly often as well:
[code]

In both cases, the id (handle or image) is different with each log message. If it would help, I could recreate the deployment with BOSH and check for fresh errors

[2017-07-07 03:33] svrc-pivotal commented on #1342
Also running locally only.  I think my issue is also related to worker weirdness, this goes away when I recreate the worker vm and prune workers.

[2017-07-07 13:48] pn-santos opened #1366 "One worker causing resource check errors"
# Bug Report

I've been having an issue with one of three workers that I have no clue what could be about (maybe someone here may have more insight).

One of the three workers I'm running, as soon as it starts and registers with the ATC, starts printing the follwing error messages (repeated over and over for different handles and sessions):
[code]

In the ATC logs I see this (example - seems to ha

[2017-07-07 15:11] pn-santos commented on #1027
Not sure if it's in the scope of this issue or if a solution would also address this, but another problem I found associated with certs signed by private CAs is that, if ATC is using a cert signed by a private CA,  `fly execute` will fail if the task requires inputs/outputs because of the untrusted certificate
[code]

[2017-07-07 15:16] davidgarciaMontreal commented on #1333
I am having the same problem: with only one job:
 {"timestamp":"1499436411.899879456","source":"atc","message":"atc.create-job-build.trigger-immediately.try-start-next-pending-build.do.put.find-or-create-cow-volume-for-container.failed-to-create-volume-in-baggageclaim","log_level":2,"data":{"build-id":77,"build-name":"7","container":"578beb77-ec5e-42ce-713b-bd9a8639a4e4","error":"Post /volumes: ne

[2017-07-07 15:46] kevinzurek commented on #844
I ran into this same issue today (stuck on "discovering new versions") on a bosh deployed instance of Concourse 2.7.3 and noticed 1 of the 3 workers had a very high load. I was able to resolve the problem by manually sshing into the offending worker and restarting it.

Here's a snippet of the container load before restarting:
[code]

And an image of the worker load:
![concourse_workers_hanging](ht

[2017-07-07 19:57] jadekler commented on #1366
Seeing this, too

[2017-07-07 22:06] d commented on #987
![fix to legend and cpu utilization of halos](https://user-images.githubusercontent.com/440892/27978679-c2944164-6325-11e7-80ed-193bc23decd0.png)

[2017-07-08 22:45] doejon commented on #1251
Same here.
Binaries are installed directly on a ubuntu machine.
Last time 'file not found' occured, I upgraded from version 3.2.1 to 3.3.1, rebooted and everything worked fine.
Rebooting again and same error (file not found) occured.
I then tried to re-install 3.3.1, rebooted and 'file not found' still showed up.
After removing the pipeline and re-adding it, pipeline worked again.
Paused pipelines

[2017-07-09 03:38] jmcarp opened #1367 "Feature request: Support vault aws auth backend"
## What challenge are you facing?

It would be useful if atc could authenticate to vault using the [aws backend](https://www.vaultproject.io/docs/auth/aws.html). It looks like the current vault config allows users to pass arbitrary key-value options to arbitrary auth backends, but the aws backend requires some information that isn't available when atc starts. Specifically, the [ec2 auth method](ht

[2017-07-10 06:54] perfumister commented on #934
I'm also new to Concourse and experienced the same issue as _yngvark_.

I think the problem might be that we both may have been confused by the `path` in the `run` section, which (somewhat confusingly) implies that the build file would need to be in the folder containing the flight-school input.

After re-reading the instructions, it's not until after the file is created that we encounter the foll

[2017-07-10 09:49] hamid-elaosta commented on #1251
Is anyone else running their workers in Docker? The issue that caused this for me was the change in 3.X. If I use docker-compose down, docker-compose pull, docker-compose up for my upgrade; all my workers are "stalled" and have to be pruned in order to create new ones before this issue goes away. It's annoying because I have to manually prune workers every time I cycle them because of their IDs ch

[2017-07-10 12:51] thestevenbell commented on #1311
I am getting the same error: ` "cause":"devices: disable multicast snooping: operation not supported" `.
OS: RHEL 7
Concourse Version: 3.3.1
Deployment of Concourse via Docker
Browser: Chrome
Did this used to work: No, this is the first time trying to use Concourse on this RHEL 7 server.  The same build works on a fresh Ubuntu 16 server.

[2017-07-10 14:02] jtarchie commented on #1367
Thanks for the issue @jmcarp and doing some of the research. I'm going to discuss this a little more with the team.

[2017-07-10 17:55] andrewedstrom commented on #1225
Missing tests:
- [ ] What happens if you try to set a pipeline that you don't have auth for.
- [ ] Can you have multiple teams? --> Change existing tests to have third pipeline be for the other team.

fly sync
- [ ] Write tests
- [ ] Run Fly Sync before in and out steps

Docker imagifying
- [ ] Make docker image building jobs in resources pipeline
- [ ] dockerfile needs to have a version of fly in

[2017-07-10 18:56] vito opened #1368 "BaggageClaim volume creation should have an async API"
We can bump the timeout as much as we want but given that it can be O(N) based on the strategy no timeout will ever suffice for everything.

Let's make it async so we don't even need a crazy timeout.

[2017-07-10 19:10] vito opened #1369 "Support `params` in `image_resource`"
# Feature Request

## What challenge are you facing?

https://github.com/concourse/s3-resource/pull/75 was proposed in order to support pulling down rootfs images from a S3-compatible blob store. However its configuration of `unpack: true` feels more like something that belongs in `params`, as it only affects the format of the data being fetched, and not really the location/discovery of the resour

[2017-07-11 07:08] conteit opened #1370 "Issues with Concourse on Docker"
# Bug Report

I've followed instructions at [https://concourse.ci/docker-repository.html](https://concourse.ci/docker-repository.html) for installing the latest Concourse on my Docker. The only difference is that I've launched it `docker stack deploy concourse` because I've inited _swarm-mode_ (with a single node).

I've tried to run the [hello-world](https://concourse.ci/hello-world.html) but the

[2017-07-11 08:42] mbjelac commented on #1222
Hello there again... Not much reaction to my issue except one like and a label. Thanks gals/guys! :)

As the described problem is dangerously near my current CI setup, I wondered if I could solve the issue myself.

However, in a short exploration mission I failed to find a cookbook/documentation of how to setup a local build of the concourse web (I hope I can mock the other parts???). Is there suc

[2017-07-11 12:52] gonzalomarcote commented on #1033
You have to copy cert and private key into keys/web/ directory and call them in the docker-compose file pointing to the volume dir, like this:

[code]

[2017-07-11 13:43] #1341 closed

[2017-07-11 13:44] clarafu commented on #1341
Observed lower response times for ListAllPipelines (went from 16 ms to 2 ms).

[2017-07-11 13:44] #1345 closed

[2017-07-11 13:45] #1340 closed

[2017-07-11 13:46] #1335 closed

[2017-07-11 14:39] clarafu commented on #828
@ggeorgiev I'm actually not sure if I completely understand your proposed approach but what I got was that you wanted to solve the problem of the lifecycle of the versioned resources is not the same as the lifecycle of the pipeline (for some cases like a PR pipeline). We actually have a few approaches ourselves that I would like for you to look at, https://github.com/concourse/concourse/issues/117

[2017-07-11 14:43] jtarchie commented on #1370
@conteit, does swarm mode support docker links the same way as a single `docker-compose` does? That could be affecting how they communicate with each other.

[2017-07-11 14:48] jtarchie commented on #1370
When I tried running this locally, first time stack command, the very first thing I see is `Ignoring unsupported options: links, privileged, restart`.

You might have to modify the references of hostnames to be actual IP addresses.

[2017-07-11 14:52] clarafu commented on #783
@cameron-r I'm also wondering if you can commit the environment name to a git resource and have the deploy job only triggered off that git resource and read the environment name from it. That way you can keep a history of which environments have been triggered and it will have a somewhat similar flow to a UI prompt.

[2017-07-11 15:06] clarafu commented on #676
@mervyn777 Sorry, this issue is currently not prioritized so it might be a bit until it gets worked on. You might be able to use the pool-resource as a workaround to ensure that only one task is being run at a time.

[2017-07-11 15:44] gonzalomarcote commented on #896
This also happens in Linux.

[code]

[code]

one simple hello-world example doesn't work wit concourse in docker-compose

[2017-07-11 15:54] ls-avanier commented on #1230
We're also experiencing the same issue with the following GCE version :

[code]

We're getting both baggageclaim errors, and other types of failing permissions calls :

[2017-07-11 17:03] andrewedstrom commented on #1225
We're in the home stretch. Remaining on this story now:

- [ ] Manual testing
All the tests are passing, but we want to spin up a concourse locally and make it update itself using this resource just to confirm it's actually working.

- [ ] Figure out how we want to do the acceptance tests in the resources pipeline
The acceptance tests, like testflight, require that we have a fully functioning conc

[2017-07-11 17:13] chendrix commented on #1164
I think I'm going to try expanding the scope of this story a bit to be able for any team to move a pipeline to any other team.

I think the biggest UX implications are confirmation that you really want to do that, and obviously that a new pipeline will just show up in some new team, potentially exposing credentials to a different team.

[2017-07-11 17:39] cholick commented on #1096
Anyone have any tricks for tracking down the actual problem? Is there a log somewhere with a more informative error message? Facing this while developing a resource and pretty stumped.

[2017-07-11 17:48] chendrix commented on #1096
@cholick you can intercept the running container and run the check command yourself, e.g.

[code]

[2017-07-11 18:35] andrewedstrom commented on #1364
@ykrevnyi What version of concourse were you on before this, when it was working better?

[2017-07-11 19:18] ggeorgiev commented on #828
@clarafu #413 does not solve the problem - this is just one of the things that I am facing without governor type abstraction.

A pipeline that creates and removes other pipelines is the closest thing to a resource governor. The issues with multiple pipelines that I was facing with 2.x.x was resource overuse when many similar pipelines are there. Unfortunately, with 3.x.x not all of these issues ar

[2017-07-11 19:39] pivotal-topher-bullock commented on #1230
Thanks for the information everyone, we've confirmed that this is a support issue with Concourse `v3.1.0+` running on Google's Container-Optimized OS with Kernel version `4.4.35+`.

Reproduced this using GCE cluster and the latest concourse/concourse Docker image.
Digging into whether this is a kernel specific issue, or something complicated by Docker's filesystem mounts. Running workers across **

[2017-07-11 19:51] SocalNick commented on #1164
Awesome, thanks @chendrix !

[2017-07-11 19:59] ese commented on #1230
@pivotal-topher-bullock Here is the config of kernel 4.4.65-k8s included in the debian image used by kops (kubernetes operations software)
It has the same problem and can be useful

https://filebin.net/oywpevo1wiu1vyb2

Also you can find AWS AMIs in all regions with this kernel installed looking for:
k8s-1.6-debian-jessie-amd64-hvm-ebs-2017-05-02

[2017-07-11 20:36] chendrix commented on #1164
After talking with @ebabani and @jtarchie there's a potentially malicious security attack if you can assign a pipeline (e.g. one that's a memory bomb) and it starts automatically on team-specific or tagged workers.

[2017-07-11 20:55] pivotal-topher-bullock commented on #1230
Booted up the latest beta Container-Optimized OS and ran a standalone binary worker with the same result. The latest beta uses kernel `4.4.64+`. This confirms that it isn't a Docker issue on top and is likely a kernel support issue.

@ese thanks for the lead on configs, going to see what the diff (if any) is between these distros configs and versions and a known working one.

[This commit to 4.5](

[2017-07-11 21:45] jtarchie commented on #1333
We pulled in the PRs from @SHyx0rmZ that make the timeout for baggage claim timeout configurable through the bosh release and atc CLI.

Since there is ongoing work to change the behaviour in #1368, we are going to close this issue.

Please feel free to comment on it if extending the timeout still causes you issues. Thanks!

[2017-07-11 21:45] #1333 closed

[2017-07-11 22:08] pivotal-topher-bullock commented on #1230
**Update** ran another worker on Ubuntu 14.04 Trusty, whose kernel version is `4.4.0-83-generic` and confirmed it doesn't have the same issue. Per @ese's hint I dumped the configuration for each.

Going to leave them here for posterity / my own ability to peruse them later.

[ubuntu-14-04-working.txt](https://github.com/concourse/concourse/files/1140359/ubuntu-14-04-working.txt)
[cos-4-4-64-not-wo

[2017-07-12 01:51] william-tran commented on #1230
Do you mean naive driver @topherbullock? Is that the best workaround for now? What's the impact of using naive driver? I'd love to upgrade, my postgres RDS is getting maxed out on cpu.

[2017-07-12 02:02] avanier commented on #1230
@william-tran Setting `CONCOURSE_BAGGAGE_CLAIM_DRIVER` to `naive` wasn't sufficient for me under the configuration I listed above. While it did fix the bulk of the issues I had, a significant amount of resources still couldn't schedule and got `runc` to error out due to privilege errors.

I might be experiencing other errors as I was upgrading from `3.0.0` to `3.3.1`, but Garden is definitely quit

[2017-07-12 07:15] conteit commented on #1370
As far as I know `links` is not required since, as long as you refer to the other services with their name (e.g. concourse-db) the internal DNS is able to address the right sibling.

The `restart` option became `restart_policy` and has slightly different syntax, but should not interfere with standard operations.

The `privileged` option seems to be not available. Could it be the issue?

[2017-07-12 07:31] Rukenshia opened #1371 "Custom Resources not available on tagged workers"
Similar to #152 , I can only access the default provided resources from concourse and not custom resources on tagged workers. The resource is defined with the tag:

[code]

Error in the UI: `custom resource type 'artifactory' version not found`

* Concourse version: 3.3.1
* Deployment type (BOSH/Docker/binary): binary (linux worker)

[2017-07-12 13:08] clarafu commented on #454
@ymedlop The Concourse v3.3.0 introduced being able to template out the `source:` in the `image_resource` within the task file. Does this solve your issue or were you looking for only using a configuration file with `--load-from-vars`?

[2017-07-12 14:03] jtarchie commented on #1230
Just out of curiosity, we took a look at the diff of the config between the two files @pivotal-topher-bullock provided.

The config that stands out the most for Ubuntu:

[code]

The Container Optimized OS only contains:

[code]

@pivotal-topher-bullock, what are the outstanding issues that need to be done to resolve this issue. It seems the last few comments have a misunderstanding if we should be

[2017-07-12 14:53] groenborg opened #1372 "Question: Syslog forward concourse logs"
Hi

I am trying to create an ELK monitoring setup for my BOSH and Concourse setup. With the [syslog_forwarder](https://github.com/cloudfoundry/syslog-release) I can emit bosh events as far as I understood, but I also want all the concourse logs! The whole rieman and grafana setup from the metrics documentation is not within the scope and not something we can invest time in.

Is there a way I can f

[2017-07-12 15:03] SocalNick commented on #1164
So limit moving pipelines from main team to other teams?

[2017-07-12 15:59] jtarchie commented on #1372
@groenborg, please move this question to stack overflow with the `concourse` tag. We are trying to create a community of knowledge, which we can respond and others can easily search for. Thanks!

[2017-07-12 15:59] #1372 closed

[2017-07-12 16:18] william-tran commented on #1230
@avanier I wonder if sticking with `btrfs` would work out the best for kernels that don't support overlay. I was having some issues with it but at least those issues are recoverable, see https://github.com/kubernetes/charts/tree/master/stable/concourse#restarting-workers. I haven't needed to recycle workers in 11 days!

My current setup:
Concourse 3.0.1
Kernel Version: 4.4.41-k8s
OS Image: Debian

[2017-07-12 16:32] cjcjameson commented on #1172
Sometimes teams / projects would agree that the threshold for a PR pipeline passing is lower than that for the master pipeline (because of long / expensive tests that should only be run after the code integrates)

[2017-07-12 16:33] jkunzelman opened #1373 "Trouble getting fly to build"
Hi there!

Please pick the appropriate section (Feature Request or Bug Report) and delete the rest of this. Note that "missing support for X" is a feature request, not a bug!

# Bug Report
installed concourse with vagrant worked with out a hitch.

cloned concourse repo to begin to follow instructions to build fly.

used brew install go
tried to do go build
failed with dependancies

Bug reports are

[2017-07-12 16:39] SHyx0rmZ commented on #1371
Have you also tried setting `tags` in both `resource_types` and `resources` at the same time?

[2017-07-12 17:56] chendrix commented on #1373
@jkunzelman I'd also ask if you are attempting to build fly from scratch because you're trying to work on fly or were you just trying to get a binary of fly so you can interact with your Concourse vagrant box?

If the latter, you should be aware that you can download the fly binary via the little windows/osx/linux icons in the bottom right corner of the Web UI of your running Concourse

[2017-07-12 18:07] vito commented on #1230
@william-tran Yeah, I would definitely recommend `btrfs` over `naive` as a workaround. That's what your cluster would have been using pre-3.1.0. The naive backend should only ever be a last resort; it is very inefficient.

@avanier Minor point, but `CONCOURSE_BAGGAGE_CLAIM_DRIVER` should be `CONCOURSE_BAGGAGECLAIM_DRIVER`. Your setting may not have taken effect at all if the underscore was there.

[2017-07-12 18:09] jkunzelman commented on #1373
I had a problem with direnv so it was not seeing the local libraries. Thanks for your quick responses. I hadn't had a chance to come back an close this yet.

[2017-07-12 18:09] #1373 closed

[2017-07-12 18:24] chendrix commented on #1370
@conteit yes that could very well be the issue.

`docker stack` is not one of the team's supported deployment mechanisms

[2017-07-12 19:23] Rukenshia commented on #1371
@SHyx0rmZ yes, I tried putting them _everywhere_. `resource_types`, `resources`, `get` tasks

[2017-07-12 20:32] andrewedstrom commented on #1339
JT and I just added some additional tests to make sure we didn't break everything.

[2017-07-12 20:52] vito commented on #1230
The "permission denied" error seems to come from an `openat()` syscall when creating the destination file for the bind-mount of the Garden-runC init process in to the container's rootfs. Here's a strace showing only `mount` and `openat` syscalls: https://gist.githubusercontent.com/vito/b5c2a772349999f8f4c661a4febde97f/raw/161cbee9685e820948e084818c4b0d033bc39a51/permission%2520denied%2520trace

Th

[2017-07-12 22:45] andrewedstrom opened #1374 "`fly containers` does not give the pipeline/job/name of check containers"
All of the check containers returned by `fly containers` are missing names, pipelines, and jobs. This makes the output basically useless for anyone trying to debug things on their check containers.

[code]

I assume this has something to do with the container/worker/volume lifecycle improvements we made in 3.0.0, since resources can now be shared between pipelines if they have the same resource co

[2017-07-12 22:51] SHyx0rmZ commented on #1368
I'm currently trying my hands at implementing this. Progress can be followed at https://github.com/SHyx0rmZ/baggageclaim/tree/async-volume-creation. I will create a pull request once I have verified it's actually solving the problem and have written tests. I'll gladly accept any feedback.

[2017-07-13 08:47] ykrevnyi commented on #1364
@andrewedstrom I was on `v2.7.7`

Yesterday updated Concourse to `v3.3.2` and problem still exists.
The CI just waiting for 15-20 minutes before every `put` step without any output at all.

[2017-07-13 11:43] JohannesRudolph opened #1375 "Build details don't load in MS Edge"
# Bug Report

I'm frequently using lots of different browsers for web dev and just noticed that I can't open build details in MS Edge (e.g. `/builds/2188`)

Instead, I see this error logged on the Javascript Console

[code]
* Concourse version: 3.3.1
* Browser (if applicable): MS Edge
* Did this used to work? Don't know

[2017-07-13 12:32] DRuggeri commented on #1342
After letting things settle, similar to what @svrc-pivotal points out, things seem to be OK. Seems maybe this was an unexpected side effect of upgrading. I'll go ahead and close this out until I can find a reliable reproducer of the issue.

[2017-07-13 12:32] #1342 closed

[2017-07-13 12:35] jtarchie commented on #1375
Apparently this is a documented [issue](https://wpdev.uservoice.com/forums/257854-project-spartan-platform/suggestions/6263825-server-sent-events-eventsource) with Edge. It doesn't support SSE through Javascript.

Maybe we can use a polyfill to _backwards support_ browsers?

[2017-07-13 14:47] william-tran commented on #1230
Aside: Looks like there was something wrong with that RDS instance, we were using an m3.medium, moved it to t2.medium, went from 40%-100% CPU down to a pretty constant 8%, possibly due to the reboot, or from the extra CPU core. So not as urgent for me to upgrade now, but I'll still work on that issue above so we can have a workaround for k8s users.

[2017-07-13 15:29] jtarchie commented on #1356
@JohannesRudolph, it sounds like your issue has been resolved. Can we close this issue?

The discussion being had in #787 is an ongoing discussion and you are welcome to contribute.

[2017-07-13 15:33] JohannesRudolph commented on #1356
Yes, we're good now that we actively try to limit the memory used during builds.

[2017-07-13 15:33] #1356 closed

[2017-07-13 15:37] jtarchie commented on #1336
@literatesnow, it sounds like your issue has been resolved. Can we close this issue?

[2017-07-13 15:44] jtarchie commented on #1371
@Rukenshia, a resource-type docker image has to be downloaded first before it can be run. The error you are receiving is the one passed along while the base resource-type docker image is being downloaded, too.

Do you find that your pipelines start to work after awhile?

[2017-07-13 15:59] jtarchie commented on #1371
Actually, I've been able to recreate this on my local concourse.

The pipeline I've used:

[code]

I deployed my workers with the tag `asdf` (very scientifical).

The repeating logs I am seeing from ATC when I trigger a build

[code]

[2017-07-13 18:38] jtarchie opened #1376 "deploy windows worker to concourse deployment"
Update the windows worker to be a bosh deployed.

Update bosh deployment manifest for concourse
* [x] use windows stemcell
* [x] use windows bosh release for concourse worker -- https://github.com/pivotal-cf-experimental/concourse-windows-release
* [x] update deployment manifest
* [x] deploy

[2017-07-13 21:01] #1376 closed

[2017-07-13 21:04] clarafu opened #1377 "Fly should only permit uninterpolated source/params"
After the new vault and params were added to v3.3.0, fly will not error when there are uninterpolated variables in the pipeline config because the interpolation of secrets from a credential manager will only happen when it is needed (during the step or checks). In result, this allows pipeline configs like:

[code]
to not error and will set the job name to `((job-name))` if the variable was not giv

[2017-07-13 21:08] literatesnow commented on #1336
@jtarchie Sure, unless there's a plan to make Concourse work without having a consistent worker running.

[2017-07-13 22:22] jtarchie commented on #1336
@literatesnow, I am not sure I follow. Can you clarify the last statement?

[2017-07-13 23:46] chendrix commented on #1369
Accepting.

[code]

[2017-07-13 23:46] #1369 closed

[2017-07-14 05:09] ykrevnyi commented on #1364
Just double checked and can confirm that the same pipeline in `v3.3.2` is actually slower then in `v2.7.7`.

Scenario had been tested 10 time in both versions.

It is interesting that the most steps finished faster in `v3.3.2` then `v2.7.7`. But then `v3.2.2` just stuck in `put: docker-image` without any output.

[2017-07-14 11:13] firepol opened #1378 "Flight School Tutorial assumes undocumented knowledge (missing required input)"
Hi there!

I'm new to Concourse and I think I found some issues in the tutorial. Please be patient, I believe tutorials should help newbies like me, and when something is missing it can mean hours of headaches...

# Bug Report
I'm trying to follow the tutorial at https://concourse.ci/flight-school.html
I previously [installed Concourse via Vagrant](https://concourse.ci/vagrant.html) and I could ru

[2017-07-14 12:54] zaolin opened #1379 "Add pre-compiled ARM binaries for releases"
Hey guys,

# Feature Request
I wanted to use concourse ci workers on my raspberry pi 3 for doing QA with x86 firmware.
The QA should be really cheap < 100$ so that people can attach their own test stand.
Would it be possible to deliver pre-compiled ARM binaries for releases ?

Best Regards, Zaolin

---

Edit from @taylorsilva April 2022

No plans for official ARM images yet because it's hard to ad

[2017-07-14 16:32] andrewedstrom commented on #1378
Would you mind asking this question on Stack Overflow and tagging it `concourse`? We're trying to build up a repository of common questions and answers there so it would be a big help. :)

I'm going to close this since it's more of a question and we're trying to use github issues for feature requests and bugs, but we'll be happy to answer this question over at Stack Overflow!

[2017-07-14 17:33] #1339 closed

[2017-07-14 17:51] andrewedstrom commented on #1255
Has anyone figured out a series of steps we can use to recreate this issue? We want to look into this but since we aren't experiencing the issue ourselves it's tough for us to debug.

[2017-07-14 17:56] andrewedstrom commented on #1230
@pivotal-topher-bullock Since you have some Kubernetes experience/context, would you mind taking a look at this?