[2019-07-12 16:07] jaresty commented on #481
I totally agree that json-schema would be great to have for concourse pipelines. In fact, there is tooling available for various IDEs that can validate against json-schema and would make developing pipelines easier.

[2019-07-12 16:34] pivotal-jwinters commented on #3863
@pivotal-jamie-klassen this is definitely doable (even with ephemeral check containers). @xtremerui and I have been talking about this, and it should be quite easy to implement. Not sure if it will make it into #3788 though.

[2019-07-12 18:59] esauser opened #4120 "Display Who/What Triggered a Job in UI"
## What challenge are you facing?
We are unable to determine who triggered a job, be it a user or an automated trigger.  At times, it would be be nice to know who or what triggered the job when looking at the history.

## What would make this better?
Simply displaying the user name and/or ID or the resource and relevant ID that triggered the job in the UI.

## Are you interested in implementing th

[2019-07-12 20:32] kcmannem commented on #3863
yeah I think it should still be possible with ephemeral containers

[2019-07-12 20:44] tarper24 opened #4121 "Pipeline Status badge failing for PRs"
## What challenge are you facing?

Almost of the pipelines my coworkers and I create have a separate job(s) that run on pull requests to the repo. This means that the pipeline badge will show status of failing if a PR commits code that results in failing a PR job.

## What would make this better?

The two ideas I've had regarding a potential solution for this are:

1. Allow explicitly removing a j

[2019-07-12 21:43] kcmannem commented on #4100
I'm surprised this is actually happening. Seems like a pretty common deployment scenario and should have been caught in testing.

I looked through our worker selection code. The logic hasn't changed. It might be a problem higher up. The way our bosh release is structured changed between 4.2.x and 5.x.

Tags use to be passed as flags in 4.2.x
https://github.com/concourse/concourse-bosh-release/blob

[2019-07-14 07:14] chromz opened #4123 "Concourse web is not working with a nginx location different to "/""
## Bug Report

When concourse web is deployed under a nginx location different than "/"  it shows a blank page with some JavaScript errors and warnings on the console.

## Steps to Reproduce

* Set nginx as a reverse proxy to a concourse web interface with a location different to "/" like "/concourse"  ([example config](https://gist.github.com/chromz/c2221aa0f99be7c693f585a1b28710d1))
* Set CONCOU

[2019-07-14 21:39] kallisti5 commented on #4123
I literally just opened a similar issue a few days ago :-)

https://github.com/concourse/concourse/issues/4115

Looks like you tried the same things I did.

[2019-07-15 04:58] jeffreylim17 commented on #783
Any updates on this one?

[2019-07-15 08:06] evanchaoli commented on #4123
I think this is a dup of Issue #942

[2019-07-15 08:11] evanchaoli commented on #4116
@vito I think this is a serious bug. We tried to restart ATC but didn't help. This issue prevents us from upgrading to 5.3.0. The problem cluster is still there.  If you have somebody to work with us, we can even do live debug.

[2019-07-15 08:28] evanchaoli commented on #4115
This should be a dup of issue #942 . Looks like Concourse doesn't support from day 1.

[2019-07-15 09:03] evanchaoli commented on #4026
After reading some Concourse code, I think the change should be in function `buildLogCollector.Run()` in `atc/gc/build_log_collector.go`. I may raise a PR.

[2019-07-15 09:10] evanchaoli commented on #4116
More info to add:
1. This problem suddenly happened after we had been using 5.3.0 for a while.
2. The problem is with all browsers.
3. From ATC log, we can see LDAP login success, no any error log. But UI will just jump back to the login page.

[2019-07-15 13:50] YoussB opened #4124 "Investigate k8s-topgun flakiness"
### Background:
- Some time ago, we had a problem with `k8s-topgun` being flaky due to namespace and release colliding names.
- Recently we're seeing the same flakiness again, not in the same rate as before but happening often.

### Reference failures:
- https://ci.concourse-ci.org/teams/main/pipelines/concourse/jobs/k8s-topgun/builds/1272
- https://ci.concourse-ci.org/teams/main/pipelines/concour

[2019-07-15 14:00] #429 closed

[2019-07-15 14:20] scottietremendous commented on #2094
**Secondary Acceptance Criteria**

[ ] Update our documentation around bbr with @matthewpereira

[2019-07-15 14:31] pivotal-jamie-klassen commented on #4115
@evanchaoli is correct this is a dupe of #942 and I think that's the best issue to center the discussion around.

[2019-07-15 14:31] #4115 closed

[2019-07-15 14:31] vchrisb commented on #2733
I was also surprised that is not supported.

[2019-07-15 14:32] pivotal-jamie-klassen commented on #4123
Thanks for your great description, but let's close this and focus the discussion in #942. Some of the other consequences of this feature are being explored on that issue.

[2019-07-15 14:32] #4123 closed

[2019-07-15 14:41] pivotal-jamie-klassen commented on #942
This doesn't fit cleanly into the existing roadmaps, so it's not actually prioritized. I'm well-positioned to approach the web parts of this so I'll take a look on a Friday, but I'm less familiar with how the API will be impacted so I'm adding `help wanted` in case any kind community members have bright ideas.

[2019-07-15 15:19] kcmannem commented on #4054
Remaining work

- [ ] Compiling `in/pull` action

- [ ] Integration tests for `in` & `out`

**Nice to have**
- [ ] Unit test with K8s rich API client
- [ ] investigate whether to have a watcher container for each output or a single watcher for all outputs, this will need improvements to porter later on

[2019-07-15 16:03] taylorsilva opened #4125 "Slow Build Events"
The latest builds for strabo are taking a long time (about 30-40 s) to load: https://hush-house.pivotal.io/teams/cf-tools/pipelines/strabo/jobs/generate-pivotal-feeds/builds/74

and doing
[code]

takes 18s.

From the browser it usually takes 3-8s. Not sure about how long it used to take from fly, thought it was an interesting stat though.

We're not seeing any high loads on the database. It's curr

[2019-07-15 16:07] mhuangpivotal opened #4126 "Improve `fly login` error message for nonexistent team"
## What challenge are you facing?

When `fly login` with a team that does not exist, the error message looks like the following:

[code]

which is misleading to debug the issue.

## What would make this better?

Change the error message to something like "teamname does not exist"

## Are you interested in implementing this yourself?

maybe

[2019-07-15 16:29] tybritten opened #4127 "OIDC Secret with special characters fails"
## Bug Report

If you configure an OIDC Client Secret that contains special characters it doesn't work

## Steps to Reproduce

deployed 5.3.0 via helm chart and configured OIDC settings there

## Expected Results

to authenticate

## Actual Results

failed with this error message:
```Failed to authenticate: oidc: failed to get token: oauth2: cannot fetch token: 401 Response: {"error":"unauthorized

[2019-07-15 17:43] jama22 commented on #4127
Linking to #2097

[2019-07-15 17:51] jama22 commented on #4116
@pivotal-jwinters any thoughts on why this might be happening?

[2019-07-15 17:56] jama22 commented on #4026
Wanted to ask some clarifying questions if you don't mind @evanchaoli.

For example in this scenario:
![example](https://user-images.githubusercontent.com/19274230/61237248-0f502b80-a708-11e9-9124-2f52cb9d56ea.png)

with a log retention of 5, Concourse would only then keep  907, 906, 905, 901, and 900?

[2019-07-15 18:12] taylorsilva commented on #3774
When trying to run `quickstart` with the latest master we get:

[code]

When using docker-compose with the file @cirocosta posted above then the quickstart command works.

@nader-ziada and I were wondering if it still makes sense to have the `quickstart` command in the product at all, given we don't even mention it on our homepage or [installation docs](https://concourse-ci.org/install.html).

The

[2019-07-15 18:33] ddadlani commented on #1215
It seems that fixing this would require a new database query which is pretty heavy. Moving this back into the backlog so we can revisit it later.

[2019-07-15 18:36] ddadlani commented on #3424
If we switch over to `containerd` (#3891) the implementation of this will change. Just a note for any future changes

[2019-07-15 18:38] ddadlani commented on #2928
The direction that this is now taking is that there will be a new experimental placement strategy called `fewest-active-tasks` which is being implemented by @aledeganopix4d in #4118. Discussion leading up to this point is in #4069

[2019-07-15 18:47] #4124 closed

[2019-07-15 18:57] ddadlani commented on #4100
This might be more of a bosh release issue than a code issue. We might need to investigate how the environment vars are being set by the release.

[2019-07-15 19:03] ddadlani opened #4130 "Spike: Can we switch to `containerd` mode in Garden directly?"
We plan to switch over to `containerd` eventually (#3891) but as a first step we might just be able to run garden in `containerd` mode (instead of `runc`). The API should remain the same for us, so let's see if we can just switch it and run testflight/topgun with no issues.

If there are issues, let's document them here for further investigation.

[2019-07-15 19:04] goldstar611 opened #4131 "No Workers error happening a lot"
## Bug Report

On a smaller CI installation, we are getting the "no workers" error a lot more than I think we should. This can happen when checking a resource, or when a new job is requested from the web interface.

Initially we were getting this error with just 1 worker and we assumed adding a second worker would fix the problem. It did not.

The worker(s) are on the same machine as concourse-web

[2019-07-15 19:08] pivotal-bin-ju commented on #2094
After we restored from the concourse backup `concourse/5.3.1-dev.20190706T021536Z.commit.d2a8214` we still had the same error as the above.

[code]

So even we have the same version of the concourse and postgresql we still have this problem.

[2019-07-15 19:21] goldstar611 commented on #4131
I just wanted to add a comment that is mostly anecdotal:

[code]

[2019-07-15 20:35] kcmannem commented on #4131
The workers periodically heartbeat their state to the web node. An ttl is applied to the worker based on when the heartbeat happened. I can see that with such a high utilization, heartbeats will be starved out causing the worker to pass its ttl from the perspective of the web node. We do not schedule steps on worker past its ttl. This could explain what you are seeing.  The heartbeat interval can

[2019-07-15 20:42] goldstar611 commented on #4131
Ok, I'm going to set it to 90, restart the web node and see how that goes. Thanks for the tip!

[2019-07-15 20:49] gnasr opened #4132 "UI not showing build logs"
## Bug Report

 UI is not showing build logs randomly for most of the builds, keeps loading forever

## Steps to Reproduce

 Go to the build url and the build logs never finish loading

## Expected Results

The UI must show the build logs, since i can get them with fly and i can see the events querying the api directly.
Also i can see the output when i trigger the job from the UI but if i reload t

[2019-07-15 21:19] ddadlani commented on #4052
To create an "interface" that may be common to both k8s and Garden steps, we first need to pull out any common runtime-specific logic from the step.

As a first approach, we are maintaining separate `Run` implementations for each kind of step, i.e. `RunTaskStep` in `worker.Client`. This is being worked on in #4109, which is close to being ready to merge in.

The next thing to do would be to work o

[2019-07-16 00:01] antonu17 commented on #4126
I faced exactly the same problem today. One of our users reported `error: user [username] is not in team [teamname]` which made me find the `[teamname]` doesn't even exist

[2019-07-16 00:09] antonu17 commented on #4116
From my experience, it might be related to 4>5 upgrade, where old teams were created with `--allow-all-users`. I remember seeing 401 after the upgrade. This problem was fixed by updating all existing teams, setting new-style users/groups.

[2019-07-16 00:18] antonu17 commented on #4106
This one is very annoying. After upgrade 5.2.0 to 5.3.0, our users started reporting this at least 4-5 times daily! Aborting build could take up to 30-40 minutes.
(to get the scale, we have ~300 pipelines, ~8 jobs each. 60 teams, 450 users). Our cluster contains 3 web notes, minimum of 8 workers (autoscaling makes it up to 25 in working hours). I noticed long abort time occurs when a worker runnin

[2019-07-16 00:24] antonu17 commented on #4071
As far as I remember, we had a big issue with overlay a year ago: there was a big performance regression while passing outputs/inputs between steps. The delay between steps was up to a minute or even more.
But thanks for pointing this out. We'll definitely try overlay next week and I'll provide feedback.

[2019-07-16 01:08] evanchaoli commented on #4116
@antonu17 How to do the update teams?

[2019-07-16 01:22] evanchaoli commented on #4116
After I manually deleted some teams directly from db, the issue is resolved, I can login with my LDAP credential now. But I still don't understand the root cause. Concourse should at least log some error, otherwise it would be super hard to debugging this kind of issues.

[2019-07-16 03:52] evanchaoli commented on #4116
Now I know the root cause. Because Concourse doesn't support an admin role, in order to better monitor the cluster, a few of our core team members are in all team, which is done by a set-team automation pipeline. Looks like a login token includes all teams the user is in, the more teams the longer token. Eventually causes login cookie to be longer than 4096 bytes.

What could be a solution?

[2019-07-16 08:19] thelangley commented on #3512
This would be ace to prioritise. We're having issues with this as we use Chrome :(

[2019-07-16 08:22] combor commented on #3512
Apart from that, it's imposible to disable `x-frame-options`. We have a simple monitoring board for multiple concourse instances which is embeding them using iframes. This option made it broken as it doesn't help setting `x-frame-options` to sameorigin.

[2019-07-16 10:37] antonu17 commented on #4116
I updated all existing teams via `fly set-team -n <team> --ldap-group=<group1> --ldap-group=<groupN>`

Team's look before update:

[code]

After update:

[code]

[2019-07-16 10:40] antonu17 commented on #4116
Yes, keeping all the teams in a JWT token is really annoying too. Especially, when a new team is created, access granted, but users report "I have no access" and I have to make them logout/login in a browser.

[2019-07-16 10:56] u2g-tg commented on #2010
I just received these symptoms with 5.1.0, after a manual trigger, then resolving an absent lock for the pool resource. All build pre-steps were ticked, but it didn't transition out of pending.

A restart of the web node caused the job to start working without having to abort it.

[2019-07-16 12:26] cirocosta commented on #4116
@evanchaoli thanks for taking the time to investigate!

That's indeed something that people have been asking for a while. I think these two issues capture what you'd like supported:

- [Super admin user](https://github.com/concourse/concourse/issues/3853)
- [Support large JWT token in web UI](https://github.com/concourse/concourse/issues/3141)

Do you think we should close this one then? It'd be g

[2019-07-16 12:34] evanchaoli commented on #3853
If there is a super admin user, then nobody should suppose to be in all teams, then issue #4116 should seldom been hit. Can we prioritize this task?

[2019-07-16 12:36] evanchaoli commented on #4116
Closing per @cirocosta 's comment.

[2019-07-16 12:36] #4116 closed

[2019-07-16 13:53] zoetian commented on #4094
awaiting the merge these 2 PRs:
- helm/charts#15543
- #4095

[2019-07-16 14:22] jama22 commented on #3853
@evanchaoli this issue will be picked up by the Concourse for PCF team in the coming weeks

[2019-07-16 14:25] #3803 closed

[2019-07-16 14:38] jama22 commented on #4120
Thematically similar to #2687 around adding rich information around jobs

[2019-07-16 15:04] kwladyka commented on #3799
Issue still exist.

[2019-07-16 15:34] #3733 closed

[2019-07-16 15:38] fullstacktester commented on #3793
Unfortunately, I moved jobs and no longer use Concourse so won't be able to
pick this up.

I still think it's a good feature for somebody to implement though.

On Tue, 16 Jul 2019, 16:00 stale[bot], <notifications@github.com> wrote:

[2019-07-16 16:07] eedwards-sk commented on #575
This is still something I'm actively interested in. I tried using extremely high check intervals but ran into some edge cases where the resource would never end up checking itself (even during manually initiated runs) and could only be fixed with a manual check of the resource or by re-creating the web node.

Until global resources are completely ironed out, being able to disable automatically che

[2019-07-16 16:54] cirocosta commented on #3406
I just added this story to the chart backlog so that we end up tackling this 😁  thx bot!

[2019-07-16 16:56] cirocosta commented on #3775
This issue was the predecessor of https://github.com/concourse/concourse/issues/3819 - I'll close this one then 😁

thank you!

[2019-07-16 16:56] #3775 closed

[2019-07-16 17:27] cirocosta commented on #3332
I don't see a point in tagging those anymore 🤷‍♂  If you do, please let me know!

[2019-07-16 17:27] #3332 closed

[2019-07-16 17:27] #2561 closed

[2019-07-16 18:04] nelsam commented on #2259
D'oh, time has been unkind to my memory.

I'm still trying to find time to actually work out a PR for this, but I think it's fairly important to make sure the columns are there for those query constraints.  I'll uh ... try to ... free up my schedule somehow...

[2019-07-16 18:52] eedwards-sk commented on #3208
This is still a big issue for me. In fact I haven't yet even added a local user because I haven't figured out how I want to manage deployment and rotation of its credentials for automation.

The underlying issue I see is that I have to put credentials for a user with power to do everything in concourse, directly in the config on a web server.

[2019-07-16 18:54] cirocosta commented on #3034
yep, still appears 😬  (5.3.0)

<img width="892" alt="Screen Shot 2019-07-16 at 2 53 44 PM" src="https://user-images.githubusercontent.com/3574444/61321445-899cb080-a7d9-11e9-9489-59e81b47dc4e.png">

[2019-07-16 19:00] #850 closed

[2019-07-16 20:01] #3772 closed

[2019-07-16 20:23] goldstar611 commented on #4131
I'm back with more information :) And it's not pretty at all.
I got suspicious of systemd because everyone wants to blame systemd. It is not the issue for me (This time).

I've got one of my check containers into a spot where it can no longer fetch the resource updates.
Full disclosure: It's a custom resource, but it's based on the 'builtin' git resource and uses alpine linux.

This was right afte

[2019-07-16 20:29] #1343 closed

[2019-07-16 20:46] hfinucane commented on #728
this is working in 5.2.0

[2019-07-16 20:46] #728 closed

[2019-07-16 20:50] BenElgar commented on #996
+1 (for the sake of the bot)

I would find it useful and, judging by the duplicate issue opened 11 days ago, I'm not completely alone.

[2019-07-17 00:31] phillbaker commented on #1298
Would ask that this issue and/or https://github.com/concourse/concourse/issues/736 remain open as it's a common problem and the proposed fix (spaces) is a large and uncertain features (https://github.com/concourse/rfcs/pull/24).

[2019-07-17 00:31] phillbaker commented on #736
Would ask that this issue and/or https://github.com/concourse/concourse/issues/1298 remain open as it's a common problem and the proposed fix (spaces) is a large and uncertain features (https://github.com/concourse/rfcs/pull/24).

[2019-07-17 01:38] evanchaoli commented on #4126
As a return to being granted triage permission, let me contribute a PR for this small enhancement. :)

[2019-07-17 02:23] u5surf commented on #4126
If `team Names` does not exists its elements, then I thought `checkTokenTeams` just returns error("teamname does not exist") Is it misunderstand?

[2019-07-17 07:00] evanchaoli commented on #4126
As my understanding, `checkTokenTeams` extracts teams from token, and check if login-team is one of token-teams. `checkTokenTeams` has no idea if login team exists or not.

[2019-07-17 07:32] shemau commented on #4120
As a work around to viewing this in the UI, you can enable auditing and check the logs.

https://concourse-ci.org/concourse-web.html#audit-logs

This addresses who started a job from a security/audit perspective, but lacks the finesse of being able to view the information through the UI.

[2019-07-17 10:26] jimconner commented on #3512
+1 same issue here. We have a concourse screen as part of a monitoring display which is using iFrames to pull info from many sources. No config options for being able to set X-Frame-Options for anything  other than the default.

[2019-07-17 11:23] elsmorian commented on #4132
We are seeing the same here, can't seem to find a pattern for which ones load and which do not.

## Version Info

* Concourse version: 5.3.0
* Deployment type (BOSH/Docker/binary): Docker
* Infrastructure/IaaS: Kubernetes 1.13.7-gke.8 deployed via Helm
* Browser (if applicable): Safari, Chrome
* Did this used to work? Yes

[2019-07-17 11:28] pikesley commented on #4132
Same in Firefox

[2019-07-17 11:34] stringfellow commented on #4132
It seems to be the case that the resources load like this for a functional page:
* <event number>
* plan
* resources
* events

and for a dysfunctional page:
* <event number>
* plan
* resources
* *silence*

as @gnasr notes, you can still get to the events stream and read the output by navigating directly to it

[2019-07-17 13:11] majewsky commented on #1299
FWIW, I would still like to have something to alleviate the formatting pain in the image I showed above. (The number of datacenters has doubled in the meantime, so it looks even worse now.)

[2019-07-17 13:17] kallisti5 commented on #942
Deploying behind reverse proxies is *extremely* common now-a-days. Is it as simple as adjusting where the web artifacts search for their files?

It looks like Fly actually accepts the non '/' path:

[code]

[2019-07-17 13:49] pivotal-bin-ju commented on #2094
**DEV NOTE**
I realized both the `db only` and `full concourse deployment` require users to do something manually for the restore.
I figured this out by adding script in the job `bbr-atcdb` before we executing the restore script from `database-backup-restorer`

Next Steps:
- [ ] Verify the restored environment by executing the test pipeline that we prepared before we did the backup.
- [ ] Integrat

[2019-07-17 14:06] YoussB commented on #4124
`k8s-topgun` has been running smoothly since the commit made it to the job.

closing this now and will open a new one if needed.

[2019-07-17 15:42] taylorsilva commented on #3774
- we want to add a job to test the docker-compose file in the docs repo
- we want to run the smoke tests under `concourse/web/watjs/smoke.js`
  - these are used in the task `ci/tasks/scripts/smoke`
- we would create a job that has
  - the ci repo
  - the docs repo
  - the concourse repo
  - needs a container with: yarn, js-stuff, and docker

- end result is a PR to the ci repo

[2019-07-17 16:21] josecv commented on #3989
We also encountered this in our concourse cluster, which is also deployed on kubernetes, and also has 3 web pods.

The sequence of events seems to have been as follows:

* Introduced a change to add `attempts: 5` to a number of resource `get`s and `put`s in a number of pipelines.
* After a little while, did a `kubectl edit deployment concourse-web` to change an environment variable, which rolling-

[2019-07-17 16:47] #4098 closed

[2019-07-17 16:52] colmtuohy commented on #3127
I saw the issue temporally on Concourse 5.2.0 for the email put resource (iptables: create-instance-chains: iptables: Memory allocation problem). Not sure what cleared the issue

[2019-07-17 17:18] eedwards-sk commented on #4132
I see this on aborted builds. Are you seeing it on non-aborted builds?

[2019-07-17 17:22] vijayb47 commented on #4107
Facing the same issue. Any work around meanwhile?
I am still able to
 `fly -t team-target login`

[2019-07-17 17:44] gnasr commented on #4132
It happens mostly in aborted builds, but it also happens sometimes in failed and successful builds
![Screen Shot 2019-07-17 at 14 43 33](https://user-images.githubusercontent.com/3936970/61397961-63dade80-a8a1-11e9-99e6-28c632b4802c.png)

[2019-07-17 17:48] eedwards-sk commented on #4132
Do you have any kind of network filtering in place? I've seen certain A/V or endpoint protection software interfere with concourse web UI logs.

e.g. I have to disable Sophos entirely for concourse web ui logs to work on my workstation

[2019-07-17 17:53] taylorsilva opened #4134 "fly <command> --help not outputting command specific help"
## Bug Report
When running `fly <command> --help` on the latest rc fly binary, the top-level fly help menu is displayed instead of the command specific help menu

## Steps to Reproduce

`fly get-pipeline --help` or any other command

## Version Info

* Concourse version: latest rc (5.4.0)
* Did this used to work? Yes on `5.3.0`

[2019-07-17 17:56] gnasr commented on #4132
nope, i've seen the other github issues with similar description but it seems to be different, i couldn't find anything in my computer blocking connections neither my coworkers. I've tried disabling adblockers too

[2019-07-17 18:54] xNok opened #4135 "default value for ((vars))"
## What challenge are you facing?

I made a template for my pipeline and uses a variable files to make it modular. However as I want to keep my pipeline modular my variable file grows significantly.

## What would make this better?

Having to option to define a default value for a variable would reduce the need for a complet variable file. Only required variables would be in the varible file.

We

[2019-07-17 19:22] pivotal-jamie-klassen commented on #4134
maybe related to the changes in #4064?

[2019-07-17 19:45] pivotal-jamie-klassen commented on #4135
Thanks for posting! I think this is interesting and worth discussing more, but before digging into the technical details, can you describe your use case in a little more detail?
* are these variables sitting in job/resource/task configs at the pipeline level? or in task configs that get resolved from files?
* should they be kept secret?
* are they being passed as `params` to a step?
* if you're ab

[2019-07-17 20:42] taylorsilva commented on #4134
That was it!

Check out `69b234b5c4382ecba7cccdeecd524ce6034b8f7c` which is the commit right before #4064. Can't reproduce the bug. After those commits (`914593c6d67b03c895ec01c307c96e884994181f`) we get this new behaviour.

[2019-07-17 21:09] #3831 closed

[2019-07-17 21:15] pivotal-bin-ju commented on #2094
**DEV NOTE**

So we verified the restored backup by

1) adding  test pipelines in prod
2) trigger the pipeline `prod-db-backup` to create a new backup that includes the test pipelines.
3) `bbr restore` after stop `web` and `worker` jobs.
4) pausing all the pipelines
5) ssh to the `web` and `worker` vms  to start the `web` and `worker`.
6) bosh port-forwarding  to web on the port 8080 by the comman

[2019-07-17 23:29] evanchaoli commented on #4023
Basically `check` generates new versions. A `check` may return zero or multiple versions. If a resource is defined `trigger: true` with `get`, then once its `check` returns new versions, new builds will be triggered, where `get` is passed with a version that `check` returned.

`check` only returns versions, `get` take a version and generate artifacts that can be consumed by the job. A `get` should

[2019-07-17 23:43] evanchaoli commented on #4026
@jama22 That's not the idea. Say we define log-rotation to 5, and success_builds to 2, then concourse would keep 907, 906, 905, 904 and 903. Because latest  5 builds (907-903) has included 2 success builds.

Let's change the sample data a little bit. Say 907-902 are red, 901 and 900 are green. Then Concourse will keep 907, 906, 905, 901, and 900. Because it needs to keep at least 2 success builds.

[2019-07-18 00:08] pivotal-jamie-klassen commented on #3512
The cluster that runs https://ci.concourse-ci.org actually has `--x-frame-options` unset via a BOSH ops-file: https://github.com/concourse/concourse-bosh-deployment/blob/master/cluster/operations/x-frame-options-unset.yml, and you can see it working in an iframe at the bottom of https://concourse-ci.org/examples.html. If you're not using BOSH, you should be able to do it via a startup flag or even

[2019-07-18 00:21] pivotal-jamie-klassen commented on #2679
I'm almost certain that #3884 fixed this and was released in [v5.3.0](https://github.com/concourse/concourse/releases#v530-note-6).

[2019-07-18 00:21] #2679 closed

[2019-07-18 08:21] thelangley commented on #3512
Hey, @pivotal-jamie-klassen. yeah this is our issue too.

I'm going to give this ops file a whirl, I didn't see that one 👍

[2019-07-18 08:36] elsmorian commented on #4132
@stringfellow @pikesley and I all see it on failed, running and completed builds. It's maybe 10-20% of them for us, most of them work but some do not so unlikely to be network filtering etc. (We do not run such software anyway)

[2019-07-18 08:50] Rukenshia commented on #3127
We just upgraded to concourse 5.3.0 and also experience this problem.

We use this stemcell in bosh:

[code]

[2019-07-18 13:13] #4134 closed

[2019-07-18 15:32] dphopkins commented on #3299
(Just want to save the issue from extermination) -- this is still a very good idea and I was happy to see it on the core roadmap!

[2019-07-18 15:54] stringfellow commented on #4132
An interesting (?) data point: On one part of our pipeline, the details *never* load for any of 48 runs, *except* for one which failed in 13 seconds. All the other ones take upward of 1 minute. I'm not sure why this would be pertinent except that maybe it has to do with Server-Sent Event stream size?

[2019-07-18 15:58] dpb587-pivotal commented on #1556
Closing - this is a couple majors old and I'm not seeing a pipeline which demonstrates this right now.

[2019-07-18 15:58] #1556 closed

[2019-07-18 15:59] jama22 commented on #4026
Thanks for the clarification!

[2019-07-18 16:04] pn-santos commented on #3299
I believe this is coming with [RFC#26](https://github.com/concourse/rfs/pull/26)

[2019-07-18 16:06] stringfellow commented on #4132
That last comment may be a red herring as we have other stages with all sorts of run times which show up fine. Another suspicion is some value in the payload of each event ... but it seems like the events aren't even being called for and from the console for detail views that work the initiator of the events request is 'Other' so not easy to diagnose further.

[2019-07-18 16:44] jschaul commented on #2740
The issue was related to DNS - `fly` could not deal with multiple DNS entries in the `/etc/resolv.conf`. I had two DNS servers in mine, and taking one out (any one, it wasn't related to a particular DNS server)  was a sucessful workaround.
The latest release of fly and concourse (`5.3.0`) no longer exhibits this problem, so whatever broke from 4.0.0 to 4.2.1 seems to have been fixed by now. So thi

[2019-07-18 16:44] #2740 closed

[2019-07-18 17:21] gnasr commented on #4132
Well after debugging a lot, we found the problem.
We were using a custom resource that didn't have version field in check and put commands output, so the issue was the same as https://github.com/concourse/concourse/issues/1977
After fixing that the logs of the previous and new builds appeared again.
The pattern that helped us find this was that not all the jobs were using this custom resource.

[2019-07-18 23:17] evanchaoli commented on #4126
I'm closing this issue because currently there is no way to make enhancement as only admin user can get a full list of teams.

[2019-07-18 23:17] #4126 closed

[2019-07-19 01:19] xtremerui commented on #2740
Thanks for the update. It is probably fixed by bumping GoLang version to go 1.12 in 5.x.

[2019-07-19 01:52] bhutkovskyysos commented on #2280
@alkar How is this a configuration issue? This seems to be a bug within concourse I think. I got the same problem with the latest Concourse 5.3.0. Only after I deleted and re-created the pipeline the `check_every` setting took affect.

[2019-07-19 02:10] svrc-pivotal commented on #3798
In general I’d suggest looking at CSI 1.x which allows you to easily build a pluggable storage engine for PVCs.

This way you’re not at the mercy of arbitrary volume attach/detach at the IaaS which is very slow, you can build on some kind of shared COW fs with snapshots eg. Portworx, Ceph, or even a simple per-host Overlay etc.

[2019-07-19 10:09] petergtz commented on #1407
Unfortunately, I can't check right now, but I'll try to check if this is still an issue next week.

[2019-07-19 11:02] kwladyka commented on #3800
issue still exist
ver. `5.3.0`

[2019-07-19 16:00] xNok commented on #4135
`are these variables sitting in job/resource/task configs at the pipeline level? or in task configs that get resolved from files?`
Pipeline level

`should they be kept secret?`
We manage secret with vault so no issues with that. Only sensitive variable should be added to vault. I am sceptical towards using *the credential manager* as some kind of *config server*.

`are they being passed as params

[2019-07-19 20:07] xtreme-sameer-vohra commented on #3928
Here is some context on what we learnt as part of this story

Garden Client has 2 mediums to communicate with the Garden server as part of the [HijackStreamer Interface](https://github.com/concourse/concourse/blob/d15e2ed8d257ff9d6aa82a8fd401f94799278468/atc/worker/gclient/connection/connection.go#L75-L78)
- Stream
- Hijack ( this is not the same as `hijack` in the context of Concourse. It is `hij

[2019-07-19 21:15] pivotal-bin-ju commented on #4113
Do you have sampled pipelines that may be helpful to understand this issue?

[2019-07-19 21:17] eedwards-sk commented on #4113
No, sorry. I don't have an easy way to reproduce this yet.

When I relaunched the process it was fine.

[2019-07-19 21:34] taylorsilva opened #4138 "Setting TSA Host Key with env vars results in nil pointer error"
## Bug Report

Passing in an empty TSA host private key using environment variables results in a nasty error message.

## Steps to Reproduce

Have postgres running locally and then enter this (`/tmp/foo` is empty btw):
[code]
and then you'll get this nasty, unhelpful error:
[code]

## Expected Results

Something similar to what we get when we pass in a blank key using the command line flags:
[code

[2019-07-20 02:51] dpb587 opened #4139 "Failed to migrate database for v5.4.0 (Up_1561558376)"
Hi - I'm not sure if this is worth even raising as an issue. I think it was probably caused by an old bug, but somehow it left some data hiding in the database which is now being surfaced by one of the recent migrations. Even if it's a rare edge case, I figured I could at least document it in an issue for potential searches. Feel free to close if you think no changes are needed.

## Bug Report

Af

[2019-07-20 13:42] kallisti5 commented on #4106
Seen here as well on 5.3.0:

[code]

![1](https://user-images.githubusercontent.com/100110/61579408-3e7ce900-aaca-11e9-85dd-859ce1af58aa.png)

This worker has no work.. so doesn't seem related to "busy workers"

[2019-07-20 13:50] kallisti5 opened #4140 "Unable to prune workers - forbidden"
[code]

Concourse 5.3.0
Fly 5.3.0

[2019-07-20 22:24] flavorjones opened #4141 "fly is segfaulting"
## Bug Report

Hi there! I'm using fly version `5.4.0` and it's crashing with a segfault. This previously worked find in fly `5.3.0` and many other previous versions of fly.

## Steps to Reproduce

I'm running the command:

`fly -t ci execute --input=ci=. --input=nokogiri=. -l 'concourse/private.yml' -c /tmp/concourse-task20190720-14274-19n1dgl`

where the tempfile contents are:

[code]

and the C

[2019-07-21 05:23] vito commented on #4141
@kcmannem Hmm, maybe a `zstd` bug? Or maybe something to do with the switch to cgo in general? :thinking:

@flavorjones Does this happen pretty easily or only with the attached file contents? And since this is a client-side panic, which OS are you using? Thanks!

[2019-07-21 16:08] kcmannem commented on #4141
Curious about the cadence of this issue. Does it happen every time? Is it specific to one of those inputs or can both of them independently cause a fault.

We might be able to switch back to gzip for fly execute. And use zstd everywhere else. We could also stop building with cgo then.

[2019-07-21 21:10] vito commented on #1407
@DanielJonesEB How is that value (123456789012) being provided on the CLI? If it's with `-y` or `-l`, those both parse as YAML, and that value will parse as a floating point number. You may have to take care to quote the value, i.e. `-y foo="123456789012"`.

In general, if you're passing a numeric value around I would be careful to quote it everywhere, including vars files passed with `-l`, otherw

[2019-07-21 21:12] vito commented on #1407
There was also a case where we took special care to handle floating point values passed to task params and stringify them:

https://github.com/concourse/concourse/blob/aab8f4a85d0146a3b2ae2e166c83f459afecb4e3/atc/decode_hook.go#L88-L94

...but I think we should get rid of this and just make sure people quote their values appropriately.

[2019-07-22 02:58] kcmannem commented on #4131
🤔 this is really interesting, this seems like its in garden territory

@cirocosta have you seen something like this before

[2019-07-22 03:08] goldstar611 commented on #4131
I am on vacation for the next 6 days but plan on setting up an AWS instance with a similar size pipeline using the stress utility to simulate compiling.

If it's worth any additional details, this is happening on ESXi hypervisor and I've switched Ethernet "hardware" between e1000, e1000e and vmxnet3 so that has been crossed out (in my mind anyway)

[2019-07-22 11:21] pikesley commented on #4132
This is great @gnasr , what _exactly_ does your resource output? I can't find this documented properly anywhere.

My (Python) scripts exit with  something like `print(json.dumps({"version": "1"}))`

and I'm seeing errors like

* `json: cannot unmarshal string into Go struct field VersionResult.version of type atc.Version`
* `json: cannot unmarshal array into Go value of type resource.VersionResult

[2019-07-22 12:51] flavorjones commented on #4141
@vito I haven't had the bandwidth to really play around with whether this crash happens with other payloads. Will try to find some time today.

@kcmannem This segfault happens reliably, every time, in my particular scenario/setup.

Let me try to find some time to provide a broader set of characteristics under which I can make this happen.

[2019-07-22 13:22] flavorjones commented on #4141
Oh, and I'm running on Linux:

`Linux curiosity 5.0.0-20-generic #21~18.04.1-Ubuntu SMP Thu Jun 27 04:04:37 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

[2019-07-22 13:35] cirocosta commented on #3721
@vito is this something that core would take a decision/action on? 🤔

[2019-07-22 13:40] flavorjones commented on #4141
More information: I'm able to reproduce this in an empty directory with the following task config:

[code]

Note that specifying zero or one `--input` arguments completes the upload fine. Specifying two `--input` arguments results in a segfault.

Repro:

[code]

[2019-07-22 13:57] kcmannem commented on #4141
thanks for following up with the extra info. I'll look into this.

[2019-07-22 14:36] migs opened #4143 "Setting a large CONCOURSE_OAUTH_DISPLAY_NAME cuts off in Web GUI"
## What challenge are you facing?

I have set CONCOURSE_OAUTH_DISPLAY_NAME to be a 24 character string. This cuts off on the Web GUI (5.4.0)

[Image](https://imgur.com/a/igz3IJM)

## What would make this better?

1.) A maximum string length defined in the documentation
2.) The GUI expands the button graphic to match the string length

[2019-07-22 14:51] propalparolnapervom commented on #2280
Same problem, Concourse 5.3.0
New `check_every` value applies only after pipeline re-creation.

[2019-07-22 15:08] propalparolnapervom opened #4144 "New 'check_every' value needs pipeline re-creation"
## Bug Report

Concourse 5.3.0

I can see via `fly -t <target_name> gp -p <pipeline_name>` that new value of `check_every` applied successfully.
But in fact pipeline works with previous `check_every` value.
New value of `check_every` works only after pipeline re-creation.

## Steps to Reproduce

Create initial pipeline with `check_every` parameter:
[code]
Make sure pipeline works with defined chec

[2019-07-22 15:09] kcmannem commented on #4141
I just tried a multi input `fly execute` and it worked just fine. This might be something specific to the input thats being provided.

I can confirm this worked on darwin and linux:
[code]

[2019-07-22 15:13] kcmannem commented on #4141
@flavorjones I checked out to the commit you specified and the upload completes successfully. To me this seems like its not a `zstd` bug now. Something weird is going on, will need to dig deeper.

[code]

[2019-07-22 15:22] kcmannem commented on #4141
According to this issue https://github.com/golang/go/issues/16331, the panic can occur when we're using cgo or an unsafe library. zstd is the only reason we use cgo. I'm tempted to roll fly execute back to `tgz`. Until we can find a more concrete reason.

[2019-07-22 15:31] AnianZ commented on #4141
I get the same segfault even with `fly login -t ci -c "https://some.ci.here" on `Linux 5.2.1-arch1-1-ARCH #1 SMP PREEMPT Sun Jul 14 14:52:52 UTC 2019 x86_64 GNU/Linux` Occurred after the update to `5.4.0`. I tried removing the configuration and re-installing fly but now I can't even log in. On my colleagues Mac it's working.

[2019-07-22 16:18] vito commented on #4141
@kcmannem Hmm, could it have something to do with concurrent usage zstd? Maybe the package isn't thread-safe? We upload inputs in parallel, and it sounds like it works with one input but not two.

@AnianZ Can you attach the stack trace? Logging in seems to work fine for me on `5.0.0-21-generic`.

[2019-07-22 16:44] AnianZ commented on #4141
@vito Sure.

[code]

[2019-07-22 17:02] kcmannem commented on #4141
@vito hmm but wouldn't it fail for the workers then? Unless its some weird combination of cgo not compiling zstd to be thread safe in linux > v5.

[2019-07-22 17:14] robwhitby commented on #575
+1 from me. I've just been investigating why we have such high load in web and db when idling. It seems a lot of it is due to resource checks for resources that don't even have versions because they are "out only" - e.g. slack notifications or deployments

[2019-07-22 18:05] ddadlani commented on #3367
Closing this for now since we will be revisiting this as part of #3695

[2019-07-22 18:05] #3367 closed

[2019-07-22 18:30] zoetian opened #4145 "`fly execute` uploads current directory without inputs"
## Bug Report

When running `fly -t target execute -c config-file`  command, it uploaded the current working directory before creating the build. This is not the expected behaviour for `fly`.

## Steps to Reproduce

i.e. run `fly -t prod execute -c test.yml`

example test.yml

[code]

## Expected Results

When running the `fly` command without any inputs, the uploading of the current directory sho

[2019-07-22 20:32] flavorjones commented on #4141
Just a note that I'm seeing segfaults at the end of a `fly execute`, after files are uploaded and the task runs.

Example (using only 1 input to avoid the two-input crash noted above):

[code]

[code]

[2019-07-22 22:11] zoetian commented on #2094
**Dev Note**

 @cirocosta  and I worked on passing all jobs in the `test-restore` part of the previous pipeline we set. (https://ci.concourse-ci.org/teams/main/pipelines/prod-db-backup).
We managed to fixed all jobs till the first `test-restore-deployment`.

Next Step:
- [ ] modify the `version.yml` for concourse deployment for the current failing job

[2019-07-22 23:20] kcmannem commented on #4141
Ok... I think I might have found the issue. Cgo forces dynamic linking of certain libraries, to statically link zstd we passed in explicit flags gcc with ``. But Cgo also forces the use of its underlying implementation of a dns resolver. This is also linked dynamically and when machines don't have this library (or a certain version of it) available, things seg fault the way we see them. Go build w

[2019-07-22 23:57] kcmannem commented on #4141
@aniaz @flavorjones can you try using the variables listed in the above comment and see if your fly commands are still failing. I've tested the env var with my local Darwin fly and I can see that go is respectively using the correct libraries.

[code]

[2019-07-23 00:40] YenTheFirst commented on #4085
To add a data point - we seem to have been running into this same issue.

One of our pipelines involves running a Task, which runs a Go process, which queries an external API.
On Concourse 4.x, this worked.
On Concourse 5.x, this began failing, with the error:
[code]
On Concourse 5.x, after disabling the DNS proxy, the task completes correctly.

This particular error _might_ be related to Go's DNS

[2019-07-23 02:03] clarafu commented on #3602
The last state that we had the algorithm at was to order the passed jobs by their latest completed build ID, which made the tenth job faster but after a while it started to slow down again. This also isn't a great solution because it depends on the ordering of the passed jobs to make the algorithm more efficient, plus the latest completed build ID might not always be a great indication of which up

[2019-07-23 09:02] AnianZ commented on #4141
@kcmannem I can confirm that setting `export GODEBUG=netdns=go+2` prevents the segfault for me. `fly login` and `fly ws` both work fine now.
`export GODEBUG=netdns=go` also does the job.

[2019-07-23 10:38] mohsen0 commented on #3877
@aegershman have you guys discuss this internally? what are your thoughts about it?

[2019-07-23 11:11] eliotstocker opened #4149 "Fly 5.4.0 DNS Resolution issue"
## Bug Report

After updating to concourse 5.4.0 and fly 5.4.0 fly can no longer resolve local cluster DNS records in Kubernetes. (either using the concourse pipeline resource or fly directly within the cluster)

## Steps to Reproduce

attempt to login against a local cluster DNS URL using Fly v5.4.0

## Expected Results

when running the command:
`fly -t ci login -c http://concourse-web.default.s

[2019-07-23 13:40] kcmannem commented on #4149
we're aware of this, working to fix it. You can follow the updates here https://github.com/concourse/concourse/issues/4141

[2019-07-23 13:44] kcmannem commented on #4141
@AnianZ thanks for the update, we'll try to figure out a new way to build fly statically linking go's netdns instead of cgo.

[2019-07-23 14:17] jchesterpivotal commented on #4141
Failing that, there's at least one alternative DNS library I could find: https://github.com/miekg/dns

[2019-07-23 14:17] AnianZ commented on #4141
@kcmannem Thank you for providing a workaround, so I don't need to borrow a colleagues MacBook to check on the workers or execute something :slightly_smiling_face:

[2019-07-23 15:06] #1883 closed

[2019-07-23 15:06] #3572 closed

[2019-07-23 15:06] #2901 closed

[2019-07-23 15:06] #3530 closed

[2019-07-23 15:06] #2076 closed

[2019-07-23 15:06] #3741 closed

[2019-07-23 15:06] #3324 closed

[2019-07-23 15:06] #3760 closed

[2019-07-23 15:06] #3777 closed

[2019-07-23 15:06] #3156 closed

[2019-07-23 15:06] #3784 closed

[2019-07-23 15:06] #1633 closed

[2019-07-23 15:06] #3783 closed

[2019-07-23 15:06] #366 closed

[2019-07-23 15:06] #3763 closed

[2019-07-23 15:07] #3355 closed

[2019-07-23 15:07] #3761 closed

[2019-07-23 15:07] #3762 closed

[2019-07-23 15:07] #3876 closed

[2019-07-23 15:09] kcmannem opened #4150 "Memory leak in Concourse v5.4"
We don't know what exactly is happening. But we've observed this in our k8s helm deployment, after we upgraded to v5.4 we noticed this trend in web memory.

![Screen Shot 2019-07-23 at 10 56 43 AM](https://user-images.githubusercontent.com/9054726/61723502-43e06a80-ad3a-11e9-8624-005940799fdb.png)

[2019-07-23 15:49] kcmannem commented on #4150
I suspect its the parallel input streaming pr, where returned slices from calling a function are escaping and not being gced for some reason. We rolled our k8s deployment with the reverted commit and will provide an update here in a few hours to see if the leak is still occuring.

[2019-07-23 15:51] jama22 commented on #4144
@propalparolnapervom just to clarify, when you say that the pipeline has to be re-created, do you mean that you did a full on `destroy-pipeline` and then `set-pipeline`?

[2019-07-23 16:06] kcmannem commented on #4131
Would appreciate the results you find. This may be an issue with dockers libnetwork library.

[2019-07-23 16:06] #3358 closed

[2019-07-23 16:06] #3263 closed

[2019-07-23 16:06] #3331 closed

[2019-07-23 16:06] #2482 closed

[2019-07-23 16:06] #3296 closed

[2019-07-23 16:06] #3427 closed

[2019-07-23 16:06] #3417 closed

[2019-07-23 16:06] #3467 closed

[2019-07-23 16:06] #3462 closed

[2019-07-23 16:06] #3451 closed

[2019-07-23 16:06] #923 closed

[2019-07-23 16:07] #2126 closed

[2019-07-23 16:07] #2762 closed

[2019-07-23 16:07] #2200 closed

[2019-07-23 16:07] #2569 closed

[2019-07-23 16:07] #3514 closed

[2019-07-23 16:07] #2381 closed

[2019-07-23 16:07] #3452 closed

[2019-07-23 16:07] #2595 closed

[2019-07-23 16:07] #3640 closed

[2019-07-23 16:07] #3605 closed

[2019-07-23 16:07] #3670 closed

[2019-07-23 16:07] #3696 closed

[2019-07-23 16:50] kcmannem opened #4151 "Timeout for long running Step Intialization"
With the addition of contexts to the garden/baggageclaim clients. We're now able to clean up  more reliably or remotely cancel a fork of the code when needed.

We have also introduced speed improvements to streaming; to the point where strabo takes around 2.5 mins to initialize. This is the worst case scenario of how long a task may take to initialize. This gives us the tolerance to add a timeout

[2019-07-23 17:06] #3046 closed

[2019-07-23 17:06] #3048 closed

[2019-07-23 17:06] #1687 closed

[2019-07-23 17:06] #3058 closed

[2019-07-23 17:06] #3060 closed

[2019-07-23 17:06] #3074 closed

[2019-07-23 17:06] #3085 closed

[2019-07-23 17:06] #2878 closed

[2019-07-23 17:06] #3116 closed

[2019-07-23 17:06] #3069 closed

[2019-07-23 17:06] #3204 closed

[2019-07-23 17:06] #3182 closed

[2019-07-23 17:07] #2948 closed

[2019-07-23 17:07] #3273 closed

[2019-07-23 17:07] #2112 closed

[2019-07-23 17:07] #2062 closed

[2019-07-23 17:07] #3308 closed

[2019-07-23 17:07] #1865 closed

[2019-07-23 17:07] #3300 closed

[2019-07-23 17:07] #3337 closed

[2019-07-23 17:47] ddadlani commented on #4151
Keep in mind that some Concourse instances are run in environments with high network latency. It may be too much to shorten the timeout so aggressively. We can definitely thread `abort`ing and idle timeouts all the way down to Baggageclaim/Garden.

[2019-07-23 17:52] ddadlani commented on #4055
We do still need to deal with the things above, but it might not be through using a sidecar. Feel free to change the title as required.

[2019-07-23 17:59] #3939 closed

[2019-07-23 18:03] #3811 closed

[2019-07-23 18:05] vito commented on #4065
This will be delivered in 6.0 with the new algorithm.

[2019-07-23 18:08] vito commented on #3845
We suspect this will be fixed by https://github.com/concourse/concourse/pull/4103 - which targets a specific case around triggering before a pipeline's 'syncer' starts off the resource checking, but is fixed in a way that should be resilient to other situations too. Triggering a build marks all of the dependent resources as 'check requested', and the resource checker will force a check if one was

[2019-07-23 18:08] #3845 closed

[2019-07-23 18:10] #3738 closed

[2019-07-23 18:11] vito commented on #3738
We've got scheduling tests under `longevity/` now but the repo could use a bit of TLC.

[2019-07-23 18:21] vito commented on #3788
Notes from IPM regarding the handling of missing versions for parent resource types:

* Let's have `fly check-resource` fail fast if the parent resource type has no version.
* Let's add `fly check-resource --recursive` which will recurse into the parent types and perform checks for them, and then check the specified resource.
* Then have `fly check-resource` print the command to run when it hits t

[2019-07-23 18:25] saedalavinia commented on #4141
Thanks for the workaround. I also confirm that `export GODEBUG=netdns=go` resolvees the issue

[2019-07-23 18:30] vito opened #4152 "Perform GC in parallel"
In #3602 we noticed that during a `VACUUM` container counts would climb up and max out the workers.

This seems to imply that GC was held up somewhere. If containers are being created, queries are running to create those, so it's not like the whole table is locked up.

We currently run all of our collectors one after another: https://github.com/concourse/concourse/blob/8c5d0dc1a9c658b7ac8e978716d9

[2019-07-23 18:43] #807 closed

[2019-07-23 18:43] #1640 closed

[2019-07-23 18:43] #1090 closed

[2019-07-23 18:43] #2522 closed

[2019-07-23 18:43] #1941 closed

[2019-07-23 18:43] #2573 closed

[2019-07-23 18:43] #2579 closed

[2019-07-23 18:43] #2543 closed

[2019-07-23 18:43] #2558 closed

[2019-07-23 18:43] #2648 closed

[2019-07-23 18:43] #2708 closed

[2019-07-23 18:43] #867 closed

[2019-07-23 18:43] #2691 closed

[2019-07-23 18:43] #2804 closed

[2019-07-23 18:43] #2805 closed

[2019-07-23 18:43] #2821 closed

[2019-07-23 18:43] #2803 closed

[2019-07-23 18:43] #2806 closed

[2019-07-23 18:43] #1756 closed

[2019-07-23 18:43] #729 closed

[2019-07-23 18:43] #1517 closed

[2019-07-23 18:43] #2802 closed

[2019-07-23 18:43] #2979 closed

[2019-07-23 18:44] #2994 closed

[2019-07-23 18:44] #3014 closed

[2019-07-23 18:44] #1452 closed

[2019-07-23 18:49] kallisti5 opened #4153 "Random DNS resolution issues on workers (5.4.0)"
After upgrading to 5.4.0, it looks like our workers are seeing seemingly random DNS resolution failures.

14 minutes into the build (after downloading things successfully from a host), dns resolution randomly fails.

Here's an example:

[code]

a wget works as expected, then 5 seconds later a wget from the same host fails to resolve.

[2019-07-23 18:51] kallisti5 commented on #4153
Worker info:
Env:
CONCOURSE_WORK_DIR=/opt/concourse/worker
CONCOURSE_TSA_WORKER_PRIVATE_KEY=aprivatekey
CONCOURSE_TSA_PUBLIC_KEY=tsakey
CONCOURSE_TSA_HOST=ci.haiku-os.org:aport
CONCOURSE_GARDEN_DNS_SERVER=8.8.8.8
CONCOURSE_GARDEN_DNS_PROXY_ENABLE=false

[2019-07-23 18:52] kallisti5 commented on #4153
Worker is Fedora 30, selinux is disabled, 5.1.18-300.fc30.x86_64

[2019-07-23 18:59] kcmannem commented on #4141
we've figured out a way to build fly with netdns=go instead of cgo.

when we try to force the debug flag to use cgo, the output is clear that its been built with netgo and cannot respect the flag.
[code]

We're gunna test this on a distro that doesn't have glibc (we built on ubuntu) but something like musl and see if we still error.

[2019-07-23 19:11] kcmannem commented on #4141
@AnianZ could you try building fly locally with `CGO_ENABLED=1 go build --tags netgo -v -a  -ldflags  '-extldflags "-static"' .` and see if using `GODEBUG=netdns=cgo` with fly still breaks. It should say it can't and revert to using netgo. I would test this myself but I don't have a vm that breaks.

[2019-07-23 19:29] kcmannem commented on #4153
known issue https://github.com/concourse/concourse/issues/4141

A temporary workaround is you can try setting this env var
`export GODEBUG=netdns=go`

[2019-07-23 19:37] clarafu commented on #3602
After doing more investigation, we narrowed it down to not being dead tuples being cleaned up with autovacuum and probably isn't checkpoints because checkpoints should run more often (5 minutes). We were thinking it might have something to do with the index for the jsonb column, since it must be a really big index and constantly being updated with new rows being added to the table.

This lead me t

[2019-07-23 19:43] #1134 closed

[2019-07-23 19:43] #1110 closed

[2019-07-23 19:43] #1346 closed

[2019-07-23 19:43] #364 closed

[2019-07-23 19:43] #841 closed

[2019-07-23 19:43] #600 closed

[2019-07-23 19:43] #842 closed

[2019-07-23 19:43] #180 closed

[2019-07-23 19:43] #1918 closed

[2019-07-23 19:43] #1940 closed

[2019-07-23 19:43] #1840 closed

[2019-07-23 19:43] #1700 closed

[2019-07-23 19:43] #1694 closed

[2019-07-23 19:43] #1718 closed

[2019-07-23 19:43] #1706 closed

[2019-07-23 19:43] #1898 closed

[2019-07-23 19:43] #2012 closed

[2019-07-23 19:43] #640 closed

[2019-07-23 19:43] #1349 closed

[2019-07-23 19:43] #2284 closed

[2019-07-23 19:43] #2307 closed

[2019-07-23 19:43] #607 closed

[2019-07-23 19:43] #2328 closed

[2019-07-23 19:43] #2344 closed

[2019-07-23 19:43] #945 closed

[2019-07-23 19:43] #2395 closed

[2019-07-23 19:43] #2398 closed

[2019-07-23 19:43] #2305 closed

[2019-07-23 19:46] kcmannem commented on #3602
🐏 optimizer, you should just write your own dB at this point

[2019-07-23 20:21] kwri-avongluck commented on #4153
This applies to workers as well as fly?

[2019-07-23 20:23] pivotal-bin-ju opened #4154 "could not abort a job when it is pending"
## Bug Report

Could not abort a job when it is pending

## Steps to Reproduce

Assume there are `Job A` and `Job B` in the pipeline. `Job A` `pass` to `Job B`.

1. Trigger `Job B` directly. (Without triggering `Job A`). `Job B` should be pending.
1. Abort the build for `Job B`.

## Expected Results

`Job B` is aborted.

## Actual Results

`Job B` is stuck in pending.

## Version Info

* Concourse

[2019-07-23 20:23] kallisti5 commented on #4153
This bug applies to workers (concourse worker) as well as fly?

[2019-07-23 20:26] kcmannem commented on #4153
It might as we introduced a new dependency that caused this issue. The side effect of this is that dns resolution changes. Setting an env var to test it shouldn’t hurt anyway. I just want to eliminate that it’s the same issue otherwise.

[2019-07-23 20:26] kallisti5 commented on #4153
can-do. Will test

[2019-07-23 20:31] voelzmo commented on #269
Beep boop! This issue is still interesting to me and apparently ("came up pretty frequently" in the past)[https://github.com/concourse/concourse/issues/269#issuecomment-339430867]. I'm not sure if that's the perfect candidate for auto-closing, but given the fact that nothing happened for more than 3 years, it might be okay.

[2019-07-23 20:36] kallisti5 commented on #4153
Added to worker and web (for good measure).  Testing now...
https://ci.haiku-os.org/teams/nightly/pipelines/master-x86_64/jobs/image-master-x86_64/builds/2

[2019-07-23 20:43] #1238 closed

[2019-07-23 20:43] #851 closed

[2019-07-23 20:43] #1170 closed

[2019-07-23 20:43] #1393 closed

[2019-07-23 20:43] #434 closed

[2019-07-23 20:43] #1475 closed

[2019-07-23 20:43] #1464 closed

[2019-07-23 20:43] #1501 closed

[2019-07-23 20:43] #1548 closed

[2019-07-23 20:43] #1550 closed

[2019-07-23 20:43] #1239 closed

[2019-07-23 20:43] #1562 closed

[2019-07-23 20:43] #889 closed

[2019-07-23 20:43] #1231 closed

[2019-07-23 20:43] #1418 closed

[2019-07-23 20:43] #1787 closed

[2019-07-23 20:43] #1364 closed

[2019-07-23 20:43] #1433 closed

[2019-07-23 20:43] #451 closed

[2019-07-23 20:43] #860 closed

[2019-07-23 20:43] #328 closed

[2019-07-23 20:43] #895 closed

[2019-07-23 20:43] #893 closed

[2019-07-23 20:43] #962 closed

[2019-07-23 20:43] #903 closed

[2019-07-23 20:59] kcmannem commented on #4153
Looks like the job passes now? The failure seems to be something else.

[2019-07-23 21:09] kallisti5 commented on #4153
Yeah, looks better.  I'm fixing that other error now and will rebuild for good measure.

[2019-07-23 21:45] kallisti5 commented on #4153
Rebuild confirms dns resolution on workers is working as expected after adding ```GODEBUG=netdns=go``` to the worker and web instances of concourse.

[2019-07-23 22:22] whit-fackler-ml opened #4155 "Error: failed to stream in to volume; Concourse attempting to access a volume before it is created, resulting in the volume not being found."
## Bug Report

In some situations I am seeing repeated build failures (errors) with only the message "failed to stream in to volume".
In general:
- Several tasks run (mostly on a linux worker).
- A task runs (integration tests are run on a macOS server), and test results are placed in a folder.
- I attempt a put step to upload those results to S3.
- The put step fails almost immediately with the m

[2019-07-23 22:50] Bengreen opened #4156 "Check Resource is not submitting correctly"
## Bug Report

I have a custom concourse resource with which uses a Version with multiple values in the dict. In my case I have `{Repo:<repo name>, Oid:<OID value>}`. I need both of these values to be able to resolve the resource.
This works fine for my check and in functions of the custom resource. ...
BUT when I try to set the resource using

    fly -t release check-resource --resource releng-c

[2019-07-24 00:25] kallisti5 commented on #4153
actually, it just randomly happened again.

https://ci.haiku-os.org/teams/nightly/pipelines/master-x86_64/jobs/image-master-x86_64/builds/4

Is it possible this is an issue with runc / garden?  With the 5.4.0 upgrade, I also broke the worker out to a separate machine.

[2019-07-24 00:27] huguesalary opened #4157 "Status: 500 Internal Server Error"
## Bug Report

On 5.4.0, on a fresh k8s cluster, using the official helm chart.

[code]
[code]

However, specifying `--verbose` seems to work (though it outputs everything, binary stream included)

[code]
[code]

Running ` fly -t betabrand execute -c concourse-ci.yaml -i codebase=. -o image=. -p --verbose 2>/dev/null` eventually stops, but only after a while seemingly after being done uploading th

[2019-07-24 00:49] huguesalary commented on #4157
To add some color to this, I did a `kubectl get logs concourse-worker-0` and got this:

[code]

So it seems this might just be an small issue with the docker image for the workers

[2019-07-24 01:19] yasn77 commented on #3991
I ran into a similar problem using `Out-File`, and if it wasn't for this issue I would have wasted a lot of time trying to figure it out.

In my case, we use Hashicorp Vault to distribute secrets (the worker private key). When querying vault and using `Out-File`, I would get the following error upon starting concourse:
[code]
So in this case, I knew it was private key file but wasn't clear what ex

[2019-07-24 02:09] kcmannem commented on #4155
Are you seeing this type of failure only on macOS tasks?

[2019-07-24 02:26] kcmannem commented on #4150
Here's how the mem has grown since the redeploy without parallel streams commit. It still looks like a very slow leak. I'm going to check back and update the picture in the morning.
![Screen Shot 2019-07-23 at 10 23 15 PM](https://user-images.githubusercontent.com/9054726/61760125-78830f00-ad98-11e9-80c7-e85e7039cf9d.png)

We can see in the following graph that gc ticks have been occurring.
![Scre

[2019-07-24 02:40] kcmannem commented on #4150
I also want to rule out the zstd change as then we'd also be seeing this behavior on the workers.

[2019-07-24 08:50] AnianZ commented on #4141
@kcmannem I can confirm that `GODEBUG=netdns=cgo /home/anian/go/bin/fly -t ci ws` now works for me :tada: For comparison `GODEBUG=netdns=cgo /usr/local/bin/fly -t ci ws` segfaults.

It does not log anything about not being able to use the cgo netdns but with `GODEBUG=netdns=go` it's much faster than with `GODEBUG=netdns=cgo`
[code]

[2019-07-24 09:30] gerhard commented on #4150
We are seeing the same thing on a BOSH-deployed Concourse v5.4. Memory went from 18% to 21% in 20 hours, so the web memory leak is ~6MB/hour in our case.

![image](https://user-images.githubusercontent.com/3342/61781933-1d373800-adfd-11e9-984e-d4f9238ed519.png)

Maybe unrelated, but we are seeing a terrible leak in containers:

![image](https://user-images.githubusercontent.com/3342/61782014-3d66f

[2019-07-24 10:08] robwhitby commented on #4144
I'm seeing the same bug... sometimes at least. Can't see what the difference is between when it works and when it doesn't 😕

I'm also on 5.3.0.

[2019-07-24 10:42] keithkroeger opened #4158 "Inconsistent use of authorization headers"
## Bug Report

There is an inconsistent use of header values when authorizing API calls.

Example:
GET /api/v1/teams uses "Cookie" header with format skymarshal_auth="Bearer xxxx"
  If you attempt to provide "Authorization" header instead, the calls will fail.

PUT /api/v1/teams/team_name uses "Authorization" header with format Bearer xxxx as was avail

## Steps to Reproduce

Call API with appropr

[2019-07-24 10:57] migs commented on #4144
I'm seeing this same bug, but on 5.4.0

[2019-07-24 12:50] whit-fackler-ml commented on #4155
Yes, I have only seen this on a macOS task (although, its actually a subsequent put to upload the outputs of the macOS task that fails, not the task itself). It is a (compared to the other macOS tasks that do not have the same issue) longer-running task (specifically in the "initialization" portion - I assume this is because of a need to transfer an artifact from AWS to our datacenter). However, o

[2019-07-24 13:52] jessedye opened #4159 "Error page for Cloud Foundry Login with credentials not mapped to any teams"
## What challenge are you facing?
Currently you will get a 401 page for any logins into Concourse using the Cloud Foundry login for users that are not mapped to any teams.

## What would make this better?
Either provide an error page display error that no teams are available or log the user in but display a blank Concourse Dashboard. This will prevent confusion for users or for Concourse operators

[2019-07-24 13:54] vito commented on #269
@voelzmo I'll just re-open and mark it 'help wanted' so it stays around. I think this is one of those things that everyone agrees is a good idea, but there's not much to say about it, and it's kind of low-impact so our priorities have been elsewhere.

[2019-07-24 14:10] M0nsieurChat commented on #4141
We have the same problem as well and using `export GODEBUG=netdns=go+2` solved the issue locally

[2019-07-24 14:23] vito commented on #4153
Hmm, if this is happening within a build it should be unrelated to #1411 as the builds would be running their own code, not relying on the `concourse` binary's DNS stack.

To be honest I can't think of much in Concourse that would cause this kind of behavior. The only thing I can think of is to make sure your container network pool (default 10.254.0.0/22) doesn't overlap with any other addresses i

[2019-07-24 15:25] Bengreen commented on #4156
I have since found that you can achieve what I was aiming by having multiple --from statements in your fly command line.

[2019-07-24 16:07] infews commented on #3371
We have a similar request. The PKS RelEng team is managing a couple hundred pipelines: 4 release lines, with 20-40 pipelines each, plus several maintenance pipelines. These pipelines have very long names (e.g., `vsphere67-nsx24-om24-upgrade-minimum-minor-master`). Even when grouping pipelines by team, it's hard to find specific pipelines even with the sidebar returning in 5.2 or 5.3.

@vito having

[2019-07-24 17:21] edtan opened #4162 "Network latency from web to postgres causes slow initialization in task and put steps"
## Bug Report

When there is a slow connection from the web node(s) to the database, this causes the "initialization" part of `task` and `put` steps to slow down quite a bit.  In one setup where the web and database nodes were in different data centers, we saw the initialization period going up to a minute for each `task` and `put` step in a job.  When the web and database nodes were placed in the

[2019-07-24 17:31] billimek commented on #3360
@ukabu when you do, please reference it here too.  We are facing a similar issue.

[2019-07-24 17:36] jchesterpivotal commented on #3602
If and when we get to using partitioned tables, [the v11 docs](https://www.postgresql.org/docs/11/ddl-partitioning.html#DDL-PARTITIONING-DECLARATIVE-EXAMPLE) say that you can apply an index which itself be partitioned. I expect that most build scheduling is looking at recent records, so partitioning over time should further reduce the search cost.

[2019-07-24 18:44] robwhitby commented on #4144
ah I think this is not a bug, but a consequence of global resources.

https://concourse-ci.org/global-resources.html

[2019-07-24 19:20] kcmannem commented on #4150
@gerhard do you have alot of resources that require creds in their configs?

[2019-07-24 20:20] kcmannem commented on #4155
According to that garden, That volume is bind mounted for the devicebridge-osx resource put.
[code]
If you were to rerun this job, would the same devicebridge-osx volume fail. Or would it be a different volume every time.

[2019-07-24 20:38] jwatson0 commented on #2683
Note to anyone looking for the solution to this, Concourse v5.3.0 has the option:
`--oidc-user-name-key=    The user name key indicates which claim to use to map an external user name to a Concourse user name. (default: username) [$CONCOURSE_OIDC_USER_NAME_KEY]`

Setting `CONCOURSE_OIDC_USER_NAME_KEY=email` fixed the issue for me.

[2019-07-24 21:07] aegershman commented on #3877
Will temporarily re-open this @mohsen0 there hasn't been any further discussion that I'm aware of. Here's how I'm solving it:

Imagine a repo following this structure:

[code]

Under `concourses/` we have a folder for each concourse deployment. In our case, ci-concourse-4 is a concourse on v4.2.3, and ci-concourse-5 is on concourse v5.4.x.

Why does that matter? Because concourse 5.x introduced th

[2019-07-24 21:37] huguesalary commented on #4157
This was a user error: the helm chart I used was an older version instead of the most recent version.

Running `helm repo update stable/concourse` fetched the latest version and now everything works.

[2019-07-24 21:37] #4157 closed

[2019-07-24 21:44] whit-fackler-ml commented on #4155
If I were to rerun the job, it fails in the same way, but it is a different volume every time.

After doing some more testing with it (and comparing it to my other jobs that run builds on macOS but are still able to perform a put/etc afterwords) I was able to get some additional information (and a workaround...   maybe a resolution but it still doesn't quite seem to work the way I was expecting).

[2019-07-25 01:03] kallisti5 commented on #4153
Ran this for a period of 4 hours:
[code]

no network / DNS resolution failures on the host running concourse. They only seem to occur within the runc containers.

As a side note, i've been seeing some other random failures as well.
  * Random worker disconnects during large jobs (sudden "no workers") warning in jobs about "no workers"
  * Random resource script failures:
[code]

I have no idea :-(

[2019-07-25 01:17] kallisti5 commented on #4153
For the stalled worker, no errors in worker logs. On web:
[code]

Any ideas why a worker would be happily chugging along, then suddenly:
[code]

[2019-07-25 01:19] kallisti5 commented on #4131
Oop! I'm seeing this one as well.

For the stalled worker, no errors in worker logs. On web:
[code]

Any ideas why a worker would be happily chugging along, then suddenly:
[code]

[2019-07-25 01:20] kcmannem commented on #4150
I'd like to rule out any leaks introduced by go mod updates. I've done a diff between 5.3s go.mod and 5.4s. Only differences are zstd was introduced and baggage claim was bumped to 1.6

[code]

[2019-07-25 01:31] kcmannem commented on #4153
😞 I was hoping it wasn't a repeat of that issue. This one is gunna take a bit more effort to solve as we haven't been able to reproduce it.

[2019-07-25 02:12] kcmannem commented on #4150
To really confirm the zstd leak, I'd like to do a memory inspection from the host level. We've done flame graphs using perf before and It'd be worthwhile to do the same for memory. http://www.brendangregg.com/FlameGraphs/memoryflamegraphs.html

Hopefully its able to annotate different parts of the flame so we know exactly what's causing what.

[2019-07-25 09:22] propalparolnapervom commented on #4144
Yes, `destroy-pipeline`/`set-pipeline`.

[2019-07-25 09:23] propalparolnapervom commented on #4144
We've upgraded to `5.4.0`.
Can't reproduce this behavior any more: changing `check_every` parameter works fine without pipeline re-creation ...

[2019-07-25 09:33] luwang-vmware commented on #783
Concourse is a brilliant CI and it has easy simple interface to create a pipeline for testing. I like it.
In our daily work, I realize that supporting custom parameter in build triggering is very important for us.  It could give developer/tester more flexibility.  Supporting custom parameter with GUI or fly cli are both ok. Hope to see it soon.

[2019-07-25 10:23] stefan-de-koning-nlsn commented on #4162
This issue looks to be exacerbated when Concourse hosts multiple pipelines and executes multiple builds at the same time. In our case - a concourse cluster of about 100 pipelines and several concurrently running builds - a 20ms ping connection to the Postgresql database seems to cause up to 90 seconds of initialization time. All of that initialization delay is gone when the database is colocated.

[2019-07-25 10:25] trucken commented on #4150
I've observed the memory leakage in our deployment as well. We have roughly 80 pipelines and each got 16 resources, of which 11 require credentials. We got 2 workers handling all the resources, the magenta and blue in Worker Volumes diagram. And as you can see we have low activity during the night and the virtual memory and resident memory still increases, albeit slower than during active periods.

[2019-07-25 10:40] gerhard commented on #4150
Yes, we do have a lot of resources that require credentials. Because we have many large pipelines, it's hard to give you an exact number. Is there a quick way of finding this out? grepping through yaml files would be too slow and inefficient.

That sounds most reasonable. In case I don't have time to do this today, I will look into it tomorrow.

[2019-07-25 11:06] propalparolnapervom opened #4163 "Removing of `webhook_token` requires pipeline re-creation to run with new `check_every`"
## Bug Report

Concourse 5.3.0/5.4.0

Removing of `webhook_token` parameter from pull-request resource doesn't allow pipeline to be triggered with new value of `check_every`.

Please,
see reproducing steps for further explanation.

## Steps to Reproduce

Create initial pipeline with following pull-request resource:

[code]

Each pull-request triggers initial pipeline almost immediately.

Desired u

[2019-07-25 11:23] propalparolnapervom commented on #4144
after upgrading to `5.4.0` I tried to reproduce the behavior from reproducing steps and it worked fine. that's how I realized that I removed too much lines from my real case code:
not only `check_every` is changed in my case, but also `webhook_token` is removed.

sorry for the mess, guys. to keep it at least on this level, I've created [new issue](https://github.com/concourse/concourse/issues/4163

[2019-07-25 11:24] #4144 closed

[2019-07-25 13:24] vito commented on #3371
@infews The idea there was to have a `fly` command to update the ordering of the pipelines, not just print them. There's already a `order-pipelines` command, we'd just need to add a flag to have it auto-order them based on their name.

[2019-07-25 13:25] vito commented on #3371
I also wonder if https://github.com/vito/rfcs/blob/instanced-pipelines/034-instanced-pipelines/proposal.md would help with these use cases? Then instead of generating pipeline names and sorting all of your pipelines you'd just have instances grouped together by a common name.

[2019-07-25 13:50] misatos commented on #3989
We've been able to repro it when we roll the web pods while many pipelines are in use
During downtime (e.g. at midnight) we were able to roll the pods without CLBO, but during the day, we've seen it CLBO thrice

During downtime (e.g. at midnight) we were able to roll the pods without CLBO
we did also observe a (related?) thing when we rolled the pods at midnight -- the pods were rolled, and were s

[2019-07-25 14:04] kcmannem commented on #4150
@trucken @gerhard Appreciate the help. We ran a test overnight of a docker composed concourse, with some lightweight pipelines. We saw memory grow from 1% -> 4%. We're running the same test again today but put zstd streaming into a loop(streaming 4000 times instead of just once) to exhaust that function and see if its actually leaking. We are also going to isolate that function in a smaller test a

[2019-07-25 14:33] bhutkovskyysos commented on #4150
I am been monitoring this issue and just wanted to throw my experience here.

We use a monorepo and I have a relatively large pipeline (about 30 jobs, one per app), which get build and pushed to AWS ECR. I noticed that with load when all services are building in parallel in docker resources I see auth errors "no basic auth credentials".

I also have an older version of concourse 3.14 and never exp

[2019-07-25 15:17] kcmannem commented on #4150
// NewReader returns a new io.ReadCloser that will decompress data from the
// underlying reader.  If a dictionary is provided to NewReaderDict, it must
// not be modified until Close is called.  It is the caller's responsibility
// to call Close, which frees up C objects.

[2019-07-25 15:20] #3269 closed

[2019-07-25 15:45] vito commented on #4163
I think this might be an instance of #3678 - I doubt it's related to `webhook_token`, in fact it may be that any change to `check_every` is not reflected until the initial value elapses.

[2019-07-25 18:01] clarafu commented on #3602
We added metrics to each of the garbage collection component (resource caches, builds, containers, volumes, etc) in order to see how long each takes to fully complete and how the metrics look when the autovacuum starts. The graph below shows the time it takes each gc component to run and the vertical line is approximately where the autovacuum on the builds table started.

<img width="720" alt="Scr

[2019-07-25 20:05] ddadlani opened #4166 "Add context to BaggageClaim API calls"
Similar to #3928, we should also cancel streaming in/out when the parent context is cancelled.

[2019-07-25 22:49] XenoPhex commented on #4141
The CF CLI team had to deal with the whole "fully static golang binary" thing and after a few releases we've found a [solution that we've hardcoded in our makefile](https://github.com/cloudfoundry/cli/blob/afa7edfedc4f16251eb549ebd0d5fea30c3a5c25/Makefile#L182-L185). Feel free to reach out to me if you need a full blown explanation (it sounds like it's in a lot of pieces in this thread).

[2019-07-25 23:12] samgurtman commented on #4150
Is this going to result in a new release?

[2019-07-26 01:54] kcmannem commented on #4150
@samgurtman sometime next week is the plan. The patches have to go through topgun which can take a little while.

[2019-07-26 08:29] propalparolnapervom commented on #4163
If I create initial pipeline with no `webhook_token` involved in the pull-request resource,  any change to its `check_every` makes pipeline trigger as expected.

[2019-07-26 09:26] itsdalmo commented on #3910
This is still an issue for us unfortunately.

[2019-07-26 13:42] #4111 closed

[2019-07-26 14:46] zoetian commented on #2944
https://github.com/concourse/concourse/pull/4168

[2019-07-26 14:46] kallisti5 opened #4169 "Spike: Change garden to libpod?"
The RedHat folks are betting on libpod / podman to run containers.  It's backed by some large companies, and sticks closely to the OCI (runc).  It's actively developed and supports userspace (non-root) containers.  It supports unmodified oci or docker containers, the tools are cli compatible with docker.  There is no (docker, containerd) daemon process.

It's written in go, and they provide libpod

[2019-07-26 14:55] #3489 closed

[2019-07-26 14:57] kcmannem commented on #4141
@XenoPhex thanks for linking that!

[2019-07-26 15:55] jomsie commented on #4062
<img width="882" alt="Screen Shot 2019-07-26 at 11 55 17 AM" src="https://user-images.githubusercontent.com/2362482/61964608-4510d200-af9c-11e9-847c-054e0f135026.png">

👀

[2019-07-26 16:14] concourse-github-dummy commented on #4154
This morning I made a pipeline tested this, we do not have this problem. I will close this.

[2019-07-26 16:17] pivotal-bin-ju commented on #4154
This morning I made a pipeline and tested it with the latest code. The result was we could cancel the build. I will close this.

[2019-07-26 16:18] #4154 closed

[2019-07-26 16:56] Rahul-Bhargav opened #4171 "Concourse windows - Base resource type not found : git"
## Bug Report

Trying to run concourse on a Windows 10 Pro (version 1809).
Base resource type git is not found.
Further investigation on the atc Postgres database lead to empty tables
`SELECT * FROM public.worker_base_resource_types, SELECT * FROM public.base_resource_types`

Maybe some inital migrations are not run?

## Steps to Reproduce
1 . Downloaded the concourse binaries, added it to system

[2019-07-26 17:34] kcmannem commented on #4071
@eedwards-sk we use overlay for our docker-composed environments. Haven't seen any problems there.

[2019-07-26 17:55] kcmannem commented on #4171
I think you need at least one linux worker. Are you running a solo windows worker?

[2019-07-26 17:57] pivotal-bin-ju commented on #4114
A PR was drafted for this: https://github.com/concourse/concourse/pull/4172/commits/cd77717cdeab44e4163c5e4209bf0a4ef96d7de5

[2019-07-26 17:58] kcmannem commented on #4169
we have an investigation coming up for containerd. Garden had a containerd mode which basically translates its api to containerd api calls. That way we can test for a smoother transition.

Do you know if there are some advantages/disadvantages for using libpod over containerd?

We are planning to move out of garden. https://github.com/concourse/concourse/issues/4130

[2019-07-26 18:25] Rahul-Bhargav commented on #4171
@kcmannem Yes I'm running a solo windows worker. I now kind of realize the problem here. Is it possible to run a linux worker on windows OS? through docker or something?

[2019-07-26 18:42] cappyzawa opened #4174 "Feature Request: Support Custom Environments for containers"
## What challenge are you facing?
[`GOPROXY`](https://tip.golang.org/cmd/go/#hdr-Module_proxy_protocol) is introduced since go1.13.

We use GitHub Enterprise and don't want to register package to GOPROXY.
So, I(concourse admin) want to force the users setting `GOPRIVATE` env.

Now, users can set `GOPRIVATE` env using task parameters.
But users may forget to do this.

### References
[GOPROXY\.IO \-

[2019-07-26 18:45] kcmannem commented on #4171
I'm sure you could set something up with docker. I haven't done it before and I haven't used windows in years. But you can definitely use our docker-compose.yml file  in the root of the repo and modify it to create just a worker on docker. If you don't actually need a windows worker, then your probably better off just doing the whole deployment on docker.

[2019-07-26 18:47] kwri-avongluck commented on #4169
https://opensource.com/article/18/10/podman-more-secure-way-run-containers is a pretty good article.  It uses traditional fork/exec and doesn't require root.

[2019-07-26 18:52] kcmannem commented on #4130
take a look at https://github.com/concourse/concourse/issues/4169

[2019-07-26 19:00] Rahul-Bhargav commented on #4171
Yes, Also I just tried spinning up a worker using docker only to remember that the docker worker can not access host concourse. So just reverted back to docker-compose deployment (Not stable at all).

I'm still running into a lot of issues with that (docker deployment). Keep seeing these `file not found`  or `unknown-handler` etc every time. Haven't seen a green build since quiet a long time. Lord

[2019-07-26 19:00] #4171 closed

[2019-07-26 19:28] kallisti5 commented on #4169
https://opensource.com/article/18/10/podman-more-secure-way-run-containers is a pretty good article. It uses traditional fork/exec and doesn't require root.

[2019-07-26 21:15] lauragalita opened #4176 "Setting team roles without conf file defaults to owner"
## Bug Report

When changing group permissions on a team, fly defaults to "owner" role if the role isn't specified through a configuration file.

## Steps to Reproduce

Set a team like so :
test-team/member                      none                                                                cf:test-team-org:dev

Change the permissions through the command line :

fly -t main set-team -n test-te

[2019-07-27 02:06] #3887 closed

[2019-07-27 15:06] #3888 closed

[2019-07-27 16:06] #3893 closed

[2019-07-27 17:45] gerhard commented on #4150
@kcmannem great work, thank you for seeing this through so promptly!

[2019-07-28 13:39] kallisti5 opened #4177 "Warn instead of fail on unused resources"
## What challenge are you facing?

It would be *great* to be able to leverage unused resources within pipelines.  We deploy multiple pipelines using the same yaml. These pipelines are "one per branch" (master, release1, release2, etc)

We template the branch out within our yaml.  It would be awesome to have our pipelines "select" the resource they want based on the branch name... however unused re

[2019-07-28 14:05] kallisti5 commented on #4177
See PR https://github.com/concourse/concourse/pull/4178

[2019-07-28 15:21] kcmannem commented on #4177
This isn't really my area in the code so I don't know what side effects unused resources will cause. Another approach we can try is to remove unused resources invisibly from the interpreted yaml before calling out to the ATC. This way we can spit out a warning such as: `Unused resources referenced. Excluding them from pipeline config.`

[2019-07-28 16:40] infews commented on #3371
Didn't realize the intent. Thanks!

Ordering based on name would be a great addition.

"instanced pipelines" looks interesting. I'll have the team take a look at
it.

On Thu, Jul 25, 2019 at 6:25 AM Alex Suraci <notifications@github.com>
wrote:

--
--dwf

[2019-07-29 01:49] aegershman commented on #4135
Just curious, is there a way a default (we'll call `default-params.yml`) could be provided with default key/value pairs, and then when teams use the pipeline they provide their own `override-params.yml` (or some name) that selectively overrides the key/values that they need? Then they could do `fly -t myteam set-pipeline -p somepipeline -l default-params.yml -l override-params.yml`? Basically inst

[2019-07-29 07:12] wlwwu opened #4179 "pipeline with in_parallel step with non extra key error"
Bug Report

When trying to use in_parallel to replace aggregate step, it is with error: invalid configuration:
unknown/extra keys:
  - jobs[0].plan[0].in_parallel

## Steps to Reproduce
- name: stage-((buildpack-name))
  plan:
  - in_parallel:
    - get: buildpack-test-pipelines
    - get: buildpack-artifactory
      trigger: true
      passed:
      - download-((buildpack-name))

## Expected Resu

[2019-07-29 07:29] sbkg0002 commented on #1990
We are on 5.1, but it's a mess after some days.

[2019-07-29 07:30] sbkg0002 commented on #4169
+1 Garden needs to go.

[2019-07-29 07:56] M0nsieurChat commented on #1990
We solved the problem after importing all of our pipelines on a fresh new concourse installation.
Lost our build histories in the process but at last the workers are now functioning normally.

[2019-07-29 08:25] petergtz commented on #1407
I do still hit this issue with version 5.3.0:
[code]

@vito

I guess that would make sense, as it is not obvious that this is the way to fix it. How would you make sure people quote their values?

Would it make sense in addition to treat `param` values always as strings? Environment variables have no notion of types. That could help to avoid this problem in the first place.

[2019-07-29 13:04] aledeganopix4d opened #4180 "Win/Darwin workers: Garden logs error on successful operation"
## Bug Report

On Windows and Darwin workers Garden reports an error just before spawning a "container" to run the task, as below:
[code]
after which the container is reported as spawned and the task executes normally:
[code]

## Steps to Reproduce

Execute any task on Windows or Darwin.

## Expected Results

No errors logging on nominal system function.

## Additional Context

The issue became pa

[2019-07-29 13:15] puellanivis commented on #4150
Thanks for locating the bug and and explanation of what was causing it, it’s a great learning point.

But as a bit of an aside, while I was trying to track down a memory leak for some colleagues, I noticed a codepath where the code was not closing a `gzip.Reader`, and noted to them that [according to the `compress/gzip` library](https://golang.org/pkg/compress/gzip/#NewReader) there was the same c

[2019-07-29 13:39] pivotal-jamie-klassen commented on #3905
Pretty sure this is still topical. It's not immediately obvious to me if this can be rolled into any of the [v10 dreams](https://blog.concourse-ci.org/core-roadmap-towards-v10/) that you've described recently, but @vito maybe you can see a connection that i cannot.

[2019-07-29 14:31] pivotal-jamie-klassen commented on #4135
linking https://github.com/cloudfoundry/bosh-cli/issues/502 since I believe that's the library we're using

[2019-07-29 14:33] vito commented on #1200
Hi all, thanks a lot for helping me map this out. I think I've got a plan that addresses this, and I've outlined it in the [v10 Roadmap](https://blog.concourse-ci.org/core-roadmap-towards-v10/) blog post. :slightly_smiling_face:

Specifically, this has led to concourse/rfcs#32 which proposes a workflow that maps pretty closely to what we talked about here. A `set_pipeline` step is involved, but on

[2019-07-29 14:33] #1200 closed

[2019-07-29 14:34] scottietremendous commented on #3853
**Acceptance Criteria**

- [ ] Identify the change and the impact of this proposed change
- [ ] Epic(?) created for chosen solution

[2019-07-29 14:52] vito commented on #3759
Quick update: the plan is for this to be fixed by #3788 instead, which is almost done. :slightly_smiling_face:

[2019-07-29 15:10] pivotal-jamie-klassen commented on #3837
@pivotal-jwinters can you answer off the top of your head whether dex/github swallows/down-casts the unverified email error?

[2019-07-29 15:26] vito commented on #3905
@pivotal-jamie-klassen It's pretty orthogonal to v10 as that's all 'Core' focused - I think the remaining work for this is all in UX/API.

The latest development on this front is that the new algorithm resulted in the addition of a database table which will make it a lot easier to trace pipeline flows (`build_pipes`).

But there's currently no 'next step' - I've been focusing on Core all this time

[2019-07-29 15:29] zoetian commented on #3853
The following are affected because they all assume a a team name is given/provided:
- The API
  - usually checks to see if user is part of the team that the pipeline is owned by
- The Fly cli
  - scopes all commands to the currently logged in team but superadmin would want to see everything regardless of what team(s) they're part of
- The web UI
  - Only displays the pipelines for the teams the us

[2019-07-29 15:37] vito commented on #1407
@petergtz Here's one strategy: for `task`, introduce `env:` instead, and require all values to be strings. We can then deprecate `task:` + `params:`, preserving today's funky coercion behavior until we eventually remove it. Task configs would also switch to `env:` instead of `params:`, but we'd allow both with a deprecation warning for backwards-compatibility.

The main reason I want to do this is

[2019-07-29 15:56] #3906 closed

[2019-07-29 17:52] clarafu commented on #4179
@wlwwu Hi! I just want to make sure that your fly was up to date (through `fly sync`) when you saw this error?

[2019-07-29 18:06] clarafu commented on #4177
@kallisti5 Hi! I can see your point about it being useful to use the same yaml for multiple pipelines. If we were to allow for resources that arn't used by the pipeline, it would result in those unused resources being checked even though it is never used and shown within the pipeline view in the UI. So in your case, it would result in all those unused resources that would be for the other branches

[2019-07-29 18:28] goldstar611 commented on #4131
@kallisti5 Are your workers on linux and is UFW enabled (assuming it's ubuntu/debian based)
I was having a hard time reproducing this issue on an AWS instance until I popped on UFW. It's possible that enabling UFW while jobs were running was the actual issue, but now my eyes are on UFW at this point.

[2019-07-29 18:28] vito commented on #4139
Hmm, yeah it looks like it chokes on old inactive resources from before we stored the config data?

We could just make it default to an empty string. Kinda hacky, but at least we don't have to invent a value. The row is already inactive, and for it to become active it'll become valid at the same time.

[2019-07-29 18:46] kcmannem commented on #4131
@goldstar611 thanks for looking into this. We'd appreciate if you could share your findings in here if you find UFW to be the suspect.

[2019-07-29 18:50] goldstar611 commented on #4131
The act of turning on UFW did in fact disrupt the containers ability to reach the internet.
I already knew about this but forgot to change the default forwarding policy:

[code]

I still have my eye on UFW...

[2019-07-29 19:11] kallisti5 commented on #4131
@goldstar611   Fedora 30.  firewalld is disabled on my install.

[2019-07-29 19:13] vito commented on #3857
We have made another arbitrary decision.

Using colours is tricky 'cause we use that for statuses everywhere, and this is more of an annotation than a status, so we're gonna try adding a white border to resources in the pipeline view and change the yellow arrow to a white border on the step header. Similar to the red border we're adding for #4111

Sound OK?

[2019-07-29 19:21] kcmannem commented on #4166
I'd like to add idle timeouts to our http client used in the baggageclaim client.

[code]
The default transport allows you to set `MaxIdleConns` and `IdleConnTimeout` but we use our retryhttp transport object so we'll need to pass it in from there.

[2019-07-29 20:04] Lindsayauchin commented on #3857
![Screen Shot 2019-07-29 at 4 03 51 PM](https://user-images.githubusercontent.com/27746614/62078391-9201dc00-b21a-11e9-9696-edd33adb9fc8.png)
![Screen Shot 2019-07-29 at 4 04 06 PM](https://user-images.githubusercontent.com/27746614/62078394-94643600-b21a-11e9-8947-40290273b9f8.png)

[2019-07-29 21:00] kcmannem commented on #4166
well I don't think idleConnTimeout is what I think it is. This is a great post explaining everything http://tleyden.github.io/blog/2016/11/21/tuning-the-go-http-client-library-for-load-testing/

[2019-07-29 21:01] kallisti5 commented on #4177
Would it be difficult to just omit resources that are unused?

[2019-07-30 02:26] evanchaoli commented on #3905
@vito As I raised this issue, and our users are waiting for this feature. I'd like to help on this once the new algorithm is in place.

[2019-07-30 06:50] #3914 closed

[2019-07-30 07:08] trucken commented on #4177
Just like @clarafu says, you could have just one resource and let configuration files dictate how it functions for different pipelines.
E.g.
[code]

[code]

Not sure if that is what you're after.

I personally am in favor of the error and backing out creating a pipeline with unused resource since they would just hang there, creating volumes and containers and periodically ping their endpoint witho

[2019-07-30 07:28] trucken commented on #4177
You can also make the configuration multi-layered.

E.g.
[code]

[code]

The configuration files are read from left to right so any parameter declared in any of the -l files to the right will override its value so you can customize your pipeline.

[2019-07-30 09:13] andy-lumiq commented on #3486
seems like with okta OIDC, `groups` claim is not passed in id token, unless you're using implicit flow and concourse / dex force the use of auth code flow. I faced similar stuff in Argo CD, however it allows usage of implicit flow, hence it's possible to get the groups information

[2019-07-30 10:14] petergtz commented on #1407
@vito Sounds good to me. So it seems to me that the work for all your suggestions is tracked somewhere else, which seems to suggest to leave the **workaround/solution** here for anyone to quickly find it:

**Values should be quoted appropriately to makes sure they're not interpreted as numbers. Example:**
[code]

and close this issue. Feel free to do so, if you agree.

[2019-07-30 13:14] paradajz opened #4189 "concourse generate-key not generating public key"
## Bug Report

Running `concourse generate-key --help` among other stuff says:

    -f, --filename=      File path where the key shall be created. When generating ssh keys, the public key will be stored in a file with the same name but with '.pub' appended. [$CONCOURSE_FILENAME]

So, after I run the following command:

    concourse generate-key -t rsa -f ./session_signing_key

The result is the f

[2019-07-30 13:47] #2094 closed

[2019-07-30 15:11] #4107 closed

[2019-07-30 15:17] kcmannem commented on #4166
We tried to check if there is a way to natively implement Write/Read Deadlines such that during a long running response recv. We can timeout when a period of the response body transmission connection remains in an idle state. We do this with the tsaClient like so https://github.com/concourse/concourse/blob/671e8f085b3e0c6b1af23462b3c59cf1c0b67dcf///tsa/timeout_conn.go#L8:6 but we decided to avoid

[2019-07-30 15:49] #2928 closed

[2019-07-30 16:00] vito commented on #1448
I think 'projects' will be the answer for this: https://github.com/concourse/rfcs/pull/32

[2019-07-30 16:01] #3924 closed

[2019-07-30 16:01] #3998 closed

[2019-07-30 16:02] #4056 closed

[2019-07-30 16:06] ddadlani commented on #3292
I'm going to close this for now. We can open another issue once we have more direction.

[2019-07-30 16:06] #3292 closed

[2019-07-30 16:09] ddadlani commented on #3370
Closing this for now until we see it occurring again

[2019-07-30 16:09] #3370 closed

[2019-07-30 16:10] ddadlani commented on #676
Closing this since it has been implemented in #4118

[2019-07-30 16:10] #676 closed

[2019-07-30 16:50] #1097 closed

[2019-07-30 17:52] ddadlani commented on #972
is this issue still occurring?

[2019-07-30 17:54] ddadlani commented on #4080
closing this in favor of #4166

[2019-07-30 17:54] #4080 closed

[2019-07-30 17:57] ddadlani commented on #1987
This is interesting because we have already been discussing this as part of https://github.com/concourse/architecture-rfcs/pull/1 -- treating all artifacts as the same thing would require that we favor streaming caches over to the requisite worker as opposed to downloading new artifacts every time

[2019-07-30 17:59] ddadlani commented on #2037
Some work on this has already begun. Closing this in favor of #3695

[2019-07-30 17:59] #2037 closed

[2019-07-30 18:47] ddadlani commented on #1869
closing because this has been fixed in https://github.com/concourse/concourse/pull/3540

[2019-07-30 18:47] #1869 closed

[2019-07-30 18:49] ddadlani commented on #1954
this should be fixed in #4137. closing

[2019-07-30 18:49] #1954 closed

[2019-07-30 18:50] ddadlani commented on #1960
closing this because #1959 has been closed

[2019-07-30 18:50] #1960 closed

[2019-07-30 18:56] ddadlani commented on #1751
Hi @benjoyce, there is a known issue with the default `btrfs` baggageclaim driver where GC gets queued but may never actually occur. Could you try switching the baggageclaim driver to `overlay` and see if the issue still occurs?

[2019-07-30 18:56] osis opened #4190 "Reaching Unauthorized Build Output Partially Disables Sidebar"
## Bug Report

When I reach an unauthorized build output screen, the pipelines listed in the sidebar become disabled. Sometimes I'm able to click on the first few under the current team.

![unauth_flow_bug](https://user-images.githubusercontent.com/347097/62156805-b96bae00-b2d9-11e9-9f9d-f3c3c64cf4f8.gif)

## Steps to Reproduce

Navigate to a build with output that you don't have access to and try

[2019-07-30 19:00] ddadlani commented on #3112
We are looking into replacing placement strategies with a better scheduling model so I am closing this until it comes up the next time

[2019-07-30 19:00] #3112 closed

[2019-07-30 19:37] vito commented on #1707
As promised, the roadmap update has been posted: [Core roadmap: towards v10](https://blog.concourse-ci.org/core-roadmap-towards-v10/)

I'm going to close out this issue as the specific approach it proposes is no longer the plan. Keep an eye on the [Spatial Resources](https://github.com/concourse/concourse/projects/2) epic and the [Core roadmap](https://github.com/concourse/concourse/projects/21#co

[2019-07-30 19:37] #1707 closed

[2019-07-30 20:02] vito commented on #1298
I'll leave #736 open as long as the issue still stands. The resolution will probably be deprecating/disallowing `version: every` + `passed:` in favor of spatial pipelines. The problem with `version: every` + `passed:` is pretty fundamental as noted in https://github.com/concourse/concourse/issues/736#issuecomment-479557411, and supporting it adds a *lot* of complexity in our scheduling algorithm.

[2019-07-30 20:02] #1298 closed

[2019-07-30 20:06] vito commented on #736
I'll leave this issue open as long as the issue still stands. The resolution will probably be deprecating/disallowing `version: every` + `passed:` in favor of spatial pipelines using the `across` step (https://github.com/concourse/rfcs/pull/29). The problem with `version: every` + `passed:` is pretty fundamental as noted in https://github.com/concourse/concourse/issues/736#issuecomment-479557411,

[2019-07-30 20:08] vito commented on #1172
Woah, chill stale-bot!

I'll keep this issue open as a long-term goal in the [Spatial Resources project](https://github.com/concourse/concourse/projects/2). It doesn't feel right to close it since it's still capturing a valid need.

For anyone following this issue, check out [Core roadmap: towards v10](https://blog.concourse-ci.org/core-roadmap-towards-v10/), which outlines our new strategy for ad

[2019-07-30 20:12] vito commented on #1928
Linking to #3678 - I think we'll probably change how `check_every` is implemented. Instead of having that number directly determine the interval that checks are queued, we'll keep the 1 minute interval but instead use `check_every` to determine "has it been `check_every` since the last check?" That way users can't configure overly aggressive durations that hammer the database and workers.

[2019-07-30 20:34] petemounce commented on #972
You would need to try to reproduce it. Based on the lack of engagement I got from filling issues that had reproduction recipes at the time, our trial with concourse was abandoned.

[2019-07-30 20:55] ddadlani commented on #972
Hi @petemounce, I'm sorry you feel that way. We are always trying to improve our community engagement here at Concourse and we welcome feedback on ways we can improve.

For this issue, I'm going to remove it from the Runtime icebox for now. If anyone comes across this in the future, please do let us know and we will re-prioritize it.

[2019-07-30 21:17] taylorsilva opened #4192 "[Epic] Implement Super Admin Privilege"
## Description

Take the current `Admin` privilege and give it all permissions. All checkboxes on our docs permissions page (https://concourse-ci.org/user-roles.html) should be checked-off for the Admin "role".

WIP Branch: [`super-admin-user`][branch]

## Stories
- [ ] [atc/api] Increase scope of Admin privilege #4193
- [ ] [Web] Confirm UI functionality for Admin user #4194
- [ ] [fly] Confirm f

[2019-07-30 21:18] taylorsilva opened #4193 "[atc/api] Increase scope of Admin privilege"
Epic #4192
### Description/Context

We want to update the API handlers that care about what teams a user belongs to. The accessor.IsAuthorized() should always return true if the user is Admin. Any handlers that care about the teams that a user is part of should check if the user is an admin and instead perform their action for/with all teams in mind.

Tip: search for usages of `acc.TeamNames()`, t

[2019-07-30 21:19] taylorsilva commented on #3853
Created an epic to implement "super admin": #4192

[2019-07-30 21:19] #3853 closed

[2019-07-30 21:20] taylorsilva opened #4194 "[Web] Confirm UI functionality for Admin user"
Epic: #4192

### Description
Given the changes done in the API story (#4193) add some tests to ensure the web UI functions as expected for an admin.

### Branch
`4194-super-admin-web-ui`

### PR
https://github.com/concourse/concourse/pull/4319

### Acceptance Criteria

Things we can't but should be able to do in the web UI for teams admin is not a member of:

- [x] pause/unpause a pipeline
- [x] f

[2019-07-30 21:22] taylorsilva opened #4195 "[fly] Confirm functionality for Admin user"
### Description
Given the changes done in the API story (#4193) add some tests to ensure the fly cli functions as expected for an admin.

### Acceptance Criteria
- [ ] Admin is not part of any team (besides main) but can log into any team
- [ ] All fly actions work for the admin

[2019-07-30 21:24] taylorsilva opened #4196 "[fly] Add `--team-name` for all Fly commands"
Epic #4192

Currently the only way for users to interact with multiple teams with Fly is to create multiple targets.
This story will leave this workflow possible (users may have scripts that switch targets based on teams)
and will enable a new "single target, many teams" workflow.

If a user wants to change their default team, they can login with the same target into a different team.

Another thi

[2019-07-30 21:25] taylorsilva opened #4197 "[docs] Update docs with new admin privilege"
Epic #4192

## Description

Given that the Admin privilege can do everything, update the permissions document (https://concourse-ci.org/user-roles.html) to reflect this new state of the admin privilege.

## PR
https://github.com/concourse/docs/pull/245

[2019-07-30 22:23] ebilling commented on #2346
I still see this issue as of v5.1.0.  The issue is that the system is not re-using the TLS connections to Postgres. We could just throw more hardware at the problem, but this is a fundamental flaw in how the system is using the db connections.  I'm going to try to take a look at it in the next couple of weeks and see if there is a "simple" fix in there somewhere.

[2019-07-30 23:14] #4094 closed

[2019-07-31 12:38] michelvosje opened #4198 "Command to force redownloading resource"
# What challenge are you facing?

1. I upload a resource to a Artifactory server with a specific version number.
2. Concourse downloads the resource using Resource Type ```emeraldsquad/artifactory-resource```
3. I made a mistake and reupload the resource again with the same version number on the Artifactory server.
4. Concourse won't download the new resource again. So now i have to destroy the en

[2019-07-31 13:09] ebilling commented on #2346
After some investigation, I'm seeing that the lock connection is separate and created with a max idle and max open of 1, so what I think might be happening is that on a very active system, you have many threads trying to get a lock, and as a result, they keep running into these limits and closing connections or having to wait to get the one open connection.  I'm going to try running a test with a

[2019-07-31 13:28] pivotal-jamie-klassen commented on #4198
I think this is really an issue about resource caches, and I can almost imagine the solution being something like `fly clear-resource-cache` but I think I might be being naive. I'm fairly sure @ddadlani has put some thought into this sort of thing and would better understand the consequences.

[2019-07-31 13:38] pivotal-jamie-klassen commented on #4194
For the most part I'd hope that if we have confidence in the API piece, we'll get confidence around the UI for free.

I have one thought about the 'Admin should be able to see all teams' point: Should there maybe be an extra tag on dashboard teams for the teams you can see purely because you're an admin (i.e. a new `Admin` variant [here](https://github.com/concourse/concourse/blob/master/web/elm/s

[2019-07-31 13:48] ddadlani commented on #4162
@clarafu @pivotal-jwinters any thoughts on this?

[2019-07-31 14:03] ddadlani commented on #4198
Yes, when we do a `get` on a resource we immediately cache it. We can add the ability to force clear a resource cache from the API but I'm not sure if that has any implementation on GC. @pivotal-jwinters thoughts?

[2019-07-31 14:14] vito commented on #2346
@ebilling Thanks for looking into this! Would you mind opening an issue for what you're seeing so the discussion doesn't get lost? This one was closed by the OP so I'm not sure if I should re-open.

[2019-07-31 14:15] vito commented on #3932
https://github.com/concourse/concourse/pull/4048 has been merged

[2019-07-31 14:15] #3932 closed

[2019-07-31 14:36] ebilling opened #4200 "High CPU on ATC due to lock acquisition from db"
## Bug Report

We have experienced higher than expected cpu on the concourse web application for a long time and believe it is the same issue raised in https://github.com/concourse/concourse/issues/2346.  However, after running a trace and looking carefully over the code, I believe the issue is caused by too few open connections to the DB for the lock manager when using TLS connections. (see Addit

[2019-07-31 14:37] edtan commented on #4162
As an experiment, I tried commenting out the mutex locks in `atc/db/lock/lock.go`, but that didn't appear to improve performance, so it might not be related to the mutexes.

[2019-07-31 14:51] ddadlani commented on #4162
@edtan just to confirm, are the workers always co-located with the ATC, or always separated from the ATC, in your testing scenarios? Trying to eliminate worker network latency as a factor.

[2019-07-31 15:01] edtan commented on #4162
They are always co-located with the ATC, for example, different containers within the same network for Docker testing, or on different VMs within the same availability zone when testing with the binary.  I have not tried testing with the ATC and worker on the same VM though.

[2019-07-31 15:17] #3881 closed

[2019-07-31 15:25] #4061 closed

[2019-07-31 15:38] vito commented on #2292
This is dead now.

[2019-07-31 15:38] #2292 closed

[2019-07-31 15:50] vito commented on #3911
We decided against this during IPM in favor of redesigning the 'groups' metaphor as groups associated to jobs (i.e. #469), having group filters on the pipeline UI act like search filters on the dashboard UI, and keeping the tags present on the build/job page (https://github.com/concourse/concourse/issues/2273).

[2019-07-31 15:50] #3911 closed

[2019-07-31 17:48] nader-ziada commented on #4054
pipeline at https://ci.concourse-ci.org/teams/main/pipelines/porter

[2019-07-31 17:49] nader-ziada commented on #4054
image pushed to dockerhub at `concourse/porter-dev:latest`

[2019-07-31 17:50] #4054 closed

[2019-07-31 17:51] kcmannem commented on #4054
@nader-ziada One last thing to do, rename porter

[2019-07-31 17:55] nader-ziada commented on #4053
`access to blobstore` should be covered by using `porter` containers which will get blobstore (bucket) credentials from Kubernetes secrets

[2019-07-31 17:59] pivotal-jamie-klassen commented on #3857
it feels right to me that we go all-in on the Tron aesthetic.

[2019-07-31 18:03] nader-ziada commented on #4053
`service account to create new pod` as part of the kubernetes installation we should add a service account with the appropriate RBAC to write and read pods https://kubernetes.io/docs/reference/access-authn-authz/rbac/
This should be used by the `atc.kubernrtes-client` that will be creating the pods

[2019-07-31 18:14] vito commented on #1059
I'm just gonna call this covered by RBAC for now. :thinking:

[2019-07-31 18:14] #1059 closed

[2019-07-31 18:45] vito commented on #1407
@petergtz Nothing tracking it yet. So thanks for making the work-around easy to find! I'll close this once I figure out where to put the `env:` stuff in our [roadmap](https://github.com/concourse/concourse/projects/21). :thinking:

[2019-07-31 18:47] vito commented on #3905
@evanchaoli Great! For what it's worth, I finally slotted this into our [roadmap](https://github.com/concourse/concourse/projects/21) - but it's pretty far down on the UX track. So feel free to pick it up since it'll probably get done faster that way.

[2019-07-31 18:55] vito commented on #1348
@jama22 I think we can close it. The main goal was being able to re-configure my team without needing a client ID/secret, which we've delivered.

[2019-07-31 18:55] #1348 closed

[2019-07-31 18:55] #4190 closed

[2019-07-31 19:05] vito commented on #3521
@evanchaoli We've prioritised this pretty highly in the UX backlog - it's the next epic after we do a quick implementation of build re-triggering (which shouldn't take long - MVP is just adding a button to the build page). We're itching to work on it. :slightly_smiling_face:

Here's the roadmap epic for it: https://github.com/concourse/concourse/projects/37

[2019-07-31 19:09] vito commented on #3092
@loghen41 Here is fine!

[2019-07-31 19:10] vito commented on #3694
Fair enough. Closing!

[2019-07-31 19:10] #3694 closed

[2019-07-31 19:11] vito commented on #4067
@simonjohansson Could that just be a load balancer idle timeout? The connection has to stay open otherwise the client-side considers it an error and just keeps re-attaching.

[2019-07-31 19:14] vito commented on #3141
@cirocosta :turtle: Nope, go ahead!

[2019-07-31 19:18] vito commented on #3774
@taylorsilva I could buy that. We used to use `quickstart` in the docs as an easier onramp since the docs used the `concourse` binary, but now they're pretty Docker-centric. I'm fine with removing it.

[2019-07-31 19:22] vito commented on #3542
@pivotal-jwinters Is this fixed by #3788? I'm thinking now that `check-resource` just chucks an entry onto the queue, it should just be the `scanner` which cares whether the resource is pinned, and the `checker` will just handle the queue entry regardless.

[2019-07-31 19:25] pivotal-jwinters commented on #3542
@vito yep, exactly as you described.

[2019-07-31 19:32] vito commented on #3542
Sweet! I'll close this as part of acceptance.

[2019-07-31 20:03] vito commented on #3385
I think we'll probably just get rid of that page via the [build page redesign]( https://github.com/concourse/concourse/projects/12). Probably not worth polishing until then. :thinking:

[2019-07-31 20:03] #3385 closed

[2019-07-31 20:20] osis commented on #2890
@Lindsayauchin should we kill this?

[2019-07-31 20:32] #2813 closed

[2019-07-31 20:42] dsyer commented on #386
+1 (or something). Seems like a no-brainer to me. Wouldn’t even know where to start with the PR though, sorry.

[2019-07-31 20:59] vito commented on #2890
I'll put this in the 'build page redesign' epic since I just put https://github.com/concourse/concourse/issues/2890 there which is general feedback about how steps are rendered, though we might break it out into a separate epic later on.

[2019-07-31 21:02] taylorsilva commented on #4193
# Issue Status

- Created a branch [`super-admin-user`][branch] with some wip code
- Our current implementation idea is that each API handler will have to do something like what we find in the `SetTeam()` function:

https://github.com/concourse/concourse/blob/5824dfd73cba6a3d9a256a2317f45a92478aa2b4/atc/api/teamserver/set.go#L55-L66

- For testing, when trying to add to the existing test suite it'

[2019-07-31 22:47] DRuggeri commented on #1073
Well, I still think it is relevant, Mr. bot...

[2019-07-31 23:16] andrewedstrom commented on #1227
FWIW I would still love to see this fixed

[2019-07-31 23:56] edtan commented on #4162
I did a bit more testing, and found the following:

* The slow initialization still occurs when the ATC and worker are on the same VM (using the binary)
* When testing with `docker-compose` locally but with the ATC pointed to a remote cloud database, I set breakpoints in the code to see if any new database connections were being opened.  There were a few times that the [connectionRetryingDriver](h

[2019-08-01 00:21] mcwumbly commented on #1584
I think this is still important... was chatting with @dpb587 about this kind of thing the other day...

[2019-08-01 01:06] rizwanreza commented on #1584
I would like to see in the product as well.

[2019-08-01 01:59] xtremerui commented on #2765
@pivotal-jamie-klassen not sure the current state of build page logs. Is this sth still worth look into?

[2019-08-01 02:07] xtremerui commented on #1759
Confirm on Firefox 64 and concourse 5.4 that all keyboard shortcuts are working.

[2019-08-01 02:07] #1759 closed

[2019-08-01 02:08] #2192 closed

[2019-08-01 03:09] pivotal-jamie-klassen opened #4205 "task params with no value in YAML resolving to "null""
## Bug Report

builds 1505-1522 of k8s-testflight have been failing because `CONCOURSE_CHART_DIR` seems to be "null": https://ci.concourse-ci.org/teams/main/pipelines/concourse/jobs/k8s-topgun/builds/1522#L5d41d97e:26:27.

## Steps to Reproduce

[code]

## Expected Results

[code]

## Actual Results

[code]

## Additional Context

This smells like #3505.

## Version Info

* Concourse version: 5.4.

[2019-08-01 07:46] pn-santos commented on #2608
I still think this would be useful, but I have zero chance of making it happen myself.

[2019-08-01 11:10] mohsen0 commented on #610
The option to only expose the badge publicly would have made this feature useful

[2019-08-01 12:30] Jarlotee commented on #2281
Probably fixed in a newer version lets move on 😄

[2019-08-01 12:30] #2281 closed

[2019-08-01 13:41] vito commented on #1584
I think this was a factor in a few of our mockups for the build page redesign. :thinking: I'll chuck it in our epic for that. /cc @Lindsayauchin

[2019-08-01 13:50] vito commented on #2608
Hmm, one change we made was to have all steps auto-collapse by default, even while they're running. Does that help with this? (#4051)

Interestingly there's been some talk about having *running* steps auto-expand/collapse, but that seems to be the root of your issue. /cc @eedwards-sk

One problem with the current approach, aside from whether or not the steps auto-expand, is that it can be a little

[2019-08-01 13:51] vito commented on #610
@mohsen0 Good point. I think that should probably be opened as a new issue though. Comments on resolved issues tend to not go anywhere.

[2019-08-01 14:47] OvermindDL1 commented on #2718
Any movement on this?

[2019-08-01 14:52] vito commented on #2718
@OvermindDL1 nope - we could use some help!

[2019-08-01 15:05] #4205 closed

[2019-08-01 15:16] pn-santos commented on #2608
Assuming logs are lazy loaded, yes that helps.

That said the "pipeline" view I think would be much better are representing fan-in/fan-out steps in a job imo.

The vertical view can get complicated when there is `parallel/aggregate` + `do` nesting.

[2019-08-01 15:19] eedwards-sk commented on #2608
@pn-santos hits on one of the biggest things I ran into with concourse and what I commonly see others doing, which is tending to try to shove CI patterns into "pipelines" instead of "jobs" simply because they love the pipeline UI so much

I agree it would be nice if we had what is currently the pipeline UI, but also for jobs. I feel like it would help people stop treating jobs as a "lesser citizen

[2019-08-01 15:20] vito commented on #2608
Yeah, it does sound interesting. Especially because step names tend to be short and sweet - if everything is auto-collapsed it's kind of a waste of horizontal space.

I'll put this as feedback to consider for our build page redesign. No promises obviously as this would be a pretty big change outside of the initial things we're considering for the redesign.

@eedwards-sk FWIW, one reason to split i

[2019-08-01 15:23] eedwards-sk commented on #2608
@vito oh yeah there's tons of reasons for separate jobs! My point is just that I have commonly seen people ending up using pipelines first and trying to do job-behavior with them, only to eventually realize they didn't understand that jobs were more like pipelines in other tools.

The pretty green boxes UI tends to drive people to go, "I want all my steps to be flashing green boxes!"

[2019-08-01 16:25] #2720 closed

[2019-08-01 20:14] kcmannem opened #4209 "Large number of TIME_WAIT connections"
Our default transport structs used in garden/baggageclaim clients don't set a MaxIdleConns or an IdleConnTimeout. I feel like this has lead us to have an excessive amount of connections in the TIME_WAIT state. This is probably the reason why at somepoint we needed to increase the open file limits for the web process.

Here's what I saw on our CI web environments.
[code]

Maybe we should configure

[2019-08-02 00:02] pivotal-jamie-klassen opened #4210 "zany-looking build page tooltip"
## Bug Report

css-transform seems to do something weird when the transform would put the element outside of its parents overflow area? Maybe something to do with the other style attributes on the tooltips.

## Steps to Reproduce

visit a build page with decently long output, like https://ci.concourse-ci.org/teams/main/pipelines/concourse/jobs/dev-image/builds/948, and scroll down a bit, then hove

[2019-08-02 00:21] josecv commented on #3989
I think I've found the underlying issue here. It doesn't actually seem connected to the web nodes restarting but rather to a given pipeline structure being aborted.

Here's a repro pipeline:

[code]

Try aborting while `try-task` is running. It should crash the web pods.

I believe the root cause has to do with how `task_step.go` is structured. In its `Run` method, when the inner task returns an `

[2019-08-02 01:08] mmb opened #4211 "Resource version enable/disable UI improvements"
In the resource version list UI, it's not entirely clear what the check mark does.

Recently we spent a while trying to figure out why a job wouldn't trigger and it turned out to be because the only known version had been inadvertently disabled, which grays it out and hides the checkmark.

Maybe this UI could be improved to indicate what this button does and to make it clearer when a resource is d

[2019-08-02 01:11] jama22 commented on #3958
very interesting @njbennett. Thanks for taking the time to frame the specific problems you're having and outlining the world of data you would like to see. I think the datapoints that you mentioned would be very useful for Concourse users to have; I know as a PM I've had issues getting quick access to that data as well.

This definitely sounds like data that should be emitted by Concourse itself,

[2019-08-02 08:24] evanchaoli commented on #4017
I have verified that, if a task followed by a on_failure, even if the task fails (exit non-zero), on_failure will still have access the task's outputs. But if a put step's implied get fails, on_failure will have no access the failed resource.

To ensure backward compatibility, I added a flag in GetStep, when the flag is set, even if resource.Get fails, it will still register the resource, so that

[2019-08-02 08:43] evanchaoli commented on #3036
As PR #3037 has been merged, this issue is resolved.

[2019-08-02 08:43] #3036 closed

[2019-08-02 12:28] pivotal-jamie-klassen commented on #4010
We might have discovered the underlying issue here: #4138, but just in case this is not related to the environment variable thing I won't close this.

[2019-08-02 12:43] cirocosta commented on #3989
What a great reproducible, @josecv ! It's indeed a bomb aahah

Thank you so much for putting the work on exploring it and coming down to the core of it - thanks!

cc @vito and @pivotal-jwinters (the issue we talked about the other day)

[2019-08-02 13:50] taylorsilva commented on #4193
We used this bash script (placed in the root of the concourse repo) after doing `docker-compose up --build -d` to set-up a team and private pipeline. Helped with quickly testing how the web ui is behaving.

[code]

[2019-08-02 15:04] jamieklassen opened #4213 "optimize fly version integration tests"
[These](https://github.com/concourse/concourse/blob/master/fly/integration/version_test.go) are very long-running (like 2 min/test on CI) and really only validate a very small piece of logic about comparing semvers. These should be rewritten as unit tests that run in a handful of milliseconds.

[2019-08-02 15:13] kcmannem commented on #4209
looks like it is pretty normal https://serverfault.com/questions/23385/huge-amount-of-time-wait-connections-says-netstat

[2019-08-02 15:17] kcmannem commented on #4209
found this in the code.
[code]

[2019-08-02 15:21] kcmannem commented on #4209
we do disable KeepAlives in our garden and baggageclaim clients:
https://github.com/concourse/concourse/blob/cb9e92d7eef49ed71baa2d180e7fb835f6ae37a3/atc/worker/gclient/factory.go#L51
https://github.com/concourse/concourse/blob/cb9e92d7eef49ed71baa2d180e7fb835f6ae37a3/atc/worker/db_worker_provider.go#L190

I wonder if the the amount of connections we're seeing is because of heartbeating.

[2019-08-02 15:26] vito opened #4214 "Incrementally migrate build inputs/outputs to successful_build_outputs"
Populating `successful_build_outputs` is going to take a long time - we have a migration in place, but we should maybe do it as a batch operation instead, to be performed after the new Concourse is up and running.

Upgrading should keep the existing data in place, create the new schema, and stop there. A `concourse migrate-algorithm-v3` command will be added to carry over all the old data.

Valida

[2019-08-02 15:30] kcmannem commented on #4209
we do not disable keepAlives in our clients inside the worker used for gc.

https://github.com/concourse/concourse/blob/3bbb4ebef774905fe341e2e74e934b6f085e9971/cmd/concourse/worker.go#L124-L128

https://github.com/concourse/concourse/blob/3bbb4ebef774905fe341e2e74e934b6f085e9971/cmd/concourse/worker.go#L108-L114

[2019-08-02 16:26] robbruce commented on #569
It would be very useful to be able to display a tooltip with build information, for example:

* started
* finished
* duration
* any dynamic tags assigned during a build

[2019-08-02 17:05] njbennett commented on #3958
Sounds good! @jama22 Today I'm going to take a crack at forking Concourse and building it locally.

If my adding internal metrics sounds reasonable to you, I may start with a PR that adds one or two event types representing actions involved in resource checking/scheduling. We periodically have problems with resources that just stop being updated, and we'd like to understand that behavior a bit bet

[2019-08-02 18:14] Eadword commented on #4141
I am also seeing this issue with the `fly login` command. System info: `Linux workstation 4.19.60-1-MANJARO #1 SMP PREEMPT Sun Jul 21 12:17:26 UTC 2019 x86_64 GNU/Linux`.

[code]

[2019-08-02 19:01] clarafu commented on #4162
Hm this is really out of my scope of knowledge. I can say that there's always going to be a lot of queries going between the ATC and DB, but I would think that you would be seeing slowness in your entire concourse deployment and not just the task/put steps because (@ddadlani correct me if im wrong) from what I know the number of queries that go into those steps are not significantly more than get/

[2019-08-02 19:28] edtan commented on #4162
Yup, the entire deployment does get quite slow - it takes several seconds between each click in the UI.  It is strange that the initialization for the `get` step is still relatively quick though.  I'm currently trying to log the queries associated with the `get` step vs the `task` step, but it seems like the logs are also capturing queries from the pipeline syncer and build tracker.

[2019-08-02 19:42] p-manesh commented on #1751
Having similar issue. Jobs error out when tasks fail with "failed to create volume" message

build-test-workers/deaf44c7-1905-4d6c-b899-58fe280e305d:/var/vcap/data/worker/work/volumes/live$ df -h
Filesystem      Size  Used Avail Use% Mounted on
devtmpfs         16G     0   16G   0% /dev
tmpfs            16G     0   16G   0% /dev/shm
tmpfs            16G   32M   16G   1% /run
tmpfs           5.0M

[2019-08-02 20:30] ibotty commented on #403
This is a pretty serious issue.  Is there no intent to fix this?  Root containers don't really contain, so this makes the build machines pretty untrusted.

[2019-08-02 22:12] huguesalary opened #4216 "Helm Chart Bug"
## Bug Report

It is not possible to deploy the concourse helm chart wit Let's Encrypt Support because of conflicting parameters:

In order to enable let's encrypt support, one has to specify both `concourse.web.letsEncrypt.enabled=true` and `concourse.web.tls.enabled=true`.

However, `concourse.web.tls.enabled=true` then forces you to set `secrets.webTlsCert` and `secrets.webTlsKey`.

Now, when `

[2019-08-02 22:15] deniseyu commented on #4100
I tested this out with a VBox bosh-lite, with just provisioning an untagged worker job rather than a separate deployment and I'm not seeing this issue. I'm running the latest 5.4 release from bosh.io which contains these packaging updates.

Out of curiosity, is there a reason you need the `untagged-worker` to be a separate deployment, rather than a separate job with the rest of the workers?

Here'

[2019-08-03 00:18] benchristel commented on #2280
@vito I think this is a real issue. My team ran into it today on Concourse 5.3.0. Any chance this could be re-opened/investigated? We don't want to delete and recreate our pipelines since we'd lose build history.

cc @roicos

[2019-08-03 01:38] kallisti5 commented on #4140
wah wah, after a little manual tuning I realized only the main team can cleanup workers that belong to all of the teams (nil)

[2019-08-03 01:38] #4140 closed

[2019-08-03 01:40] kallisti5 commented on #4196
omg yes.  We have a team per thing (continious builds, release builds, etc)  i end up creating like 6 targets all for the same server and having to log into each.. it's complex.

[2019-08-03 16:10] #3769 closed

[2019-08-03 16:43] vito commented on #2280
Please open a new issue with steps to reproduce. The OP closed their own issue, I don't think it should be reopened.

[2019-08-03 17:10] #3570 closed

[2019-08-03 19:28] #1767 closed

[2019-08-04 16:13] suhlig commented on #3127
Ditto with 5.4.0 using the binaries on Ubuntu 18.04:

[code]

[2019-08-04 16:46] #3940 closed

[2019-08-04 22:46] #3944 closed

[2019-08-05 08:15] simonjohansson commented on #4067
Ah good thinking, could very well be. I'll try to talk directly to 127.0.0.1 on test.

[2019-08-05 08:23] simonjohansson commented on #3857
Im a bit confused by what is going on, lots of boxes... :)

For instance, `windows-rc` resource shows a white box on the `build-rc` job, even though the next jobs does not depend on it?

[2019-08-05 16:03] gaigaslab-operations commented on #4150
Is there going to be a patch release for this fix?  If so, what's the ETA on that release?

[2019-08-05 17:33] #966 closed

[2019-08-05 18:02] benchristel commented on #2280
This was a configuration issue on my end as well. We were setting `check_every` in the `resource_type` config instead of for each resource.

[2019-08-05 18:05] kcmannem commented on #4150
@gaigaslab-operations this week. Everything's finished for the release.

[2019-08-05 18:46] dpb587-pivotal opened #4217 "Improve web HTTP responses with `gzip` support"
## What challenge are you facing?

The UI is slow to load in targets with (very) large numbers jobs or bandwidth-limited connections.

Semi-related, the UI continues to request `jobs`/`pipelines` even before the last calls complete which causes large numbers of queued requests over time with limited connectivity (which exaggerates the impact of uncompressed resources; and might be worth tackling s

[2019-08-06 06:04] stijndehaes commented on #4013
I am seeing the same issue on 5.4.0. Also running on aws, these resources also seem to be stuck.

[2019-08-06 06:24] SleeperSmith commented on #291
Hi Guys. Tinkering around with Concourse.

I am running concourse workers on ECS and ECS Task Role doesn't seem to be working. From https://github.com/concourse/docker-image-resource/issues/109 it seems that the preference is to explicitly define the credential is it?

- When executing docker-image push to ecr, it seems to be picking up the EC2 IAM role. This should be disabled if the design goal

[2019-08-06 08:08] mgruener commented on #4149
We have the same problem and I can confirm, doing `export GODEBUG=netdns=go` before calling fly does solve the problem. Or at least the negative effects.

[2019-08-06 10:11] dangthanh360 commented on #2817
I got the same error using fly 4.2.3:
[code]

[2019-08-06 10:11] philwebb commented on #2647
I'd still like this feature. I use a similar thing in Artifactory all the time.

[2019-08-06 13:28] jamieklassen opened #4218 "optimize accessor tests"
similar to the fly version integration tests, these seem like table-based integration tests and they seem to unnecessarily explode the running time of the test suite.

[2019-08-06 13:54] ddadlani commented on #3127
we're going to push this investigation to after our containerd spike since this might go away if we move to containerd. For now the only lead we have is that it might need a kernel version bump.

[2019-08-06 13:57] ddadlani commented on #4151
It would be nice if we can retry the step on another worker if the initialization times out, but that might be another piece of work entirely.

[2019-08-06 13:59] ddadlani commented on #3301
waiting on the step refactor in #4052

[2019-08-06 14:25] xtreme-sameer-vohra commented on #4209
@kcmannem getting additional details such as grouping the connections by source address and destination address would help confirm/deny if it is heart-beating.

FWIW, I suspect it isn't heart-beating, which happens every 30s per worker and with the default TIME_WAIT life being 60s, we would expect to see the connections piling up.

At most, the previous 2 connections might linger for an active hea

[2019-08-06 14:27] ddadlani commented on #4162
hmm...my best guess is that `put` and `task` have inputs but `get` steps do not. Maybe it has something to do with that? @edtan are there any examples you have of tasks that do not have any inputs configured? Is it also slow for those?

[2019-08-06 14:42] pivotal-jamie-klassen opened #4219 "give feedback for Elm 0.19.1 community beta"
As stated on the [Elm Discourse](https://discourse.elm-lang.org/t/community-beta-for-elm-0-19-1/4102), the goals of this testing period are:

1. [ ] _Check bug fixes._ In 0.19.0, Concourse causes `elm make --debug` to crash, so check if it works in 0.19.1.

1. [ ] _Time compiler with 50k+ LOC projects._ `cloc` says the Concourse source is ~15k LOC.

1. [ ] _Cause parse errors._ I'm finding this le

[2019-08-06 14:59] vito commented on #4152
Updating the title. The investigation led us to parallelizing GC on the algorithm branch, which proved pretty effective at fixing this. The main problem was that some collectors would just take a long time, and while they were GC'ing nothing else could GC.

There was a solid theory to the order that we would do GC sequentially, but doing them in parallel should be fine too - it just may take multi

[2019-08-06 15:12] taylorsilva commented on #4192
Follow along here: https://github.com/concourse/concourse/projects/42

[2019-08-06 15:12] #4192 closed

[2019-08-06 15:16] vito commented on #3704
We can do this once...:

* `radar` is no more and `lidar` has taken its place
* the new algorithm is in place

[2019-08-06 15:17] taylorsilva commented on #4035
Getting an error in CI related to this issue and its PR. Similar to errors we were seeing while working on the PR:

https://ci.concourse-ci.org/teams/main/pipelines/concourse/jobs/bin-smoke/builds/448

[code]

[2019-08-06 15:17] vito commented on #3704
Might want to also split the build starter out from the scheduler, which can also be a global process.

[2019-08-06 15:21] mstansberry opened #4220 "Baggage claim not removing containers/volumes"
## Bug Report
Baggage claim is not removing dangling garden containers or btrfs/overlay2 volumes when worker is retired. This leads to inconsistent results from database vs. `fly workers` output for containers, as well as storage not being released for volumes.

## Steps to Reproduce
Retire worker and check for contents under the following:
Garden container paths under `<worker_base_dir>/depot/` w

[2019-08-06 15:24] ddadlani commented on #1751
Hi @p-manesh, what you are seeing with a failure to clean volumes is a known `btrfs` error. If you switch your workers to using `overlay` as the baggageclaim driver, this should not occur

[2019-08-06 15:31] Lindsayauchin commented on #413
## Design Proposal

To solve for the splitting of the 'trigger button" I would like to propose splitting the buttons across the browser window real estate to denote the difference in results from taking action on either button.

The inertia of muscle memory around what the expected resulting output of the current 'trigger' button will be hard to overcome but, if we add more information to the user

[2019-08-06 15:51] Lindsayauchin opened #4222 "UX: add a button to the build page to rerun it with the same inputs"
The re-run button will live at the right most side of the build page to be more closely associated with triggering a particular build with the same inputs as opposed to triggering a new build of that job.

![00_build_page_split_trigger_slice_1](https://user-images.githubusercontent.com/27746614/62575235-51344380-b868-11e9-87ee-ca346840d70e.png)

![Screen Shot 2019-08-06 at 4 15 41 PM](https://user

[2019-08-06 15:52] Lindsayauchin opened #4223 "UX: show what versions would be used for a trigger and a rerun"
## Design Proposal

Displaying version of resource in a drop down below the 'trigger' and 're-trigger' buttons activated on-click. Clicking outside of the drop-down will close the drop-down.

![Screen Shot 2019-08-26 at 11 54 04 AM](https://user-images.githubusercontent.com/27746614/63704064-3c5c2780-c7f8-11e9-93e5-9e4943919cb2.png)

![Screen Shot 2019-08-23 at 3 59 57 PM](https://user-images.gith

[2019-08-06 16:02] kcmannem opened #4224 "Garden errors with "no image plugin configured""
We've seen in some cases where garden will error out with "no image plugin configured" because the RootfsPath in the json request is nil. Our earliest instance of this available to see in our logs is July 9th. No leads as to why it happens.

Here's the payload and the resulting error:
[code]

[2019-08-06 16:58] edtan commented on #4162
I re-tested this with by removing the resource and `get` step from the sample pipeline above, but the initialization still takes a long time.

Also, I found a much easier way to simulate network latency on the web -> db path in docker-compose rather than spinning up a remote database. :joy:  After identifying which `vethXXXXX` network interface corresponds to the web container, run these on the ho

[2019-08-06 17:09] kcmannem commented on #4224
The only way we send a request that has RootFSPath equal to nil is if your fetchedImage struct is nil or does not have the `URL` field present.
https://github.com/concourse/concourse/blob/8153ad08f7963b91fdf1f658820029341ea05edb/atc/worker/worker_helper.go#L53

Looking through the image fetching code, there are certain instances where we return empty fetchedImages as well as nil errors. This falls

[2019-08-06 17:45] pivotal-jamie-klassen commented on #3573
an extension of this, allowing composition of filters with an `OR` combinator, would be #2647

[2019-08-06 17:46] pivotal-jamie-klassen commented on #4141
fixed by concourse/ci#59

[2019-08-06 17:46] #4141 closed

[2019-08-06 17:48] pivotal-jamie-klassen commented on #4149
Fixed by concourse/ci#59

[2019-08-06 17:48] #4149 closed

[2019-08-06 18:52] #1922 closed

[2019-08-06 18:52] #1635 closed

[2019-08-06 19:17] balexander123 commented on #3674
@vito Is this issue sane/.related to the build started/finished events and Prometheus emitter and the fixes @rudolfv put forth?  Also seeing issue of missing build events and want to report basic build duration statistics in Grafana but unable due to this issue.

[2019-08-06 19:31] #3029 closed

[2019-08-06 19:52] #2195 closed

[2019-08-06 20:03] pivotal-jamie-klassen commented on #4150
Fixed in #4165, #4185, #4191 on master, duplicated as #4182 and #4199 on release/5.4.x.

[2019-08-06 20:03] #4150 closed

[2019-08-06 22:04] taylorsilva commented on #4035
Figured out the issue was the migration didn't run because it appears a "one-time" migration got run and the version number was wayyyyy higher than anything we would recently make. Manually deleted the migration. When prod is back up we can run the job again and it should Just Work ™️

[2019-08-06 23:08] kcmannem opened #4230 "UX: Sticky step headers while scrolling through large log output"
When I have a bunch of steps expanded each displaying large amounts of logs. I'd like to know which step's logs I'm currently reading. Much like how team headers are sticky on the dashboard view, it would be helpful to have step headers stick while scrolling between steps.

[2019-08-06 23:31] p-manesh commented on #1751
Hi @ddadlani we tested with overlay it seems to clean volumes. Is there documentation of pros and cons of using overlay vs btrfs baggageclaim driver. Anything we should check before moving from btrfs to overlay?

[2019-08-07 04:16] ebilling commented on #4200
I was able to confirm a drop of ~30% in cpu for our setup by increasing the number of idle connections significantly and re-using them.

[2019-08-07 04:26] ebilling commented on #4200
Updated pprof output after the change:

Showing nodes accounting for 0.01s, 0.022% of 44.86s total
Dropped 953 nodes (cum <= 0.22s)
Showing top 20 nodes out of 284
      flat  flat%   sum%        cum   cum%
         0     0%     0%     19.17s 42.73%  github.com/felixge/httpsnoop.CaptureMetrics.func1
         0     0%     0%     19.15s 42.69%  github.com/felixge/httpsnoop.CaptureMetricsFn

[2019-08-07 06:41] wagdav commented on #3951
This is still the case on master.

[2019-08-07 08:56] thelangley commented on #3990
Using concourse 5.3.0. This is impacting our env as we pin regularly to ensure consistency. We've had to unpin and use tag_filters which is ok for tagged resources

Suggest original tagging of "bug" is maintained.

[2019-08-07 12:54] gerhard commented on #4150
I'm intrigued: will our 2 web nodes exhaust memory before the next v5.4.x patch ships?

<img width="1601" alt="Screenshot 2019-08-07 at 13 53 16" src="https://user-images.githubusercontent.com/3342/62624324-bcd6e900-b91a-11e9-80e5-52caadd3a3df.png">

[2019-08-07 13:26] #3946 closed

[2019-08-07 13:45] ddadlani commented on #1751
Overlay takes a longer time to create privileged volumes, so if you are using a lot of privileged containers you may see a performance hit in terms of step initialization. In practice, if you don't have too many privileged tasks/steps it isn't a big issue.

[2019-08-07 13:46] #4224 closed

[2019-08-07 13:47] vito commented on #3990
@o-orand Another thing to try: it may be failing because some of those fields are integers, not strings, and versions always have string values. If you explicitly quote them and provide all three exact version fields, is it able to match?

[code]

@thelangley Concourse has never supported partial field matching for version pinning. Adding support for it would fix the issue, while adding a feature.

[2019-08-07 14:47] nikonorovi opened #4234 "Send error message by email on on_error step hook"
Hello!

I have question about using [on_error](https://concourse-ci.org/on-error-step-hook.html) step hook.

I have test pipeline which ends with error:

![](https://aws1.discourse-cdn.com/standard17/uploads/concourseci1/original/1X/bdcda3f009d508f406dc4703f6633ea49b1dee39.png)

**How i can grab error message from this build and send it by emeil on on_error step hook?**

Pipeline example:
[code]

[2019-08-07 15:44] s4heid commented on #4100
Hi @deniseyu,

thanks for following up on this issue and sorry for the delay in my response. Interesting finding that it is not reproducible on bosh-lite.

As for the buildplan steps, I verified that we don't have `tags` configured. We don't have any good reason for not putting the tagged and untagged workers into one single deployment. Unfortunately, this did not mitigate the issue. Also, upgradi

[2019-08-07 15:53] o-orand commented on #3990
@vito Thanks adding quote is working.
To sum up, inside a get step, something like this is required:
[code]
but quotes are not required at resource version:
[code]

It could be nice to have a consistent behavior :smile:

[2019-08-07 15:57] vito commented on #1038
I'll reopen this and mark it `help-wanted` since I still think this idea would be easy to implement: https://github.com/concourse/concourse/issues/1038#issuecomment-466658736

[2019-08-07 16:13] deniseyu commented on #4100
thanks @s4heid, no worries and thanks for verifying those details and doing the extra testing! VBox does occasionally have some differences in behaviour from real IaaSes, but handling environment variables differently seems pretty unlikely. In any case I'll try reproducing this on a real IaaS later this week (not confident I can get hold of an OpenStack environment lol but AWS and GCP for sure).

[2019-08-07 16:16] jamieklassen opened #4235 "UX: preview input versions before triggering job build"
1. move trigger button to left

![Screen Shot 2019-08-12 at 3 35 20 PM](https://user-images.githubusercontent.com/27746614/62892665-d6ab6e00-bd16-11e9-874e-79a32281ae2d.png)

1. add vertical divider between job and build details
1. change job section background to page background grey (hex#3D3C3C)
    * hover color
1. every five seconds call ListJobInputs and remember the data (test how this scale

[2019-08-07 18:14] taylorsilva commented on #4035
It's passing now: https://ci.concourse-ci.org/teams/main/pipelines/concourse/jobs/bin-smoke/builds/451

[2019-08-07 18:14] #4035 closed

[2019-08-07 19:10] kcmannem commented on #4209
A third of the connections are actually to the db.
Here the 10.1.0.9 ip is the db vm.
[code]

There is a fix in PR#4200 to address this issue.

[2019-08-07 19:24] #3619 closed

[2019-08-07 19:24] #1070 closed

[2019-08-07 19:24] #2820 closed

[2019-08-07 19:24] #3621 closed

[2019-08-07 19:24] #2682 closed

[2019-08-07 19:24] #3626 closed

[2019-08-07 19:24] #3667 closed

[2019-08-07 19:24] #3655 closed

[2019-08-07 19:24] #1304 closed

[2019-08-07 19:24] #2077 closed

[2019-08-07 19:24] #1770 closed

[2019-08-07 19:24] #3700 closed

[2019-08-07 19:24] #3553 closed

[2019-08-07 19:24] #3773 closed

[2019-08-07 19:24] #2914 closed

[2019-08-07 19:24] #3755 closed

[2019-08-07 19:24] #2390 closed

[2019-08-07 19:24] #3807 closed

[2019-08-07 19:24] #3827 closed

[2019-08-07 19:24] #3882 closed

[2019-08-07 19:24] #3938 closed

[2019-08-07 19:24] #3818 closed

[2019-08-07 19:52] vito commented on #4152
Also: would longer/shorter intervals make sense for some garbage-collectors vs. others?

[2019-08-07 20:11] crish963 commented on #3968
@marco-m can you help me with the script.

[2019-08-07 20:24] #2570 closed

[2019-08-07 20:24] #2009 closed

[2019-08-07 20:24] #2571 closed

[2019-08-07 20:24] #2665 closed

[2019-08-07 20:24] #2918 closed

[2019-08-07 20:24] #406 closed

[2019-08-07 20:24] #2946 closed

[2019-08-07 20:24] #2857 closed

[2019-08-07 20:24] #2888 closed

[2019-08-07 20:24] #2862 closed

[2019-08-07 20:24] #1504 closed

[2019-08-07 20:24] #963 closed

[2019-08-07 20:24] #3149 closed

[2019-08-07 20:24] #3202 closed

[2019-08-07 20:24] #619 closed

[2019-08-07 20:24] #3233 closed

[2019-08-07 20:24] #2343 closed

[2019-08-07 20:24] #1331 closed

[2019-08-07 20:24] #1012 closed

[2019-08-07 20:24] #2174 closed

[2019-08-07 20:24] #2184 closed

[2019-08-07 20:24] #3414 closed

[2019-08-07 20:24] #3350 closed

[2019-08-07 21:24] #2362 closed

[2019-08-07 21:24] #2393 closed

[2019-08-07 21:24] #2488 closed

[2019-08-07 21:24] #2117 closed

[2019-08-07 21:24] #2497 closed

[2019-08-07 21:24] #2197 closed

[2019-08-07 21:24] #2489 closed

[2019-08-07 21:24] #970 closed

[2019-08-07 21:24] #2545 closed

[2019-08-07 21:24] #1044 closed

[2019-08-07 21:24] #2089 closed

[2019-08-07 21:24] #2566 closed

[2019-08-07 21:24] #2537 closed

[2019-08-07 21:24] #2652 closed

[2019-08-07 21:24] #2655 closed

[2019-08-07 21:24] #2658 closed

[2019-08-07 21:24] #2667 closed

[2019-08-07 21:24] #2661 closed

[2019-08-07 21:24] #2690 closed

[2019-08-07 21:24] #2689 closed

[2019-08-07 21:24] #1249 closed

[2019-08-07 21:24] #2672 closed

[2019-08-07 21:24] #2713 closed

[2019-08-07 21:24] #2815 closed

[2019-08-07 21:24] #2801 closed

[2019-08-07 21:31] vito opened #4236 "Enforce that all version fields are strings"
Versions can be specified in a few places:

1. [`image_resource.version`](https://concourse-ci.org/tasks.html#image-resource-version)
1. [`version`](https://concourse-ci.org/resources.html#resource-version) on a resource definition
1. [`version`](https://concourse-ci.org/get-step.html#get-step-version) on a `get` step

We should make sure that all of these locations only accept a string value for

[2019-08-07 21:32] vito commented on #3990
@o-orand Cool, glad to see that mystery solved at least - thanks for confirming!

I've opened https://github.com/concourse/concourse/issues/4236 to capture the inconsistency you found. We'll probably have it just fail if there are any non-string values. Coercion is the path to darkness (https://github.com/concourse/concourse/issues/1407).

[2019-08-07 21:57] makslevental commented on #857
i need to be able to do this in order to run tests against real live data that's too big to stick somewhere else (hundreds of GB). is there really no way to do this?

[2019-08-07 22:24] #273 closed

[2019-08-07 22:24] #2084 closed

[2019-08-07 22:24] #2103 closed

[2019-08-07 22:24] #2061 closed

[2019-08-07 22:24] #2119 closed

[2019-08-07 22:24] #875 closed

[2019-08-07 22:24] #2067 closed

[2019-08-07 22:24] #2225 closed

[2019-08-07 22:24] #2228 closed

[2019-08-07 22:24] #1685 closed

[2019-08-07 22:24] #2206 closed

[2019-08-07 22:24] #2019 closed

[2019-08-07 22:24] #2234 closed

[2019-08-07 22:24] #2277 closed

[2019-08-07 22:24] #2260 closed

[2019-08-07 22:24] #1643 closed

[2019-08-07 22:24] #2337 closed

[2019-08-07 22:24] #2334 closed

[2019-08-07 22:24] #1894 closed

[2019-08-07 22:24] #1512 closed

[2019-08-07 22:24] #2041 closed

[2019-08-07 22:24] #2399 closed

[2019-08-07 22:24] #2410 closed

[2019-08-07 22:24] #2458 closed

[2019-08-07 22:24] #1920 closed

[2019-08-07 22:24] #2205 closed

[2019-08-07 23:24] #1074 closed

[2019-08-07 23:24] #1119 closed

[2019-08-07 23:24] #608 closed

[2019-08-07 23:24] #1114 closed

[2019-08-07 23:24] #1121 closed

[2019-08-07 23:24] #1545 closed

[2019-08-07 23:24] #430 closed

[2019-08-07 23:24] #1879 closed

[2019-08-07 23:24] #1426 closed

[2019-08-07 23:24] #1890 closed

[2019-08-07 23:24] #1878 closed

[2019-08-07 23:24] #1844 closed

[2019-08-07 23:24] #1760 closed

[2019-08-07 23:24] #1907 closed

[2019-08-07 23:24] #1910 closed

[2019-08-07 23:24] #1075 closed

[2019-08-07 23:24] #1088 closed

[2019-08-07 23:24] #1993 closed

[2019-08-07 23:24] #1995 closed

[2019-08-07 23:24] #2022 closed

[2019-08-07 23:24] #2008 closed

[2019-08-07 23:24] #1901 closed

[2019-08-07 23:24] #1845 closed

[2019-08-07 23:24] #1769 closed

[2019-08-07 23:24] #1871 closed

[2019-08-07 23:24] #1974 closed

[2019-08-07 23:24] #365 closed

[2019-08-07 23:24] #2090 closed

[2019-08-08 00:24] #1300 closed

[2019-08-08 00:24] #1365 closed

[2019-08-08 00:24] #1314 closed

[2019-08-08 00:24] #1588 closed

[2019-08-08 00:24] #1617 closed

[2019-08-08 00:24] #1666 closed

[2019-08-08 00:24] #1222 closed

[2019-08-08 00:24] #1648 closed

[2019-08-08 00:24] #1400 closed

[2019-08-08 00:24] #1496 closed

[2019-08-08 00:24] #1241 closed

[2019-08-08 00:24] #1597 closed

[2019-08-08 00:24] #401 closed

[2019-08-08 00:24] #469 closed

[2019-08-08 00:24] #612 closed

[2019-08-08 00:24] #417 closed

[2019-08-08 00:24] #542 closed

[2019-08-08 00:24] #711 closed

[2019-08-08 00:24] #760 closed

[2019-08-08 00:24] #906 closed

[2019-08-08 00:24] #1076 closed

[2019-08-08 00:24] #1081 closed

[2019-08-08 00:24] #1129 closed

[2019-08-08 00:24] #1133 closed

[2019-08-08 00:24] #1136 closed

[2019-08-08 00:24] #1140 closed

[2019-08-08 00:24] #1174 closed

[2019-08-08 00:24] #1216 closed

[2019-08-08 01:29] #588 closed

[2019-08-08 01:29] #836 closed

[2019-08-08 08:38] s4heid commented on #4100
Thanks for the hint. Unfortunately, changing the container placement strategy to `fewest-build-containers` didn't change the behavior. We further double checked that the issue also occurs on AWS so you don't have to worry about OpenStack :)

[2019-08-08 13:28] bacoboy commented on #654
Kicking this in hopes that somebody will consider this for custom task integration.  Seems worthwhile to me...

[2019-08-08 13:42] vito commented on #654
@bacoboy Happy to re-open. There seems to be some connection to concourse/rfcs#7 here potentially, though having a bit more info would be useful. How do you imagine this being communicated from the task and shown in the UI? Same as resource metadata?

[2019-08-08 13:53] kallisti5 commented on #4177
I was able to get a working pipeline by templating our the days fields.  I still think "not using" unused resources with a warning is more flexible though.

Leaving this one open for commentary.. otherwise, feel free to close if consensus is it is unimportant :-)

[2019-08-08 13:58] bacoboy commented on #654
The communication could be a default file (overridable name) like `RESOURCE_PATH/meta-result.json`?  Clunky, but effective since I think the only thing the job runner looks at is process status code -- so we'd need something else to pass this along.  Of course, I'm not super familiar with the code so not sure how the resources communicate this, but maybe something similar.  A simple list of key/va

[2019-08-08 13:59] kallisti5 commented on #4131
Just got things back up and running under 5.2.1.  Worker stalls are in full force during builds:

[code]

Netstat from worker:
[code]

top from worker:
[code]

Maybe some throttling would help?  "If load is > CPU Threads + 1", don't auto-schedule any more builds?

[2019-08-08 14:12] kcmannem commented on #4209
The problem also exists in the worker. We have a large amount of connections going to garden/baggageclaim from localhost. This is done to delete containers during the sweep phase of gc.
[code]

[2019-08-08 14:28] kcmannem commented on #4131
theres a new strategy in the next release called `limit-active-tasks`. Where you can specify a global limit for how many builds each worker is allowed to run. We're still thinking about the best approach to scheduling and not overloading workers. One of the problems with load average is that its not "just in time" enough. By the time we see load past a certain point, we might have already schedule

[2019-08-08 14:54] Lindsayauchin commented on #4235
Asset for new downward chevron
[chevron_down_ic.svg.zip](https://github.com/concourse/concourse/files/3482360/chevron_down_ic.svg.zip)

[2019-08-08 15:23] vito commented on #857
@makslevental Nope - not right now.

I could see an argument being made for a worker-side configuration of directories to expose to all tasks that run on it. :thinking: We obviously want to prohibit access to the host machine's filesystem by default, but if we make it an operator-level decision then it would probably be fine.

Would read-only access be sufficient? Or is read-write necessary? I'm t

[2019-08-08 15:25] makslevental commented on #857
for me read only would be fine. right now what are my options? to get this done though? i'm thinking sshfs with the host? is that possible or are there network permissions things i'm not anticipating

[2019-08-08 15:32] vito commented on #857
@makslevental Never tried it, but something like that would probably work. Bear in mind you won't be able to ssh to `127.0.0.1` since that'll just access the container's own network, not the host VM. Your container would probably need to SSH to the private IP of the worker. I'm not sure how much that'll buy you though, since it'll end up going over the local network anyway.

At that point it might

[2019-08-08 15:59] rhysxevans opened #4237 "WEB - Statically assign ephemeral port range"
## What challenge are you facing?

Setting up multiple Web node's (ATC & TSA) via docker on separate hosts.

The issue I seem to be having is down to the ephemeral ports that are used for the forward workers and inter "web" nodes communication.

Running as a binary we don't have this issue, as the ephemeral ports are available

## What would make this better?

The ability to specify a port range.

[2019-08-08 16:00] vito commented on #3674
@balexander123 Not sure what you mean re: Promethus, but it's definitely related to @rudolfv's fix

[2019-08-08 16:01] makslevental commented on #857
@makslevental i'm on prem so that's not possible for me

[2019-08-08 16:04] vito commented on #3857
@simonjohansson disregard that, i think we just went ham with the mockup :)

[2019-08-08 16:07] vito commented on #310
Not really 'planned' just yet - we took semantic metadata out of the first v2 resources proposal - but I'll put it in the Resources v2 project to keep the thought alive.

[2019-08-08 16:13] vito commented on #3989
Yeah, great find! I'm actually pretty sure I've seen this panic before, but we never got to the bottom of it because we never saw the pipeline config that led to it. :+1:

This makes sense to me. Since `Try` already special-cases the 'abort' case by propagating its error, it makes sense to me that it would be aware of this in `Succeeded()`.

[2019-08-08 16:16] vito commented on #3989
I put this in our backlog so we'll get to it at some point, in case you don't have time to submit a PR. :)

[2019-08-08 16:17] Lindsayauchin commented on #3857
sorry that was a mistake in a quick mock-up. We, the development team, are going to take a closer look at the clarity of this solution when we can see it rendered in the UI live.

![Screen Shot 2019-08-08 at 12 15 07 PM](https://user-images.githubusercontent.com/27746614/62719542-367fdd00-b9d6-11e9-81af-6cc734a38055.png)

[2019-08-08 16:18] balexander123 commented on #3674
Thanks @vito what I mean regarding Prometheus, for our pipelines, we are seeing unmatched 'build started' and 'build finished' metrics being emitted to Prometheus.  The pipeline team is unable to report accurate build time statistics.

Is @rudolfv fix to be merged?  If so, what would be the timeline for release?

[2019-08-08 16:21] vito commented on #3674
It's still being reviewed (and that's taking a while - sorry). It'd be in v5.5, we don't really do timeline based shipping but a couple of weeks is typical.

I'm not really sure how the build started/finished metrics even work with Prometheus since they're fairly event-driven. Metrics are probably not the greatest way to do those. :thinking: Using the API would be more reliable.

[2019-08-08 16:28] balexander123 commented on #3674
Hmmm, @vito can you point me to which API endpoints?  I haven't considered using a pull model

[2019-08-08 18:12] taylorsilva opened #4240 "[fly] Super admin can log into any team"
### Description
See title

### Acceptance Criteria
- [ ] a user that is a owner of the `main` team can log into any other team even when they're not explicitly part of that team
- [ ] User can perform any action after logging into another team they're not part of

[2019-08-08 18:20] kallisti5 commented on #4177
actually.. this didn't work.

[code]

In the web ui:
[code]

I guess the only option is overlaying another yml?

[2019-08-08 18:21] makslevental commented on #857
@vito i guess sshfs isn't possible either? https://stackoverflow.com/a/55765064

[2019-08-08 18:45] deniseyu commented on #4130
Update of spike:

We managed to get `containerd` running within Garden, using docker-compose locally!

Here's what we did:

1. Add the runtime flags to toggle Garden over to using containerd in `cmd/concourse/worker_linux.go`:
[code]
2. While configuring this we noticed that `garden` does not bring up the `containerd` process. BOSH does this for us via monit because `containerd` ships as a job ins

[2019-08-08 19:11] idcmp commented on #857
Closing as it has been 2.5 years and I've long since moved away from looking at Concourse.

If someone needs this feature, please open a new ticket and reference this one.

[2019-08-08 19:11] #857 closed

[2019-08-08 19:11] deniseyu commented on #4130
Update: We were able to successfully run the testflight suite

[2019-08-08 19:25] makslevental opened #4241 "Need Access to Host Directories in Worker"
reopening because original "issuer" closer

https://github.com/concourse/concourse/issues/857

[2019-08-08 19:43] ddadlani commented on #2271
related to discussion in #3695

[2019-08-08 19:43] #3293 closed

[2019-08-08 19:50] ddadlani commented on #1444
should be fixed in https://github.com/concourse/concourse/pull/2770

[2019-08-08 19:50] #1444 closed

[2019-08-08 20:26] makslevental commented on #4241
for anyone else that gets here here is how you can do this using `sshfs`

`Dockerfile`
[code]

`pipeline.yml`

[code]

`credentials`

[code]

[2019-08-08 20:35] kcmannem opened #4242 "Pass context into StreamIn/Out calls in ATC."
convert it

[2019-08-08 21:33] ddadlani opened #4244 "Number of orphaned creating containers increases monotonically in v5.4+"
This started happening in v5.4.0, as a result of #3902 and #4075.

When we put in the fix for #3301, we split out db container creation and garden container creation to be able to lock around db container creation. When we reverted that fix in #4075, we left this split because we felt it made `worker.FindOrCreateContainer` more readable.

However, due to another pre-existing issue with `resourceCo

[2019-08-08 21:36] ddadlani commented on #4244
Metrics for orphaned creating containers on `prod`
![Screen Shot 2019-08-08 at 4 35 04 PM](https://user-images.githubusercontent.com/36862811/62739547-03077780-ba03-11e9-8da5-1fa648bb9287.png)

[2019-08-08 21:37] ddadlani commented on #2836
Here's what our investigation uncovered, for posterity. TL;DR: `btrfs` does actually use all that space for metadata. Here is a good explanation: https://askubuntu.com/questions/464074/ubuntu-thinks-btrfs-disk-is-full-but-its-not

We experimented a bit with running `btrfs` cleanup commands but once the metadata usage gets high enough, the cleanup processes just hang. So to actually clean up the me

[2019-08-08 21:37] #2836 closed

[2019-08-08 21:45] makslevental commented on #996
+1

[2019-08-08 23:48] vito commented on #3989
Also related: https://github.com/concourse/concourse/issues/3594

[2019-08-09 05:27] drahnr commented on #2353
Still the same

[2019-08-09 08:09] talset commented on #2224
Still happens randomly on `4.2.3`

[2019-08-09 12:01] #4244 closed

[2019-08-09 12:28] marknet15 opened #4246 "Pipeline Team Migration Support"
## What challenge are you facing?

Currently we have a moderate number of pipelines that were all created in the default `main` team and since then we have moved to use dedicated Concourse teams for each of our developer teams, however what we are lacking is a straight forward mechanism (I.E the `fly` cli) to migrate a pipeline from one team to another.

## What would make this better?

I think so

[2019-08-09 12:36] cirocosta commented on #3445
whooops, we still miss them

[2019-08-09 15:05] vito opened #4248 "Add a yellow border to running step headers"
Now that these auto-collapse it can be a bit hard to see. Let's give them the same treatment we gave failed/errored steps.

[2019-08-09 15:14] bonzofenix opened #4249 "No way to reference credentials with `.` in their name"
## Bug Report

When using the atc vault integration for vars in `((..))` format keys with dots are ignored.

A secret at ``concourse/main/some.secret:key`` can not be read through variables. I think the regex that looks for key names should use the last dot to split the path and the key.

it would be nice if concourse realize that` ((some.secret.key))` is a secret at `concourse/main/some.secret:ke

[2019-08-09 15:15] bonzofenix commented on #4249
@jvikes11

[2019-08-09 15:31] #3959 closed

[2019-08-09 16:31] vito commented on #3674
@balexander123 The ones that `fly builds` use, e.g.: https://ci.concourse-ci.org/api/v1/teams/main/pipelines/concourse/jobs/shipit/builds - these include the start/end time, which can be used to determine the duration.

[2019-08-09 18:11] kallisti5 opened #4251 "Add colored last pipeline result into side bar"
It would be nice to have the "last build status" at hand in the pipeline view on the left side.

(rough) example:

![last_build](https://user-images.githubusercontent.com/100110/62799736-326fc000-baa7-11e9-8760-f8bb248d1132.png)

[2019-08-09 18:23] josecv commented on #3989
@vito I made the PR https://github.com/concourse/concourse/pull/4252 🙂

[2019-08-09 20:02] eedwards-sk commented on #3265
This is still very much wanted. At the very least, something like a proper "gate" feature, and even better, one that supported API webhooks.

I'd love to be able to have a job run, and then sit waiting for 'manual' intervention with an 'approval gate'.

Perhaps you need a manual step first (like approving a plan interactively), or you have something that ships that to be reviewed externally (like

[2019-08-09 20:06] kallisti5 commented on #4131
While the will help, I don't think it will solve the issue. I just had a disconnected worker occur on a single job consuming 2 of the 4 cores of the system.

![unusable](https://user-images.githubusercontent.com/100110/62805786-a6fe2b00-bab6-11e9-83f5-9db61fbea12c.png)

[2019-08-09 20:12] goldstar611 commented on #4131
I've been having trouble reproducing this issue using the ```stress``` tool on AWS. Maybe I need to actually use gcc/g++ like our real pipelines are doing.

@kallisti5, is your haiku build process easy to set up/reproduce?
Also, when your worker "gets stalled" is it completely knocked offline, or does it come back online eventually? I was seeing total network failure in docker on my worker.

[2019-08-09 20:24] kallisti5 commented on #4131
The workers definitely "come back" quickly. They disappear just long enough to break the build, then reappear.

Here's some enviornmental info to help:
  * concourse-web: Large server in France,running in docker-compose.
  * concourse-worker: Dell Optiplex i5 workstation, running in home in United States (200Mbit stable up/down)
    * I'm a Senior sysadmin by trade, beefy enterprise Ubiquity "clou

[2019-08-10 03:11] balexander123 commented on #3674
exactly. Will give it a go next customer contact.  Thanks

On Fri, Aug 9, 2019 at 9:31 AM Alex Suraci <notifications@github.com> wrote:

[2019-08-10 15:34] #3976 closed

[2019-08-11 00:30] vito opened #4253 "test note"
disregard; testing 'convert note to issue' functionality in cadet

[2019-08-11 02:57] vito opened #4254 "Core: implement `set_pipeline` step"
see concourse/rfcs#31

Take special care to fix any broken windows you find along the way. This is our first time implementing a new base step type (the others being `get`, `put`, and `task`).

[2019-08-11 05:04] vito opened #4255 "UX: `set_pipeline` steps on the build page"
This is our first new 'core' step type. How do we want it to look?

Elements:

* diff of pipeline config
* config warnings/deprecations
* config validation errors

[2019-08-11 05:04] vito opened #4256 "API: implement pipeline archiving"
see concourse/rfcs#33

[code]

[2019-08-11 15:08] kallisti5 commented on #4131
It appears I might be able to update CONCOURSE_TSA_HEARTBEAT_INTERVAL to 90 seconds from the default of 30?

ttl() in heartbeater is the interval * 2, so assuming the 30 second default means that "cpr" starts after 60 seconds?   If I set 90 seconds, cpr starts after 3 minutes?

[2019-08-11 18:20] #3012 closed

[2019-08-11 20:20] #2900 closed

[2019-08-11 21:20] #3934 closed

[2019-08-12 06:47] odormond opened #4257 "ATC memory leak rate proportional to amount of workers"
## Bug Report

We recently deployed a nightly build of concourse that include the max-active-tasks-per-worker strategy (see below for the exact commit). The installation is on AWS with an auto-scaling number of workers. The amount of workers is limited to a low value over night and week-end. After a few days of operation it's clear that the rate of memory leak observable in the graph below is prop

[2019-08-12 08:38] RaphaelVogel opened #4258 "Jobs start without getting triggered"
## Bug Report
Concourse (since 5.3) keeps triggering some jobs repeatedly, without any trigger, resulting in unnecessary (even harmful) job executions. This happens occasionally.

## Steps to Reproduce
We us a pipeline like this here (shortened): https://gist.github.com/RaphaelVogel/d55c473cafe6948c6e7d51da9dbf6bf2
The git resource (`git-kubernetes-staging_landscape-staging-garden-master_master`)

[2019-08-12 09:13] RaphaelVogel opened #4259 "Growing resource version table with Concourse 5.3"
## Bug Report
Since our update to Concourse 5.3 we see that pipelines take long to start (sometimes several minutes!). We found that the postgresql table `resource_config_versions` has a lot of entries (3-4 mio). Our pipelines look like the one here -> https://gist.github.com/RaphaelVogel/d55c473cafe6948c6e7d51da9dbf6bf2
In every job we get the meta resource.

After we have removed records out of

[2019-08-12 11:55] itsdalmo commented on #4258
I think we might be seeing the same issue here, I detailed my own here https://github.com/concourse/concourse/issues/3910; as a user the outcome is that jobs might trigger for no apparent reason.

[2019-08-12 13:39] pivotal-jamie-klassen opened #4260 "remove *'s from CODEOWNERS"

[2019-08-12 14:10] ddadlani opened #4263 "[SPIKE] Check if we can change ResourceConfigCheckSessions to expire in a deterministic way"
Can we try to change check session expiry such that its based on the amount of times a session is used instead of a strict time.

We've ran into issues where the session could expire while a check was in progress, causing races with GC (such as #4244). We will need a fix for check sessions when we move to ephemeral check as well since we need an approach to retain cache volumes for the check conta

[2019-08-12 14:19] #4248 closed

[2019-08-12 14:21] ddadlani opened #4264 "empty volumes when using overlay on Prod"
We have been seeing builds error out more frequently with some common error messages lately:

`task config 'ci/tasks/yarn-build.yml' not found` -> https://ci.concourse-ci.org/teams/main/pipelines/prs/jobs/watsjs/builds/1574

`file not found` -> https://ci.concourse-ci.org/teams/main/pipelines/prs/jobs/testflight/builds/1569

Cert errors on checks -
[code]

@kcmannem and I theorize that this has to

[2019-08-12 14:26] ddadlani opened #4265 "Refactor the Get Step and Fetcher"
# Goal of this refactor
Move Runtime specific concerns in `Put` & `Get` Steps into a client implementation. This is in service of #4052 which is to have a an interface for steps or implementation of steps that is agnostic of a specific runtime.

There are 2 main areas of decoupling, `execution` of a script (garden) and `storage` of binary data (baggageclaim)

For `execution`, the worker selection,

[2019-08-12 15:01] nader-ziada opened #4266 "Spike: Stream logs from pod task container to ATC"
As part of the K8s runtime and running tasks in pods, we need to capture the logs of the task container to save in the db and show on the UI.

Kuberenetes logging alternatives:

- Node level logging: Logs from all containers are stored on `/var/log` folder on the nodes of the clusters, running a `DaemonSet` pod in the cluster (on all nodes) to monitor this folder and stream files to a central loca

[2019-08-12 15:13] clarafu commented on #4259
Hi! The resource_config_versions table is used to hold all the versions for your resource so you probably saw that some versions were missing from your resource versions page after you removed records from that table.

When you say that pipeline takes long to start, do you mean that it takes long to even schedule a new (pending) build for a job or is it stuck in pending build state for a long time

[2019-08-12 15:20] clarafu commented on #4258
@RaphaelVogel That's interesting, for those builds that got triggered more often than the 4h time interval, can you show me which resource that build triggered off of? (It should show a yellow arrow for the resource that is triggered off of). Would you also be able to double check that those builds were not manually triggered? You can check that through finding one of those builds that got trigger

[2019-08-12 15:38] clarafu commented on #4246
Hello! With this pipeline migration to a different team, is the goal of adding this new feature that you want to retain all the build history for all the jobs within that pipeline? Because this could be easily done by just setting the same pipeline in the new team and destroying the old one but this would lose all the build history.

[2019-08-12 18:10] makslevental commented on #1007
@joshzarrabi how to get access ot the slack channel?

[2019-08-12 18:15] vito opened #4268 "Core: add an endpoint to re-trigger a build with the same inputs"
part of #413

A re-triggered build should:

* use the same input versions from the original build
* use a new build plan based on the current config

Implementation notes:

* We had previously discussed having re-triggered builds reuse the same exact build plan, but I think we should start simpler for now. I'm worried that might be something that's technically cool but not actually all that useful

[2019-08-12 18:19] vito opened #4269 "Core: re-triggered builds should not 'jump the queue' for the new algorithm"

[2019-08-12 18:19] vito opened #4270 "API: re-triggered builds should appear near their original build in the build history"
This is to match the desired scheduling semantics (https://github.com/concourse/concourse/issues/4269).

[2019-08-12 18:20] vito opened #4271 "UX: a rerun build should indicate somehow that it's a rerun"
Ideas:

* Link to original build?
* Maybe its location in the build list is enough of a suggestion as it is? (i.e. no additional work required)
  * https://github.com/concourse/concourse/issues/4270

[2019-08-12 18:49] ddadlani commented on #4264
@vito suggests that it might be that the link between lowerDir and upperDir is broken after a VM restart, and we might be able to fix it by having baggageclaim walk through the volume tree and setup mount points at startup.

@xtreme-sameer-vohra has a concern about making workers stateful if we do this, revisit afterward.

[2019-08-12 18:53] ddadlani commented on #2630
Do we want to simply use `shiftfs` instead? When will `shiftfs` be on the BOSH stemcell?

This issue would also allow us to recommend overlay to everyone, including those that use a lot of privileged containers

[2019-08-12 18:54] ddadlani commented on #2630
Clarification: we should only cache privileged volumes when we create them, rather than creating a privileged version of every cache proactively.

[2019-08-12 18:58] ddadlani commented on #2630
We might also look into the `metacopy=on` flag in overlay, which defers copying until you write to the new file.

[2019-08-12 19:00] ddadlani commented on #4130
Our next step is to create a bosh release for `garden-containerd` and run topgun as a sanity check.

[2019-08-12 19:06] ddadlani commented on #4130
@xtreme-sameer-vohra and @deniseyu ran into issues with running containerd on Bionic because of a dependency on `glibc`. As a result this spike has been conducted on Disco/Cosmic. We may need to statically link `glibc` to avoid causing issues for our users.

[2019-08-12 19:12] evanchaoli commented on #4234
I think this is similar to issue #4017, which is reported against `on_failure`. And I raised PR #4212 to enhance that. It might be similar enhancement for `on_error`.

[2019-08-12 20:23] kcmannem commented on #4264
We were able to reproduce the issue on our drills environment. We saw that when we let resource caches establish on an initial pipeline run. If we restarted(rebooted, not a bosh restart) a worker, the bind mounts would no longer persist. And we encountered the errors listed in the issue.
We're going to implement @vito's solution and see if its a good fix.

[2019-08-12 21:01] evanchaoli commented on #3972
This feature is also important to our users. Redacting based on credential manager is a good idea. I think we can redact before store build logs into database, so that it also avoids leaking secrets via database.

[2019-08-12 21:19] ddadlani commented on #4264
We tried out the solution. Our assumption was correct, i.e. the overlay itself exists. The overlay is bindmounted into the `/var/vcap/data/worker/work/volumes/live` directory, and that volume is mounted in to each container. The bindmount disappears on restart, so if we go through the overlays and bindmount them into `/var/vcap/data/worker/work/volumes/live` we should stop seeing the issue.

[2019-08-12 21:20] robwhitby commented on #4210
ah my bad, sorry! `position:fixed` doesn't play nice with scrolling the container. maybe just revert db6963d for now?

This is the same type of issue I think, but I don't know how to fix it in this case
https://stackoverflow.com/questions/40093740/tooltip-element-with-absolute-positioning-being-clipped-by-container-with-overfl

[2019-08-12 22:20] #3912 closed

[2019-08-12 22:50] sjolicoeur opened #4274 "PAUSED / FAILED jobs should say so in the title"
#4046  What challenge are you facing?

When a job is paused knowing why a job is in pending state (gray) is not clear from the job view.

## What would make this better?

it would be better if we could tell that the the job is paused from the job detail view. A text saying that the operation is pending because the job is paused would make it clear what action can be taken to solve the issue.

Addi

[2019-08-12 22:55] sjolicoeur opened #4275 "401 page keeps appearing"
## Bug Report
I log into a  concourse (v 5.1.0)
I kick of a job
after a while (~60 sec)
I get presented with a 401 page
I refresh and am logged in
wait (~60-90sec)
I get presented with a 401 page
the top right button shows my username

## Expected Results

I should not see the 401 page if my session is still valid. if it is not valid I should not see my username on the top right.

## Version Info

[2019-08-12 23:18] sjolicoeur commented on #4275
it seems to be due to a failed response:

[code]

[2019-08-13 05:26] DuraivelKalyanasundaram commented on #4179
I have the same issue as well. And yes the fly was up to date through fly sync

[2019-08-13 11:57] cirocosta commented on #4179
Hi @wlwwu and @DuraivelKalyanasundaram ,

would you mind specifying which versions of Concourse (and `fly`) your using?

Thank you!

[2019-08-13 12:05] DuraivelKalyanasundaram commented on #4179
Ok. I get it. I am using an earlier version of concourse. The current version of concourse supports aggregate, but I am unable to limit my parallelization with that api. For that reason I searched for other options before stumbling on in_parallel. The concourse help page too suggests that aggregate is deprecated and in_parallel must be used. However it does not specify the version from which the f

[2019-08-13 13:49] vito commented on #4264
@ddadlani @kcmannem slight clarification: there are two types of mounts to fix - one's a bind mount:

https://github.com/concourse/baggageclaim/blob/03f460affbf02448ff0a6fedbd3d23e92d0a95d5/volume/driver/overlay_linux.go#L28

and the other's an overlay mount:

https://github.com/concourse/baggageclaim/blob/03f460affbf02448ff0a6fedbd3d23e92d0a95d5/volume/driver/overlay_linux.go#L74-L81

[2019-08-13 14:11] vito commented on #3989
merged #4252 - thanks!

[2019-08-13 14:11] #3989 closed

[2019-08-13 14:15] vito commented on #2224
Still true (from https://github.com/concourse/concourse/issues/2224#issuecomment-408194085):

To get to the bottom of this we'll need to see all of the logs pertaining to the build, from the `web` node. Additionally logs from the the `db` node may help; hopefully it logged the query that caused the transaction to fail.

[2019-08-13 14:18] vito commented on #311
This is fixed now that we have 'user artifacts', which `fly` downloads after the build finished rather than starting an idle request when the build starts. (/cc @pivotal-jwinters )

[2019-08-13 14:18] #311 closed

[2019-08-13 14:19] #1618 closed

[2019-08-13 14:20] vito commented on #2042
I'll leave this open and put it in 'Resources v2' as an end goal. We're backing out of the automatic cert propagation approach and instead adding cert config directly to the resource interface. More details are in concourse/rfcs#24.

[2019-08-13 14:29] kcmannem commented on #4257
you should try after this commit https://github.com/concourse/concourse/commit/bfc6779a8b47ce94ab3ed17aa1bf456da64207ee

[2019-08-13 14:42] vito commented on #1994
'Projects' (concourse/rfcs#32) accomplish part of this by allowing resources to be split out and defined project-wide.

It doesn't replace this feature, since it adds additional semantics to those 'split out' resource definitions rather than being a pure templating implementation. I'm curious to see how much we'll still want this after all is said and done. :thinking:

I'm going to add this to the

[2019-08-13 14:59] kcmannem commented on #4264
@vito thanks.

I've also tried to learn why mounts disappear. It's expected behavior that the mount table is cleared on system restart. If you want certain mounts to persist between restarts, you have edit /etc/fstab to include the mount.

[2019-08-13 15:00] kallisti5 commented on #4131
Updating the CONCOURSE_TSA_HEARTBEAT_INTERVAL to 90 seems to have fixed the disconnection issue.  It's kind of a hacky-fix since "the issue could still happen", but seems to make it a lot less likely.  I think the arm-chair analysis above about the upload pipe getting exhausted with log data has some merit given the fix.

Oddly, the DNS resolution issues in the containers also stopped after settin

[2019-08-13 15:01] vito commented on #4264
yep. I don't think we want to do that though; that file is usually for actual system-wide configuration for its own hard drives and such.

[2019-08-13 15:22] vito commented on #4131
@kallisti5 I wonder if renicing the `worker` process to `-10` would help? Theoretically it would get higher priority than the workloads that are running so it might do a better job of heartbeating.

Another thing to maybe look into: each heartbeat to a worker entails getting a container/volume count, so that *could* slow down if there are a ton of volumes or a slow/busy disk.

Thanks for digging i

[2019-08-13 16:13] vito commented on #4177
@kallisti5 To provide an array, the value needs to be an array in the vars file, not a string as in @trucken's comment.

vars file:

[code]

config file:

[code]

This works for any arbitrary YAML value.

If you're not using `-c`, make sure you use `-y` which parses its value as YAML instead of as a raw string: `-y days=[Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday]`

[2019-08-13 16:15] vito commented on #4211
Yeah having an empty box there is a little confusing with no other context. :thinking:

The least we could do is add a tooltip, but we could maybe also add an icon of some sort there so it's not just an empty box.

[2019-08-13 16:19] vito commented on #4217
Huh, I could have sworn we already did this, but I guess not. I'll chuck it in the API backlog; seems like low-hanging fruit.

[2019-08-13 16:20] vito commented on #4013
We're making the `check-resource` API asynchronous which should help, but I don't really know what the root of this issue would be without logs of some sort. Unless it's just taking a while. In which case the async change should fix it.

[2019-08-13 16:21] vito commented on #2647
I don't think we have bandwidth for this on our own roadmap, but it seems like a good feature. We'd probably need to figure out where the state is actually stored. Would client-side local storage be sufficient? I don't think we store any per-user data right now.

[2019-08-13 16:23] vito commented on #4220
This is expected behavior right now. `retire` is based on the assumption that the machine itself is going away, so we don't perform any cleanup since it'd just be a waste of time in that case.

If you're not going to be removing the machine after a `retire`, you may want to just `land` it instead.

[2019-08-13 16:24] vito commented on #4246
Closing as a dupe of https://github.com/concourse/concourse/issues/1164 - we'd be happy to review a PR for it!

[2019-08-13 16:24] #4246 closed

[2019-08-13 16:25] vito commented on #4006
What do you mean by user input?

[2019-08-13 16:28] vito commented on #3999
Sounds like an `if`/`then`/`else`? This comes up every now and then. I'm a *little* skeptical of wiring conditionals into build plans since their current design is primarily to encourage a single idempotent flow. What's your use case?

[2019-08-13 16:31] vito commented on #3265
I'm fine with this but we don't have room for it on our roadmap at the moment. Maybe y'all could start with an [RFC](https://github.com/concourse/rfcs) and we can hash out the details? It seems like it would be a new step type. :thinking:

[2019-08-13 16:33] vito commented on #4249
The complication here is that `.` is used in our vars notation for field access. `((foo.bar))` means "get the `foo` key and read the `bar` field from it."

[2019-08-13 16:35] vito commented on #2353
I put my thoughts on this here: https://github.com/concourse/concourse/issues/857#issuecomment-519565602

[2019-08-13 16:37] vito commented on #1590
Let's fold this into https://github.com/concourse/concourse/issues/3768

[2019-08-13 16:37] #1590 closed

[2019-08-13 16:58] cirocosta commented on #4216
Hi, @huguesalary !

If I understood correctly, this is the same issue as https://github.com/helm/charts/issues/14867 - would you mind confirming?

Also, we tend to keep issues that are specific to the packaging of Concourse as Helm chart under the place where the source code lives ([`helm/charts`](https://github.com/helm/charts)).

Thank you!

[2019-08-13 17:26] huguesalary commented on #4216
Hi @cirocosta, indeed, those are the same issues!

[2019-08-13 18:00] #4216 closed

[2019-08-13 18:52] kcmannem commented on #4264
Looks like there was a scenario where dead volumes could pile up and not get cleaned up.
When a restart occurs the mounts no longer exist. This makes the destroy volume call fail because its first step is to umount.
[code]

[2019-08-13 18:54] vito commented on #4264
Interesting, I wonder if that could be a root cause of the piling-up `dead` volumes we observed on Wings a while back? I think @ddadlani and @xtreme-sameer-vohra may remember that.

Or were we using `btrfs` at the time? :thinking:

[2019-08-13 19:00] #4260 closed

[2019-08-13 19:14] Lindsayauchin commented on #4270
Should look something like this...
![Screen Shot 2019-08-13 at 3 13 25 PM](https://user-images.githubusercontent.com/27746614/62970234-06bd4480-bddd-11e9-9526-cc38d917816b.png)

[2019-08-13 19:55] bhutkovskyysos commented on #4085
Seems like setting `dnsProxyEnable: "false"` in concourse helm chart fixes the issue. I was getting Pod's IP and now it is matching the worker's `/etc/resolv.conf`, which points to kube-dns service.

[2019-08-13 19:57] zoetian commented on #4240
**Dev Note**:

After we made the changes to `fly`, we found 2 issues:

1) admin would login to non-existed team w/o checking
[code]

it would return

[code]

2) fly admin can see all builds without switching (i.e. login to) teams

[code]

for build command, admin users can now see all builds without switching to specific teams to see theirs builds. By default, it returns all the teams' builds for

[2019-08-13 20:56] dawu415 opened #4276 "Control characters in task params causes incorrect conversion of YAML to JSON"
## Bug Report

Inputting yaml formatted data into params of tasks subsequently get converted to a JSON format when reading from a container's environment variable.  If the YAML map data contains newlines, the newlines are not escaped and become part of the JSON.    The JSON specification does not allow control characters in its format http://json.org/ and consequently, this causes some headache wh

[2019-08-13 22:19] evanchaoli commented on #3972
I just read through related code today, and realized that it's not easy to redact credential manager stored secrets in build logs. The main problem is that, secret evaluation is done by a third party module `github.com/cloudfoundry/boah-ci/director/template`, and there are two restrictions from this module:

1. The function `Template.Evaluate()` doesn't return information of which vars are populat

[2019-08-14 07:21] ari-becker commented on #3265
@vito sounds good, I'll take a stab at writing something up later in the week

[2019-08-14 09:37] keithkroeger opened #4278 "Fly login (and getting a token) should be easier"
## Bug Report

Fly in 3.x and earlier, used to give you a nice URL that would return a token directly to the browser, even if you were using a remote fly login.  This isn't so easy in 5.2.

When you try to log on in fly, you see:
[code]

If you use that URL, you will be brought to the login screen, where you log in but will never receive a token that you could use locally.

The URL that should be

[2019-08-14 13:47] vito opened #4279 "Show 'recently viewed' pipelines first on the dashboard"
I find myself accidentally going to the dashboard pretty often when I'm actually trying to go back to the pipeline for the build I'm viewing. When I land on the dashboard it can be kind of jarring as it can be hard to find where I was if there are a bunch of pipelines configured.

If we showed 'recently viewed' pipelines somewhere prominent it'd be easier to end up where I want to be without havin

[2019-08-14 14:13] kcmannem commented on #4264
here's the unmount error I was mentioning before:
[code]

we get an os.ErrInvalidArgument returned. Which is equivalent to the EINVAL in errno.h

[2019-08-14 14:14] mstansberry commented on #4220
In that case, would it be safe to assume that landing a worker should remove all running garden containers and cleanup all volumes on the worker?

Using retire was mainly meant to be a reproducible use case for validation as all volumes/containers that need to persist should be moved to other workers prior to completion. If there is another workflow we should use for testing this behavior, we're h

[2019-08-14 15:13] kcmannem commented on #4264
talked with @cirocosta to determine what the best approach to knowing when to do a bind/overlay mount is. He mentioned that an alternative is using https://en.wikipedia.org/wiki/Extended_file_attributes. Here we can apply some key-value properties to the inode which persist between reboots. This makes it so that we can easily read these values on startup and determine what mount to apply.

The oth

[2019-08-14 16:23] vito commented on #4220
@mstansberry Landing won't remove anything; it'll drain, waiting for any in-flight work to finish, and shut down while leaving all of the containers and volumes there. Most importantly, they'll remain in the database as well. The worker can then come back and the `web` node will continue to use the remaining containers, re-attaching to in-flight processes if necessary. The volumes will still be ar

[2019-08-14 16:26] vito commented on #4264
I'm leaning towards the second (current) approach since it leverages state we're already keeping track of anyway (the `parent` symlink) without introducing a new filesystem mechanic.

[2019-08-14 16:28] vito commented on #4276
Good catch! Guessing you're running nightly builds? I'll put this in the v5.5 milestone so we investigate it before shipping.

[2019-08-14 16:39] vito commented on #4276
Side note: it looks like we might want to switch to https://github.com/kubernetes-sigs/yaml - I haven't checked whether it fixes this issue, but a lot of discussions are pointing to it as the successor as `ghodss/yaml`:

* https://github.com/ghodss/yaml/pull/39#issuecomment-435545024
* https://github.com/ghodss/yaml/issues/50#issuecomment-511004721

[2019-08-14 17:24] robwhitby commented on #4258
Not sure, but I think we are seeing the same bug too. A job is triggered with the same inputs that have already passed. None of the resources have a yellow arrow, and `manually_triggered = false` in the db.

It seems like it *might* happen when a new version appears, the job is sometimes triggered "too quick" and runs with the previous versions, with a build using the new versions then queued up b

[2019-08-14 17:31] vito commented on #4276
Actually, just saw that you're running 4.2.4. We don't actually use `ghodss/yaml` in that version - just regular YAML/JSON libraries.

Would you be able to provide a repro for this? I can run it against our nightly builds and see if it's still a problem. I just got done re-doing a lot of this in #3505 which is where we introduced `ghodss/yaml` and also re-did how task params are coerced to strings

[2019-08-14 17:50] eedwards-sk commented on #4174
Sounds like more of a change-approval-process issue. Concourse generally doesn't do "global parameters" because that leads to snowflaking.

Suggestion: if you want tasks to always set that value, make it a parameter and then error if it's unset in the task by checking the value

[2019-08-14 17:52] kcmannem commented on #4264
@vito me too, I kept it.

[2019-08-14 18:02] eedwards-sk commented on #3695
I am very interested in being able to set e.g. a max containers value per-worker (for workers with the same tag, or no-tag).

Use case: multiple worker performance levels based on load / time-of-day

I run concourse in AWS on EC2 Auto-Scaling Groups. I have lambas set up to automatically invoke draining on shutdown.

If I could set max-containers or similar for each worker, I could create multiple

[2019-08-14 19:21] vito commented on #3972
@evanchaoli On `master` I've actually switched us over to using our own `vars/` package, which is a stripped-down version of the `bosh-cli/director/template` package. So if we need to modify it to keep track of vars that were used, that's possible now.

I think I would prefer automatically redacting credentials, since this feature feels geared towards preventing accidental leakage; if someone had

[2019-08-14 19:28] vito commented on #3695
@eedwards-sk Sounds kind of like #4118?

[2019-08-14 19:29] dawu415 commented on #4276
cool, let me repro this.

Interestingly, I did a similar code snippet in Go playground yesterday with the `ghodss/yaml` and then `sigs.k8s.io/yaml` just before.  They exhibit the same behavior of converting the newlines to spaces.

[2019-08-14 19:31] vito commented on #4174
Yeah I'm a little skeptical of these kinds of global config features too. Could this be set in your tasks by setting `ENV` in a common base image instead?

[2019-08-14 19:32] vito commented on #3695
@eedwards-sk It was PR'd in so it didn't go through the usual roadmap process. It'll be in v5.5. :slightly_smiling_face:

[2019-08-14 19:33] evanchaoli commented on #3972
OK, I will fetch and read latest code from `master` branch. I agree auto redacting can be a good start.

[2019-08-14 19:38] vito commented on #4278
This doesn't sound right. If you're presented with a screen to copy your token, that means you've successfully logged in - otherwise there would be no token to copy!

This change is precisely to improve the flow when logging in to a remote server. You log in, and that gives you a button to copy the token, which can then be pasted to `fly`.

I just tested this from a Docker container to simulate th

[2019-08-14 20:12] edtan commented on #4162
I've started adding additional logging to the queries so that they also indicate the `Logger.SessionName()` to help with troubleshooting - in case anyone's interested, it's available at my [fork](https://github.com/edtan/concourse/tree/detailed-query-logging).  This results in logs like:

[code]

[2019-08-14 20:39] keithkroeger commented on #4278
Thanks for writing, Alex, and, after further testing, I rescind and will remove this issue.

The user happened to have the fly login command running locally and remotely and wanted to use the token in both places...think again Bozo.

Have a great day

[2019-08-14 20:39] #4278 closed

[2019-08-14 21:24] huguesalary opened #4281 "Provide full path to build directory via a variable"
## What challenge are you facing?

TL;DR: I need my environment variable `GOOGLE_APPLICATION_CREDENTIALS` (defined in `params`) to point to the **absolute path** of my build directory.

I have the following task:

[code]

- The `credentials` input is a folder that contains
- a `google_application_credentials.json` file,
- which is used by `/kaniko/executor`,
- via the environment variable `GOOGLE_

[2019-08-14 21:34] pivotal-bin-ju commented on #4240
**DEV NOTE**

got fixed. test cases also were populated as well.

we've categorized all available `fly` commands on levels. such as `pipeline`, `team`, etc.
For the `super admin` user, the general idea is:
- If a `fly` command act like team scoped with the api call like `/api/v1/teams/TEAMNAME/API-COMMAND-ENTRY`, `fly` cli should operate as the normal user  that owns that team.
- If a `fly` comman

[2019-08-14 21:43] pivotal-bin-ju commented on #4195
**DEV NOTE**

All the available commands have been categorized on levels. such as: `pipeline`, `team`, etc.
Please see the note from: https://github.com/concourse/concourse/issues/4240#issuecomment-521427454

[2019-08-14 23:38] pivotal-jamie-klassen commented on #4135
actually, since #3505 was merged, the vars syntax is under our control...

[2019-08-15 01:45] cappyzawa commented on #4174
@eedwards-sk @vito Thanks for catching!!

I'll set `ENV` to a common base image :+1:

[2019-08-15 01:45] #4174 closed

[2019-08-15 11:14] marknet15 commented on #1164
I missed that this issue was already open which led to me creating #4246 my main use case was around retaining all build history and resources data etc when the pipeline is moved from one team to another for example `main` to another `new-main`. So this is some functionality that would be great to have