[2017-05-04 18:00] baszalmstra commented on #1030
Thats too bad. Ill stick with 2.7.0 for now.
On Thu, 4 May 2017 at 19:56, Josh Zarrabi <notifications@github.com> wrote:

[2017-05-04 18:54] adi-mishra commented on #844
Hey, we were seeing this same issue over and over again, but it was fixed after we recreated a stalled worker. Hope this helps.

[2017-05-05 10:53] groenborg opened #1043 "Have a failed trigger, like passed trigger"
Hi there!

# Feature Request
I would like to be able to trigger jobs on failed like `passed`, so you could write
[code]
It could also be nice if you could have a trigger acting like an `or` gate, so whatever jobs passes, they can trigger the next job.

## What challenge are you facing?
We have an advanced hardware test setup, and we would like to be able to trigger an entire new set of task when o

[2017-05-05 11:53] andreasf commented on #629
Hi,

it seems like none of the stories covered issue concourse/fly#98. It would be great to have a non-interactive way to hijack a failed build step. Currently, fly will ask whether to hijack the check or the task container. Should I open a new issue?

[2017-05-05 13:58] vito commented on #1043
I think this is a reasonable request but I've got a few questions to try and peel back the layers a bit and get to something more basic:

1. In your use case, would you want the pipeline to stay red? That is, is the original failure an actual failure (i.e. test failure) that requires cleanup, or are you trying to just express "if-then-else" in your pipeline to handle various states?

2. We definit

[2017-05-05 14:29] ClaraFuPivotal commented on #1042
Can you try logging out and logging back in and see if that fixes it? This might just be an issue with getting a new CSRF token on login.

[2017-05-05 14:40] ti-mo commented on #781
Hi, also facing the same issue:

[code]

Concourse 2.7.4

I assume this is a problem with a custom resource type we're running; any idea how this can be fixed systematically?

[2017-05-05 14:50] ClaraFuPivotal commented on #1041
This is the best venue for long questions like this one, but we also have a slack (https://concourseci.slack.com) where you can ask simple questions. :)

Just looking at your pipeline, I can see that you might be missing a passed constraint on the `get` for cernan on the `master-stable-test` job. This will correlate the resource versions to the same build of their dependent job. (https://concourse

[2017-05-05 14:50] #1041 closed

[2017-05-05 14:59] ClaraFuPivotal commented on #1033
Make sure `CONCOURSE_TLS_CERT` and `CONCOURSE_TLS_KEY` point to files, not the contents of the cert and key. It looks like the use of env vars is circumventing our validations for this somehow, which should have given you a better error.

[2017-05-05 15:09] ClaraFuPivotal commented on #913
I think this was fixed by https://github.com/concourse/atc/commit/a1498508183d1b3e8d64d4fde1135fd2ef8489ae. We happened to find this while investigating something else so the fix will end up in 2.8.

[2017-05-05 15:09] #913 closed

[2017-05-05 15:11] #953 closed

[2017-05-05 15:14] dmlemos opened #1044 "Watch whole pipeline progress with fly"
# Feature Request
## What challenge are you facing?
The `watch` command only supports _watching_ per job. This means we have to explicitly call fly for every single job to get the feedback from the whole pipeline.

Very low priority to be honest, but thought to put it here for the backlog.

[2017-05-05 15:15] ClaraFuPivotal commented on #897
Could you open this issue on https://github.com/cloudfoundry/guardian? We don't do anything with `iptables` in Concourse itself, so this is out of our control. Thanks!

[2017-05-05 15:15] #897 closed

[2017-05-05 15:15] #830 closed

[2017-05-05 15:19] ClaraFuPivotal commented on #825
I wouldn't say this is a bug within concourse itself since this is just a flake within our acceptance tests which we have been meaning to fix for a while. This story (https://www.pivotaltracker.com/story/show/144212721) outlines fixing these tests.

[2017-05-05 15:19] #825 closed

[2017-05-05 15:39] berniecamus commented on #953
No worries, thanks for the help with that but we ran into a few other issues and had to abandon Concourse for the mo. Not quite ready for production yet I'd say, but will definitely check it out again in a couple of years.

[2017-05-05 15:41] vito commented on #1038
This problem arises when resource versions are updated-in-place. Concourse relies heavily on resource versions being immutable (not necessarily semver), for many reasons. If a version changes in the middle of a pipeline run, there's no guarantee that the things that ran before its mutation are still valid (i.e. that it still passes tests). Relying on immutability also allows us to implement cachin

[2017-05-05 15:44] vito commented on #1037
I don't think this is actionable. This resource just executes `docker` commands, and it's up to the registry to give back a digest. We continuously pull in the latest version of `docker`, so we'll roll forward to a new version that fixes this if/when it's released, if it's something they can fix (and not just the registry).

[2017-05-05 15:44] #1037 closed

[2017-05-05 15:45] #1036 closed

[2017-05-05 15:52] blt commented on #1041
This is exactly what I needed! Thank you!

[2017-05-05 16:16] vito commented on #1034
I think there may be a need for this but I don't want it to be on us to fix it, because I don't want this to be what every BOSH release author has to do.

Part of the point of BOSH is that release authors can write a release and not have to test it on every single IaaS (BOSH is supposed to cover that layer of abstraction). It's not perfect today, but it'll never get better if every release author

[2017-05-05 16:16] #1034 closed

[2017-05-05 18:08] ClaraFuPivotal commented on #1044
What is your use case for this feature request because i'm not too sure if streaming the outputs of all the running builds to the command line would be useful in terms of visibility?

[2017-05-05 18:27] ClaraFuPivotal commented on #934
You need to run `fly -t ci execute -c build.yml` within the `flight-school` directory because `fly execute` takes the working directory as the input. You can read about that in the second paragraph here : http://concourse.ci/fly-execute.html

I'm not sure why your build.yml file would be in a directory one level up from `flight-school` because in the docs it specifies "so we need a file called bui

[2017-05-05 19:17] dmlemos commented on #1044
I didn't mean to stream all the outputs at the same time. It was more the case of: When the current stream job passes, move to the next one.

[2017-05-05 19:59] #904 closed

[2017-05-05 20:09] ClaraFuPivotal commented on #898
Good catch! That should definitely be in our docs, thanks for letting us know.

[2017-05-05 20:30] ClaraFuPivotal commented on #894
Does your task go orange, maybe with an error that says you are missing that input? Also, do you have steps to reproduce this or is this a problem that occurs every time it's run?

[2017-05-05 23:00] mariash commented on #1042
it looks like this is an issue in Chrome https://bugs.chromium.org/p/chromium/issues/detail?id=160056 which affects session and local storage. People say if you read the key right away it will persist.

[2017-05-05 23:38] kevinzurek commented on #1033
Hi @ClaraFuPivotal, i tried changing it from the contents to the actual files and ensuring the process had access to them but i still get the same thing :-1:

Do you know of any examples? Thanks

[2017-05-06 15:57] vito commented on #1033
You sure it's the same thing? One thing I can see odd there is that your external URL is missing the `https://` prefix, which we have a separate check for, which would be a different error message.

See https://github.com/concourse/atc/blob/master/atccmd/command.go#L554

[2017-05-06 16:01] vito commented on #1035
I think this is the same as https://github.com/concourse/concourse/issues/767 - stay tuned for an upcoming issue proposing we find an alternative to `btrfs`.

[2017-05-06 16:01] #1035 closed

[2017-05-06 16:44] vito opened #1045 "Switch from btrfs some other filesystem to resolve stabiity and portability issues"
# Feature Request

## What challenge are you facing?

We've been using `btrfs` as our volume driver by default on Linux for a long time now, and while we get a lot of good things from it (primarily nestability), we've encountered stability and portability problems in the wild.

### What is a volume driver/graph driver?

Buckle up, as there's a lot of history and quirks here. There's a reason Docke

[2017-05-06 17:11] vito commented on #767
At this point I think this is only really fixed by switching off `btrfs`. I've been seeing this on our own deployment occasionally and the only recourse is to recreate the machine. I've opened #1045 to discuss/plan this venture. Thanks for investigating!

[2017-05-06 17:11] #767 closed

[2017-05-06 17:12] vito commented on #544
This and confusion around it will be resolved by #1045 (switching off btrfs).

[2017-05-06 17:12] #544 closed

[2017-05-06 17:13] vito commented on #896
This should be resolved by #1045 - I think it's time to bail on `btrfs`.

[2017-05-06 17:13] #896 closed

[2017-05-07 16:28] JohannesRudolph commented on #116
I've just tested this and confirm it works in v2.7 of concourse. @vito you can probably close this issue :-)

[2017-05-07 23:49] jfmyers9 commented on #1035
@vito Is this quite a duplicate?

Yes it is `btrfs` related, but it breaks the entire cluster. Concourse will not even schedule jobs on unaffected workers, workers with entirely different tags, and external workers (windows). That seems like more than just a `btrfs` issue. This has now occurred twice in one week since moving to 2.7.4.

[2017-05-08 12:59] ti-mo commented on #781
I've been able to track down our instance of this error to a misbehaving custom resource type we were using.

In `in`, it has: `echo '{}' >&3`. This is returned by the job status endpoint as:
[code]

We've made a small change to this `echo` statement in the `in` script of this resource and turned it into `echo '{"version":{"ref":"none"}}'`, like the Slack notification resource does.

This solved t

[2017-05-08 14:02] #747 closed

[2017-05-08 14:48] ClaraFuPivotal commented on #1044
Ah I see, but my concern would be for if within the pipeline, the job that `fly watch` is on splits into two or more jobs. How will it know which path of jobs to follow or will it just stream all the logs from every job out?

Why do you need to watch your whole pipeline? I just want to understand your perspective a bit more.

[2017-05-08 15:06] ClaraFuPivotal commented on #939
Inputs is just an optional property so you shouldn't need to put a error or warning for when it's not there. Thanks for catching that! You can either submit questions here or through slack, sorry about not getting your questions answered on there. Slack is kind of hard to track questions IMO.

[2017-05-08 15:06] #939 closed

[2017-05-08 15:30] kdvolder commented on #939
Thanks for answering. But, perhaps you shouldn't close the ticket without fixing the docs. I made inputs optional in our editor a long time ago. I just thought maybe someone might want to fix the docs too.

I just checked and it looks like it still says that inputs is required:

[2017-05-08 16:07] ClaraFuPivotal commented on #776
https://github.com/concourse/concourse/issues/885

[2017-05-08 16:09] ClaraFuPivotal commented on #885
I'm going to close this issue because it is a duplicate of https://github.com/concourse/concourse/issues/776. Thanks for submitting the bug report!

[2017-05-08 16:09] #885 closed

[2017-05-08 16:15] vito commented on #1035
@jfmyers9 The issue says all workers were in the same state, i.e. btrfs hanging leaving processes in `D` state. Are you now saying that's not the case? Either way this issue as reported seems to be outlining specifically a hanging worker, and all indicators point to the same `btrfs` failure that we've seen in prod a few times ourselves. What we've seen is that a worker will be fine for a long time

[2017-05-08 16:23] jfmyers9 commented on #1035
I can see that "This affected all workers. (How is that even possible?) We have 4 types workers that are responsible for running different work loads. They are all exhibiting this behavior." may be somewhat misleading, but what was meant by that all the workers were unable to run jobs, not that they were suffering from the `btrfs` bug.

Yes this broke the entire cluster. We can wait for 2.7.5 to s

[2017-05-08 17:40] vito opened #1047 "An ATC should know not to talk to workers that are out of date or newer"
# Feature Request

## What challenge are you facing?

Today, if there is a backwards-incompatible change in how the ATC talks to workers, there will be strange behavior during a rolling deploy.

An ATC can be newer than the worker, making API requests the worker can't support, possibly leading to failed builds. This can happen if the Garden or BaggageClaim protocol changes.

An ATC can also be old

[2017-05-08 17:43] vito opened #1048 "'fly workers' should show the version of each worker"
needs #1047

# Feature Request

## What challenge are you facing?

If I've got a bunch of workers, some manually deployed, I need a way to know which workers are still out-of-date as I upgrade them.

## A Modest Proposal

`fly workers` should have a column showing the version. It should also show the required version, and highlight any old versions in red. It should also show a missing version as

[2017-05-08 18:06] vito opened #1049 "Perform an upgrade test from 2.7.4 to 2.8.0"
needs #1047

[2017-05-08 20:30] vito opened #1050 "Any sensitive information in the database should be encrypted"
Today, pipeline config and team auth config are stored in plaintext. This is a pretty big security concern as it means anyone who gains access to the database can then get the credentials for all your resources. Let's, uh, not do that, and encrypt these columns instead.

needed-by concourse/concourse#291 which will build on this for encrypting the Vault key and configuration.

This should be opt-i

[2017-05-08 20:34] vito opened #1051 "The database encryption key should be able to be rotated"
needs #1050

I should be able to configure multiple "read" keys and one "active" key - this way I can rotate a leaked key by coming up with a new one and specifying the old key as a "read" key.

The ATC should then immediately come up, use the active key for any encrypting + writing, and for decrypting, try to use the 'active' key and if that fails then go through the 'read' keys.

[2017-05-08 21:04] vito commented on #1031
Hmm. Yeah I can sympathize with the difficulty in reproducing it. I suspect I've actually seen the same thing but just went through the motions of logging in each time, not realizing that I'd already logged in recently due to all the context switching.

I'll reframe this as something to investigate upon picking up, and schedule it for shortly after our next release. It might just take some flailin

[2017-05-09 14:05] JohannesRudolph commented on #844
![image](https://cloud.githubusercontent.com/assets/130103/25854290/ca220a26-34cf-11e7-8d12-d8afa165154a.png)

No, but that's expected since we run concourse using docker-compose and sometimes we recreate the workers (e.g. when upgrading concourse versions):
[code]

[2017-05-09 14:24] clarafu commented on #1025
About your top bar becoming blue, I'm pretty sure that means your pipeline is paused and not some UI bug. This might mean someone destroyed and recreated your pipeline while you were looking at the resources page. This would explain why all your resource versions disappeared and the pipeline became paused. Let me know if this wasn't the case!

[2017-05-09 14:24] #1025 closed

[2017-05-09 14:46] clarafu commented on #1018
What seems to be causing that error is that you set `CONCOURSE_VERSION` as an environment variable. We automatically have every flag map to an env var, so that ends up being passed as the value for `--version`. The go-flags package doesn't handle this case very well; it gets the value of the env var and tries to call the function with it, even though the function has no arguments. Try removing or

[2017-05-09 14:46] #1018 closed

[2017-05-09 14:49] vito commented on #1017
It's pretty much impossible to do anything with this issue. There's no root cause or steps to reproduce. It looks like some volume mounts disappeared or something, which isn't really something we can handle in any reasonable way. Sounds like a problem with your container orchestrator.

[2017-05-09 14:49] #1017 closed

[2017-05-09 14:54] vito commented on #1008
Yeah looks like Chrome has outpaced our UI here and it's super janky now. I'll prioritize this so we can redesign it.

[2017-05-09 15:13] vito opened #1052 "Notification resources clutter up pipeline UI"
# Feature Request

## What challenge are you facing?

Configuring a Slack notification resource or other similar resources that "augment" the pipeline is verbose and clutters up the pipeline UI with resources that don't actually influence pipeline semantics.

## A Modest Proposal

We should find a pattern for using these resources that reduces the amount of copy/paste pipeline code, and also allow

[2017-05-09 15:19] pivotal-topher-bullock commented on #1042
@code-engine One clarifying question; did you upgrade incrementally from `2.7.3` -> `2.7.4` or from an earlier patch / minor version?

[2017-05-09 15:22] clarafu commented on #957
Your concern definitely sounds reasonable! @vito and I took a look at the root of this issue and we created a separate issue (linked below) that involves abstracting away resources that augment the pipeline (slack notification resource) instead of influencing the pipeline. The reason why we wouldn't want to add an option for allowing resources to be hidden is explained by the [knobs anti-pattern](

[2017-05-09 15:22] #957 closed

[2017-05-09 15:29] clarafu commented on #956
Sounds like this is an issue upstream, possibly in `overlay`? I don't think there's much we can do about this. :(

[2017-05-09 15:29] #956 closed

[2017-05-09 15:33] clarafu commented on #955
We've redone how these flags work entirely as of v2.7.2. Maybe you were setting the var with a linebreak or extra whitespace after it, which one of our drivers chokes on but that should be fixed now too. Can you try it again with our latest version of concourse?

[2017-05-09 15:33] #955 closed

[2017-05-09 15:34] clarafu commented on #954
We don't configure any limit, so it may just be inheriting the system default. Can you increase it with `ulimit`?

[2017-05-09 15:37] drahnr commented on #955
I will do so at some point this week

[2017-05-09 15:39] vito commented on #958
This should be fixed with v2.8.0 once we ship the "life" refactor. Check containers for custom resource types and `image_resource`s in a task are now associated with a more abstract "resource config" rather than the origin of the check. This also means hijacking a task that uses an `image_resource` will now hop you right in to the task rather than asking if you want to hijack the `check` or the `g

[2017-05-09 15:39] #958 closed

[2017-05-09 15:52] clarafu commented on #1006
Yep that would be nice. This would also bring `create-env` to get a single-VM Concourse closer to something as nice as `vagrant up`.

[2017-05-09 15:54] ggeorgiev commented on #954
I cannot increase it inside the container. If I understand correctly from the system you mean the worker? - if so the container does not inherit the limit from the system.

[2017-05-09 15:54] clarafu commented on #1030
Scheduling this soonish so we can at least take a look, since it sounds like you've nailed it down to a version (thanks!).

[2017-05-09 16:03] tsantero commented on #413
is this issue currently being actively worked on internally? I need this asap, but also don't want to duplicate work. similarly, are there any contributor guidelines I should read?

[2017-05-09 16:08] ggeorgiev commented on #1052
That's kind of similar to what I was suggesting in #1016. Of course, this seems way less flexible. Any reason why not to have - say a `decorate` step that can be triggered at any place in the plan?

[2017-05-09 16:21] pms1969 commented on #1052
I like the syntax for this... Would these particular decorators then NOT appear in the UI?

[2017-05-09 17:00] willejs opened #1053 "Support RDS IAM Roles"
## A Modest Proposal

RDS now supports IAM roles. The IAM service now returns temporary credentials for the RDS instance you can then use to connect to postgres. Which is pretty nice, and secure.

So perhaps we could use the rdsutil package in the awsgosdk to try to get a temporary token for RDS. Im not sure this is that easy of feasible in code though. It does however make configuring concourse o

[2017-05-09 17:24] chendrix opened #1054 "`fly workers -d` should include the Concourse version of the worker"
It has been described to me that some updates to Concourse will not require bumping the worker versions, though it is probably recommended.

I'd like to be able to confirm the version of the workers currently seen by atc easily. Adding that to `fly workers -d` would help.

---
Moved from concourse/fly#133
/cc @krishicks

[2017-05-09 17:32] chendrix opened #1055 "Can't abort-build for jobs that no longer exist in the pipeline"
If a pipeline has a stuck job, then that pipeline gets re-set but without that same job and without canceling the build where the job was stuck. I can still see the stuck job with `fly builds` (v 2.7.3) , but when I try to do `fly abort-build` I get:
[code]
If I navigate to the UI at `.../builds/[build id of the stuck job]` then I can still use the UI to abort the stuck job.

Other fly subcommands

[2017-05-09 17:32] chendrix opened #1056 "Add flag to skip `apply configuration`"
Hey *

This is a feature request.

It would be great there would be a `--force` or a `-y` or so which skips the `apply configuration` after a `set-team` or `set-pipeline` to make it easier to automate stuff with `fly`.

cheers
j

---
Moved from concourse/fly#162
/cc @janaurka @chendrix

[2017-05-09 17:32] chendrix opened #1057 "Add flag to skip `apply configuration`"
Hey *

This is a feature request.

It would be great there would be a `--force` or a `-y` or so which skips the `apply configuration` after a `set-team` or `set-pipeline` to make it easier to automate stuff with `fly`.

cheers
j

---
Moved from concourse/fly#162
/cc @janaurka @chendrix

[2017-05-09 17:32] chendrix opened #1058 "The scope for get-pipline should be configurable"
we have a centralized concourse server that is used by several teams. We faced the problem that the fly command `get-pipline` allows other users in one team to download the pipeline yml which exposes all credentials from the user who set up the pipeline.

It would be great to be able to limit the scope of the get-pipeline command to some configurable ways like:

1) Nobody can execute get-pipeline

[2017-05-09 17:32] chendrix opened #1059 "The scope for get-pipline should be configurable"
we have a centralized concourse server that is used by several teams. We faced the problem that the fly command `get-pipline` allows other users in one team to download the pipeline yml which exposes all credentials from the user who set up the pipeline.

It would be great to be able to limit the scope of the get-pipeline command to some configurable ways like:

1) Nobody can execute get-pipeline

[2017-05-09 17:32] chendrix opened #1060 "`fly execute` code that relies on the git repo being tagged --> no tags in the one-off container"
Feel free to de-prioritize, ignore, close out, etc. This is an edge case. But...

Let's say you're writing a build script that relies on the repo being tagged, perhaps because it's using `git describe` to calculate a filename.

You can't use the `--exclude-ignored` option to `fly execute` to demo or test that functionality, because the tar'ed up source code doesn't get the tags.

Like I said, most

[2017-05-09 17:33] chendrix opened #1061 "2.6.0 execute function failing"
`~ fly -t shared execute -c pipeline.yml --input=repo
executing build 1127
upload request failed: Put http://$(CONCOURSE_WEB_SERVICE_HOST)/api/v1/pipes/cb13f9fe-d399-4619-500c-0fc8e6114aa3: dial tcp: lookup $(CONCOURSE_WEB_SERVICE_HOST): no such host
curl: (6) Couldn't resolve host '$(CONCOURSE_WEB_SERVICE_HOST)'
gzip: invalid magic
tar: Child returned status 1
tar: Error is not recoverable: exiti

[2017-05-09 17:33] chendrix opened #1062 "Fly execute with -j doesn't support input_mappings"
If I have a "generic" task set up with input mappings I can't easily run it with `fly execute` and also give it inputs from a previous job.

For instance this is the section of my build plan:

[code]

There is a previous build job that does put on the docker-image resource to build it. Since the inputs to my task don't share the name with the outputs there is no way for me to run this task without

[2017-05-09 17:33] chendrix opened #1063 "Forward locally configured CA cert to archive resource config"
Today the archive-resource needs to `curl -k` to transfer the tarball from `fly execute` if ATC is using an untrusted certificate. It would be better if archive-resource could get a copy of the cacert.

If fly could forward the cacert or -k, depending on how the target is configured, along with the config during `fly execute` that could solve this problem and make Concourse a bit more secure.

---

[2017-05-09 17:33] chendrix opened #1064 "Bad formatting when `fly workers` pipes output"
[code]

[code]

Expected: The worker status column should have a space in front of it.
Actual: There is no space.

---
Moved from concourse/fly#147
/cc @tom-meyer

[2017-05-09 17:33] chendrix opened #1065 "Fly should have a nicer installer on macOS"
According to [this]concourse/homebrew-tap#1#issuecomment-128770275) the homebrew tap is deprecated, but the recommended alternative (clicking the download link on the ATC) gets me a read-only file called `fly` in my `~/Downloads` directory which macOS Finder (Sierra 10.12.2) thinks is a text file. This is not ideal.

Either a working homebrew formula or a macOS installer .pkg file (which would ins

[2017-05-09 17:34] chendrix opened #1066 "fly execute hangs until registry error message pops up"
Running 2.5.1 against dockerized concourse, started via compose using the sample in the "Getting started" guide, but modified to compose v2.

When I run any execute, it is stuck for a long time on `initializing`, then:

[code]

I `exec` into the `web` and `worker` containers. In both cases, I can resolve `registry-1.docker.io` and can `curl` `https://registry-1.docker.io/v2/` and `http://registry-

[2017-05-09 17:34] chendrix opened #1067 "Fly does not report *why* a URL was malformed"
Attempting to run the following command:

[code]

After selecting the build, I get the following error:

[code]

Which is incredibly unhelpful - *why* is it malformed? What URL was it trying to access? Do I need to open up a port on AWS? If so, which port? Is there a problem with how I've named my team or tasks? It's really hard to figure out what has gone wrong with just this as the message. Idea

[2017-05-09 17:34] chendrix opened #1068 "Error message for invalid pipeline name is cryptic"
When trying to create a pipeline named 'nrvale0/puppet-polipo' I get the following error message:

[code]

Changing the specified name to 'nrvale0-puppet-polipo' results in pipeline with exit code 0. From this, I assume '/' in an invalid character in pipeline names. If so, perhaps the error message could be more instructive.

[code]

---
Moved from concourse/fly#139
/cc @nrvale0

[2017-05-09 17:34] chendrix opened #1069 "`fly --help` writes to STDERR, so grepping is weird"
I would expect `fly --help` to not be considered an erroneous use, and I would expect to be able to do something like `fly --help | grep container`. Because `--help` writes to STDERR, though, I have to do the unexpected `fly --help 2>&1 >/dev/null | grep container`.

---
Moved from concourse/fly#89
/cc @wendorf @vito

[2017-05-09 17:34] chendrix opened #1070 "fly should have option for redacting diff"
I would like to redact all params but keep the structure e.g. task, resource and job names. Similar to how the bosh CLI redacts the diff, though I think this should optional, configured via a flag, not the default behavior.

This would be very useful when scripting pipelines (e.g. with the [concourse-pipeline-resource](https://github.com/robdimsdale/concourse-pipeline-resource)) so we can log the

[2017-05-09 17:34] chendrix opened #1071 "fly pipelines returns empty when not logged in"
with 2.3.1 fly does not complain to login if the target token timeout. Instead, it reports an empty pipeline set
fly -t <target> pipelines
name  paused  public

---
Moved from concourse/fly#122
/cc @ggeorgiev

[2017-05-09 17:34] chendrix opened #1072 "Add `fly teams` command"
**As a** fly cli user
**when I** have targeted a concourse instance
**I can** discover what teams are available to log into with `fly login -n <teamname>`

and

**I can** know what team I'm logged in to currently
**so that** I know

and

**I can** use this list in shell/unix scripts
**so that** I can gather Concourse state across multiple teams if I'm an admin

---
Moved from concourse/fly#129
/cc

[2017-05-09 17:34] chendrix opened #1073 "hijacking should search harder for a shell"
It seems to be that in the absence of a command, hijacking works by starting /bin/bash in the victim container. Some containers don't have a /bin/bash - for example, the Git resource. In this case, such a hijacking attempt fails.

One can explicitly specify /bin/sh as a command to get a shell. It would be a minor boon if the hijacking process did this automatically if there was no /bin/bash.

---

[2017-05-09 17:34] chendrix opened #1074 "`fly pipelines` is case sensitive to tEam naMe unexpectedly"
Steps to reproduce:

1. Have a team, such as "Postgres"
2. `fly login -n posTgrEs`
3. Observe that the link in the console corrects the case of the team name in the URL
4. Follow the link -- you are now logged in
5. Observe the following state:
    - `fly pipelines --all` does show all the pipelines, both your team's and other teams' public ones ✅. The team name column shows "Postgres" for your te

[2017-05-09 17:35] chendrix opened #1075 "--exclude-ignored outputs arcane 128 warning when a provided input is not a git directory"
If you run `fly execute` with `--exclude-ignored` and an `--input` which is not a git directory (i.e. it does not have a `.git` subdirectory), you'll get an error like this: `could not determine ignored files: exit status 128`.  It doesn't seem to break anything but it's likely to confuse users.  The `--exclude-ignored` flag should only apply to inputs that look like git repository roots.

---
Mov

[2017-05-09 17:35] chendrix opened #1076 "Should honour .gitignores of submodules when passing -x"
Looks like `--exclude-ignored` only excludes things .gitignore-d by the current repo, not things excluded in submodules (I think this is because it tars up the result of `git ls-files` which lists the non-ignored files in the current repo, but lists the base directory for submodules).

We have a bosh workspace which we run fly from with various submodules, some of which have large files in them th

[2017-05-09 17:35] chendrix opened #1077 "fly status command to provide high-level info about the ATC in question"
It would be nice to get some high-level info about the ATC via a command like `fly status` - similar to `bosh status`

---
Moved from concourse/fly#20
/cc @robdimsdale

[2017-05-09 17:35] chendrix opened #1078 "fly API command to perform authenticated API calls to the currently targetted ATC"
e.g.

`fly api workers` returns the same info as curling the `api/v1/workers/` endpoint

I would expect to return the same json as the API

---
Moved from concourse/fly#21
/cc @robdimsdale

[2017-05-09 17:35] chendrix opened #1079 "fly execute has weird output when loading inputs"
[code]

Curl is really weird looking when uploading multiple inputs for `fly execute`

---
Moved from concourse/fly#23
/cc @zaksoup

[2017-05-09 17:35] chendrix opened #1080 "fly should support verbose mode"
It would be helpful when debugging if the `fly` binary to support verbose mode, perhaps via `-v` and `--verbose` or via some environment variable like `FLY_TRACE=true`.

This mode could print out additional information, at the very least the requests it is making and the responses it received (perhaps using the [httputil/DumpRequest](http://golang.org/pkg/net/http/httputil/#DumpRequest) and [httpu

[2017-05-09 17:35] chendrix opened #1081 "add `--handle` to `fly intercept` command"
If you know the handle, e.g. from `/api/v1/containers` then this is helpful to clearly identify which container we want to intercept.

I would expect it would call directly to `/api/v1/container/:handle` and get a `404` if the container was not found for that handle

---
Moved from concourse/fly#29
/cc @robdimsdale

[2017-05-09 17:35] chendrix opened #1082 "fly should warn/tell the user that they can use -x when it will transfer large files"
large git repos take a long time (and have other issues - see concourse/fly#31) so it would be helpful to remind the user that they can use `-x` to avoid this.

This could also take the form of a tip: `TIP: use fly execute -x to avoid copying large git repos`

---
Moved from concourse/fly#32
/cc @robdimsdale

[2017-05-09 17:35] chendrix opened #1083 "fly execute -x prints unexpected output if file was removed"
@robdimsdale and I observed that when we delete a file that was checked in, and don't tell git (i.e. don't `git rm`) that fly `execute -x` prints following output:

[code]

The one-off build still runs as expected so this is just an issue with UI output

---
Moved from concourse/fly#34
/cc @medvedzver @robdimsdale

[2017-05-09 17:35] chendrix opened #1084 "fly should warn/tell the user that they can use -x when it will transfer large files"
large git repos take a long time (and have other issues - see concourse/fly#31) so it would be helpful to remind the user that they can use `-x` to avoid this.

This could also take the form of a tip: `TIP: use fly execute -x to avoid copying large git repos`

---
Moved from concourse/fly#32
/cc @robdimsdale

[2017-05-09 17:36] chendrix opened #1085 "fly uses bsd tar on OSX, creates stupid files"
I think that's the explanation anyway. Lost my sanity when I was `fly exec`'ing a build using a completely clean local repo and it was still failing. Turns out it was a test that tars a directory of the project and then asserts on the contents of the tar, which then contains a bunch of weird files with underscore prefixes. Couldn't for the life of me figure out how BSD tar was ending up on the bui

[2017-05-09 17:36] chendrix opened #1086 "`fly execute ...` panics when setting the output directory for a task with no outputs"
We're setting up a new task in our pipeline which _will_ have an output but _currently doesn't_. For one-off testing, we have been using a command like:
`fly -t foo execute --config=task.yml --input=source=. --output=artifact=./tmp`

This succeeds when `--output` is not specified (although task.yml does specify an output with the same name). But with it, most of the way through our command's outpu

[2017-05-09 17:36] chendrix opened #1087 "fly execute -x ignores .git directory"
This presents problems when external dependencies rely on git to compile (_coughetcdcough_).

It'd be great if we could ignore .gitignored files without ignoring .git configuration.

---
Moved from concourse/fly#55
/cc @cwlbraa

[2017-05-09 17:36] chendrix opened #1088 "Hijack after execute"
Add option to execute to automatically hijack a container after its build has failed. To jump in quickly for debugging.

---
Moved from concourse/fly#59
/cc @aequitas

[2017-05-09 17:36] chendrix opened #1089 "Aborted builds have BIG duration"
When a build is aborted, the duration comes to be a big value, this should have been `n/a`.

[code]

[code]

---
Moved from concourse/fly#70
/cc @sks

[2017-05-09 17:36] chendrix opened #1090 "Disable ANSI escape codes on terminals that don't support them"
conhost, the terminal that hosts cmd.exe and PowerShell on Windows 10, does not support ANSI escape codes, but `fly.exe` uses them anyway, resulting in suboptimal output:

[code]

Although an upcoming version of conhost will support ANSI escape codes, the one on all released Windows versions does not. I can't think of a more specific way to detect support due to unfamiliarity with the platform, bu

[2017-05-09 17:37] chendrix opened #1091 "panic"
Looks like we got a panic when trying to download an output:

[code]

I'm not sure if the output destination has to exist, but that could be the issue because `/tmp/output` does not.

---
Moved from concourse/fly#86
/cc @challiwill

[2017-05-09 17:37] chendrix opened #1092 "panic"
Looks like we got a panic when trying to download an output:

[code]

I'm not sure if the output destination has to exist, but that could be the issue because `/tmp/output` does not.

---
Moved from concourse/fly#86
/cc @challiwill

[2017-05-09 17:37] chendrix opened #1093 "fly sync should output versions - from and to"
fly sync always outputs "update successful!" even if you were already up to date.

It would be nice if fly sync would output the current version and the version updated to.

---
Moved from concourse/fly#88
/cc @xtreme-gavin-enns

[2017-05-09 17:37] chendrix opened #1094 "Fly should have a TRACE option"
The Concourse ATC API is largely (entirely?) undocumented outside of code. One way to dramatically improve the explorability of the API and provide a lot of implicit API documentation coverage would be to have the `fly` CLI offer TRACE functionality similar to what the `cf` CLI for Cloud Foundry offers. With this feature enabled - by env var, configuration, flag, I don't care - HTTP requests and r

[2017-05-09 17:37] chendrix opened #1095 "Fly Execute fails with gzip: invalid magic"
I am with the Diego development team and when we try to execute our inigo tests remotely from several machines we quite regularly (especially from my machine in Canada) get the following error when doing the upload step in the fly execute ...

[code]

The run-inigo script we use is as follows ...

[code]

The run_inigo_grunc.build.yml is as follows:

[code]

This does seem to occur mostly from my

[2017-05-09 17:37] chendrix opened #1096 "Better error reporting for check-resource"
This is what happened:

[code]

This is pretty unspecific and doesn't help me debug at all.

---
Moved from concourse/fly#105
/cc @jadekler

[2017-05-09 17:37] chendrix opened #1097 "Unpausing Nonexistent Jobs Renders 500"
[code]

This should probably return an error indicating 404, job not found, etc.

---
Moved from concourse/fly#109
/cc @jcderr

[2017-05-09 17:37] chendrix opened #1098 "fly should offer shell completion"
Shell completion is very handy. It would be nice if `fly` could offer it the same way `kubectl` does.
- http://kubernetes.io/docs/user-guide/kubectl/kubectl_completion/
- https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/pkg/kubectl/cmd/completion.go

---
Moved from concourse/fly#111
/cc @ls-avanier

[2017-05-09 17:37] chendrix opened #1099 "fly should login automatically if token expired/absent"
The new `fly login` where there's no need to copy/paste a token is really nice, but usability in general could be improved if instead of running `fly login` manually it would just execute that if it can't find a valid token.

So for example, if I had an expired token and ran `fly execute ...` I should get something like:

[code]

and then proceed to run my task after login.

---
Moved from concour

[2017-05-09 17:37] chendrix opened #1100 "`fly sync` should exit early if fly is not writable by the user running `sync`"
I sometimes do this dance:

[code]

It'd be nice if `fly` would exit early if the user running `sync` didn't have write access to `fly` rather than downloading the file and then exiting later.

---
Moved from concourse/fly#132
/cc @krishicks

[2017-05-09 17:37] chendrix opened #1101 "Confusing `resource not found` error when team name is misspelled"
I misspelled our team name when logging in, and found the error message to be confusing.

[code]

Expected: A error message that helps me understand what I did wrong

Suggestion: mention 'team name' in the error message, or maybe the URL of the resource that was not found.

---
Moved from concourse/fly#135
/cc @tom-meyer

[2017-05-09 17:37] chendrix opened #1102 "upload request failed: Put /api/v1/pipes/5dbfe572-45b0-45d2-517a-e1864363608b: unsupported protocol scheme """
Going through the tutorial, I assumed I could transpose my own concourse server (running on coreos via rancher):

[code]

[code]

[code]

[code]

---
Moved from concourse/fly#138
/cc @airtonix @deitch @vito

[2017-05-09 17:38] chendrix opened #1103 "Disable ANSI escape codes on terminals that don't support them"
conhost, the terminal that hosts cmd.exe and PowerShell on Windows 10, does not support ANSI escape codes, but `fly.exe` uses them anyway, resulting in suboptimal output:

[code]

Although an upcoming version of conhost will support ANSI escape codes, the one on all released Windows versions does not. I can't think of a more specific way to detect support due to unfamiliarity with the platform, bu

[2017-05-09 17:38] #1103 closed

[2017-05-09 17:39] chendrix opened #1104 "fly set-pipeline returns 1 upon choosing not to apply the configuration"
`fly set-pipeline` behavior upon a user refusing to apply the changes to a pipeline is not scripting friendly.
One would expect a program to return a code > 0 only when an error happened, the user refusing to apply the changes is not an error and `fly` "bailing out" is totally expected.

It would make more sense to return 0 if no error happened. This would allow for better usability of fly by scri

[2017-05-09 17:40] chendrix opened #1105 "TSA should support reloading authorized keys without restart"
When changing the authorized_keys file to dynamically add a new worker, the TSA doesn't recognize the new key unless the TSA is restarted.  This makes dynamically provisioning a worker via automation difficult.

Please add the ability to automatically pick up changes to the authorized_key files or an API/fly command to trigger the reload.

---
Moved from concourse/tsa#5
/cc @iSynaptic

[2017-05-09 17:44] jmcarp commented on #1098
See https://github.com/concourse/fly/pull/145, https://github.com/concourse/fly/pull/146. I'm happy to revise those patches as needed if you all have capacity to review, lmk @chendrix !

[2017-05-09 17:45] chendrix opened #1106 "Long resource versions cannot be saved into the database"
I encountered a problem that resource version check does not work when executing the following pipeline.

https://github.com/kei-yamazaki/crazy-branch has a lot of branches and the version string returned by [git-multibranch-resource](https://github.com/starkandwayne/git-multibranch-resource) is very long.

The task does not work even if git push is done to the crazy-branch repository, I initially

[2017-05-09 17:46] chendrix opened #1107 "ATC Should have a healthcheck endpoint attached to it"
Would be nice to have a dedicated healthcheck endpoint on the ATC that we could setup so that HA ATC deployments can have an ATC removed from the pool when it becomes unhealthy.

---
Moved from concourse/atc#160
/cc @zachgersh

[2017-05-09 17:46] chendrix opened #1108 "Allow startup options to be specified in ENV as an alternative"
e.g. in Kubernetes I can expose the Pod IP as an ENV VAR for PeerURL usage, but I don't think I can dynamically refer to it in the pod `command` section.

---
Moved from concourse/atc#81
/cc @devth

[2017-05-09 17:46] chendrix opened #1109 "High CPU usage in Chrome with large number of jobs displayed"
The Diego team has a substantial number of build jobs in its pipeline. When I have a tab open that displays a lot of them, that tab consistently uses 100% CPU or more (screenshots attached). As a result, I typically have to kill that tab in the Chrome Task Manager to conserve battery power on my laptop and to retain enough CPU for the system to perform well, negating the benefit of having the pipe

[2017-05-09 17:46] chendrix opened #1110 "Limit a height of widget with logs content"
Sometimes we can get a lot of log lines in build process. For example `npm install` can produce up to "hundred of thousands" log lines. If we process build for a several images so our browser tab freezes.

![image](https://cloud.githubusercontent.com/assets/1690596/16506950/be97f446-3f2e-11e6-91a5-ed17a8b395dc.png)

It would be great:
1. Limit height of a log widget and make it possible to scroll

[2017-05-09 17:46] chendrix opened #1111 "Some endpoints don't set content-type to application/json"
Running on `1.5.1`,  looks like some endpoints are not setting the `Content-Type` header field properly:

ok:

[code]

not ok:

[code]

Would  that be an easy fix? Am i missing something?

Thx!

---
Moved from concourse/atc#95
/cc @cirocosta

[2017-05-09 17:46] chendrix opened #1112 "Jobs listing endpoint returns null for pipeline without jobs"
Hey,

looks like `GET /api/v1/teams/:team_name/pipelines/:pipeline_name/jobs` returns `null` (text string) if a pipeline have 0 jobs. I suppose it should return an empty list with the content type properly set to `content-type/application-json`. What do you think?

---

[code]

having

[code]

thx!

---
Moved from concourse/atc#97
/cc @cirocosta

[2017-05-09 17:46] chendrix opened #1113 "Bitbucket auth"
It would be very useful to have Bitbucket authentication added since our organization doesn't use GitHub, and keeping basic-auth doesn't feel like a nice solution.

---
Moved from concourse/atc#106
/cc @kyrias

[2017-05-09 17:46] chendrix opened #1114 "Single click to collapse all task logs"
When you have many tasks with long logs, it can be difficult to collapse them to get the overall view of a job's progress.

It would be nice if this could be achieved with a single click and/or shortcut keys.

Related:
- concourse/atc#67, allowing collapsing by in-log markers
- concourse/atc#48, allowing the pipelines sidebar to be shown by default

---
Moved from concourse/atc#107
/cc @jchesterpi

[2017-05-09 17:47] chendrix opened #1115 "Login UI does not properly render team name entities"
In 2.0.0, the login redirect page does not properly render team name entities like spaces.

![screen shot 2016-08-29 at 6 19 35 pm](https://cloud.githubusercontent.com/assets/60754/18072750/7859c412-6e15-11e6-8153-f639b64c2881.png)

---
Moved from concourse/atc#108
/cc @nebhale

[2017-05-09 17:48] vito opened #1116 "API authentication without using basic auth"
It would be nice to be able to authenticate to the Concourse API in scripts without using basic auth. The current OAuth workflow can only happen in a browser that is logged into Github.

It was mentioned in Slack that there could be another auth type like personal access tokens. There are also other OAuth flows that might make sense.

---
Moved from concourse/atc#42
/cc @mmb @xoebus

[2017-05-09 17:48] vito opened #1117 "Description in pipeline web page"
Would be nice to set a (multiline) description on a pipeline which would appear on the pipeline page. This would allow to provide context about the pipeline and also provide links to github page, documentation, etc.

---
Moved from concourse/atc#47
/cc @aequitas

[2017-05-09 17:48] vito opened #1118 "Option to make pipeline drawer expanded by default"
Currently the collapsed pipeline 'menu' kind of hides other pipelines for newcomers to the CI until you discover it. Would be nice to be able to have the menu shown be default (and keep hidden toggle state in browser storage) or to be able to set a pipeline overview as starting page instead of the main pipeline.

---
Moved from concourse/atc#48
/cc @aequitas

[2017-05-09 17:48] vito opened #1119 "Expose scheduler info for checks"
It would be nice to be able to see on the check page for a resource:
- when the check was last updated/failed
- when the check will run next
- if check is currently running

---
Moved from concourse/atc#55
/cc @aequitas

[2017-05-09 17:48] vito opened #1120 "Resource icons"
It would be nice to have icons associated with resources. This way it is easy at a glance to see which type of resource is being in/outputted. And it prevents resource names with the type included.

---
Moved from concourse/atc#64
/cc @aequitas

[2017-05-09 17:48] vito opened #1121 "Collapsing sections of build output"
It'd be great to have the equivalent of this [Buildkite feature](https://buildkite.com/docs/guides/managing-log-output#collapsing-output).

This would let us specify logical stages of our build output that could be collapsed. For example:

[code]

---
Moved from concourse/atc#67
/cc @oppegard

[2017-05-09 17:48] vito opened #1122 "Provide ATC (REST) API docs"
---
Moved from concourse/atc#80
/cc @bechtoldt

[2017-05-09 17:48] vito opened #1123 "Resource version ordering is wrong after changing resource type"
We've run into issues on a couple of occasions where changing the type of a resource will cause concourse to pick the wrong version.

The most recent occurrence was when we switched from a fork of the git resource back to the built-in one (now that https://github.com/concourse/git-resource/pull/76 has been merged). This change can be seen [here](https://github.com/alphagov/paas-cf/commit/977f4cd).

[2017-05-09 17:48] vito opened #1124 "Confusing interface copy for unauthenticated viewers of Concourse instance"
I work on a project that has open source code in a public GitHub repository, while our Concourse checks for each PR run behind authentication. I noticed a somewhat confusing user experience:

On a public PR (such as https://github.com/18F/cg-docs/pull/434), anyone can click "Show all checks" and click ["Details"](https://ci.fr.cloud.gov/builds/7581) (which is fine). But then the main part of the e

[2017-05-09 17:49] vito opened #1125 "UI using Windows (Chrome/Firefox) doesn't load job results."
Running the ATC on linux 64bit using standalone binary.
Web UI hangs loading job status using both Firefox and Chrome from Windows systems.

---
Moved from concourse/atc#133
/cc @skyscooby

[2017-05-09 17:49] vito opened #1126 "Dragging the view around for a pipeline always goes to the job the drag started on"
I usually drag the screen around and zoom in on a few jobs for one of our very large pipelines. Unfortunately I have a tendency to start my drag on one of the job boxes in the pipeline, and the app always treats this as me wanting to view that job instead of moving the pipeline view around.

Would it be possible to differentiate between click events and click + drag for a bit events?

---
Moved fr

[2017-05-09 17:49] vito opened #1127 "Building pulsing is buggy on concourse 2.5.1"
This screenshot actually makes it look tame in comparison to the frequency this thing is pulsing on my screen. It seems like it only manifests itself at certain zoom levels.

http://whatsmybrowser.org/b/M1ED8RH

![concourse-builds](https://cloud.githubusercontent.com/assets/239754/21503478/c6cad96a-cc25-11e6-9d95-29ca0affcf0e.gif)

---
Moved from concourse/atc#148
/cc @benmoss @vito

[2017-05-09 17:49] vito opened #1128 "job name shouldn't be tied to the job history"
When I rename my job, I'd like to keep the job's history. Having a separate display name would work, or keeping track of history using another ID.

---
Moved from concourse/atc#155
/cc @utako

[2017-05-09 17:49] vito opened #1129 "As a user I would like to run a task from the pipeline view"
# The problem

If I want to run a task manually, I need to open it and click the "+" button on the top right side of a task view. It is inconvenient, because the button is not clickable until the full task output loads its content. So, you have to open view and to wait when the log is loaded and only then you will be able to click the "+" button.

# Suggested solution

It would be very nice to hav

[2017-05-09 17:49] vito opened #1130 "Allow sidebar to be adjustable"
![rdpg-boshrelease_-_concourse](https://cloud.githubusercontent.com/assets/928524/9094189/6de292ae-3b7e-11e5-95b9-fcd0b4d81f65.png)

---
Moved from concourse/atc#27
/cc @lnguyen

[2017-05-09 17:49] vito opened #1131 "Better 404 pages"
Should be a better 404 page, including a link back to home.

---
Moved from concourse/atc#28
/cc @krishicks

[2017-05-09 17:49] vito opened #1132 "Viewing an old build doesn't correctly show newer builds"
When I'm on build 120/163 the top bar shows up like this:

![screen shot 2015-08-25 at 5 53 52 pm](https://cloud.githubusercontent.com/assets/239754/9480643/496ed520-4b52-11e5-86b1-e8745fb0c480.png)

When I move to build 140 it changes to this:
![screen shot 2015-08-25 at 5 54 00 pm](https://cloud.githubusercontent.com/assets/239754/9480658/59d904da-4b52-11e5-9367-c387e63c92d5.png)

Seems like in

[2017-05-09 17:49] vito opened #1133 "As a user I would like to see the docker container that each task ran in on the web UI."
We located a task in another pipeline that we knew had the same container requirements. If the docker container had been output in the UI it would have saved us digging through the task definitions of the other pipeline.

This would also be useful for public Concourses where you might not be able to easily find and access the task.yml.

---
Moved from concourse/atc#30
/cc @mmb

[2017-05-09 17:49] vito opened #1134 "Differentiate failing (no version) inputs in pipeline flow diagram"
We had an issue today where we had misconfigured our pipelines in such a way that they were checking ok (the git repository they were looking at existed) but were failing to find refs / versions (the paths we told concourse to watch were bogus).  The only way to find these half-broken inputs was to click on each input (and there were about a dozen total) and see which ones had a "checked successfu

[2017-05-09 17:49] vito opened #1135 "No timestamps in ATC error logs"
No timestamps when looking at `atc.stderr.log`, e.g.:

[code]

Timestamps are in `atc.stdout.log`, e.g.:

[code]

---
Moved from concourse/atc#32
/cc @quintessence

[2017-05-09 17:49] vito opened #1136 "Alternate to Cmd-R to always refresh to the current active/finished job"
Currently the only keybinding for refreshing the page is Cmd-R on a mac; or to click on a build number at the top of the screen.

But if a job has finished, and there are new builds running/finished, they don't show up automatically and cannot be selected. So you still need to Cmd-R first. Then click on a new build number.

Instead, could we have a keybinding to "refresh to current active or last

[2017-05-09 17:49] vito opened #1137 "Logs get weird at different browser sizes"
![screen shot 2015-11-20 at 2 53 24 pm](https://cloud.githubusercontent.com/assets/239754/11310264/a1fd9608-8f96-11e5-8359-c90d70ce6fda.png)

vs

![screen shot 2015-11-20 at 2 54 47 pm](https://cloud.githubusercontent.com/assets/239754/11310274/adde41fc-8f96-11e5-8698-00a89f523df0.png)

---
Moved from concourse/atc#36
/cc @benmoss

[2017-05-09 17:53] cjcjameson commented on #1074
I think there had been discussion that this won't be fixed on 2.x but should be fixed for 3.0

Is there a tag or a tracking mechanism that can make sure case-sensitivity in team-names is handled holistically for 3.0?

[2017-05-09 17:56] cjcjameson commented on #1091
Dupe of #1092

[2017-05-09 18:05] cwinkler commented on #1052
Looks good to me as long as it can be shown/hidden in the UI.

[2017-05-09 18:06] #1091 closed

[2017-05-09 19:42] ebabani commented on #1102
Hey @chendrix
How was your atc configured in rancher? I've seen that error with fly execute if the bosh property 'external_url' is not set for the atc job.

Does rancher allow you to set that property for the atc?

[2017-05-09 20:31] vito opened #1138 "Emit metrics directly to InfluxDB"
# Feature Request

## What challenge are you facing?

We have a Riemann -> InfluxDB -> Grafana metrics stack for some large-scale environments. With more load running against them, we've seen the metrics stop coming in. Restart Riemann fixes it for some time, and then it falls over again later.

## A Modest Proposal

Let's just emit directly to InfluxDB. We should keep Riemann support, as it's sti

[2017-05-09 20:42] w32blaster commented on #1129
Awesome! Thanks!

[2017-05-09 21:12] vito commented on #1072
this was added by a PR

[2017-05-09 21:12] #1072 closed

[2017-05-09 21:12] vito commented on #1063
this is fixed now

[2017-05-09 21:12] #1063 closed

[2017-05-09 21:13] vito commented on #1054
This will be done as part of #1048

[2017-05-09 21:13] #1054 closed

[2017-05-09 21:32] vito commented on #1052
@ggeorgiev I don't see how this is way less flexible - it's a different solution to a different set of problems. This removes the duplication and intermixing of concerns between "augmentations" like notifications and the real meat of the build plan, allowing us to treat them differently. #1016 is calling out a need for reuseable actions that don't quite fit in to the resources model, which I sympa

[2017-05-09 21:47] chendrix commented on #1102
Hi @ebabani this issue was just moved into concourse/concourse from fly. The issue was originally opened by @airtonix or @deitch.

[2017-05-09 22:02] chendrix opened #1139 "Make it installable with homebrew"
A lot of Labs projects run CI on Mac Minis. If Concourse was installable with Homebrew, it'd be much easier to pick up and use for client projects.

---
Moved from concourse/bin#13
/cc @jchester

[2017-05-09 22:04] chendrix opened #1140 "Feature Request: Ability to clean up failed builds via the UI"
As described in concourse/bin#24, There are cases where large artefacts can be left around when builds fail.  In my case, this caused subsequent builds to fail due to lack of disk apace.  A method of cleaning up old builds manually between runs would be great so that disk space can be freed up.

---
Moved from concourse/bin#26
/cc @sybrandy

[2017-05-09 22:04] chendrix commented on #1140
When the filesystem used by the worker gets filled-up, we appear to get into an unrecoverable state with concourse itself throwing out errors that will make no sense to the uninitiated. e.g.:

* from a resource: `hijack: Backend error: Exit status: 500, message: {"Type":"","Message":"mkdir /mnt/concourse/depot/8a0229e1-c899-44c0-5575-b01fbe314e9c/processes/d76dfcfc-548e-47b2-585c-dc1a2e54dac0: no

[2017-05-09 22:04] chendrix opened #1141 "Using upstream outputs as inputs is broken on darwin"
Given the following tasks running on darwin, in this order:

[code]

[code]

The bottom task will fail to run because `some-output` has not been mounted in the container. It does **not fail** as you might expect, which is `missing inputs: some-output`.

Using the exact same tasks/scripts on a linux worker was successful.

There were no errors in the garden log associated with this.

---
Moved from

[2017-05-09 22:05] chendrix commented on #1141
issue is https://github.com/vito/houdini/issues/6

---

from @vito

[2017-05-09 22:05] mariash commented on #1031
@ctaymor can you list the plugins you have installed in your chrome?

[2017-05-09 22:05] databus23 commented on #1138
I just would like to add that I would wish for concourse to alternatively expose prometheus metrics. Maybe the refactoring could also take that into account and make the metrics subsystem pluggable. I'm willing to submit a prometheus driver as soon as a metrics interface allows for that.

[2017-05-09 22:15] mariash commented on #1031
confirmed, logging in in one tab, does not update auth in another tab.

[2017-05-09 22:28] vito commented on #1138
Yep that's the goal; it should be easy to PR providers after this is done.

On Tue, May 9, 2017, 6:05 PM Fabian Ruff <notifications@github.com> wrote:

[2017-05-09 22:32] chendrix opened #1142 "Errors returned by the public interface methods are internal"
I'm trying to use this client library to access to concourse service from inside of one application which I'm developing and because the returned errors are internal, I cannot distinguish them easily (using a type switch or comparing error values) to handle them differently by the logic of my application.
My question is, why errors returned by methods of the public interface are defined in an inte

[2017-05-09 22:33] chendrix opened #1143 "Fligth school corrections"
## Overall

Error output does not look the same as in the document.

All red and:
[code]

Which is actually much harder to read than the error message in the examples.

## Missing steps

- Creating the first script test.sh you need to make the directory `ci` in your flight-school folder. And perhaps better doc about `input`.
- Starting a pipeline, please add something like "Let us create a pipelin

[2017-05-09 23:12] mariash commented on #1031
when page is refreshed the local storage appears to be empty in Chrome (missing csrf_token). But all requests are still working, sending csrf token.

[2017-05-09 23:16] chendrix opened #1144 "Make IP address parametizable"
There are scenarios were you need/have to change the port this vm is on because of conflicts and whatnot, and you can change it using vagrant but then there are static references to the IP in the repo that causes certain things to break https://github.com/concourse/concourse-lite/search?utf8=%E2%9C%93&q=100

---
Moved from concourse/concourse-lite#16
/cc @scottschulthess

[2017-05-09 23:18] chendrix opened #1145 "Support service discovery via the magic `127.x.x.x` DNS server"
Many many people have run into this. Docker Compose and various other magic-Docker-sauce runtimes set up a local DNS server to talk to other components (e.g. a Docker registry or other dependent service), but the address it wires in to the container (`127.0.0.11`) is not reachable from the container's network namespace. Nowadays Garden strips it out, which is an improvement as it won't resolve to

[2017-05-09 23:22] chendrix opened #1146 "Local network DNS resolution doesn't work"
[line 8 in update-resolv.conf.sh](https://github.com/concourse/concourse-lite/blob/master/scripts/update-resolv.conf.sh#L5) puts 8.8.8.8 into /etc/resolvconf/resolv.conf.d/head.

For me, this screws up local dns resolution, making it difficult to work with git & maven repositories on my network.

---
Moved from concourse/concourse-lite#1
/cc @ryfow @ilackarms @xoebus

[2017-05-09 23:28] ggeorgiev commented on #1052
@vito I might be misreading the snipped but it seems to me that decorators are an item in the job out of the plan. This means that concourse will have to decide to run them somehow as part of the plan. This "somehow" is going to be very specific, which will not allow for grouping them in aggregates for example. I have several other scenarios of "decoration" resources that I was hoping to be able t

[2017-05-10 00:00] willejs commented on #976
@clarafu Im totally on board with that, if the backend is pluggable. KMS & IAM should be sufficient for AWS right?

[2017-05-10 05:06] Cobi opened #1147 "Bump version of oauth2"
# Bug Report

* Concourse version: 1.7.4
* Deployment type (BOSH/Docker/binary): Docker

When using the generic oauth2 auth provider in atc, we're running into a bug that was fixed in https://github.com/golang/oauth2/commit/4464e7848382e6f39db55097f70e1460bdf944b3#diff-cd214d2a23977a40c68bc8e2fd6b92ccL156 we believe.  However, the version of oauth2 pulled in by concourse is older than that commit.

[2017-05-10 08:23] databus23 commented on #1138
Ok cool. If possible I would like to participate/review as early as possible. Prometheus is a little different from riemann or influxdb as its pull based and more focused around metrics and less on events. Making sure the driver interface works for prometheus is a nice validation that its generic enough to support different metric systems IMO.

[2017-05-10 10:28] talset opened #1148 "fly execute --inputs-from does not support custom resource types"
Hi there!

# Bug Report

I tried to use ```fly execute --inputs-from ```.

Here is a part of my pipeline jobs definition
[code]

Here is my vault resource definition

[code]

If I run my pipeline from concourse UI it works perfectly.

So I created a builder.yml containing my task to execute with fly

[code]

How I execute this builder.yml

[code]

As you can see "no workers satisfying: resource ty

[2017-05-10 10:48] cwinkler commented on #1148
There is no built-in vault resource. You need to define it.

    resources_types:
    - name: vault
      type: docker-image
      source:
        repository: docurated/concourse-vault-resource

[2017-05-10 10:54] talset commented on #1148
Sorry I did not mentioned this point, but yes my resource type is declared exactly like you said.

It works perfectly in my pipeline, but not with the fly execute

[2017-05-10 11:40] vito commented on #1148
Re-worded a bit to pinpoint the cause. I'm not sure when we'll get to this ourselves but it's at least a known issue. It may be something PR-able, so I'm going to place it in the Help Wanted milestone. It would probably entail adding a set of resource types to the `POST /api/v1/builds` endpoint's payload.

[2017-05-10 13:11] vito commented on #1138
Would https://prometheus.io/docs/instrumenting/pushing/ be sufficient or would that be too annoying to set up? There are some metrics that the ATC emits that don't really make sense in a pull model. For example, builds starting and finishing, per-endpoint HTTP response times, etc.

[2017-05-10 15:20] vito commented on #1138
Bumping this up in priority since Rieman stability is affecting our ability to monitor our deployments.

[2017-05-10 15:54] clarafu opened #1149 "Check containers are super ambiguous in `fly containers`"
Hello!

# Feature Request

## What challenge are you facing?

In **2.8.0**, `fly containers` for check containers give almost no useful information revolving around which resource is being checked or what the check container is being used for. The new check container doesn't conform to the current `fly containers` format (for example, they are not associated to a pipeline, job, build, resource nam

[2017-05-10 18:03] chendrix opened #1150 "Verify in fly that all jobs are visible in the UI"
# Feature Request

## What challenge are you facing?

If you have no groups, then all jobs in your pipeline are always visible.

If you have any groups, and forget to put a job in a group, that job will still exist in your pipeline, but there will be no way to see it leading to some potentially dangerous situations.

## A Modest Proposal

We should verify in `fly set-pipeline` that no job will be

[2017-05-10 18:12] chendrix opened #1151 "Add metrics for volumes"
# Feature Request

## What challenge are you facing?

Currently, the [metrics](http://concourse.ci/metrics.html) only show metrics for the number of containers running on a worker. We would also like to know how many volumes are on each worker, so that we can see if our large Concourse instances are leaking volumes.

## A Modest Proposal

Emit a metric for the number of worker volumes, alongside t

[2017-05-10 18:21] vito opened #1152 "Investigate `create-env` as a solution for single-instance Concourse deployments"
How close can we get this to `vagrant up`? It would make our lives easier by removing a distribution format, and could act as a gateway drug into BOSH. It'd also let you reconfigure and redeploy it, something `vagrant up` doesn't let you do.

[2017-05-10 18:21] vito commented on #1152
#1006 would greatly help this

[2017-05-10 19:04] pivotal-topher-bullock commented on #1152
After some investigation one gotcha I ran into was around BOSH links being used in control scripts. Since there's no director managing deployment(s), there's nothing there to do the link-ing. Good news is this can mostly be avoided by providing explicit values for things that are usually resolved as links.

Concourse releases need to be compiled (#1006); and we'll also need a compiled release of G

[2017-05-10 21:24] vito commented on #537
consolidating into #1032

[2017-05-10 21:24] #537 closed

[2017-05-10 22:01] mariash commented on #1048
we decided to have a separate table for outdated workers with the message `the following workers need to be updated to version (bold)a.b.c(/bold):`

[2017-05-10 23:56] ljfranklin opened #1153 "Job with unicode characters displays incorrectly on the job's build page"
Hi there!

Please pick the appropriate section (Feature Request or Bug Report) and delete the rest of this. Note that "missing support for X" is a feature request, not a bug!

# Bug Report

We named a concourse job "freshen-🐋". When visiting `http://our.concourse/teams/main/pipelines/capi/jobs/freshen-🐋/builds/1`, the job name is correctly rendered [1]. When visiting `http://our.concourse/teams/ma

[2017-05-11 00:07] chendrix commented on #939
We closed the ticket after fixing the docs in https://github.com/concourse/concourse/commit/38e69ae4af800f07fbaa76196ea23c4b7d3bc976

[2017-05-11 00:16] chendrix commented on #939
Looks like this documentation won't get pushed until after we release.

[2017-05-11 00:17] chendrix commented on #939
Should be pushed now. http://concourse.ci/running-tasks.html

[2017-05-11 00:56] chendrix commented on #1027
concourse/semver-resource#31 attempted to add `skip_ssl_verification` to the semver-resource

[2017-05-11 08:03] gerhard opened #1154 "volume graph is disabled errors in job tasks - ErrGraphDisabled"
## Problem

Tasks within jobs are failing with `volume graph is disabled`:

<img src="https://cloud.githubusercontent.com/assets/3342/25938241/81016776-3626-11e7-8ee4-cb39905823a3.png" width="200" />

I find it confusing that containers within which checks run are working, but not job tasks.

## Logs

This is the first of many `volume graph is disabled` errors I'm seeing in the logs:

[code]
There

[2017-05-11 12:04] holgero commented on #794
We experience this on our installation
[code]
Symptoms include:
* a worker stopped responding to curl ip:7788/volumes
* no new containers were created at all
* git-resources didn't show any new versions, although there were plenty of new git commits
* baggeclaim log stopped at 2017-05-10 9:51
* monit summary showed all processes up and running
* bosh vms --vitals showed a worker with 25% cpu wait

[2017-05-11 13:31] vito commented on #1138
Note: switching from Riemann -> InfluxDB to just emitting directly to InfluxDB, keeping the same dataset, leads to this error:

[code]

(Probably for other metrics too.)

Seems like Riemann has been emitting everything as `float`s this whole time. These values are really...integers, so we're not gonna switch it out. This means you'll need to blow away your dataset. :( We'll have that in the releas

[2017-05-11 13:56] vito commented on #1138
Also realized that without Riemann we have no toolchain for emitting system metrics (CPU/RAM/disk), as we're relying on the `riemann-emitter`. Going to spin up a [Telegraf](https://github.com/influxdata/telegraf) release to fill that void.

[2017-05-11 14:17] talset commented on #1148
linked to https://github.com/concourse/concourse/issues/318

[2017-05-11 14:45] vito commented on #1148
Cool, I'll close this and update the other with more direction for a PR.

[2017-05-11 14:45] #1148 closed

[2017-05-11 14:48] vito commented on #318
Update on previous comment: turns out you can already submit a build with a set of versioned resource types, though it works a bit differently: you have to add the whole set of them to each `get`, `put`, or `task` in the plan.

So, all we need now is an endpoint to get that set of resource types from the API. Something like:

[code]

This would return [`VersionedResourceTypes`](https://github.com/

[2017-05-11 16:14] vito commented on #1047
Somehow a worker registered with the version of "WORKER_VERSION_REPLACE_ME". It happened twice during a BOSH deploy that updated the VMs to switch from `riemann-emitter` to `telegraf` (as part of #1138). No idea how it happened; the [script](https://github.com/concourse/concourse/blob/04d547f3e3ece611f68334f16fc75fbbe26087c2/jobs/groundcrew/templates/beacon_ctl.erb#L90) looks fine.

Regardless of

[2017-05-11 16:31] vito commented on #871
yep!

[2017-05-11 16:31] #871 closed

[2017-05-11 16:44] andrewedstrom commented on #1045
One additional problem with btrfs is that occasionally workers will report `No space left on device` errors when there is actually still a lot of disk space left. This is a known btrfs bug. More info: https://btrfs.wiki.kernel.org/index.php/FAQ#Help.21_Btrfs_claims_I.27m_out_of_space.2C_but_it_looks_like_I_should_have_lots_left.21

[2017-05-11 17:34] andrewedstrom commented on #932
@databus23 what version of concourse are you running against?

[2017-05-11 17:37] databus23 commented on #932
@andrewedstrom 2.7.4 but this was also the case with earlier versions.

[2017-05-11 17:38] mariash commented on #1047
the drain script did not update the version and used to overwrite config file with the original `WORKER_VERSION_REPLACE_ME`. Because beacon continuously retries it might at some point send broken worker.json

[2017-05-11 18:50] mariash commented on #1047
heartbeat worker should also update the version

[2017-05-11 20:02] dmlemos opened #1155 "[feature] Collapsible teams on the pipeline menu"
# Feature Request

## What challenge are you facing?

Having many teams with a lot of pipelines makes the UI less easy to navigate.

## A Modest Proposal

Collapsible teams

[2017-05-11 20:18] timrchavez commented on #1138
:+1:

[2017-05-11 20:26] #1031 closed

[2017-05-11 20:26] #1042 closed

[2017-05-11 20:26] #1032 closed

[2017-05-11 20:33] vito commented on #1045
Prioritizing this higher since things seem to be coming to a head with `btrfs` lately.

Let's first investigate `overlay` as it comes with the kernel out-of-the-box. There's actually a branch on `baggageclaim` already with an `overlay` driver: https://github.com/concourse/baggageclaim/tree/overlay-driver

Let's also investigate [`lcfs`](https://github.com/portworx/lcfs) as an alternative experimen

[2017-05-11 21:11] #1138 closed

[2017-05-11 23:52] evanfarrar commented on #1034
I can understand the desire to avoid maintaining snippets of YAML and testing them against IaaSes continuously. In that case could the manifest published in documentation utilize variables, director-uuid, vm_types, dynamic IP assignment and a vm_extension for the load balancer?

This would make things a little less error prone, and for users on BOSH Bootloader they could let bbl make the cloud-con

[2017-05-12 00:11] vito commented on #1034
To what end? Why not just start with a manifest that makes sense for `bbl`? As I said previously, we do not want people templatizing our manifest, which is why it's not available in a more convenient form. Our manifest has been stable ever since 2.0. If you've got CI for your concourse `bbl`ing it would catch any backwards incompatible changes, and they'd also be documented in our release notes.

[2017-05-12 00:30] chendrix commented on #932
Even without multiple pipelines, you should be able to see the metadata for the same inputs versions.

We checked the code to figure out where this information is coming from, and even just the "same pipeline" version is going to be *hard*.

[2017-05-12 00:32] chendrix commented on #932
This comes from ContainerFetchSource's `versioned_resource`. https://github.com/concourse/atc/blob/master/resource/container_fetch_source.go#L61-L69

The problem is that this versioned source only gets populated when performing `Initialize`. If it has already been Initialized, it doesn't set up the versioned source correctly and thus doesn't emit the correct build events.

[2017-05-12 00:35] chendrix commented on #932
It also traces alllllllll the way back to https://github.com/concourse/atc/blob/master/dbng/build.go#L129 in the engine metadata.

@vito my thoughts are this is too hard to have prioritized so highly.

[2017-05-12 00:44] vito commented on #932
@chendrix Can you show the trace that led there? Pretty sure it happens
dynamically, as at least the first build that fetches it doesn't have the
metadata until the fetch happens. My thinking is that the metadata can be
attached to the resource cache, which we have to find or create as part of
the `get` already.

If it does end up looking harder I agree that we should deprioritize below
the encryp

[2017-05-12 00:46] vito commented on #932
Woops didn't see the previous comments.

[2017-05-12 07:32] tomyan commented on #406
Also finding it difficult without being able to see messages from the check (even in success) - to the extent I'm modifying the custom resource to fail, just so I can see the messages.

[2017-05-12 13:10] vito commented on #1047
@mariash @clarafu I'm not sure we should bother with having a "patch" segment in these versions.

We would bump the minor version if there's a new feature or behavior that a new ATC may require, but the worker is otherwise backwards-compatible (i.e. old ATCs can still use it).

We would bump the major version if there's a backwards-incompatible protocol change.

I can't think of a scenario where w

[2017-05-12 13:11] DanPearson commented on #764
I got this issue as well running the binary image but found another root cause.   Eventually found that it's caused by Docker and IPv6 on the host.   A simple and quick fix is to disable IPv6 and restart the Web and Worker.   I found the following messages in the syslog;

docker0: port 1(veth39c7847) entered disabled state
BTRFS: could not find root 8
IPv6: ADDRCONF(NETDEV_UP): wbrdg-0afe0008: lin

[2017-05-12 13:51] vito commented on #1047
Also just realized this will make it annoying to develop locally without BOSH, since the ATC will be build with the version `0.0.0-dev`. Let's make it default to blank instead, and if it's blank, don't bother with any version checking; just trust all the workers.

[2017-05-12 14:30] #1048 closed

[2017-05-12 14:42] #1147 closed

[2017-05-12 15:28] clarafu commented on #84
I'm going to close this issue because with the current version of Concourse, the passed constraint just wraps back to itself (in a circle). This might cause it to never trigger but it does not freeze the page.

[2017-05-12 15:28] #84 closed

[2017-05-12 18:25] vito commented on #1047
Switched to patch-less versions and changed the default to blank. Performed an upgrade test that showed everything is working honky-dory. Accepting!

[2017-05-12 18:25] #1047 closed

[2017-05-12 18:25] vito commented on #1049
it worked!

[2017-05-12 18:25] #1049 closed

[2017-05-12 21:38] chendrix commented on #1154
Can we see the configuration of your job?

This error shows up when you do not specify an `image` or `image_resource` for your task.

[2017-05-12 21:40] chendrix opened #1156 "Build concourse/bin from concourse/concourse"
We want to combine concourse/bin into concourse/concourse so that all of the dependencies are managed together.

[2017-05-13 11:24] gerhard commented on #1154
It seems that `image` is no longer supported. I have switched my task to `image_resource` and this error goes away.

What are your thoughts on the following?

1. A more helpful error. `volume graph is disabled` doesn't say or hint to a task misconfiguration.
1. Officially drop `image` support in tasks.

Thanks for your help @chendrix, I've now unlocked the next Concourse problem :man_cartwheeling:

[2017-05-13 21:52] vito commented on #1151
Added it to our metrics board. Looks good!

https://metrics.concourse.ci/dashboard/db/concourse

[2017-05-13 21:52] #1151 closed

[2017-05-13 21:55] vito commented on #1156
:+1: looks good

this hasn't been done on the 2.7 line but i don't think we care. just noting.

[2017-05-13 21:55] #1156 closed

[2017-05-14 12:20] jdelic opened #1157 "Checking git resource fails with "iptables: Index of insertion too big""
I run

  * the standalone binary v2.7.7 under systemd
  * the worker and server on the same node
  * under Debian Stretch

The pipeline is as follows

[code]

The error happens reliably on a Debian Stretch Vagrant VM based off [my salt config](https://github.com/jdelic/saltshaker). The pipeline is registered as `authserver` with a bitbucket deployment SSH private key in `{{bitbucket_access_key}}`.

[2017-05-14 12:33] jdelic commented on #1157
When I add a dummy rule to `w--forward` the resource seems to execute correctly (aside from the fact that I removed the deployment key during debugging):
[code]

It seems that concourse expects `w--forward` to be in a state that it's not. I have restarted concourse multiple times and flushed all iptables chains inbetween, and it never seems to set up `w--forward` with a single, first rule. This wa

[2017-05-14 15:21] davidgarciaMontreal opened #1158 "unable to run hello world in macOS Sierra"
# Bug Report

Bug reports are pretty free-form; just replace this with whatever. If applicable, though, please include steps to reproduce. Help us help you!

The following can also be handy:

* Concourse version:
antonios-iMac:con_ci_pipelines antoniogarcia$ concourse -version
2.7.7

* Fly version:
antonios-iMac:con_ci_pipelines antoniogarcia$ fly -version
2.7.7

* Deployment type (BOSH/Docker/bin

[2017-05-15 11:17] vito commented on #1157
Hmm. You may be better off creating an issue on https://github.com/cloudfoundry/guardian. We don't do any `iptables` stuff directly. I don't have any ideas for the cause of this off the top of my head, but thanks for all the initial investigation.

[2017-05-15 11:21] vito commented on #1158
Similar to #533 - we'd need resource types to be implemented for OS X. Currently you need at least one Linux worker to run them.

[2017-05-15 11:23] vito commented on #1158
I'll leave this open until we document it. @davidgarciaMontreal Is there somewhere in particular you would have expected to see this documented? Maybe in the [Binary installation docs](http://concourse.ci/binaries.html)?

[2017-05-15 12:16] holgero commented on #794
So this happens on a regular (a few times a day) basis now.

[2017-05-15 13:37] jdelic commented on #1157
@vito
Thanks for the tip. I recreated this issue over at cloudfoundry/guardian#80. What is the usual process for y'all, should we close this issue or keep it around to track progress?

[2017-05-15 14:23] chendrix commented on #794
@holger what version of concourse are you running?

[2017-05-15 14:26] holgero commented on #794
[code]

[2017-05-15 14:59] drahnr commented on #955
This issue was unrelated, I would have needed to explicitly pass the ENV values to docker, which I forgot.

[2017-05-15 15:15] jmcarp opened #1159 "Bug report: Environment variables not available on intercept"
After upgrading concourse to 3.0, environment variables specified in `params` aren't available on intercepting a build. @vito confirmed that this is unexpected:

[2017-05-15 15:51] bonzofenix commented on #1027
@haydonryan @vito we are hitting this issue at Allstate. We are encrypting all our internal traffic at a firewall level with a custom CA that needs to be trusted by all resources. :(

[2017-05-15 16:16] freelock opened #1160 "Configuration to keep successful task containers after completion"
# Feature Request

## What challenge are you facing?

After upgrading to 3.0.0, successful task containers are removed immediately after they complete. In our current setup, we hijack into successful containers about as often as failed ones, so it would be useful to keep these around for further diagnosis.

In our case, we have some tasks that output warnings rather than errors -- we don't want th

[2017-05-15 16:16] dmlemos commented on #844
Today we had a number of builds with this problem.

Yes

Empty

I had restarted ATC recently due to other issue.

`atc: up  2:12`
`worker: up 1 day`

BOSH

AWS

yes

https://gist.github.com/dmlemos/287a1bcf65f2fd733065abd204e051b9
https://gist.github.com/dmlemos/bd6c9925977518eef369a79847ba259a

---
Small part of the baggageclaim logs from the worker:
[code]

Cancelling the build did nothing. Kill

[2017-05-15 16:42] tom-meyer opened #1161 "Never ending stream of error messages when attempting `fly login`"
I issued `fly -t gpdb5 login` and was confronted with a never ending stream of these messages:

[code]

Pressing Ctl-c is necessary to kill fly.

Our concourse: v2.7.3 (with a [custom fly binary](https://github.com/concourse/fly/pull/164))

[2017-05-15 17:17] vito commented on #1161
You sure something wasn't piping input to it? e.g. someone holding the enter key? I can't think of any other reason for that to happen. Does this happen every time? Steps to reproduce will be critical for these kinds of weird errors.

[2017-05-15 17:37] marco-m commented on #533
I am really confused both by this issue and by #1158. Please consider increasing the priority for documenting in general how to use concourse with Windows and Mac workers. thanks :-)

[2017-05-15 18:01] freelock opened #1162 "3.0.0 Regression: Workdir does not exist before `put`"
# Bug Report
![selection_649](https://cloud.githubusercontent.com/assets/46937/26071715/ddc1bab2-395d-11e7-9d35-066b4269bea2.png)

Concourse 3.0.0 regression.

vito [10:51 AM]
@freelock that looks like a regression - we should ensure that directory exists even if there are no inputs. for now you could have it `mkdir -p` the work dir, or if you want to just hack it build-by-build you could put a `g

[2017-05-15 20:53] clarafu commented on #1050
Resource and job configs should probably also be encrypted.

[2017-05-15 21:16] clarafu commented on #1050
So this is the current approach I am working on, we have four configs that we need to encrypt (pipeline, team auth, resource and job configs) and every time we encrypt and store the config into the database, we will also store the nonce used to encrypt it. This means we will need to add an extra column in each of the four tables (pipeline, team, resource, and job tables that contain each config) a

[2017-05-15 21:33] vito opened #1163 "Volume size stats no longer being collected"
This used to happen as part of heartbeating, but we no longer heartbeat as of v3.0.0. It was pretty expensive to do it all the time anyway; maybe we can just call it once when the volume is initialized?

[2017-05-15 21:35] SocalNick opened #1164 "As a Concourse operator with many pipelines, I would like to move a pipeline from the "main" team to a new team"
# Feature Request

## What challenge are you facing?

We have a concourse installation with many pipelines, most of which, our "main" team is not really responsible for. We've given a lot of Github Org/Teams access to our concourse, but we are ready to take advantage of concourse teams. We can create the team, but the existing pipelines would have to be deleted and re-created with the new team, lo

[2017-05-15 23:23] joshzarrabi commented on #1038
As a member of releng I change my vote and think this a necessary feature.

[2017-05-16 11:39] holgero commented on #794
Any news?

[2017-05-16 13:24] #1162 closed

[2017-05-16 13:32] #1159 closed

[2017-05-16 13:32] pn-santos commented on #1027
We at Yoti also use a custom CA for our internal docker registry... it's a pain to need to include `ca_certs` in every pipeline and task definition in docker image resources.

[2017-05-16 13:39] #1104 closed

[2017-05-16 14:01] markalanrichards opened #1165 "Cannot get docker-compose to work, vagrant seems okay"
Setup:
-  Xbuntu or Ubuntu Server 16:04 vm in Virtualbox (tried both)
-  Two network adapters
--  nat translated
--  host-only network adapter.
-  docker-ce from docker repo
-  docker-compose from pip in a virtualenv
- single pipline from https://concourse.ci/hello-world.html

Note:
I've tested my docker and running bash in a container I can use curl and that is downloading, so I doubt it is my do

[2017-05-16 15:53] svrc-pivotal opened #1166 "cannot_invalidate_during_initialization being thrown pretty regularly"
Running Concourse 3.0 with docker-compose , fresh deployment running https://github.com/pivotal-cf/pcf-pipelines ,  seeing this error regularly in the logs :

[code]

This started after an image pull volume creation timed out in my pipeline (not clear why):
[code]

* Concourse version: 3.0
* Deployment type (BOSH/Docker/binary): Docker
* Infrastructure/IaaS: Mac

No real impact on my usage, but fi

[2017-05-16 16:00] vito commented on #1045
Initial investigation into `overlay` has yielded no real surprises.

First I merged in the `overlay-driver` branch, then changed the `baggageclaim_ctl` in the BOSH release to use the `overlay` driver instead of `btrfs`. I then ran a build with a simple `get` and things worked. Next I ran a `hello-world` build which uses `image_resource`. The build failed with "invalid argument" trying to fetch the

[2017-05-16 16:03] svrc-pivotal commented on #1165
the Docker DNS server is always on 127.0.0.11.

What docker network are your containers connecting to?  It looks like for some reason your Docker embedded DNS is not starting up properly.   Do you have a customized /etc/hosts or /etc/resolv.conf ?

[2017-05-16 16:44] markalanrichards commented on #1165
I haven't modified any config files: it's the most basic install I could think of without customising anything. So brand new vms and just followed the instructions.

Also, if I start another container and run curl to http://registry-1.docker.io/v2/ and that works, suggesting it might be more specific to the concourse container.

I've tried it on two laptops too, on two different networks (I have t

[2017-05-16 17:30] jama-pivotal opened #1167 "Members of `main` should be able to see auth type & details of other teams"
# Feature Request

## What challenge are you facing?

As one of the administrators of a shared Concourse environment, I get a lot of requests for adding teams and changing the authentication of scheme of existing teams. Our organization predominantly uses GitHub team and individual auth. When I administer these teams; I have no way of identifying what Github individual or Github team a concourse t

[2017-05-16 18:03] vito commented on #1045
Looked into LCFS for a bit. I haven't made a POC as it looks like it'd be a bit of an investment, and I already have an initial set of concerns:

* It's a bit early on in the project for my liking.
* It requires a block device or a sparse file, just like `btrfs`. It at least doesn't require a loopback device for the sparse-file case. They do mention that using a file has a negative performance imp

[2017-05-16 18:44] vito commented on #932
Cross-referencing https://github.com/concourse/concourse/issues/534 as the new interface would also inherently fix this (metadata would come straight from `check`).

[2017-05-16 19:08] mariash commented on #932
We decided to store metadata on a resource_cache. So in the case when fetching resource results in using resource cache we will get metadata from resource cache. We still gonna keep it on versioned resource. First, old resource versions are not gonna have resource caches. Second, it will minimize the number of DB queries when requesting resource versions with their metadata (e.g. resource page).

[2017-05-16 20:08] clarafu commented on #1050
As I finished the encryption for team auth, I started looking into the encryption for resources and that lead to me finding radar to still be using some methods from the old db package. After talking with @vito, I'll move the methods over to dbng and only do the encryption from within dbng even for resource type, job and pipeline configs. (Meaning we will move over any methods to dbng that need en

[2017-05-16 21:37] vito commented on #1045
Starting with some performance testing between `btrfs` and `overlay`. Configured two workers: one with `overlay`, one with `btrfs`, and a pipeline that runs the two jobs against both: one job that builds the `atc-ci` image (i.e. [this job](https://ci.concourse.ci/teams/main/pipelines/images/jobs/build-atc-ci)), and another that builds the `git` resource image and then runs its integration tests (i

[2017-05-16 22:24] databus23 opened #1168 "resource name with a slash makes resource page inaccessible"
Giving a resource a name that contains a slash makes the resource page inaccessible. Apart from that the `/` Doesn't seem to cause any issues.

E.g.:
![image](https://cloud.githubusercontent.com/assets/439223/26130799/c338018a-3a96-11e7-87ee-37305fe66deb.png)

The link generated for this resource is `$EXTERNAL_URL/teams/main/pipelines/$PIPELINE/resources/gcr.io/google_containers/pause-amd64` and i

[2017-05-17 04:51] tom-meyer commented on #1161
I reproduced it 3 or 4 times in a row. I'm sure there wasn't a key down, and there was no input piped in to the command.

To resolve this, I deleted the target from the `.flyrc` file, did a `fly login -c` to re-establish the target with a new login token, and after that fly commands executed normally.

[2017-05-17 07:48] drahnr opened #1169 "badges are not update on github due to caching"
# Feature Request

## What challenge are you facing?

Github caches the badges thus the project status is not displaye correctly.

## A Modest Proposal

https://github.com/github/markup/issues/224

According to the above, it is possible for the service to set some http tags to prevent caching without further implications.

The following can also be handy:

* Concourse version: 3.0.0
* Deployment t

[2017-05-17 09:14] drahnr opened #1170 "Docker image down and upload takes "forever""
# Bug Report

* Concourse version: 3.0.0
* Deployment type (BOSH/Docker/binary): Docker (both worker and atc)
* Infrastructure/IaaS: CoreOS (ATC) + Fedora(worker)

The followin setup maxes out 25mbit/s downstream and 2mbit/s upstream for almost an hour before this container completes. This equals 11 GB (!!, makes no sense at all) of data transfer in 900 MB up (makes sense)

[code]

[2017-05-17 09:16] drahnr commented on #1170
[![builds.png](https://s4.postimg.org/uw2inbbml/builds.png)](https://postimg.org/image/6fkcsuavt/)
[![networksaturation.png](https://s18.postimg.org/qkwbn30g9/networksaturation.png)](https://postimg.org/image/amnlwy685/)

[2017-05-17 09:33] drahnr commented on #1170
Just for comparision with an docker pull:

[code]
11 minutes

[2017-05-17 09:41] drahnr commented on #1170
Note that this happens especially if there is an overlap of down or uploads, no matter if it is being completed or manually aborted.

[2017-05-17 14:08] vito commented on #1170
Can you check if `btrfs` is available on your platform? `grep btrfs /proc/filesystems`

If not, Concourse will fall back on a super naive volume driver (i.e. `cp -r`). This will be very inefficient.

#1045 may fix this if so.

[2017-05-17 14:37] vito opened #1171 "BaggageClaim response header timeout is too low"
Creating a volume can take a while, and our current timeout of 60 seconds seems too short.

The error:

[code]

Here are the logs corresponding to this request:

[code]

The logs show that namespacing can take a while, which is no big surprise, as that entails doing a recursive `chmod`/`chown`.

The timeout is just to protect against a completely locked up BaggageClaim, so it doesn't have to be so

[2017-05-17 15:00] vito commented on #1045
In running tests overnight, I initially saw that `btrfs` was constantly slightly slower:

https://snapshot.raintank.io/dashboard/snapshot/8ZgvXLZoxswdMElcR3WXWmSBji2J7Ow8

Seeing that this probably won't change overnight, I then upped the ante and had the `atc-ci` job run three `put`s in parallel, simulating more load.

This showed a more pronounced performance difference:

https://snapshot.rainta

[2017-05-17 15:28] vito commented on #1045
We could mitigate the slow namespacing by keeping privileged and unprivileged versions of these resource caches. Then it would only affect the first fetch. The downside would be doubled disk use.

Looking in to how Docker doesn't have this issue, they have the advantage of not having data at rest that they then need to namespace. They fetch images from the registry, knowing whether their container

[2017-05-17 16:15] drahnr commented on #1170
on the atc it is not available (CoreOS)
the workers are Fedora based and have btrfs available

[2017-05-17 17:54] drywheat commented on #338
I think, realistically, you'll have to support LDAP in order to gain market share with large organizations that leverage AD, SimpleAD or OpenLDAP to handle their user management.

Is there any movement here? I inspected the PT story and didn't see any change in state.

[2017-05-17 18:40] vito opened #1172 "Multi-branch workflows"
# Feature Request

## What challenge are you facing?

When working on a project with parallel tracks of work, it does not intuitively make sense to integrate them into one single pipeline. Conceptually, a single pipeline is operating on versions of something going towards the same goal.

Pipelines are sort of the "top" of the Concourse level of semantics, so this raises the question of where I go

[2017-05-17 19:02] chendrix commented on #1154
I've labeled the issue, we will reference it when we look at error states.

[2017-05-17 19:02] #1154 closed

[2017-05-17 21:01] chendrix commented on #967
@petemounce is this still an issue? Have you seen this again?

[2017-05-17 21:24] mattskone opened #1173 ""Hello World" example fails with docker-compose.yml version 3"
Steps to reproduce:
1. Spin up an instance of Concourse in Docker following the [instructions for using the Docker Repsitory](https://concourse.ci/docker-repository.html).
1. Follow the ["Hello, world!" example instructions](https://concourse.ci/hello-world.html), ending with the step "Click the job and then press the [+] button in the top right."

Expected behavior: The task boots up, prints Hell

[2017-05-17 21:31] jfmyers9 opened #1174 "Large amount of logs from scanning s3 resource"
# Bug Report
* Concourse version: 3.0.0
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: GCP
* Browser (if applicable): N/A
* Did this used to work?
Yes?

[code]
This single log line `atc.syncer.main:radar.scan-resource.tick.versions-found` is taking up the vast majority of the logs on the atc and is causing log rotation to occur very quickly. As seen above, in a 39M log file, t

[2017-05-17 21:36] #116 closed

[2017-05-17 22:01] vito commented on #1045
Even aside from the timeout (which I bumped to 5 minutes to continue testing), the inflated disk use and slowness due to copying really makes this look bad. It effectively places a tax on unprivileged `tasks`, as all their inputs including their image will likely point to a privileged volume, as all resources are privileged.

They're privileged for one silly reason: the `docker-image` resource nee

[2017-05-17 22:22] mariash opened #1175 "When radar checks for a resource using a custom type, it should ensure that custom type has versions"
Resource type versions are checked every 30s. If resource type just created and build started before these 30s the build will fail to fetch resource, cause there is no version for custom resource type yet.

[2017-05-17 22:41] petemounce commented on #967
I haven't tried with a version later than 2.7.0. It was certainly an issue with that version.

[2017-05-17 22:42] petemounce commented on #965
Going to assume from lack of response the answer is "no". If that's wrong, please feel free to reopen.

[2017-05-17 22:42] #965 closed

[2017-05-17 23:46] mariash commented on #1166
The database error is benign. It just means the garbage collector could not delete the container cause there is a volume that is using that container. So volume should be deleted first by volume garbage collector. Since they run independently from each other one can fail cause of existing dependencies.

There is an issue for response timeout error https://github.com/concourse/concourse/issues/1171

[2017-05-17 23:53] chendrix opened #1176 "Generic version-filter on resources"
# Feature Request

## What challenge are you facing?

concourse/github-release-resource#45
concourse/bosh-io-release-resource#12
concourse/github-release-resource#38

As seen in at least the three stories above, there sometimes exists the need/desire to only want versions that match some kind of filter to continue along in your pipeline.

## A Modest Proposal

We should introduce a generic version

[2017-05-18 00:57] #1173 closed

[2017-05-18 00:58] andrewedstrom commented on #1173
Looks like we forgot to add the `CONCOURSE_GARDEN_DNS_SERVER` entry

https://gist.github.com/colthreepv/6b818cfcf296dc1b5c2cf15eb76a140e#gistcomment-1953756

[2017-05-18 15:10] vito commented on #1045
Wrote up an `aufs` driver and deployed it alongside `overlay` and `btrfs. It's not looking good. The `git` integration tests fail like so:

[code]

I recall this being a peculiar bug with `aufs` with user namespaces. Here's some context including a workaround that I really don't want to implement: https://github.com/cloudfoundry-attic/garden-linux/commit/f6bb305a1ecb499009f6cf215e6bc7575c309d7d

H

[2017-05-18 15:39] vito commented on #1045
Moving beyond that failure, I went ahead and tested the `atc-ci` job and Strabo. The `atc-ci` job performs around the same as `overlay` (slightly faster but I didn't bother collecting enough data points). Strabo demonstrates the same problems as `overlay`. So there's really no reason to continue investigating `aufs` as it only introduces more trouble (not available in kernel, has permissions bug m

[2017-05-18 16:32] carlo-colombo opened #1177 "Impossible to go into detail view of a job if name contains '/'"
Hi there!

Trying to open the details of job named `send /start` the url change to `http://192.168.100.4:8080/teams/main/pipelines/ttp/jobs/send%20/start` but the view don't change and stays in the home of the pipeline.
![screen shot 2017-05-18 at 5 29 38 pm](https://cloud.githubusercontent.com/assets/505826/26213182/feafcf5e-3bef-11e7-9c9a-d714e79b8d67.png)

* Concourse version: 3.0.1 / 2.7.3
* D

[2017-05-18 17:32] pdelagrave commented on #1177
Have you tried escaping the slash `%2f` ?

[2017-05-18 17:37] chendrix opened #1178 "cannot rename resource type using custom resource type"
# Bug Report

[code]

This was the workaround we told people to use in concourse/docker-image-resource#101

It doesn't work, it hangs on "finding new versions" and the logs show

[code]

* Concourse version: 3.0.1

[2017-05-18 17:40] chendrix commented on #1178
If you need a workaround in the meantime, if you don't rename an existing base resource type, it works.

[code]

[2017-05-18 17:48] pdelagrave opened #1179 "As a UI user, I would like to have a visual feedback on which pipeline I'm currently looking at"
## Feature Request
### What challenge are you facing?
It is not obvious for the user to know which pipeline is currently displayed.

Upon selecting a pipeline in the left side list, the pipeline is displayed in the right center section and then there's no more indication of which pipeline you actually chose.

This is especially annoying when you have tens of pipelines that have relatively similar

[2017-05-18 18:10] chendrix commented on #1179
Closing as same as #295

[2017-05-18 18:10] #1179 closed

[2017-05-18 18:19] vito opened #1180 "Cannot run 'web' node on Windows due to "unsupported type" error"
# Bug Report

Running a build on Windows result in:

[code]

This is because our Windows worker built it with Go 1.7.x. We just need to bump that, re-build, and ship.

The following can also be handy:

* Concourse version: 3.0.0
* Deployment type (BOSH/Docker/binary): binary
* Infrastructure/IaaS: Windows (any IaaS)
* Browser (if applicable): n/a
* Did this used to work? yes

[2017-05-18 18:51] davcamer commented on #1143
Saw the same bright red error.

[2017-05-18 18:55] johnscancella opened #1181 "base resource not found error"
# Bug Report

I am trying to run my own pipeline, but keep getting the error "base resource type not found".
The pipeline is attached.

[bagit-java.yml.txt](https://github.com/concourse/concourse/files/1011982/bagit-java.yml.txt)

* Concourse version: 3.0.1
* Deployment type (BOSH/Docker/binary): binary
* Infrastructure/IaaS: Mac OS X Sierra (10.12.4) 8GB RAM, 1.7GH i7 processor
* Browser (if appl

[2017-05-18 20:40] chendrix commented on #1181
Can you please provide us a bit more information to help you debug this issue?

Screenshots, logs, etc.

[2017-05-18 20:59] vito commented on #1045
Started playing with making resources unprivileged (except `docker-image` - currently hardcoded).

The good news: strabo completes successfully!

The bad news: the first few builds error while fetching the resources.

The builds error with `Post /volumes: net/http: timeout awaiting response headers` on some/most of the `get` steps. This is even after bumping the timeout from 1 minute to 5 minutes,

[2017-05-18 22:03] baszalmstra commented on #1030
Any progress on this issue? Anything I can do to help? I would like to upgrade to 3.x but cant because of this issue.

[2017-05-19 00:45] #944 closed

[2017-05-19 08:13] carlo-colombo commented on #1177
I tried to encode the / both in the job name and in the address bar.
The job name does not decode (stay `send %2fstart`) and in the url the application get in a  loading state.

![screen shot 2017-05-19 at 9 10 32 am](https://cloud.githubusercontent.com/assets/505826/26239033/727397da-3c73-11e7-9497-77243ab84fcd.png)
![screen shot 2017-05-19 at 9 10 52 am](https://cloud.githubusercontent.com/asset

[2017-05-19 14:44] johnscancella commented on #1181
[web output.log.txt](https://github.com/concourse/concourse/files/1014596/web.output.log.txt)
[worker output.log.txt](https://github.com/concourse/concourse/files/1014602/worker.output.log.txt)
![screen shot 2017-05-19 at 10 41 18 am](https://cloud.githubusercontent.com/assets/8711605/26253080/1bd6fd7e-3c80-11e7-960b-d581470ef249.png)

[2017-05-19 15:22] vito commented on #1045
Late yesterday I completed the first step (converting a volume from privileged to unprivileged). This proved to work really well, as Strabo completed successfully right off the bat, and completed quicker than `btrfs`.

And now, I broke `btrfs`!

I let the `atc-ci` and `git` jobs run overnight to collect more data-points. This morning I also opted to run Strabo concurrent with it, which I'd never d

[2017-05-19 16:09] mxplusb commented on #533
@occelebi so to consume Docker resources on a Windows VM, we need to set up Docker on the host, correct?

[2017-05-19 16:44] chendrix commented on #1181
@johnscancella

Can you describe to me a bit about how you've set up concourse? How things are deployed, on what infrastructure, etc?

Do you have at least one linux worker in your concourse setup?

You must have a linux worker to be able to run resource containers on.

[2017-05-19 17:12] johnscancella commented on #1181
I am using a macbook air. I downloaded the binaries from the website and installed them by moving them to `/usr/local/bin`. I then installed postgres using homebrew and manually created the atc database as per the install instructions on the website. I generated new keys, again as per the install instructions.

No, it is just running locally on my macbook so it is just 1 darwin worker. But I am ru

[2017-05-19 17:39] johnscancella commented on #1181
Ok that makes sense. Thanks I will take a look and try to install it that way!

[2017-05-19 17:47] vito commented on #1045
Side note: recreated the `btrfs` worker and queued up more Strabo builds, since it would actually be nice to get the data from it, and it locked up again. Pretty easy to reproduce, it seems. Here are the metrics if anyone's interested. https://snapshot.raintank.io/dashboard/snapshot/qO3HJQtuzDN3sNMjRslVxGjpVhlv0Y35

Overlay's looking pretty solid. All builds succeeded and in good time, even with t

[2017-05-19 18:11] chendrix commented on #1172
One of the major reasons people ask for #413 is because they are using the PR resource and it does not currently play well with "spatial" versions.

[2017-05-19 21:34] vito opened #1182 "Dialing Postgres should have a reasonable time out"
This stack dump shows goroutines hanging trying to dial Postgres: https://gist.githubusercontent.com/vito/559fae59677b57a265be22600c101779/raw/83a797db4059413f304a847a98682af6c2882fea/web-1-dump.log

We should have a dial timeout of some reasonable number like 5 minutes.

ref. https://github.com/concourse/wings.concourse.ci/issues/6

[2017-05-19 21:35] vito opened #1183 "Metrics for tracking goroutines stuck in "IO wait" for a long time"
This would reveal when things are stuck, possibly in critical paths which can lead to deadlocks.

ref. https://github.com/concourse/wings.concourse.ci/issues/6

[2017-05-19 21:39] mariash opened #1184 "Clearing up ATC code"
The goal of this issue:

* improve code maintainability
* improve code readability
* come up with a clear definition for different subjects in the code, what they represent and how they interact with each other with clear responsibilities and interface
* come up with documentation plan for core ATC functionality
* community should feel empowered in making pool requests to ATC

## Come up with core

[2017-05-19 21:55] vito commented on #1045
The work for this in BaggageClaim is done and pushed to https://github.com/concourse/baggageclaim/tree/overlay-driver

It should be backwards-compatible, but I'll hold off on merging it until the ATC side is done and we've fully validated the need for the changes. BaggageClaim does not change very often so having a branch is low risk.

The ATC side of things is very hacky and WIPy in every way. Th

[2017-05-19 23:43] chendrix commented on #1165
@markalanrichards Is this not the same as #1145

[2017-05-19 23:47] chendrix commented on #928
Hi there,

This looks to me like it's a BOSH issue, not a concourse issue. I'm going to close this issue here, please reach out to the BOSH teams on [slack](https://slack.cloudfoundry.org/) or [open an issue](https://github.com/cloudfoundry/bosh/issues/new)

[2017-05-19 23:47] #928 closed

[2017-05-19 23:49] chendrix commented on #786
Hi there,

The bosh-deployment-resource has officially been deprecated in favor of the [cloudfoundry/bosh-deployment-resource](https://github.com/cloudfoundry/bosh-deployment-resource)

It looks like they've created an `in`.

Thanks again for your time.

[2017-05-19 23:49] #786 closed

[2017-05-19 23:52] #549 closed

[2017-05-19 23:59] chendrix commented on #737
@vito is this another instance of the btrfs bug? #1045

[2017-05-20 00:02] chendrix commented on #794
@vito another btrfs issue? #1045

[2017-05-20 00:05] #964 closed

[2017-05-20 00:08] chendrix commented on #894
@devdavidkarlsson have you been able to look at this issue again recently?

[2017-05-20 00:26] chendrix commented on #920
@devdavidkarlsson is this still an issue?

[2017-05-20 00:30] chendrix commented on #783
Looks like something also desired in #903

[2017-05-20 00:37] chendrix commented on #922
@jlndk I believe this is the same as #1145 ?

[2017-05-20 00:41] chendrix commented on #918
@zachgersh could this be something that someone writes a bosh release to do? :)

As a general rule this seems like an [duplicate-effort Anti-Pattern](https://github.com/concourse/concourse/wiki/Anti-Patterns#duplicate-effort)

[2017-05-20 00:49] chendrix commented on #975
The docker image is provided as-is and we do not support people building the docker image from scratch.

This seems like a nice-to-have but one that we are unlikely to ever get to.

[2017-05-20 04:13] jtarchie commented on #413
@tsantero, there are [contributing](https://github.com/concourse/concourse/blob/master/CONTRIBUTING.md) guidelines.

[2017-05-20 08:23] markalanrichards commented on #1165
@chendrix I'm not sure.
It seems my concourse cannot do anything, it cannot even download docker images.
Whilst #1145 seems to suggest that it only affects local resolution (unless I'm reading it wrong) not internet resolution.
Maybe the recently added https://github.com/concourse/concourse/commit/5aaf83365d3ceee04c6a4a46020c873c99e8afdd will help: I'll give it a go.

[2017-05-20 08:55] markalanrichards commented on #1165
That seems to have helped!

[2017-05-20 08:55] #1165 closed

[2017-05-20 09:10] hgollaEMC opened #1187 "How to get X509 certificates working with S3 compatible resource?"
Hi there!

Please pick the appropriate section (Feature Request or Bug Report) and delete the rest of this. Note that "missing support for X" is a feature request, not a bug!

# Feature Request

## What challenge are you facing?

Rather than jumping to a solution, describe the problem you're facing, and provide context. It helps us more to understand your problem first. This way we may be able to

[2017-05-20 10:30] markalanrichards opened #1188 "task.config.image isn't working for me"
# Bug Report

Bug reports are pretty free-form; just replace this with whatever. If applicable, though, please include steps to reproduce. Help us help you!

The following can also be handy:

* Concourse version: v3.0.1
* Deployment type (BOSH/Docker/binary): docker-compose
* Infrastructure/IaaS: Ubuntu 16:04 vm, docker-compose up
* Browser (if applicable): Firefox
* Did this used to work? Yes

I

[2017-05-20 11:08] occelebi commented on #533
@mxplusb yes as far as I know you need to set up docker on the host. However as vito mentioned

So if you want to fetch some image from any docker registry you would need at least one linux worker to download that image and stream over to Windows host. Then you can run that image on Windows as container.

[2017-05-20 12:11] vito commented on #794
Yep looks like it.

[2017-05-20 12:11] #794 closed

[2017-05-20 12:14] vito commented on #737
Could be. A bit hard to tell since I don't think the usual btrfs issue is
recoverable, but maybe it's some variant.

On Fri, May 19, 2017, 7:59 PM Chris Hendrix <notifications@github.com>
wrote:

[2017-05-20 22:56] markalanrichards commented on #1188
After bashing my head I realised that it needed to be task.image; unless an error message would help avoid this, I doubt this is a priority to improve.

[2017-05-20 22:56] #1188 closed

[2017-05-21 12:25] marco-m opened #1191 "VM as image_resource ?"
## What challenge are you facing?

I am investigating concourse (after having used for years buildbot, Jenkins, GoCD) and I have to say the more I understand the "concourse philosophy" (which sadly is not documented) the more I am full of admiration for something really done right.

Although I am a Unix person, I have to deal with products written in C or C++, that need to be built and tested nati

[2017-05-22 03:51] psellars-hyprnz commented on #881
@jasonamyers - I had the same issue. Setting the `"privileged": true` task definition parameter solved the issue for me. In the Docker documentation the worker has privileged mode, guessing this is the reason why.

[2017-05-22 04:25] chendrix commented on #1187
Hi there, this question may be better suited for answering in [slack](https://slack.concourse.ci)

[2017-05-22 14:41] pfeodrippe opened #1192 "[Creating Resource] Differences between bash and out scripts"
# Bug Report

* **Concourse version:** 3.0.1
* **Deployment type (BOSH/Docker/binary):** Docker using kubernetes from helm charts with the command ```helm install --name concourse stable/concourse --set imageTag="3.0.1"```
* **Infrastructure/IaaS:** AWS/Kubernetes (using kops)
* **Did this used to work?** Not as a concourse resource

You can check the scripts [here](https://gist.github.com/pfeodri

[2017-05-22 18:41] kevinzurek opened #1193 "Concourse team creation in Bosh manifest"
Hi there!

# Feature Request

## What challenge are you facing?

It seems I am not able to manage Concourse teams and their associated GitHub authentication rules in a Bosh manifest. I believe I am only able to authenticate GitHub users/teams to the "main" Concourse team.

If i was able to do this in the manifest I would be able to use version control to manage it.

## A Modest Proposal

Allow use

[2017-05-23 01:13] richarddowner commented on #973
Also having this problem

[2017-05-23 02:17] richarddowner commented on #780
Hi I am still getting these errors.

https://cicd-myapp.company-test.com/api/v1/teams/test/auth/methods
`[{"type":"oauth","display_name":"GitHub","auth_url":"https://cicd-myapp.company-support.com/auth/github?team_name=test"}]`

The third request fails.
1. ` github?team_name=test&redirect=/` returns 307
2. `authorize?client_id=xxxxxxxx....` returns 302
3. `callback?code=xxxxxxx&state=xxxxxx` retur

[2017-05-23 07:33] mbjelac opened #1194 "failed-to-find-created-volume-in-baggageclaim"
# Bug Report

* Concourse version: 3.0.1
* Deployment type (BOSH/Docker/binary): Docker
* Infrastructure/IaaS:
    privately hosted virtual machine:
[code]
* Browser (if applicable): Chrome 58.0.3029.110 (64-bit)
* Did this used to work? - Yes!

Error on checking resource ("checking failed"):
[code]

This is an error on *all* types of resources (I currently use git and maven).

Possibly related is

[2017-05-23 08:11] ese commented on #1194
I get this situation some times when reboot my wokers with 3.0.0

[2017-05-23 09:49] vChrisR opened #1196 "UAA oAuth redirects to 127.0.0.1"
# Bug Report

When logging in to a team configured to authenticate against UAA the fly cli returns a url for the user to get a token. The url looks like this: https://ci.domain.com/auth/uaa?team_name=myteam&fly_local_port=38281

When I use that URL I'm can login to UAA but then I get redirected to 127.0.0.1 which is local machine which obviously doesn't give me a token. The token is displayed in t

[2017-05-23 12:32] mbjelac commented on #1194
I couldn't wait for the feedback on my question, had to restart.

But wait, it isn't that easy!

I tried:

- restart worker container
- destroy + add pipeline
- stopping all Con containers + restarting all (docker-compose down + up)

None of that worked.

Then:

- stopping worker container, removing its volume data, restart: worked, but workers stalled
- pruning stalled workers

Success at last!

[2017-05-23 13:21] joharohl commented on #925
Just to chime in that I'm seeing the same problems. No issue until a few weeks ago and very intermittent. Also to bitbucket.org.

Running 2.7.3.

Any troubleshooting and/or feedback you need, just let me know.

[2017-05-23 13:32] timrchavez commented on #230
:+1: Having this would win over many developers where I work. It's one of the loudest complaints we have.

[2017-05-23 14:30] geofffranks opened #1197 "post-stemcell-upgrade, workers are 'stalled' and not working properly"
# Bug Report

* Concourse version: 3.0.1
* Deployment type (BOSH/Docker/binary):  BOSH
* Infrastructure/IaaS: vSphere
* Browser (if applicable): Any
* Did this used to work? yes

I added a new pipeline to my Concourse last night, which was working fine. This morning, we did a BOSH deploy to update stemcells. My pipeline now has orange inputs for its resources, indicating things like `Get http://12

[2017-05-23 14:57] vito commented on #1194
Are your workers coming back under the same name after having all volumes/containers destroyed? That'll throw a wrench into the gears at the moment, as Concourse expects the name of a worker to match its lifecycle, and the ATC doesn't deal well with containers and volumes that we know we created before disappearing out from under it.

[2017-05-23 17:17] chendrix commented on #780
@richarddowner I don't think that's the same issue as this one ended up being. You don't have an auth URL that lacks a TLD.

[2017-05-23 17:47] mariash commented on #1183
It looks like the golang does not expose any API to get goroutines information to nicely filter based on IO wait and how long they are in there. So it seems the only way to do this is to get pprof output and parse it. Similar to https://github.com/golang/go/blob/62956897c1743ee7e79895496180f84432f21d0a/src/net/http/pprof/pprof.go#L199.

[2017-05-23 18:06] wjk940 opened #1199 "possible error in logic to wait for database to start"
# Bug Report

BOSH reported deployment failed because ATC failed to start. By the time I ssh'd into web/0 to look at the logs, I think Postgres had come up. Following artifacts...

BillK

[code]

The following can also be handy:

* Concourse version: 3.0.1
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: vSphere
* Browser (if applicable): n/a
* Did this used to work? yes - in 2.

[2017-05-23 18:22] chendrix commented on #1196
@vChrisR what did you set up your auth callback in UAA to?

Did you set up your client correctly by following the [UAA Auth docs](http://concourse.ci/teams.html#uaa-cf-auth)?

[2017-05-23 18:23] chendrix commented on #1192
Hi there, we were able to fix this issue after talking in slack.

Looks like `deis config:set` changes to take in a file descriptor if the script is called with something on stdin.

Be wary of commands that need stdin inside of resources, and if you ever come to one, you can give the bad command a "fake" stdin by piping `< /dev/null` to it.

[2017-05-23 18:23] #1192 closed

[2017-05-23 18:28] #1166 closed

[2017-05-23 18:40] pfeodrippe commented on #1192
I was adressed by @chendrix at slack and the solution was to use `deis config:push -a $app -p $env_to_be_pushed < /dev/null` instead of `deis config:push -a $app -p $env_to_be_pushed`

[2017-05-23 18:43] vito commented on #1182
Make sure we retry connecting on timeout. We have a retryable connection driver, just make sure it handles this class of failure.

[2017-05-23 18:54] vito commented on #1158
Note: this should only affect folks running a binary-only setup on OS X. Running Docker technically runs it in a Linux VM.

[2017-05-23 19:05] vito opened #1200 "How do you use `set-pipeline`?"
Currently `set-pipeline` is manually invoked by a user to submit a pipeline config from their local machine. This is great for rapid iteration, but also goes against a Concourse principle of having versioned, persistent, reproducible config.

Are you still using `set-pipeline` manually? Have you written scripts to automate it? Are you continuously configuring it using something like the [Concourse

[2017-05-23 19:09] vito opened #1201 "Aggregate issue: 'too many open files'"
Please provide:

* Which component is emitting this?
* What files are open? (`lsof -p <process id>`)
* Concourse version
* Deployment type (e.g. binary, Bosh, K8s, Docker)

[2017-05-23 19:11] vito opened #1202 "I should be able to control which artifacts a `put` receives"
In a build with many `get`s, `put`s, and/or `tasks`, even the simplest `put` can sometimes take a long time, as it may need to stream all the artifacts preceding it.

A simple fix would be having the ability to list the inputs a `put` actually needs. This should be backwards-compatible, and if omitted all artifacts should propagate to it, as it does today.

[2017-05-23 19:15] vito commented on #1051
We should also allow transitioning from encrypted to plaintext by providing a "read" key and no "active" key.

[2017-05-23 19:17] vito commented on #1050
Let's start with pre-emptive encryption, i.e. encrypt once the key is configured, rather than doing it only as we perform writes.

[2017-05-23 19:39] clarafu commented on #1050
Currently, one of the two objects (EncryptionKey and NoEncryption in dbng) are injected into each object (team, pipeline, job, resource, resource type) in atccmd. They are injected depending on if the encryption key flag was passed to atc.

[2017-05-23 20:15] marco-m commented on #1200
I am investigating Concourse since a week, with the idea of replacing a Jenkins deployment. The question you are asking is one of the main questions I had. I plan to use scripts and salt-stack exactly for reproducibility. I read about the pipeline resource and I want to investigate it more. Another question I had is why we need to specify the pipeline name in the command line, why not having the p

[2017-05-23 20:19] vito commented on #1197
This likely happened because you performed a parallel deploy with only one TSA.

If all TSAs unreachable during worker draining, the drain exits early without performing the "retire" worker lifecycle: https://github.com/concourse/groundcrew/commit/ad4de166f42b9fa19a6f207fdd5541909fd132bb

This is to avoid having the cluster enter into an unrecoverable state when rotating worker keys, which would l

[2017-05-23 20:35] vito commented on #1171
Note that this change is only necessary for `worker/`. It looks like `gcng/` sets one there, too, and that one can (and should) stay as 1 minute, as the critical factor is to just not lock up garbage collection.

[2017-05-23 20:50] chendrix commented on #1053
This is if you're using RDS as an external postgres store?

This sounds like a nice-to-have, but probably not something the Concourse team will ever prioritize. There are a possibly-infinite series of configurations of external service dependencies, and we do not want to increase the surface area of Concourse to accommodate that.

This seems to fit pretty naturally in [antipattern: duplicate effor

[2017-05-23 20:50] #1053 closed

[2017-05-23 20:54] chendrix commented on #1125
from @nichegriffy

[2017-05-23 20:54] #1125 closed

[2017-05-23 20:59] #1061 closed

[2017-05-23 21:01] #1058 closed

[2017-05-23 21:01] chendrix commented on #1058
closed as duplicate of #1159

[2017-05-23 21:13] vito commented on #1200
@marco-m The name is not in the `.yml` so that you can use a single pipeline template to configure differently-parameterized and thus differently-named pipelines.

[2017-05-23 21:15] chendrix commented on #977
@ljfranklin have you looked at the way that the https://github.com/concourse/semver-resource exposes what look like "drivers"?

[2017-05-23 21:41] mariash commented on #1182
Our hanging server we used for testing:
[code]

[2017-05-23 21:41] chendrix commented on #748
@cjcjameson have you verified this in the latest versions of concourse 3.0+?

[2017-05-23 22:41] chendrix commented on #756
Closing as duplicate of #1131

[2017-05-23 22:41] #756 closed

[2017-05-23 22:42] chendrix commented on #89
Similar to #1131

[2017-05-23 22:44] #500 closed

[2017-05-23 22:44] chendrix commented on #639
Similar to #1131

[2017-05-23 22:46] chendrix commented on #1168
closing as duplicate of #751

[2017-05-23 22:46] #1168 closed

[2017-05-23 22:47] chendrix commented on #247
I'm closing this as it's been quite a while and I don't think given the new 3.0 we would even have the same surface area of a bug.

If anyone has a compelling reason to re-open it please do, with any new actionable information.

[2017-05-23 22:47] #247 closed

[2017-05-23 22:58] chendrix commented on #1066
closing as dupe of #1145

[2017-05-23 22:58] #1066 closed

[2017-05-23 22:59] #1060 closed

[2017-05-23 23:01] chendrix commented on #740
I think you're right that this is actually just a symptom of us not having all of the appropriate resource semantics. This is definitely related to #739 and #1172

[2017-05-23 23:01] #740 closed

[2017-05-23 23:17] #881 closed

[2017-05-23 23:23] #598 closed

[2017-05-23 23:24] #699 closed

[2017-05-23 23:26] chendrix commented on #734
Closing as it seems to be captured by #739

[2017-05-23 23:26] #734 closed

[2017-05-23 23:29] chendrix commented on #766
Closing as captured by #1127

[2017-05-23 23:29] #766 closed

[2017-05-23 23:34] chendrix commented on #791
Hopefully this can be included in #709

[2017-05-23 23:34] #791 closed

[2017-05-23 23:38] #1142 closed

[2017-05-23 23:45] chendrix commented on #1177
Closing as same as #751

[2017-05-23 23:45] #1177 closed

[2017-05-23 23:46] chendrix commented on #843
Closing as same as #751

[2017-05-23 23:46] #843 closed

[2017-05-23 23:47] #862 closed

[2017-05-23 23:53] #1102 closed

[2017-05-23 23:54] chendrix commented on #888
Are you using docker-compose or some other solution?

If so, are you running your workers as privileged, and what are the permissions on your worker-state directory?

[2017-05-24 00:26] chendrix commented on #545
needed-by #291

[2017-05-24 00:46] jtarchie commented on #766
First!

[2017-05-24 01:07] joshzarrabi opened #1205 "You should be able to turn off resource versions in the pipeline"
# Feature Request

## What challenge are you facing?

It seems weird and against the concourse pattern of configuration as code to be able to turn off versions in the UI.
You can not tell why or when that resource was turned off, and it is difficult to know if it will be safe to turn it back on.

## A Modest Proposal
A resource definition should have a `disabled_versions` attribute, that is a list

[2017-05-24 01:08] ljfranklin commented on #977
@chendrix gonna close this out as I didn't explain my question well. Question wasn't about the name of the parameters, it was around how Concourse assumes resources manage their own state and `check` should always know how to check for new versions. If I delegate state storage to Terraform rather than handling it directly, `check` will no longer be able to detect new versions. Honestly I don't min

[2017-05-24 01:08] #977 closed

[2017-05-24 06:22] ifraixedes commented on #1142
My apologies to ask you, but I haven't been able to find which is the reason which has closed the issue.
Could you provide me one?
Thanks

[2017-05-24 08:40] vChrisR commented on #1196
Yes I did. And authentication works fine. So I get redirected to UAA, Then redirected back to concourse but the last redirect that should show the actual token is a redirect to 127.0.0.1. As you can see in the code in atc/oauth_callback_handler.go on line 233 that ip (localhost) is hardcoded.

If I strip out the last part of the url (so just:  https://ci.domain.com/auth/uaa?team_name=myteam) it wo

[2017-05-24 09:20] crsimmons commented on #1199
+1
We are experiencing the same issue.

- Concourse version: 3.0.1 (also saw the issue on 3.0.0)
- Deployment type (BOSH/Docker/binary): BOSH
- Infrastructure/IaaS: vSphere
- Browser (if applicable): n/a
- Did this used to work? we are going to test on 2.7.* next

[code]

[2017-05-24 12:58] friegger commented on #1171
We also see this error message rather frequently since updating to 3.0.x. We could not find the above mentioned log outputs, though. Maybe the root cause is not the recursive `chmod/chown` in our case. We have a setup with workers in different infrastructures and not all are affected. Let us know if you need specific logs. Maybe increasing the timeout will just fix it.

[2017-05-24 13:05] mikfreedman opened #1206 "Bug Report: animation seems to be stuck flashing in the background!"
# Bug Report

We have the public [cf-release pipeline](https://runtime.ci.cf-app.com/pipelines/cf-release) displayed on an information radiator here in the office.

The machine sleeps every night, but safari had been running the page for a loooooooong time.

I have no real insight into what is deployed how because this is a public pipeline, but it was a weird thing to walk into this morning!

![fl

[2017-05-24 13:07] ahume opened #1207 "Can't see what pipeline I'm currently looking at in the UI"
# Feature Request

## What challenge are you facing?

Sometimes when looking at the UI, it's difficult to understand which pipeline you're looking at. This is particularly true if there are common job names across pipelines. E.g. we use concourse to schedule deployments across multiple environments. Each environment has its own pipeline, but when I'm looking at job `frontend`, the only way of tell

[2017-05-24 13:10] mikfreedman commented on #1206
Also, the GIF doesn't really do justice to the epileptic speed this was actually flashing at

[2017-05-24 13:22] Chumper commented on #1200
What about integrating seeding from a repository directly into concourse?

I would love to have the opportunity the state one or multiple repositories that concourse will then watch (or hook) and seed accordingly.
It doesn't need to have fancy diff mechanics, just the seeding would work fine.

That would make it easier to start with the correct "version everything" mindset.

[2017-05-24 13:24] geofffranks commented on #1197
Thanks, I'll give those both a shot. Should the example manifest on concourse.ci be updated for these changes so others don't run into the issues down the road?

[2017-05-24 13:51] friegger opened #1208 "`fly execute` does not work, when only tagged workers are available"
Re-opened from concourse/archive-resource#7

Still getting `no workers satisfying: resource type 'archive'`, if only tagged workers are available. Tested with fly `3.0.1` with `--tag=<worker-tag>`.

[2017-05-24 15:36] vito commented on #1045
The work in the ATC is now theoretically done. It creates a mount point at `/scratch`, allows base resource types to declare themselves as `privileged`, and allows custom resource types in a pipeline to configure `privileged`. Resource will now otherwise default to unprivileged.

Remaining loose ends:

* [ ] Change the Docker Image resource to point to `/scratch/docker`
* [ ] Change the binary dis

[2017-05-24 16:45] mariash commented on #932
looking at logs we do pass metadata to build event:
[code]
but it is not saved in build event for some reason

[2017-05-24 16:55] chendrix commented on #1208
@friegger are your tagged workers all windows/macOS binaries?

Can you describe a bit of how your concourse deployment looks?

[2017-05-24 16:59] chendrix commented on #1142
This was closed because it's not a development priority for us. It seems like you know the surface area of the issue well enough that maybe you could provide a PR for it?

Please see the [Contributing Guide](https://github.com/concourse/concourse/blob/master/CONTRIBUTING.md) if that interests you!

[2017-05-24 17:14] friegger commented on #1208
We have multiple infrastructures. Concourse itself, i.e. the web and db instance_groups, are running on one infrastructure without any workers. Then we have other infrastructures, where only tagged workers are running. Concourse and the workers are deployed with BOSH and run on a current ubuntu stemcell.
We have now deployed a single untagged worker on one of the infrastructures as a workaround.

[2017-05-24 17:51] vito commented on #1045
Bumped the worker version to 1.1 as the ATC now needs `(Volume).SetPrivileged`. The BaggageClaim changes are otherwise backwards-compatible, though, hence the minor bump and not major.

[2017-05-24 17:51] vito commented on #1045
Forgot to reference this issue, but the commit that flips the switch on this is here: https://github.com/concourse/concourse/commit/ddb6662b34ec4cd5eff81c3bba3b721e444646bf

The work in the binary still has to be done.

[2017-05-24 19:35] vito commented on #1045
Another caveat to all this is that `overlay` is only something we can use on kernels >= 4.0, as we make use of the 'multiple lower layers' feature.

[2017-05-24 19:55] pivotal-topher-bullock commented on #1182
Nice. Noticed you added it to the atc job's spec here 10a73fed9f3cc8cb81d68eea25f63ce006516498 good stuff!

Used the dummy server process on acceptance on my machine
👍

[2017-05-24 19:55] #1182 closed

[2017-05-24 21:18] geofffranks commented on #1149
+1

[2017-05-24 21:48] vito opened #1209 "Proposal: being able to temporarily expose information to another team"
# Feature Request

## What challenge are you facing?

When operating in a multi-tenant environment, there are times when one team with a private pipeline/job/etc. may want to request help from another team. A couple examples of this are:

1. I want to expose it to the admin team (`main`), to request support from the operators of the Concourse deployment, because my build completed in an interestin

[2017-05-24 23:29] mariash commented on #1163
Is this story blocked on btrfs exploration? https://github.com/concourse/concourse/issues/1045

[2017-05-24 23:30] mariash commented on #1163
Isn't the size going to change while volume is used?

[2017-05-25 02:55] jbraswell commented on #802
This is a major issue for me as well. I'm using v3.0.1. Would love to see a fix for this.

[2017-05-25 06:18] richarddowner commented on #780
Hi @chendrix, sorry i was referring to @pierrebeaucamp issue, I am seeing the exact same problem he has. And have confirmed @vito suggestion of making sure the ATC (concourse web instance??) can reach github.com

[2017-05-25 07:47] ifraixedes commented on #1142
That's I needed to know for being aware what happened with the issue and knowing that you could accept the mentioned change.

Many thanks!

[2017-05-25 11:04] JohannesRudolph commented on #230
We've had this same issue for a long time and it was very annoying until we came up with a non-intrusive caching strategy using a Task and two short scripts. I've wrapped it up as a sample repo here: https://github.com/Meshcloud/concourse-cached-pipeline

In any case, I'm curious about @vito 's plans to add this natively to Concourse and how and when we can expect this to happen.

[2017-05-25 13:38] clarafu commented on #1045
The binary has been updated to only choose `overlay` on kernel >= 4.0.

The `concourse worker` command will not require a recreate for this upgrade; it'll just stick with `btrfs`, as there will already be an existing `btrfs` mount point. (Note: we should validate this during acceptance.)

The BOSH release however will require a recreate of the workers. This is because the same autodetect logic is

[2017-05-25 13:43] pierrebeaucamp commented on #973
@richarddowner I'm glad that I'm not the only one having this problem. Unfortunately, we still couldn't resolve that from our end (We're currently running 3.0.1). I start to think that it might be a problem with our bosh, but I didn't have the time to redeploy a new bosh to see if the problem persists.

[2017-05-25 14:13] clarafu commented on #1045
We should make sure the Docker repository is able to use `overlay`. This may be as simple as adding a `VOLUME` pragma to the Dockerfile for the work dir.

[2017-05-25 14:58] ljfranklin commented on #534
@vito any rough estimates on timeline for this change? I've got some breaking changes I was thinking of making to Terraform resource down the line, would be nice to lump it in with the API changes described above.

[2017-05-25 15:09] bonzofenix commented on #1116
Where can I read more about concourse/atc#42? We would like to have a way to talk to concourse AP having basic auth and an oauth handler enabled too. Alternatively it would be nice to have a way to generate tokens.

[2017-05-25 16:08] pivotal-topher-bullock commented on #1152
Investigated more with @xtreme-gavin-enns and collected our findings here : https://github.com/concourse/paper-plane

**TLDR:** compiled releases ( via `bosh export-release`) aren't a hard requirement, but speed things up a lot. Pre-compiling the packages (#1006) would make the process a lot faster.. compiling golang, postgresql, tar, etc can take a lot of time.

[2017-05-25 16:12] derBroBro commented on #781
I had the same issue and for me the AntiVirus (sophos) blocked the /events url. Other concourse urls where not affected.

[2017-05-25 16:55] mariash commented on #1163
needs concourse/concourse#1045

[2017-05-25 17:44] clarafu commented on #1163
I don't think this'll need #1045 actually.

There should be some time where the volume isn't being written to anymore. Maybe this can be done at the end of `get`, `put`, and `task`?

[2017-05-25 19:22] xtreme-gavin-enns commented on #1152
yeah, it was like 3 min with pre-compiled releases (not including the cpi, iirc) versus about 10 without

[2017-05-25 19:39] cjaehnen opened #1212 "Non Vagrant, Standalone Concourse Running on MacOS getting error base resource type not found"
# Bug Report

When running a simple pipeline, hello world, that simply spins up a Ubuntu container and outputs "Hello World" to the console shell, I get this error in the web logs:

{"timestamp":"1495740672.352778673","source":"atc","message":"atc.syncer.hello-world:radar.scan-resource.lock.failed-to-get-lock","log_level":2,"data":{"error":"base resource type not found","pipeline-scoped-name":"hel

[2017-05-25 19:46] cjaehnen commented on #1212
I don't know if this is a bug or something that is missing configuration-wise

[2017-05-25 22:37] vito commented on #1045
We ended up pushing the driver detection and setup logic (i.e. btrfs loopback image wiring) down into BaggageClaim, and removing it from the binaries and BOSH release. This has the (very much intended) side effect of no longer requiring a worker recreate to upgrade - the BOSH release now defaults to `detect`, along with the binary, so they'll both just see an existing `btrfs` mount (as it was set

[2017-05-25 23:58] kdvolder commented on #875
I've also noticed that large logs tends to make the browser hosting the concourse ui unresponsive (as in the OS notices that the process is no longer responding to UI event-loop and greys out the window, for seconds at a time).

[2017-05-26 00:06] emcniece commented on #1194
Hit this as well, fortunately Rancher provides unique names for each container so the fix was to run Rancher's "upgrade" command which recreates the container with the same options.

Using a [Rancher catalog item](https://github.com/emcniece/rancher-catalog/tree/master/templates/concourse/1) for my setup.

[2017-05-26 07:08] mbjelac commented on #1194
Sorry for the late answer...
I don't think the workers have the same name ... here is the worker list:

[code]

After I prune the stalled ones, things recover.

This just happened after the partition for the worker state got filled to 100%.
I cleaned it and pruned the workers.

[2017-05-26 07:23] mbjelac commented on #1045
What release is that?

[2017-05-26 08:44] mbjelac commented on #1194
It happened again, but this time disk space is not the issue.

[code]

Here is the worker list:

[code]

The virtual machine hosting the docker that runs Concourse was rebooted (with `reboot`) about 20mins ago... Is there maybe an issue in stopping the concourse-worker container?

[2017-05-26 14:01] dmlemos opened #1213 "Include inputs/outputs in fly validate-pipeline"
# A Modest Proposal

When inputs/outputs are out of place, `fly validate-pipeline` should give a warning.

Given pipeline definition:
[code]

Both `inputs` and `outputs` must be inside `config` block :trollface:

Fly doesn't complain: :umbrella:
[code]

Thanks to @clarafu for helping out on the slack channel

[2017-05-26 14:37] mschirmacher opened #1214 "Allow for "soft triggering""
# Feature Request

## What challenge are you facing?

Consider a pipeline with a single git resource like:
[code]
Then we have a job with the step:
[code]

Later on the job would build an artifact for the version contained in `.version` uploads the artifact somewhere, increase the number contained in `.version` etc.
So far so good. You push your code changes pipeline is triggere. Works.

But now c

[2017-05-26 16:28] dgodd opened #1215 "Don't log "ERROR: update or delete on table "volumes" violates foreign key constraint" during happy path of GC"
# Bug Report

* Concourse version: 3.0.1
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: GCP (postgresql is GCP postgresql BETA)

We are seeing a lot of log messages on postgresql similar to

[code]

[2017-05-26 16:40] krishicks opened #1216 "Add debug info to step header"
There are times when I need to know more information about the environment that a task/step ran in.

For example, knowing which worker the task ran on would let me understand better why an `image_resource` that should have been cached was redownloaded; I'd be able to see which specific worker has downloaded a particular version and be able to investigate better why a particular worker redownloaded

[2017-05-26 16:57] andrewedstrom commented on #1199
This issue also seems to affect docker-compose users, even if the atc specifies `depends_on: [concourse-db]` in the docker-compose yml. The reason that the `depends_on` syntax only affects [the order in which the containers are started, not when they are "ready"](https://docs.docker.com/compose/startup-order/). This can lead to a situation in which the atc starts after the database but is ready be

[2017-05-26 19:11] p-manesh opened #1217 "Stalled worker in Concourse 3.0.1"
# Bug Report

When we moved a working pipeline from Concourse 2.7.2 to 3.0.1 several jobs fails with message
Post /volumes: net/http: timeout awaiting response headers

we are using three workers and one of the worker stalled [bosh shows all three workers as running]
name                                  containers  platform  tags  team  state    version
264987a4-1db7-4ac0-86a4-acb776e1f6c7  85

[2017-05-26 19:29] cjcjameson commented on #748
Hi there, yep good question, sorry no not yet. I agree that this is probably not an issue in the new architecture, from what I hear

[2017-05-26 20:59] geofffranks commented on #247
FWIW, I ran into this on concourse 3.0.1 today (4 times in the span of an hour). I upgraded from garden 1.1.1 to 1.6.0, and this seems to be resolved, though i also had to recreate all my workers after, as jobs were stuck in a 'pending' state and wouldn't even start. So, not sure if it was the upgrade that resolved `unknown handle`, or the worker recreation, or a combo.

Hope this helps anyone els

[2017-05-26 21:17] chendrix commented on #247
That is a very old garden version but I'm glad to hear it's been resolved!

Thanks!
Chris

On May 26, 2017, 1:59 PM -0700, Geoff Franks <notifications@github.com>, wrote:

[2017-05-26 21:40] cnelson opened #1218 "Significant increase in database utilization with Concourse 3.0"
Since upgrading to 3.0.0 (no change with 3.0.1) we've seen significant increase in the load on our postgres database.  Is this expected, a bug, or a misconfiguration on our end?

Concourse version: 3.0.1
Deployment type: BOSH
IaaS: AWS; 2 web instances, 5 worker instances;
Postgres: 9.6.2 (via RDS, not BOSH)
Usage/Sizing: 2 teams, 60 pipelines (a few of our pipelines run every few minutes so we ha

[2017-05-27 15:02] drahnr opened #1219 "hijack fails silently for unresponsive workers"
# Bug Report

fly -t ratpoison hijack --job oregano/build-pkg-rpm

list also images which are on currently unresponsive workers, and then fails silently if such a container is chosen.

The following can also be handy:

* Concourse version: 3.0.1
* Deployment type: docker/docker
* Infrastructure/IaaS: CoreOS/Fedora
* Did this used to work? No idea

[2017-05-27 15:05] #1219 closed

[2017-05-27 15:05] drahnr commented on #1219
Invalid, since I did not specify th shell `sh`

[2017-05-27 15:08] drahnr opened #1220 "When rebooting worker (offline for more than just a few minutes) not realized as the same identity"
# Bug Report

Reproduce: Use your laptop as a worker, enable and disable the service (no change in keys or anything) and see the list of unresponsive workers grow.

Since the server in question happens to be powered off by the last person leaving the room, this is quite annoying.

The following can also be handy:

* Concourse version: 3.0.1
* Deployment type: docker/docker
* Infrastructure/IaaS: C

[2017-05-27 19:59] marco-m commented on #1200
@vito Thanks for the explanation regarding the lack of pipeline name in the configuration file. Makes sense.

[2017-05-29 08:11] mbjelac opened #1222 "word-wrap job names on pipeline diagram"
# Feature Request

## What challenge are you facing?

When chaining multiple jobs with triggers and job-passing passing criteria, a pipeline can have 4 or more job "boxes" in its diagram. This means that for non-tutorial pipelines (i.e. real-world stuff), elements of the pipeline diagram are going to be shrunk to fit on the screen horizontally. When the boxes are shrunk, so is their font-size and

[2017-05-29 12:13] devdavidkarlsson opened #1223 "Failing to load long logs after updating to 3.0.1"
# Bug Report

Concourse seems to having a hard time loading long logs lately, I have recently updated from 2.7.3 to 3.0.1

The page takes a couple of minutes to load, then becomes "sluggish" and views part of the log... The tab later crashed, when I started to scroll as you can see.

These jobs have beens successful before....

<img width="536" alt="screen shot 2017-05-29 at 14 12 04" src="https:/

[2017-05-29 13:30] #1187 closed

[2017-05-29 14:26] clarafu commented on #1045
@mbjelac 3.1.0; the milestone attached to issues should answer that now

[2017-05-29 14:26] #1045 closed

[2017-05-29 14:26] #1171 closed

[2017-05-29 14:26] #1158 closed

[2017-05-29 14:27] #1178 closed

[2017-05-29 14:28] #1180 closed

[2017-05-29 14:29] #932 closed

[2017-05-29 15:54] fralalonde commented on #230
The cache needs to be per-worker to maximize locality, accessible concurrently and totally transparent to the jobs. I'm thinking of running a caching proxy on every worker node, and route any request to our Artifactory server through it. The jobs will still "download" every dependency on each run, but transfers will be from the local worker proxy and thus will never hit the wire after first access

[2017-05-29 17:10] henderjm commented on #1201
We saw this a couple of weeks ago, so going by memory
* Which component is emitting this?
  - ATC
* What files are open? (lsof -p <process id>)
  - Socket connections
* Concourse version
  - 2.6.0

Resolution:
1. We initially tried to fix this by bumping our ATC instances, this worked for about a day but ran into the error the next day.
1. So instead, we deployed a [ulimit-release](https://github.

[2017-05-29 17:27] clarafu opened #1224 "Speed up TopGun"
It currently takes 1h51m in our pipeline running against GCP. That ain't cool.

Let's try:

* Going beyond 4 nodes, by making IP allocation dynamic
* Hacking in async VM deletion via [`CPI_ASYNC_DELETE`](https://github.com/cloudfoundry-incubator/bosh-google-cpi-release/blob/e84f61b28ec0a98cff7f1628f7d930f598f939fc/src/bosh-google-cpi/google/instance_service/google_instance_service_delete.go#L11)

[2017-05-29 20:55] #1051 closed

[2017-05-29 20:55] #1050 closed

[2017-05-30 00:05] skyscooby commented on #1125
We did pinpoint this to something within our corporate AV solution.. we are using Sophos End Point Security on all machines which were having this problem.. Unsure if the ATC code is using something rarely used on the greater internet that might be tripping the software.. we stopped digging into exactly what technically was causing it when we found we could whitelist URL's from protection in the p

[2017-05-30 13:32] devdavidkarlsson commented on #813
How can one prune the volumes? fly -t my_target volumes prune? ;)

[2017-05-30 16:01] clarafu commented on #1224
Down to ~38 minutes!

[2017-05-30 16:01] #1224 closed

[2017-05-30 16:55] philicious commented on #1194
I'm having the same issue with the Vagrant based Concourse.
Any hints on how to recover would be appreciated

[2017-05-30 17:17] cnelson commented on #1218
FWIW we saw similar behavior to this issue https://github.com/concourse/concourse/issues/1223 before significantly scaling our database.  Due to the increased DB utilization API requests started taking multiple-seconds to respond which will end up eating all the available sockets in the web browser as the UI is constantly polling (they all eventually get stuck in a pending state) and the UI will e

[2017-05-30 20:53] vito commented on #1029
We started on a Gliffy diagram, but haven't integrated it anywhere.

We should do this in the concourse/concourse wiki and have that as part of the document.

[2017-05-30 20:57] mariash commented on #545
Some atc work was pushed to `yaml20` branch https://github.com/concourse/atc/tree/yaml20

[2017-05-30 21:10] chendrix opened #1225 "use pipeline resource for concourse production pipelines"
https://github.com/concourse/concourse-pipeline-resource

We should use the pipelines defined in our pipeline repo as the source of truth for our pipelines.

[2017-05-30 21:13] andrewedstrom opened #1226 "Refactor DBNG"
`dbng/pipeline.go` contains several methods which operate on "jobs" exclusively. We should move those over to `dbng/job.go`.

[2017-05-30 22:46] chendrix commented on #1212
@cjaehnen you cannot have a concourse binary deployment without at least one linux worker.

The macOS and windows worker binaries do not come with the base resources, and they also do not use a real containerization solution.

[2017-05-30 22:46] #1212 closed

[2017-05-30 23:42] andrewedstrom opened #1227 "Builds screen UI should update to show new builds that have been triggered"
# Feature Request

## What challenge are you facing?

When I am on the Builds screen for a particular job, I am not able to see builds that have started since I first loaded the page.

For example, in ci.concourse.ci, if I have the `atc` Builds screen open in two tabs A and B, when I trigger a new build in tab A, I am not able to see that this new build has started in the top bar of tab B.

## A M

[2017-05-30 23:44] andrewedstrom opened #1228 "Migrate flaky atc tests to testflight"
Some of our tests for the ATC fail randomly and inconsistently. We should move them to testflight in the hope that they will be less flaky

[2017-05-31 01:40] cjaehnen commented on #1212
So, I just need to download and run a Linux worker to make this function on macOS?

[2017-05-31 02:20] chendrix commented on #1212
Correct, you need at least one Linux worker talking to your web instance.

Sincerely,
Christopher Hendrix

On May 30, 2017, 6:40 PM -0700, Chris Jaehnen <notifications@github.com>, wrote:

[2017-05-31 04:54] norman-abramovitz opened #1229 "containers failing to start after upgrade to 3.1.0"
# Bug Report

After upgrading to 3.1.0 from 3.0.1 we are seeing the following error when running a task.

runc create: exit status 1: container_linux.go:264: starting container process caused "process_linux.go:339: container init caused \"rootfs_linux.go:57: mounting \\\"/var/vcap/data/baggageclaim/volumes/live/668a7846-5839-4b4a-7ff7-67d058144e90/volume\\\" to rootfs \\\"/var/vcap/data/garden/gra

[2017-05-31 06:29] ese opened #1230 "Resources failing in Kubernetes with Google Container-Optimized OS after upgrade to 3.1.0"
# Bug Report

* Concourse version: 3.1.0
* Deployment type (Docker):
* Infrastructure/IaaS: Kubernetes

After upgrade to 3.1.0 all git  and time resources are failing checks with:

[code]

Other resources seems to check fine

[2017-05-31 06:45] politician commented on #247
I'm getting `unknown handle` errors on the `navi-pipeline` tutorial.

1. Run everything using the Docker Compose method.
2. Work through to the end of the `navi-pipeline` tutoral.
3. Verify that it's printing something every 1 minute.
4. Over in your terminal, hit CTRL-C to gracefully shutdown the containers.
5. Restart with `docker-compose up`
6. Refresh your browser view; observe that "every-1m"

[2017-05-31 07:15] politician commented on #247
I'm also running into issues with the non-deterministic boot order reported in #1199, so it's possible that this is just a symptom of that.

[2017-05-31 08:35] devdavidkarlsson opened #1231 "volume issues on darwin worker regression in 3.0.1 or somewhere around that version"
# Bug Report

There appear to have been some regressions introduced in the latest versions.

My current workaround on my darwin workers is to change owner of the volumes folder:

    #update permissions:
    chmod -R 755 /opt/concourse/worker/volumes/live/
    sudo chown -R server:staff /opt/concourse/worker/volumes/live

If i dont do this, fastlane or whatever script i run on the workers during m

[2017-05-31 08:36] devdavidkarlsson commented on #1229
Could this be related to #1231

[2017-05-31 09:02] devdavidkarlsson commented on #1230
It appears that something has happened to how the permissions of the volumes are handled... related?  #1231

[2017-05-31 13:16] dmlemos opened #1232 "Integrate artefact storage"
# Motivation
At the heart of many pipelines is the building, storage and retrieval of artifacts.

Without an artifact repository, it is up to the developers to configure and decide where to store them. The setup usually ends up being on some IaaS storage account, for instance: `Amazon S3`, `Google Cloud Storage` or `Azure blob storage`. Unfortunately many times the repositories end up actually bei

[2017-05-31 14:08] norman-abramovitz commented on #1229
Thanks,  I will look into the permission/ownership changes you mentioned and will give feedback.

[2017-05-31 15:01] vito commented on #1229
Don't think this is related to #1231 as that issue is likely Darwin specific.

@norman-abramovitz Is this fixed by a recreate of the worker? It also seems extremely suspect that it's mounting into the Garden graph. Are you using `rootfs_uri` in your task config?

[2017-05-31 15:08] vito commented on #1231
I can't think of anything that would have caused this regression. We made it so you *can* run the Darwin binary as non-root, as that's sometimes necessary to e.g. interact with Xcode.

I have no idea what you mean by fastlane and why they wouldn't have permissions. Are they running as a different user than the binary? Are they doing a `su` or something?

You may want to just run the Darwin binary

[2017-05-31 15:39] norman-abramovitz commented on #1229
I am seeing incorrect owners

drwxr-xr-x 2 4294967294 4294967294 4096 May 15 17:44

Still working on seeing if I can get things work though.

[2017-05-31 17:47] #898 closed

[2017-05-31 17:48] benbotwin opened #1234 "Movements applied to a pipeline view is applied to all pipelines."
# Bug Report

* Concourse version: 3.1.0
* Deployment type: BOSH
* Infrastructure/IaaS: OpenStack
* Browser: Chrome
* Did this used to work? yes in 3.0.1

If you click and drag to move a pipeline around, the movement you applied doesn’t reset when you change the pipeline you’re looking at. The movement applied to the view of one pipeline is applied to all of them.

If I zoom way out of a pipeline

[2017-05-31 18:02] vito opened #1235 "Failing to log in with basic auth should show, like, something"
Right now it doesn't do anything.

[2017-05-31 18:07] chendrix commented on #89
needs #1131

[2017-05-31 18:07] #89 closed

[2017-05-31 18:07] chendrix commented on #639
needs #1131

[2017-05-31 18:08] #639 closed

[2017-05-31 18:08] chendrix commented on #639
Closing to consolidate

[2017-05-31 19:38] JohannesRudolph commented on #731
Reading the 3.1 release notes, I think this can be closed. Thanks!

[2017-05-31 20:30] erichelin opened #1236 "Can concourse deploy to aws?"
Not sure if this the best location, but I was curious if concourse can deploy to aws (probably elastic beanstalk)?  I did some research online and didn't find any definitive answer either way.  Currently, we use our concourse with cloud foundry.

[2017-05-31 21:05] gdamjan-h4 commented on #1004
AWS ELBs support HTTP/2 and also free certificates

[2017-05-31 21:07] gdamjan commented on #1004
AWS ELBs (the new style ALB) support HTTP/2 and also they give out free certificates.

but ok, nginx is also a solution

[2017-05-31 21:33] vito commented on #1230
Does a recreate of the worker, blowing away the volumes/worker state, fix this?

[2017-05-31 22:30] ese commented on #1230
@vito Recreate workers totally from scratch (volumes and all stuff) didn't help. We finally downgrade to 3.0.1

[2017-05-31 22:41] andrewedstrom opened #1237 "Git resource configurations specifying "url" instead of "uri" do not throw a validation error."
#1230  Bug Report

@zgagnon on slack had a resource configuration that looked like this:

[code]

The problem was that they needed to specify `uri` instead of `url`, however because we do not do any validation, they never got an error telling them what was wrong. Instead, they saw this seemingly unrelated error during their check step:

[code]

This error was thrown by the `git clone` in the [git-

[2017-05-31 23:03] norman-abramovitz commented on #1229
Yes, the pipeline is using rootfs_uri.   Upgraded to 3.1.1 and did a Bosh recreate workers.   Still seeing the error.   I will see if we can switch to image_resource

[2017-05-31 23:25] andrewedstrom commented on #1226
As part of this story, we're also going to attempt to completely kill off the db package once and for all.

[2017-06-01 02:51] Murryy79 commented on #764
I had same issue "checking job is not paused"

I destroyed that pipeline , and recreated.

worked after  that

[2017-06-01 04:25] robdimsdale commented on #1225
If the concourse team is interested, the concourse pipeline resource could probably use some updating - a significant amount of the `fly` codebase was vendored in quite some time ago, so not all new features are available, and updating isn't trivial. We might get some useful feedback on the ATC API too.

[2017-06-01 04:55] freelock commented on #1200
We use a bot that calls set-pipeline. Not sure how typical our setup is, but it's working well for us managing 60+ pipelines currently.

We have two pipeline yaml files that differ based on the platform being managed (we manage a lot of Drupal sites and a few WordPress sites -- we have a different pipeline per platform). All of the scripts and supporting tasks are in the same repo as our pipeline.

[2017-06-01 05:30] devdavidkarlsson commented on #1231
(For other's reference)

During ios development fastlane is just a cli for performing builds and related stuff. It is branch standard.
I am running as sudo, there is nothing in xcode that has any problems with running as a user with root priviledges.

However in the flow of installing pods for project (like npm for ios projects) and performing bundle install
 it is necessary to be a non root user,

[2017-06-01 07:40] mbjelac commented on #1194
Happened again... brushed under the carpet in the same way as before.

*Upgraded to 3.1.1.*

I'll continue to report the baggageclaim issue here if it reoccurs.

[2017-06-01 09:39] AdamDorwart commented on #1229
Also seeing the same issue in 3.1.1. Running with ATC in docker and seperate workers using binaries

[2017-06-01 10:08] bensullivan commented on #1229
We are seeing the permission denied error as well on 3.1.1 that we just deployed

[2017-06-01 10:25] marco-m commented on #1200
"We really want read-only and read-execute-only logins that do not have the ability to set a pipeline"

+1

[2017-06-01 12:38] drahnr opened #1238 "Infer from the pipline if a put resource needs to be pulled"
# Feature Request

## What challenge are you facing?

The problem is in a network constrained environment the `put` step is always followed by a pull.

Instead of always doing a `get` everytime after a `put`, the pipeline contains the information if the resource is used afterwards.

[2017-06-01 13:27] vito commented on #1229
@bensullivan Can you specify what image you're using for your rootfs? Or better yet, a pipeline or task that reproduces the error?

@julz Any pointers for that error? It looks like Garden-runC is failing to mount its own init binary in, maybe because of weird permissions on `/tmp`?

[2017-06-01 14:11] pivotal-topher-bullock commented on #1027
Considering pushing support for container cert mounting down to Garden ; cloudfoundry/guardian#83

[2017-06-01 14:25] norman-abramovitz commented on #1229
docker:///starkandwayne/concourse-go#1.7

[2017-06-01 14:44] clarafu commented on #1226
After some investigation, the only things left to move over are pipes and locks. Pipe methods will be moved to the team object and the intermediate lock methods are going to be replaced with calling Acquire on the lockFactory itself. The rest of the chore is to clean up code by moving db/lock, db/migrations and db/algorithm to dbng/ and to remove all usages of sqldb in the code.

[2017-06-01 15:28] DRuggeri commented on #1027
@vito, thinking more about the challenges you shared, it seems like it would be sane to use a combination of what @pivotal-topher-bullock mentions as well as a configurable param. Bear with me...

For concourse-owned resources that are compiled and distributed along with concourse (think: BOSH deployed stuff or just the downloaded binary), it's much easier to bind-mount a directory or just push th

[2017-06-01 16:00] jraqula commented on #428
:+1: BOSH would like to see more detail about which steps are taking longer than usual in our long test cycles.

[2017-06-01 17:56] norman-abramovitz commented on #1229
Switched over to use image_resource and Bosh restart workers finally worked on 3.1.1

rootfs_uri still fails

[2017-06-01 18:27] AdamDorwart commented on #1229
I've recreated my workers. ATC, and database. This issue is still plaguing my pipelines most of the time.

[2017-06-01 18:40] vito commented on #1236
Do you mean can concourse be deployed to AWS? If so, yes: http://concourse.ci/installing.html

Do you mean can concourse deploy something to AWS? If so, this would probably be done by a resource. Maybe https://github.com/pivotal-cf-experimental/cloudformation-resource ?

Concourse itself doesn't integrate with anything, it just supports resources, which provide a way to integrate with anything. If

[2017-06-01 18:40] #1236 closed

[2017-06-01 18:40] zaa opened #1239 "Failure to run a task using an image containing files with high user and group id"
Hi there!

# Bug Report

I am not sure if the issue should be filed with Concourse or Garden/Guardian project, but we first experienced it in Concourse, so I've decided to start here. Feel free to direct me to the correct venue.

## Problem

We have an image built using the following Dockerfile:

[code]

It turns out that if we try to run the following task in Concourse using the image above:

[co

[2017-06-01 18:42] vito commented on #1239
Can you run `cat /proc/self/uid_map` and `cat /proc/self/gid_map` on the worker container?

If you run the task with `privileged: true`, does it resolve the issue?

[2017-06-01 18:56] vito commented on #1232
Concourse should never be the source of truth for your assets. That goes against its principle of being an ephemeral tool that externalizes all dependencies. Pipelines should be self-contained and portable from Concourse to Concourse. Your production assets should not be lost when your CI system goes away.

I definitely see the need for better management of "intermediate" artifacts, and UX improve

[2017-06-01 19:22] zaa commented on #1239
Results of the uid_map and gid_map run:

[code]

Creating a pipeline and setting the task's `privileged` attribute to `true` did not help either.

[code]

[2017-06-01 21:40] vito commented on #1239
Might also be worth trying Concourse 3.1.1 which defaults to `overlay` as the filesystem driver.

[2017-06-01 21:54] zaa commented on #1239
The files are created by the helm-diff plugin installer. It fetches and then extracts the following archive: https://github.com/databus23/helm-diff/releases/download/v2.4.0%2B1/helm-diff-linux.tgz
The archive has the files with uids, gids I mentioned in the report.

ps. ok, we will try to update concocourse and check if the issue is still there.

[2017-06-01 23:49] zaa commented on #1239
ok, I've tried to run the same task using vagrant box with concourse ci v3.1.1, still no luck

[code]

[2017-06-02 00:04] chendrix opened #1240 "Assign themes to issues in backlog"
Theme owners need to go through the backlog and assign themes to issues that look like they are part of their theme.

Once this is done, we will reconvene to see if there are new themes that need to be made explicit and come up with the next steps for theming the rest of the backlog.

[2017-06-02 00:18] bensullivan commented on #1229
Hi @vito - I'm not quite sure what you mean regarding the image we're using for the rootfs...  Are you talking about the image that docker is running on or the container image itself?  I'll give you both...

We run Concourse via Amazon ECS using an EC2 instance based on the [Amazon ECS-Optimised AMI](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html).  This "ECS ins

[2017-06-02 00:30] norman-abramovitz commented on #1229
@bensullivan Do any of your pipeline YAML files contain rootfs_uri.  It is the files you use on fly set-pipeline command.   You could also use 'fly get-pipeline' to get the current pipeline and search the returned data.  The other item you can search for is "image_resource".  In both cases, return the complete stanza.

[2017-06-02 00:41] bensullivan commented on #1229
Hi @norman-abramovitz

We use image_resource:

- name: build-engine
  plan:
  - get: sheba-engine-git-repo
    trigger: true
  - task: build
    config:
      platform: linux
      image_resource:
        type: docker-image
        source:
          email: ci@veriluma.com
          password: xxxx
          repository: verilumaci/maven-3.3.9
          username: verilumaci
      run:
        path: s

[2017-06-02 12:07] mcb commented on #1194
Same here. Running 3.1.1 on vagrant though.

[2017-06-02 12:23] goblain opened #1241 "Indicating jobs viable for manual trigerring due to new resource version available"
# Feature Request

## What challenge are you facing?

In a complex pipelines that include manual triggering of some steps (jobs that have no resources with `trigger: true`) I often end up in a situation that part of the pipeline completed work, and I now need to manually trigger some step. The problem is that when you go to pipeline visualization, you see all-green, so you cant easily say there is

[2017-06-02 14:10] vito commented on #1239
I don't think there's anything to be done here, to be honest. The `.tgz` has those UIDs in it, we're just preserving them, as did the `helm plugin --debug install` command. You could `chown` them in your Dockerfile to something more reasonable like `0`, or ping the author of the plugin to investigate why the `.tgz` has strange permissions.

I don't know why `pip` is failing but that sounds like it

[2017-06-02 14:30] calebwashburn commented on #1027
This would be nice if a cert is on the worker cert trusted certs then those should be copied into the containers trusted certs.  If you manage concourse with bosh then you can use the trusted certs feature of bosh to add custom trusted certs to each VM and then when concourse workers create the container to run a given resource in include those certs in the appropriate location.

[2017-06-02 14:44] jaredstehler commented on #1230
I'm seeing a similar error for a docker build step after upgrading to 3.1.1:
[code]

Is this the same issue or a new one? I'm using the pinned `v1.12.6` version for the ECR auth workaround:
[code]

[2017-06-02 15:08] #660 closed

[2017-06-02 17:05] vito opened #1242 "Refactor container GC logic in order to rely more on database integrity to reduce risk of overly aggressive GCing"
When we first designed life, we tried to keep the GC logic for containers and volumes as safe and straightforward as possible. "When all the things I pointed to are gone, delete me." The idea behind this design is to have an explicit dependency chain, such that each link has simple GC logic, and Concourse-level semantics like a build finishing and resource checking being done can easily trickle do

[2017-06-02 17:06] vito opened #1243 "Refactor resource cache volume lifecycle to fix overly aggressive duplicate volume GCing"
Today's volume GCing logic has strayed a bit from the initial model of "when everything I point to is gone, delete me".

Here's the query for finding GC-able volumes:

[code]

To be honest, that's pretty straightforward. The only reason for the `workers` join is to not bother trying to GC volumes from stalled workers. The only sketchy bit in my eyes is the `v.initialized` check. We'll get to that

[2017-06-02 17:28] mariash commented on #1217
@p-manesh what do you see when you run `fly workers`?

[2017-06-02 17:48] cjcjameson commented on #675
Just checking -- is this expected to be better in 3.0+? Haven't tried yet. If not, does the 3.0 and 3.1 rewrites make it easier to address now? Thanks!

[2017-06-02 18:27] darwin67 commented on #1217
Not sure if it's the same but I'm seeing something related.

My setup is
- v3.1.1
- standalone binaries running on AWS instances in an autoscaling group.

What I'm seeing is when autoscale scales down the number of instances, some workers will go `stalled` but ATC will still try to talk to them, resulting in an error message with something like `can't talk to worker ip-10-3-x-x, status is stalled`

[2017-06-02 18:49] dmlemos commented on #1232
I can see how the concept is too ambitious for its own good. However some of the ideas in my opinion still carry advantages that shouldn't go against concourse the primitives.

Most of it is UX improvements, but also awareness.

Is the idea of having concourse know about artefacts and being able to get them with `fly` much different than storing logs in a database and retrieving them? Concourse sh

[2017-06-02 18:52] mzelinsky commented on #239
can we reopen this issue as `concourse-pipeline-resource` is not really suitable for the task (due to https://github.com/robdimsdale/concourse-pipeline-resource/issues/10 which is not yet implemented)? it seems the concourse is the only CI/CD that doesn't have a proper support for multiple branches, in terms of UX and overall workflow experience.

[2017-06-02 19:39] darwin67 commented on #1217
actually, nevermind. i totally missed the `--retire-worker` command in the binary and it seems to be working fine now.

[2017-06-02 20:26] marco-m commented on #1194
Same, Vagrant 3.0.1

[2017-06-02 22:28] AdamDorwart commented on #1229
I've noticed a trend that this appears to only be happening on one of my workers. Again it's a machine that's setup using the 3.1.1 binary

Is there anything I could check on this worker that would help before I destroy it?

[2017-06-02 23:12] cfryanr commented on #1234
This problem also exists when switching between the tabs at the top of the UI which represent groups.

[2017-06-03 00:31] mariash commented on #1184
Current plan is to clean up our action steps (get, task, put). We deleted dependent get step and pass in the result across plans as reference.

We split these three steps (get, task and put) into actions: check, get, task, put.

What is step? Step is something you see in your pipeline separated by individual header.

Each step can actually consist of several actions. For example, task step can run

[2017-06-03 20:42] marco-m opened #1244 ""fly execute --exclude-ignored" broken for mercurial resource"
With a pipeline using the mercurial resource

[code]

The checked out repo will have a directory named `.hg` (the equivalent of `.git`).

When doing a one-off build with `fly execute`, it will upload the whole repo history, inside the `.hg` directory.

If I try to avoid uploading the `.hg` directory with `--exclude-ignored`, fly prints an error message and stays stuck uploading (have to hit Ctrl-C

[2017-06-03 20:56] AdamDorwart commented on #1229
So I've re-provisioned the entire system concourse system (Deleted all volumes including DB, started ATC, workers, and DB from scratch).

Interestingly I'm still getting the permission denied issue on the worker on the same physical machine that was giving me issues before. Maybe it's something about the environment?

[2017-06-03 20:57] marco-m commented on #1227
Same problem (web UI not updated) when triggering with `fly`.

[2017-06-03 21:10] marco-m commented on #1087
If I understand correctly, you want to upload the .git directory also when -x is specified. This means that fly will potentially upload HUGE amount of data, depending on how big is the git history...

[2017-06-03 22:04] kkallday opened #1245 "incorrect certificate for www.concourse.ci"
Hi,

I wasn't sure where to put this issue since its related to the Concourse website - not the product. When navigating to https://www.concourse.ci I'm shown a certificate warning because the server's certificate has a common name  "*.cfapps.io". When navigating to https://concourse.ci the certificate is signed, correctly, for "concourse.ci".

[2017-06-04 21:43] zaa commented on #1239
I guess the problem is not with the file system, but with the container runtime and how it constructs an image to run.

The thing is, if I start a container with those strange files using docker runtime, I do not get any problems running "pip --version" command. That's why I wanted to check what might be different with the way Concourse runs the image. It appears it does not use Docker to start th

[2017-06-04 23:58] surajbarkale-dolby opened #1246 "How to execute commands in docker as part of build step"
# Feature Request

## What challenge are you facing?

I have some web services written in golang which use [makefile build template from thockin](https://github.com/thockin/go-build-template). This is useful for developers since everyone gets consistent builds without relying on system go version. However, when I try to execute it within concourse, I am getting following error:

[code]

After read

[2017-06-05 02:37] jagregory commented on #833
Confirming same behaviour here. Silent fail from fly, ATC logging:

[code]

[2017-06-05 13:53] vito opened #1247 "Resource configs created when checking a custom resource type are incorrectly GCed"
needs #1242

When checking a resource using a custom type, a `resource_config_use` will be registered for the resource's config, as well as the config for its custom type (recursively). Right now the "orphaned" collector GCs the uses for the custom type, which is incorrect.

We can build on #1242 for this, by changing the `resource_cache_uses` and `resource_config_uses` tables to reference a `reso

[2017-06-05 14:33] pivotal-topher-bullock opened #1248 "Clearing up ATC code: Radar"
In the spirit of #1184 we're going to take a look at the radar package of ATC and determine a path to refactor. In its current state we're seeing some leaked goroutines (waiting on sending to a channel?) from the ifrit dynamic grouper that runs the `resource_scanner` and `resource_type_scanner`.

Since this component's responsibilities are *fairly* clear, the main goals of this refactor are:
- imp

[2017-06-05 14:39] pivotal-topher-bullock commented on #1240
Code tree assigned everyone twice.. fixed it :D

[2017-06-05 15:29] krishicks opened #1249 "Empty pipeline view when viewing a logged-out team's pipeline"
The following was discovered on 3.1.0:

When trying to load a page for a different team than the one that I was currently logged in as in a new tab, the new tab showed me: my logged-in team's name in the upper right and that team's viewable pipelines in the sidebar. It also showed me an empty pipeline view.

I would have expected to be shown a login dialog for that target team, or some message sta

[2017-06-05 15:33] krishicks opened #1250 "Logging out of current team doesn't reset sidebar"
Found on 3.1.0:

When logging out from the currently logged-in team, the pipeline view switches to that of a publicly viewable pipeline. However, the sidebar still shows the logged-out team's pipelines in the sidebar. It takes a page refresh to clear the sidebar of the logged-out team's view.

[2017-06-05 16:44] chendrix commented on #1169
Closing as same as #835

[2017-06-05 16:44] #1169 closed

[2017-06-05 16:48] edude03 commented on #1172
I'll share my use case for this feature below to future the discussion.

I'm looking to have an environment created for each PR opened on Github then have that environment torn down when the branch is merged. In my particular case, it would require cooperation between various different github repos and would look something like this.

1. User opens PR
2. Pipeline is triggered that builds a docker

[2017-06-05 17:04] chendrix commented on #1246
@surajbarkale-dolby there is no docker daemon running in the majority of concourse installations. There would be no such `docker.sock` to share with the running container.

It sounds like you are largely complaining about efficiency, but I'd point you at #324

[2017-06-05 17:04] #1246 closed

[2017-06-05 17:05] chendrix commented on #1245
Thank you for letting us know about this!

[2017-06-05 17:10] chendrix commented on #1244
Moving to the mercurial resource

[2017-06-05 17:10] #1244 closed

[2017-06-05 17:44] clarafu commented on #1242
We're going to start with having the `check` and `get`s for image resource fetching reference the creating container. The first step was a small refactor to defer the fetching to a point in time where we have a `Creating` container that we can reference.

To do the actual fetching, we added a general `FindOrCreateContainer` alongside the `FindOrCreateBuildContainer` and `CreateGetContainer` method

[2017-06-05 18:05] bacoboy commented on #1194
Seeing this on ubuntu16.04 w/ 3.1.1:

[code]

Had to replace the workers to get up and running again.

[2017-06-05 18:09] chendrix commented on #1209
Oftentimes people are trying to expose information about a *failing build*, so they can get help with debugging their current issue. To the person supporting them, though, this often requires them to know information about the rest of the pipeline that feeds into that failing build. So there's a potential use case for exposing a build and exposing a pipeline.

We did some initial research using mo

[2017-06-05 19:02] tredfield opened #1251 "3.1.1 jobs fail with "file not found" after flushing workers"
# Bug Report

Running `3.1.1` we see jobs failing with "file not found" errors. We have flushed workers (destroy and recreate the pods in kubernetes) and the errors go away for about a day. They come back sporadically but eventually fail nearly every build.

Below is an example log entry we see with the error:

`{"timestamp":"1496684115.561470270","source":"atc","message":"atc.syncer.build-develop

[2017-06-05 20:01] robertjsullivan commented on #1230
We are seeing something similiar on 3.1.0:

runc create: exit status 1: container_linux.go:262: starting container process caused "process_linux.go:339: container init caused \"rootfs_linux.go:57: mounting \\\"/var/vcap/data/baggageclaim/volumes/live/b367226d-376c-42a1-7802-4d5962b835a2/volume\\\" to rootfs \\\"/var/vcap/data/garden/graph/aufs/mnt/ba10b98473cc0ffa00c8b004a6adeb98e4c3897a5cb99e7cb9

[2017-06-05 20:48] robertjsullivan commented on #1230
We were able to fix our issue by switching to `image_resource:` instead of `image:` in our task config.

[2017-06-05 20:56] clarafu commented on #1242
One bummer that we ran in to is that a multi-column foreign key only triggers its `ON DELETE` rule if the referenced columns are actually *deleted*, as opposed to changing their value. Given the wording of the rule that kinda makes sense.

Because of this we can't just have containers reference `builds (id, interceptible)` and `containers (id, state)` and have interceptability/state transitions se

[2017-06-05 21:32] bacoboy opened #1252 "docker-image-resource with ECR workaround broken"
There is an outstanding issue when doing docker builds via the docker-image resource to ECR for which a workaround was provided [here](https://github.com/concourse/docker-image-resource/issues/101#issuecomment-293661187) by @chendrix.

After the 3.X upgrade, we ran into an issue with the workaround [which is now fixed](https://github.com/concourse/concourse/issues/1178) -- again by @chendrix.

Sin

[2017-06-06 00:11] mariash commented on #1184
We continued on refactoring getAction/ActionsStep. ActionsStep will take buildDelegate to call methods like Initializing/Finished/Failed whenever one of actions fails. The build step factory constructs the delegate for particular set of actions. For GetPlan it will be GetBuildDelegate. We split ImageFetchingDelegate from BuildDelegate since they don't have to be together, ImageFetchingDelegate jus

[2017-06-06 00:19] mariash commented on #813
@devdavidkarlsson concourse does not provide an interface to delete your volumes or cache. To clean up the cache you need to recreate your workers.

[2017-06-06 00:24] mariash commented on #1030
@baszalmstra do you see this issue in 3.1.1?

[2017-06-06 00:28] mariash commented on #1217
@darwin67 thanks for update! going to close this issue then

[2017-06-06 00:28] #1217 closed

[2017-06-06 00:42] mariash commented on #925
@devdavidkarlsson @joharohl how big is your repo? You can try changing git config. See `git_config` in https://github.com/concourse/git-resource#source-configuration. Seems like this error might be thrown if git memory is exceeded. Try changing `packedGitLimit` or `packedGitWindowSize` (https://git-scm.com/docs/git-config#git-config-corepackedGitLimit). See more here https://stackoverflow.com/a/29

[2017-06-06 00:48] mariash commented on #847
Do you see this issue with 3.x? 3.x has improvements around container usage and garbage collection, so the number of containers should drop significantly. If you still see it with 3.x, please report what containers do you have.

[2017-06-06 00:51] mariash commented on #784
We created an aggregate issue for running out of file descriptors -
 https://github.com/concourse/concourse/issues/1201. If you still seeing this please report the appropriate data in that issue. Thanks!

[2017-06-06 00:51] #784 closed

[2017-06-06 01:15] chendrix commented on #781
I'm inclined to close this because I see 1) improper behavior from custom resource types, and 2) issues with external software

[2017-06-06 06:16] drahnr opened #1253 "possible memory leaks without workers"
# Bug Report

When running the web node for a few days without a worker, it leaks memory and occupies an order of magnitude more memory than every other process on that machine. The total memory allocation.

dmesg shows
**[473632.390527] Out of memory: Kill process 2068 (concourse) score 862 or sacrifice child
[473632.404931] Killed process 2068 (concourse) total-vm:3277976kB, anon-rss:1819104kB,

[2017-06-06 08:43] dsyer commented on #1229
Not sure if this is relevant for the OP, but I got this same error in 3.1.0 and fixed it by adding an explicit `image_resource` to a task (previously apparently there was a sensible default, but now there isn't).

[2017-06-06 09:16] CalamarBicefalo commented on #247
I am running into these issues as well in concourse 3.0.1 with the docker compose setup.

It says `unknown handle: xxxxx-xxxx-xxxx-xxxx-xxxxx` errors, and next time you retry it will stay in pending (guess the worker is dead, although `docker ps` says the container is up and running).

How could I provide more useful insights?

[2017-06-06 11:08] p-manesh commented on #1217
@mariash Sorry missed your comments. fly workers shows one of the workers as stalled.  BOSH shows all workers as running.

The following workers have not checked in recently:

name containers platform tags team state version
3cba9586-e7f5-460c-8a54-cb8eb03b2478 115 linux none none stalled 1.0

I was expecting BOSH to restart the worker when the worker was stalled. I had to manully restart/recreate

[2017-06-06 11:19] dsyer commented on #386
Even just showing the last execution time on each job (e.g. as a hover) would be really helpful. It's hard to tell from looking at a pipeline which jobs are taking more time than others. Should that be a separate feature request? Did anyone already ask for it?

[2017-06-06 13:00] philicious commented on #1194
@mbjelac could you elaborate how exactly you recover from this ? i.e. the commands you run so we can try the same. it has happened again for me and have to recreate the vagrant VM. which is acceptable as its a local VM for playing around but still pretty annoying

[2017-06-06 13:39] mbjelac commented on #1194
@philicious I run all my stuff in docker containers, but this should be applicable to VM services:

1. Stop worker service
1. Delete the contents of the `worker-state` folder
1. Start worker service
1. Wait
1. Prune stalled workers with Fly

The only difference is that I don't stop/start only the worker but all Concourse components because I set them up with docker-compose, so its easier to just `

[2017-06-06 13:40] mbjelac commented on #1194
Oh, forgot to mention: I haven't run into this problem since running `3.1.1`.

[2017-06-06 13:47] clarafu commented on #1229
Having no image specified in the task is equivalent to specifying a blank `rootfs_uri`, so that's the same deprecated code path on Linux.

However we didn't anticipate this change breaking `rootfs_uri`, so we'll have to investigate that.

In any case, unless you've got a *really* great reason to use `rootfs_uri`, you should be using `image_resource`, which was introduced all the way back in v0.72.

[2017-06-06 13:48] pivotal-topher-bullock commented on #918
+1 to what @chendrix said. Seems useful, but outside of the realm of what Concourse should be worrying about.  *Maybe* if there was a go library that did this magically without much effort on the ATC's part to integrate with it. Offloading this to the layer of BOSH, Docker, whatever infrastructure automation people are using is probably best.

[2017-06-06 13:58] pivotal-topher-bullock commented on #1012
In lieu of allowing the `main` team to see all pipelines (due to security risks) we're working on a proposal to give teams the ability to temporarily expose information to another team #1209 . Feel free to discuss your needs, use cases, and opinions around sharing pipeline access in a multi-tenant Concourse in that issue.

[2017-06-06 14:01] vito commented on #1229
I'm seeing 3 different issues here now:

* The original, caused by `rootfs_uri` usage, which is now fixed.
* @bensullivan's mount issue, which may be from bad permissions on `/work`? You could try `chmod 0777`ing it - if it's `0700` unprivileged containers won't be able to access their rootfses.
* @AdamDorwart's mount issue, which looks like Concourse might just not be running in a privileged cont

[2017-06-06 14:01] #1229 closed

[2017-06-06 14:13] clarafu commented on #1215
This is actually working as intended, though I guess having postgres log errors in the happy path is a bit noisy. We rely database integrity to prevent garbage collecting a volume that's still in use, by having the child volume reference a compound foreign key of `(parent_id, parent_state = 'created')` to prevent the parent's state from transitioning to `destroying`.

I'll bucket this under "opera

[2017-06-06 14:23] mariash commented on #1217
@p-manesh stalled is worker state in Concourse world. BOSH only will restart worker if it is not running. That means worker was running but for some reason was not able to reach ATC. I would check worker logs next time for errors.

[2017-06-06 14:26] pivotal-topher-bullock commented on #967
Seems like this is a Garden issue; looks to be failing in the client [here](https://github.com/cloudfoundry/garden/blob/master/client/connection/connection.go#L209-L214).  Might be worth taking a look at this with the latest release of Concourse, since it uses a newer version of Garden-runC. I'll give it a shot when I'm at a Windows machine, @petemounce can you give the latest version a try as wel

[2017-06-06 14:38] pivotal-topher-bullock commented on #832
Workin' on better 404 pages; #1131

[2017-06-06 14:39] #832 closed

[2017-06-06 15:03] baszalmstra commented on #1030
I just upgraded everything from 2.7.0 to 3.1.1 and I can confirm that this is still happening with 3.1.1. I'll stick with 2.7.0 for now because builds are waaayyy to slow with 3.1.1.

Please let me know if I can provide you with logs/screenshots/configurations/etc if that would help

[2017-06-06 15:46] p-manesh commented on #1252
We also seeing similar error message:

+ mount -t tmpfs -o uid=0,gid=0,mode=0755 cgroup /sys/fs/cgroup
mount: permission denied (are you root?)

resource_types:
- name: docker-tar-resource
  type: docker-image
  privileged: true
@chendrix : Is there a workaround for this?

[2017-06-06 16:01] p-manesh commented on #1217
@mariash Thanks for the clarification. Is there a good way to monitor for stalled worker? (apart from using fly worker)

[2017-06-06 16:02] sanacl commented on #247
I'm using a fresh install with the latest docker containers in a Ubuntu server 16.04.2 and see the same "unknown handle" error. Having a look at the log of the concourse web container I see this error

[code]

As @CalamarBicefalo said removing everything solves the thing, but you can imagine this won't work in a production environment :sweat_smile:

[2017-06-06 16:16] philicious commented on #1194
thx @mbjelac

ye my Vagrant box is also at 3.1.1 since I had to recreate it due to this issue. I hope its fixed with that and wont have to worry bout it anymore. If it should happen again, I'll give your fix a shot :)

[2017-06-06 16:32] mschirmacher opened #1254 "Deadlink on concourse.ci"
# Bug Report

http://concourse.ci/tutorials.html links to https://github.com/concourse/concourse/tree/master/ci/pipelines (linktext Concourse's own CI pipelines)

[2017-06-06 16:39] chendrix commented on #1252
there is not currently a workaround other than downgrading to 3.0.1

It's currently prioritized at the top of our backlog, and hopefully we can get someone to look at it for our next release.

[2017-06-06 16:44] chendrix commented on #247
@sanacl you are reporting something that isn't the original issue at hand here. If you are seeing a bug, feel free to jump into [slack](https://slack.concourse.ci) or file a new [issue](https://github.com/concourse/concourse/issues/new)

[2017-06-06 17:18] gerhard opened #1255 "Lots of `unknown handle` errors since upgrading to 3.0.1 & 3.1.1"
Since upgrading Concourse to 3.0.1 & now 3.1.1, we started seeing many `unknown handle` errors, across all pipelines, in both AWS & vSphere:

![image](https://user-images.githubusercontent.com/3342/26842287-337028bc-4ae4-11e7-8638-89ff48ed7f0b.png)

We have re-created the workers, the errors are not going away. Is this a known bug? What else can we try?

* Concourse version: 3.1.1
* Deployment typ

[2017-06-06 18:48] Lindsayauchin commented on #1131
Proposed Solution: See mock up of new UI for 404 Error page.

![Error_404.png](https://codetreeusercontent.s3.amazonaws.com/uploads/48c45ff7-a72e-431c-8865-1326bb2fcc95/Error_404.png)

https://www.dropbox.com/s/wdz3g1cha16qfnf/parachute_error_404.svg?dl=0

[2017-06-06 18:49] chendrix commented on #1131
I think @Lindsayauchin and I also talked a bit about the font and decided to just keep the `font-face: monospace` for the 404 page, so we don't have to worry about figuring out how to include alternative fonts in our design.

[2017-06-06 19:16] clarafu commented on #1242
Everything's now using our generic `db.ContainerOwner`, except for check containers.

We ended up having to split `creating_container_id` into `image_check_container_id` and `image_get_container_id`, as these "owners" also double as identifiers, and with both containers simply pointing to the creating container ID, we can't tell the difference. This worked before because one referenced a resource

[2017-06-06 19:58] topherbullock opened #1256 "Pipeline mechanics should be aware of resource configs"
# Feature Request
Some mechanics of pipelines can wind up being super inefficient and make **poor life choices** about how to deal with resources, due to the new global resource configs.

## What challenge are you facing?
If a user for some reason configures a bunch of custom resource types with the same underlying base resource + config. It takes a long time to check for new versions of the custo

[2017-06-06 20:08] Lindsayauchin opened #1257 "Proposal: Login Error"
Proposal for error feedback to users for invalid credentials when logging in.

Example

![Login_error_01.png](https://codetreeusercontent.s3.amazonaws.com/uploads/d01aaa13-1d44-408c-b443-56e8da50c62b/Login_error_01.png)

Related to Login page gives no indication of authentication failure - v 2.4.0 #776

[2017-06-06 20:21] ascherbaum-pivotal commented on #1215
My standard approach to this kind of problems is using a stored procedure (probably written in pl/pgSQL) which accepts the ID which is to delete, and checks the referential integrity before deleting the row.

[2017-06-06 20:38] krishicks commented on #1131
Cool.
On Tue, Jun 6, 2017 at 11:50 Chris Hendrix <notifications@github.com> wrote:

[2017-06-06 21:25] chendrix commented on #970
of note to concourse/concourse#1209

[2017-06-06 21:37] Lindsayauchin opened #1258 "Proposal: Font Resizing"
Issues related to Font size:

From the Garden team "As you can see, it makes it really hard to see the started/finished information, let alone see the actual times via the hover information. Clicking on the green plus sign is also impossible a lot of the time. We end up having to reduce the font size in Chrome to eliminate the overlap."

![Screen Shot 2017-05-30 at 10.53.04 AM.png](https://codetre

[2017-06-06 22:36] #975 closed

[2017-06-06 22:39] #56 closed

[2017-06-06 22:42] #110 closed

[2017-06-06 22:46] xoebus commented on #110
Cold.

[2017-06-06 22:50] chendrix commented on #1191
It sounds like you want to write a fake garden implementation that uses VMs instead of real containers.

[2017-06-06 22:51] #175 closed

[2017-06-06 22:55] chendrix commented on #128
If you hover over the label it gives you the exact timestamp. Closing.

[2017-06-06 22:55] #128 closed

[2017-06-06 22:56] #370 closed

[2017-06-06 23:08] mariash commented on #1217
@p-manesh `fly workers` would be a good way. Also, you can setup metrics for concourse monitoring https://concourse.ci/metrics.html. This will show you number of container that is distributed across the workers. If workers are not responding you will see that their numbers drop.

[2017-06-06 23:34] Lindsayauchin opened #1259 "Proposal : Navigation Epic"
Navigation Epic to address multiple issues.
(#1207, #169, #1118, #1117, #125, #1137, #1262, #569, #401, #1130 )

3 pains I see emerging from these issue's and also our user interview's:
I don't know where I am in the system
I can't see multiple pipelines at once
When did this pipeline start and when will this be done.

Issues raised from Users:

I need to see the current pipeline displayed in the

[2017-06-06 23:47] chendrix commented on #197
Moved to s3-resource#72

[2017-06-06 23:47] #197 closed

[2017-06-06 23:49] chendrix commented on #196
Moved to concourse/pool-resource#30

[2017-06-06 23:49] #196 closed

[2017-06-06 23:51] chendrix commented on #249
Closing as same as #428

[2017-06-06 23:51] #249 closed

[2017-06-06 23:52] chendrix commented on #798
Is your local time set different from your browser time or something?

[2017-06-07 00:29] andrewedstrom opened #1260 "Bump Postgres Version to 9.5"
# Feature Request

## What challenge are you facing?

Concourse is currently using PostgreSQL 9.3, a version of Postgres from 2013 [that will be declared "EOL" next year.](https://www.postgresql.org/support/versioning/).

## A Modest Proposal

We should upgrade to 9.5, even though that isn't the most recent version, because a survey with our users showed that 9.5 will provide all the additional fu

[2017-06-07 00:41] chendrix commented on #605
Closing as same as #868

[2017-06-07 00:41] #605 closed

[2017-06-07 00:43] chendrix commented on #1094
Closing as same as #1080