[2018-02-15 17:48] metatype commented on #1912
Sounds like a great improvement!  As a data point, our render times for 115k lines of build output are on the order of minutes.

[2018-02-15 18:59] kdvolder commented on #1912
Perhaps you don't need to render all of the lines? 100K lines certainly do not fit onto my screen so I can't possibly see them all at once, which means a lot of work is being done for no benefit. Maybe you could think in the direction of limiting what is rendered to an interesting subset which is only rendered 'on demand'. I.e. start by show the end of the log which is visible on the screen only.

[2018-02-15 19:26] jmelchio commented on #1912
@kdvolder the current behavior is that the rendering only happens when you 'click' on the step in question. Once you do, all lines in the step will render and this is where the time is spent. The rendering performance is pretty linear in this case and for most people 100K lines of log in one step will not be the rule and performance will be fine.
I'm not sure how easy it will be to determine which

[2018-02-15 19:37] kdvolder commented on #1912
Maybe you misunderstand. I don't mean you implement something 'smart' that tries to guess which part of the log I want to see (bamboo does that and I do not find that very useful as its guess is usually wrong).

What I mean by 'interesting' is merely 'the part of the log visible on the user's screen'. I assume you'd automatically place the scrollbar so that the end of the log is visible and let us

[2018-02-15 19:37] xtreme-gavin-enns opened #2039 "Wonky home-page animation on concourse.ci"
# Bug Report

No biggie, just looks pretty funny
https://imgur.com/a/KcWCH

* Browser (if applicable): Chrome
* Did this used to work? Never noticed it before today?

[2018-02-15 19:47] kdvolder commented on #1912
You may wish it were so, but the number of people participating in this thread belies that point.

One of the strenghts of concourse is the diversity of workloads it can accomodate elegantly, please don't start making these kinds of assumptions on your users behalf.

[2018-02-15 20:10] jmelchio commented on #1912
@kdvolder you're right I should not assume things on our users behalf. We can certainly take a look at an option where we limit rendering of logs to what is visible on screen.

[2018-02-15 20:32] evanphx commented on #2037
Having basically done this exercise to get nomad-atc (https://github.com/nomad-ci/nomad-atc) going, I'm happy to give notes on what a new, more abstract interface might look like.

Probably the biggest thing is removing everything related to scheduling. No more calls to try to find the worker for a container, etc. Basically the interface should just ask for a container and the concrete implementat

[2018-02-15 20:37] elasticdog commented on #1912
Many Gradle projects have ridiculous amounts of output. For reference, I'm working on a bunch of projects that typically output around ~50,000 lines, and the rendering speed has made viewing builds in the UI completely unusable.

[2018-02-15 20:52] vito commented on #2039
yeah

we're working on a new site

that image has literally ungracefully degraded ever since we shipped the site

chrome's svg handling seems to be getting worse and worse

[2018-02-15 20:52] #2039 closed

[2018-02-15 21:12] #2016 closed

[2018-02-15 22:01] phynias opened #2040 "beta dashboard times make no sense"
# Bug Report

The times under each pipeline on the beta/dashboard page don't seem to make any sense.
It shows a green checkmark and then a time (9d 1h). Then when you click the pipeline you can see that that time it is referencing is the last time the pipeline failed.

This should really just show the last build time. I want to be able to look at the board and see when that build happened. I have

[2018-02-15 22:37] phynias opened #2041 "option to not auto-hide legend on beta dashboard."
# Feature Request

## What challenge are you facing?

Would like to have a way to keep the legend from hiding at the bottom of the dashboard page.

## A Modest Proposal

I have this up on a big screen and having it hide isn't very helpful. Most people don't know what the colors mean so keeping the legend up would be so helpful.

[2018-02-15 23:31] nebhale opened #2042 "Certificate Propagation Breaks Alpine OpenJDK Images"
Starting with the Concourse 3.9.0 Certificate Propagation functionality, official [Alpine OpenJDK images](https://hub.docker.com/_/openjdk/) can no longer get access to their `cacerts` files.  These files.  Alpine's Java installations create a symbolic link from `$JAVA_HOME/lib/security` to `/etc/ssl/certs/java/cacerts`. This appears to be getting clobbered with the new functionality.

Now, I make

[2018-02-15 23:48] vito commented on #2042
This should only affect resources, not tasks, so this should only affect resources built on that image and still depending on its CAs. Do you know which resources are affected?

Considering there's a schema to the filesystem that Concourse prescribes already (`/opt/resource/X`), we may still decide to stick with the existing behavior if there's anything the resource author can do to have it work.

[2018-02-15 23:59] nebhale commented on #2042
For anyone who finds this before the fix makes it in, the following seems to work around the issue:

[code]

[2018-02-16 00:02] nebhale commented on #2042
@vito These are [custom resources](https://github.com/cloudfoundry/java-buildpack-dependency-builder/tree/master/resources) that I've written to help build the Java Buildpack.  The implementations themselves are Java applications and therefore need a Java from somewhere, and the `openjdk` images are the correct place to get that (rather than including the JRE in your `/opt/resources` directory).

[2018-02-16 06:40] ezraroi opened #2043 "Build step is taking few minutes to start"
Hi,
we see very strange behavior, every new build step can be in the following state for few minutes before starting to run:

![image](https://user-images.githubusercontent.com/5808368/36296211-e3a39092-12f4-11e8-9ce3-b14a690e48b6.png)

This is making all our build very slow.. what can cause this? what is being done in this step that can take so much time?

* Concourse version: 3.8.0
* Deployment

[2018-02-16 10:50] pn-santos opened #2044 "ATC spamming "atc.skymarshal.user.not-authorized" messages at error log level"
Not really sure if this a problem on my end but after upgrading to 3.9.0 (from 3.8.0) our ATC has been spamming (3 or 4 per second) the logs with
[code]
Is this an indication that something is wrong? (it's the first time I've seen this message) or is this a case where the log level of the message should not be "error" ?

* Concourse version: **3.9.0**
* Deployment type: **binary**
* Did this used

[2018-02-16 14:29] avanier commented on #2043
This is likely #1966 . This is potentially fixed by release `3.9.0`.

[2018-02-16 14:36] xtreme-gavin-enns opened #2045 "Time stats on build step header please"
Hi there!

# Feature Request

## What challenge are you facing?

I'm trying to figure out why my tile upgrade tests have jumped from 2 1/2 hrs to over 5 hrs in length. I can get an idea of which steps are taking the longest by comparing the first and last timestamps in their log outputs.

## A Modest Proposal

But what if the length of a task and maybe even the start and/or end time were in the he

[2018-02-16 14:44] vito commented on #2043
Also is the task `privileged`?

[2018-02-16 14:47] vito commented on #2044
This was probably introduced as part of our ongoing work for #1888.

@pivotal-jwinters Is this just a noisy log that we should remove?

[2018-02-16 14:48] vito commented on #2045
Let's fold this in to https://github.com/concourse/concourse/issues/1788. Thanks!

[2018-02-16 14:48] #2045 closed

[2018-02-16 15:26] pivotal-jwinters commented on #2044
After chatting with @vito we're going to keep the log, but crank the level all the way down to debug.

[2018-02-16 15:30] vito commented on #2031
I think we might be able to just remove the constraint.

This constraint was added at a time when volumes used by builds would point directly to resource caches. The intent of this constraint was to prevent the GC from killing resource caches while they're in the midst of being fetched for a build. It was especially a problem for `image_resource`, since those tend to point to resources that wouldn

[2018-02-16 16:10] ezraroi commented on #2043
Task is privileged... Server is binary and i have binary and docker workers.. Will upgrade to 3.9 and report

[2018-02-16 16:52] ljfranklin commented on #684
Big +1 for dynamic `gets`. We have a ton of bash tasks that read a value from a file and download something based on a value in that file. For example, reading the Terraform statefile to determine which IaaS stemcell we should download. Would be much nicer to do the download part with a first-class resource and keep our tasks side-effect free. I also had to hack around this in the terraform-resour

[2018-02-16 16:56] pn-santos commented on #2043
We had this issue in 3.8.0 while using the `overlay` driver, in 3.9.0 switching to `btrfs` made the problem go away (and no instability recorded for the past 2 days)

[2018-02-16 17:50] #2044 closed

[2018-02-16 19:58] topherbullock commented on #2037
@evanphx Yeah, there's a lot of fuzzy boundaries in the responsibility of ATCs and workers, and a lot of scheduling context within the ATC. The ATC currently cares more deeply than it should about which worker containers and volumes live on; the "random" scheduling strategy helps this a bit, but there's a lot of steps to getting a worker which you've identified.

**Regarding the domain the ATC and

[2018-02-16 21:46] olle-brkt commented on #1829
I also like the old font much more than the new one!

[2018-02-17 05:21] avanier commented on #1390
I just hit that problem and lost three days at banging my head against the wall... and I had read this ticket about five times. :man_facepalming:

[2018-02-17 06:02] ezraroi commented on #2043
do you mean the `overlay` driver of the docker daemon? we use 'aufs'.

[2018-02-18 07:14] philss commented on #1230
I had a similar problem with k8s on GKE 1.8.7 deploying Concourse using Helm (also, using `cos`).

I tried to use the version 3.9.0 of Concourse with `btrfs` without success. The deploy worked, but when I was trying to execute a build, it was showing "No workers" in red. After deleting the Helm installation (with `helm del --purge concourse`) and reinstalling with `naive` option, it worked.

[code

[2018-02-18 14:50] PXMYH commented on #1599
@GarimaSharma maybe you'll need to update the concourse server certification bundle, I had a similar issue (not quite since it's a self-signed cert), but the way to resolve it is to get the certification chain from browser and add it to concourse server.

One way to validate is to connect into concourse server and curl from there, you can use `curl --ca-cert` to provide extra certifications for va

[2018-02-19 12:13] walter-db opened #2046 "concourse-lite 3.9.0 fails on Debian 9"
Bug Report

I am heaving issues with starting up with Concourse.
As Instructed on https://concourse.ci/concourse-lite.html installed bosh CLI, downloaded the latest Concourse Lite from https://github.com/concourse/concourse/releases/download/v3.9.0/concourse-lite.yml but when starting up using bosh create-env councouse-lite.yml I get the following error:

[code]

Ran the command from an empty dire

[2018-02-19 13:09] walterngti commented on #2046
Looks like after release creation, the yaml file has been updated. The hash is correct for the concourse version in the release, 3.9.0-3468-22.. This is however not the file mentioned in the yml file.

[2018-02-19 15:26] dhoffi commented on #1599
running `bucc test` solved this for me
(root-cause was a teardown and fresh setup of concourse in my case)

[2018-02-19 21:48] pnsantos commented on #2043
no the driver you set when starting the worker (the env var `$CONCOURSE_BAGGAGECLAIM_DRIVER`)

[2018-02-20 09:18] 2color commented on #1497
I'm experiencing the same problem with version `3.8.0` using the official helm chart.

As @ahume reported, I'm also only seeing worker logs just print `Process exited with status 1` repeatedly.

[2018-02-20 13:54] thardeck opened #2047 "Waste of diskspace through swap"
# Feature Request

## What challenge are you facing?

There are different vm flavors and it seems that the swap is as big as the memory so it wastes a lot of disk space if the memory is bigger. The root partition is not that big but the swap on systems with 8 or 16 GB waste a lot of disk space which forces us to use bigger flavors.

This swap is nearly not used and even the memory consumption with

[2018-02-20 15:29] andrew-edgar commented on #1739
Any update on this?  seems very bad that a poorly configured pipeline can bring down your whole concourse env.

We just hit this same issue.

[2018-02-20 15:46] jmelchio commented on #1446
@JohannesRudolph trying to recreate the issue locally in order to work on a possible fix. I'm running 3.9.0 here and I'm not seeing the difference between unbuffered and cat output when I'm timing it running on an OSX client.

Can you confirm this is still an issue for you and let us know which version you're running currently?
Can you tell me how long the list of containers is in your case?
Thx!

[2018-02-20 16:23] DanielJonesEB commented on #1739
Just been able to reproduce this on 3.9.0 running in Docker Compose, through our own ineptitude.

Basically just `set-pipeline` with a `task` with an empty `config` block:

[code]

Results in:
[code]

[2018-02-20 16:32] JohannesRudolph commented on #1446
Hi, the issue seems to impact Windows much more than OS X (tried with
Powershell). I believe I traced this down to the go stdout library using
unbuffered io at the time.

On Tue, Feb 20, 2018 at 4:46 PM, Joris Melchior <notifications@github.com>
wrote:

[2018-02-20 16:43] jmelchio commented on #1446
Hi, I can confirm that the output is unbuffered. I will try to replicate with a windows client. Thx.

[2018-02-20 16:45] jama-pivotal commented on #2018
Adding in a note here that there was also feedback to be given to the CredHub team about how they handle errors as well, so even if we had verbose logging it won't be as helpful if CredHub itself is giving vague messages

[2018-02-20 17:31] taybin commented on #2046
This fails on OSX too, fwiw.

[2018-02-20 20:01] jmelchio commented on #1446
@JohannesRudolph I did my testing on Windows 10 Enterprise Eval (Build 1699.rs3_release.170928-1534) inside VirtualBox with two fly executables, one with, and one without buffering enabled:

Buffering does provide a minor improvement (~10-15%) when running in PowerShell but it remains slow compared to OSX and Linux performance.
Running the fly executables in the Windows Bash shell improves things

[2018-02-20 20:08] DanielJonesEB commented on #1739
Reproducible environment in case you need it: https://github.com/EngineerBetter/b0rkline

[2018-02-20 21:40] fewknow opened #2048 "runc error, preparing rootfs caused "permission denied""
Hi there!

# Bug Report

Bug reports are pretty free-form; just replace this with whatever. You can also help us triage the issue by including steps to reproduce, expected results, and the actual result. Help us help you!

The following can also be handy:

* Concourse version: 3.6
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: AWS
* Browser (if applicable):
* Did this used to

[2018-02-21 03:34] codesuki opened #2049 "Is OldResourceGracePeriod actually used?"
I was checking the code for it and cannot find any reference to it.
https://github.com/concourse/atc/commit/043a720c0db47887331569173f1a6928684c8510

This is the commit introducing it.

[2018-02-21 08:07] tahaozket commented on #2029
@vito Have you released a patch for the bosh release? If you haven't is there any way to install (maybe a release-candidate?) Concourse 3.9 via bosh release without waiting patch? We were eager to try btrfs improvements on our deployment but this issue blocked us :(

[2018-02-21 08:15] leshik commented on #413
What is the workaround can be for now, except for pushing empty commits?

[2018-02-21 10:12] thardeck opened #2050 "Allow configuring the default resource check time globally"
# Feature Request

## What challenge are you facing?

At the moment we use three xlarge workers for our Concourse instance. All three workers have all the time at least around 140-170 containers running according to `fly` without nearly any jobs actively running.

If I update Concourse or recreate the workers we often run into the issue that job and resource checks fail because of the error `max c

[2018-02-21 14:02] jtarchie commented on #2050
I believe this is what you are looking for. This was taken from the bosh spec file on `atc`.

[code]

[2018-02-21 15:11] jama-pivotal commented on #2050
The parameter @jtarchie should get you sorted @thardeck . Closing issue for now, feel free to reopen if you feel like it doesnt fully capture your use case

[2018-02-21 15:11] #2050 closed

[2018-02-21 15:14] jama-pivotal commented on #2048
Thanks for reporting this @fewknow . You can find more conversation around the root cause of this problem in an issue posted under the `concourse-lite` repository: https://github.com/concourse/concourse-deployment/issues/46

Closing this issue for the same reason why the sister issue is closed, the stemcell conflicts with runc and there really isnt much we can do about it aside for suggesting that

[2018-02-21 15:14] #2048 closed

[2018-02-21 15:32] jama-pivotal commented on #2041
Hm, interesting! Follow up question: the legend auto-hides in the pipeline view as well. Would you also like to keep that up permanently as well?

[2018-02-21 15:42] jama-pivotal commented on #2014
This is a known issue with Concourse 3.8.0. Due to a breaking change on CredHub 1.7.x the cli interface in Concourse 3.8.0 is incompatible with those versions. Concourse 3.9.0 should work with it though, but there are some open issues on that at the moment. Closing for now

[2018-02-21 15:42] #2014 closed

[2018-02-21 15:43] jama-pivotal commented on #2009
I think this is a great idea @mvdkleijn. I've put this under our Community backlog

[2018-02-21 15:44] jama-pivotal commented on #2008
cc @Lindsayauchin and @sampeinado to think about

[2018-02-21 15:47] jama-pivotal commented on #2005
@alcnsahin do you want tot specifically JUST build the ATC or the concourse project as a whole? Normally we refer folks to our Contributing guide for more details: https://github.com/concourse/concourse/blob/master/CONTRIBUTING.md

Under **Running Concourse locally** you can use the dev scripts to run only certain components.

Give that a shot and see if that helps. Closing this issue for now sinc

[2018-02-21 15:47] #2005 closed

[2018-02-21 15:52] jama-pivotal commented on #1999
@danjahner could you give it another shot on Concourse v3.9.0? I just tried clicking around on Firefox 58 (quantum) on my Mac and tested it against ci.concourse.ci and wings.concourse.ci and it worked OK

[2018-02-21 15:58] jama-pivotal commented on #1996
@zmb3 @labrown or @aeijdenberg could you try clicking around on ci.concourse.ci in your Windows boxes to see if it works? I just tested it on our VMs and it looks like #1978 fixed the issue, but wanted to make sure ya'll see it fixed

[2018-02-21 16:20] #1446 closed

[2018-02-21 16:33] labrown commented on #1996
@jama-pivotal Sorry, no joy.  Just went there and tried several resources and jobs.  None of them work right.  I still have to "click and press Enter" to get into them.  This happens on both my work laptop and personal desktop (where I'm entering this comment).

If I double-click a resource or job I get a "zoom in" action.  Maybe that helps track down what's going on.

Personal desktop: Version 63

[2018-02-21 16:37] Equanox commented on #1598
Same problem after a `docker volume prune`

[2018-02-21 16:43] thardeck commented on #2050
Yes, thx, that is exactly what I was looking for. I have checked the concourse documentation for a setting like this but did not stumble about the page https://bosh.io/jobs/atc?source=github.com/concourse/concourse .

[2018-02-21 17:07] jama-pivotal commented on #1996
Thanks for testing it out so quickly @labrown

This is annoying, tried to test it again on Chrome 64 and 63 in a Windows 10 VM and clicking through jobs and resources worked fine. Just double checking you tried this on just the plain https://ci.concourse.ci/ and not the beta view right https://ci.concourse.ci/beta/teams/main/pipelines/main  (because beta view is properly broken)

[2018-02-21 17:19] labrown commented on #1996
Confirmed on https://ci.concourse.ci/

[2018-02-21 17:33] ktchen14 commented on #2021
In this case I believe the documentation shows consistent usage and this style of indentation is acceptable according to the YAML specification. It's in fact used at the homepage of http://yaml.org/:

[code]

In addition in section `8.2.1. Block Sequences` of the [YAML specification](http://www.yaml.org/spec/1.2/spec.html#id2797293) it says:

If a YAML parser is failing to parse this then it's not

[2018-02-21 19:05] jama-pivotal commented on #2000
@olle-brkt hmmm, does this happen all the time? Is it always the running build that reports the wrong number in the title? Does it revert back to reporting the right number once its done running? Is it permanently reporting the right number?

SO MANY QUESTIONS (sorry). This might be a bit difficult for us to reproduce

[2018-02-21 19:10] jama-pivotal commented on #1996
Interesting. Could you humor me @labrown and and check if its still broken in incognito mode in your 3.8.0, and then if its "fixed" with incognito on 3.9.0 at https://ci.concourse.ci/  Just want to make sure there's an actual difference in behaviour and that we actually fixed something! If its all good I can close this issue and we can treat the heavy caching as a separate problem

[2018-02-21 19:19] olle-brkt commented on #2000
I'm a bit swamped right now, but let me see if I can find some time to reproduce this afternoon.

[2018-02-21 19:24] labrown commented on #1996
I wish I could.  I don't have access to incognito mode in Chrome on my work laptop (policy restriction), and our work resources are not accessible outside our network.

Best I could do is maybe shut down all my Chrome windows at end of work day, clear cache, and fire up again.  Can't afford to do that mid-workday, though.

[2018-02-21 19:25] #1912 closed

[2018-02-21 19:32] jama-pivotal commented on #1896
Closing this due to inactivity. @EdwardStudy hope you were able to get your Concourse up and running!

[2018-02-21 19:32] #1896 closed

[2018-02-21 20:42] aeijdenberg commented on #1996
@jama-pivotal - When I load https://ci.concourse.ci/ I do now see the cursor change to a "finger" when I hover over the jobs, however still nothing happens when I click on them (including in Incognito mode).

Note that I'm on Chrome on Mac - I'll post my `chrome://version/` output below, and when I get to the office later (where until this bug I thought I had identical configuration) I'll compare.

[2018-02-21 21:18] labrown commented on #1996
I now see the finger when I hover over items as well.
Also, both my normal and incognito windows are exhibiting the same "click and hit enter" behaviour to open resource or jobs.
Closed my incognito window, opened another incognito.  accessed https://ci.concourse.ci/ and everything works properly again in that browser window.  Strange.

[2018-02-21 21:48] mhuangpivotal commented on #1739
We fixed the validation so that empty config or file would result in validation errors. Previously, image artifact was considered as an alternative to task config.

[2018-02-22 00:02] aeijdenberg commented on #1996
@jama-pivotal - and here's the same from my Chrome in the office that works:

[code]

Other than the `--disable-quic` flag (which I tried enabling here to see if it triggered the issue), I don't see any differences, other than in the `Variations` which I don't quite understand.

[2018-02-22 01:28] danjahner commented on #1999
I'm still seeing the same issue with 3.9.0 using 58.0.2 on Mac without any add-ons enabled. To be clear, the buttons still work, it is just the hover and click effects that aren't working. Attaching a demo gif.

![button-reaction](https://user-images.githubusercontent.com/17714098/36515101-a8264956-172c-11e8-9e17-466810fe8859.gif)

[2018-02-22 03:31] mjmeintjes commented on #2046
The same error on ubuntu 17.04

[2018-02-22 06:30] elasticdog commented on #1912
Was this closed because it is considered resolved?! Isn't the load speed only a portion of the issue, where rendering speed is still the larger problem?

[2018-02-22 07:51] ezraroi commented on #2043
Cool, this worked!
thanks

[2018-02-22 09:11] aeijdenberg commented on #1996
Just to add another few data points - on that same problematic Mac at home (where it doesn't work), it also doesn't work in the same way in Safari and Firefox (even in other user accounts on the same computer). It does however work fine on a Chromebook (on the same network).

[2018-02-22 10:17] aeijdenberg commented on #1996
One last note - I was able to briefly get it to work (in all browsers) and then stop again after clicking around in the system accessibility settings. I wasn't however able to get a consistent path to reproducibility though.

[2018-02-22 14:02] jama-pivotal commented on #1912
@elasticdog sorry it might look a bit mysterious since I don't think you can see all the labels and projects that we apply on things. We made a small fix to make the page render faster without turning off the timestamps. This should be rolling out in an upcoming release (tentatively 3.9.1). Issue #1543 is still open though, and that's something we'll still be looking into

[2018-02-22 14:05] jama-pivotal commented on #1996
@labrown and @aeijdenberg I'm a but flummoxed. Doesn't seem OS specific then. I was able to do some testing on Chrome 64 and 63 yesterday as well on OS X and Windows 10. Will have to do some more investigation

[2018-02-22 14:07] jama-pivotal commented on #2043
@ezraroi did @pn-santos tip help you? not sure if you meant to close the issue or leave it open 😕

[2018-02-22 15:13] elasticdog commented on #1912
@jama-pivotal thanks for the clarification. I'll subscribe to that issue and will report back once the fixes are in (if we're still experiencing slowness).

[2018-02-22 16:11] ezraroi commented on #2043
Yes it helped... Not sure if the issue needs to be closed as i think it should work fine also with other drivers... Otherwise it should be written in the docs or maybe be the default

[2018-02-22 16:27] jama-pivotal opened #2051 "Add `/dashboard` route to app"
Right now we have our `beta/dashboard` and `beta/dashboard/hd` routes for showing the dashboard. However, clicking through to jobs and builds right now creates a really bad experience since we haven't had a chance to finish / flesh out those views. Normally we'd be OK with that since its all in beta, but it sounds like enough folks are using the dashboard and rely on it day-to-day that we should m

[2018-02-22 17:06] jama22 opened #2052 "Create an SLI for monitoring delay between resource triggers and actual execution"
We started noticing a decrease in the quality of service of our internal large-scale concourse (Wings) where there is a significant delay between a resource being triggered and job executing. Some folks have reported a delay on the order of 7 - 10 minutes.

Right now our SLIs do not capture any of this behaviour, and its hard to infer that decrease in quality of service from our Grafana metrics. S

[2018-02-22 17:25] bmhkb4 commented on #2048
So aside from sticking on old stemcells what is the long term plan here?

[2018-02-22 22:07] JGjorgji opened #2053 "Migration 3.6.0 -> 3.7.0 fails"
# Bug Report

Bug reports are pretty free-form; just replace this with whatever. You can also help us triage the issue by including steps to reproduce, expected results, and the actual result. Help us help you!

The following can also be handy:

* Concourse version: 3.7.0
* Deployment type (BOSH/Docker/binary): binary
* Infrastructure/IaaS: single server with postgres db
* Browser (if applicable):

[2018-02-23 09:02] JGjorgji commented on #2053
I fixed it by dropping the index:
`concourse=> drop index resource_caches_resource_config_id_version_params_hash_key;`

then adding a junk constraint so the migration works:
`concourse=> alter table resource_caches add constraint resource_caches_resource_config_id_version_params_hash_key check (id > -10);`

Seems to be working ok. On to the next version!

[2018-02-23 17:50] iravid opened #2054 "Can't deploy Concourse Lite 3.9.0 with BOSH on OSX"
# Bug Report

I downloaded `concourse-lite.yml` from here: `https://github.com/concourse/concourse/releases/download/v3.9.0/concourse-lite.yml` and replaced the artifact reference to `concourse-3.9.0-3468.22.tgz`.

Getting this error after running `bosh create-env concourse-lite.yml` with BOSH 2.0.48:
[code]

[2018-02-23 18:13] alvaropinot commented on #2046
The hash seems to be miss aligned between the 3.9.0 `concourse-lite.yml` file pointing to `6cc893c34ee4a504d59a06b2df3413d6e5a68e10` and the actual tgz file from https://github.com/concourse/concourse/releases/download/v3.9.0/concourse-3.9.0-3541.2.tgz which is `43c8ef28fb100441efd0fb80244f979c7859f983`.

In case it helps you might download the previous release (3.8.0) while the Concourse team rel

[2018-02-23 18:24] madamkiwi commented on #1223
We are also seeing this on v3.8.0.  A workaround is to use `fly watch`.

@acrmp and K

[2018-02-23 18:56] staylor14 commented on #1739
Is there a way y'all could cut 3.9.1 without this fix, and put this in a 3.9.2?  We really need the optional input feature in 3.9 on the CF Release Integration team.

[2018-02-23 19:43] DanielJonesEB commented on #1739
@staylor14 Airplane.ci isn't affected, but some of our friends who run a more multi-tenant commercial hosted Concourse offering are at quite a risk, I believe.

[2018-02-23 21:06] staylor14 commented on #1739
@DanielJonesEB I'm not sure I understand how it slows down your work on this bug to cut a 3.9.1 release now.

If I'm reading this correctly, the bug's been present since at least 3.3.2, so this isn't a regression (AFAICT).  Why not just cut 3.9.1 with what's ready to go, and cut 3.9.2 whenever this bug is fixed?

[2018-02-23 21:22] DanielJonesEB commented on #1739
Sorry @staylor14, I may not have been following the context of what's going on fully. I meant only to point out that for some commercial interests (who I shalln't name as it's a this-will-take-down-their-product bug) getting this fix is a high priority. I hadn't realised all the other 3.9.1  stuff was ready.

My intention was to provide information that the Concourse team may not be privy to so th

[2018-02-24 18:08] jama-pivotal commented on #1739
@staylor14 and @DanielJonesEB this bug is actually "Done" and just not "closed" because we haven't had a chance to accept it while babysitting our pipelines to go green for 3.9.1. To be clear this issue isn't "holding up" the release for 3.9.1; Topgun tests were failing and that's what held us up.

[2018-02-25 04:34] alvaropinot opened #2803 "Possible misleading past tense during diff while using set-pipeline"
Whenever **fly** displays a diff during a pipeline setup it uses the past tense, including when the user says "no" to the prompt line and **fly** bails out. From my point of view, this could mislead the user when reading the log in chronological order as the action seems to have already occurred. Again just from my point of view, using the future perfect might be a better UX.

Example of the actua

[2018-02-25 20:48] stefri commented on #942
I have the same problem. Still working on this?

[2018-02-26 00:52] jama-pivotal commented on #1664
Closing in favor of #1801 and what we're doing instead with #2051

[2018-02-26 00:52] #1664 closed

[2018-02-26 00:54] jama-pivotal commented on #1801
Its going to be a while I think until we fully flesh out the beta route and all the views. So, in the mean time we're going to bring back the beta view into `dashboard/` without beta #2051. Once that happens I think we can have the `login` button clickable and just take you to the "old" screens for login. Seems like the least we can do to make the dashboard work-able now that a lot of folks are us

[2018-02-26 05:25] masaki-takano commented on #2001
Maybe 3.9.0 fixed.

[2018-02-26 07:42] amuessig opened #2055 "Missing support for stemcell version >=3541.5"
Hi there!

# Feature Request

I have concourse pipelines running and updated the stemcell to version `3541.5`. Afterwards, I received the following error:

    runc create: exit status 1: container_linux.go:296: starting container process caused "process_linux.go:398: container init caused \"rootfs_linux.go:46: preparing rootfs caused \\\"permission denied\\\"\""

Downgrading to `3468.*` solved th

[2018-02-26 10:19] willejs commented on #2003
I am trying to use SSM at the moment, I am presuming that setting the ```CONCOURSE_AWS_SSM_REGION``` environment variable would enable it, but it seems like it doesent?

[2018-02-26 14:17] RomRider opened #2056 "concourse can't integrate with credhub if credhub is running behind a GCP https LB"
# Bug Report
There is an issue when using credhub integration. If credhub sits behind a GCP https load balancer it fails. This issue is referenced in a PR on the credhub-cli repo : cloudfoundry-incubator/credhub-cli/pull/36

Once it's corrected on their side, atc should be compiled against this new version, else atc fails with the same error and we see this error in the logs:
[code]

The problem i

[2018-02-26 15:07] xtreme-peter-iskandar opened #2057 "Job failing on GCP but works on AWS"
# Bug Report

## Issue

When we run our integration tests for our application it frequently (i.e., ~90% of the time) will fail due to what appears to be a networking issue.

Our application uses RSpec/Capybara/Headless Chrome in order to run the integration tests. As part of the tests, we call out to a script to seed the app with data via its API. The architecture from the perspective of the tests

[2018-02-26 15:50] vito commented on #2055
Already fixed, not shipped yet; see https://github.com/concourse/concourse-deployment/issues/46

[2018-02-26 15:50] #2055 closed

[2018-02-26 21:15] marco-m commented on #2003
@vito ?

[2018-02-26 21:20] marco-m commented on #2041
For the same use-case (display on big monitor) yes, I would like an option to show the legend also in the pipeline view.

[2018-02-27 20:51] DRuggeri opened #2058 "Beacon job fails silently on 3.9.1"
# Bug Report

When using the BOSH release of concourse v 3.9.1 (previous version 3.8.0), monit states that the beacon job couldn't start. No logs are produced. In an attempt to troubleshoot, I executed the following from the beacon_ctl script after setting up the ENV variables expected by this command:

[code]

I enabled `set -x` in the beacon_ctl file to get more information from monit:

[code]

[2018-02-27 21:16] DRuggeri commented on #2058
As a side note... attempting to revert back to 3.8.0, the ATC fails to start with the following error:
`failed to migrate database: file does not exist`

Halp!!!

[2018-02-27 21:24] DRuggeri commented on #2058
Stemcell version `bosh-vsphere-esxi-ubuntu-trusty-go_agent/3468.22`, FWIW

[2018-02-27 21:39] leeDav commented on #2046
I'm also experiencing the issue, with both 3.9.0 and the newly released 3.9.1.

3.8.0 works fine, though.

[2018-02-27 21:55] scnewma commented on #2058
@DRuggeri We had a similar problem.

We were specifying `tsa.host`, `tsa.port`, and `tsa.host_public_key` manually.  I was able to get our machines running again by using bosh links to consume `tsa.host`, `tsa.port`, and `tsa.host_public_key` in the `groundcrew` job (which is the default behavior if not provided) instead of specifying these properties manually.

I don't know if this will help in y

[2018-02-27 22:15] DRuggeri commented on #2058
Y'know what, @scnewma... gold star for you, mate! You are correct, setting `tsa.host_public_key` was the source of the issue. What was interesting, and why it rang a bell is because for *some* reason at the time I was upgrading from 3.5 -> 3.6 -> and from 3.6 -> 3.8, I had to specify that value from BOSH variables because it was untrusted on the worker-side. Simply removing it in 3.9.1 was enough

[2018-02-27 22:54] vito opened #2059 "Can no longer forward a baggageclaim/garden with bind_ip set to 127.0.0.1"
The `garden.forward_address` and `baggageclaim.forward_address` properties are no longer respected. If BaggageClaim has `bind_ip: 127.0.0.1`, registration will fail as it'll try to use the instance's IP.

* Concourse version: 3.9.1
* Deployment type (BOSH/Docker/binary): BOSH
* Did this used to work? Yes, in 3.9.0

/cc @topherbullock

[2018-02-28 11:04] maapteh commented on #1171
We have this too at frequently times. The build itself takes far less then ten minutes (6).

<img width="783" alt="screen shot 2018-02-28 at 12 02 47" src="https://user-images.githubusercontent.com/25961356/36784408-8e31cb44-1c7f-11e8-8e25-51001545aa88.png">

[2018-02-28 16:11] spmsaj commented on #645
Did this get prioritized? I couldnt see the link above

[2018-02-28 17:31] mcblair commented on #1785
This still exists, using`v3.8.0`.

[2018-02-28 17:51] DenisIzmaylov commented on #645
Would be nice to have it like Build Bot where logs looks pretty same like a real terminal:

![image](https://user-images.githubusercontent.com/1690596/36803646-31f53024-1cc9-11e8-8f0c-03a9d6f68de0.png)

[2018-02-28 17:55] ghostsquad commented on #787
From the sound of it, that means concourse has no concept of a "build queue" either? Which means it would be very easy to overload workers with too many jobs?

[2018-02-28 18:44] ships opened #2060 "More transparency or control over constrained version sets blocking pipelines"
# Feature Request

## What challenge are you facing?

As the second level of time-old problem where complex passed constraints cause builds that I kick off to choose correct but not intuitively obvious versions of an asset, I now find that some of my resources end up producing new versions from an early stage in the build which I expect to be passed to the next job but for constraint reasons, olde

[2018-02-28 20:32] danjahner opened #2061 "Build list duplicates itself while build is running"
Hi there!

# Bug Report

When running a job in the web ui, the list of builds sometime will duplicate itself, e.g. if build 3,2,1 exist and you start a new build, it will list 4,3,2,1,4,3,2,1.

The following can also be handy:

* Concourse version: v3.9.0
* Infrastructure/IaaS: Wings
* Browser (if applicable): Chrome 64.0.3282.186 & Firefox 58.0.2

[2018-02-28 20:33] danjahner commented on #2061
Visual:

![build-dups](https://user-images.githubusercontent.com/17714098/36811706-93771934-1c83-11e8-841b-16201c4803a4.gif)

[2018-02-28 22:10] cjcjameson commented on #787
@ghostsquad if I understand correctly, yes: Concourse doesn't really think of it as a build queue. And yes, it's easy to overload the system overall.

To go into more detail: there's a concept of "Max in flight" that you can configure for any job, which can throttle that job from overloading things. You can go so far as to set that on every job separately, but in practical terms, setting it on the

[2018-03-01 13:53] willejs commented on #2003
I figured out, that you have to pass the flag to atc, and the environment variables `CONCOURSE_AWS_SSM_REGION` or `AWS_REGION` do not work currently. I havnt dug into it properly yet, i was making the assumption that every flag was available as an environment var prefied with `CONCOURSE_` which is wrong!

[2018-03-01 16:03] pn-santos commented on #1207
Just pointing out that his issue is duplicate of #295

[2018-03-01 16:03] pn-santos commented on #1702
Just pointing out that his issue is duplicate of #295

[2018-03-01 16:03] johnscancella opened #2062 "no workers using docker-compose"
## What challenge are you facing?
I installed concourseci using docker-compose on redhat 7 after upgrading the kernel. When I try to run the example "hello world" I get the error that there are no workers:
[code]

The following can also be handy:

* Concourse version: version 3 of the docker-compose.yml
* Deployment type (BOSH/Docker/binary): docker
* Infrastructure/IaaS: redhat 7
* Browser (if ap

[2018-03-01 17:31] krishicks commented on #1201
I woke up to a reasonably unresponsive Concourse 3.8.0 (BOSH) today.

I tailed the atc logs and found a lot of `too many open files`.

atc.stdout:
[code]

10.150.1.3 is the DB vm. I ssh'd onto that VM and couldn't find any single process with anything approaching the ulimit.

atc.stderr:
[code]

Port 80 had the same error as above.

[2018-03-01 17:39] krishicks commented on #1201
I found on one of the web vms atc had 8272 files open, many of which look like this:

[code]

[2018-03-01 17:42] vito commented on #1201
@krishicks Given that those connections are all to BaggageClaim it may be helped by #1959.

[2018-03-01 21:56] phynias opened #2063 "dashboard needs expose"
Hi there!

Please pick the appropriate section (Feature Request or Bug Report) and delete the rest of this. Note that "missing support for X" is a feature request, not a bug!

# Feature Request

beta dashboard needs a expose like the pipeline has.

## A Modest Proposal

allow the dashboard to be exposed so you do not have to login to see it. i use the dashboard on a big screen and it constantly ge

[2018-03-02 03:20] dilipmighty245 opened #2065 "Concourse dial tcp: i/o timeout Issue"
Hi,

ISSUE:

Error performing request: Get https://mypcfapi.com/v2/jobs/somejob: dial tcp: i/o timeout

TIP: If you are behind a firewall and require an HTTP proxy, verify the https_proxy environment variable is correctly set. Else, check your network connection.

error running command: exit status 1

Things we tried so far:
- Increasing CF_DIAL_TIMEOUT: 30
- Increasing App timeout to 600(max)
- R

[2018-03-02 03:28] Eulerizeit opened #2066 "Turn off the timestamps"
Hi there!

Please pick the appropriate section (Feature Request or Bug Report) and delete the rest of this. Note that "missing support for X" is a feature request, not a bug!

# Feature Request
Turn off the timestamps

## What challenge are you facing?

Currently the timestamps take time and resources to render, break copy and paste and are entirely uninteresting and distracting for me.  My curren

[2018-03-02 09:29] marco-m commented on #365
This to me looks like a Concourse antipattern, making it more similar to Jenkins.

My humble proposal is to simply support a clickable link to the final destination (eg S3 static web site) of the artifact/output, as proposed by @pms1969 in this thread.

[2018-03-02 10:06] marco-m opened #2067 "[BUG] fly intercept randomly asks to choose container although step is passed on command-line"
# Bug Report

## What challenge are you facing?

I have pipeline `hello` with job `hello.j` which contains two tasks, `say-hello-1.t` and `say-hello-2.t`. I want to fly intercept in a non-interactive way, so I specify on the command-line the task I want to intercept:

    fly -t tutorial intercept -j hello/hello.j -s say-hello-1.t

Randomly fly behaves as if the `-s say-hello-1.t` was not specifie

[2018-03-02 12:40] headcr4sh commented on #534
I was thinking about a new resource interface for quite some time now and I wanted to throw in a bunch ideas that came into my mind:

#### Docker tags
Since all resource_types are (right now?) basically docker images, it might make sense to use Docker labels to attach some metadata to docker images that can be used as Concourse resources. This would open up a few possibilities, e.g. having a "Conc

[2018-03-02 15:22] marco-m commented on #1448
This is similar to what GoCD does, it even shows what changed between builds.

[2018-03-02 17:07] topherbullock commented on #1298
It seems possible for a pending build of a job to "skip" versions of a resource, due to some regression in the scheduling and locks around build tracking. Some reports have been pointing to some combination of a job being `serial:true` or in one of the pipeline's `serial_groups` and using `aggregate` within the build plan.

Some users have noted issues with a pipeline as simple as:
[code]
Setting

[2018-03-02 17:24] krishicks commented on #1201
Is that a regression from when ContainerTTL was removed?

[2018-03-02 17:39] vito commented on #1201
Not really, there'd be just as many connections for heartbeating.

On Fri, Mar 2, 2018, 12:25 PM Kris Hicks <notifications@github.com> wrote:

[2018-03-02 19:35] marco-m commented on #2021
You may consider to run `fly format-pipeline` on all your pipeline files, at least this would give a consistent indentation.

[2018-03-02 20:23] alvaropinot commented on #1817
I think it could also be great to have a "clean cache when build fails" feature that could be setup as part of the yml key, something like:

[code]
or even go into a failsafe strategy when a build has failed and clean the cache and retry.

Any thoughts?

[2018-03-02 22:24] geofffranks commented on #2059
I just ran into this today on v3.8.0, I think. If not, it seems pretty similar. The tsa config is using the link IP address, but bind_ip is restricting the port to only be localhost:

https://github.com/concourse/concourse/blob/v3.8.0/jobs/tsa/templates/tsa_ctl.erb#L19-L24

[2018-03-02 22:30] geofffranks commented on #2059
Looks like overriding the `atc.urls` value in the TSA spec is also not being honored

https://github.com/concourse/concourse/blob/v3.8.0/jobs/tsa/templates/tsa_ctl.erb#L26

^^ is preferring the link values to the value the spec says will override the links

[2018-03-03 13:14] drahnr opened #2068 "load image does not preload image - no such file or directory"
# load_image fails to load image

The error code message is: `open fedora-preload/image: no such file or directory` (which is true)

I followed the answer/guide on [stackoverflow](https://stackoverflow.com/questions/44475165/concourse-ci-leverage-docker-image-cache/44959191#44959191)

* Concourse version: 3.9.1
* Deployment type (BOSH/Docker/binary): binary
* Infrastructure/IaaS: custom / CoreOS /

[2018-03-03 13:33] marco-m commented on #720
Hello, any news ?

[2018-03-03 21:14] jraqula commented on #2060
update: there is a way to simulate "unique" using pool-resource and timeouts, but it is very unclean.

[2018-03-04 01:18] ghostsquad commented on #1817
CircleCI has actually a really nice way of handling this. They let you _name_ the cache, and thus you can create more and more specific caches.

https://circleci.com/docs/2.0/caching/

[2018-03-05 10:24] pn-santos commented on #2068
Missing the "save" param in:
[code]
By default the image isn't saved to disk, only it's metadata (as you can see from the `ls` you did, there is no `image` dir)

[2018-03-05 12:09] drahnr commented on #2068
I guess this should be part of the `preload` flag documentation that it needs the `save` flag - I totally missed that (was in the comments on SO but not in the actual answer provided..).

Testing and going to report back.

[2018-03-05 15:20] vito commented on #1739
Woops, this should be closed; 3.9.1 is out now.

[2018-03-05 15:20] #1739 closed

[2018-03-05 17:58] zankich commented on #2058
We've seen this same issue while setting up external workers. The problem we've experienced is that the `groundcrew.tsa.host_public_key` property is not rendered into the `tsa_host_key.pub` template.

I did some investigations using the [bosh-template](https://rubygems.org/gems/bosh-template/versions/2.0.0) gem and have been able to reproduce the issue.

If you create a template-context with the f

[2018-03-05 18:20] kmacoskey commented on #2058
+1 to fixing this soon. Being able to register external workers is important. It looks as though workers in older versions, 3.8.0 register with a worker version 1.2 which seems to mean they are not compatible. So currently we have no way to get external workers registered.

[2018-03-05 18:58] joshzarrabi commented on #2058
We would really like this to get resolved as well.

[2018-03-05 19:00] vito opened #2069 "Remove dependency on external URL for `fly execute`"
# Feature Request

## What challenge are you facing?

Currently you must configure an external URL for `fly execute` to work. The URL has to be actually external, too, because inputs and outputs are actually modeled as `get`s and `put`s to URLs created via the ATC `pipes` API.

This introduces a bit of a hurdle for people getting started with Concourse, as despite its name folks people try setting

[2018-03-05 19:06] vito commented on #2058
I think this is kind of in flight already as part of #2059.

@topherbullock @xtremerui Do the problems reported here look familiar? Should we mark this issue in flight too?

[2018-03-05 21:24] vito opened #2070 "concourse/worker component should retry against multiple TSAs"
Let's push this logic down:

https://github.com/concourse/concourse/blob/master/jobs/groundcrew/templates/beacon_ctl.erb#L81-L83

The `worker` binary should accept multiple TSA hosts. Let's rename the flag to `--tsa-host` and just specify it multiple times for multiple hosts. And then let's just have both automatically retry against a random TSA.

Along the way can we change the flags to match the

[2018-03-05 22:04] xtremerui commented on #1813
@jama-pivotal doesn't seem like happen anymore in 3.9. What is our take here?

[2018-03-05 23:04] jgould22 commented on #2062
Similar result on Ubuntu 16.04 LTS

3.9.0 still seems to work so if you use concourse/concourse:3.9.0 in the yaml it should start up

[2018-03-06 16:00] jama-pivotal commented on #2066
What version of Concourse are you using? the broken copy and paste was a known issue that was fixed in later release of Concourse, and we made some build page improvements in 3.9.1 to use less resources

[2018-03-06 16:03] jama-pivotal commented on #2063
Hi @phynias, are you (or can you?) using [`expose pipeline`](http://concourse.ci/single-page.html#fly-expose-pipeline) feature that will let you view pipeline state without logging in? You're getting logged out because of the login session timeout we have put in place for user security

[2018-03-06 16:04] Eulerizeit commented on #2066
We are using Concourse 3.8.0 my understanding is that Concourse 3.9.1 is broken and we are waiting for 3.9.2.

None of that accounts for the fact that, for people not using them, they add a huge amount of text on the screen that distract rather than help.

[2018-03-06 16:17] jama-pivotal commented on #2066
If it comes down to aesthetics it seems unlikely that the core team will pick this issue up. We're generally not a fan of adding [knobs-and-dials](https://github.com/concourse/concourse/wiki/Anti-Patterns#knobs).

If you have a design suggestion to help make the page more read-able for you we'd happily consider it.

[2018-03-06 16:30] phynias commented on #2063
I'm not view a single pipeline though. Will that work for the /beta/dashboard ?

[2018-03-06 16:51] mhuangpivotal commented on #1841
The ANSI control sequences are generated based on the TTY window size. The default size in Guardian (task containers) is 80x24: https://github.com/cloudfoundry/guardian/blob/master/rundmc/runrunc/process_builder.go#L62

Because the ANSI control sequences have hard coded jumps to overwrite certain parts of the output based on this screen size, we see garbled output in web and `fly execute` where th

[2018-03-06 17:02] mhuangpivotal commented on #1813
@xtreme-gavin-enns are you still seeing this in 3.9?

[2018-03-06 17:03] jama-pivotal commented on #2063
yep, the dashboard should follow the same rules as the "regular" view. For example, all the pipelines you see http://ci.concourse.ci/ and https://ci.concourse.ci/beta/dashboard are exposed pipelines

[2018-03-06 19:00] xtreme-gavin-enns commented on #1813
Yeah, I haven't noticed that in a long time and can't reproduce it now

[2018-03-06 19:08] jama-pivotal commented on #1813
Thanks for the updates @xtreme-gavin-enns , closing issue

[2018-03-06 19:08] #1813 closed

[2018-03-06 19:55] SaurabhQA opened #2071 "Is there a way to prevent parallel jobs from getting triggered if they are dependent on the same resource"
Hi there!

JobA and JobB are parallel jobs in the pipeline which get triggered when there is a change in some resource. Other jobs in the pipeline are dependent on previous jobs. I donot want my pipeline to get triggered if any job in pipeline is in-progress. For that I am using pool lock which is working fine except for the parallel jobs. I wanted Job2 to be triggered only when Job1 starts runnin

[2018-03-06 20:02] eamonryan commented on #1814
I have multiple customers who would love this feature for CredHub to reduce duplication and maintenance of keys common to multiple Concourse teams.

[2018-03-06 20:08] jtarchie commented on #1814
@eamonryan, what does this have to do with Credhub? This is a feature request for support in vault.

[2018-03-06 21:05] vito commented on #2069
This will also make it so `fly execute` can run on Darwin/Windows without needing a Linux worker to run the `archive` resource. Neat!

[2018-03-06 21:14] topherbullock commented on #1814
I can see this becoming a generic thing we'll want to support across all secret manager implementations: supporting multiple different types of backends / configurations at a per-team level.

[2018-03-06 21:30] itsdalmo commented on #1814
Not to be a stickler, but I'm not sure the current title actually reflects what was being requested in my original post - having "multiple secret backend configurations" does not actually solve the problem of not being able to use non-generic secret backends in Vault, and to my knowledge none of the other secret backends support dynamic credentials (my use case) like Vault does.

tldr; New title/f

[2018-03-06 21:38] jama-pivotal commented on #720
oh hai! I can give some updates. One of the key themes of work this year that the Concourse core team has committed to in 2018 is introducing Users in Concourse. This means that, instead of logging into a team, you can login as a user and be able to access all teams that you belong to. This is the first step in a long road towards auditable logs and fine grained role based access control. That sai

[2018-03-07 05:11] steelecliftonberry commented on #645
I'm also curious if this got prioritised. We have a pretty strong need for this. We have centralised logging capturing everything else in our Kubernetes clusters, but Concourse pipeline logs is a little dark spot.

[2018-03-07 06:11] marco-m commented on #720
Super happy, thanks (again!) to all the Concourse crew!

[2018-03-07 09:04] jochenehret opened #2072 "ATC scheduler sometimes skips job executions"
Hi Concourse team,

we have some monitoring jobs which are triggered by a 5-minute time resource. Sometimes builds are skipped, i.e. it takes 10 minutes (or even longer) until the next job runs. The problem cannot be easily reproduced, but it usually appears after initial deployment of a Concourse instance or after a (stemcell) update. We run Concourse v3.8.0 with *two* web nodes. concourse-deploy

[2018-03-07 11:03] spikymonkey commented on #145
We just been stung by this after cloning a pipeline to start building from a new release series branch (`1.5.x`), and accidentally leaving a version resource pulling from a version file in the old git branch (master). As the versions in master advanced to `2.0.0` and beyond, they were pulled into our new `1.5.x` builds... and as others have found, there's no good way back from this. We've ended up

[2018-03-07 15:54] Bogdanp opened #2073 "concourse.ci"
I didn't know where to post this so I figured I'd just use this repo. In case you were not aware, concourse.ci has been down for the past 4-5 hours. When I visit the website now all I see is https://www.dropbox.com/s/ntxy30l6yf5s6t9/Screenshot%202018-03-07%2017.53.07.png?dl=0 .

[2018-03-07 15:56] jama-pivotal commented on #2073
Concourse team is investigating the issue, you can use http://concourse-ci.org/ in the meantime while we sort things out

[2018-03-07 15:57] Bogdanp commented on #2073
Thanks! Apologies for the noise. :-)

[2018-03-07 15:57] #2073 closed

[2018-03-07 16:00] jama-pivotal commented on #2073
no worries!

[2018-03-07 16:21] trobert2 commented on #1200
If someone were to use [https://github.com/concourse/concourse-pipeline-resource](Concourse Pipelines resource) along with some discovery resource for the pipelines, how would one unpause a pipeline created in that way?

[2018-03-07 21:59] kkallday commented on #1685
Hi all,

My team also ran into an issue with the communication between the ATC and Credhub. The root cause for us was that we didn't have a firewall rule allowing access to our credhub however it took a while to track down the issue due to this misleading error message:
[code]
This error message seems to indicate that the variables are not in credhub even though they were. Given that the root caus

[2018-03-08 01:12] hfinucane opened #2074 "Initial database migration is not atomic in 3.9.1 and can become wedged if interrupted"
# Bug Report

* Concourse version: 3.9.1
* Deployment type (BOSH/Docker/binary): binary

This appears to be a regression of #722. As a refresher, my Chef deployment of Concourse is also a torture test of initial migration safety, because it runs 'concourse web', and then pretty rapidly restarts that process. I'm seeing this in my 'integration tests' on fresh systems with a fresh db. On the Concour

[2018-03-08 02:13] vito opened #2075 "Setting pipeline credentials via `fly`"
# Feature Request

## What challenge are you facing?

Right now I have to SSH on to my Vault VM and run `vault` commands from there. It's hokey and error-prone. Not having any simple and consistent way to do this makes credential management feel like a second-class feature, only accessible to operators.

## A Modest Proposal

Let's add some sort of `fly` command for setting credentials. And *maybe

[2018-03-08 04:12] phillbaker commented on #1903
@doty-pivotal curious if the fix for https://github.com/concourse/concourse/issues/1966 released in v3.9 would have helped here - are you still seeing the issue?

[2018-03-08 05:34] AaronFixer commented on #2062
Experiencing the same thing with the latest docker images.

Reverting to 3.9.0 has resolved the problem.

[2018-03-08 08:53] andypaterson40 commented on #2058
Any idea of when this will be fixed/released?

[2018-03-08 11:06] dumbbell commented on #2041
I would love to have this feature as well (a setting to always show it, or to always hide it), for a different reason: I spend quite some time on the pipeline view and it's disturbing to have the legend come and go frequently. Having this "blinking" corner attracts attention.

[2018-03-08 11:44] dumbbell opened #2076 "Wait for incoming resources earlier in the pipeline before triggering a job [feature request]"
# Feature Request

## What challenge are you facing?

We have a [pipeline to test all components of RabbitMQ](https://ci.rabbitmq.com/teams/main/pipelines/server-release:v3.8.x?groups=qa%3Abroker). Those components are split into two groups:
* the core components
* the plugins

The first group (`qa:broker`) contains jobs triggered by any core components. When we commit a change to one of them, the

[2018-03-08 11:59] dumbbell opened #2077 "Autoscroll in build page is more annoying than helpful"
# Bug Report

Autoscroll often fails to keep the view at the bottom of the page. This happens when the build script outputs lines quickly or when lines are longer than the window width and they are wrapped. In both cases, it looks like the page grows too fast and autoscroll fails to do its job or determines it shouldn't scroll anymore.

On the other hand, for build scripts with few output lines or

[2018-03-08 12:45] russmack opened #2078 "Invalid domain: concourse.ci"
# Bug Report
There are references to the URL ~https:// concourse.ci~ on your github pages - no longer valid.
Should be https://concourse-ci.org.

[2018-03-08 14:59] michaelklishin commented on #2077
I experienced this as well on the build results page, especially when the window is narrow. Seems to happen less frequently with screen-wide windows (or I could be hallucinating).

[2018-03-08 15:06] jmelchio commented on #2061
@danjahner can you tell us if the list fixes itself again after you refresh the page?

We're also interested to know if you have a slow connection to wings. We find some anomalies when we simulated a slow connection but these clear up upon refresh of the page.

Thanks.

[2018-03-08 15:26] vito commented on #1499
Finally went and bumped the dependency, sorry for the delay. Had to just stop vendoring in the creds package and use the outer submodules, and bump those for good measure.

I won't be able to really confidently say this is fixed, given that the error is spurious in nature, but I can at least say we're running the code that should have the fix. 😛

Thanks for your patience!

[2018-03-08 15:26] #1499 closed

[2018-03-08 16:24] jama-pivotal commented on #645
This is currently sitting in our Operations Backlog. Unfortunately, with the current team size and the priorities set for 2018, we don't have anyone dedicated to looking at the Operations backlog of work. This is definitely one of those issues where PRs will be gladly welcomed and reviewed

[2018-03-08 19:04] #1569 closed

[2018-03-08 19:08] vito commented on #2059
Still doesn't work. The values for the `forward_address` properties are not respected, and if I configure a bind IP of `127.0.0.1` I see:

[code]

[2018-03-08 19:11] vito commented on #2058
@andypaterson40 It'll be in 3.9.2, which will be out as soon as #2059 is done.

[2018-03-08 19:55] topherbullock commented on #2072
@jochenehret This is a side-effect of anther known issue other users have been reporting, #1298 , where resource versions seem to never actually be passed along to jobs when the checks happen, which leads to the behaviour you're seeing.

Are you able to provide a simplified representation yml for the pipeline you're seeing this issue on?

[2018-03-08 20:56] dbwest commented on #2078
concourse-ci.org is not working for me either :(

[2018-03-08 21:10] topherbullock commented on #2059
@vito hmm, I guess I was kinda fuzzy on what the `forward_address` would be if it isn't the same as the bind ip?? My assumption was that we could just assume that the presence of `forward_address` means that they want the new `registration_mode` flag set to `forward` which sets up the forwarding, but for the `baggageclaim.bind_ip` configuration we wind up getting the link's ip for the `baggageclai

[2018-03-08 21:18] vito commented on #2059
@topherbullock That'd be another way of doing it, yeah. But it doesn't seem to be working. I didn't dig in much to see why, I just noticed our PR worker still can't register. Here's its config:

[code]

@xtremerui has picked this up again

[2018-03-08 21:54] xtremerui commented on #2059
@topherbullock I would assume what you meant by "just remove registration-mode in favour of *-forward-address flags to worker and follow the same logic" is pass the values of forward-address to worker garden address and baggageclaim url in beacon_ctrl script? Do we need to do anything to the worker binary? We understand the issue but are somehow blocked here by implementing the old logic.

[2018-03-09 02:08] AaronFixer commented on #2078
@dbwest Seems to be working okay now. It was definitely having issues though, but seems to be resolved as of now.

[2018-03-09 03:37] xetamus commented on #1371
So we're running into this as well when using custom `resource_types`. Have observed this behavior on both `3.8` and `3.9.1`. What seems to happen when setting tags for a `resource_type` is that they are stripped from the pipeline when it is set. An example:

Here the pipeline is initially set, the `tags` block is set for the `resource_type` as well as the `resource`

[code]

If I do a `get-pipeli

[2018-03-09 07:36] jochenehret commented on #2072
Hi @topherbullock,

here is a stripped down version of our pipeline:
[code]
Please tell us if you need more information.

Best Regards,

   Jochen.

[2018-03-09 12:10] thardeck commented on #1751
We have the issue that we have to recreate the workers the latest after two weeks often even earlier even though we had around 80 GB and now even 120 GB.

It is not that bad because Concourse is released often so a cleanup happens often indirectly but still Concourse should be able to run for some time without manual interaction.

And a cache should be treated as a cache so if it takes too much sp

[2018-03-09 15:51] phillbaker commented on #1714
Seems related to https://github.com/concourse/concourse/issues/1364.

[2018-03-09 15:58] jama-pivotal commented on #2078
Please see Alex's post on the incident https://medium.com/concourse-ci/were-switchin-domains-5597dcd0b48b

**NOTE** Please do NOT visit the old `.ci` site. We have noticed that the hijacker has started uploaded old archives of the site and we are now treating this as a malicious incident

[2018-03-09 16:31] vito commented on #2078
If you find any more missing references please let us know where in this issue. I'll reopen just in case since there seem to be a few thumbs-ups.

[2018-03-09 18:32] etaty commented on #2078
All the community ressources would need to update their Readme files https://concourse-ci.org/resource-types.html#community-resources

[2018-03-09 18:34] simonjohansson opened #2079 "Release notes broken since new concourse.ci design."
# Bug Report

For instance, https://github.com/concourse/concourse/releases/tag/v3.9.1 links to https://concourse.ci/downloads.html#v3.9.1 which cannot be reached.

[2018-03-09 18:34] simonjohansson commented on #2079
Duplicate of https://github.com/concourse/concourse/issues/2078 ,
Sorry.

[2018-03-09 18:34] #2079 closed

[2018-03-09 19:10] avanier commented on #2078
I was going through the [Medium blog articles](https://medium.com/concourse-ci) and most also still `concourse.ci` .

[2018-03-09 21:02] phillbaker commented on #1751
There might be more that comes out of #1457, but this is a (wholly unsanctioned and gross) script to periodically free up diskspace used by btrfs (run as binaries on aws VMs) 🙈 :

[code]

[2018-03-09 21:47] aloisbarreras opened #2080 "`fly execute` using localhost instead of remote server."
# Bug Report

When running `fly execute` I get this error.

<img width="1109" alt="screen shot 2018-03-09 at 4 44 29 pm" src="https://user-images.githubusercontent.com/15008940/37231441-3d56d476-23b9-11e8-851a-e20cf25e2c1b.png">

It seems like it's trying to upload the file to localhost? The remote is setup properly because I can use set-pipeline fine and all other commands work like `workers`. He

[2018-03-09 21:56] billimek opened #2081 "'base resource type not found' errors starting with 3.9.1+"
# Bug Report

* Concourse version: 3.9.1
* Deployment type (BOSH/Docker/binary): Docker
* Infrastructure/IaaS: VSphere-provided Ubuntu 16.04.3 kernel v4.4.0-62 running Docker v1.13.1
* Browser (if applicable): Chrome
* Did this used to work? Yes, in 3.9.0 and earlier

Starting with release 3.9.1, running concourse via http://concourse-ci.org/docker-repository.html, after loading a pipeline, we see

[2018-03-10 05:08] jtarchie commented on #2080
What is the external URL of the concourse web instance set to?

[2018-03-10 06:38] aloisbarreras commented on #2080
Yep, just had to set the CONCOURSE_EXTERNAL_URL variable. Thanks

[2018-03-10 06:38] #2080 closed

[2018-03-10 19:56] leshik opened #2082 "Question: how to configure btrfs?"
# Feature Request

## What challenge are you facing?

What is the proper way to configure `btrfs` when running Concourse in Docker? I'm using the recommended `docker-compose.yml` from the documentation. I've already set `CONCOURSE_BAGGAGECLAIM_DRIVER: btrfs`, but what else? Do I need to set up Docker with `btrfs` volume driver? Maybe format a block storage to `btrfs` and mount it to Concourse some

[2018-03-10 20:49] calas opened #2083 "Unable to deploy Single VM using bosh (concourse versions 3.9.0 and 3.9.1)"
Hello,

I'm trying to test Concourse CI using the [Single VM](http://concourse-ci.org/concourse-lite.html) solution as recommended in your documentation. But it fails to deploy concourse. Attached are the normal output and debug logs as well as the commands used:

`BOSH_LOG_LEVEL=debug bosh create-env concourse-lite.3.9.1.yml`
[debug-output.txt](https://github.com/concourse/concourse/files/1799778

[2018-03-10 23:54] jtarchie commented on #2082
Are you experiencing an issue?

[2018-03-11 08:35] leshik commented on #2082
@jtarchie yes, I was experiencing delays. At first, I thought it was related to `docker-image-resource` (https://github.com/concourse/docker-image-resource/issues/181), then tried `btrfs` and things improved. Now I wonder if more thorough configuration needed, except `CONCOURSE_BAGGAGECLAIM_DRIVER: btrfs` (such as `btrfs` formatted external volume).

[2018-03-11 12:18] marco-m commented on #2083
@calas If your goal is to try out Concourse in a single VM, you may want to give a go at my setup for Concourse 3.9.1, based on Vagrant + VirtualBox (+ SaltStack). It is still WIP but works fine: https://github.com/marco-m/concourse-ci-formula. In case you have any problems, please open a ticket over there.

[2018-03-11 17:53] leshik commented on #676
I'd like to have such an option, too – but unrelated to macOS. In my case, there are not very powerful VPS in the cloud that currently hosts ATC & TSA along with a worker, and also the much more powerful server in office as an external worker. Something like worker weight would be very helpful to schedule workload to office server more often than to the cloud one.

[2018-03-12 15:20] #1713 closed

[2018-03-12 15:20] #1841 closed

[2018-03-12 15:20] #1999 closed

[2018-03-12 15:22] jama-pivotal commented on #2026
.....Looks a bit weird? But i'm accepting it with the intent of coming back to it in the near future. Still looks a bit jarring and needs finessing.

[2018-03-12 15:22] #2051 closed

[2018-03-12 15:23] jama-pivotal commented on #1801
Technically works, but completing the login flow should bring me back to dashboard, not `/` WIll create a separate issue

[2018-03-12 15:23] #1801 closed

[2018-03-12 15:31] jama22 opened #2084 "Completing login flow from `dashboard/` should bring me back to the dashboard"
Completing login flow from `dashboard/` should bring me back to the dashboard.  This is related to #2051

Now that we've rolled dashboard into the main route, we should have a somewhat seamless login flow. If you start the login process at the dashboard, the completion of a login should bring you back to the dashboard, not the homepage

As an unauthenticated concourse user looking at the dashboard

[2018-03-12 16:20] Lindsayauchin commented on #2026
Let's go with the simpler option of a tooltip to reveal the too long names?

[2018-03-12 16:45] #2026 closed, assigned to Lindsayauchin

[2018-03-12 16:49] vito commented on #2075
Good point!

On Mon, Mar 12, 2018, 11:52 AM Zac Bergquist <notifications@github.com>
wrote:

[2018-03-12 17:15] andy-plutoflume commented on #79
FWIW - because those using the binaries directly cannot set `garden.btrfs_store_size_mb` I think the trick here is to override the following settings with a script of your choice to set the correct size.

[code]

[2018-03-12 17:43] #2059 closed

[2018-03-12 18:02] jama-pivotal commented on #1806
We should keep an eye out for places where we poll without waiting for previous requests to finish

[2018-03-12 18:07] jama-pivotal commented on #2084
Other pages that might have this problem is:
* build page?
* job page ?
* resource page ?
* From a specific pipeline?
* From a specific pipeline + group selectors

[2018-03-12 18:10] jama-pivotal commented on #1831
Closing because we moved everything under the proper `dashboard/` route now

[2018-03-12 18:10] #1831 closed

[2018-03-12 18:56] galen-pivotal commented on #1930
This happens on Firefox to me all the time and it is quite annoying. Currently Firefox 58.0.2 on Mac OS 10.13.3. Arrow keys, scroll wheel, PageUp, Home all have issues. If I hold one of PageUp/Home for a while it lets me scroll after a while. I see the page bumping up a bit and then scrolling back to bottom for the duration of the stuckness, looks like the image in #1826 .
You should be able to se

[2018-03-12 19:24] #2031 closed

[2018-03-12 19:25] #2058 closed

[2018-03-12 20:06] troykinsella opened #2085 "Dual ATC setup cannot register worker"
# Configuration Assistance Request

Note, below, I'm referring to "ATC" and "TSA" interchangeably, as I'm running binaries.

When configuring two ATCs with the `--peer-url` web command option, I'm getting the following errors when a worker attempts to register or forward.

From atc1 (and also forwarded to worker logs):
[code]

## Some Facts
* Using haproxy to round-robin TSAs
* The two ATCs, the p

[2018-03-12 21:01] mbana commented on #610
^ just wondering if anyone has a workaround for this.

is there a view-only mode so if one does decide to make it public, others can't start a build or some operation that modifies that state in any way?

[2018-03-12 21:03] emcniece commented on #610
@mbana nope, nothing official yet.

I made a deploy job that pushes the badges to an S3 bucket as a workaround 😅

[2018-03-12 21:16] itsdalmo commented on #1994
This is really needed. Personally I think `include:` should take a list of `.yml` files that are just regular pipeline configurations, and then merge them before running `validate` and `set-pipeline`. E.g., if we have:

`pipeline.yml`:

[code]

And `include.yml`:

[code]

Setting `pipeline.yml` fly would merge in the contents of `include.yml` (and other files), appending to `jobs`, `resources` and

[2018-03-12 21:33] vcardillo commented on #1290
I just ran into this on 3.6.1:
[code]

[2018-03-12 21:57] sampeinado commented on #688
@ggeorgiev and @JamesClonk are you imagining that this button would be shown on the pipeline view or on the individual resource page?

[2018-03-12 22:47] SEJeff commented on #1731
Any more work on this?

[2018-03-12 23:02] danjahner commented on #2061
Not sure about connection speed. It does fix itself on refresh (but the bug may recur and duplicate the tabs again).

FWIW, it is no longer happening on the same setup, so it certainly isn't consistent.

[2018-03-12 23:11] avanier commented on #2085
I've struggled with this quite a bit with this and gave up. I have nothing constructive to add, but I'm out there cheering.

[2018-03-13 03:58] vito commented on #2083
This should be fixed with v3.9.2.

@marco-m neat!

[2018-03-13 03:58] #2083 closed

[2018-03-13 05:10] andrewedstrom commented on #1829
I would love to see some kind of visual indicator on the dashboard when a pipeline has resources that are in an error state. Errorring resources are orange in the pipeline view but In the dashboard there is no way to tell if a pipeline has failing resources.

We just realized that one of our pipelines has resources that have been missing for a long time, but we didn't notice because it was showing

[2018-03-13 06:33] cc250080 commented on #980
I completely agree, in general the error messages, even on the logs, are pretty useless, you always need to guess what is happening.

[2018-03-13 07:23] marco-m opened #2086 "[BUG DOC] Concourse "build badge" functionality is undocumented"
Although Concourse has build badges (currently for jobs, with some tickets open for pipelines if I am not mistaken), this functionality is undocumented. Only "official" documentation is http://engineering.pivotal.io/post/concourse-badges/, but somebody searching the Concourse web site will not find it.

[2018-03-13 08:45] calas commented on #2083
Confirmed working. Thanks @vito

@marco-m Thanks for your solution too, it worked perfectly.

[2018-03-13 09:14] JamesClonk commented on #688
@sampeinado I guess on the individual resource page.
Would be great to finally have this feature! 👍
(Believe it or not, literally the most commonly used command on the fly cli for us currently is "check-resource". It would be great to not have to login and use the cli all the time just for this 😄)

[2018-03-13 13:41] vito commented on #2069
It may be wise to take this opportunity to actually kill the pipes API. It's always been a bit out-of-place, and the access control for it is really awkward.

If instead we had endpoints on a build for uploading to/downloading from a step, this could pave the way for future step types that require arbitrary user input. We would just initially use it for `fly execute`, where the input is a tarball.

[2018-03-13 14:20] cunnie commented on #610
@mbana I use [`expose-pipeline`](http://concourse-ci.org/fly-expose-pipeline.html) but require auth to trigger a build, which allows people to see my badges but they can't view any job outputs or trigger builds or anything (read-only, with a limited read)

For example, if you browse to https://ci.nono.io/ you can see my Concourse server and if you browse to https://sslip.io/ you can see the badge

[2018-03-13 15:05] dolph commented on #2077
Even trying to scoll up from the bottom of a job _after the job is complete_ is infuriating - it continuously tries to scroll to the bottom of the page. I've tried scrolling using the mousewheel, Page Up key, Vimium keyboard shortcuts, but it's really difficult to stop the autoscroll behavior. I've tried looking for Chrome extensions or options to block autoscrolling, but haven't really found a wo

[2018-03-13 16:22] dumbbell commented on #2077
Yes, I see this behavior as well. Not always, but quite often.

[2018-03-13 20:10] dolph commented on #2077
@dumbbell I didn't mean to hijack this issue, BTW; I should have mentioned that I frequently experience the failure "to keep the view at the bottom of the page", along with the (perhaps separate) issue that I described. Regardless, I feel autoscroll needs a thorough overhaul to behave properly, especially with longer task logs (at least 10MB+ in my case).

[2018-03-14 02:57] jama-pivotal commented on #2078
@avanier good catch! I'll take on the responsibility of editing the blog articles

[2018-03-14 09:59] dumbbell commented on #2077
No problem, you didn't hijack anything. I had this behavior with finished builds as well, but when I filed this issue and wanted to double-check that, it didn't happen, so I didn't mention it. Thanks for confirming I'm not mad ;)

[2018-03-14 11:10] Shugyousha commented on #2078
Also, the CI instance for Concourse at https://ci.concourse.ci is still accessible but returns an HTTPS certificate error. The URL should probably forward to the new one at https://ci.concourse-ci.org/.

[2018-03-14 13:57] soumya-github opened #2087 "Vault secrets access in Concourse pipeline.yml"
## What challenge are you facing?

I have a pipeline.yml file where I have a resource declared of type git. It is defined as follows:
- name: vaultResource
  type: vault
  source:
          url: http://myip:8500
          auth_method: AppRole
          role_id: 187bd6d4-4f33-ddd6-c5ad-fb702e7fdbe8
          secret_id: ed8288c3-b266-06ca-112a-47b110e3cc89

name: git-demo
  type: git
  source:

[2018-03-14 17:59] vito commented on #2069
As part of this it probably makes sense to gzip-compress BaggageClaim's StreamIn/StreamOut APIs. Otherwise these steps have to un-gzip in Go, which is costly on the ATC and seems to choke on `tar czf`ed payloads (due to extra trailing zero padding). (It probably also makes sense to just do in general.)

[2018-03-15 03:00] cppforlife opened #2088 "timestamps dont show up on current line in v3.9.2"
![screen shot 2018-03-14 at 7 59 15 pm](https://user-images.githubusercontent.com/185847/37442220-49a315c0-27c2-11e8-978f-d1ad8873301c.png)

chrome

[2018-03-15 04:10] vito commented on #2069
It works! 🎊 Next up is to just add progress indicators for uploads/downloads in Fly, now that there's no `archive` resource on the other end.

Also:

* Remove the `archive` resource and mark its repo deprecated.
* Remove the "pipes" API.
* Update the docs to reflect the newer simpler setup.

[2018-03-15 10:14] cjohansen opened #2089 "Webhooks stopped working in 3.9.1"
We've been using web hooks for a while with 3.8.0. After upgrading to 3.9.1 our webhooks are now responding with 405 Method not allowed. We installed and upgraded using concourse-up, don't know if that's a factor.

[2018-03-15 13:15] vito commented on #2069
This has made `bin-docker-testflight` way more stable:

https://ci.concourse-ci.org/teams/main/pipelines/main/jobs/bin-docker-testflight/builds/745

[2018-03-15 13:36] ebouaziz commented on #1311
Same here, Debian Stretch, Docker 17.12ce
Also, I had to add a "restart" directive to the worker, because it exited when concourse_web did not start fast enough.

[2018-03-15 13:40] ebouaziz commented on #2062
The worker exits because it could not connect to concourse_web quick enough, try to add a restart directive to the worker.

[2018-03-15 15:35] leshik commented on #2082
I figured it out – once Docker is configured with separate `/var/lib/docker` formatted in `btrfs` as per [official documentation](https://docs.docker.com/storage/storagedriver/btrfs-driver/), Concourse detects it and [starts using `btrfs` driver](https://github.com/concourse/baggageclaim/blob/master/baggageclaimcmd/driver_linux.go#L29) for baggageclaim.

[2018-03-15 15:35] #2082 closed

[2018-03-15 15:54] denisdbell commented on #1251
@chris-aeviator I have the same issue and had to remove all containers and restart. Not sure what might be causing this problem

[2018-03-15 16:40] warroyo opened #2090 "add dsiplay_name field for visual purposes"
# Feature Request

I am building out some concourse pipelines that span multiple environments so I am using the "groups" feature. This is working nicely, however I am unable to re-use job names because they are unique. this puts me in a situation where if i have multiple environments that execute some of the same jobs, i need to append something like `-test` to the job name. This is not a problem

[2018-03-15 21:21] sphawley opened #2091 "Missing start_time on canceled job"
# Bug Report

[This job](https://release-integration.ci.cf-app.com/teams/main/pipelines/infrastructure/jobs/remove-claimed-lock-upgrade/builds/1) is stuck displaying `loading` and if we `curl https://release-integration.ci.cf-app.com/api/v1/teams/main/pipelines/infrastructure/jobs/remove-claimed-lock-upgrade | jq .` we see that it has no `start_time` but it does have an `end_time`. Which is strang

[2018-03-15 21:27] pivotal-jwinters opened #2092 "Refactor auth/authz in the atc API"
Our current authentication/authorization model only allows for a single team in the access token. We need to be more generic to support multiple teams in token.

Some POST APIs need to be updated to explicitly state which team their resource should belong to, instead of relying on the team inside the token. This will cause breaking changes to the API.

Some GET APIs will also  need to be more flex

[2018-03-16 01:01] wanderanimrod commented on #1925
+1. Is there a way to work around this problem in the meantime?

[2018-03-16 13:43] pontusarfwedson commented on #2087
Why dont you just use `((gitUserName))` in your pipeline and ignore sending in `gitUserName: (( vault "concourse/main:gitUserName" )) ` as parameter? As long as you have the variable in your Vault in either the team path or pipeline path with the same name then Concourse should find it, so no need to care about "telling conocurse". Or am I missing something?

[2018-03-16 15:30] jama-pivotal opened #2093 "Move Wings onto a new subdomain wings.cfapps.io"
We should move Wings onto a a separate subdomain separate from the Concourse OSS identity. This will also help reduce the risk of exposing Pivotal engineering work from OSS. Previously suggested domain was *.cfapps.io, but in general we just need to put it somewhere under Pivotal's ownership

[2018-03-16 15:39] avanier commented on #2093
Just raising the flag. `.io` has a not so great reputation for reliability. You might be interested in checking out other TLDs while you're at it.

- [Article on The Register](https://www.theregister.co.uk/2017/07/10/io_hijacking_in_transition_cockup/)
- [Article about the Stream.io outage](https://hackernoon.com/stop-using-io-domain-names-for-production-traffic-b6aa17eeac20)
- [Thread on `/r/sysa

[2018-03-16 17:08] shashwathi commented on #2049
@codesuki : Thank you for pointing it out. Cleaned up all references.

Regards

[2018-03-16 17:08] #2049 closed

[2018-03-16 18:14] shashwathi commented on #1645
@chingcodes : [This](https://github.com/concourse/concourse/issues/2031) is fixed in concourse 3.9.2 version. Can you verify if you are still seeing this issue?

Regards

[2018-03-16 18:38] DannyBen commented on #1275
I am also interested in the ability to change colors.

In my case, the dark background is the problem, so I would love it if one of these options will be available:

1. Ability to switch to a predefined "light theme"
2. Ability to easily customize the entire color palette as I see fit (I was looking at this nice [`_vars.less`](https://github.com/concourse/web/blob/master/assets/css/_vars.less) fro

[2018-03-16 19:44] jama22 opened #2094 "Test a backup and restore of our databases on Prod and Wings"
Test that we can actually do a backup and restore of the Postgres.

[@cirocosta updates]:

### Manually

- [x] Prod
  - [x] regularly backup with pipeline
  - [x] manually restore to a minimal environment

- ~Wings~
  - ~regularly backup with pipeline~
  - ~manually restore (need to be discussed)~

### Continuouslly

- [x] Continuously take backups
- [ ] Continuously perform a restore

#### Curren

[2018-03-16 21:38] Niraj-Fonseka commented on #1379
What is the status on this ?

[2018-03-17 00:51] ktchen14 opened #2095 "ATC dying with SIGSEGV in RetryStep.Succeeded()"
# Bug Report

* Concourse version: 3.9.2
* Deployment type (BOSH/Docker/binary): Docker
* Infrastructure/IaaS: vCloud Director
* Did this used to work? Yes it worked in Concourse 3.9.1 as far as I can tell

Our Concourse ATC is repeatedly dying with `SIGSEGV`:

[code]

This appears to be the code in `retry_step.go` that's failing:

[code]

[2018-03-17 01:50] codesuki commented on #2049
What is the proper way to achieve the effect of that feature?
I have a job that seems to be caching it's input (GitHub release) I would like to force it to re-download it. Thought about setting this flag to 0.

[2018-03-19 02:05] originsmike opened #2096 "DNS is broken in new Ubuntu+systemd deployment"
# Bug Report

Concourse version: 3.9.2
Deployment type: binary, systemd
Infrastructure: single on-premise machine, Ubuntu 16.04

I just set up this new Concourse installation a couple days ago. I've got a job with `git` and `docker-image` resources, and DNS isn't working inside either of them.

I know the jobs are properly configured because I can use an HTTP proxy as a workaround for the git reso

[2018-03-19 04:48] codesuki commented on #2049
@shashwathi I didn't mention it in my first comment, because I wanted to know about `OldResourceGracePeriod`, but `ResourceCacheCleanupInterval` doesn't seem to be used either.
https://github.com/concourse/atc/search?utf8=%E2%9C%93&q=ResourceCacheCleanupInterval&type=

[2018-03-19 06:09] soumya-github commented on #2087
Hi,
We tried the ((gitUserName)) option also and without sending anything then it did not work. The error thrown was gitUsername could not be found. If we give the id/password hardcoded it worked. Just want to know do we have to do anything extra to integrate Concourse with Vault. Only using the Vault resource type wiil work ?

[2018-03-19 10:18] pontusarfwedson commented on #2087
Hi!
Not sure what default path you have for concourse but if we run a pipeline for the team "main" and have a variable in vault under "concourse/main/foo" then we can, in every pipeline in main, get the variable by simply doing ((foo)) in our pipeline yaml. Without having to pass in anything. We are running Concourse in Kubernetes using the official helm chart in which we have defined Vault as the

[2018-03-19 12:56] gaigaslab opened #2097 "OAuth to PCF UAA broke in 3.9.2"
We just upgraded from 3.8.0 to 3.9.2 using the bosh release.

We had previously setup oauth authentication with PCF UAA, but we are now getting:
"failed to exchange token"

I don't know where to look.  I appear to be getting a token from UAA.

This is our configuration for each team:
    fly -t app-main set-team -n ${myprojectname} \
      --uaa-auth-client-id concourse-app-1 \
      --uaa-auth-cl

[2018-03-19 14:05] #1641 closed

[2018-03-19 14:06] vito commented on #1903
Yeah, I'm gonna close this since it's pretty stale and *probably* improved by #1966.

[2018-03-19 14:06] #1903 closed

[2018-03-19 14:07] vito commented on #2043
Gonna close this as a dupe of https://github.com/concourse/concourse/issues/1404 which will be closed once we switch back to `btrfs` as the default driver.

[2018-03-19 14:07] #2043 closed

[2018-03-19 14:35] haidouks opened #2098 "Sometimes tasks are waiting to start forever"
# Bug Report
Last week, we have updated Concourse to v3.9.1. After update, we recognized that sometimes tasks never start although the concourse workers are available. In this case, we cancel the build and restart it.

![image](https://user-images.githubusercontent.com/23384662/37601565-613c0d86-2b9b-11e8-9c00-bc53730e6e09.png)

In our environment, we have 17 linux agents and 2 windows agents. And

[2018-03-19 14:41] shashwathi commented on #1874
Added additional check to verify table exists before querying. This should remove db error logs which could mislead users.

[2018-03-19 14:44] shashwathi commented on #1850
@JohannesRudolph : This is fixed in concourse 3.9.2 version. Can you verify if you are still seeing this issue?

[2018-03-19 15:01] shashwathi commented on #1823
@JohannesRudolph  : This is fixed in concourse 3.9.2 version. Can you verify if you are still seeing this issue?

[2018-03-19 15:29] shashwathi commented on #1779
@cheikhniass74 : It is clean from the build output as to why the job is not getting triggered.
Check the resource `attendee-service` to see if any version is available.

[2018-03-19 15:36] shashwathi commented on #1789
@hkumarmk :
This is already a feature in [`validate-pipeline`](https://concourse-ci.org/single-page.html#fly-validate-pipeline) command.

There are more options which are not documented on this command so try running `validate-pipeline --help`.

[code]

[2018-03-19 15:36] #1789 closed

[2018-03-19 16:03] chingcodes commented on #1645
Don't have any active instances I could easily test on, the linked issues sounds reasonable.

[2018-03-19 16:13] shashwathi commented on #1880
@hfinucane : Concourse uses jwt token parser to parse these tokens manually and has a strict format of `BEARER token_value`. Running `fly targets` commands loads the targets with valid tokens from flyrc file, explains the error which you get.

What is not clear in help msg for entering tokens manually?

[2018-03-19 17:40] dodizzle commented on #2087
I also cannot get the syntax (($KEY)) to work.
I also deployed concourse to k8s using the helm chart, have vault enabled and when I attempt to get a value that I declare ((foo))
I get the following error:

Finding variable 'foo': secrets "test-vault.foo" is forbidden: User "system:serviceaccount:default:concourse-web" cannot get secrets in the namespace "concourse-infrastructure": Unknown user "sy

[2018-03-19 17:53] shashwathi commented on #2049
There was a refactor done to handle lifecycle of caches by Garbage collector. As a result of this, cache lifecycle flags were removed from atc binaries( but not cleaned up). You seem to be having some other issue and using this flag as a workaround. I would try to debug why new version of resource is not being fetched.

[`check-resource`](https://concourse-ci.org/single-page.html#fly-check-resourc

[2018-03-19 19:54] pivotal-jwinters commented on #2092
We refactored a bunch of the auth/authz logic in the atc. We've merged everything into a `accessor` object which gets added to the context by the auth_handler. Downstream handlers get this accessor object from the context and use it to determine if it can do various actions.

[2018-03-19 19:54] #2092 closed

[2018-03-19 19:57] jama-pivotal commented on #1379
@Niraj-Fonseka its currently in our icebox under the Operations project. Unfortunately its not a priority for the team right now

[2018-03-19 21:12] hfinucane commented on #1880
The bug is that if you enter the wrong kind of token at the `fly login` prompt, `login` accepts it, but anything that tries to use it blows up later. Probably it should do that validation on the front-end.

[2018-03-19 22:24] codesuki commented on #2049
I have two jobs that were one before. Decoupled them for faster updates.
They both upload files to the same GitHub release (same version).
So I probably have to restructure the pipeline. Would have been easier with a force download flag :)

[2018-03-19 23:06] pn-santos commented on #1780
We're seeing several of these logs on a constant basis... is this something we should be worried about?

All the volumes show up with type `unknown` and `n/a` identifier when listed with `fly volumes`

Could this be a consequence of running docker inside a concourse task?

[2018-03-20 12:55] engrun opened #2099 "3.9.1 eats db connections, and db-logs shows lots of errors"
Hi

After upgrading to 3.9.1 with concourse-up, we have seen lots of errors in the database logs.

Examples

Variations over this one

2018-03-20 12:18:57 UTC:10.0.0.6(36962):admindasm9syvq9al5iu2wj8j@bosh:[9591]:DETAIL: Key (name)=(lock:deployment:concourse) already exists.

and

and

and

(which seems related to https://github.com/concourse/concourse/issues/2074)

**We also see a lot of db conne

[2018-03-20 13:53] keithkroeger opened #2100 "3.9.2 - Pipeline Trigger Resources appear to continue to fire even after pipeline deleted"
# Bug Report

* Concourse version: 3.9.2
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: Openstack
* Browser (if applicable): N/A

To test our deployments, we create dozens of pipelines.  What we find is that the timers appear to still fire, even after the pipeline is deleted.

We see this in our logs as:
[code]

Pipeline:
[code]

[2018-03-20 15:06] loganmzz opened #2101 "Multiple resource listing on a single edge"
Hi there!

# Bug Report

* Concourse version: 3.8.0
* Deployment type (BOSH/Docker/binary): Docker
* Infrastructure/IaaS: Laptop (CPU: Intel Core i7-7500U / RAM: 16 Go)
* Browser (if applicable): Chrome, Firefox

When a resource is process by multiple jobs in parallel but finally joined with intermerdiate job(s), resource is drawn multiple times on a single edge.
![wrong graph](https://user-images

[2018-03-20 15:17] vito commented on #2042
@nebhale Thinking about this further, would it be feasible to have the resource copy the prepackaged certs elsewhere via the `Dockerfile` and then re-add them to the cert repository when their `/opt/resource/X` commands are run? (e.g. with `update-ca-certficiates`)

I don't think this'll work right *now* because we probably mount the certs in as a read-only volume. We can make that a copy-on-write

[2018-03-20 15:24] elgohr commented on #2042
@vito So every resource, which depends on Java, would need to do this re-add-thing before?
The thing I don't like in this solution is, that a resources docker image, which runs on localhost doesn't need to be running in Concourse.

[2018-03-20 16:05] ljfranklin commented on #2025
Thanks for putting this together @Lindsayauchin! Our team is really feeling the pain around this missing feature in Concourse. We've resorted to typing notes into a spreadsheet and adding a link to the build, doesn't feel great.

Has a search box for comments been discussed? For example, an engineer adds a comment that the build failed due to "502 error from LB". It would be amazing to be able to

[2018-03-20 16:19] ktchen14 commented on #2095
This is happening once a day to us leaving our entire Concourse instance down until we restart the master.

[2018-03-20 17:07] andreaspeters commented on #1753
The failure still exists, no matter if u are running the worker under ubuntu or centos, no matter local or on a baremetal server. Everything works fine until v3.0.1! And like @chemist show, the volume inside of the baggageclaime volume directory have strange user permissions. And even on my system is the userid the same like from @chemist. That show me it have nothing to do with his or my OS or se

[2018-03-20 17:56] marco-m commented on #2100
I think you will increase the chances of a response from the Concourse team if you format properly your bug description :-)

[2018-03-20 19:06] karlkfi opened #2102 "Suggestion: Task/Step duration time in GUI/CLI"
The Jobs in the GUI show duration, but I would like to also see the durations of each of the steps/tasks within a Job as well.

Is this info available in an API somewhere already?

[2018-03-20 20:15] hfinucane commented on #2089
I don't get 405s, I still get 200s, but they do seem to have quit working in 3.9.1.

[2018-03-20 21:24] jorymorrison commented on #1780
@pn-santos We are experiencing this issue as well. 1 of 2 concourse web instances is in a  persistently failing state. We also have several unknown and n/a volumes. We are thinking of manually deleting volumes and re-deploying concourse with the desired number of web instances.

[2018-03-20 22:30] anoop2811 opened #2103 "Fly with latest golang version does not EOF (https://github.com/golang/go/issues/24164)"
Hi there!

# Bug Report
We seem to be hitting this issue reported in golang: https://github.com/golang/go/issues/24164

If we compile fly with the latest go version, our reconfigure-pipeline binary does not get an EOF and remains stuck. As maintainers of reconfigure-pipeline, this was reported to us by one of the users.
Tried the replication against wings and compiled fly with go version 1.10

[2018-03-21 00:31] karlkfi commented on #2102
Dupe of https://github.com/concourse/concourse/issues/1788

[2018-03-21 00:31] #2102 closed

[2018-03-21 08:58] keithkroeger opened #2104 "Streaming of Build Logs to Additional Target"
# Feature Request

## What challenge are you facing?

We would like to be able to store logs for our builds offline (outside of concourse).
We see that the logs are stored within a PostgreSQL table for subsequent use by fly and/or the UI.  But, would there be a way to also stream these to some some other location?

This would allow us not only to store logs as part of the provenance of a build art

[2018-03-21 10:46] nenadstojanovikj commented on #2077
Happens on big builds definitely. I have to use the scrollbar and move it to the top and hold it there for few seconds to stop the autoscrolling somehow. This also happens if the build is finished.

[2018-03-21 14:22] watson opened #2105 "Programmatically detect Concourse CI environment"
# Feature Request

## What challenge are you facing?

I'm maintaining [is-ci](https://github.com/watson/is-ci/issues/13), a module for detecting your code is running in a CI environment, and [ci-info](https://github.com/watson/ci-info), a module for getting more information about the CI environment.

Recently an issue was opened on is-ci asking me to detect the presence of Concourse: watson/is-ci#

[2018-03-21 14:41] timrchavez commented on #2089
FWIW I setup an experiment and the webhook seems to be working fine in v3.9.2. I get a 200 response, the last checked counter resets, and the build starts. I set `check_every` to `5h` just to be sure it was the webhook firing.

[2018-03-21 15:13] jmelchio opened #2106 "Move worker lifecycle commands into its own binaries"
# Feature Request

## What challenge are you facing?

Currently we have more than one place in our code where worker functionality such as landing, starting and retiring workers are handled. Depending on whether we work with a `Bosh` release or a `Binary` installation it is handled differently and our goal is to make the behaviour same across multiple installations.

## A Modest Proposal

Work to

[2018-03-21 15:15] billimek commented on #2081
Still seeing this behavior in a fresh install of 3.9.2:

![sad panda](https://i.imgur.com/NwfZwrS.png)

[2018-03-21 15:17] dean-legalone opened #2107 "Feature Request: Allow for running container"
## What challenge are you facing?

I'm currently using dockito to build images securely, but with concource CI i don't have a way to run a container and connect to it in the task without using something like docker-compose

## A Modest Proposal

add a container resource that runs during a plan execution that the task will be able to use

[2018-03-21 15:30] vito commented on #2101
This is intentional. It's so that you don't have to follow the line all the way back to when the resource first occurred, which can get confusing in a large complicated pipeline.

We're gonna be redoing the pipeline UI entirely with v4.0, so I'm just gonna close this. Thanks for the feedback though! We definitely recognize that the current UI can sometimes get pretty confusing.

[2018-03-21 15:44] r-chris commented on #2107
I'm not exactly sure where you are stuck, but you can currently build docker images and run tasks in any docker image you wish: https://concourse-ci.org/running-tasks.html

Maybe share some pipeline snippets to show what you had in mind?

[2018-03-21 17:27] billimek commented on #2081
After trying different things, we have observed another repeatable pattern with this issue:

* When doing a fresh `docker-compose up -d` for this deployment in 3.9.1 & 3.9.2 we can consistently repeatably reproduce this issue.
* When we stop, remove, and restart only the concourse-worker container, the issue goes away.  This suggests that there may be a timing/concurrency issue with the worker sta

[2018-03-21 20:56] elgohr commented on #2042
Using Java 10 will eventually solve this issue http://openjdk.java.net/jeps/319

[2018-03-21 20:58] vito commented on #2042
@elgohr Unfortunately, yes. This is one of those areas of software where there seems to be no great solution no matter what we do. It took us long enough to even decide on which directory to mount in, since no Linux distro can agree on it. It's really no fun.

I'm not sure what you mean by the localhost point, sorry. I don't think resource images should be expected to work in any context except fo

[2018-03-21 21:13] elgohr commented on #2042
I mean overriding a path in a docker image violates the open-closed principle. It's not an extension, it's a substitution.
So the only real way to debug a resource in a environment with Certificate Propagation is via hijack. I liked Concourse, because it didn't depend on the host configuration. Now it does :-(

[2018-03-21 22:09] vito commented on #2042
Yep! Like I said though, this is partly because certificate management is
really a shit show regardless of the approach. We discussed and planned
this at length in https://github.com/concourse/concourse/issues/1027 and
are well aware of the trade offs of this approach, but no one came forward
to discuss an alternative and too many people wanted it for us to just do
nothing.

To me this falls under

[2018-03-22 05:17] leshik commented on #1457
I've been hit by this issue today when DigitalOcean restarted the hypervisor with my concourse installation. I'm using `docker-compose` deployment. After the reboot, the worker became stalled and ATC complained:
[code]
So I issued `fly prune-worker` to clean things up. But unfortunately, after that a new worker didn't come up and ATC complained `failed-to-initialize-new-container` with `no workers

[2018-03-22 05:33] elgohr commented on #2042
This feature has already not been implemented for Windows (https://github.com/concourse/concourse/issues/1953) and is obviously not working for Java - in resource or build. There would have to be an import of the custom ca into the keystore. This is only the top of the iceberg. There are various exceptions, which need people's action anyways (e.g. https://stackoverflow.com/a/36483477/1406669).
I d

[2018-03-22 05:47] elgohr commented on #2042
I mean the easiest solution for a java-resource to fix this, is to ignore /etc/ssl at all. See https://github.com/patrickcrocker/maven-resource/commit/b71caebc7d9b2086885363d799a3d2f9b6acd09e

[2018-03-22 07:19] elgohr commented on #2042
I would prefer to configure it inside the Bosh configuration and make it accessible via https://concourse-ci.org/implementing-resources.html#resource-metadata .
In this way resources and jobs would not have to change the interface like https://github.com/patrickcrocker/maven-resource/blob/master/README.md (repository_cert) and could decide on their own how to integrate into their specific context.

[2018-03-22 14:00] vito commented on #2042
@elgohr Of course this feature doesn't work for Windows. It doesn't need to; resources don't run on Windows, and we don't perform rootfs isolation on Windows. The issue you linked was a regression that we fixed prior to even releasing the feature. No one was impacted.

I know you don't like the feature right now and it broke a few Java-implemented resources, but please don't blow that out of propo

[2018-03-22 15:03] vito commented on #2105
Hah! That's kind of funny because we sort of make a point to *not* expose any Concourse-specific information to tasks. I'm not sure if we'll do anything about this, at least without knowing why people want it.

[2018-03-22 15:32] JohannesRudolph opened #2108 "pq: current transaction is aborted, commands ignored until end of transaction block"
# Bug Report

* Concourse version: 3.9.2
* Deployment type (BOSH/Docker/binary): Docker
* Infrastructure/IaaS: Meshcloud OpenStack
* Did this used to work? yes, no such problems on 3.9.1

Since upgrading from 3.9.1 to 3.9.2, we frequently see this error in Concourse UI when it's trying to fetch a resource. The issue seems to happen more often with a single resource type (bitbucket status resource)

[2018-03-22 16:08] shashwathi opened #2109 "Add batch volume and container deletion capabilities to concourse/worker"
# Feature Request

## What challenge are you facing?

ATC makes multiple calls to worker to delete volumes and containers which results in many connections and overhead on ATC process.

## A Modest Proposal

Add batch volume and container deletion to concourse/worker

- [ ] Add another process in worker binaries to query ATC periodically about desired state.
- [ ] Possibly add endpoint on ATC to p

[2018-03-22 16:11] jchesterpivotal commented on #534
I'm very strongly in favour of schema support as a way to improve validations and tooling.

[2018-03-22 19:35] topherbullock commented on #2074
@hfinucane This issue is related to the [migration library we're using](https://github.com/mattes/migrate), and the inability to safely recover from a state where the migrations it is trying to run for us never succeeded. As you observed, there's 3 steps it uses to run each migration. Here's the flow it follows for running migrations:

1. - Set the `schema_migrations` `version` to `<desired-versio

[2018-03-22 20:33] Bak3y commented on #1701
Would really appreciate some docs on this, needing to create concourse teams and tie them to GitLab teams

[2018-03-23 00:32] andrewedstrom commented on #2103
Link to reconfigure-pipeline: https://github.com/pivotal-cf/reconfigure-pipeline

[2018-03-23 05:50] andrewedstrom commented on #2013
Done! Please review the PRs at your earliest convenience.

concourse/atc#255
concourse/fly#212
concourse/go-concourse#9

[2018-03-23 07:20] leshik commented on #1966
@vito @fkoclas I'm using Concourse in docker-compose, and recently I switched my whole `/var/lib/docker` to `btrfs` due to performance issues with `overlay2`. Therefore Concourse now uses `btrfs` automatically, but I started to experience this issue with hanging workers now. I'm on `3.9.2`. Could switching back to `overlay2` in docker, and then to `btrfs` baggage claim loopback on top of `ext4` (o

[2018-03-23 10:04] ringods commented on #1766
@jchesterpivotal I'm building a product that does that exactly! Feel free to reach out to me. My Twitter handle is the same as my Github handle. ;-)

[2018-03-23 11:03] charytecholution opened #2110 "How can we trigger individual microservice projects inside single github repo using concourse?"
Hi Team!

We are using concourse for cicd in our most of the micro-services projects.The challenge we are facing is we are keeping all microservices(14 services) inside single github repo, whenever we push some changes to particular microserice the concourse build will trigger and it tries to build all the microservices and it will push all the microservices images to dockerhub but it is taking 2-

[2018-03-23 13:38] billimek commented on #2081
The other thing we've observed is that when starting up a fresh concourse deployment via the `docker-compose` deployment approach, we never see the worker registered (via `fly workers`), unless we restart the concourse-worker container.  This suggests that perhaps the worker is starting-up too fast in relation to the ATC, or not handling unavailable ATC.

Indeed, if we simply `docker-compose resta

[2018-03-23 15:18] fkoclas commented on #2095
What ends up happening for us is our ATC pod in kubernetes restarts, but then all of the workers's concourse processes just quit.

It happened again yesterday:

[code]

[2018-03-23 16:01] andreaspeters commented on #1753
I tried it again under a out of the box Ubuntu 16.04 from a hosting company. With the newest docker ce version. And it's just running without trouble. I think its not flying on every hosting architecture. If someone got that failure too, try old stile hosting companies. :-)

[2018-03-23 16:03] aleliaert opened #2111 "Performance and database issues"
Hi,

We're having concourse jobs stuck in pending state for a very long time, all while seeing lots of slow queries on our postgres server.  Also seeing resources being slow to trigger, sometimes taking hours, even when `check_every` not set (defaulting to 1m).  When things get really bad, the list of jobs on the left in the GUI is not updated.

The first time this happened, we got some relief by

[2018-03-23 17:45] skazanskiy3 commented on #2095
Also experiencing this error after upgrading from 3.8.0 to 3.9.2

[code]

[2018-03-23 18:01] jchesterpivotal commented on #1766
Happy to learn more -- best way to reach me is email (see my profile).

[2018-03-23 20:53] Freakin commented on #1107
Health check endpoint should also not redirect back to external URL

[2018-03-23 23:06] Freakin opened #2112 "Adding jitter to resource intervals"
# Feature Request

Add jitter to intervals so they don't execute at the same time

## What challenge are you facing?

I have a set of ~450 pipelines which have git resources with a 12h `check_every` interval to trigger a job on changes (also using webhooks for immediate trigger).  All of these resources check at the ~exact same time, which creates a lot of load on both concourse as well as the int

[2018-03-24 02:01] walked commented on #1996
@jama-pivotal I'm seeing the same issue; only with Chrome. Firefox is just fine.

Just an additional data point. Concourse v3.9.2, Chrome version Version 65.0.3325.181

Right click --> Open in new tab is my workaround at the moment.

[2018-03-24 14:18] timrchavez commented on #2111
Are you using btrfs or overlay (the current default) for your filesystem driver?

[2018-03-24 17:25] aleliaert commented on #2111
@timrchavez - Default overlay filesystem driver is being used to my knowledge.  We're deploying via concourse-deployment with just a small set of ops files to change scale, get https, and use an externalized postgres.  Is there a good clue in our interpolated bosh manifest which shows which one?  I don't see `btrfs` or `overlay` in the manifest.

On the database front, I did some more postgres sle

[2018-03-24 18:20] baszalmstra commented on #1030
It appears I've solved this issue while moving from a chef based installation approach to ansible. I can't be sure what resolved the issue. I've removed all chef components from the servers, disabled Real-Time protection and poof since today my transfer speeds between windows and linux servers went from 4Mbit to 900Mbit.

Very strange, but good riddance, now I can finally keep up with the latest v

[2018-03-24 18:20] #1030 closed

[2018-03-25 01:36] Eulerizeit commented on #2066
Currently on 3.9.2 and we are still consistently unable to load jobs that have large output.

https://gpdb.data.pivotal.ci/teams/main/pipelines/postgres_merge/jobs/icw_planner_centos6/builds/310

https://gpdb.data.pivotal.ci/teams/main/pipelines/postgres_merge/jobs/icw_planner_ubuntu16/builds/253

[2018-03-25 02:48] vito commented on #1030
Huh. Yeah, that's odd. Thanks for following up and sorry we never really dug in to this!

Things should get even better with the next release which will gzip-compress the bits streaming between workers.

[2018-03-25 04:36] MasterBroda commented on #1143
Hi @chendrix I've just started the flight-school tutorial and I'm facing a similar error.
[code]
I'm not sure how to go forward and ironically the tutorial isn't a big help. This Socratic approach isn't very useful when you're on a deadline.

[2018-03-26 07:49] marco-m commented on #2067
hello ?

[2018-03-26 11:02] holmboe commented on #2110
@charytecholution do you keep the microservices in separate paths or separate branches? It seems that @timrchavez is assuming separate paths. I am unsure whether the proposed solution really solves the original problem though -- listing a separate path for each microservice would still trigger on a change to ANY microservice.

[2018-03-26 11:15] charytecholution commented on #2110
@holmboe i am keeping microservices in separate paths.

[2018-03-26 13:03] Velann opened #2113 "Jobs serialization and letting concourse pick the latest build trigger for the job among all enqueued ones."
Hi

I have a pipeline which has three parallel jobs (J1, J2, J3) to begin with, once J3 passes J4 will be triggered.
Then J5, J6, J7 will be serially triggered based on the success of all J1, J2 & J4.

Here we are using lock mechanism to control the trigger of the three parallel jobs, Still lot of manual intervention required as sometimes locks has to be released manually. Leaving that apart.

Com

[2018-03-26 14:01] Lindsayauchin commented on #1663
![dashboard_login_search_quick_logout](https://user-images.githubusercontent.com/27746614/37910884-9705150c-30dc-11e8-8acc-9ca983c58232.png)

[2018-03-26 15:17] doty-pivotal commented on #1903
This issue has not been resolved.  We are apparently scheduling time directly with the team to work on this issue.

[2018-03-26 15:39] baptiste-ls commented on #2075
For a more user-friendly interface there's the [goldfish](https://github.com/Caiyeon/goldfish) project that supports many authentication types.

Also clients of Hashicorp have access to their Vault UI feature ($$$$).

[2018-03-26 15:49] iuriaranda commented on #1367
Is there any update on this?

As of now, we're using the approach mentioned by @novas0x2a as a workaround, but I don't think it can be considered a final solution to this issue. The main downside of such approach is that Concourse is not able to fetch a new token when the old one reaches [its maximum TTL](https://www.vaultproject.io/docs/concepts/tokens.html#the-general-case). In that case, the Va

[2018-03-26 16:06] nebhale commented on #2042
@vito This doesn't seem like a viable solution for the reasons that @elgohr [mentions](https://github.com/concourse/concourse/issues/2042#issuecomment-374636457).  Effectively, you're deleting a part of the container image that that image depends on.  Forcing the resource to work around this abnormal (at least in my experience) in that it requires the resource to assume that the image it's based o

[2018-03-26 16:12] nebhale commented on #2042
@elgohr this issue [won't be solved by OpenJDK 10](https://github.com/concourse/concourse/issues/2042#issuecomment-375092687).  While it is true that OpenJDK doesn't ship with certificates and having some would remove the need for [builders to add them](https://github.com/cloudfoundry/java-buildpack-dependency-builder/blob/master/openjdk.sh#L60-L68), the issue here is actually that the OpenJDK tea

[2018-03-26 16:40] vito commented on #2042
@nebhale We actually researched how BOSH and Diego do this prior to our approach. There's a *critical* assumption that BOSH and Diego make that allows them to add the certificates without replacing them: they have full control over the stemcell images they support, and in Diego's case, the rootfs they expect users to be running. As a result they can know what command to run to install the certs (w

[2018-03-26 17:17] nebhale commented on #2042
@vito I believe that you and I are destined to disagree on how Concourse should behave in regards to this.  I'm not likely to do any extra work in my resources to work around this feature in Concourse.  Given that I'd have to replicate the same behavior in multiple resources, simply [disabling the feature](https://github.com/concourse/concourse/issues/2042#issuecomment-366102879) as I've already d

[2018-03-26 17:53] phillbaker commented on #2111
This also looks similar to https://github.com/concourse/concourse/issues/1298.

[2018-03-26 18:40] vito commented on #2042
@nebhale It seems silly to pretend this is some fundamental ideological difference, so I'm going to just assume you don't have the time or will to help. Which is fine.

I have no horse in this race. We've done as much as we can to try and make this a collaborative effort, going back to #1027 which was open for a *long* time with a ton of +1's and only a few competing ideas. My comment (https://git

[2018-03-27 01:55] inkblot opened #2114 "Error loading CA File: Couldn't parse PEM"
# Bug Report

When I supply the concourse server with the CA certificate for vault, `concourse web` fails. The CA certificate was generated using vault.

* Concourse version: concourse/concourse:latest (sha256:c9175c95e95061ab65e108ad9c2ea16e169cbec4743282e47f6e7be903016285)
* Deployment type (BOSH/Docker/binary): Docker
* Did this used to work? Not that I've seen

## Steps to Reproduce

[code]

[2018-03-27 09:36] leshik commented on #1966
It didn't help, unfortunately. And `overlay2` is painfully slow.

[2018-03-27 09:51] leshik opened #2115 "Using BTRFS for baggageclaim results in freezed server often"
# Bug Report

I switched to `btrfs` driver because `overlay2` is painfully slow. Everything was great until it stops working, and when it stops – the only solution is to **physically** restart the underlying VM. I'm using `docker-compose` and when this happens `docker restart concourse_worker_1` doesn't help because docker can't kill the container. Even `systemctl stop docker.service` doesn't help

[2018-03-27 10:14] elgohr commented on #2042
Please keep the discussion alive.
When I got it correct, Concourse is using Garden for running the Containers. Garden usually uses Grootfs for managing the containers filesystem. Grootfs makes support for buildpacks possible.
Wouldn't it be a possibility to have something like buildpacks for the containers?
Please correct if I made a wrong assumption.

[2018-03-27 14:17] benmoss opened #2116 "Logged out users can see build tasks"
* Concourse version: 3.9.2

We noticed that when we refreshed the page on a build while logged out of our Concourse, we were able to briefly see the job information. This seems like a bug since once the page finishes loading it shows us the "Log in to view" message instead.

![concourse-bug](https://user-images.githubusercontent.com/239754/37973238-0a89eb62-31a8-11e8-996c-b59bcb699365.gif)

[2018-03-27 15:24] RomRider commented on #2056
Hi team, is this something you could integrate in your next concourse release? The credhub-cli team cut a new release (1.7.0) which integrates the PR. It's currently a blocker to deploy credhub behind a GCP L7 Load Balancer if you want to integrate it with concourse.

[2018-03-27 15:39] #1997 closed

[2018-03-27 15:55] jviotti opened #2117 "Concourse symlinks C: to the volume directory"
# Question

Just out of curiosity, why does Concourse symlinks the drive letter to the volume directory on Windows? ie `C:` seems to symlink to the `concourse/work/live/<uuid>/volume` directory.

[2018-03-27 15:55] rikribbers opened #2118 "Vault integration with strict vault token policy fails"
Hi,

When running docker with vault integration it looks like the authentication against vault is broken. The behaviour described below was working in version 3.6.x and with 3.9.2 it breaks our setup.

We have a strict policy on the vault secret-id; I can be used only once.

However concourse is using it twice for login. In the logging you will see a "atc.credential-manager.login.succeeded" messag

[2018-03-27 15:56] rikribbers commented on #2118
nice indentation btw..

[2018-03-27 16:28] nebhale commented on #2042
@vito The root of our disagreement seems to stem from the fact that I don't believe that resources should need to change their expectations about their base images.  A `Dockerfile` creates a self-contained and testable artifact that should be deployable in any container.  The problem is that the Concourse is now mutating that container in a way that breaks the assumptions baked into _and tested in

[2018-03-27 16:47] elgohr commented on #2042
@nebhale having a look at `docker run -v`, this is the default behaviour... Just guessing.
Nevertheless I was also struggling with the testing point. We would need to have integration tests for every target environment per image...

[2018-03-27 16:50] jraqula commented on #413
@leshik i have had some success in past leveraging the "disable version" feature in concourse -- if you thread your source code along with any assets generated in the pipeline, and the deploy job does a "get" of it with a passed constraint even if the deploy only needs the assets themselves, the deploy will only use versions of the asset built along with the non-disabled versions of source code. t

[2018-03-27 16:56] troykinsella commented on #2110
You can create a separate resource and build job per microservice. My org solves the repetition problem by  running the concourse yaml through a template engine.

[2018-03-27 16:59] troykinsella commented on #2111
The naive driver is the default (for binaries, at least - I know nothing about bosh), which has poor performance. Perhaps you need to explicitly set `overlay` or `btrfs`.

[2018-03-27 16:59] marco-m commented on #1997
Thanks for fixing this!

[2018-03-27 20:18] vito commented on #2115
Kernel version?

[2018-03-27 20:21] leshik commented on #2115
Sorry, forgot about this – `4.13.0-37-generic` from Ubuntu 16.04 HWE.

[2018-03-27 20:24] vito commented on #2117
I'm not sure what you mean by this. What symlink?

[2018-03-27 20:44] vito commented on #2115
Interesting. Do you see high memory usage prior to the lockups? And possibly once it starts swapping it hangs? Is it consistently `kswapd` in the trace when this happens?

This is the first I've seen this particlar scenario, but a cursor googling of "btrfs kswapd0" yields some interesting results.

[2018-03-27 20:44] timrchavez commented on #1227
We've experienced situations where the job will stay yellow, even though it's completed. The expectation is that it goes green. Sometimes users will wait a really long time for it to transition from yellow to green and _think_ the build is taking a lot longer than it actual has. I'm wondering if this is related?

[2018-03-27 21:17] baptiste-ls commented on #2118
I have the same setup for Concourse 3.9.2 and Vault. IMO this looks like an approle backend configuration issue, have you tried recreating it to provision new role/secret_id?

[2018-03-27 21:23] leshik commented on #2115
Honestly, I don’t know as I didn’t look at stack traces before (I checked Concourse logs). I will pay more attention now. As for memory usage, I don’t think so. The application I’m testing is quite conservative on memory usage and my tasks are mostly run in serial fashion. I’ve never seen usage over 60% on this server.

[2018-03-27 21:29] dean-legalone commented on #2107
i was suggesting kind of a native support for docker compose, or in other words, keeping "tasks" alive even after they finished running, so that it would be possible to launch a DB container, for example, and use it in another task.

[2018-03-27 21:52] vito commented on #2042
@nebhale Because that's just how we implemented it so far. :P We just blindly read-only mount to the target directory, not caring if it already exists. Most of the time, this works. As we can see now, sometimes it doesn't, so it's a good time to reassess.

On that note, I wonder who should win if/when we do go with a cert store merging approach. Should the host's certs be injected into/over the co

[2018-03-27 22:09] timrchavez commented on #875
This seems like it could be related to https://github.com/concourse/concourse/issues/1543

[2018-03-27 22:23] nebhale commented on #2042
My gut expectation is that Concourse certificate management is additive only.  You start with the OS's certificates, add Concourse ones and do whatever magic needs to happen after that.  If this means overwriting something that already exists, I think that's acceptable.

I can easily envision a requirement (which doesn't mean that the requirement has been proposed) that you be able to ensure that

[2018-03-27 22:23] timrchavez opened #2119 "Build view quits updating in real-time"
# Feature Request / Bug Report

## What challenge are you facing?

There are situations where a developer will be monitoring their build from the build view in the UI, waiting for it to complete. We have run into a situation where the build page stops updating in such a way that it _appears_  the build is stuck or blocking. More specifically: the build log stops updating, the build view remains ye

[2018-03-27 23:16] vito commented on #2042
Woops, didn't see https://github.com/concourse/concourse/issues/2042#issuecomment-376472160 or https://github.com/concourse/concourse/issues/2042#issuecomment-376588829. GitHub's being real janky today for some reason. (I started writing this but now I'll reply to https://github.com/concourse/concourse/issues/2042#issuecomment-376695559 too.)

@elgohr Concourse doesn't make use of grootfs. It mana

[2018-03-28 00:30] jviotti commented on #2117
@vito If I start a Windows job, and within the job I stat `C:`, then it tells me its a symbolic link. If I follow the symbolic link, I end up back in the `volume` directory where my build is running from. I was wondering how this worked, and why.

[2018-03-28 04:45] elgohr commented on #2042
@vito I wouldn't expect developers, using Concourse, to know how to operate it. The more it depends on the worker as the single source of truth, the more we come to the "could you please install tool x to agent y"-experience in former buildtools, which is the same for certificates.

[2018-03-28 09:05] marco-m commented on #1540
hello any news ?

[2018-03-28 09:39] DRuggeri commented on #2095
Same. We were able to work around the problem temporarily by rerunning the BOSH deployment, but the "fix" did not last long. Deleting both VMs and having them recreated from scratch was the only consistent fix.

[2018-03-28 14:27] jeffgreenca commented on #1996
On Chrome, incognito window:
Open concourse, log in, can click on pipelines to access builds.

Close all windows, open new incognito window, then:
Open concourse, log in, use scroll wheel to adjust scaling at all, cannot click on pipelines to access builds.

Chrome Version 65.0.3325.181 (Official Build) (64-bit) on Windows, Concourse v3.9.2 (docker).

[2018-03-28 17:28] vito commented on #2095
Looking at this now!

[2018-03-28 17:48] vito commented on #2095
Does anyone have steps to repro this consistently by any chance? I mean, I can obviously see the line of code to fix, but I'm not quite sure how the code would get into that situation (of something calling .Succeeded before the step runs).

[2018-03-28 18:32] vito commented on #2095
Nevermind, got to the bottom of it. It happens when a retry step is preceded by a Task step which errors.

[2018-03-28 18:35] vganoradg opened #2120 "ATC database migration SQL script mistakenly assumes "public" schema"
# Bug Report

I found a problem in the ATC database migration SQL scripts. Line 8 of 1517330648_add_worker_resource_certs.up.sql assumes that the "workers" table is in the "public" schema. (See https://github.com/concourse/atc/blob/1d8e64412cf894801be7c655a95bdfe01e1e86a8/db/migration/migrations/1517330648_add_worker_resource_certs.up.sql#L8 ) Nothing else make that assumption and we've always use

[2018-03-28 18:40] #2095 closed

[2018-03-28 19:49] vito commented on #2120
Good catch! We should definitely fix that.

A PR would be very much appreciated, fwiw.

[2018-03-28 20:54] shashwathi commented on #2071
It is possible that Job A and Job B are triggered because of new commit to `flight-school` resource. Job A and Job B have `trigger: true` set only on that resource.

If there is a new commit on flight school which has passed `Job C` then `Job D` will be triggered. It is possible that the following sequence of events might have occured
- Job A and Job B pass with commit 1234
- Job C is triggered wi

[2018-03-28 21:21] shashwathi commented on #2065
@dilipmighty245 : Looks like there is no process running at that endpoint. `CF_DIAL_TIMEOUT ` is cf cli timeout and this is not related to concourse.

[2018-03-28 21:31] shashwathi commented on #1989
If worker is listed as `running` but not taking on any work it could mean worker is not able to connect/create to garden server which manages container lifecycle. Worker could also have problem connecting to `baggageclaim` server which is responsible for managing volumes for builds.

Is there any logs from worker when it gets into this stage?

[2018-03-29 00:31] #2069 closed

[2018-03-29 00:37] #1874 closed

[2018-03-29 00:42] #2088 closed

[2018-03-29 06:07] rikribbers commented on #2118
Yes I have, but no success

vault write -address=${VAULT_ADDR} auth/approle/role/concourse-client \
  bind_secret_id=true \
  policies=concourse-client-token-policy \
  secret_id_num_uses=1 \
  secret_id_ttl=1h \
  token_num_uses=0 \
  token_ttl=1h \
  period=1h

and the underlying policy is

path "secret/concourse/*" {
  capabilities = ["read"]
}

Will try some more today to get it up-and-running

[2018-03-29 06:19] SaurabhQA commented on #2071
Thanks! It works 👍

[2018-03-29 07:25] rikribbers commented on #2118
I have been debugging the startup while tracing on the docker host using the following script (inside a magic container from registry.access.redhat.com/rhel7/rhel-tools)

while true; do pid=$(pgrep -x -f "/usr/local/bin/concourse web"); if [[ -n
then strace -f -o /tmp/strace.out -s 2000 -vvtf -p "$pid"; break; fi; done

I see two pids authenticating to vault, I don't know why but this seems wrong.

[2018-03-29 07:50] francoisruty commented on #1989
hello, sorry, I don't have particular logs, but I had googled them at the time and there wasn't any particular clue
I ended up running Concourse inside a VM to separate it from my production docker daemon, and all is fine now, and I have a script that shuts down and restart the VM + Concourse inside it in case of

[2018-03-29 13:42] #2071 closed

[2018-03-29 14:04] #1404 closed

[2018-03-29 14:04] #2106 closed

[2018-03-29 14:05] #2017 closed

[2018-03-29 14:05] #2070 closed

[2018-03-29 14:05] #1371 closed

[2018-03-29 15:34] shashwathi commented on #1880
`feature/token-error` branch in fly project contains this feature.

[2018-03-29 16:02] shashwathi commented on #2004
@ashishgoel-ps : Can you provide the version of Concourse ?

[2018-03-29 16:05] shashwathi commented on #1792
@tuanphpvn : Default port is 8080. Update fly target to use 127.0.0.1:8080 as ATC URL.

[2018-03-29 16:10] wesm-outreach commented on #2119
I'm also experiencing this issue.

[2018-03-29 16:21] shashwathi commented on #1549
@jeroenjacobs1205 : Concourse worker currently does not take any flags to set log level. So `--garden-log-level error` will not have any impact.

We could add `--log-level` flag to worker to enable more control for user on logs.

[2018-03-29 16:32] shashwathi commented on #1549
This change will be present in future versions of concourse binary. `--log-level` will be the flag to use for controlling log level binaries.

[2018-03-29 16:37] shashwathi commented on #1064
@tom-meyer : Looks like this is fixed in recent versions of `fly`. Closing this issue.

[2018-03-29 16:37] #1064 closed

[2018-03-29 17:20] charleshansen opened #2121 "fly targets crashes when first fly login fails"
Hi there!

Please pick the appropriate section (Feature Request or Bug Report) and delete the rest of this. Note that "missing support for X" is a feature request, not a bug!

# Feature Request

Add a target to fly without logging in.

## What challenge are you facing?

I am attempting to write a workstation setup script that will install fly and add a target to fly. The only way I see to add a ta

[2018-03-29 18:23] shashwathi commented on #2067
@marco-m :

If you have containers matching the name of task with multiple builds, then interactive option is prompted. To avoid this try to add `-b, --build=` to mention a specific build number. Another option would be to try `-u, --url=` along with `-s` too.

To avoid `watch` hang for a prompt consider using either URL(`-u`) + `-s` or use `-j`, `-s` and `-b` option.

[2018-03-29 19:15] marco-m commented on #2067
Ah @shashwathi thanks, you made me realize that I confused two things. I Though that the only reason for `fly intercept` to drop to interactive mode was if the step was not specified (and this is what I put in the title of this ticket), while it is clear that it was as you mention: fly was asking me to select the build, not the step:

[code]
 Having cleared this misunderstanding on my side, here i

[2018-03-29 19:48] shashwathi commented on #2121
related to [issue](https://github.com/concourse/concourse/issues/1880)

[2018-03-29 23:03] jraqula commented on #534
@vito @robdimsdale you could use the YAML native `<<` append syntax to get multiple top-level objects `load`ed, right? (but you would be subject to the native merging rules, which yous probably know more intimately than I):
[code]

[2018-03-29 23:52] jraqula commented on #534
@vito @robdimsdale regarding the use of source vs params, I like the idea of where/how you specify them being decoupled from the API, so that you can put a param in the resource definition and always inherit. however that issue seems separate from the issue of what a resource author can do with an opaque `config` style API.

to that effect, as far as caching goes two things continue to bother me:

[2018-03-30 16:02] DimitrieStoica commented on #1367
This looks like a great feature to have! I am also interested to find out if you have any updates on this.

[2018-03-30 18:09] nebhale commented on #2042
I totally agree that more and more of this is already happening and we shouldn't be shying it away from it.  I also agree that these behaviors will always cause un-testable failures, my argument is just that removal is a very drastic form of change that is much more likely to cause failures than addition or mutation.  I'd also argue that the precedent for those other overrides are much better know

[2018-03-30 18:30] spmsaj commented on #645
How can we help get this prioritized. It does look like quite a lot of customers are wishing for this. So should have been on a priority list. A MVP can be a first phase.

[2018-03-30 20:39] Rahul-github opened #2122 "I tried using JIRA resource but ended up with an error"
Hello!

I am trying to use JIRA resource type `https://github.com/danrspencer/jira-resource` but ended up with following error in Concourse pipeline.

[code]

I have used their [example pipeline](https://github.com/danrspencer/jira-resource/blob/master/ci/pipelines/example.yml)

Can anyone help me how can I use this?

[2018-03-31 11:47] JohannesRudolph commented on #1987
Since the work on spaces has just started https://github.com/concourse/concourse/issues/1707, may I also add another scenario: sharing cache volumes between different "variants" of a job or task. We currently repeat many jobs 3 times in our pipeline to serve in build pipelines of different git branches (feature/*, develop, master). This causes us to have a lot more caches than we would need concep

[2018-03-31 13:37] timrchavez commented on #2062
I think we just hit this too.

[2018-03-31 13:58] timrchavez commented on #2062
Actually our problem is slightly in different, but similar exit (in our case the reason for beacon exiting is different, but happened exactly when we restarted web nodes via the binaries). The restart of the binaries was a result of an upgrade from v3.9.0 -> v3.9.2. Our haproxy, which is used to handle the *:2222 connections as well does not have tcp health checking enabled which probably means it

[2018-03-31 15:42] JohannesRudolph commented on #2115
@vito can you elaborate on this?

[2018-03-31 17:43] clintjedwards commented on #1934
Just something additional observed, if you don't provide the `CONCOURSE_SESSION_SIGNING_KEY` at all (I provided the `CONCOURSE_TSA_SESSION_SIGNING_KEY` instead before stumbling upon this thread), upon a worker attempting to join, the concourse web service will crash loop trying to sign the request and error with a null pointer on the signing function.

Assuming on web's startup it should probably

[2018-04-01 10:50] clintjedwards commented on #1814
Kicking concourse's tires for the first time, but I've used vault a bunch in other projects. I'd like to jump on the current bandwagon mentioned first here: (https://github.com/concourse/concourse/issues/1391). It seems like concourse would benefit from not only moving secret configs to a per-team basis, but also being more agnostic with how lookups are performed.

Traditionally my vault environme

[2018-04-02 07:54] ashishgoel-ps commented on #2004
i got it working. its just the right pair of keys you need on the worker to establish connection to tsa. I am using concourse v3.8.0

[2018-04-02 07:54] #2004 closed

[2018-04-02 14:32] vito commented on #2120
thanks for submitting the PR!

[2018-04-02 14:32] #2120 closed

[2018-04-02 14:49] sampeinado commented on #1915
![green](https://user-images.githubusercontent.com/35495560/38200708-5bb7e63c-3663-11e8-9ed2-37e8f315143e.png)
![pause hover](https://user-images.githubusercontent.com/35495560/38200714-6245929c-3663-11e8-9665-9b0124943e38.png)
![pause click](https://user-images.githubusercontent.com/35495560/38200716-65a14d6e-3663-11e8-929f-c09de7a99c25.png)
![paused](https://user-images.githubusercontent.com/354

[2018-04-02 15:04] sampeinado commented on #397
See proposed solution below. I have changed the structure of the page slightly by moving the green/red/blue bar beneath the list of builds and putting the build number and build timing info within that bar. I also changed the styling of the trigger build button and added a new button which can be used to pause the the job. This pause button is left aligned while the trigger build button is right a

[2018-04-02 16:11] gaui commented on #1200
This is a crucial feature for our team and is a dealbreaker for us to switch to Concourse from our current CI system, GitLab. Although in any other aspect, Concourse is a MUCH better designed CI system.

CI systems should be stateless - meaning that they don't contain any state/configuration beforehand (except a Git repository to watch), instead they read everything from a file in a Git repository

[2018-04-02 16:42] markstgodard opened #2123 "Link to architecture docs on main README.md (404)"
Just noticed the link to *Concourse Architecture* on main https://github.com/concourse/concourse page is 404ing.
Link in question is: https://concourse-ci.org/architecture.html

Not sure if its no longer a thing or if during the new site UI link broke.

Cheers

[2018-04-02 17:25] jama-pivotal commented on #2123
The new link is actually https://concourse-ci.org/components.html , so I can take on updating the README.md to point to the right pages

[2018-04-02 17:27] jama-pivotal commented on #2123
...and done, closing

[2018-04-02 17:27] #2123 closed

[2018-04-02 17:29] jama-pivotal commented on #2116
@benmoss Hmmm, does this happen for all the jobs, or just a specific one? Also, can you provide browser details (in case its browser specific). Trying to reproduce on some of our internal environments here and I'm having difficulty getting repro'd locally

[2018-04-02 17:40] brownjohnf commented on #1379
@jama-pivotal I'm also interested in this, and open to building my own binaries, but I can't find any documentation anywhere about how to build the set of concourse binaries. Could you please point me to documentation?

[2018-04-02 17:57] vito commented on #1176
Another one: https://github.com/concourse/github-release-resource/pull/68

[2018-04-02 18:36] #2013 closed

[2018-04-02 18:36] vito commented on #2013
Thanks for doing this!

[2018-04-02 18:59] billimek commented on #2081
Starting with concourse v3.10.0, this issue doesn't express itself.  Will monitor for a few days and close the issue.

[2018-04-02 19:21] vito commented on #534
@jraqula The caching question is extremely tricky. Changing credentials may not affect the contents of the cache, but having the credentials be *verified* should be a precursor to anyone's ability to use the cache. If they aren't part of the key, and we don't perform any additional verification (there's no resource interface for this), we've got a very serious information leak on our hands (creden

[2018-04-02 21:40] benmoss commented on #2116
@jama-pivotal it happens for all jobs. [this](whatsmybrowser.org/b/DVUNKMR) is my browser info, though i'm pretty sure it's not browser specific. I think it only happens when you have public pipelines though.

I looked into the API calls that the Javascript is making and it looks like the API is showing the build values and only the UI is hiding them, so I'm not sure if this is intentional or not.

[2018-04-03 06:44] engrun commented on #2099
We ended up reinstalling Concourse using concourse-up, be we still see **a lot** of these error messages

[code]

[2018-04-03 06:49] engrun commented on #2042
Just to let you know. I bumped into this issue before easter, in relation to the [concourse-sonarqube-resource](https://github.com/cathive/concourse-sonarqube-resource) [ and was banging my head in the wall for a day or two ;)  ].
Thanks to the fix in the maven-resource referenced above, I was able to apply the same fix and submit a pull request to the maintainer.

[2018-04-03 06:54] JohannesRudolph commented on #2108
I can confirm we still see the same issue on Concourse 3.10

[2018-04-03 08:20] ezraroi commented on #1404
So after upgrading to 3.10.0 i removed the CONCOURSE_BAGGAGECLAIM_DRIVER='btrfs' env from our workers and looks like the issue returned now... we see 10+ minutes spinning build steps

[2018-04-03 10:05] sattan66 opened #2124 "Bug: Grafana dashboard issue - deployment name from concourse is missing"
Hi ,

#BugReport

I am using Prometheus bosh release to monitor concourse.  I have followed the below links to setup the monitoring.

https://github.com/bosh-prometheus/prometheus-boshrelease/blob/master/manifests/operators/monitor-concourse.yml

https://github.com/bosh-prometheus/prometheus-boshrelease/blob/master/manifests/operators/concourse/enable-prometheus-metrics.yml

I am able to get the m

[2018-04-03 13:29] vito commented on #2124
@jmcarp @TimSimmons Is this because the Prometheus emitter ignores [`--metrics-attribute` flag](https://github.com/concourse/atc/blob/cb54e7f3d8f15269e6aaa736ed943dc3a88944cf/atccmd/command.go#L136)? These values get added on to the attributes for all events emitted, but the Prometheus emitter [selects particular attributes for emitting](https://github.com/concourse/atc/blob/cb54e7f3d8f15269e6aaa7

[2018-04-03 14:32] TimSimmons commented on #2124
It is! It's generally an [anti-pattern](https://groups.google.com/forum/#!topic/prometheus-developers/JyGxKxhQu18) to add labels to all Prometheus metrics. We could however add a `concourse_build_info` metric, similar to what is described here:
https://www.robustperception.io/exposing-the-software-version-to-prometheus/
also of note:
https://www.robustperception.io/how-to-have-labels-for-machine-r

[2018-04-03 14:43] shashwathi commented on #2109
Changing the refactor to
- [ ] Add endpoint on baggagelcaim for volume deletion
- [ ] Update ATC call the batch API during GC to cleanup orphaned volumes

[2018-04-03 14:48] vito commented on #2124
@TimSimmons Thanks for the context! :)

@sattan66 Would that suggestion work for you?

[2018-04-03 15:09] shashwathi commented on #2109
- [ ] We need batch deletion API, which makes multiple local/remote calls to garden client to delete containers.
- [ ] Client for this new API
- [ ] Beacon reg process needs to forward this addr to ATC
- [ ] ATC should call this client to cleanup orphaned containers

[2018-04-03 15:18] mhuangpivotal commented on #1818
Discussed with @sampeinado and we agreed that the current design is fine.

[2018-04-03 15:18] #1818 closed

[2018-04-03 18:39] pivotal-jwinters commented on #1888
@Lindsayauchin @sampeinado

Mind having a look at these screens for the auth flow and making them more concourse-y?

![screen shot 2018-04-03 at 2 29 06 pm](https://user-images.githubusercontent.com/1072233/38268177-7187545a-374b-11e8-92ac-80888eb95c6c.png)

![screen shot 2018-04-03 at 2 29 10 pm](https://user-images.githubusercontent.com/1072233/38268181-73940edc-374b-11e8-94b4-657b965cbb72.png)

[2018-04-03 21:07] jama-pivotal commented on #1379
@brownjohnf we have some getting started with contributing under our quickstart guide for engineer contributors: https://github.com/concourse/concourse/blob/master/CONTRIBUTING.md

Not sure if that has enough specific detail to get you started though...

/cc @vito to see if he has any more resources

[2018-04-03 21:09] jama-pivotal commented on #1792
Closing because we've basically abandoned the concourse tutorial on the website in favour of Stark & Wayne's https://concoursetutorial.com/

[2018-04-03 21:09] #1792 closed

[2018-04-03 21:14] jama-pivotal commented on #979
closing, because we removed the single page version of the docs in the latest version of the docs

[2018-04-03 21:14] #979 closed

[2018-04-03 21:14] jama-pivotal commented on #1387
ITS BACK!

[2018-04-03 21:14] #1387 closed

[2018-04-03 21:15] jama-pivotal commented on #1378
Closing because we've abandoned flight school in favor of Stark & Wayne's https://concoursetutorial.com/ Flight School no longer exists rip

[2018-04-03 21:15] #1378 closed

[2018-04-03 21:17] jama-pivotal commented on #1927
We've abandoned the tool comparison completely in the latest iteration of the website, opting instead to focus more on the key features of Concourse. What do ya'll think @kkapelon and @trobert2 , do we do a good enough job highlighting the benefits of Concourse on the new site? we wanted avoid conversations around direct comparisons

[2018-04-03 21:26] jama-pivotal commented on #1143
Closing because we're now pointing folks to use the https://concoursetutorial.com/ by Stark & Wayne instead

[2018-04-03 21:26] #1143 closed

[2018-04-03 21:33] shashwathi commented on #2109
[dev]`reap-containers` on worker repo has API, client for reaping containers

[2018-04-04 00:27] mehrotra-prateek commented on #1842
+1

[2018-04-04 00:31] aeijdenberg commented on #1417
https://github.com/concourse/atc/pull/258 adds some global options to set build log retention:

[code]

Hope that's helpful - we hit this issue yesterday whereby our database ran out of space - would be nice to be able to set a global default and maximum.

[2018-04-04 01:12] jraqula commented on #534
@vito secondary concern then while I stew over that: `params: {force: true}` on a `put: my-git-resource`. That seems like an important thing to be able to do idempotently, but i feel like genuinely would constitute a `delete` as well -- there may now be spurious SHAs in the version history.

Easy to imagine this sort of idempotent "change" that is neither append-only nor redact-only applying to ot

[2018-04-04 02:28] kkapelon commented on #1927
First of all I am ok with closing with issue completely, as the comparison no longer exists.

Now if you are asking about my opinion on the new, I don't really see any content on benefits of using Concourse. There is only one paragraph "Why make Concourse" which is very vague.

Also maybe off-topic but the new site has fixed width which makes it really strange on a desktop pc

[2018-04-04 14:14] jchesterpivotal commented on #534
A `put` with a delta might be better called `patch`, or am I missing something obvious?

[2018-04-04 14:31] vito commented on #534
@jraqula I can see the appeal of having `put` and `delete` be one interface since they both have just about the same signature:

[code]

We could change it to explicitly return a response object saying "here are the versions I created", "here are the versions I deleted".

Devil's advocate, though - version removal could be discovered by `check`, maybe even more easily. If `check` is given a versio

[2018-04-04 14:48] youngm commented on #1914
This issue should be fixed now and can be closed.

[2018-04-04 16:01] vipinvkmenon commented on #403
Hi This issue still persists even with the current build. I saw that this issue is closed. Has the issue been fixed? If so what needs to be done to run the builds as non user?

[2018-04-04 16:33] vito commented on #403
This issue is not closed.

[2018-04-04 17:36] brownjohnf opened #2126 "Secrets fail to be interpolated if there are spaces around the parentheses"
# Bug Report

If you include spaces around your secrets variable, it's ignored by concourse and inserted as a raw string. For example:

[code]

Will contain `(( github-username ))`. If you remove the extra spaces, it interpolates correctly.

* Concourse version: v3.8.0
* Deployment type (BOSH/Docker/binary): binary
* Infrastructure/IaaS: AWS/on-prem
* Browser (if applicable): n/a
* Did this used t

[2018-04-04 17:36] brownjohnf commented on #2126
cc @jviotti

[2018-04-04 18:18] avanier commented on #2126
I'm interested to hear about this one. Might be a good ticket to sink my noob teeth in.

[2018-04-04 18:36] marco-m commented on #2067
Regarding your question with the example, `-n` should fail if the latest container is not available, it should not fall back to "the latest available container". This to follow POLA: Principle Of Least Astonishment. Maybe one way to make it clear that the latest container is not available any more is to return a 5XX code with a text message ?

[2018-04-04 18:45] jama-pivotal commented on #2093
Thanks for the heads up @avanier . The Wings environment ultimately moved to a domain handled by a separate Pivotal team...that's where they wanted it, and that's where it shall be!

[2018-04-04 18:45] #2093 closed

[2018-04-04 18:46] jama-pivotal commented on #2063
Closing due to stale-ness. Feel free to re-open if my response didn't quite fit what you requested!

[2018-04-04 18:46] #2063 closed

[2018-04-04 18:52] jama-pivotal commented on #1574
Quickstart no longer makes any bold claims about getting started in 5 minutes!

[2018-04-04 18:52] #1574 closed

[2018-04-04 20:12] tanner-bruce commented on #1841
I am seeing similar issues on v3.10.0 when running a composer install:

<img width="1410" alt="screen shot 2018-04-04 at 3 08 55 pm" src="https://user-images.githubusercontent.com/21345430/38331918-39fedace-381a-11e8-88d0-12b526795350.png">

[2018-04-04 20:40] shashwathi commented on #1795
@MinsuLim : [`version`](https://github.com/concourse/bosh-io-release-resource#in-fetch-a-version-of-the-release) on bosh-io-resource will fetch specific version.

[2018-04-04 20:45] mhuangpivotal commented on #1806
The dashboard refreshes itself every 5 seconds. Every time it refreshes, it makes a new request for each pipeline. For a deployment with many teams/pipelines, the number of requests quickly add up. Here's our proposal:

- [ ] add `/api/v1/jobs` endpoint. This endpoint returns all visible jobs across all teams/pipelines.
- [ ] migrate the `groups` data to the jobs table to facilitate the above endp

[2018-04-04 21:00] Rahul-github opened #2127 "Issue while creating a resource type"
Hello there!

I'm having issues while creating new resource type for concourse ci. The resource type is to run a cli present in one docker image.

PS: I'm new to concourse :(

1.  My resource type image is
[code]
2. Check, in and out are very basic

$ cd assets && cat check in out
/home/demo/resources/assets
[code]

[code]

[code]

where: /opt/resource/twisthelp.sh contains` #!/bin/bash twistcli -

[2018-04-05 06:52] making commented on #2094
Do you have a plan to support BBR?

[2018-04-05 12:03] keithkroeger opened #2128 "Monitoring of Concourse"
# Feature Request

## Running out of Containers and Volume Limits

We see an issue in BOSH deployments where the number of containers used by BOSH reaches or exceeds the limit of 250.  While the monit processes for Concourse watch for the fact that various elements of the concourse application (TSA, ATC, worker,...) are running, the monitoring does not seem to watch for limits or other health stat

[2018-04-05 13:59] Rahul-github commented on #2127
@vito can you please help me

[2018-04-05 14:05] vito commented on #2127
That error means that something printed an `h` (probably more) to stdout, which is reserved for the JSON response value.

Where are you seeing the error?

[2018-04-05 14:14] do87 opened #2129 "Request: Allow access to metadata in tasks"
Hi there!

From the documentation https://concourse-ci.org/implementing-resources.html it seems that metadata is accessible only on in/out to prevent a versioning "anti pattern"

BUT

this seems to be a very opinionated thing to do and in my specific case, it blocks me from creating a task that alerts me when there's a problem with the pipeline. To overcome it i'll have to create my own resource!

[2018-04-05 14:18] jama-pivotal opened #2130 "Concourse Groups bar in the web view should be responsive"

[2018-04-05 14:24] Rahul-github commented on #2127
Something strange, as I was doing many changing and not sure which one worked to get the first error fixed :)
Here is my pipeline

![image](https://user-images.githubusercontent.com/12233395/38371832-0e217aee-38b3-11e8-8b7a-091c89c55347.png)

Here is error
**`unexpected end of JSON input`**
![image](https://user-images.githubusercontent.com/12233395/38371862-1d54f3f6-38b3-11e8-96e4-b1ec1bb7fad3.pn

[2018-04-05 14:25] vito commented on #2127
That error is probably from the resource not printing a response object.

Be sure to follow [Implementing a Resource](https://concourse-ci.org/implementing-resources.html) carefully!

[2018-04-05 15:02] jama-pivotal opened #2131 "First attempt at visualizing Spatial Resources"
The time has finally come, we're going to make our first attempt at visualizing Spatial Resources

Related issues:
#1707
#1766

@Lindsayauchin and @sampeinado have spent a few weeks researching new ways to visualize the Spatial Resources pipeline, we have what we think is a good first attempt so now we want to code it up, with the goal of testing the full end to end flow of:

* Coming up with a pi

[2018-04-05 18:04] aeckard87 commented on #645
I'm also putting in a strong need for this

[2018-04-05 20:28] Lindsayauchin commented on #2130
## **Proposal:**
@sampeinado and I propose a solution that moves groups out of the top navigation bar and into a new subhead that can expand responsively so we can accommodate both long group names and grow and shrink with the browser. This new subhead area will increase as the number of groups grows and flows to the next row.

As seen in this example below.

![pipeline_groups_v1](https://user-ima

[2018-04-05 20:30] sampeinado commented on #295
Please see comment on issue #1207 for a proposed solution to this issue.

[2018-04-05 20:30] #295 closed

[2018-04-05 20:41] jama-pivotal commented on #2130
All button should be a different issue!

[2018-04-05 20:47] youngm commented on #844
Any luck @jgeorge300?  Your hang situation seems to match ours.  Deleting the pipeline and re-adding seems to fix it.

[2018-04-05 20:52] jama-pivotal commented on #2086
Opened this bug in the docs repo https://github.com/concourse/docs/issues/41

I think it makes sense to just directly link to that guide

[2018-04-06 00:04] phynias commented on #2081
fresh install of 3.10.0 and i still get the error.
fresh install of 3.9.0 everything works.

[2018-04-06 06:33] pivotal-jbarrett opened #2132 "Frequently getting internal failures with messages like Get /volume/... EOF"
We have many jobs that run concurrently in a pipeline. When running some jobs fail randomly in a task with messages like the following. The the frequency of this behavior increased significantly with 3.9.2. We have tried redeploying the whole BOSH deployment but that hasn't cleared anything up. Any other suggestions to try are welcome. We are at the point now that we may trash our deployment and d

[2018-04-06 07:49] pecigonzalo commented on #324
Based on @josebarn example and some other examples, here is one based on `docker:dind` and also with autoloading of all images placed under `images/`.
This simplifies the loading process by just putting all images in a specific path.

https://github.com/pecigonzalo/docker-concourse-dind

[2018-04-06 08:17] marco-m commented on #2086
Thanks. For me directly linking to that guide is enough.

[2018-04-06 09:37] pn-santos commented on #1207
Would it be possible to also have the text in a color other than white? with white it seems too similar to a group name (even though it has the icon before it). I think another color (orange? light grey?) for both text and icon would help differentiate it more from group names (and the icon and text being the same color would establish an implicit association between them other than proximity).

[2018-04-06 11:31] itsdalmo commented on #1994
Having thought a bit more about this, and glanced over the current implementation:

Fly gets the "schema" for a pipeline definition straight from `concourse/atc`. Since `includes:` will never mean anything to the ATC, it would just be there to aid Fly in doing its job, which does not make a lot of sense to me. I think that instead we should just add support for a glob pattern (and/or allow passing

[2018-04-06 14:54] xtremerui commented on #1404
@ezraroi refer to https://github.com/concourse/baggageclaim/blob/68422aa9cea1e86cf925e4aacbf696bfd81a0545/baggageclaimcmd/driver_linux.go#L43

is it possible for some reason your worker falls into the `kernelSupportsOverlay` and picks up overlay driver again? By default if it detects your file system supports `btrfs` it will use that.

[2018-04-06 15:11] bsnchan opened #2133 "fly cli not finding an intermediate ca certificate"
Hi there!

# Bug Report

Fly CLI was reporting that our x509 cert was signed by an unknown authority. Visiting the CI in any browser worked fine.

We then noticed that there is an intermediate CA certificate that the browsers were able to pick up from our system - which the fly cli did not. We're filing this issue since curl succeeded so I'd imagine fly would utilize the same set of ca certs.

A w

[2018-04-06 15:11] bsnchan commented on #2133
cc @dprotaso

[2018-04-06 15:46] #1712 closed

[2018-04-06 15:48] #2065 closed

[2018-04-06 15:59] #1880 closed

[2018-04-06 16:49] shashwathi commented on #1360
@tjvman :

Modest Proposal:

`fly -t foo status` command which validates JWT token. If its invalid (expired/malformed/not valid target) then command will exit 1 with helpful error msg.

[2018-04-06 18:12] shashwathi commented on #2122
@Rahul-github

It is a resource maintained by the community. Feel free to raise github issue on their repo.

Tips to debug:
-> Verify your concourse deployment has this resource deployed. Check [this](https://github.com/danrspencer/jira-resource/blob/master/ci/pipelines/pipeline.yml) pipeline for sample deployment.

[2018-04-06 18:32] tjvman commented on #1360
@shashwathi Thanks! Will this be going out in the next release of Concourse?

[2018-04-06 18:44] jama-pivotal commented on #1360
Looks like it'll make it into the next release after 3.10.0 @tjvman

[2018-04-06 18:45] jama-pivotal commented on #2122
Closing since its not the right project

[2018-04-06 18:45] #2122 closed

[2018-04-06 19:54] marco-m commented on #2129
I am not sure I understand, could you make a specific example? Wouldn't the `on_failure` or `ensure` step hooks allow you to create your alert ?

(Disclaimer: I am not from the Concourse team)

[2018-04-06 20:40] shashwathi commented on #1750
@zmb3 : Added support for `--no-color` flag and used `+` and `-` to show the config difference.

[2018-04-06 20:43] do87 commented on #2129
Maybe i missed something, but according to the documentation, metadata is only available for a _resource_ during get or put stages

[2018-04-06 22:46] shashwathi commented on #1561
`feature/order-pipelines` branch on `fly` and `gp-concourse` contains the feature.

[2018-04-06 22:55] shashwathi commented on #1561
While testing the CLI feature I just realized that  API does not throw an error if one or more pipelines does not exist.

@vito @pivotal-jwinters : Is this desired behaviour?

[2018-04-07 00:46] nrvale0 commented on #2096
I'm not suggesting this is the correct solution but I was at least able to get things going via:

[code]

[2018-04-07 06:05] drahnr commented on #1667
Right now I am unable to reproduce this with `3.9.1` and `btrfs` storage driver.

[2018-04-07 08:53] marco-m commented on #1909
@shashwathi would it make sense to add a mention in the Concourse documentation that fly honors `http_proxy` ? A lot of goodies of Concourse are undocumented :-)

[2018-04-07 14:54] tahsinrahman opened #2134 "fly command shows just error: forbidden message if not logged in"
# Feature Request

## What challenge are you facing?

`fly` command shows `error: forbidden` message if not logged in v3.10.0. Whereas in previous versions, it showed a message like, user is not logged in, please enter `fly -t <target> login` to login - which was more verbose and self-explanatory.

## A Modest Proposal

It would be great if it showed more elaborate error message like previous vers

[2018-04-07 14:56] wendorf commented on #397
Thanks for the mockup! Glad to see movement here.

My first reaction to that screenshot was thinking that the pause button paused the current active build, not the job. I think because there are generally no controls on that page other than the "new build" button that are at the job level.

I'm thinking about how that would look when the job is unpaused and a build is currently running. I'd probab

[2018-04-08 04:12] Temikus opened #2135 "Panic SIGSEGV trying to land or retire local worker"
# Bug Report

* Concourse version: 3.10.0
* Deployment type (BOSH/Docker/binary): binary via systemd unit, both worker and TSA are running on the same machine
* Infrastructure/IaaS: GCP
* Browser (if applicable): N/A
* Did this used to work? Not sure, first time setting up concourse after those were introduced.

[code]

[code]

[code]
[code]

If there's anything additional I can help with or provi

[2018-04-08 06:12] queer commented on #2135
Getting this same thing trying to use the `docker-compose` file at https://github.com/concourse/concourse-docker/blob/master/docker-compose.yml

This is happening on initial setup; can't get a working install at all.

[code]
[code]
[code]

Full error:
[code]
This above error is the only thing to show up in the logs.

[2018-04-09 07:51] JohannesRudolph commented on #1215
I can verify this still happens on 3.10

[2018-04-09 09:42] koalalorenzo commented on #2024
same with k8s, using the stable helm chart.
Out of the box, no custom conf. I am following the tutorial https://github.com/starkandwayne/concourse-tutorial/

Any update, idea?

[2018-04-09 10:31] originsmike commented on #2096
That works! `iptables -I FORWARD ACCEPT` isn't good enough apparently.

[2018-04-09 10:55] trideceth12 commented on #2135
@queer You are not a moron, applications shouldn't just segfault with no explanation. At a minimum it should shut down gracefully.

[2018-04-09 12:02] trobert2 commented on #1927
@jama-pivotal As much as I would like to see a comparison somewhere, as I find value in discussing pros and cons for these tools, that page did a terrible job of it. Removing it completely is the right thing to do, thank you for that.

[2018-04-09 12:06] trobert2 commented on #1122
any progress on this issue?
inb4 "nobody likes writing docs"

[2018-04-09 14:33] jama-pivotal commented on #946
Created issue #2130 with new designs to help with this. @joshzarrabi and @B1Sandmann go ahead and take a look, let us know what you think

[2018-04-09 17:40] sampeinado commented on #1508
@Lindsayauchin and I propose to solve this issue in the following way, corresponding to @jama-pivotal 's four points above. Please find icons attached.

- [ ] adding the pipeline name with an icon to the navbar
- [ ] allowing the user to click on the propeller logo to navigate to the dashboard
<img width="466" alt="screen shot 2018-04-09 at 12 12 45 pm" src="https://user-images.githubusercontent.c

[2018-04-09 17:50] jama-pivotal commented on #2127
Closing issue, since it seems to be more support related. @Rahul-github feel free to re-open if you feel like there's a genuine bug

[2018-04-09 17:50] #2127 closed

[2018-04-09 19:37] elgohr commented on #1200
I'm totally with @gaui . Nevertheless I'm missing something in the .whatever-files: it's only one file.
At the moment I'm starting to collect templates (https://github.com/elgohr/concourse-templates), for various features (auto-update-dependencies, auto-linting,...) which might be added to one product like sidecars. I wouldn't write them into one pipe or file.
I was also thinking about something t

[2018-04-09 19:40] mhuangpivotal opened #2136 "Dashboard footer icon display in Firefox"
Dashboard footer icons render weirdly in Firefox (bottom):

<img width="1527" alt="screen shot 2018-04-09 at 9 56 04 am" src="https://user-images.githubusercontent.com/1919762/38518765-dc969a34-3c0b-11e8-9dc6-cc1a4238e5d0.png">

* Concourse version: 3.10
* Browser: Firefox

[2018-04-09 19:52] gaberger opened #2137 "Broken Link from README.MD"
# Bug Report

Broken Link from README.MD

https://concourse-ci.org/setting-up.html

[2018-04-09 19:57] mhuangpivotal opened #2138 "Fix flakes in ci.concourse-ci.org"
We have a few jobs that are flaky:
- [x] bosh-upgrade/bosh-downgrade

- sometimes the ATC is not running during the test steps, e.g. https://ci.concourse-ci.org/teams/main/pipelines/main/jobs/bosh-upgrade/builds/299

- [x] bosh-wats

- ruby exception in some builds, e.g. https://ci.concourse-ci.org/teams/main/pipelines/main/jobs/bosh-wats/builds/544

- [x] bosh-watsjs

- consistently failing build

[2018-04-09 20:11] mhuangpivotal commented on #2138
- bosh-upgrade/bosh-downgrade: added wait logic to ensure ATC is up; https://github.com/concourse/concourse/commit/fd7e8e9156aefd07b9f76d0ecb3d14ffa09a6cad
- bosh-wats: upgrading ruby gems seems to have fixed the issue
- bosh-watsjs: one of the failures was actually a regression: https://github.com/concourse/web/commit/d97af7266679759dfc2335ccd0ae45300c28d2fb. Changed the behaviour so that the pre

[2018-04-09 20:12] pivotal-jwinters commented on #1888
Skymarshal server update

- We've introduced user login (instead of team login). You can now log in as a user, and we'll figure out what teams you're on.

- Skymarshal now delegates all requests to dex, then exchanges the dex token for a concourse token. To make this work we've bundled a dex server with skymarshal and removed all existing auth providers in favour of dex connectors.

- Currently on

[2018-04-09 20:19] jama-pivotal commented on #2137
Changed link to Installing Concourse https://concourse-ci.org/install.html

[2018-04-09 20:19] #2137 closed

[2018-04-09 20:41] jama-pivotal opened #2139 "Breadcrumb on Nav Bar"
This is a more detailed issue describing the breadcrumb navigation from #1508

# Motivation
This issue pulls in different requests over the years around the sentiment of "what pipeline am i looking at?" (ref #1207 ) Starting with just simply stating the pipeline name, @Lindsayauchin and @sampeinado evolved it to a breadcrumb design

# Pre-requisites/Considerations
The designs you'll see below assu

[2018-04-09 20:45] jama-pivotal commented on #2130
We also don't quite need the Home icon anymore do we @Lindsayauchin ?

[2018-04-09 21:55] mhuangpivotal opened #2140 "Worker disk full in concourse-test deployment"
It seems that every week the worker disk gets close to 100% in the `concourse-test` deployment, resulting in many `failed to create volume` errors (e.g. https://ci.concourse-ci.org/teams/main/pipelines/main/jobs/bosh-testflight/builds/6161).

Manually recreating the worker generally fixes the issue, but we should investigate if there is a way to gc more aggressively after the tests are run.

[2018-04-10 11:52] darshandeshmukh11 commented on #2134
I am also facing this issue, I made few changes in my concourse pipeline yml file and I am blocked with below error to set the pipeline
**I am already logged in to my concourse instance**
[code]

[2018-04-10 12:32] darshandeshmukh11 opened #2141 "error: forbidden when trying to setup a pipeline with concourse 3.10.0"
# Bug Report
I am logged in to my concourse instance with
`fly -t main login -c <my-concourse-url>`
The below command used to work as expected and I was able to update OR setup a new pipeline.
`$ fly -t <my-concourse-url> set-pipeline -p build-springboot -c concourse-config.yml
error: forbidden`

* Concourse version: 3.10.0
* Deployment type (BOSH/Docker/binary): [concourse-helmchart ](https://git

[2018-04-10 13:03] wfranzini commented on #2096
I've had the same problem and solved changing the policy for FORWARD.

Is it possible to track the origin of the problem and, if the culprit is not concourse, document it?

[2018-04-10 13:16] originsmike commented on #2096
The output of `sudo iptables-save` is a solid 343 lines, so it's beyond my ability to dig through. Most of that is created by whatever's creating the container namespaces -- garden-runc, right?

[2018-04-10 15:29] Lindsayauchin commented on #1888
@pivotal-jwinters Dex login skinned with Concourse UI

![concourse_login_01](https://user-images.githubusercontent.com/27746614/38566699-523464fa-3cb2-11e8-8c95-1d199194a67b.png)
![concourse_login_02](https://user-images.githubusercontent.com/27746614/38566700-5248cd00-3cb2-11e8-9301-d2a5d7b215f5.png)
![concourse_login_00](https://user-images.githubusercontent.com/27746614/38566701-525b6924-3cb2-1

[2018-04-10 15:55] darshandeshmukh11 commented on #2141
This was due to incorrect syntax for set pipeline, I am able to configure the pipelines with below syntax without any issues. Thanks to @topherbullock
`fly -t ci set-pipeline -p booklit -c pipeline.yml`

[2018-04-10 15:55] #2141 closed

[2018-04-10 16:29] metatype commented on #2132
@smgoller do you have any more context on this error?

[2018-04-10 16:30] metatype commented on #2132
@pivotal-jbarrett would it help if we shared logs with the concourse team?

[2018-04-10 16:35] DRuggeri opened #2142 "BOSH release for 3.10 appears broken - baggageclaim work directory missing"
# Bug Report

When upgrading an existing worker or deploying a new VM with the BOSH deployment, baggageclaim fails to start.

The log file /var/vcap/sys/log/monit/baggageclaim_ctl.log shows this error every couple of seconds:
`chmod: cannot access '/var/vcap/data/baggageclaim': No such file or directory`

Creating the directory unclogs the jam and allows baggageclaim to start and resume normal ope

[2018-04-10 16:37] DRuggeri commented on #2142
Nevermind... was fixed by 33894618ee9fd9ceb80d22134f752c674bdf2593. Will revert to 3.9.latest and await new release.

[2018-04-10 16:39] #2142 closed

[2018-04-10 16:44] DRuggeri commented on #2142
Well that didn't work... ATC can't fall back due to this error:
`failed to migrate database: file does not exist`

What should users do in this situation?

[2018-04-10 17:20] tiendzbk opened #2143 "Error : docker: error pulling image configuration:"
Hi,  sudo docker run --rm -v $(pwd):/app composer/composer install on terminal, and Error :
Unable to find image 'composer/composer:latest' locally
latest: Pulling from composer/composer
51f5c6a04d83: Pulling fs layer
3234e782e15b: Pulling fs layer
6450a2e3df13: Pulling fs layer
a42226649bd8: Waiting
d949d6fac6b4: Waiting
239f4c7193af: Waiting
b4901d6b46ce: Waiting
4c58095fbe14: Waiting
7f4085ad85

[2018-04-10 18:21] charlieoleary opened #2144 "AWS SSM integration creates a significant number of CloudTrail errors."
# Bug Report

We're using the SSM integration, which has been great. However, ever since integrating it I noticed a significant uptick in CloudWatch errors. As shown below, our daily reporting shows hundreds of thousands GetParameter errors a day (!!!).

![image](https://user-images.githubusercontent.com/4267857/38575163-9f4dbeb0-3caf-11e8-9bb2-f79724772c09.png)

I looked into our CloudTrail logs

[2018-04-10 19:29] billimek commented on #472
👍 for this as well.  We make heavy use of github oauth for org-level and personal ID-level authorization.

One of the biggest problems we encounter is when people don't use the 'correct' case of the github org name or their username, and authorization fails

[2018-04-10 20:47] vito commented on #534
Closing and moving the discussion to https://github.com/concourse/rfcs/pull/1. Thanks everyone who has helped out so far!

[2018-04-10 20:47] #534 closed

[2018-04-10 21:56] brownjohnf commented on #1667
We're also experiencing this, running v3.8.0 on CoreOS on AWS. Everything seems to work fine for some period of time, but then start failing with the 128 status code as mentioned in the top post.

[2018-04-10 23:32] lflux opened #2145 "ATC crashing with missing input mapping"
# Bug Report

* Concourse version: 3.9.2
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: GCP/vSphere

We ran into a situation where atc would keep crashing due to a task missing an input.

The task YAML had an input section like:
[code]

We had missed an `input_mapping: {tile-repo: dedicated-mysql-tile}` in the job definition in the pipeline YAML.

ATC would continuously crash

[2018-04-11 16:01] vito commented on #1985
This should be fixed by https://github.com/concourse/atc/pull/256

[2018-04-11 16:01] #1985 closed

[2018-04-11 16:26] Lindsayauchin commented on #397
@wendorf
we have been thinking about how to better organize the job header and the controls on the page for the build page.

A proposed solution is as follows:
![concourse_build_pause_play_build_01](https://user-images.githubusercontent.com/27746614/38629645-9ab51334-3d82-11e8-8b6d-093a21fb2501.png)

In this proposal, we are moving elements out of the subhead, timestamps build and #,  to avoid som

[2018-04-11 17:54] avanier opened #2146 "Resurrect Telemetry Opt-In"
# Feature Request

## Story

__As a__ Concourse contributor,
__I want__ to provide the Concourse team with empirical data about Concourse deployments in the wild,
__so that they can__ assess the how critical certain bugs are, and make informed decisions in roadmap planning.

## What challenge are you facing?

This issue is essentially a tentative resurrect of  #1361, it's all about having the abil

[2018-04-11 18:03] joshzarrabi commented on #2130
This would be *very* useful on releng. Right now we are weary of creating longer group names, which would make things more clear, because of the usability issues.

[2018-04-11 18:42] jama-pivotal opened #2147 "Add a test to the Concourse pipeline for a fresh install"
The recent releases of Concourse have been a bit rocky, and I think some of the issues could have been avoided if we wrote tests for a fresh-install of Concourse for our supported installation methods. While BOSH is probably the first method that comes to mind (https://github.com/concourse/concourse/pull/2125 and https://github.com/concourse/concourse/issues/2029 are both examples of BOSH installa

[2018-04-11 20:29] avanier commented on #2146
Well, if we're going for an HTTP endpoint to pull data from, we already have the Prometheus endpoint. I think it's just a question of adding in the new metrics / data we wish to track. That said, I'm not sure we can pervert Prometheus' transient storage. I'll need to stick my head in the code and see what can be done.

What's for sure is I think it would be risky to go for a strategy where Pivotal

[2018-04-11 21:16] jama-pivotal commented on #397
Linking this to #1915

[2018-04-11 21:25] jama-pivotal commented on #1915
J/K this is the expanded approach that @Lindsayauchin and @sampeinado are suggesting:

![38643197-5fa04fb6-3daa-11e8-9fd8-fbe7ff2d764f](https://user-images.githubusercontent.com/19274230/38643751-353643b4-3dac-11e8-9766-c2a94f91cb03.png)

Here's a breakdown of the specific tasks that need to be done, since there's a mix of new features in this mock from other stories (specifically #2139)

- [ ]  A

[2018-04-12 07:39] stefri commented on #2015
+1

[2018-04-12 14:32] jama-pivotal opened #2148 "Add a "not" operator to the Dashboard search"
# Feature Request

## What challenge are you facing?

The current dashboard feature supports fuzzy matching search for pipeline name, but what we've noticed is that users want to search for a set of pipelines that do NOT match a search parameter. For example, one of the release engineering teams here in Pivotal have 10 pipelines, 5 of which start with `xyz`. Using the search query for `xyz` they c

[2018-04-12 15:19] michaelklishin commented on #1915
@jama-pivotal thanks for the update, it looks promising!

[2018-04-12 19:54] shashwathi commented on #1561
I will update the API behavior and add `fly` command.

[2018-04-12 20:29] gerhard commented on #1915
Yes please, ship it 👍

[2018-04-12 20:31] pivotal-jwinters opened #2149 "The downgrade job in the concourse ci pipeline should probably perform an upgrade afterwards"
Currently we only test a downgrade by running testflight. This proves that the cluster will be working, but doesn't prove that all the schema changes have been undone. Re-running the upgrade should do the trick 👍.

[2018-04-12 23:05] aleliaert commented on #2111
Update - our friends at Crunchy Data helped us discover that a long-running query/transaction within another schema on the same database was causing our issue.  This query was keeping auto vacuum from cleaning up dead rows across all schemas, including our concourse schema.  Dead rows can cause major performance problems evidently.

It was a good lesson for us on what the blast radius can be betwe

[2018-04-12 23:05] #2111 closed

[2018-04-13 01:04] kkallday opened #2150 "Concourse resource pull is flakey and requires a web VM restart"
# Bug Report

Hi Concourse folks,

My team has ran into some weird issues with `resources` not checking/updating and resulting in jobs not triggering.

Specifically, today I ran into an issue in which a `resource` wasn't listing artifacts. There were two different pipelines that have the same resource that pull releases using the `pivnet` resource. Both `resources` have the same definition in the

[2018-04-13 07:01] keithkroeger opened #2151 "Timer Resources continue to be processed after the pipeline is deleted"
# Bug Report

* Concourse version: 3.8.0
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: Openstack

We have seen that it appears that resources on ATCs continue to be used/allocated once they've been used for a pipeline job even after the pipeline has been destroyed.

Case:
- Create several (we create 600 for exaggeration) pipelines.
[code]
- allow these pipelines to run for a

[2018-04-13 10:48] robtec commented on #2151
+1

[2018-04-13 11:37] marco-m commented on #2143
hello, could you please shorten the title and format the contents ? Thanks!

[2018-04-13 12:36] phyllisodwyer commented on #2151
+1

[2018-04-13 12:48] wagdav opened #2152 "ATC crashes during worker registration when session key is not provided"
Hello all,

Thank you for making Concourse!  Recently I encountered the following issue.

# Bug Report

The Concourse Web is crashing if the the `--session-signing-key` command line argument is not provided.

## Steps to reproduce

Start a concourse worker.

Start `concourse web` without the `--session-signing-key` argument:

    /home/concourse/bin/concourse web
        --basic-auth-username conc

[2018-04-13 12:49] wagdav commented on #1934
@clintjedwards I also saw the that crash and opened #2152 about the crash.  It seems like a separate issue.

[2018-04-13 13:36] #2138 closed

[2018-04-13 14:32] #1549 closed

[2018-04-13 14:38] jama-pivotal commented on #1360
@shashwathi just tried this in prod environment (ci.concourse-ci.org) ; rejected it on certain use cases...which I will do my best to capture now:

### `fly status` doesn't report the correct status after logging out

Steps to Reproduce:
1. Login to ci.concourse-ci.org using fly, aka `prod`
2. Execute `fly -t prod status`, you will see `Logged in successfully`
3. Execute `fly -t prod logout`, you

[2018-04-13 14:47] #1750 closed

[2018-04-13 14:48] jama-pivotal commented on #1750
My Canadian sensibilities wanted to reject this for being `color` and not `coloUr`...OH WELL

[2018-04-13 15:57] brownjohnf commented on #2010
I believe we're also experiencing this, but on concourse 3.10.0.

[2018-04-13 16:12] shashwathi commented on #1360
- [ ] Handle case for no tokens(logged out)
- [ ] Update the output to maintain consistent styling
- [ ] Update error msg for unknown target

[2018-04-13 18:31] vito opened #2154 "ATC should not fail on start if CredHub is down"
# Bug Report

Currently if CredHub is down the ATC will be unable to start. It should successfully start instead and continuously try to log in in the background instead, so that they can be deployed in any order.

[2018-04-13 20:15] edtan commented on #2135
I was getting the same SIGSEGV error when running `concourse land-worker --name worker`.  However, I got it working by providing the TSA configuration parameters, e.g. `concourse land-worker --name worker --tsa-public-key keys/web/tsa_host_key.pub --tsa-worker-private-key keys/worker/worker_key`

[2018-04-14 11:27] davidgarciaMontreal opened #2155 "3.9.2 could not find an available, non-overlapping IPv4 address pool among the defaults to assign to the network"
Hello,
After we migrated to 3.9.2 from 3.8.2, we are having a lot of virtual interfaces being left by what it seems to me from the concourse worker. i would need someones help on this from the conocurse ci team.

`$ docker-compose up -d`
`Creating network "node2321_default" with the default driver`
`ERROR: could not find an available, non-overlapping IPv4 address pool among the defaults to assign

[2018-04-14 11:32] davidgarciaMontreal commented on #2155
docker-compose.yml
`version: '2'
`services:`
`  concourse_worker:`
`    image: concourse/concourse:3.9.2`
`    privileged: true`
`    command: worker`
`    volumes: ["/keys/worker:/concourse-keys"]`
`    environment:`
`      CONCOURSE_TSA_HOST: nodex2319`
`      CONCOURSE_GARDEN_DNS_SERVER: 142.133.x.x`
`      HOST_HOSTNAME: nodex2321`
`      HOST_DOMAINNAME: xxx`
`      CONCOURSE_NAME: nodex2321`

[2018-04-14 14:17] StevenArmstrong opened #2156 "Concourse Groups UI doesn't have a scroll bar"
Hi concourse team

## What challenge are you facing?

Ran into this issue recently when creating a pipeline for an application, we group by environment, so users can see every single environment individually as many teams deploy this common component. A particular application has over 20 environments so this means not all the group content can be rendered on the screen at the same.
For example:

g

[2018-04-14 17:54] billimek commented on #2081
@crstamps2 does the worker show-up if you restart the worker container?

[2018-04-14 17:57] billimek commented on #2081
... by that I mean running sudo systemctl restart concourse-worker

[2018-04-15 01:24] crstamps2 commented on #2081
No, I had tried that a couple of times. I also upgraded to the 3.11.0 release too.

[2018-04-16 12:51] BenElgar commented on #834
Is there any movement on this? What's the best way to input an image into the `fly execute` command that is usually specified in the pipeline?

[2018-04-16 13:11] jsievers commented on #2072
We think we found the reason for our 5-minute time trigger jobs sometimes being skipped:

* we had configured the global [atc default check interval](https://github.com/concourse/concourse/blob/c74fb28d4849a6686a1f284ec22703d729676ca7/jobs/atc/spec#L279) to 5 minutes
* Somewhat counter-intuitively, this also restricts the `check_every` for [time resources](https://github.com/concourse/time-resourc

[2018-04-16 13:26] jama-pivotal commented on #2156
@StevenArmstrong thanks for suggestion! We actually have a similar proposal to fix the bad rendering of the groups bar here: https://github.com/concourse/concourse/issues/2130

IMO that design would scale better for long group names and lots of pipelines. Let me know what you think!

[2018-04-16 14:32] jama-pivotal commented on #2151
Sounds like the issue lives in the grey zone of it could be resource-specific or Concourse core related. That said, I'm leaving this issue in this repo for now. Definitely needs investigation from someone on the core team though

[2018-04-16 14:37] jama-pivotal commented on #2143
@tiendzbk we're trying to move all "needs-help" or "support" style questions to our forums or our chat application. I'd like to suggest that you cross-post your question to our forums under the Support tag here: https://discuss.concourse-ci.org/c/support

Also, in order to help you better I'd like to suggest that you give a few more details about your problem:

* What version of Concourse are you

[2018-04-16 14:37] #2143 closed

[2018-04-16 14:41] jama-pivotal commented on #2129
@do87 I think I know what you're talking about. I'd like to point you to this (relatively old) issue https://github.com/concourse/concourse/issues/1052 where we discuss the rise of notifications-as-resources clutter, and potential ways to address it

[2018-04-16 14:41] jama-pivotal commented on #2129
oh, and by the way @do87 if that helps answer your question please go ahead and close the issue

[2018-04-16 14:42] razvan-moj opened #2158 "Get Git resource fails, but without stopping the pipeline"
# Bug Report
Concourse fails to pull from git but continues the pipeline, which of course fails later on because there are no files in /tmp/build/get
[code]
The web interface displays the step, with branch/commit/etc on the right side but on the left side I don't see the expected "Cloning into '/tmp/build/get'"

* Concourse version: 3.10
* Deployment type (BOSH/Docker/binary): Helm chart
* Infrast

[2018-04-16 14:48] jama-pivotal commented on #2126
Not sure if its quite a bug, so erring on the side of marking this as an enhancement request to allow whitespace after `((` and before `))`. I mean, the documentation *technically* shows no whitespace. I can see why you would want to have the whitespace for legibility reasons.

[2018-04-16 14:52] vito commented on #2067
@marco-m If there are no replies then there is no news. :) Lots of things to do, so little time.

I think we could have `--non-interactive` target only the latest build. If the latest build has no matching containers, it should fail. As an added bonus, we could have `fly` auto-detect non-interactive for things like `watch` by checking if stdin is a tty.

[2018-04-16 14:54] jama-pivotal commented on #2119
Marking this as a bug that needs investigation. I know some of our pages aren't super great at pulling in changes to represent the state of the world so it could fall either way after some poking around. I'll put this high in our Backlog since having build page accuracy is pretty important for us

[2018-04-16 15:00] marco-m commented on #2067
@vito @shashwathi Thanks for the answer, and sorry for the noise, I will set my timeout longer :-)

[2018-04-16 16:10] GaryPWhite opened #2159 "Release notes links are broke"
Still running 3.5, and on my way to upgrade, I clicked in the notes for 3.6, but it says "404 not found" from concourse.org...

seems to me like the links like this:

https://concourse-ci.org/downloads.html#v3.6.0

ought to be like this:

https://concourse-ci.org/download.html#v360

with no "s" on downloads and the "." being eliminated.

Small issue, figured it out with little to no problem. Sorry

[2018-04-16 17:38] jama-pivotal commented on #2159
Thanks for reporting @GaryPWhite . That's a good point...with our changeover our downloads page changed and we don't have redirects set up since the Concourse site is a relatively simple static site.

I'm going to go ahead and close this issue and in return I've opened up two issues on our Docs repo:

https://github.com/concourse/docs/issues/50
and
https://github.com/concourse/docs/issues/51

[2018-04-16 17:38] #2159 closed

[2018-04-16 21:02] jama-pivotal commented on #2097
Doesn't look like our pipelines cover UAA. When we investigate this, we should also consider writing tests to validate UAA compatibility

[2018-04-16 21:08] jama-pivotal commented on #2053
Thanks for following up with details on how you fixed the migration @JGjorgji ! Closing issue for now

[2018-04-16 21:08] #2053 closed

[2018-04-16 21:15] #2020 closed

[2018-04-16 21:15] jama-pivotal commented on #2086
Cool, closing this issue in favor of the docs issue then

[2018-04-16 21:15] #2086 closed

[2018-04-16 21:16] jama-pivotal commented on #2021
Doing to keep the indenting the same on our docs based on the comments already discussed above. However, if you feel strongly about it PRs are always welcome in https://github.com/concourse/docs

[2018-04-16 21:16] #2021 closed

[2018-04-16 21:58] shashwathi commented on #2150
@kkallday :

Can you check the CPU utilization and web vm health before you restart?

Its possible that `atc` is overloaded.

[2018-04-16 22:03] kkallday commented on #2150
Hi @shashwathi,

Before restarting the VMs we checked the CPU and memory usage and they were normal.

[2018-04-16 22:13] shashwathi commented on #2150
@kkallday :

does increasing number of web nodes to 2 make any difference to the deployment ?

[2018-04-16 22:28] acarrigan-pivotal opened #2161 "Backend error, permission denied?"
Attempting to push small application utilizing Concourse pipeline and receiving error message in CLI on Mac:

hijack: backend error: exit status: 500,
message: runc exec: exit status 1: exec failed
container_linux.go: 295: starting container process caused 'git-repo/ci/tasks/build.sh'
**permission denied**

Having trouble diagnosing which permissions need to be adjusted (git permissions, local per

[2018-04-16 22:59] kkallday commented on #2150
@shashwathi we currently have 2 web VMs deployed and 8 workers.

[2018-04-17 12:39] mkrogh opened #2162 "3.11.0 worker restart regression"
# Bug Report

* Concourse version: 3.11.0
* Deployment type (BOSH/Docker/binary): docker
* Infrastructure/IaaS: Ubuntu 16.04 VM
* Did this used to work? yes in 3.10.0

When restarting a worker (or rebooting the machine), 3.11.0 workers fail to start if the `volumes.img` already exists.
Removing the file allows the worker to start, but fails on next restart/reboot.

[2018-04-17 13:00] mkrogh commented on #2162
[code]

My current workaround it to just run `rm` on the `volumes.img` before starting the workers, since the db migrations makes it so you cannot run the older version of the `web` command.

[2018-04-17 14:25] B1Sandmann commented on #2130
Hi, to me the proposal from @Lindsayauchin seems to be the best approach. From @jama-pivotal Proposals I'd like variante 2 best but imho all of these approaches might break again if the number of groups grow to much. At least for the time being all these proposals however should be able to solve our issue.

[2018-04-17 14:29] yawlhead91 commented on #2081
I'm getting the same thing, its driving me crazy

[2018-04-17 14:49] pivotal-jwinters opened #2163 "Concourse web binaries don't run the migration commands"
The ATC has a couple utility migration commands. Currently these aren't available in the `concourse web` binary. They probably should be.

[2018-04-17 15:26] pivotal-jwinters commented on #2097
@jama-pivotal We just verified that this still works for us on 3.11.0. Not sure testing this in our pipeline is all that practical since we'd need a pcf instance to test against...

@gaigaslab Can you check the logs from the atc. You should see a message like "atc.skymarshal.oauth-callback.callback.failed-to-exchange-token". Can you check the error message it prints?

[2018-04-17 15:53] stewartlord commented on #2163
Yes please :+1:

[2018-04-17 16:06] marco-m commented on #833
The real problem is that `fly` returns an exit status of zero (all OK) so this makes it error-prone or impossible to use in scripts

[2018-04-17 17:27] billimek opened #2165 "3.11.0 web/atc memory growth"
# Bug Report

* Concourse version: 3.11.0
* Deployment type (BOSH/Docker/binary): Docker
* Infrastructure/IaaS: ubuntu VM
* Browser (if applicable): Chrome?
* Did this used to work? Yes

Beginning with concourse v3.11.0 we observe an almost linear rate of memory growth in the concourse-web container.

Below is a grafana graph showing the host-level metrics over ~24h period:
![](https://i.imgur.com

[2018-04-17 17:31] stewartlord commented on #2165
Thanks for logging this @billimek. We are seeing the same problem in our installation after upgrading to 3.11.0. We do *not* run a continuous dashboard/monitor. I don't think that is related FWIW.

[2018-04-17 17:48] keithkroeger opened #2166 "3.10.0 and 3.11.0 error - /var/vcap/data/baggageclaim/volumes/live/xxxx/volume is not a mount point"
# Bug Report

* Concourse version: 3.10.0 or 3.11.0
* Deployment type (BOSH/Docker/binary): BOSH
* Infrastructure/IaaS: Openstack (stemcell 3541.10)
* Did this used to work? yes, in 3.9.2

We deployed our workers (1 ATC, 2 workers) with workers using configuration such as the following (to use 'external workers'):
[code]
We are seeing the following error when we execute a pipeline:
[code]

We see

[2018-04-17 17:55] jama-pivotal commented on #2097
@pivotal-jwinters thanks for checking! I think you're right, it might not actually be practical to do it. Would still like to hear back from @gaigaslab about the details on their error. If there is a problem with 3.9.2 and Pivotal's UAA

[2018-04-17 18:09] pivotal-jwinters commented on #2097
@jama-pivotal there doesn't seem to be any significant changes from 3.9.2 to 3.11.0 for what its worth. It could be a certificate issue. If the certificate validation fails it gives the "failed to exchange token" error, but will output a proper message in the atc logs, so now we wait...

[2018-04-17 20:18] gaigaslab commented on #2097
@jama-pivotal @pivotal-jwinters
How can I view the ATC Logs directly?

[2018-04-17 20:29] gaigaslab commented on #2097
From:
/var/vcap/data/sys/log/atc/atc.stdout.log

{"timestamp":"1523996304.364424229","source":"atc","message":"atc.skymarshal.oauth-callback.callback.failed-to-exchange-token","log_level":2,"data":{"error":"oauth2: cannot fetch token: 401 Unauthorized\nResponse: {\"error\":\"unauthorized\",\"error_description\":\"Bad credentials\"}","session":"10.4.44"}}

[2018-04-17 21:51] vito commented on #2145
This was fixed in [v3.10.0](https://concourse-ci.org/download.html#v3100) (sixth note) - it's actually due to the `attempts`, not the `input_mapping`.

Thanks for the report!

[2018-04-17 21:51] #2145 closed

[2018-04-17 22:04] vito commented on #2165
Looks like we're seeing this too, on Wings: https://snapshot.raintank.io/dashboard/snapshot/K2hZgd0u0PO740SasOKWqYFrVUtAeKeT?panelId=12&fullscreen&orgId=2

Hopefully that makes it easier to debug.

[2018-04-17 23:57] trivigy commented on #331
@vito How come the implementation only allows for triggering the `check` and not also allow for passing the POST request payload? Could the payload be passed arbitrarily? Like pass a yaml object containing the mothod, url, version, headers, and body of the request to the check?!

[2018-04-18 00:34] xtremerui commented on #1996
Issue reproduced on Chromium 68.0.3399.0

After some investigation it seems Chromium renders job node without the <a> wrapper, which should contain an url to job build page. Thus job nodes are not clickable and mouse over it shows no pointer.

[2018-04-18 06:07] marco-m commented on #833
@jama-pivotal just to be sure you are aware: this is actually a bug, not a feature request:

fly intercept /non/existing/command

will silently fail and report 0 as exit status.

Ticket #758, which more explicitly talks about bug, has been closed as duplicated of this one.

[2018-04-18 13:57] pivotal-jwinters commented on #2165
@billimek @stewartlord @markstokan what versions were you running before the upgrade?

[2018-04-18 15:04] vito commented on #331
@trivigy By passing the payload along we would then require every resource author to have more intimate knowledge of each and every API (GitHub, BitBucket, GitLab). By ignoring it and just running `check` there's a single eventually-consistent "source of truth" for where the versions are coming from, requiring no change on the part of resource implementors.

[2018-04-18 15:15] jmelchio commented on #2165
Adding more logs to reaper server in worker as this is one of fairly big change from last release.

[2018-04-18 15:47] pivotal-jwinters commented on #2097
@gaigaslab can you try re-running the `fly set-team` command with your UAA credentials and see if that makes a difference?

[2018-04-18 15:48] razvan-moj opened #2167 "Github auth fails after 3.10->3.11 upgrade"
# Bug Report
Install done with ```helm install --namespace development -f values.yaml --name concourse stable/concourse```, used to work with just one caveat: teams or organizations did not work, only users, comma-separated.
After upgrade, also using helm, same values.yaml just changed chart version from 1.2.1 to 1.3.0 auth fails with "state cookie not set"
The URL is definitely correct, and was n

[2018-04-18 16:03] markstokan commented on #2165
CF Toolsmiths upgraded to 3.11.0 from v3.9.2