[2021-06-01 20:18] #4760 closed

[2021-06-02 00:40] yurivict commented on #6712
I'm only seeing pre-built binaries at this URL. Where are the web tarballs?

-----------------------

Another question is: What is the minimal set of node modules required to run Concourse? What causes concern is the "puppeteer``` module that fails on FreeBSD (see error in the OP), Puppeteer downloads binaries of various browsers (see here https://github.com/puppeteer/puppeteer/blob/main/experimen

[2021-06-02 01:20] yurivict opened #7115 "'concourse web' doesn't read CONCOURSE_SESSION_SIGNING_KEY and still asks for --tsa-host-key"
I am following this page from the documentation: https://concourse-ci.org/concourse-web.html

However, ```concourse web``` fails:

despite ```CONCOURSE_SESSION_SIGNING_KEY``` environment variable presence.

[2021-06-02 01:25] yurivict commented on #7115
Sorry, my bad.

[2021-06-02 01:25] #7115 closed

[2021-06-02 01:43] yurivict opened #7116 "http://127.0.0.1:8080/ returns an incomplete, broken html"
It returns this text:
[code]

If there's anything wrong - it should explain what is wrong.

[2021-06-02 13:55] taylorsilva commented on #7116
Is that literally all you're getting back or just a snippet? I'm going to convert this to a discussion since there are no reproducible steps.

[2021-06-02 13:55] #7116 closed

[2021-06-02 13:56] taylorsilva commented on #7115
Feel free to ask questions or ask for help troubleshooting in Discussions: https://github.com/concourse/concourse/discussions

[2021-06-02 13:59] taylorsilva commented on #6712
Going to convert in a discussion since there's no bug here.

[2021-06-02 13:59] #6712 closed

[2021-06-02 16:32] #6484 closed

[2021-06-02 16:38] #7106 closed

[2021-06-02 18:29] vito commented on #6589
Did some digging, that query on its own shouldn't be super expensive at least. It's a direct index hit:

[code]

It'll be called every time a check runs but I wouldn't expect that query to be a bottleneck. 🤔

How'd you come across it? I guess just sorting that load by total time column?

Would you mind running this query and sharing the results? Could help us get an idea of the scale we're compari

[2021-06-03 06:38] analytically commented on #6054
When using ClearLinux on Containerd I'm again seeing `lookup user: unable to find user root: no matching entries in passwd file` while this works fine using Guardian in 7.3.1.

[2021-06-03 09:51] bartlettt opened #7122 "/etc/hosts file incorrectly populated when using containerd"
## Summary

When using the guardian container runtime, the /etc/hosts file for containers is populated with something like:
[code]

When using the containerd container runtime, the /etc/hosts file for container is populated with:
[code]

This is causes any application that relies on the container hostname for DNS lookups to fail. For my organisation specifically this causes problems for Hadoop.

T

[2021-06-03 13:04] aoldershaw commented on #7122
Fixed by https://github.com/concourse/concourse/pull/7041 (hasn't yet been released)

[2021-06-03 13:04] #7122 closed

[2021-06-03 13:15] aoldershaw commented on #6054
@analytically indeed it regressed 😞 looks like a38054a9fd58dba414e155ed763812e393894c4b is the culprit.

[2021-06-03 14:27] #6054 closed

[2021-06-03 15:47] #4407 closed

[2021-06-04 00:54] evanchaoli opened #7128 "Wrong check_order of versions"
## Summary

One of ours users reported an issue where a biweekly timer was triggered twice in 15 minutes.

Then I queried versions of the `time` resources, and found that `check_order` seemed to be wrong:

  |id|version|check_order|resource_config_scope_id|
  |--|------|-----------|------------------------|
  |2361851149|{"time": "2021-05-27T23:06:51.139456464-07:00"}|9|267231|
  |2259986732|{"tim

[2021-06-04 08:13] odormond commented on #7077
Hello!
Just a follow-up post to let you know that we disabled the throttling on Monday morning and haven't seen any issue since then. We even noticed that the overall build throughput increased:
![image](https://user-images.githubusercontent.com/6637092/120769300-45297380-c51d-11eb-8f9b-2c5cabc528d8.png)

We have also successfully tested 7.3.1 with cache streamed volumes enabled and will deploy it

[2021-06-04 10:19] jgtr-coats opened #7130 "Build logs appear to be reaped against retention settings"
## Summary

We have a concourse cluster with the following configuration values set:
CONCOURSE_DEFAULT_BUILD_LOGS_TO_RETAIN = 50
CONCOURSE_DEFAULT_DAYS_TO_RETAIN_BUILD_LOGS = 30

**Note:** The CONCOURSE_MAX_BUILD_LOGS_TO_RETAIN and CONCOURSE_MAX_DAYS_TO_RETAIN_BUILD_LOGS are not set and nor are any job specific retention policies being applied.

One of our pipelines runs infrequently and only has

[2021-06-04 10:37] simonjohansson commented on #6589
By default the query inspector sorts queries by Load by total time, thats how we found it. Orange colour means Lock Wait, green is CPU and CPU Wait.

[code]

[2021-06-04 15:07] vito commented on #6589
Neat, good to know - that makes more sense then, so the query itself is doing very little (tiny green segment) but it's spending most of its time waiting around on locks, probably because the query is being run too often (combined with whatever other queries involve locking the table).

Maybe we could adjust the query to not update every single time, and instead update when it's halfway or closer

[2021-06-04 16:10] vito opened #7131 "Backport abort notifier leak fix to 6.7.x"
Backport https://github.com/concourse/concourse/pull/7120 to `release/6.7.x` branch. We don't need to ship a new release immediately but we might as well have the fix ready for next time we issue a patch.

[2021-06-07 12:45] simonjohansson commented on #6589
Every bit helps :)

Do you know what else might have caused the spike and volatility of the load between 7.2 and 7.3.1?

![Screenshot 2021-06-07 at 14 44 03](https://user-images.githubusercontent.com/736248/121018630-f0952b00-c79e-11eb-84bf-ef77ea3b7c75.png)

7.2 was stable around 40% CPU for us and 7.3.1 is a bit all over the place

[2021-06-07 14:44] taylorsilva commented on #5713
Closing because containerd is about to become the default runtime #7106. Privileged container were sped up by changes to baggageclaim when using overlay #6620 which is the recommended driver linux workers should use.

[2021-06-07 14:44] #5713 closed

[2021-06-08 15:03] #7052 closed

[2021-06-08 16:19] #6752 closed

[2021-06-09 18:45] mgranoski commented on #1691
I am running into this problem myself, a fix would be nice.

[2021-06-09 19:53] clarafu commented on #6274
Splitting up the versioned resource types refactor from the get var step. This is because I want to reduce the risk involved in the next release of concourse and have time to spend time carefully making sure there are no bugs before releasing the get var step.

TODO after rebasing for the get var branch:
- [ ] Add back get-var tests for `public_plan_test.go`
[code]
- [ ]

[2021-06-09 20:45] kristianpaul opened #7149 "panic: unaligned 64-bit atomic operation when running on raspberry pi 4"
## Summary

After compiling concourse on Raspberry Pi 4
## Steps to reproduce
[code]
## Expected results

Access to concourse web interface via browser

## Actual results

[code]

## Additional context

[code]

## Triaging info

* Concourse version: 7.3.1
* Browser (if applicable):
* Did this used to work? No idea

[2021-06-09 20:46] kristianpaul commented on #7149
Seems to be related with https://github.com/golang/go/issues/36606

[2021-06-10 12:36] mnitchev opened #7155 "Upgrading concourse to v7.3.1 caused windows task to consistently hang"
## Summary

After upgrading our concourse (BOSH deployed) from 7.2.0 to 7.3.1 a job that runs tests on windows started to hang. It looks like the job cannot create a container at all for the task step and the job stays running forever. Attempts to abort a build are unsuccessful - the http request returns 204, but it does nothing. However after we restart the web vm the build finally gets aborted a

[2021-06-10 15:36] #7060 closed

[2021-06-10 17:03] Rukenshia commented on #6589
Are the two queries in this issue related at all? Did anyone here find a workaround for the originally posted query?

We'd like to upgrade to Concourse 7, but are still currently blocked by this. If there's any info I can give to help please let me know.

[2021-06-11 15:41] vito commented on #6589
@Rukenshia Admittedly this issue has kind of turned into an all-purpose inefficient database query hunting ground - we could close it with the next couple of fixes.

The slowest query reported in your case (the one with the costly `LEFT JOIN LATERAL`) should be addressed by a refactor @clarafu has been working on. It's done, but needed some rebasing, which she's finishing up now as long as nothing

[2021-06-11 15:52] Rukenshia commented on #6589
Thanks a lot for the update, I really appreciate it and look forward to the fixes!

[2021-06-11 17:09] jamie-pate opened #7160 "Diagnosis of slow step Inititialization. (btrfs, dcind)"
## Summary
I recently added a pipeline that uses dcind (docker compose in docker, https://github.com/jamie-pate/concourse-dcind ) and it has run progressively slower at each step. There don't seem to be any steps to diagnose the cause of this slow initialization.

Unable to use dcind because the initialization times (even for the `get` step which previously ran immediately) become catastrophically

[2021-06-14 08:38] simonjohansson commented on #6589
## Show foreign keys without an index
[code]

## Show the size and number of hits for each index
[code]

[2021-06-14 12:23] tech-geek29 commented on #5215
@taylorsilva is the destroy-pipeline available to pick? I would like to pick that if its free!

[2021-06-14 12:27] taylorsilva commented on #5215
@tech-geek29 all yours, thank you!

[2021-06-14 13:29] tech-geek29 commented on #5215
@taylorsilva I think destroy-pipeline is already done & merged! I think it should be checked in above Goal.

I can pick up checklist. I see that is free!

[2021-06-14 13:44] taylorsilva commented on #5215
It is, wonder when that got it 🤔 Feel free to do any of them and tag this issue in the PR

[2021-06-14 15:13] tech-geek29 commented on #5215
@taylorsilva I do not have contributor access role. I am not able to add label to PR. What is the process for that?

[2021-06-14 15:16] aoldershaw commented on #5215
@tech-geek29 I just approved your request to join contributors in https://github.com/concourse/governance (welcome!) - can you try to add the label again?

[2021-06-14 15:27] tech-geek29 commented on #5215
Thanks very much @aoldershaw , I was able to attach labels. @taylorsilva @aoldershaw I have raised PR #7162. Can you please review and approve it?

[2021-06-14 15:28] taylorsilva commented on #5215
It'll be assigned to someone tomorrow during standup for review.

[2021-06-14 15:33] tech-geek29 commented on #5215
Awesome! Thanks @taylorsilva

[2021-06-14 16:15] reskin89 opened #7163 "Visual Indicator of Archived Pipeline"
## Summary

Currently, if an archived pipeline is linked to, there's no visual indication that it is archived.

There is only a lack of a "run job" play button, but everything else looks as if it is a normal operational pipeline.

The only minor differentiator otherwise is its absence from the sidebar.

Some type of visual indication of a pipeline that it is indeed archived would be helpful, since

[2021-06-14 19:23] vito commented on #7128
We've seen this happen occasionally with our own periodic pipelines but haven't had a chance to dig into it and find a root cause.

/cc @taylorsilva @chenbh (just 'cause they've looked into it before, I think)

[2021-06-14 21:05] analytically opened #7165 "Allow setting containerdNamespace using environment variable (CONCOURSE_CONTAINERD_NAMESPACE)"
It's currently hardcoded to 'concourse' here: https://github.com/concourse/concourse/blob/94b52c866b1704d6167b9d121d0a443a960d9d09/worker/workercmd/containerd.go#L26

When running multiple Concourse's on the same host it'd be handy to be able to customize the namespace.

[2021-06-14 22:30] analytically commented on #7165
Containerd also uses a CONTAINERD_NAMESPACE variable and a NamespaceFromEnv func.

[2021-06-15 15:12] #7077 closed

[2021-06-15 15:38] aoldershaw opened #7173 "Release 7.3.2"
Steps for a new patch release:

* [x] Ensure each resource type is pinned to whatever version was last shipped within the MAJOR.MINOR series. This is to avoid accidentally shipping breaking changes in resource types with patch releases.

  * If a patch release is being shipped in order to bump a resource type (e.g. for a CVE or bug fix), pin it to the appropriate version instead.

* [x] Go through

[2021-06-15 15:46] #7173 closed

[2021-06-15 16:18] xtremerui opened #7174 "Move `pivotal/concourse-for-k8s` repo to internal GitLab"
It would be nice if the mental model was simply "OSS => github.com/concourse, Enterprise => https://gitlab.eng.vmware.com/concourse", so let's move this repo over as well.

* [ ] remove `pivnet-token` credential from concourse infrastructure vault

[2021-06-15 19:21] taylorsilva commented on #1375
Microsoft fixed this by switching edge to be chromium-based: https://en.wikipedia.org/wiki/Microsoft_Edge#Anaheim_(2019%E2%80%93present)

[2021-06-15 19:21] #1375 closed

[2021-06-15 19:30] taylorsilva commented on #7165
Wondering why you're running multiple Concourse's on the same host? It's not a common use-case we see and we generally recommend against it.

[2021-06-15 20:06] analytically commented on #7165
I realise it's not a common use case. I'm working on a SAAS platform for Concourse with shared infra (zero trust networking) on AWS.

[2021-06-16 13:57] dlbock commented on #3521
Looks like this item was moved to the Icebox in May 2020? Does this mean it won't get addressed @vito ? 🙏

[2021-06-16 14:18] dlbock commented on #3521
@hfinucane For me, many times the output from `fly watch` is also somehow truncated

[2021-06-16 14:25] Jasstkn opened #7178 "Getting 403 with Vault in concourse 7.3.1"
## Summary

After upgrade to concourse 7.3.1 from 6.7.5 I've experienced errors related to Vault.

[code]

## Steps to reproduce

1. Upgrade to 7.3.1 and try to get secrets from Vault kv2

## Expected results

No errors

## Actual results

[code]

## Additional context

Login to vault was successful. After rollback it works as expected.
[code]

Can be related to https://github.com/concourse/concou

[2021-06-16 18:27] EstebanFS commented on #7178
@chenbh and I are taking a look into the issue, can you tell us a little bit more about the process you followed when you upgraded Concourse to 7.3.1?

We guess you made the following steps:

1) Upgraded Concourse from 6.7.5 to 7.3.1
2) Enable kv2 on vault instance
3) Try to run the same pipeline with no configuration changes and have an error

When you downgraded Concourse, did you also disable t

[2021-06-16 18:58] Jasstkn commented on #7178
@EstebanFS I've made following steps:
1. Used kv2 in Vault as I used it before
2. Upgraded concourse from 6.7.5 to 7.3.1
3. Verify that it doesn't work.

PREFIX: /secret/data/example/test/

Yes. I think that's the problem. Should I omit the /data/ from prefix?

[2021-06-17 13:56] #7131 closed

[2021-06-17 15:00] g-fusion commented on #5525
Hello @jamieklassen,

This issue is still valid for us, for Bosh deployment as well. I will try to provide more info:

Setup:
- Bosh deployment
- Concourse is configured with [CF/UAA auth](https://concourse-ci.org/cf-uaa-auth.html)
- Concours[ local user auth](https://concourse-ci.org/local-auth.html#local-auth) is enabled as well to provide one/single "technical user"
- fly cli is used to interac

[2021-06-17 15:04] jamieklassen commented on #5525
Hi @g-fusion I'm no longer a maintainer of Concourse; best of luck with your automation!

[2021-06-17 19:22] chenbh commented on #7178
Yep, that should be all that's needed. After that it should follow the standard [credential lookup rules](https://concourse-ci.org/vault-credential-manager.html#vault-credential-lookup-rules) and search for your secret in the following locations:
- `$PREFIX/$TEAM_NAME/$PIPELINE_NAME/$secret`
- `$PREFIX/$TEAM_NAME/$secret`

(assuming you haven't changed the [path templates](https://concourse-ci.org

[2021-06-17 21:43] xtremerui commented on #7174
the repo is now moved to concourse gitlab. Its pipeline got merged into https://runway-ci.eng.vmware.com/teams/concourse-team/pipelines/enterprise-release

[2021-06-17 21:43] #7174 closed

[2021-06-17 21:47] xtremerui opened #7186 "Publish images to tanzu network's harbor instance"
https://docs.google.com/document/d/1O-v2lICEWUl8RUtjEpseHw30I3fxQdW1Yd-wd3mdZG8/edit#heading=h.1bjbad2j7092

[2021-06-17 21:55] xtremerui commented on #7186
now both [postgre](https://runway-ci.eng.vmware.com/teams/concourse-team/pipelines/enterprise-release/jobs/postgres) and [helm-cli](https://runway-ci.eng.vmware.com/teams/concourse-team/pipelines/enterprise-release/jobs/helm-cli) images are pushed to harbor dev instance `dev.registry.pivotal.io`

ATM, we can't config those images to be public. Once Harbor allows us to to that, we no longer need to

[2021-06-17 21:55] #7186 closed

[2021-06-18 14:27] taylorsilva commented on #5525
Hey people, based on Jamie's initial analysis it sounds like before anything happens in Concourse a PR would need to be made to dex to support logging failed login attempts. 90% of the code Concourse has for login/auth is setting up the dex server and configured auth  providers. Everything else is handed off to dex. Overall, it sounds like this needs to be a feature request to dex.

[2021-06-18 14:28] #6988 closed

[2021-06-18 14:34] taylorsilva commented on #3521
This fell down the priority list, it's not on our roadmap to get done right now. [v10 stuff](https://blog.concourse-ci.org/core-roadmap-towards-v10/) has the highest priority for the team.

[2021-06-18 14:41] taylorsilva commented on #7094
I wonder if this explains #7128

[2021-06-21 10:15] Jasstkn commented on #7178
Thanks. I managed to fix this with removing data and .data from secret reference.

[2021-06-21 10:15] #7178 closed

[2021-06-21 13:39] goldstar611 opened #7195 "Small typo"
I think there is a typo here:
https://github.com/concourse/concourse/blob/8e89cfce2b501b408b0cb841e6a2dab77b8ebe13/worker/workercmd/guardian.go#L59

The purpose of this `RemoveAll` call is to remove existing binaries that are older __than__ it is bundled with. Surely guardian doesn't bundle old binaries :P

[2021-06-21 16:10] chenbh commented on #7195
This is for when Concourse is being upgraded, the initial issue is at https://github.com/concourse/concourse/issues/6236. tldr: guardian doesn't overwrite old files when it extracts its bundled binaries, so if an older version of Concourse (+ guardian) was deployed on the system, the newer Concourse (+ guardian) would end up using the older binaries.

[2021-06-21 16:26] goldstar611 commented on #7195
Yes I know, that's how I found this comment. But to be grammatical correct please s/that/than

[2021-06-21 16:31] goldstar611 commented on #7195
To be clear I'm talking about the comment on line 59 not any code or logic. A tech writer would spot this in a few seconds.

[2021-06-21 17:58] kallisti5 opened #7197 "Hung time resource - latest version of resource not found"
## Summary

I saw a mention of hung time resources here:
https://github.com/concourse/concourse/issues/5360#issuecomment-615239361

Seeing something similar on a new pipeline deployment.

![stuck](https://user-images.githubusercontent.com/100110/122806517-066f1980-d290-11eb-92f4-0caa9246497d.png)

## Steps to reproduce

Pipeline Code
https://github.com/haiku/infrastructure/blob/master/concourse/pi

[2021-06-21 18:00] kallisti5 commented on #7197
I collected a stack trace per https://github.com/concourse/concourse/issues/5360#issuecomment-615239361

[worker-trace.log](https://github.com/concourse/concourse/files/6688608/worker-trace.log)
[web-trace.log](https://github.com/concourse/concourse/files/6688609/web-trace.log)

Job can be seen hung right now here:
https://ci.haiku-os.org/teams/r1beta3/pipelines/r1beta3-x86_64/jobs/repo-r1beta3-x8

[2021-06-21 18:03] kallisti5 commented on #7197
@vito  pinging you since you made the last known comment around this :-)

https://github.com/concourse/concourse/issues/5360#issuecomment-637540437

[2021-06-21 19:05] clarafu commented on #7197
I saw your time resource `pipeline-time-trigger` has a start time of `1 AM` and a stop time of `6 AM`. Did you try to grab a version of the resource within that time range?

[2021-06-21 19:10] kallisti5 commented on #7197
eek. The day is limited to Sunday as well.   So the builder can't pull the resource and you can't force a build until 7 days from now?

[2021-06-21 19:17] kallisti5 commented on #7197
I updated the pipeline temporarily:
[code]

Yup. Now it's pulling + triggering.  So time resources will refuse to pull except within the configured time window?  I thought the goal after 6.x was to allow manual triggering of time-based resources :-)

[2021-06-21 20:20] taylorsilva commented on #7197
I don't think there was anything in 6.x that would change the behaviour of resources. That probably would've been a breaking change if there was something. You might be thinking about some of the scheduling and algorithm changes introduced in 6.x, maybe the component we call [lidar](https://github.com/concourse/concourse/tree/master/atc/lidar) specifically.

[2021-06-21 20:23] taylorsilva commented on #1379
Someone started some work in this PR but it's stalled: https://github.com/concourse/ci/pull/386
If someone wants to pick it up the team can provide guidance.

[2021-06-21 20:57] #6751 closed

[2021-06-22 07:56] marco-m-pix4d commented on #6751
Thanks @Esysc for the implementation and thanks @taylorsilva for shepherding the PR.

[2021-06-22 13:43] aladjadj opened #7204 "Disable the action re-run in the UI by ACL"
**challenge**
Currently when a user has not the permission to perform the re-run action, the button is not disabled, and the call is emitted with http-code 403 in return without information ( eg: popup )

**what would make this better**

- Disable the button in the UI
- Open a popup or a tooltip to inform the user about his rights

[2021-06-22 14:23] raymondberg commented on #996
Highlighting [a good workaround](https://github.com/concourse/concourse/issues/610#issuecomment-372461674) from @emcniece on #618:

Also +1 this feature

[2021-06-22 16:20] clarafu commented on #6274
Just some notes/comments made when we were figuring out the plan for ImageGet and ImageCheck

[code]

[2021-06-22 18:52] mjenk664 commented on #5190
Hi all,

I ran into this exact same issue with a customer I am currently working with and I think I may have found where the bottleneck/gap is when adding your self-signed/internal CA certificates to Concourse.

Initial Steps Performed:
1. Added the internal CA certs to the BOSH Director's trusted-certificates
2. Performed a `bosh deploy -d concourse`
3. Logged into Concourse and could see the `x5

[2021-06-22 19:38] #7130 closed

[2021-06-23 19:59] chenbh opened #7207 "Jobs with no get/put steps are rendered in the resources column"
## Summary

Reported by @khng

The most visible issue is that the job overlaps the resource, but I think the fundamental problem is that the job node is rendered in the resources column (or maybe it's the first column which happens to be for resources)

## Steps to reproduce

Using the following pipeline config:

[code]

## Expected results

UI is rendered normally

## Actual results

![Screen Sho

[2021-06-28 18:08] taylorsilva commented on #6956
Hey, we tried to reproduce this with a docker-compose'd Concourse with two web nodes and one worker. Our theory (based on pn-santos comment) was that when workers rebalanced, thus connecting to the other web node, that the previous web node would not clear out its stale worker metrics. We found out there is code for the prometheus emitter to clear out stale worker stats every 5mins and didn't see

[2021-06-28 19:58] pn-santos commented on #6956
@taylorsilva  thanks for looking into. I can try to provide with info but not sure what might help or be related with this... If you need any config value we are using let me know.

Here's a 24h sample of our setup for one worker. We have 3 ATCs. First 3 show the metric as reported form each ATC. Last one is all three overlapped.

![ccm0](https://user-images.githubusercontent.com/23340138/12369219

[2021-06-28 20:35] taylorsilva opened #7222 "check_every param is not working"
### Discussed in https://github.com/concourse/concourse/discussions/6154

We expect the following resource to be checked multiple times within one minute. Instead we see it checked once per minute.

[code]

Verified by watching the output of `fly builds`.

[code]

Easier to reproduce after #7221

Initially reported in 6.6.0 and still happening on master

[2021-06-28 20:50] taylorsilva commented on #7222
We changed the checks per second to 1/second to simulate the fix in #7218 and this brought down the time between the end of the last check and when the next check starts from 1m to 30s. That's closer to 15s but still more time than we expected. We think, worst case, the resource would have to wait two lidar intervals (10s) before its next check starts, but instead it takes nearly 30s before a new

[2021-06-28 20:50] #7222 closed

[2021-06-29 15:30] taylorsilva commented on #7085
We tried to reproduce this locally using a docker-composed concourse, which gives us a similar setup to what the helm chart would give us (one web node, one worker node).

We didn't set multiple pipelines, but we did trigger the same small job multiple times, starting up to 20 builds at once.
These are the two pipelines we used:
[code]
and
[code]

We watched the `concourse_workers_tasks` metric an

[2021-06-29 15:42] taylorsilva commented on #6843
Closing because there's no reproducible. Please open it again or reply if reproducible steps are provided.

[2021-06-29 15:42] #6843 closed

[2021-06-29 15:50] taylorsilva commented on #6803
Simple pipeline to reproduce the issue:
[code]

Results in:
<img width="526" alt="image" src="https://user-images.githubusercontent.com/4583837/123829147-30e45680-d8d0-11eb-857c-0e2b4a372e93.png">

[2021-06-29 18:16] OddBloke opened #7228 "`fly validate-pipeline --strict` exits with "error unmarshaling JSON" if YAML anchors are used"
## Summary

`fly validate-pipeline` will run against a pipeline that uses YAML anchors (either reporting success or errors) whereas calling `fly validate-pipeline --strict` will fail (regardless of pipeline validity) with (given an anchor name of `anchor`):

[code]

## Steps to reproduce

Write out this pipeline:

[code]

and execute these two commands:

[code]

## Expected results

Both invocatio

[2021-06-29 19:06] taylorsilva commented on #6956
Thanks for the graphs. It very clearly shows the issue with web nodes still reporting worker metrics when the worker is no longer attached after rebalancing occurs. From what I can tell this metric GC code has been in Concourse since v4.

New theory, maybe something is incorrectly updating when the worker was last seen? I looked through the metrics and found this one: https://github.com/concourse/

[2021-06-29 21:21] pn-santos commented on #6956
We only started using metrics with v6.x (I think) but we've had this issue since we started using/tracking metrics.

Humm I assume you mean if I enable the `--emit-to-logs`? Because that particular metric doesn't seem to be emitted by prometheus metrics emitter. It's not mapped in
https://github.com/concourse/concourse/blob/49b742951de35f289a5d752f6aa17a6d211f0a6a/atc/metric/emitter/prometheus.go#

[2021-06-30 08:52] ringods opened #7231 "Task ends with 'volume not found'"
## Summary

Once in a while, a task step ends with the single message `volume not found`.

<img width="1347" alt="Screenshot 2021-06-30 at 10 47 02" src="https://user-images.githubusercontent.com/77923/123931928-41103a80-d991-11eb-8129-6da69edce4e0.png">

## Steps to reproduce

Can't be reproduced deterministically, but it happens a few times a week.

## Expected results

Tasks should always work

[2021-06-30 13:33] #7016 closed

[2021-06-30 13:34] #7086 closed

[2021-06-30 14:04] taylorsilva commented on #6956
Good catch! I'm not super familiar with the metrics package either. Even though this metric is not emitted it could be updated the `lastSeen` value since that is updated at the top of the function with the giant `switch`:
https://github.com/concourse/concourse/blob/0874fc5969abc560af526b4c812147871654e154/atc/metric/emitter/prometheus.go#L564-L569

Need to test this theory, I'll see if I have time

[2021-06-30 15:55] mhindery commented on #6589
@simonjohansson @aoldershaw @VengefulAncient

We were also wondering what the `UTILITY COMMAND` was, and found nothing about it elsewhere except this thread. I contacted Google support for this, and they got back to me with this explanation:

[code]

[2021-06-30 17:51] taylorsilva opened #7234 "Revert #7114"
## Summary

Revert #7114

- [ ] Revert the PR - #7235
- [x] Check Docker-compose tasks in CI repo for containerd assumptions
- [x] Check bosh release for containerd assumptions in the worker template
- [x] concourse/docker-image
- [x] concourse/docs the docker-compose file

[2021-06-30 17:53] #7025 closed

[2021-06-30 17:54] #6476 closed

[2021-06-30 17:55] #6009 closed

[2021-06-30 17:57] #5690 closed

[2021-06-30 17:58] #4783 closed

[2021-06-30 19:32] #7234 closed

[2021-06-30 21:30] #476 closed

[2021-06-30 22:18] aoldershaw commented on #6589
Ah thanks for looking into that @mhindery. In that case, I have a suspicion as to what that might be from, and I think it is something we can *possibly* improve in Concourse.

My guess is that most of the `UTILITY COMMAND` calls are from how we run builds currently. Specifically, when we [create a build](https://github.com/concourse/concourse/blob/6dfa575337e8a90102172aeab52cff973d5de68a/atc/db/bu

[2021-06-30 22:44] cvoltz opened #7237 "Hello World Pipeline generates resource type not found"
## Summary

Following the documentation's [Quick Start](https://concourse-ci.org/quick-start.html) and [Hello World Pipeline](https://concourse-ci.org/tutorial-hello-world.html) steps results in this error message:
[code]

## Steps to reproduce
[code]

## Expected results

Something like:
[code]

## Actual results

[code]

## Additional context

`docker logs concourse_concourse_1` has a lot of ent

[2021-07-01 01:11] cvoltz commented on #7237
Also duplicated the problem on Fedora 34 with 5.12.12-300.fc34.x86_64 kernel. Same version of docker and concourse.

[2021-07-02 11:55] padyx commented on #6173
FYI, I've had a similar issue when the "privileged.json" or "properties.json" file was empty or corrupt in a volume on that worker...
I've opened a discussion here which might be of interest to you: https://github.com/concourse/concourse/discussions/7240

[2021-07-02 13:34] Nerigal commented on #5717
This problem is not solved, at least on Windows 10, the fly.exe has this exact issue on login prompt for token where its trucking like half of it

[2021-07-02 13:38] Nerigal opened #7243 "fly login does not allow enough characters to paste in bearer token #5717"
please read
[fly login does not allow enough characters to paste in bearer token #5717](https://github.com/concourse/concourse/issues/5717)

as this issue (#5717) is now closed, opening a new one and linked it to the old that have not been fixed yet

[2021-07-02 14:20] pratikbalar commented on #1994
Waiting for this one

[2021-07-02 15:07] ringods commented on #1994
We are quite satisfied with aviator to template our Concourse pipelines.

https://github.com/herrjulz/aviator

[2021-07-02 17:42] #6904 closed

[2021-07-05 04:59] pratikbalar commented on #1994
@ringods thank you man, I'm looking into `aviator`

[2021-07-05 14:27] chenbh opened #7246 "Create automated report on IAAS usage"
It would be nice to get some sort of periodic report in case we forget to cleanup some unused resources

GCP:
  - [x] VMs
  - [x] disks
  - [x] ~external IPs~ only terraform smoke creates new external ips, the rest are mostly ephermal
  - [ ] storage buckets?
  - [ ] logging? (this seems to be eating up a decent 15% of our bill)

Reconcile that with the data reported from
GKE clusters
  - [x] node

[2021-07-05 16:36] pn-santos opened #7248 "Going back via browser button needs 2 clicks after navigating to group"
## Summary

After selecting a pipeline in the UI, if I navigate to a group (i.e. `pipeline > group 1 > group 2 > group N`)  navigating in reverse using the browser's back button requires 2 clicks per group (i.e. two clicks to go from group N to group N-1)

## Steps to reproduce

1. Go to https://ci.concourse-ci.org/teams/main/pipelines/concourse
2. Click the `quickstart` group at the top
3. Click

[2021-07-05 18:28] #4436 closed

[2021-07-05 21:23] taylorsilva commented on #1994
@ringods not sure if you're interested in this, but feel free to PR a guide on using aviator here: https://github.com/concourse/docs/blob/master/lit/docs/guides/pipeline-guides.lit

It would render in this section of the site: https://concourse-ci.org/how-to-guides.html

I'm adding a guide right now about templating with ytt since it's what I'm somewhat familiar with: https://github.com/concourse/

[2021-07-05 21:28] #7094 closed

[2021-07-06 08:32] piroux commented on #5656
Hi,

:arrow_right:  This is an important feature of the v10 Concourse roadmap, however it seems a bit blocked:
- in the [discussion of the specification](https://github.com/concourse/rfcs/pull/29)
- in the [PR of the experimental implementation](https://github.com/concourse/concourse/pull/5887)

:information_source:  Indeed, as most Concourse users must know by now, the stake is that we won't be a

[2021-07-06 16:11] aoldershaw commented on #5656
Hey @piroux, thanks for bringing this up! It's still very important to us to support these workflows, but unfortunately we haven't been able to focus all of our efforts on it. We have been slowly chipping away at the v10 roadmap, but there are several things that need to be implemented before we can start supporting PR workflows:

1. The dynamic `across` step itself. As you note, the RFC is still

[2021-07-06 20:59] taylorsilva commented on #7237
Thanks for reporting this! Sadly I could not reproduce this on a centos 8 VM on my machine :(

Could you share the output of `fly -t tutorial workers --details`? I'd expect to see `registry-image` as one of the types under the single worker that should be up.

[2021-07-06 21:29] brother commented on #7237
The main problem is that the worker can not start.

[code]

I am on Debian.

I'll try to launch it using some more controlled OSes than my workstation - it's somewhere between Testing and Unstable.

[2021-07-06 22:06] brother commented on #7237
Worker is up and running in Debian 10 (stable) on a fresh VM Ware VPS =)

[code]

Let's try updating the docker packages and see what happens.
Following: https://docs.docker.com/engine/install/debian/

[code]

Still works as expected it seems.

Next up is upgrading docker-compose to newer versions.
First 1.25.0 as I have failed with before.
~And it seems lite there is a even newer 1.29.2 out that

[2021-07-06 22:26] brother commented on #7237
Did a full upgrade an reboot of my workstation. Still no dice.

My logs has:

[code]

[2021-07-07 00:53] aoldershaw commented on #5656
@piroux I got inspired by this and figured I might as well implement what I described around the dynamic across step - so I implemented #7252. Hopefully we can get it in for the next release, since I think it'll several workflows even without prototypes.

[2021-07-07 13:15] aoldershaw commented on #5656
I forked [telia-oss/github-pr-resource](https://github.com/telia-oss/github-pr-resource) to create [aoldershaw/github-prs-resource](https://github.com/aoldershaw/github-prs-resource) as a proof of concept for PR workflows using dynamic `across`. Unlike the telia-oss resource, this resource emits a list of PRs as a single version - the `get` step simply produces a file containing the list of PR num

[2021-07-07 14:55] #7248 closed

[2021-07-07 15:38] taylorsilva commented on #7237
Hi @brother, do you know @cvoltz or are you hijacking this thread with your own variant of this problem?

From your logs it looks like the container runtime, guardian, is unable to start:

[code]

I forget the rules around this, but I'm wondering if you have cgroupV2 enabled and this has disabled cgroupV1? I can't remember if you can have both enabled or have to choose between the two.

[2021-07-07 16:18] aoldershaw commented on #6589
Actually, I think that's part of it, but given that there are way more `UTILITY COMMAND`s than checks being created, it could be the `NOTIFY build_events_<buildid>` commands (which we invoke every time a build event is emitted to notify any listeners that there may be new e.g. log messages). Given that the vast majority of the time nobody is listening on the other end, this is extraordinarily wast

[2021-07-07 19:30] brother commented on #7237
@taylorsilva  sorry. indeed it might have evolved into a hijack.

On the working machine I have unified cgroup via cgroupsfs and on the "broken" I have systemd controlled cgroup2 it looks like if I understand these things.

According to the debian maintainer the cgroups v2 is default in bullseye (next version, my broken machine is technically sort of using this development version. the working mac

[2021-07-08 19:52] chenbh commented on #7243
What version of fly are you using? The PR that fixed this also made it so the input where you paste the token is now hidden. If you're still able to see the pasted token, you are most likely using fly < v6.4.0 which does not have the fix.

We've just tried this on our cluster by manually editing the database to give us a 4467 character token, and we were able to paste it into fly (v7.3.2) without

[2021-07-08 20:09] chenbh commented on #7228
This is working as intended, the help text for `--strict` is a bit misleading: in addition to failing on warnings, it also enforces that all fields used must match one of the ones declared in the schema.

In this case, the [top level pipeline schema](https://concourse-ci.org/pipelines.html#schema.pipeline) does not declare a `anchor`  field, so it fails the strict validation. This type of validati

[2021-07-08 20:09] #7228 closed

[2021-07-08 20:33] chenbh commented on #7204
The best way I can think of to implement is by looking at the role of the user and making the assumption that if they have the `viewer` role, then the shouldn't be able to trigger new builds, or rerun old ones.

If we want to get fancy (since [RBAC](https://concourse-ci.org/user-roles.html#action-matrix) allows you to assign individual actions to different roles), there probably needs to be some w

[2021-07-08 20:41] chenbh commented on #7231
This is a generic error in baggageclaim that can occur on a number of operations, if you know roughly when it happened, the timestamped worker logs should contain more useful info.

[2021-07-08 21:17] chenbh commented on #7160
The initialization time of a `get` step includes the time taken to fetch the underlying resource type image (in your case `gerrit-resource`) to the worker the `get` step is to be run on. This is further split into the time it takes to `get` the resource type image itself (i.e. the total step time for `get: gerrit`), along with the time it took to stream the volume over to the selected worker.

It'

[2021-07-08 21:22] chenbh commented on #7160
The user experience can probably be improved if we separate the timing into `initialization`, `volume-streaming`, and `child-step`.

But this feature will have to wait until after https://github.com/concourse/concourse/pull/7176 since a lot of the internal components are being refactored in that PR

[2021-07-08 21:34] chenbh commented on #7163
Would a greyed out topbar (similar to how we use blue for paused pipelines) be sufficient?
![Screen Shot 2021-07-08 at 5 33 27 PM](https://user-images.githubusercontent.com/17577073/124993632-a2c84880-e012-11eb-9ee5-90bcc8eb338b.png)

[2021-07-09 01:30] evanchaoli opened #7260 "Why default check timeout is no longer used?"
## Summary

I just noticed that default check timeout is no longer used:

https://github.com/concourse/concourse/blob/5c72b6c00a1c8ef0b5cdef3920240b1549fa4d8d/atc/exec/check_step.go#L322-L325

The original code that calculates check timeout is still there:

https://github.com/concourse/concourse/blob/5c72b6c00a1c8ef0b5cdef3920240b1549fa4d8d/atc/exec/check_step.go#L105-L112

I wonder if this is a b

[2021-07-09 09:01] cwiegleb commented on #6284
Hi,

we observe the same behavior also for v.6.7.6.

[2021-07-09 18:13] xtremerui opened #7265 "Update git-lfs in git-resource to pass security image scan"
The jobs `scan-image` and `scan-image-lts` in https://ci.concourse-ci.org/teams/main/pipelines/resource?vars.type=%22git%22 since `git-lfs` still contains golang/crypto with a high CVE. We have tried installing v2.13.3 of git-lfs the same as the ubuntu build but seems like the one using in ubuntu is compiled again in the repo , so the version we pull down from git-lft github source still fail the

[2021-07-09 18:23] xtremerui commented on #7265
For now the job alert of that scan-image failure on CI has forwarded to concourse-interrupt. Set it back to `concourse-private` once the update on alpine passes the security scan.

https://github.com/concourse/ci/commit/f0b1082140df15ea4905eaffea71d63488607e95

[2021-07-09 18:23] #7265 closed

[2021-07-09 18:23] xtremerui opened #7266 "Update boarding pass for resource types lts release process"

[2021-07-09 19:32] chenbh commented on #7155
That pipeline seems to work just fine on our cluster: https://ci.concourse-ci.org/teams/main/pipelines/issue-7155/jobs/windows-test/builds/1.

The only scenario I can come up with is that somehow the old windows worker wasn't gracefully shut down properly, or there was a race condition between running the build and the worker de-registering itself. So that when the web node tried to schedule the t

[2021-07-09 20:55] chenbh opened #7267 "containerd networking files are never cleaned up after the container exits"
Reported on discord (https://discord.com/channels/219899946617274369/413770960089382922/862856028247556146)

## Summary

The network files created by the containerd runtime is never cleaned up
https://github.com/concourse/concourse/blob/c88bb501a05567ee40126d62f9b0e4776be31c06/worker/runtime/cni_network.go#L254

## Steps to reproduce

1. Do something that will create a container
2. Wait for the co

[2021-07-09 21:39] #5656 closed

[2021-07-09 22:29] brother commented on #7237
This indeed solves the immediate problem. Debian 11 will be out in a couple of months and by then the default looks to be where my system was before. I'll address that with clean installs in separate threads though.

Thanks for the hint about cgroups versions.

[2021-07-10 17:35] jamie-pate commented on #7160
The Gerrit resource type image is very small and loaded from a local registry (vm on the same host).

It was my understanding that while the check step is run in the same worker image, the checkout (get) step would fetch the checkout to a new volume? The get step is also very small. The size of the volume doesn't grow into a later step runs Docker compose to bring up the rest environment. Since th

[2021-07-11 01:30] reskin89 commented on #7163
I think that would work, and potentially adding the text [archived] or something next to the name at the top since colors don't always denote a specific functionality if it isn't potentially used much.

[2021-07-12 16:04] chenbh commented on #7246
https://github.com/concourse/ci/blob/f70c6d38091a58902ed768084f97decb5365cf22/tasks/scripts/infrastructure-report.sh

[2021-07-12 16:04] #7246 closed

[2021-07-13 13:38] xtremerui commented on #7266
https://gitlab.eng.vmware.com/concourse/boarding-pass/-/commit/f3c9f1546b0ab3f5562db39eb6ba276c33c260b3 a section is added in boarding-pass commercial release process.

[2021-07-13 19:03] taylorsilva commented on #7267
## Potential workaround

The directories under `/tmp` are named after a container's handle. If you don't see a matching uuid when running `fly containers` or in the containers table in the db, then you can safely delete those directories.

[2021-07-13 20:44] taylorsilva commented on #5080
Tested with the latest `concourse/concourse` image using containerd on fedora 33 and had no issues with creating containers. I was able to replicate the error when using the guardian runtime. I'll update the docs with this info and close this issue.

[2021-07-14 13:33] #7267 closed

[2021-07-14 13:34] #5080 closed

[2021-07-14 15:29] waweber commented on #1410
Hello from 2021!

Sometimes people like to use a file to store secrets in (e.g. docker secrets) and have an environment variable contain the path to the file instead of the secret itself, because environment variable values can end up being displayed in several places.

Maybe an easy-ish solution here is to provide a `--encryption-key-file` arg and CONCOURSE_ENCRYPTION_KEY_FILE variable, which if

[2021-07-14 17:31] aoldershaw opened #7284 "[containerd] Resource metadata that is too long can't be stored"
## Summary

Containerd has a label length limit of 4096 bytes for both key + value for a single label.

We try to store the full version + metadata from get/put steps on the container as a label:
https://github.com/concourse/concourse/blob/2563979646ccc728b051d32a769f6a05deec2c00/atc/worker/container.go#L237

For resource versions that have a lot of metadata, this can result in errored builds:
<im

[2021-07-14 19:30] Cheezzhead commented on #3563
@gerhard This may be a shot in the dark, but I'm facing the exact same problem. My issue is also related to running Concourse CI behind Cloudflare, evidenced by the fact that when I disable the proxy status for the concourse subdomain, it immediately works.

I have added a page rule for the subdomain for 'Cache level: Bypass' and 'Disable Performance: True', but the issue persists. Is there anythi

[2021-07-14 20:41] taylorsilva commented on #7237
No problem! We updated the docs with some of this info: https://concourse-ci.org/concourse-worker.html#worker-prerequisites
If you want to use cgroupsv2 then you can also switch the worker's runtime to `containerd`. By default the runtime is `guardian` which does not support cgroupv1.

[2021-07-14 20:45] taylorsilva commented on #7237
Looking at OP again I'm realizing that cgroupsv2 is also probably the issue. Try switching to containerd as the worker's runtime `CONCOURSE_RUNTIME: containerd`.

You're getting `base resource type not found` because the worker failed to come up.

Users should stop getting this because I changed the runtime in quickstart to `containerd`. Should result in a friendlier experience for new users.

[2021-07-14 20:45] #7237 closed

[2021-07-14 21:34] cvoltz commented on #7237
I tried again with the update `docker-compose.yml` and with the updated container image and it worked:
[code]

[2021-07-16 09:50] tenjaa commented on #5073
As containerd is GA now, is there an update on how to run rootless workers?
Even if it would mean workloads with `privilged: true` would break in weird ways, it would help us a lot.

[2021-07-16 12:30] OddBloke commented on #7228
Hi Daniel, thanks for the response! That makes sense to me. I have a couple of follow-up Qs:

* Should I file an issue for prettifying the `--strict` output? It _looks_ like an unexpected error at the moment, compared to the usual failure output.
* Anchors are a common way of doing reuse in Concourse, in our pipelines at least: if we wanted to have strict validation, is there a way we can continue

[2021-07-16 14:21] taylorsilva commented on #5073
reading over OP, containred does now support cgroupsv2.

It looks like there are some methods of running containerd rootless already: https://github.com/containerd/containerd/blob/main/docs/rootless.md
Can probably leverage that to add it to Concourse. Maybe a `--containerd-rootless=true` flag?

[2021-07-16 15:06] kallisti5 commented on #6600
something to add.  A special notification path would also allow "state change only" notifications.
The way things are designed at the moment, you can only produce notifications for "every event" which can get spammy for continuous builds. (especially when you build 5+ architectures :laughing:

Ideally, it should be possible to adjust what notification events happen.

**State Change only example:**

[2021-07-17 16:38] schmurfy commented on #6318
I just got that too on ubuntu 20.04, this is still an issue with 7.3.2.

[2021-07-19 09:37] sergii-matus-rft commented on #800
We are facing a similar problem. Is there a chance it can be looked at, please?

[2021-07-19 17:19] lrstanley opened #7306 "Peformance issue when sidebar is open, and many teams/pipelines"
## Summary

With our larger Concourse deployments, opening the sidebar will drastically reduce performance, when logged in with a user that has access to most teams/pipelines (our admin users, as an example). When the sidebar is closed, the UI is nearly instantaneous. With some of our smaller deployments, it's still noticeable, but not nearly as bad as our largest deployment (150 or so teams, a fe

[2021-07-19 17:41] Lewiscowles1986 commented on #800
I'm sorry for not providing more details on this. The startup I was at was using pivotal cloudfoundry at the time. I left and was unsure where to get more details from

[2021-07-19 18:16] chenbh commented on #7228
Go for it, I agree that the current output is cryptic and doesn't really let you know why it failed.

In our pipelines, we define the anchors at the [location of their first use](https://github.com/concourse/ci/blob/ecdae4873b73e9c93949b84752f949ac758ed7f3/pipelines/concourse.yml#L95-L99). It is slightly less readable than having a dedicated block for them at the top, but I find it's still easy en

[2021-07-19 18:55] chenbh commented on #7160
That is correct, unless the checkout has been cached from a previous `get` of the same version, the checkout would occur on a new container and new volume.

Yep

The default behaviour (without P2P streaming enabled) for streaming volumes is actually `worker-1` -> web -> `worker-2` so the bottleneck might be there. If you know for sure all your workers are able to reach each other, I would suggest

[2021-07-20 01:32] jamie-pate commented on #7160
I will try $CONCOURSE_ENABLE_P2P_VOLUME_STREAMING when i get a chance, it sounds promising.

I'll also try to create a repro that runs u the standalone Docker compose deployment, the issue there is just the scale of the volumes and running out of space on my Dev pc

[2021-07-20 02:07] #7284 closed

[2021-07-20 09:47] pratikbalar commented on #7056
Facing this same issue sometime… it's like worker become slow and, then suddenly it gets this error and fail all running jobs in that worker
[code]

Worker running on Ubuntu 20.04 server.

[2021-07-21 10:00] ArunSenthoorPandian commented on #837
Hello,
Does anyone know if we have an option to skip the implicit get after the put? If so, could you point me.
Thanks in advance.

[2021-07-21 10:12] ArunSenthoorPandian commented on #3299
Hi ,
Can anyone confirm if the feature is available for "v6.7.6-cap.4"? If so, could you help with documentation or show how to use the feature.
Your help is greatly appreciated. Thanks.

[2021-07-21 11:58] risicle opened #7316 "Check deletion query never completes & locks database to a standstill"
## Summary

This is a followup to my teaser comment @ https://github.com/concourse/concourse/pull/6511#issuecomment-871267579

Following a concourse-web instance running out of memory and check-deletion stopping for 1.5h, once it decided to start running again it had so much garbage to collect that the query added in #6511 could never complete.

![image](https://user-images.githubusercontent.com/8

[2021-07-21 13:54] taylorsilva opened #7317 "Release 7.4.0"
Steps for a new major/minor release:

* [x] Add this issue to the `v<M.m.x>` milestone

* [x] Create your release branch on the `concourse/concourse` github repo with the following format `release/M.m.x` (M being the major version and m being the minor version)

* [x] Create the release branch on the `concourse/concourse-bosh-release` repository. Make any missing changes to the spec of `web` or `w

[2021-07-21 14:17] #6351 closed

[2021-07-21 14:36] risicle commented on #5947
I *think* we experienced something very similar to this on Concourse 7.2.0 recently. (This is *separate* to the issue we documented in #7316)

Again, a concourse-web instance running out of memory began our incident, after which we observed long-running instances of the following 4 interrelated queries in RDS performance insights:

[code]

[code]

[code]

[code]

![image](https://user-images.githu

[2021-07-21 18:09] Eeems opened #9275 "Check never starts if check_every and webhook_token specified"
If you have both check_every and webhook_token specified, the check build will register, and show as started, but never actually run.

[2021-07-21 19:14] taylorsilva opened #7318 "Task finished but build never ended"
## Summary

- 12:12pm - started a testflight build: https://ci.concourse-ci.org/teams/main/pipelines/concourse/jobs/testflight/builds/882.1
- sometime after 2pm @xtremerui and I started looking at this build because it was still in the running state
- Hijacked onto the two container that were still running
  - `ps aux` showed only the garden `init` process running.
  - `docker` commands failed bec

[2021-07-21 19:43] taylorsilva commented on #6318
Initially I was gonna suggest we allow the port to be configurable, but I don't think that's possible based on my light reading of the following pages. The dns proxy has to listen on port 53:
- https://datatracker.ietf.org/doc/html/rfc1035#section-4.2.1
- https://www.man7.org/linux/man-pages/man5/resolv.conf.5.html
- https://bbs.archlinux.org/viewtopic.php?id=131751

Easiest workaround would be to

[2021-07-21 23:34] evanchaoli commented on #3299
@ArunSenthoorPandian As far as I know, till the latest version (7.3.2), it's unavailable yet.

[2021-07-22 10:04] ArunSenthoorPandian commented on #3299
Thanks @evanchaoli .

[2021-07-22 14:36] evanchaoli opened #7321 "Build log GC using "build_event" is very costly"
## Summary

I just noticed that build log GC use `build_events` in the delete SQL statement:

https://github.com/concourse/concourse/blob/c466e1b0ae72881e69672f8651c3ec3b90918aec/atc/db/pipeline.go#L959-L987

Which will iterate through all pipeline build event log tables, which is very costly. For example, on our prod cluster, having 4000+ pipeline, the execution plan of `delete from build_events

[2021-07-22 16:28] aoldershaw commented on #7321
Yeah that's a good point - don't think there's any reason to *not* delete from the `pipeline_build_events_x` table. Good catch.

I'm sure this'll improve things a fair bit, and is a pretty easy win, but I'll also point out #6080 - as was suggested in the issue, we could have a separate GC component just for deleting the build events after we've marked a build as reaped **in batches**, rather than

[2021-07-22 18:54] taylorsilva opened #7322 "Document OPA"
Comment that currently serves as OPA documentation: https://github.com/concourse/concourse/pull/5034#issuecomment-630053739

Other links:
- https://github.com/concourse/rfcs/pull/41
- https://github.com/concourse/concourse/pull/7139
- https://github.com/concourse/concourse/pull/5995

[2021-07-22 22:21] gerhard commented on #3563
No, that's it on the Cloudflare side. The only other config is to enforce HTTPS in Cloudflare.

If there is a load balancer / proxy in front of concourse web, this also needs to handle SSE (Server Sent Events) correctly.

[2021-07-23 06:37] evanchaoli commented on #7321
@aoldershaw Thanks for pointing out #6080. But I think #6080 requires a bigger change, whereas this fix would be tiny and quick. So let's make this change first.

[2021-07-23 15:13] #7321 closed

[2021-07-23 22:20] cfryanr opened #7329 "Viewing a pipeline with running jobs in the web UI consumes over 100% of CPU"
## Summary

When viewing a pipeline that has some jobs running, the Javascript web UI code consumes over 100% of CPU continuously.

## Steps to reproduce

I suspect that any pipeline would reproduce this issue, but here is an example of a specific public pipeline which causes this behavior: https://hush-house.pivotal.io/teams/tanzu-user-auth/pipelines/pinniped-pull-requests

## Expected results

I

[2021-07-26 07:23] rehanhafeez01 opened #7333 "Manually Trigger job didn't start and stuck."
## Summary
After updating Concourse from version 6.3.0.  to 7.3.2, I try to trigger the build manually but its wont start even after 1 hour.

## Steps to reproduce
I suspect that after deploy the newest version worker wont work with the manually trigger properly.

## Expected results
In old version when ever i try to trigger any task it work without any issue.

## Actual results
I have updated Con

[2021-07-26 14:17] kallisti5 opened #7335 "7.2.0 Concourse web filling up disk"
## Summary

Concourse web is filling up the disk.

File:
```78d250b97c5c13627e8188d87782e430458126d6dfec5f0b9ad56a9fbed211d1-json.log```

Contents:
[code]

Rate: 1MiB / second

## Expected results

concourse should trim / roll these log files eventually and not let them grow indefinitely. Ours was over 140 GiB

## Triaging info

* Concourse version: 7.2.0

[2021-07-26 14:20] kallisti5 commented on #7335
It appears this happens when a builder goes offline.  I started the builder, and after a few minutes this log slowed down to a crawl.

[2021-07-26 14:54] kallisti5 commented on #7335
nevermind.  We accidentally disabled the docker log rotation in a recent change.  Concourse putting out that much log data isn't ideal, but the core issue was our own.

Thanks!

[2021-07-26 14:54] #7335 closed

[2021-07-26 18:12] xtremerui opened #7337 "Release 6.7.7"
Steps for a new patch release:

* [x] Ensure each resource type is pinned to whatever version was last shipped within the MAJOR.MINOR series. This is to avoid accidentally shipping breaking changes in resource types with patch releases.

  * If a patch release is being shipped in order to bump a resource type (e.g. for a CVE or bug fix), pin it to the appropriate version instead.

* [x] Go through

[2021-07-26 18:56] xtremerui commented on #7329
Hi @cfryanr , we have verified this issue and think it is not a bug but a performance issue. The glowing animation does consume lots of system resources and this part of code has not changed for quite a while.

We will try to see if there is any easy optimization.

[2021-07-26 20:21] #7322 closed

[2021-07-26 20:45] #7316 closed

[2021-07-26 21:06] taylorsilva commented on #7329
We tried to see if bumping D3.js would improve things (we use v3.5.5 and recent version is v7.0.0) but saw no noticeable improvements. We're not going to bother upgrading to v7 of D3.js. Looked through their release notes but didn't see any call outs related to performance improvements.

It's possible we are not using D3.js in the most performant way. The drawing logic hasn't been updated since 20

[2021-07-27 04:15] aoldershaw commented on #2230
I put together a proposal roughly based on @vito's WIP RFC if anyone's interested in taking a look: https://github.com/concourse/rfcs/pull/110

It takes a similar "no (pipeline) config" approach, where users/operators can define webhooks via `fly`, and [prototypes](https://github.com/concourse/rfcs/pull/37) can define how resources should "subscribe" to particular webhook payloads based on the `so

[2021-07-28 14:52] skabba opened #7349 "Keep getting "failed to stream in to volume" or when enabling P2P "failed to stream p2p out of volume" - 7.3.2"
### Discussed in https://github.com/concourse/concourse/discussions/7348

<div type='discussions-op-text'>

<sup>Originally posted by **skabba** July 28, 2021</sup>
I keep getting below errors when I upgraded from 6.4.0 to 7.3.2 this week:
<img width="737" alt="failed-to-stream" src="https://user-images.githubusercontent.com/24790166/127338926-111c33cb-5c1d-4947-b96b-7ce364633872.png">
I tried usi

[2021-07-28 15:01] skabba commented on #7349
Enabled debug logging on web:
[code]

[2021-07-28 18:21] skabba commented on #7349
Downgraded (with db migration) to 7.2.0.
Same problem was still there 😢.
Then dowgraded back to where i came from: 6.4.0 (also including the db migration command)
And everything is running super smooth again.

Still curious what this could have been.

[2021-07-28 18:23] skabba commented on #7349
Only got stuck with some landed workers which dont exist anymore (terminated EC2 instances) and i do not know how to make fly workers stop listing them.

[2021-07-28 18:34] skabba commented on #7349
I also deleted the following env vars when downgrading to 6.4.0:

WEB:
[code]

[2021-07-28 19:14] taylorshaulis opened #7350 "Global Resources build check spikes"
## Summary

Enabling Global Resources causes check spikes ~~and occasionally duplicate checks running at the same time~~.

Disabling Global Resources will cause all checks to always run but they will normalize how many checks are running at a given time

## Steps to reproduce

Use docker compose to spin up concourse
https://github.com/concourse/concourse/blob/master/CONTRIBUTING.md#running-concour

[2021-07-29 15:34] #7337 closed

[2021-07-29 18:05] aoldershaw commented on #1172
The `var_sources`-based solution is still a work-in-progress (and is the eventual goal here), but we're happy to report that many multi-branch workflows are now possible with the release of 7.4.0 (and in particular, the [dynamic `across` step](https://github.com/concourse/concourse/releases/tag/v7.4.0#7252))! This approach makes use of some experimental features, and requires special-purpose resou

[2021-07-29 18:34] #7317 closed

[2021-07-29 19:16] taylorsilva opened #7354 "Add more trace spans for step initialization"
## Summary

Add more spans throughout Concourse to answer questions related to step initialization.

Motivation:
- https://github.com/concourse/concourse/issues/7160
- https://github.com/concourse/concourse/discussions/7000
- https://github.com/concourse/concourse/discussions/6860
- https://github.com/concourse/concourse/discussions/6840
- and discord discussions as well

Working branch: [`issue/7

[2021-07-29 19:20] taylorsilva opened #7355 "Move baggageclaim into the concourse/concourse repo"

[2021-07-29 19:20] taylorsilva opened #7356 "Upgrade the opentelemetry packages"

[2021-07-29 19:21] taylorsilva opened #7357 "Allow workers to emit traces"

[2021-07-29 19:21] taylorsilva opened #7358 "Add spans to baggageclaim"

[2021-07-29 19:21] taylorsilva opened #7359 "Add spans to garden and containerd"

[2021-07-30 10:01] suhlig opened #7365 "fly rename-pipeline must not allow new name to be empty"
## Summary

Renaming a pipeline with `fly -t some-target rename-pipeline -o "example" -n ""` succeeds and leaves a pipeline with an empty name.

The renamed pipeline is visible in the web UI (with an empty name), but cannot be renamed again or even deleted.

## Steps to reproduce

[code]

## Expected results

Error message from `fly` saying that the new name must not be empty.

## Actual results

[2021-07-30 11:58] wardourdigital opened #7366 "Fly cli - error: invalid character '<' looking for beginning of value"
## Summary

This may be more of a help request, so apologies in advance.

In my local Mac I have pulled the concourse tutorial repo.

When I attempt to set a pipeline from my local environment to my target. I get the error:

[code]

## Current Setup

**Target: **
Linux CentOS7
Concourse 7.4.0
Fly Cli 7.4.0

**Local**
Mac mini M1
OS X 11.4
Fly Cli 7.4.0

## Steps to reproduce

Attempt to set the pi

[2021-07-30 14:18] lrstanley opened #7367 "bosh-deployment is not a valid label name, prometheus metrics"
## Summary

Upgrading to Concourse v7.4.0, I receive the following errors on our web nodes:

[code]

Looks like it's trying to specify an invalid label, I believe dashes aren't allowed in label names for Prometheus.

## Steps to reproduce

Using this bosh config when deploying:

[code]

## Expected results

Expect it to deploy successfully, while also exporting metrics with the bosh deployment bei

[2021-07-30 14:53] aoldershaw opened #7368 "Linking to resource causality page does not work"
## Summary

When you open a link to a resource causality page (e.g. https://ci.concourse-ci.org/teams/main/pipelines/concourse/resources/concourse/causality/1098286577/downstream), you get a 404, even when `CONCOURSE_ENABLE_RESOURCE_CAUSALITY` is set.

## Steps to reproduce

* `docker-compose up -d`
* Set a pipeline with a resource
* Open the causality page for a resource version
* Refresh the pag

[2021-07-30 19:41] taylorsilva commented on #7366
We usually see this:
[code]
When there's a proxy in-between Concourse and the rest of the world. The proxy may be injecting something or malforming the request somehow.

Do other fly commands work? Can you do `fly workers`?

Add `--verbose` to the command will tell you what API endpoint is returning the error. That might help debug the issue.

[2021-07-30 20:00] taylorsilva commented on #7365
We ignore the error from `ValidateIdentifier()` and rename the pipeline anyways. The API should stop and return the error as soon as it gets it.
https://github.com/concourse/concourse/blob/b047d257f2531c119e15d627e3799d9d931bad03/atc/api/pipelineserver/rename.go#L35-L37

[2021-07-30 20:08] jlamb1 commented on #1122
@fewknow 's script worked great! In case anyone else makes the silly mistake I did, the `--user 'fly:Zmx5'` shouldn't be modified, but entered as is.

[2021-07-30 20:31] taylorsilva commented on #7365
`ValidateIdentifier` only returns an error now when the identifier is an empty string. We should always stop when we get this error now. Found the same problem with renaming a team.

[2021-07-31 18:28] wardourdigital commented on #7366
Aha! That was helpful. Thank you. Don't know how I missed that right at the top of the help! :P

[2021-07-31 18:28] #7366 closed

[2021-08-02 08:00] julweber commented on #7367
+1

[2021-08-02 13:58] lodener commented on #7367
We also ran into this issue. Commenting out the prometheus binds gets you a working deployment:
[code]
Which unfortunately does mean no scraped data for now...

[2021-08-02 15:20] jamesgeddes commented on #2341
Has there been any progress on this?

[2021-08-03 13:32] dhantha commented on #5215
Hi @taylorsilva I would like to work on fly watch

[2021-08-05 10:00] deepakmohanakrishnan1984 opened #7387 "Pipeline with across step interpolating the value from load_var does not work"
## Summary

When a pipeline job contains an `across` step configured to interpolate its value from a `load_var` is failing during `set-pipeline` step.

## Steps to reproduce

1. Configure `pipeline.yml` containing across step interpolating iterable value from `load_var` step from a file.

[code]

2. Create pipeline using `fly set-pipeline` (reports a marshalling error)

[code]

3. `across` step wi

[2021-08-05 10:38] deepakmohanakrishnan1984 commented on #7387
Looks like the thing is working in the latest version 7.4.0. I can close this issue.

[2021-08-05 10:38] #7387 closed

[2021-08-06 14:21] djoyahoy commented on #3023
Hi all. I'm wondering how IAM Roles for Service Accounts might fit into this discussion: https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/?

Curious if you all have any thoughts.

Thats currently how we have AWS configured to talk to the credential manager (AWS Secrets Manager).

[2021-08-06 23:28] mpb10 commented on #5984
@martin-g I believe this is.

I was experiencing the same issue on v6.7.4, but upgrading to 7.4.0 solved it.

[2021-08-07 08:39] schmurfy commented on #6318
I ended up disabling the proxy and setting the dns I want directly using `--containerd-dns-server=` which works well enough, for some reason the task cannot use `localhost` but `127.0.0.1`, I am not sure why but I gave up for now and just use `127.0.0.1` xD

[2021-08-09 12:43] rikkuness commented on #6431
I'm many months late to respond, apologies about that. I've just upgraded all the way to v7.4.0 and hit the same issue still.

I tried as @xtremerui suggested and excluded the `email` scope, so I've that flag set to `openid,profile` and that then still fails to authenticate me but instead with
[code]

[2021-08-09 13:08] coffee-squirrel commented on #7367
Seems likely that this is due to #7294 (introduced in v7.4.0) exposing that https://github.com/concourse/concourse-bosh-release/blob/2f80110acdecae568156bae5e2ef63e51e9c9b8e/jobs/web/templates/bpm.yml.erb.tmpl#L22 has invalid labels for Prometheus (containing hyphens; see [data model](https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels)).

[2021-08-09 17:44] aoldershaw opened #7397 "Upgrade/Downgrade integration tests fails when base resource type stays consistent"
## Summary

When the version of the `mock` base resource type doesn't change between the [`latest` image](https://github.com/concourse/ci/blob/970406a60de2178ff5bdc069a6622dadb4d8d446/tasks/integration.yml#L12-L13) and the [dev image](https://github.com/concourse/ci/blob/970406a60de2178ff5bdc069a6622dadb4d8d446/tasks/integration.yml#L11) under test, the [upgrade](https://github.com/concourse/conco

[2021-08-09 20:53] aoldershaw commented on #7397
It seems to fail on upgrade as well as just downgrade, though it will pass at least ~half the time on upgrade

[2021-08-11 00:06] jamie-pate commented on #7160
:( I can't find any docs about P2P_VOLUME_STREAMING on the concourse docs site

[2021-08-11 19:04] taylorshaulis commented on #7350
Retested with concourse version 7.4.0

No longer getting duplicate checks.

The expected result of 1 check across all pipelines vs actual result of 30 checks is still happening.
Running the check loop script is still able to force the expected result.

[2021-08-11 20:40] waweber opened #7411 "/etc/resolv.conf not correctly configured in containerd containers after upgrading to 7.4 from 7.3"
## Summary

Image check for git fails with

[code]

after upgrading to 7.4 from 7.3, on CentOS 7.

## Steps to reproduce

1. Be on CentOS 7 running Docker daemon 20.10.8 with kernel 5.4.125-1.el7.elrepo.x86_64
2. Install Concourse 7.3 with the following worker env vars:

[code]

3. Upload a test pipeline and see if it can fetch the git resource image
4. Update to Concourse 7.4
5. See that the pipe

[2021-08-12 00:30] jamie-pate commented on #7160
After a small number of tests we haven't encountered the same slow initialization behavior when running the problematic job (also updated to concourse 7.4.0)

[2021-08-12 00:30] #7160 closed

[2021-08-12 10:12] Anonymous-Coward commented on #5300
We did switch from stateful set to deployment, didn't help much, as long as the database was kept in place - which is the whole point of a database, to survive application upgrades or repairs. What did help was to manually delete all records from the tables containers and volumes inside the database. No pipelines get harmed in the process, all pipelines blocked due to checks failing with messages

[2021-08-13 15:20] dkfhui opened #7416 "Not able to delete pipelines with trailing whitespace in name"
# Summary
When trying to delete a pipeline with trailing whitespace from the fly cli, it can't find the pipeline.

# Steps to reproduce
Create a pipeline with trailing whitespace
`fly -t target_name destroy-pipeline --pipeline "pipeline_name "`

# Actual results
[code]

# Additional context
I've tried multiple different ways to test the parsing of the white space including:
#### Without quotes

`f

[2021-08-16 14:10] dlbock commented on #3424
@vito 👋 I've been following links from https://github.com/concourse/concourse/issues/3588 -> https://github.com/concourse/concourse/issues/3079 -> to here -> and finally to the [linked project](https://project.concourse-ci.org/projects/MDc6UHJvamVjdDM5Nzg3OTk=) and correct me if I'm wrong but it looks like work hasn't started to address the core issue? Or am I misunderstanding things?

[2021-08-16 16:41] lrstanley commented on #7367
Going to take a look at making a PR for this.

[2021-08-16 18:00] #7356 closed

[2021-08-16 18:52] #7355 closed

[2021-08-16 19:33] taylorsilva opened #7424 "Document new worker spans"
Updating this page: https://concourse-ci.org/tracing.html#whats-emitted

[2021-08-16 19:35] #7357 closed

[2021-08-17 07:29] jutkko commented on #6038
Is this broken again? I am getting this error with most up to date Docker for Mac 3.5.2.

[2021-08-17 10:55] robwhitby commented on #6751
This is a handy change but unfortunately the metric `concourse_steps_waiting` was missed - it still does not have `teamName` as of 7.4.0

[2021-08-17 11:02] marco-m-pix4d commented on #6751
@robbyice thanks for reporting. We will look into it.

[2021-08-17 15:50] #7365 closed

[2021-08-17 18:06] EstebanFS commented on #7416
Hi @dkfhui , is there any particular reason you can not upgrade Concourse?

I was checking the newer versions of Concourse and this particular error doesn't appear on those ones.

[2021-08-17 18:18] dkfhui commented on #7416
Yeah, I was unable to upgrade it because of my company's automatic Concourse server build process, but I might be able to manually upgrade it

[2021-08-17 18:19] #7416 closed

[2021-08-17 19:15] #7368 closed

[2021-08-17 20:05] #5964 closed

[2021-08-17 20:21] taylorsilva commented on #4071
done #7427

[2021-08-17 20:21] #4071 closed

[2021-08-17 20:39] taylorsilva opened #7430 "Worker does not recover if btrfs volume is still mounted"
## Summary

If a worker is initially deployed using the btrfs driver and then switches to overlay as the driver, there's nothing to remove the btrfs mount (to workdir/volumes), which seems to cause issues with the overlay driver.

## Steps to reproduce

1. Deploy concourse with `CONCOURSE_BAGGAGECLAIM_DRIVER: btrfs`
2. Set a pipeline with a resource and run a check
3. Re-deploy concourse with `CON

[2021-08-17 21:13] clarafu opened #7431 "Spike: Resource causality flow 3"
## Summary

Working off of the last causality spike https://github.com/concourse/concourse/issues/6904, we now have a page where you can view the causality of a resource version. This means you can see all the builds and resource versions that are a result of a version, or you can see all the builds and resource versions that resulted in a version. Here are a few screenshots of these flows.

This

[2021-08-18 08:49] fgerling commented on #7411
I have similar issues.
It seems that the resource checker containers can't resolve anymore.

I run concourse via docker-compose on docker:
* `Docker version 19.03.13, build 4484c46d9d`
* concourse image: `concourse/concourse:7.4`

On 7.3 and 7.4 the resolv.conf looks the same:
[code]
and both versions can resolve `github.com` for example:
[code]

Despite the web container being able to resolve cor

[2021-08-18 15:29] taylorsilva commented on #7333
Hey, are you still having this issue?
I would try `fly intercept`'ing onto the check container and see if you can manually run `git` commands. Might give us more details as to what is going wrong here.

[2021-08-18 15:31] taylorsilva commented on #2341
#7426 will close this issue. It adds a configurable global timeout for get/put/task steps

[2021-08-18 15:34] taylorsilva commented on #5215
@dhantha sorry for the late reply, but go for it!

[2021-08-18 15:39] #7367 closed

[2021-08-18 17:53] waweber commented on #7411
@fgerling I'll have to spin it up again when I get the time. But, the resolv.conf were definitely different between versions for me. Names failed to resolve in a 7.4 worker container, until I manually added a nameserver directive to the resolv.conf. I think our issues might be different, since the error message I see seem to suggest it can't connect to a name server at all

[2021-08-19 13:20] robwhitby commented on #6956
Any progress on this? We're seeing it too with `concourse_workers_tasks` and `concourse_workers_containers`. We'd like to be able to rely on these metrics to make scaling decisions.

[2021-08-19 18:22] clarafu commented on #7431
![Concourse causality - page 1](https://user-images.githubusercontent.com/19290703/130123379-05b93e96-cefc-4afd-9ff8-00d29329f3a3.png)
![Concourse causality - page 2](https://user-images.githubusercontent.com/19290703/130123394-fa083dcf-b4c8-40ad-bcd4-5e3eef49fd2c.png)
![Concourse causality - page 3](https://user-images.githubusercontent.com/19290703/130123401-d87f9e3e-17bd-40e8-a948-fdee7cb820c3.

[2021-08-19 19:32] clarafu commented on #7431
What kind of data do we need to support this new view?

In pipeline view :
- Resource versions when you click (while holding down a button) on the resource in the pipeline page in order to view the causality page.

In new causality view :
- The "run" that includes the pinned version(s)
    - the latest build of each job both directly or indirectly related to the pinned version(s)
    - the set of

[2021-08-20 13:48] #2457 closed

[2021-08-20 14:27] fgerling commented on #7411
@waweber another option you could try is to change the names of your env variables to:
[code]
Notice `WORKER` after `CONCOURSE_`.

I was not able to found documentation about it. I greped my way thru the sources and found some [docker-compose](https://concourse-ci.org/docker-compose.yml) files using this environment variable format.

[2021-08-21 02:46] douglasjose commented on #6038
I'm having a similar issue after upgrading to Concourse 7.4. I can consistently reproduce the issue with this version; downgrading to `concourse/concourse:7.2` or `concourse/concourse:7.3` fixes the problem.

[code]

I'm running Docker Desktop 3.6.0 on MacOS. Should this issue be reopened?

[2021-08-23 14:35] clarafu commented on #7350
@taylorshaulis Curious as to how are you determining that 30 checks have run for the resource? With global resources, your time resource will still check individually for each pipeline because time resources never share versions. For your git resource that should only result in one check for all the pipelines. Each pipeline will run a check step for the resource but only one of those check steps w

[2021-08-23 14:56] clarafu commented on #7333
The manually triggered job getting stuck is more of a symptom of the problem, which is that your resource is not able to check. I see that the resource check is erroring with invalid format for the private key, if you can fix that error and the resource is able to run a check and fetch a version, you should be able to run your manually triggered build.

[2021-08-23 15:02] #7318 closed

[2021-08-23 17:59] aoldershaw commented on #2273
A bit late, but @clarafu and I got sufficiently annoyed by this as well that we wrote https://github.com/concourse/concourse/pull/7307 - this doesn't keep the groups bar around when you navigate to the build page, but remembers what group you were viewing when you clicked on the job and returns there if you navigate back to the pipeline.

Going to close this as it should address the same annoyance

[2021-08-23 17:59] #2273 closed

[2021-08-23 18:26] wanderanimrod commented on #3521
@taylorsilva , @vito mentioned having a conversation with someone about re-architecting the way logs are stored and processed. Is there a write-up for what they discussed somewhere? This is a huge pain for us at the moment. We'd like to invest some effort into remediating this. Any materials that would point us in the right direction will be highly appreciated. Thanks.

[2021-08-23 18:53] clarafu commented on #7197
Yup, the time resource has not changed in that it will only create versions within the configured time window. I'm going to close this issue because it doesn't seem to be a bug within Concourse!

[2021-08-23 18:53] #7197 closed

[2021-08-23 19:01] clarafu commented on #7047
Yup this should be solved with https://github.com/concourse/concourse/pull/7176 where each step that uses a custom type will create and run a check step for the custom type. This should show up in the build page along with the error if it is failing to check. I'm going to close this issue because it is solved with the PR that I linked!

[2021-08-23 19:01] #7047 closed

[2021-08-23 19:24] clarafu commented on #7163
I agree with @reskin89, I think some sort of highlighted header that says "archived" along with the greyed out toolbar might be nice because without the text it is not obvious what the grey toolbar means.

[2021-08-23 20:55] taylorsilva commented on #3521
I don't think that conversation happened. Did a quick search for issues and didn't find anything either. I personally haven't looked into the build logs much at all so I don't have anything I can really point you to. I'm also not super familiar with the frontend.

Maybe @aoldershaw has some thoughts or knows where some "quick" wins could be made.

[2021-08-23 21:57] aoldershaw commented on #3521
I'd take a look at https://github.com/concourse/concourse/issues/3879 which discusses some approaches. We will probably have to stop storing logs as build events and start interpreting them and storing them by line (and possibly not in Postgres, since it's really not the best place for it).

I wrote https://github.com/aoldershaw/ansi as a first step to interpret ANSI escape codes server-side - i r

[2021-08-24 13:34] #7397 closed

[2021-08-25 16:43] #7207 closed

[2021-08-26 06:41] schmidtw opened #7464 "ANSI Escape Sequences Terminate/Bork Logs"
## ANSI Escape Sequences Terminate/Bork Logs

We're using concourse as a driver for building vm images & in the stream of output from those, several [ANSI escape sequences](https://gist.github.com/fnky/458719343aabd01cfb17a3a4f7296797) are present.  Largely I don't care if the output looks bad, but some of the control codes are permanently breaking the output (at least on the web-ui).

[code]

The

[2021-08-26 11:15] jimbo459 opened #7467 ""waiting for worker" output when resource type not defined"
## Summary

When a resource has been defined, using a type which has not been defined there is no clear error output. Instead, the job hangs endlessly with the following output:
[code]

## Steps to reproduce

With the below example a custom resource of `slack-notification` has been used, but the `resource_type` not defined. This will result in the job outputting `waiting for worker`

[code]

## Ex

[2021-08-26 15:07] rjinskidepop opened #7468 "Wrong image tag (registry-image) used after being updated"
## Summary

In production we were experiencing situations where our pipelines would fail after we updated the relevant tags on a registry-image resource. We were deleting and re-creating the pipeline to resolve the issue but started to investigate why.

## Steps to reproduce

We have tested these steps in our cluster, but also on a local, fresh docker-compose (concourse-docker) cluster. The commit

[2021-08-27 12:50] kallisti5 opened #7471 "[garden/seccomp] Unable to run 32-bit binaries in concourse containers"
## Summary

After upgrading to concourse 7.4.0 to from 7.2.0, and the container host to Fedora 34 from 33, unable to run 32-bit binaries in concourse

Originally reported here:
https://bugzilla.redhat.com/show_bug.cgi?id=1998392

They mentioned an issue with seccomp.

Maybe something is missing here?
https://github.com/concourse/concourse/blob/master/worker/runtime/spec/seccomp.go

## Steps to rep

[2021-08-30 00:48] maestrow commented on #7411
As a workaround I can offer this config settings, that fix this DNS issue:
[code]

192.168.1.106 (worker IP) and 192.168.1.1 (DNS IP) is just an example of addresses in local network.

[2021-08-30 06:04] jiege3324 opened #7478 "custom docker image"
The configuration is as follows

[code]

A shell script is run in a custom docker image, the script execution has errors but the concourse web page does not report an error, how can concourse also detect the running script and report an error and return it on the page

[2021-08-30 15:42] taylorsilva commented on #7471
Muntac is off right now so don't expect a reply from him any time soon :)

Could this be a bug with Fedora 34? Have you tested running 7.4.0 on Fedora 33? Would be interesting to see if the same error occurs there. From what I can tell, briefly looking at the `seccomp.go` and your comments, it _seems_ like Concourse's seccomp profile should allow the statx and arch_prctl calls. I'm not immediately

[2021-08-30 15:47] #7478 closed

[2021-08-30 15:53] fweimer-rh commented on #7471
As I said on the Fedora bug, it's a bug in the container environment. Fedora 34 simply uses slightly different parts of the Linux system call interface than previous versions.  [This comment](https://github.com/concourse/concourse/issues/7471#issuecomment-907180339) above hints to the reason why:

[code]

Container environments need to return `ENOSYS` for system calls that they do not implement or

[2021-08-30 16:23] maestrow opened #7485 "TypeError: Cannot read property 'childNodes' of undefined. Chrome 92.0.4515.159 (Official Build) (64-bit)"
## Summary

Open https://ci.concourse-ci.org/ with chrome 92 and look to console: "Uncaught TypeError: Cannot read property 'childNodes' of undefined". Not just one message, but hundreds every portion of second.

## Steps to reproduce

This bug reproduced in Chrome browser. I've tested on Chrome 92.0.4515.159 (Official Build) (64-bit). In Mozilla Firefox there is no such bug.

Fastest way to repro

[2021-08-30 17:35] #7430 closed

[2021-08-30 20:27] jackgray commented on #486
I am getting this error but only for this package/image. I see above about making a note that ubuntu must be used.. Is concourse not supported on mac? I'm not a docker expert but thought that was the entire point of using containers to make it agnostic. The quickstart has instructions for launching the container on mac. This is the only docker image I'm having issues with and I am following the in

[2021-08-31 06:05] Mike-Dax opened #7488 "Changing the repository of a resource_type tries to download the same hash"
## Summary

Using a resource type, in our case `pix4d/cogito` we found a bug, and created a fork to fix it. During testing I switched the repository to our fork. I expected concourse to refetch, but it seems to be caching the 'latest' hash of the wrong repository.

Old resource type:
![image](https://user-images.githubusercontent.com/13504878/131450160-ae4ef173-e849-4864-9aad-a4de97945c4f.png)

Ne

[2021-08-31 16:15] taylorsilva commented on #486
I wonder if you need to add `platform: "linux/amd64"` to your docker-compose?
https://erica.works/docker-on-mac-m1/

[2021-08-31 16:16] taylorsilva commented on #486
FYI, we don't test concourse on any ARM machines, linux or mac. We only have test machines for amd64.

[2021-09-01 00:33] kallisti5 commented on #7471
@fweimer-rh I'm a bit confused here.  Isn't the EPERM error coming from the kernel ioctl and not anything concourse is doing?

Unless i'm missing something, it seems that the github.com/opencontainers/runtime-spec/specs-go go module or the kernel is the cause?   I'm not seeing ant ENOSYS returns anywhere in the concourse code.

[2021-09-01 00:36] kallisti5 commented on #7471
@fweimer-rh @taylorsilva

https://github.com/opencontainers/runtime-spec/issues/960 this seems related.  I guess the "default" in the runtime-spec go module is EPERM, and that needs adjusted to ENOSYS on "all platforms"?  (or just Fedora platforms?)

[2021-09-01 00:46] kallisti5 commented on #7471
I opened https://github.com/opencontainers/runc/issues/2151 about potentially changing the default in runtime-spec since it causes breakages.  The alternative is I just stop using Fedora :laughing:

[2021-09-01 13:37] clarafu opened #7493 "Release 7.5.0"
Steps for a new major/minor release:

* [x] Add this issue to the `v<M.m.x>` milestone

* [x] Create your release branch on the `concourse/concourse` github repo with the following format `release/M.m.x` (M being the major version and m being the minor version)

* [x] Create the release branch on `concourse/concourse-docker` repository.

* [x] Create the release branch on the `concourse/concourse-

[2021-09-01 16:11] taylorsilva commented on #7468
I think this is what is causing the problem. The new version from the `trigger: true` resource causes the scheduler to run before new checks can be run which would update the `resource_config_id` and `resource_config_scope_id` of the resouce. Because the checks aren't run the algorithm picks up the last version used since the resources still point to their old config IDs. I found that setting the

[2021-09-01 19:40] rcsalome commented on #7471
Thanks for making this issue @kallisti5 , it came at the perfect time! We have noticed that the latest Debian Bullseye release has also had issues due to the `statx` system call.

After some testing, we have been able to get around this by changing our container runtime to containerd.
[code]
https://concourse-ci.org/concourse-worker.html#containerd-runtime

Not sure if it will also help with Fedor

[2021-09-01 20:11] kallisti5 commented on #7471
I love workarounds. Trying this out now. :-)

[2021-09-01 23:34] kallisti5 commented on #7471
confirming that switching from the default garden to containerd solves this issue! :fireworks:   Thanks @rcsalome !
I'll leave it open for potential investigation of the garden code.

[2021-09-02 15:58] taylorsilva commented on #7488
Some assumptions I made since you didn't provide a complete pipeline:

- `cogito` is a resource type
- `gh-status`, based on `cogito`, is a resource
- Unsure what your job looks like, but I assume it has at least one `put` step for the `gh-status` resource.

With those assumptions in mind, I made this pipeline to try and reproduce the issue locally since I didn't feel like setting up auth stuff:

[2021-09-02 16:14] taylorsilva commented on #7471
Stuff like this is actually why we worked on the containerd runtime. I don't see the garden team keeping up with the recent OCI changes. They already don't support cgroupsV2 and that's been the default on Fedora for a while now and starting with Debian Bullseye as well.

[2021-09-02 16:59] joe-a-t commented on #5292
This would be extremely useful for running Terraform applies on Concourse where we always want to fail forwards and do not want someone applying an old configuration and reverting any more recent changes to our github repo.

[2021-09-02 19:26] taylorsilva commented on #7411
For everyone that's commented so far, are you all on centos 7, kernel 5+?

I tried to reproduce with @waweber's steps but was unsuccessful. I followed this page to install kernel 5.x: https://computingforgeeks.com/install-linux-kernel-5-on-centos-7/
I ended up with `5.14.0-1.el7.elrepo.x86_64`. I was using a vagrant box to create the vm:

[code]

I used this pipeline to try and recreate the issue:

[2021-09-03 00:17] 9numbernine9 commented on #7411
@taylorsilva Not a commenter on this issue (until now), but I have been encountering a similar issue to the one described here. I encounter this one a Ubuntu 20.04.3 LTS VM that I have running inside of FreeBSD (via Bhyve), _but_ I can also replicate it inside of a VirtualBox VM as well using the same Ubuntu release (all available package updates applied as of 2021-09-02).

Using your sample `dock

[2021-09-03 01:29] Mike-Dax commented on #7488
Your assumptions are correct, good to know it's reproducible. Looking forward to the release!

[2021-09-03 14:01] Berber31 opened #7505 "Build logs not deleted (RIP) - database size grows indefinitely since migration from 6.7.3 to v7.3.2"
## Summary

For some jobs, build logs are not ripped even with `CONCOURSE_DEFAULT_BUILD_LOGS_TO_RETAIN` set to `10` and `CONCOURSE_MAX_BUILD_LOGS_TO_RETAIN` set to `30` since concourse migration from 6.7.3 to 7.3.2 (but not for every jobs)

## Steps to reproduce

- With concourse 6.7.3 trigger many job builds
- migrate to concourse 7.3.2 (with kubernetes init container)
- trigger many builds for t

[2021-09-03 16:37] taylorsilva commented on #7505
This may be fixed by #7179 which is in 7.4.0. Could you try on 7.4.0 and let us know if the problem still exists?

[2021-09-03 18:20] #7488 closed

[2021-09-06 06:57] Berber31 commented on #7505
we will try.

But do you have maybe some database query to run to try to understand the root cause (table not migrated correctly, columns not set, etc.) ?
And maybe a workaround to try ? (`CONCOURSE_MAX_DAYS_TO_RETAIN_BUILD_LOGS` for exemple) ?

[2021-09-07 10:48] kirederik opened #7518 "Failed auto triggers for downstream jobs"
Issue created based on the discussion in https://github.com/concourse/concourse/discussions/7012

We are seeing a similar issue as #6988 with builds not triggering with new versions of the resource (specifically the telia-oss/git-pr-resource), unless the version is pinned to a particular version -- which automatically triggers the pending jobs. What is particularly interesting is that it does trig

[2021-09-07 14:51] aliculPix4D opened #7519 "Fly login for non existing team should not result in login successful message in WebUI"
## Summary

Running fly login and setting a non-existing team results in "login successful" in the WebUI. This can cause confusion to the users. At the end, fly command fails as expected with `error: team 'foo' does not exist`.

## Steps to reproduce

Running fly login and setting a non-existing team results in "login successful" in the WebUI. At the end, fly command fails as expected with `error:

[2021-09-07 14:56] taylorsilva commented on #6541
looks like there's some confusion here. @marian2267

The flag `--enable-pipeline-instances` is for the `concourse` binary, specifically the subcommand `web`. When starting concourse you would include the flag `--enable-pipeline-instances` or env var `CONCOURSE_ENABLE_PIPELINE_INSTANCES` when starting your web nodes to enable instanced pipelines on the **server side**. Like this:
[code]

On the **c

[2021-09-07 15:26] taylorsilva commented on #7505
I quickly tried to reproduce the issue on 7.3.2 and could not. Same with the latest on `master`. Build reaping appeared to work fine when only configuring `CONCOURSE_DEFAULT_BUILD_LOGS_TO_RETAIN` and `CONCOURSE_MAX_BUILD_LOGS_TO_RETAIN`. I set mine to 3 and 5. For a job with no build retention policy it kept the latest 3 builds. For a job with a policy set to `6` builds it only kept the latest `5`

[2021-09-07 18:24] james-pollard-leapyear opened #7522 "((secret.field)) syntax does not work with AWS Secrets Manager"
We'd love to be able to use the `((secret.field))` syntax, but there seems to be a little bit of missing logic on the concourse side to actually use this with AWSSM.

Is this something that y'all might be willing to take a look at?

FWIW, AWSSM appears to do a pretty great job implementing secret `fields` on their end.

## Steps to reproduce
1. `aws secretsmanager create-secret --name /concourse/m

[2021-09-07 19:23] taylorsilva commented on #7518
We tried to reproduce this using the [mock resource](https://github.com/concourse/mock-resource) with three different pipeline layouts.

The first was a simple job-one to job-two pipeline. We assume the issue may be if the resource emits multiple versions close together, so we had the mock resource emit 3 versions in quick succession:
[code]
We saw all versions pass through the two jobs though. He

[2021-09-07 19:36] taylorsilva commented on #7519
I don't think this is a bug, though I do agree with your aspirations for a better UX when a user is logging in via fly.

The reason I don't think this is a bug is because of how `fly` and the web server think about auth, they think differently about it.
- fly: auth info is a target + specific team
- web: auth is about the individual user

Let's go over the auth flow from fly -> web -> fly

You do

[2021-09-07 20:27] taylorsilva commented on #7464
Reproducible pipeline:
[code]

<img width="330" alt="image" src="https://user-images.githubusercontent.com/4583837/132406472-751c6dc4-0aab-464b-ab22-8de78729741c.png">

[2021-09-07 21:02] taylorsilva commented on #7464
This escape sequence seems pretty nasty. Even my terminal (iterm2) renders it badly:

https://user-images.githubusercontent.com/4583837/132408983-0de34f58-6fa8-4f96-9d47-6f60469abb32.mov

I'm not sure this is actually a "bug" we can fix, given it renders badly in my terminal as well. Do you have an example that renders correctly in a terminal but not in the web ui?

and I just realized you said th

[2021-09-07 21:25] schmidtw commented on #7464
It works fine with `gnome-terminal` as well as whatever terminal is used during Centos8/Rocky8 installation.  That's where I got this bundle of joy.  After you've entered all the details (or preconfigured the kickstart file) this sequence happens and it clears the screen and continues.

The issue appears to be that the component(s) that are processing the log strings are smart enough to find the A

[2021-09-08 06:35] aliculPix4D commented on #7519
@taylorsilva Thank you for your detailed response. Sure it make sense that this is not a bug, but a enhancement.

[2021-09-08 07:13] marian2267 commented on #6541
Hello @taylorsilva,

Thank you for your quick response and for clarifying the issue. I managed to do that successfully now.

[2021-09-08 09:14] robwhitby commented on #7505
The build reaper is a loop over all the pipelines, and if it errors on one then it never gets to the rest of them. We had some old pipelines with no-longer supported yaml (I think they used `in_parallel` from memory but might be wrong, and there might be other causes)

This looks like the offending code - it breaks out of the loop if there is an error reading the pipeline's jobs. Should probably `

[2021-09-08 10:18] fejnartal commented on #7518
Hi @taylorsilva
I work with @kirederik

I wanted to highlight that we use set_pipeline: self in many of these pipelines.
We usually require any other job to wait until the self setting job has finished (using a passed: [] condition)

Also, many of our jobs are long-running processes which means that it is very frequent for the teliaoss resource to detect several new versions before an old one has

[2021-09-08 14:12] Berber31 commented on #7505
1. query on `migrations_history` (only 2021-07-21 - day for 6.7.3 to 7.3.2 migration)  :

**migration status is ok**

  version                 tstamp                                                  direction status dirty
  1601993583	2021-07-21 09:13:01.171542	up	passed	false
  1601993584	2021-07-21 09:13:01.813272	up	passed	false
  1601993585	2021-07-21 09:13:17.75	up	passed	false
  1601993586

[2021-09-08 16:08] taylorsilva commented on #7464
Looking through https://github.com/vito/elm-ansi/blob/master/src/Ansi.elm it looks like the codes that clear the screen and move the cursor are supported https://github.com/vito/elm-ansi/blob/05f89150e8bce99ae863cccda83e636564a64561/src/Ansi.elm#L45-L52

I guess if we have a specific list of codes we should ignore we could make that change. I don't thinking ignoring the very general escape codes w

[2021-09-08 17:26] schmidtw commented on #7464
I'm thinking about how to make a change for this workable for most folks.  Most things, most of the time don't have any of these problems & probably like the cursor manipulation tricks (because they make download status bars for example).

For folks that run into stuff like what I've run into it would be great if there was a way to indicate "ignore/consume/strip" any of the cursor moving features

[2021-09-08 19:05] taylorsilva commented on #7518
One thing we noticed was that all your "heavy" jobs have `serial: true` set. We updated our third attempt to include that. We also slowed down one of the jobs in the middle to see if it's slowness would cause a version to not make it to the final `job-two`. This did not happen, every version got through all jobs of the pipeline.

[code]

[2021-09-08 19:38] taylorsilva commented on #6956
We haven't figured out a reproducible case and looking at the code hasn't yielded any results either. We don't know what the root cause is yet. Current theory is that some metric keeps updating which results in `updateLastSeen()` being called, but even that feels really sketchy.

[2021-09-08 20:28] taylorsilva commented on #7505
That seems really odd, the null `build_id` columns. We'll have to check to see if we see that on any of the instances we manage.

[2021-09-09 07:14] kosh01 commented on #633
Me too facing this issue and found out that the chrome plugin BlazeMeter was causing it. It works fine now after the plugin is disabled.

[2021-09-09 07:14] kosh01 commented on #1996
Me too facing this issue and found out that the chrome plugin BlazeMeter was causing it. It works fine now after the plugin is disabled.

[2021-09-09 14:45] geofffranks commented on #7155
@chenbh We're running into this problem currently with a diego testing pipeline after upgrading from 7.2.0 to 7.4.0.  Same symptoms as @mnitchev reported. The "selected worker: ..." event of the hung task matches the current worker registered in `fly workers`, and none are marked as stalled.

Found these in the worker-windows logs after restarting the web nodes though:
[code]

Restarting the web +

[2021-09-09 15:02] geofffranks commented on #7155
Tried upgrading the stemcell in case a fresh VM would resolve the issue, but that doesn't seem to have helped. Did see something interesting though. After the new stemcell deployed, I restarted the web nodes to try and trigger a new task. Instead of failing the hung task, it stayed running, and there are now two `selected worker` lines (but nothing else):

[code]

[2021-09-09 15:25] #7471 closed

[2021-09-09 16:36] geofffranks commented on #7155
Also might be helpful - we converted our linux cloning task to run in powershell on the same worker that the hanging task was run on, and it stopped hanging.

[2021-09-09 19:53] taylorsilva commented on #7505
Figured out the null build_id columns is normal. It's related to the bigint migration that happend for the build_events tables. Our db's also has a mix of both:
[code]

[2021-09-09 21:46] mathiasjoella opened #7532 "on_error hook executes even when all steps/tasks in the job are successful"
See screenshot below:
<img width="1680" alt="Screen Shot 2021-09-09 at 2 33 43 PM" src="https://user-images.githubusercontent.com/15704681/132766002-078d03af-ee44-46f3-ad7d-98429495359b.png">

The job `fetch-next-pipeline-version` has 3 hooks: `on_abort`, `on_failure` and `on_error`. The `on_error` hook gets executed even when the overall job succeeds. This happens only when there are some implici

[2021-09-10 09:47] BlacktoBlue opened #7535 "Support for CatLight Open Protocol"
In the current climate where more and more development teams are working from home. It would be ideal if concourse was able to communicate with Cat Light through Cat Light Open Protocol found: https://github.com/catlightio/catlight-protocol.

This would allow development teams to receive individual notifications on their desktops with the details of passing and failing builds.

[2021-09-10 10:18] kirederik commented on #7518
Yeah, I tried to reproduce with the mock-resource but so far without success.

We continue to see the issue in our pipelines. I'll give it a go in creating a small pipeline that reproduce the issue.

As @fejnartal mentioned, maybe there's something with the combination of the PR resource and the `set-pipeline` step.

[2021-09-13 16:26] clarafu opened #7542 "Memory leak in 7.5.0"
## Summary

We have observed a memory leak in the unreleased 7.5.0 version of Concourse. This should not affect any currently released versions of Concourse (<= 7.4.0).

In our ci deployment, we have seen the memory increase at a steady pace until the web nodes restart.

![image](https://user-images.githubusercontent.com/19290703/133120636-a308b8ec-add2-45e8-85c1-764f40bd97fe.png)

We also noticed

[2021-09-13 19:41] #6029 closed

[2021-09-15 19:07] clarafu commented on #7542
After deploying ci with the fix to close the readers in the load var step, it looks like the memory is stable and the goroutines are no longer leaking.

![image](https://user-images.githubusercontent.com/19290703/133494171-840261ec-9993-45fa-86c6-723bdd7598c1.png)

![image](https://user-images.githubusercontent.com/19290703/133494281-b84239de-d462-4b9f-b0a3-e0ba23f44582.png)

I'm still not exactly

[2021-09-16 12:54] #7163 closed

[2021-09-16 16:22] geofffranks opened #7560 "resource names in across steps are not interpolated"
## Summary

When using static variables in an across step, I'm unable to do a `get` or `put` using variable interpolation to determine the steps

## Steps to reproduce

Try to fly this pipeline:

[code]

## Expected results

It should create a job that successfully pulls both resources

## Actual results

It fails with an error like this:

[code]

## Additional context

I don't anticipate needing

[2021-09-16 18:43] clarafu commented on #7542
Fixed by #7548

[2021-09-16 18:43] #7542 closed

[2021-09-17 15:56] clarafu opened #7563 "Investigate flaky errors in ci"
## Summary

We have been seeing a lot of flaky failing/erroring builds in ci recently so I wanted to create an issue to investigate a bit into what is going on. There are a few errors that I have seen:

`failed to create volume` https://ci.concourse-ci.org/teams/main/pipelines/concourse/jobs/dev-image/builds/1196
`ERRO[0077] download failed: save image: write rootfs: extract image: read tcp 10.254

[2021-09-17 17:16] geofffranks opened #7564 "nested across step display bug"
## Summary

When nesting across steps inside across steps, the steps inside the nested across step do not get rendered in the UI, and their output cannot be seen. Based on my testing, the nested steps are still running, and properly report error/success statuses up to the overall build, so it seems like this is just a display issue.

Worked around this by using an additional variable in the across

[2021-09-17 18:50] geofffranks opened #7565 "across step retry-status bug"
## Summary

When an across's nested step has attempts on it, the across gets marked as failed, if any of the attempts fail, rather than if all of them fail.

## Steps to reproduce

1. Fly this pipeline:
[code]
2. Run the across-with-retries job a bunch of times
3. Look through the results until you see a job that had multiple attempts.

## Expected results

The `across` step should be marked as gr

[2021-09-19 16:11] kberzinch opened #7566 "Pipeline errors if a suitable worker is not available at start"
## Summary

In 7.4.0, if a suitable worker was not available when the job started, it would wait for a worker to be available:

[code]
![7 4 0](https://user-images.githubusercontent.com/10482109/133933810-4f2474da-e9e5-430d-b7c9-e291136b4b18.png)

The same situation now causes the job to immediately error in 7.5.0:

[code]
![7 5 0](https://user-images.githubusercontent.com/10482109/133933841-355c9

[2021-09-20 15:10] clarafu commented on #7566
@kberzinch That's a really interesting use case with stopping and starting the workers only when jobs are actually running. Unfortunately you're right that the change was intentional with #6597. I will make a change to the release note to make that more explicit. We made this change because previously, if the worker that was needed does not exist it will hang the job forever. In regular scenarios,

[2021-09-20 15:50] schmurfy commented on #654
I am curious about the status how this, I would also love to be able to show metadata on tasks.

[2021-09-20 15:56] kberzinch commented on #7566
👍🏻 Thanks for clarifying. I do understand the intent to fail early and loud, and I suspect this is a bit of a corner case as far as Concourse deployments go. It's definitely not a dealbreaker for me.

[2021-09-20 17:35] #7493 closed

[2021-09-20 18:22] scottietremendous opened #7571 "Across Step Feedback/Bugs"

[2021-09-20 19:02] #7358 closed

[2021-09-20 20:36] taylorsilva commented on #7564
Can you explain why you needed to nest the across step inside another across step instead of declaring a second set of vars?

For example, in our pipeline we have this across step:
[code]
https://github.com/concourse/ci/blob/86a962a5e8a367502d66f19bbe036aee3028651d/pipelines/concourse.yml#L342-L352

Which then results in this across step:
<img width="1016" alt="image" src="https://user-images.gith

[2021-09-20 21:02] taylorsilva commented on #7560
The error for this is coming from the pipeline validation code: https://github.com/concourse/concourse/blob/master/atc/configvalidate/validate.go

I'm feeling an awkwardness between the across step and how resources work in a pipeline here.

I kinda get what you're trying to do here, with the across step going over multiple repo's and running tests in each one. I feel like this is being poorly ser

[2021-09-20 21:17] geofffranks commented on #7564
In the case we had that led to this, that’s what we did instead. I can see use cases where you don’t want to do cross product across variables, but rather a subset based on the first variable.

maybe not worth prioritizing this until more people have requested it?

[2021-09-21 02:03] jdziat commented on #7349
@skabba I had to change it so:

[code]
so `concourse.worker.baggageclaim: nil`
and
[code]

Concourse does not like it when you bind to 0.0.0.0 for P2P streaming for some reason.

[2021-09-21 02:22] jdziat commented on #7522
@james-pollard-leapyear what happens when you use:`((test/user))`?

[2021-09-21 02:31] james-pollard-leapyear commented on #7522
`failed to interpolate task config: undefined vars: "test/user"`

[2021-09-21 11:18] rgroemmer opened #7577 "Outputs inside across task not working"
## Summary

Currently i facing an issue with a task inside an across step, the task creates some files which i want to consume afterwards in another step.
But the output specified in the task config is getting ignored if it runs inside an across step.

## Steps to reproduce
Set outputs in a task inside of an across:
[code]

## Expected results
`list-file` task should have access to the manifests d

[2021-09-21 16:09] geofffranks commented on #7560
That is how we worked around it for our pipeline, but this gets messy the more variables you add +  across over.

Additionally, we're running into the same issue with `set_pipeline`, requiring us to have to separate jobs to set a pipeline, when we could across over both pipelines, since they use the same yaml, passing in variables

[2021-09-21 16:22] clarafu commented on #7563
Locally we are seeing the integration tests pass pretty consistently. We are sort of unable to reproduce it because of that

[2021-09-21 18:26] taylorsilva commented on #7560
I guess that part I'm trying to understand is why is this:

[code]

preferred over this:
[code]

Maybe I don't see it with this tiny example. You said it gets messy when it's larger? Can you share an example?

[2021-09-22 09:25] rgroemmer commented on #7577
Short update from my side, i have a workaround for this with the use of `do` and across:
[code]

[2021-09-22 20:51] #7053 closed

[2021-09-23 15:24] taylorsilva commented on #7532
Do you have `CONCOURSE_ENABLE_RERUN_WHEN_WORKER_DISAPPEARS` enabled?

[2021-09-23 15:45] taylorsilva commented on #7532
Can you share the pipeline definition or at least the job plan for this build? Looking at the code I don't see any way that the `on_error` could ever know about an error occurring in another step:

https://github.com/concourse/concourse/blob/fbf4729be0b2d8e508e0eccef3ed98372ef4e25f/atc/exec/on_error.go#L25-L41

[2021-09-23 16:14] taylorsilva commented on #7532
We have some other theories as to how this may be happening after looking at more code. When you open the `set_pipeline` step that the `on_error` is for, what's the output for that show for the specific build you screenshotted?

[2021-09-23 17:27] mathiasjoella commented on #7532
@evanchaoli could you please respond to the question about `CONCOURSE_ENABLE_RERUN_WHEN_WORKER_DISAPPEARS`?

@taylorsilva the `on_error` is actually for the entire job, not just for the `set_pipeline` step. This is the job plan:

[code]

  `send-notification` is defined as follows:

[code]

[2021-09-23 17:57] taylorsilva commented on #7532
@mathiasjoella this is an env @evanchaoli works on? Then it probably has `CONCOURSE_ENABLE_RERUN_WHEN_WORKER_DISAPPEARS` since he was the one who added that feature to Concourse.

This is good cause I think we figured out where the bug was in the `on_error` step. PR coming soon.

[2021-09-24 12:46] Berber31 commented on #7505
After upgrading from 7.3.2 to 7.4.0 we still have same issue

[2021-09-24 14:37] #7532 closed

[2021-09-24 22:04] clarafu commented on #7560
The across step only allows you to provide values into vars that can be interpolated. There are only a few things within the pipeline config that can be interpolated such as a few of the ones listed in here https://concourse-ci.org/vars.html#dynamic-vars. One other place that allows interpolation is `input_mapping` (https://github.com/concourse/concourse/pull/7252 Aidan mentions it in here). I thi

[2021-09-24 22:20] geofffranks commented on #7560
Fair enough. Would it be possible to interpolate set-pipeline’s value, or does that suffer from a similar problem?

Sent from my iPhone

[2021-09-24 22:31] dlbock commented on #3046
I have recently encountered this when attempting to restart Concourse after switching the database (backup, then restore) from postgreSQL running via a K8s pod to postgreSQL running in a managed database instance (e.g. Google CloudSQL). This error shows up on the `web` pods logs as soon as they start up.

Any insight/advice/pointers?

[2021-09-26 14:27] cyrille-leclerc opened #7597 "[concourse web] web pages are empty with server side error on concourse v7.5.0 - MacOS 11.6"
## Summary

Web pages are empty with server side error `atc.index.failed-to-build-template` when using concourse web v7.5.0 and v7.4.0 - MacOS 11.6

Truncated web page showed by Google Chrome Dev Tools "copy as curl":

[code]

Above, the web page is truncated after `href="%`.

Error message in concourse web logs:

[code]

## Steps to reproduce

* Install [concourse-7.5.0-darwin-amd64](https://gith

[2021-09-27 13:34] keevan commented on #7560
**Disclaimer: I'm rather new to concourse.**

I've tried doing something similar myself, and it seems to work but comes up with deprecation warnings (meaning it might be removed one day..). Here's a snippet of what I was trying to do:
[code]
I can use the ((.:resource)) variable to define the pipeline name, and it works, but setting it returns this warning in CLI which worries me:
[code]

I search

[2021-09-27 20:27] #7563 closed

[2021-09-28 07:25] Berber31 commented on #7505
We found the `build-reaper` failing execution root cause.

We had some pipelines with `aggregate` instruction, and Json Unmarshalling fails.

Furthermore, for these pipelines a `fly get-pipeline` (and `fly set-pipeline`) also fails with a 500 error... i had to delete them before.

And i apologize for my mistake, we had logs: `tc.reaper.tick.build-reaper.failed-to-get-job-config` `no step configure

[2021-09-28 18:13] taylorsilva opened #7605 "Safari 15 - Web UI is broken"
### Discussed in https://github.com/concourse/concourse/discussions/7587

<div type='discussions-op-text'>

<sup>Originally posted by **andrew-edgar** September 23, 2021</sup>
Has anybody else seen that the latest Safari 15 does not work well with concourse UI.  I see lots of problems with the header becoming very large and icons overlapping etc when navigating around the concourse UI.

We have v7

[2021-09-28 18:42] taylorsilva commented on #7505
The PR I made hasn't made it into a release yet. It just missed our last release window. It will be in the next one, 7.6.0.

I continue to regret making #6349. We probably should have done something else or at least smoothed out the transition a lot better for users. We were too eager to remove the code and didn't think through all the implications here.

[2021-09-28 19:46] taylorsilva opened #7608 "Resources with dots `.` in their name don't render correctly in the UI"
### Discussed in https://github.com/concourse/concourse/discussions/7607

<div type='discussions-op-text'>

<sup>Originally posted by **HemangLavana** September 28, 2021</sup>
![image](https://user-images.githubusercontent.com/516502/135144271-5e761597-84f8-4502-ab7d-4291c5cfb41e.png)

After upgrading to concourse 7.5.0 version, the UI seems messed up in chrome and firefox. I tried clearing the co

[2021-09-28 20:11] HemangLavana commented on #7608
In addition to the resource name with a dot in it, pls ensure that your validation setup also includes jobname with a dot in it - ex: job.A

[2021-09-28 20:14] taylorsilva commented on #7608
Update the post with that details too.

[2021-09-28 20:19] taylorsilva commented on #654
Not on the roadmap for the core team. No plan to work on this. Someone from the community is free to PR something for this though.

[2021-09-28 21:06] robinhuiser commented on #1379
I've created a [repository](https://github.com/robinhuiser/concourse-arm64) to build `arm64` images.

This repository helps you build both the web and worker `arm64` components for Concourse CI - prebuilt Docker images can be found on Docker Hub [rdclda/concourse](https://hub.docker.com/repository/docker/rdclda/concourse).

## Bundled resources

| Concourse | [git](https://github.com/concourse/git

[2021-09-29 05:30] jpalermo commented on #7608
Seeing similar behavior, and getting errors like this in the Chrome console:
[code]

[2021-09-29 16:50] klakin-pivotal commented on #7608
To be painfully clear, the "similar behavior" that `jpalermo` reports is "You can see all of the Concourse GUI, except for the boxes-and-lines visualization of the pipeline, which isn't rendered. That area of the screen is just the background color, with no boxes and lines.". If you switch to another Job Group that doesn't contain resources with `.` in their name, those boxes and lines render, but

[2021-09-29 16:58] taylorsilva commented on #7608
@jpalermo @klakin-pivotal I was able to reproduce your issue and verify that the PR we made this morning will fix the issue.

[2021-09-30 10:57] cschmatzler opened #7624 "Worker does not start with `umount: /worker-state/volumes: not mounted.`"
## Summary

Hi!

Trying to set up Concourse - `web` is starting like it should and working, but `worker` fails.

## Steps to reproduce
[code]

I also tried mounting `/worker-state/volumes` as both host mount and docker volume, which results in a slightly different error with `umount: /worker-state/volumes: umount failed: Operation not permitted.`

## Expected results

Worker starts.

## Actual res

[2021-09-30 16:04] tspotts opened #7625 "variables from var_sources and load_var not being interpolated in load-var-step file: argument"
## Summary

Neither vars using `((vars:var_name))` or `((.:var_name))` syntax get interpolated when specified to:

[code]

## Steps to reproduce

$ fly set-pipeline...  --load-vars-from `var_creds.yml`
[code]

vars_pipeline.yml
[code]

## Triaging info

* Concourse version: 7.5.0
* Browser (if applicable):
* Did this used to work? Unknown

[2021-10-01 16:31] taylorsilva commented on #7624
Is there a reason you're trying to use btrfs as the baggageclaim driver? We recommend using `overlay` instead. Overlay is the default driving starting in 7.5.0 which you claim to be using: https://github.com/concourse/concourse/releases/tag/v7.5.0

Seems like the worker found an existing btrfs volume. Have you tried deleting everything in `/worker-state/volumes`?

[2021-10-01 20:24] taylorsilva commented on #7605
Trying to dig into this right now and I'm finding that I can't consistently reproduce this. I think the problem might actually be how Safari is rendering stuff. I'm not confident this is something we can actually address. This is looking like a bug in Safari.

This always reproduces it for me:
1. Close any safari tabs/windows you have open
2. Open Safari
3. Go to https://ci.concourse-ci.org
4. Cli

[2021-10-01 20:32] taylorsilva commented on #7605
Submitted a bug report via this form https://www.apple.com/feedback/safari.html

[code]

[2021-10-01 20:34] waweber commented on #7411
The issue turned out to be that I had set CONCOURSE_RUNTIME on the web node and not the worker. In 7.3, containerd was the default, but this was changed back to garden in 7.4. Thus, the DNS settings were not taking effect in 7.4.

[2021-10-01 20:34] #7411 closed

[2021-10-04 17:38] aminjam opened #7642 "Privileged workloads getting access denied"
## Summary

After upgrade to concourse v7.5.0, we are running into an issue for some of the workloads that run on privileged containers. The same tasks and image used to work in previous versions of  concourse. We are seeing failure for mysql and postgres job. The following reproduction is only for postgres.

## Steps to reproduce

The following gist will have a sample task and an application that

[2021-10-04 17:39] #6744 closed

[2021-10-05 16:07] taylorsilva commented on #7642
What version did you upgrade from?

I verified that I could reproduce the error on 7.5.0 and 7.4.0.
I could not reproduce the issue in 7.0.0.

[2021-10-05 19:10] taylorsilva commented on #7577
Adding some context. This is currently working as it was coded to: https://github.com/concourse/concourse/blob/21c25554757f69e26da17301f75e07616d1083bc/atc/exec/across_step.go#L125

Each across var has a local scope, where it inherits all the outputs from previous steps. None of the outputs made within an across step are passed back to the parent scope though. So any steps that run after an `acros

[2021-10-05 19:38] aminjam commented on #7642
Thanks @taylorsilva for helping with this issue.

7.4.0 and it was working for us

Default runtime, which I believe is guardian.

[2021-10-06 14:50] muntac opened #7651 "Release 7.4.1"
Steps for a new patch release:

* [x] Ensure each resource type is pinned to whatever version was last shipped within the MAJOR.MINOR series. This is to avoid accidentally shipping breaking changes in resource types with patch releases.

  * If a patch release is being shipped in order to bump a resource type (e.g. for a CVE or bug fix), pin it to the appropriate version instead.

* [x] Go through

[2021-10-06 15:56] #7608 closed

[2021-10-06 19:10] taylorsilva commented on #7560
Your initial pipeline mashed the `load_var` and `set_pipeline` step together into one step. What you wanted was this:
[code]

The `set_pipeline` line would still get that error and I'm guessing we don't interpolate that line during runtime.

[2021-10-08 14:45] drahnr opened #7659 "let's encrypt feature fails to obtain cert due no viable challenge type found"
## Summary

Tried to use the let'sencrypt certificate generation with a bare metal machine, which is running the container without any additional proxies, but it fails with:

[code]

The documentation and logs are unfortunately not sufficient to diagnose this.
https://acme-v02.api.letsencrypt.org/acme/authz-v3/38145394950

## Steps to reproduce

[code]

## Expected results

A let's encrypt cert.

[2021-10-08 14:57] #7260 closed

[2021-10-08 16:20] taylorsilva opened #7660 "Don't check identifiers for across step if they contain a var"
## Summary

This only applies to the identifier for the `task` and `set_pipeline` steps.

Given `set_pipeline`/`task` is used with the `across` step and its identifier contains a var from the `across` step:
[code]
[code]

I should not receive a warning about the identifier being invalid.
[code]

You can run the above pipelines, they will work as expected.

## Context

* RFC: concourse/rfcs#29
* Pr

[2021-10-08 16:22] taylorsilva commented on #7560
I created an issue to resolve the problem with identifiers for the task/set_pipeline steps. As per [Clara's comment](https://github.com/concourse/concourse/issues/7560#issuecomment-926943271), I don't think we'll work on getting put and get working with across, given the way Concourse currently thinks about resources and inputs to jobs. Leaving this issue open for future feedback. Re-labeling as a

[2021-10-08 22:23] iplay88keys opened #7662 "Pinned resources extend past end of screen without scroll bar if there are too many to display"
## Summary

The `view pinned resources` dropdown extends past the end of the page if there are enough items. However, it is not scrollable, so any resources that are past the edge of the screen can't be seen.

## Steps to reproduce

As the setup is very basic for this, I have only provided simplified steps for reproducing this issue:

1. Create a large number of resources and pin many of them
2. C

[2021-10-15 17:29] Eeems opened #7683 "duplicate key value violates unique constraint "pipeline_build_events_22_build_id_event_id""
## Summary

Since I've upgraded to 7.4.1 I've been having get tasks fail with the following error:
`save image get event: pq: duplicate key value violates unique constraint "pipeline_build_events_22_build_id_event_id"`

## Steps to reproduce

1. Configure pipeline with various concurrent jobs that contain a resource get and will automatically trigger at various times during the day.
2. Trigger var

[2021-10-16 02:32] chriseaton opened #7684 "No feedback between all checks complete and job actually starting - waiting for minutes."
## Summary
I've been struggling to figure this out, and to me, it points to a potential issue with the feedback. I am running concourse in docker, with a single worker, and all our pipelines seem to get to this screen and then just sit there for 1m to 3m.
![image](https://user-images.githubusercontent.com/5247568/137569892-5b424fbb-9e18-434d-9b1d-da7d60d36852.png)

As you can see- everything has b

[2021-10-16 14:01] q144 opened #7685 ""Executing database migrations failed" (ValueError: source code string cannot contain null bytes)"
hi,
i upgraded my working system to 4.18
i came from a working v4.16.3 (not 100% sure but i was approx. 3 versions behind)
i got a "Executing database migrations failed" error.
i reinstalled a recent copy of the DB, retried the update (deploy.sh) and i got same problem.
i downgraded to 4.16.3 (reinstalled that db copy) and it works fine again

any suggestions?
i can provide copy of my db if this w

[2021-10-16 18:11] Eeems commented on #7683
For some context on how often it happens, in one of my pipelines it's happening almost every other time a job runs:
![image](https://user-images.githubusercontent.com/1176979/137597833-89cf36b6-1422-4e47-9fae-0b57c0e4310a.png)

This is requiring me to go in and re-run jobs constantly to ensure that the pipeline is actually running to completion.

[2021-10-18 15:53] muntac commented on #7651
The last step involving the Helm chart does not apply in this case. Everything in it is already in the latest version of the chart (and currently relates to 7.5.x). The steps would make sense if 7.4.1 was the latest release.

[2021-10-18 15:53] #7651 closed, assigned to muntac

[2021-10-18 18:19] scottietremendous opened #7689 "Concourse v7.4.0 Commercial Release"
We're currently eying Concourse v7.4.0 as our next commercial release on Tanzu Network. Barring any unforeseen issues, we will need to do two things:

- [x] Submit Concourse v7.4.0 to OSM for review
- [x] Update our enterprise documentation for the Bosh, Helm, and Platform Automation Releases.
- [x] Test upgrade/downgrade from/to 6.7.x on BOSH
- [ ] Test upgrade/downgrade from/to 6.7.x on TKGi

Up

[2021-10-18 18:22] scottietremendous opened #7690 "Create v7.4.1 Enterprise Release Notes"
## Background
As part of the commercial release of Concourse v7.4.1 we will need to add [release notes](https://docs.pivotal.io/p-concourse/v6/rn/) encompassing all releases from v7.0.0 to v7.4.1

## Requirements
* [x] Update Release Notes
* [x] Vet Breaking Changes
* [x] Update [BOSH and Helm Compatibility Charts](https://docs.pivotal.io/p-concourse/v6/#bosh-concourse-compatibility)

[2021-10-18 18:27] scottietremendous opened #7691 "Create v7.4.1 Installation Documentation for BOSH"
## Background

- With the commercial release of Concourse v7.4.1, we'll want to create a new installation guide for customers on BOSH

## Requirements

- [ ] Port over the existing v6.7.x [installation guide](https://docs.pivotal.io/p-concourse/v6/installation/install-concourse-bosh/)
- [ ] Run through a v7.4.1 upgrade on BOSH and edit as necessary

[2021-10-18 18:29] scottietremendous opened #7692 "Create v6.7.x to v7.4.1 Upgrade Documentation for BOSH"
## Background

- With the commercial release of Concourse v7.4.1, we'll want to create an upgrade guide for customer moving from v6.7.x to v7.4.1 on BOSH.

## Requirements

- [ ] Port over the existing v6.3.x [upgrade guide](https://docs.pivotal.io/p-concourse/v6/upgrade-from-5/)
- [ ] Run through a v6.7.x to v7.4.1 upgrade on BOSH and edit as necessary

[2021-10-18 18:32] scottietremendous opened #7693 "Create v7.4.1 Installation Documentation for Helm"
## Background

- With the commercial release of Concourse v7.4.1, we'll want to create a new installation guide for customers on Helm

## Requirements

- [ ] Port over the existing v6.7.x [installation guide](https://docs.pivotal.io/p-concourse/v6/installation/install-concourse-helm/)
- [ ] Run through a v7.4.1 upgrade on Helm and edit as necessary

[2021-10-18 18:34] scottietremendous opened #7694 "Create v6.7.x to v7.4.1 Upgrade Documentation for Helm"
## Background

- With the commercial release of Concourse v7.4.1, we'll want to create an upgrade guide for customer moving from v6.7.x to v7.4.1 on Helm.

## Requirements

- [ ] Port over the existing v6.7.x [upgrade guide](https://docs.pivotal.io/p-concourse/v6/helm/upgrade-from-5-helm/)
- [ ] Run through a v6.7.x to v7.4.1 upgrade on Helm and edit as necessary

[2021-10-18 18:36] scottietremendous opened #7695 "Deploy Concourse for Platform Automation v7.4.1 Release and Docs"
## Background

As part of the commercial release of Concourse v7.4.1, we'll need to release a new version of Concourse for Platform Automation as well as double check the current docs.

## Summary

- [x] Go to the [enterprise platform automation pipeline](https://ci.concourse-ci.org/teams/main/pipelines/enterprise-platform-automation)
- [ ] In the [concourse-bosh-deployment job](https://ci.concour

[2021-10-18 19:58] taylorsilva opened #7697 "Updating resources fail when db encryption is on"
## Summary

Turn on db encryption with `CONCOURSE_ENCRYPTION_KEY`. Set a pipeline with a resource. Update the `source` of the resource and try setting the pipeline again. It will fail with
[code]

Caused by https://github.com/concourse/concourse/pull/7494
Does not affect any released version of concourse.

## Triaging info

* Concourse version: `master`

[2021-10-19 15:42] coffee-squirrel commented on #7683
We're also seeing this using [`concourse-bosh-deployment`@7.4.1](https://github.com/concourse/concourse-bosh-deployment/releases/tag/v7.4.1) (Bionic stemcell `1.10`)-- although the constraint name is `pipeline_build_events_58_build_id_event_id`.

Potentially related, checks are occasionally erroring out with `create resource config: pq: deadlock detected`.

[2021-10-19 18:26] muntac opened #7704 "bin-smoke on CI fails to make SSH connection"
## Summary

The `bin-smoke` job on the main pipeline fails with `Error: Upload failed: ssh: unexpected packet in response to channel open: <nil>`. This is resolved by cleaning the Terraform state with `terraform destroy`.

However, after a period of successive runs the problem reoccurs. This is possibly a problem with GCP rather than Terraform. The SSH keys we use are static and come from the cred

[2021-10-21 11:58] robinhuiser commented on #2892
Setting `CONCOURSE_RUNTIME=containerd `solved an issue very similar as described here.

[2021-10-21 15:13] taylorsilva opened #7712 "k8s secrets don't work with across step"
## Summary

**NEEDS INVESTIGATION**
Based on comment here: https://github.com/concourse/concourse/issues/7571#issuecomment-945865144

## Steps to reproduce

Unclear, need guidance

## Expected results

## Actual results

## Additional context

## Triaging info

* Concourse version: 7.5.0 (maybe? Need clarification)
* Browser (if applicable):
* Did this used to work?

[2021-10-21 20:07] reneighbor commented on #7608
Ah! Sounds good. Thanks Taylor!!

[2021-10-24 15:11] kberzinch opened #7721 "fly execute fails without a specific error message during artifact upload if the provided worker tag does not exist"
## Summary

Running `fly execute --tag=asdf --input jkl=.` will fail without a specific error message if a worker with tag `asdf` is not available at the time the command is executed.

## Steps to reproduce

Task config:
[code]

Start up Concourse:

[code]

Run the task:
[code]

## Expected results

An error is returned indicating that there is not a worker available with that tag.

## Actual resu

[2021-10-25 18:54] taylorsilva opened #7727 "Document extra resource fields"
## Summary

* https://github.com/concourse/concourse/pull/6369 - adds `expose_build_created_by` to resources
* https://github.com/concourse/concourse/commit/cda73ee317bc5402dfb51321c0d3cdd102607fc1 - adds `check_timeout` which has been in there since 4.2.2 🤦

[2021-10-27 15:33] Roadmaster opened #7733 "`fly` can't log in to a server with a"
## Summary

`fly` doesn't seem to be able to resolve local-only (mDNS) hostnames. My concourse server is `concourse.local` with no dns, I only installed `avahi-daemon`. This works:

[code]

this doesn't (understandably):

[code]

## Steps to reproduce

[code]
The concourse server is otherwise reachable (web UI) at http://concourse.local. I can also do this, but then the web UI gives me `invalid st

[2021-10-27 16:32] #7660 closed, assigned to xtremerui

[2021-10-28 20:41] clarafu opened #7744 "Versions that are deleted from the external source are still used by Concourse"
## Summary

When resource versions are deleted from the external source, Concourse does not pick up on that change and can result in those deleted version being used. When the deleted versions are from a custom resource type, it can result in error messages for failing to fetch the image like `fetching the image did not produce a volume` for pre-7.x or `image fetching failed` for post-7.x.

In gen

[2021-10-29 04:44] funkypenguin opened #7745 "Instance pipelines UI causes 404s in iPadOS Safari"
## Summary

We recently migrated our (mostly homogenous) pipelines to a set of instance pipelines. I have 17 variations of each pipeline grouped as either "retort" or "pr". On Chrome on my desktop, this works great, and I'm able to use the pipeline graph view to navigate through the various jobs in each pipeline. On iPadOS Safari however, the same navigation causes 404s when clicking on a job in t

[2021-10-31 23:27] qzk commented on #7683
Similarly, after upgrading to 7.4.1, we're experiencing a lot of checks (maybe 90% of them) erroring with: "create resource config: pq: deadlock detected" as well.

[2021-11-01 05:47] qzk commented on #7683
I've upgraded to 7.4.2 from 7.4.1 and the deadlock errors still persist.
<img width="1292" alt="errors" src="https://user-images.githubusercontent.com/11757158/139626929-a8b4bc3b-cbb9-45dc-bea1-fbd0a769138b.png">

<img width="326" alt="deadlock_error" src="https://user-images.githubusercontent.com/11757158/139627052-f3ebf2bc-78b0-4afd-aedf-55f7461a2c52.png">

I've downgraded to 7.2.0 (what we orig

[2021-11-01 12:32] idavidmcdonald opened #7752 "Colour contrast accessibility fail on the jobs header"
## Summary

A recent change of colour and styling on the jobs page makes reading the text incredibly hard due to the colour contrast between the text and the background.

<img width="663" alt="show-available-pipeline-variables" src="https://user-images.githubusercontent.com/7228605/139670488-fcbf38aa-a498-4f4f-9511-b9459f0e142f.png">

Not only do I personally find it extremely difficult to read, i

[2021-11-01 13:47] taylorsilva opened #7753 ""pq: column p.paused_by does not exist" after upgrade from v7.4.1 to v7.6.0"
### Discussed in https://github.com/concourse/concourse/discussions/7746

<div type='discussions-op-text'>

<sup>Originally posted by **coffee-squirrel** October 29, 2021</sup>
We've just upgraded (using `concourse-bosh-deployment`) a sandbox environment from Concourse v7.4.1 to v7.6.0 (skipping [v7.5.0](https://github.com/concourse/concourse/releases/tag/v7.5.0) to let things settle per the relea

[2021-11-01 14:32] Eeems commented on #7683
I've updated and I'll report back on if it solves the issue for me. I'm expecting that I will also encounter the deadlock issue that @qzk reported.

[2021-11-01 14:35] muntac commented on #7683
Curious if this occurs when upgrading from 7.4.0 or any version that is **not** 7.4.1.

[2021-11-01 14:45] qzk commented on #7683
it looks to be tied to the number of check containers running. it works fine with only a few check builds running but after unpausing probably about 600 pipelines which caused about 4000 check builds to run, the deadlock issues start appearing

[2021-11-01 17:18] Eeems commented on #7683
So far so good. I'll continue running my pipelines for the rest of the day to confirm.

[2021-11-01 17:59] clarafu commented on #7683
I have a suspicion that it might have something to do with this https://github.com/concourse/concourse/blob/b8f9da5b8c00b6112a7a334b3dccdc49962859f9/atc/db/build.go#L1905 because just checking `0` will result in multiple goroutines still finding that the `eventID` is `0` and trying to refresh all together (even after we did `refreshEventId` in `Reload()`). We also don't update the `eventID` here h

[2021-11-02 14:00] xtremerui commented on #7752
I think making the job name black as the timestamp `started 5s ago` would help the readability.

[2021-11-02 14:26] idavidmcdonald commented on #7752
Making it black like the job name would also pass the accessibility criteria
![image](https://user-images.githubusercontent.com/7228605/139866406-0459fd3d-e06f-4d84-a1f5-cb3ad505ff62.png)

[2021-11-02 14:54] clarafu commented on #7683
@qzk Are you able to get any further information about the panic error you are seeing? In the ATC logs, are there are panic deadlock log error messages that can give us more information on where that is occurring? Thanks!

[2021-11-02 15:03] qzk commented on #7683
i recall when i looked at the logs, i didn't see much information around the log messages besides just: ```{"timestamp":"2021-10-31T18:50:32.479979811Z","level":"info","source":"atc","message":"atc.tracker.notify.run.finish.errored","data":{"build":"check","build_id":1044610934,"error":"create resource config: pq: deadlock detected","pipeline":"edited-out","session":"25.12080.1854.4","team":"edite

[2021-11-02 15:20] clarafu commented on #7683
Oh I think that deadlock is coming from something else. I think it is caused by the fact that we are locking `FOR SHARE` on the select query when we are grabbing out information on the resource config https://github.com/concourse/concourse/blob/4da448db5d95969babb857ffccdd8cd639722018/atc/db/resource_config.go#L208

[2021-11-03 07:34] razvan-moj opened #7760 "Baggageclaim errors after upgrade 6.5-7.5"
## Summary

The upgrade - using Helm, from chart v13 to v16 - seemed fine, all the jobs run, but we see lots of the following:

[code]

This is a possible cause of another issue we notice, volumes adding up and filling the worker PVs much faster than before at Concourse v6; we used to need a cleanup every month now the same volumes (100GB) fill up in 3 days.

[2021-11-03 10:04] jamesmealing commented on #7683
We have also just upgraded to v7.4.2 and are seeing a relatively high number of `create resource config: pq: deadlock detected` errors.

[2021-11-03 13:55] clarafu opened #7761 "First build number in build page is shifted"
## Summary

I noticed that the first build number in the build page looks to be much further to the right compared to the other build tabs.

![image](https://user-images.githubusercontent.com/19290703/140072610-be532760-8c55-47eb-af80-57b36e338496.png)

The reason for it being shifted is because it is so that it can be aligned with the build name text above it, but I find that the larger and shift

[2021-11-03 13:58] clarafu commented on #7683
@jamesmealing Would you be able to give me some information on your deployment/pipelines that you are seeing this error on? Do you know approximately how many pipelines/resources/resource-types you have in your deployment? Also, is the error coming from checks of most of your resources and resource types?

[2021-11-03 15:38] jamesmealing commented on #7683
Yeah, of course. So we have 2 web nodes, 8 workers, and the database is in RDS. The whole environment is deployed in AWS via Terraform. We currently have 361 pipelines. Not sure about resources or resource types - If you can give me an easy way to check those, I'd be happy to. Definitely a variety of resources/resource types that we're seeing the error from, albeit intermittently and, as such, fro

[2021-11-03 15:44] dlbock commented on #7683
We are also seeing the same `create resource config: pq: deadlock detected` messages on resources and on tasks.

Our installation: 8 web nodes, 40 workers deployed in GKE via Terraform. The database is in CloudSQL (Postgres 11). We have maybe about ~100 pipelines. The other thing that we're noticing on 7.4.2 is an extreme slowdown of builds. Ones that used to take ~5 mins now take ~ > 30 mins. Thi

[2021-11-03 16:44] qzk commented on #7683
for us the deadlock error looked to be coming only from check builds.

the logs are gone on our end (due to downgrading to 7.2.0) but i had a terminal window open where i tailed the log output for about an hour from 7.4.2 before shutting it down.

greping by session didn't reveal much.

i've tailed the log output from 7.2.0 for about an hour as well, then compared the log message types to find mes

[2021-11-03 20:45] dlbock commented on #7683
I just downgraded to v7.4.0 and already seeing a rapid improvement of build times

[2021-11-04 09:07] alonikomax commented on #5835
Hey, how can I disable this feature?
I am creating pipelines to do a later cleanup of failed tests but they get archived when the job that created them runs again.

[2021-11-04 15:10] muntac commented on #7760
@razvan-moj do you know if you're also seeing more failed builds than before? Asking as those are the ones whose volumes are kept around for a long time.

[2021-11-04 15:32] muntac commented on #7760
Can you also share your baggageclaim configuration if you have configured anything beyond the default values?

[2021-11-04 15:53] #7752 closed

[2021-11-04 16:10] clarafu opened #7766 "A passed constraint job will use a put version of a failed attempt"
## Summary

If you have a put step that allows for multiple attempts, if any of the attempts fail during the get step after the put, the version outputted from the failed attempt might be used by any downstream jobs. For example,

[code]

Lets say attempt 1 of job-A succeeds during the put step and outputs `{ref:v1}` but it fails during the implicit get. job-A will then run the put step again and

[2021-11-05 13:08] Caprowni commented on #5215
@taylorsilva are some of these still up for grabs? (The ones that are unticked) Will take a look at getting to a couple of them :)

[2021-11-05 13:16] taylorsilva commented on #5215
@Caprowni the list is up to date, tackle any that you like :)

[2021-11-05 16:24] mkocus commented on #6231
Got the same issue.

Maybe it would be nice to filter some small mouse movements and allow clicking when that happens?

[2021-11-05 20:46] mkocus commented on #7761
In my opinion the numbers should have the same padding from left and right.

Also, the previous color style IMHO had better readability and the colors were more human, less Linux console ;)

[2021-11-08 08:26] razvan-moj commented on #7760
Hi @muntac! Failed builds - no, we have quite a few jobs every day (dozens to hundreds) and had a similar percentage of failures before. The change clearly started happening after the upgrade. Funny enough, we used to have problems with Postgres filling up and had a ~monthly routine to clean up (https://runbooks.cloud-platform.service.justice.gov.uk/destroy-concourse-build-data.html#overview); tha

[2021-11-08 15:25] rjinskidepop commented on #7468
Hey @taylorsilva

Trying to understand why the fix was reverted? What bug did it introduce?

[2021-11-08 15:34] taylorsilva commented on #7468
The whole thing broke when encryption was enabled. The sql trigger I made assumed the field was always plaintext but it can be encrypted. Therefore, we end up with a type error when the sql trigger tries to parse the encrypted json.

There isn't a way to decrypt the json with the sql trigger, so back to square one for now.

I was making a migration that would also fix this but sadly lost that work

[2021-11-08 17:00] Caprowni commented on #7721
I looked into this and this was actually caused by this PR here: https://github.com/concourse/concourse/pull/6059 because of a similar issue where if you had workers all tagged it wouldn't work... not sure the best way to approach this one 🤔 any thoughts @taylorsilva

[2021-11-08 20:03] xtremerui commented on #7733
what is `external-url` you config when deploying your local concourse?

[2021-11-08 20:14] Roadmaster commented on #7733
@xtremerui this:
[code]

[2021-11-09 07:24] Scottapotamas opened #7777 "Low contrast text in build-header when build is running"
## Summary

The text in the `build-header` uses `#e2e2e2`. With the light yellow background `#fad43b`used when the build is in flight, this text is pretty hard to read compared to previous versions.

![image](https://user-images.githubusercontent.com/460325/140876477-70fefa21-dc25-4ee3-8c12-876f178405f7.png)

To provide an objective comparison between other display states, the 'in progress' state

[2021-11-09 16:06] muntac commented on #5418
- [ ] Implement backend functionality in atc/resourceserver/versionserver
- [ ] Expose with an API route
- [ ] Implement fly command

[2021-11-09 16:48] muntac commented on #5418
@clarafu mentioned that we will also need the ability to clear versions of a resource-type. This is actually the issue that a customer faced recently.

This brings up the question of whether there should be two fly commands, `clear-resource-versions` and `clear-resource-type-versions`, OR one command, `clear-versions` with a flag determining whether it's a resource or resource-type.

[2021-11-09 20:25] taylorsilva commented on #7777
Duplicate of #7752 and resolved by #7756

[2021-11-09 20:25] #7777 closed

[2021-11-09 20:41] taylorsilva commented on #5835
No way to disable it now that the feature flag is removed. Is there a reason you don't continuously set the pipelines?

[2021-11-10 01:26] patmaddox opened #7787 "Concourse doesn't get latest version of git resource"
### Discussed in https://github.com/concourse/concourse/discussions/7784

<sup>Originally posted by **patmaddox** November  9, 2021</sup>

We're encountering something strange that I _think_ is new after upgrading from 7.4.0 (or maybe 7.5.0) to 7.6.0. We're using the helm chart.

Concourse builds with an old version of a resource. I can't figure out why.

When I check the resource, it succeeds and

[2021-11-10 06:42] alonikomax commented on #5835
Yes, what I did is a pipeline that creates infrastructure using Pulumi and
then run some tests of our product on that infrastructure.
If the test fails, someone might need to access that infrastructure so I
need to keep it up.
But after that, I need to destroy the infrastructure.
So when a test fails I create a pipeline that does the cleanup, and when
needed someone can just run the job manually i

[2021-11-10 15:11] muntac opened #7788 "Build histories disappear on upgrade for tasks with `aggregate` step"
## Summary

A customer upgraded from 6.7 to 7.4.0. They had to switch all their `aggregate` steps to `in_parallel` since it was removed in https://github.com/concourse/concourse/pull/6349. The switch was made in the majority of their pipelines. They are now reporting that their build histories have disappeared.

@clarafu mentioned that this is likely because Concourse no longer knows how to parse

[2021-11-10 21:23] xtremerui commented on #4983
Regarding the fact that certain PRs will not be merged into upstream Dex in near future, we need to prepare a plan for switching back to upstream dex WITH deprecating some features in current Concourse. i.e.

 * oauth connector
 * cloudfoundry connector
 * tls config for oidc connector
 * brypt client secret
 * client credential grant type

we will need to investigate the impact of losing above fe

[2021-11-11 00:59] belthesar commented on #7624
Heya folks - I'm encountering this same issue with a brand new docker-based install, just getting my feet wet with Concourse on my personal machine. Docker is currently using `overlay2` as its storage driver, but my backing fs is `btrfs`. I provided a bind mount to `/worker-state` which shows an empty volume and depot folder. I've even attempted setting the environment variable `CONSOURSE_BAGGAGEC

[2021-11-11 09:57] cschmatzler commented on #7624
Try `CONCOURSE_BAGGAGECLAIM_DRIVER: btrfs`.

[2021-11-11 11:19] rjinskidepop opened #7791 "`limit-active-tasks` causing high database CPU and eventual deadlock"
## Summary

We have been investigating elastic scaling of our workers as our workload can cause large spikes in the number of jobs/tasks (~1000). During these investigation we have found situations where;

- the workers CPUs has dropped to effectively 0%
- `steps_waiting` > 500
- `worker_tasks` unrealistic/unaccountable
- `steps_waiting_duration` linearly increasing
- no tasks are scheduled and ma

[2021-11-11 15:19] kberzinch commented on #7761
Regarding the colors - white on yellow (used at the top of running builds) does not meet WCAG contrast recommendations: https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=FAD43B

[2021-11-11 15:54] belthesar commented on #7624
@cschmatzler Changed Concourse version to 7.6 and tried with `CONCOURSE_BAGGAGECLAIM_DRIVER: "btrfs"`, same issue and error. Changed back to Concourse 7.4, and the worker starts as normal. Further believe this is an issue introduced with 7.5 and btrfs handling.

[2021-11-11 17:00] rymir commented on #7791
Additionally to @rjinskidepop summary, executing `UPDATE workers SET active_tasks = 0` on the db unlocks the workers, which resume picking up tasks as nothing ever happened and CPU usage on the workers resumes.

CPU on the database always stays intensive though, with top load from `UPDATE workers SET active_tasks = active_tasks+? WHERE name = $1 RETURNING "active_tasks"` query.

[2021-11-11 21:39] curiositycasualty opened #7792 ""Pipeline ((vars)) example" builds have expired"
## Summary

Looking over the examples doc page (https://concourse-ci.org/examples.html), [example 2.3](https://concourse-ci.org/pipeline-vars-example.html) points to 2 jobs that have passed (and are now gone).
- `initial-job` -- https://ci.concourse-ci.org/teams/examples/pipelines/pipeline-vars/jobs/initial-job/builds/1
- `level-9000-job` -- https://ci.concourse-ci.org/teams/examples/pipelines/pip

[2021-11-15 10:39] alenapetraki opened #7799 "With 'version: every' build for every version is scheduled in order one by one (not in parallel)"
## Summary

I have a pretty simple pipeline with option `version: every` in `get` step
So If I have many new versions builds are scheduled one at a time after previous build is finished, which takes a lot of time to process all the versions

[code]

## Steps to reproduce

I use [docker-compose](https://concourse-ci.org/docker-compose.yml) file from docs with image `concourse/concourse:7.6.0` (trie

[2021-11-15 13:39] xpcone commented on #5080
Now also an issue on debian bullseye ....

[2021-11-15 14:36] #7727 closed

[2021-11-15 19:50] cole-abramson commented on #7485
We've also run into this. We've only seen it happen immediately after logging in (once logged in and returning, the issue does not present). We are using basic auth.

[2021-11-15 20:20] taylorshaulis commented on #7350
I tested with concourse 7.6.0 and I am no longer able to reproduce this issue.
I believe this is now resolved

[2021-11-15 20:20] #7350 closed

[2021-11-15 22:40] taylorsilva commented on #7485
I did the following:

1. New private browsing session in chrome
2. Went to  https://ci.concourse-ci.org/ and pressed login
After logging in my console had the following:
<img width="617" alt="image" src="https://user-images.githubusercontent.com/4583837/141863399-bc7a143d-b0b8-42f9-8b2a-6e1f9e5d9cd6.png">

Did the same but to my local dev instance and used local auth instead of github:
<img width=

[2021-11-16 13:53] cole-abramson commented on #7485
<img width="507" alt="Screen Shot 2021-11-16 at 8 50 59 AM" src="https://user-images.githubusercontent.com/8454489/141997533-3f933c23-a6bc-41da-ba03-168ffeecf7da.png">
When this happens, Chrome also throws this warning about source mapping. If I load Concourse in a new tab, I don't see these errors.

Any tips for how I could help debug this? Perhaps I can run an unminified version of the front-end

[2021-11-16 17:37] clarafu commented on #7761
@kberzinch We do have this merged in https://github.com/concourse/concourse/pull/7756 where we change the header font to be black instead of white

[2021-11-16 18:48] xtremerui commented on #7792
Thx for reporting it! Unfortunately the build log retention policy is cluster wide so we can't make the build log to last forever. But we can just rerun the job to create a new one.

It should be good now.

[2021-11-16 18:57] cole-abramson commented on #7485
This is caused when a Chrome plugin tries to modify the DOM. In our case it was the Okta extension trying to save creds (which explains why it only happened on first login). Fixed by telling Okta to go away :)

[2021-11-16 19:05] xtremerui commented on #7787
Could you provide a minimized version of your pipeline config to reproduce it? Thx

[2021-11-16 22:02] clarafu commented on #7799
I think there is a bit of confusion for what `version: every` means in the context of a build! Do you mind explaining what your perception of what `version: every` is supposed to do?

I can try to give an explanation of what it does right now in Concourse, hopefully that will help clear some things up. If you specify `version: every` in a `get` step for a resource, this means that Concourse will t

[2021-11-17 07:09] aslobanova commented on #7799
@clarafu
I understand that and I apologise if my description is not clear enough

My question is should these builds be scheduled at the same time and run in parallel?

What I see is:
1. Scheduled and running build for version 1
2. Build for version 1 finished
3. Scheduled and running build for version 2
4. Build for version 2 finished
5. Scheduled and running build for version 3
6. Build for vers

[2021-11-17 21:09] pdcastro commented on #6044
Hey @muntac, I have found this issue while investigating why an application build was failing when running on a Concourse Linux worker:

Host environment | Container | Build/tests status
--- | --- | ---
Concourse Linux worker | Alpine v3.14 | FAIL
Concourse Linux worker | Alpine v3.13 or earlier | PASS
Docker Desktop | Alpine v3.14 | PASS
Docker Desktop | Alpine v3.13 or earlier | PASS

The key er

[2021-11-17 22:23] bgandon commented on #6725
Migrating from Concourse v6.7.5 to v7.6.0 I get some similar error: `error: failed to connect to database: migration '1606068653_build_events_partitions_bigint.up.sql' failed and was rolled back: pq: relation "team_build_events_6" does not exist
`

[2021-11-18 05:08] troykinsella opened #7815 "In-progress build job title difficult to read"
## Summary

The white text against the yellow background of a build page job title is very difficult to read:

![Screenshot_2021-11-17_20-59-13](https://user-images.githubusercontent.com/1655907/142354986-b22c61c8-b07f-4c94-ab6e-6ca3f70c7c01.png)

## Steps to reproduce

* Start a build of any job such that it enters the `started` state
* Navigate to the build output page
* Observe the job title in

[2021-11-18 09:38] odormond commented on #7791
We also do autoscaling of workers on AWS EC2. Recently we added a lambda termination policy to the ASG to select only workers that have an `active_tasks` count of 0 to prevent it from randomly picking busy workers. At night, we expect the group capacity to go down to 0 but this is not the case. It turns out that after ~12h of operation we often get 1 worker out of 15 that exhibit an `active_tasks`

[2021-11-18 20:08] xtremerui commented on #7815
it is fixed in https://github.com/concourse/concourse/pull/7756. Will be in next release.

[2021-11-18 20:08] #7815 closed

[2021-11-18 21:35] xtremerui commented on #7791
Thx for reporting the bug. I can see that problem might be caused by using individual worker conn on both decreasing and increasing method.

[2021-11-18 21:45] #7792 closed

[2021-11-19 01:11] dumptruckman commented on #7683
We were experiencing a `create resource config: pq: deadlock detected` error on the `put` step of an instanced pipeline any time the pipeline ran. This of course meant the pipeline would not complete. This happened on version 7.4.1. After reading the discussion here we downgraded to 7.4.0 and the problem went away.

[2021-11-19 12:45] Infinoid commented on #2077
This is still a problem today.

[2021-11-19 18:21] chriseaton opened #7823 "Strange styles after upgrading from 7.5 to 7.6"
## Summary

For some reason the styles look a bit off when viewing a job. This occurred after switching out the docker container tag from `7.5.0` to `7.6.0`.

![image](https://user-images.githubusercontent.com/5247568/142670667-a16b9134-5f5b-4984-91da-d776bfd40a76.png)

## Steps to reproduce
Using docker-compose:
[code]

## Expected results
Text colors that are readable.

## Actual results
White t

[2021-11-19 18:26] xtremerui commented on #7823
It is fixed in https://github.com/concourse/concourse/pull/7756. Will be in next release.

[2021-11-19 18:26] #7823 closed

[2021-11-20 20:52] sahmeder commented on #1379
Hey there @robinhuiser . Sorry if this is a dumb question, but I've tried to run that docker image and I keep getting the error message "error: Please specify one command of: generate-key, land-worker, migrate, quickstart, retire-worker, web or worker". Is it even possible to run Concourse on M1 AArch64/Arm64?

[2021-11-22 16:20] robinhuiser commented on #1379
Hi @sahmeder - I have tested the arm64 images on Raspberry Pi only, but I would be happy to help out. Could you please share your deployment (docker-compose, Kubernetes manifests) so I can be of assistance?

[2021-11-22 16:39] sahmeder commented on #1379
Hey @robinhuiser Thanks so much for responding :)

What I did was run the rdclda/concourse docker image that you [created here](https://github.com/robinhuiser/concourse-arm64/blob/main/docker-compose.yaml). I was getting the errror message that my iptables were failing and someone created a github issue here where using the rdclda/concourse image [fixed that issue for them](https://githubmemory.co

[2021-11-22 16:58] robinhuiser commented on #1379
Hi @sahmeder - I will replay your issue later tonight, need access to an M1 MacBook or Raspberry Pi which I do not have now.

[2021-11-22 18:46] ikegentz opened #7826 "OIDC hostedDomains Rejects Everything"
## Summary

Related to https://github.com/concourse/concourse-chart/issues/281, wasn't sure which place was better to file the issue so feel free to close one or the other.

We are attempting to get Concourse (helm chart) working via OIDC so our team can log into it using their Google accounts. This is working, however we then attempted to restrict the domain to only be our organization via the fo

[2021-11-23 03:44] sahmeder commented on #1379
@robinhuiser  No rush :)

[2021-11-23 12:30] nexeck commented on #7564
I have a question to this, because currently i tried to use nested across steps:

We need to use 6 different var's in a matrix/combination with one across step. It seems, that concourse is limited to only 2 or 3 vars for those kind of combinations. Is this related to the nested topic issue?

[2021-11-23 15:21] clarafu opened #7830 "Release 7.4.3"
Steps for a new patch release:

* [x] Ensure each resource type is pinned to whatever version was last shipped within the MAJOR.MINOR series. This is to avoid accidentally shipping breaking changes in resource types with patch releases.

  * If a patch release is being shipped in order to bump a resource type (e.g. for a CVE or bug fix), pin it to the appropriate version instead.

* [x] Go through

[2021-11-23 15:51] AndoniLarz commented on #7684
Experiencing the same here when we upgraded from 7.4.0 to 7.4.2, using containerd.

[2021-11-23 16:24] mymasse opened #7831 "All resource including output resources are now checked"
## Summary

This was raised as a discussion item: https://github.com/concourse/concourse/discussions/7808

Basically when this PR https://github.com/concourse/concourse/pull/7208 was merged in 7.6.0 the resource checker started checking all resources and not just input resource as per documentation here https://concourse-ci.org/checker.html

## Steps to reproduce

Using this pipeline:

[code]

##

[2021-11-23 20:39] xtremerui commented on #7831
I think the problem is how concourse finds out put-only resources (as in job outputs) that need check here
https://github.com/concourse/concourse/blob/master/atc/db/check_factory.go#L157-L162

[2021-11-23 20:56] hstenzel opened #7832 "set_pipeline step does not preserve variables"
## Summary

If I use a variable `((foo))` in a `set_pipeline` step, I can successfully deploy the pipeline with `fly set-pipeline` but not with the `set_pipeline` step.

## Steps to reproduce

Consider:

[code]

When I deploy with `fly set-pipeline --var foo=bar` it works as expected. However it errors out when run because of the src trigger.

## Expected results

I'd expect the pipeline variables

[2021-11-23 21:22] nwade commented on #7826
I am seeing this issue as well!

[2021-11-23 21:36] chriseaton commented on #7684
I tried using the latest 7.6.0 but still have the same issue. I switched my worker to use containerd, but it still is taking forever to get from "preparing build" to actually running the bloody thing, even if the job is nothing but an echo, it takes 5 minutes to get past that message (nothing else running). Tried overlay, tried detect, tried all sorts of settings. Concourse just sits there. About

[2021-11-23 21:40] sahmeder commented on #1379
I wanted to add that I tried installing it via a Ubuntu CLI through multipass and got the same results as well.

[2021-11-24 08:17] AndoniLarz commented on #7684
FYI, we rolled back to 7.4.0 today and the problem seems to be gone for now.

[2021-11-24 09:26] Berber31 commented on #7684
Here is some Jaeger charts screenshots to illustrate previos post:

**7.4.2 with starting job build latency:**
![jaeger-7 4 2-scheduler Run](https://user-images.githubusercontent.com/49525332/143210420-a87f0846-d296-4488-a316-5f83b3c9ed54.png)

**7.4.0 - no latency experienced:**
![jaeger-7 4 0-scheduler Run](https://user-images.githubusercontent.com/49525332/143210806-29a748cc-731d-48d1-9944-c363

[2021-11-24 15:19] odormond commented on #7791
Just a quick update, after 36 hours of operation with 7.6.0 (we jumped over 7.5.0) we haven't seen any mismatch between the `active_tasks` count and the actual number of task containers on the workers.
However we did get a bunch of `pq: new row for relation \"workers\" violates check constraint \"workers_active_tasks_check\"` but they show up a bit after a restart to change a setting so I'm not to

[2021-11-24 15:58] xtremerui commented on #7791
Thank you so much for the update. We are also doing stress testing on 7.6 that trying to reproduce this issue.

[2021-11-24 20:02] djcal460 opened #7837 "For input PR Resource, Task doesn't pass output to the Put Step."
## Summary

Put Step will only accept hardcoded paths or static variables. It is not recognizing output passed to it from the previous task.

## Steps to reproduce

The task script below looks through the PR for 4 possible projects. The first one it finds, it saves that as the path and directory. (e.g. path is **monorepo/proj1/frontend** and directory is **monorepo-proj1-frontend**). Then, using a

[2021-11-25 08:15] marco-m-pix4d commented on #7684
To add  a data point, we updated to 7.6.0 and we are very happy in general, compared to 7.4.
We tried containerd in the past, but we switched to the current default of garden.

Maybe related: since a lot of time we also run with "--resource-checking-interval 7m", compared to the 1m default, because resource checking can really kill Concourse.

[2021-11-26 05:16] christeoh opened #7842 "fly and credhub CLI for windows need trusted publisher information included"
This is so the publisher certificate can be added to a whitelist for application whitelisting on Windows hosts.

[2021-11-28 20:07] taylorsilva commented on #7842
I'm guessing this is for the windows Bosh release?
None of us on the core team are windows devs. Are there any guides you know of that we could follow for signing go binaries?

[2021-11-28 20:19] taylorsilva commented on #7832
I don't think this is a bug, I think this is confusion about how vars work in a pipeline vs on your terminal with fly.

When you're doing `fly set-pipeline` you're passing in static vars where you're providing the var **name** and **value**.

In your pipeline you've provided the var **name** and set the value to `((foo))`. This does NOT refer to the value of the var `foo` that you passed in via fl

[2021-11-29 12:18] jprelph opened #7848 "Resource Not Updated Between Across Tasks"
## Summary

When running multiple tasks with across, if the first run of the task updates the resource, the second run still uses an older version of the resource and not the updated version.

## Steps to reproduce

Resources are all git repositories.

[code]

## Expected results

The first iteration of the task runs and updates (and puts) the cps-mock resource, which is then successfully used for

[2021-11-29 16:52] xtremerui commented on #7842
looks like signing the exe is not a problem but getting a certificate would be. It costs about 250 - 400 usd per year.

If we gonna use a dev certificate that we created ourself, user will need to install the cert to window host to get rid of the warning (untrusted publisher).

[2021-11-29 18:53] navdeep-pama opened #7850 "Xenial Concourse v6.7.8 Support, update the Upgrade guide"

[2021-11-29 18:59] navdeep-pama opened #7851 "Enhance web UI Build page"
- [ ] First build number spacing
- [ ] Builds with period spacing

[2021-11-29 20:48] hstenzel commented on #7832
Thanks, it does make sense asto why. It matches with what I inferred based on observed behavior.

However, it does mean that there is no way to truly use variables with the `set_pipeline` step since the variables are dereferenced at `fly sp` time. In turn this makes it more difficult to construct reusable pipelines -- it's harder to have a single pipeline definition and instantiate it multiple tim

[2021-11-30 01:17] xtremerui commented on #7642
I am seeing the error in 7.0, 7.4 and 7.5. Based on the different results we all have it doesn't seem like a concourse issue but more about the host that concourse is deployed within, just like what @analytically mentioned above.

In our own CI the base image of concourse/dev is latest ubuntu:boinic so running docker-compose locally even with concourse 7.0 still fails. @taylorsilva could you share

[2021-11-30 15:57] taylorsilva commented on #7642
I don't remember those details anymore. I was probably using the `concourse/concourse` image on docker hub and switching between tags (`7.0`,`7.5`, etc.)

[2021-11-30 16:08] Berber31 commented on #7684
@taylorsilva
Do you have an idea if this bug (latency) discovered in 7.4.2, is also present in 7.6.0 (as mentionned above by @chriseaton) ? and maybe targeted to be fixed in 7.6.x ?

[2021-11-30 18:04] xtremerui commented on #7642
@taylorsilva how did you deploy it? Was it by docker-compose or chart or bosh?

[2021-11-30 18:56] taylorsilva commented on #7642
@xtremerui docker-compose. I took the docker-compose.yml in the main repo, commented out the `build: .` lines under `web` and `worker` and changed the image to `concourse/concourse:<semver-tag>` for both as well.

[2021-11-30 19:02] taylorsilva commented on #7684
I never got around to reproducing it so not sure.
@clarafu @xtremerui Should probably check this out as I can imagine large customers not being happy with long build start times like this 😬

[2021-11-30 20:42] chriseaton commented on #7684
I upgraded to 7.6.0 as well and still experience long wait times after everything has been checked off. Could workers be trying to re-pull containers every time they run or something? I dunno. Here's my config- I am running concourse in docker-compose.

concourse:
[code]

workers:
[code]

docker-compose.yml
[code]

[2021-12-01 01:28] xtremerui commented on #7642
Confirmed the issue started from concourse 7.4 with `guardian` runtime.

[2021-12-01 03:14] chriseaton commented on #7684
I decided to try switching up workers. I removed all the docker-compose-based workers and stood up a bare one on a fresh/clean CentOS 8 install w/ docker-ce latest and set the runtime to containerd... which had issues, so cleaned it all and switched back to guardian. Got everything connected and running, however, the waiting on that screen is still present. Even with this one single worker (all ot

[2021-12-01 04:35] evanchaoli commented on #7642
@xtremerui Does this problem affect all privileged steps? We are planning to upgrade to 7.6.0. If this problem is also in 7.6.0, then we have to postpone until the problem is fixed.

[2021-12-01 14:50] sirzooro commented on #6859
Last RedHat8 update (4.18.0-348.2.1.el8_5.x86_64) also broke rpmbuild on Concourse. rpmbuild is able to build binaries and install them in temporary location, but then find-debuginfo.sh script prints "Operation not permitted" error for every .so library (apps probably are affected too, but we do not put them in rpms).
[code]
Fortunately `privileged: true` attribute still works as a workaround.

[2021-12-01 16:00] xtremerui commented on #7642
@evanchaoli not sure. Haven't seen any other issue reported yet. I would assume the impact should be limited as we do have privilege test covered in our CI.

[2021-12-01 16:08] xtremerui commented on #7684
@chriseaton I used the yaml you provided and tested it in a local docker-compose concourse. Can't reproduce it.

[2021-12-01 16:26] maxknee opened #7856 "Jaeger eating up memory causing atc's to crash"
## Summary
Turning on jaeger tracing and causing ATCs to crash.

## Steps to reproduce
Enable jaeger tracing on Concourse v6.7.6
1 team, 963 pipelines not sure on the exact job count.

2 ATCs, 20 workers.
Running in AWS - c5.2xlarge for the ATC types

## Expected results

ATCs to run

## Actual results

[code]

[code]

## Additional context

## Triaging info

* Concourse version: v6.7.6
* Browser

[2021-12-01 18:09] taylorsilva commented on #7832
I'm having trouble with "...there is no way to truly use variables with the set_pipeline..." because I think that is very possible since we do use vars to set up a few of our pipelines.

You can see our release pipelines here: https://ci.concourse-ci.org/?search=team%3A%22main%22%20group%3A%22release%22
and they get set with `set_pipeline` steps here (in our `reconfigure` pipeline): https://github

[2021-12-02 15:19] hstenzel commented on #7832
I think we're talking about two different scenarios.

Looking at https://github.com/concourse/ci/blob/798a442475958d58f845c6f8fc4240ed068ff335/pipelines/reconfigure.yml#L308, there is  `vars.slack_hook` set to `((slack_hooks.concourse-private))`, where the value comes from an external secret store.

This is different from what I am trying to do, where I want to use a non-secret concourse variable

[2021-12-02 16:33] xtremerui commented on #7642
@aminjam could you share how postgres is installed and configured (users groups in particularly) in image `cloudfoundry/diego-units-ci`? With the security updates by ubuntu I think those configuration might need to repave. Also not sure how exactly the driver `github.com/jackc/pgx` works.

Have you tried a different version of postgres or a different driver?

[2021-12-02 16:34] xtremerui commented on #7642
@analytically could you share the context that you seeing the issue?

[2021-12-02 20:04] #7830 closed

[2021-12-02 21:01] Eeems opened #7857 "Downgrade to 7.4.0 database (1625844436) fails"
## Summary

When attempting to downgrade the database to 7.4.0 as instructed in the 7.4.3 release notes it fails.

## Steps to reproduce

Run `concourse migrate --migrate-db-to-version=1625844436` on a 7.4.2 database.

## Expected results

The migration should work and allow us to upgrade to 7.4.3.

## Actual results

[code]

## Triaging info

* Concourse version: 7.4.2
* Did this used to work? No

[2021-12-03 14:09] #6919 closed

[2021-12-03 15:22] clarafu commented on #7857
Thanks for reporting this issue, there is a bug in the downgrade script

https://github.com/concourse/concourse/blob/a421efde8fd9e572f6084188039aca213347ef28/atc/db/migration/migrations/1625844437_drop_build_event_id_seq.down.sql#L17

it is missing the second `|` in that line after `pipeline_build_events_'`.

Really sorry for the inconvenience, it seems like our upgrade/downgrade tests did not pro

[2021-12-03 15:26] Eeems commented on #7857
Is there anything I can do to work around this, or will I have to wait for a new version to fix it?

[2021-12-03 16:17] taylorsilva commented on #7605
<img width="283" alt="image" src="https://user-images.githubusercontent.com/4583837/144635847-e9307b01-85f3-429d-a34e-72fb217657d6.png">
Can't reproduce this on Safari anymore. Guess it's fixed? 🤷

[2021-12-03 16:17] #7605 closed

[2021-12-03 16:25] clarafu commented on #7857
I think I'm going to create a script that you can run against your database that will fix it and then you will be able to downgrade back to 7.4.0!

[2021-12-03 16:27] Eeems commented on #7857
It would probably be a good idea for someone to update the release notes with a reference to this just in case others are planning to downgrade.

[2021-12-03 16:57] robinhuiser commented on #1379
@sahmeder  - did you try to use the provided docker-compose.yaml file in the Docker registry linked Git repo?

[code]

[2021-12-03 18:06] metskem commented on #7605
I am having it all day still:
<img width="197" alt="image" src="https://user-images.githubusercontent.com/555693/144651360-19dc3d87-6b73-4562-886d-fc215557a0e0.png">

[2021-12-05 09:45] Berber31 commented on #7857
@clarafu

Where the *.sql are located in the concourse docker image ? in didn't found them with a `find / -name *.sql` in the docker image

[2021-12-05 14:48] sahmeder commented on #1379
Hey @robinhuiser ! I was able to get it up and running. So what I was doing incorrectly was that instead of zipping the concourse-arm64 folder and running docker-compose up within that folder locally, what I was doing was pulling the docker image from the docker registry. A little new to docker and containerization so please excuse my ignorance :)

[2021-12-05 16:27] ywei2017 commented on #5997
+1 on the issue. Is there still broad interest?

[2021-12-06 15:36] Berber31 commented on #7857
@clarafu

Do you plan to provide a 7.4.4 with a migrate binary fixed to downgrade database to 7.4.0 ?

cause we face off the same issue with our production environnement.

Thanks

[2021-12-06 16:18] AndoniLarz commented on #7857
Hi, I'm interested too in knowing when there will be a fix on this.

[2021-12-06 18:44] navdeep-pama opened #7862 "7.4.4 Patch Release - Fix upgrade/downgrade flows"
- https://github.com/concourse/concourse/issues/7857
- Update downgrade instructions for v7.4.1, v7.4.2, v7.4.3
- Include information for upgrade and downgrade path for each patch

[2021-12-06 21:33] clarafu commented on #5373
Fixed by https://github.com/concourse/concourse/pull/7176

[2021-12-06 21:33] #5373 closed

[2021-12-08 10:39] odormond commented on #7791
As promised, here is another update. So far still no mismatch between the `active_tasks` count and the actual number of task containers on the workers. But we still see a few pq constraint violation. Around 2-5 per day.

[2021-12-09 17:06] xtremerui commented on #7791
Thank you for the udpate again. While we are waiting for the PR and next concourse release, I am glad to see 7.6 help current issue. Hopefully the further optimation can make this strategy more stable.

At the same time, you can safely ignore the pg violation as it is just trying to bring down the active tasks count below 0.

[2021-12-09 17:15] drahnr opened #7875 "fails to start on btrfs filesystem without explcicitly specifying btrfs"
## Summary

## Steps to reproduce

run
[code]

## Expected results

Start as 7.4.0 did.

## Actual results

[code]

## Additional context

Deleting the directory manually does not make a difference.

## Triaging info

* Concourse version: 7.6.0
* Browser (if applicable): x
* Did this used to work? Yes

[2021-12-13 09:08] jamesmealing commented on #7857
Hi, any idea when 7.4.4 with the database downgrade fix will be released?

[2021-12-13 15:49] nfisher opened #7882 "Build badge and cc tray token"
## Summary

In order to provide [Observations](https://concourse-ci.org/observation.html) of a pipeline (e.g. build badges, cc.xml, etc) it is required that a pipeline is [exposed](https://concourse-ci.org/managing-pipelines.html#fly-expose-pipeline). This in turn makes the pipeline visible in a limited scope on the Concourse dashboard. It would be preferable if a token could be specified similar

[2021-12-13 16:31] clarafu commented on #7857
I've been sick the past week so I am now working on the script and releasing 7.4.4

[2021-12-14 08:12] marco-m-pix4d commented on #7231
Not an answer, but, in my opinion, this goes in the same family of #755 and #2581, in the sense that if Concourse were resilient, at least a subset of these kind of errors would be transient and not definitive for the result of the job. We are experiencing the same.

[2021-12-14 16:05] jamesmealing commented on #7857
Sorry to hear you've been unwell! 😕 But glad to hear 7.4.4 is coming soon. 😊

[2021-12-14 20:41] clarafu opened #7884 "Downgrading does not return database migration history to downgraded version"
## Summary

As a summary, the way that downgrading works causes a few problems in two specific situations.
1. When I want to insert a new migration version in-between the version I am downgrading **from** and the version I am downgrading **to**, that in-between migration will not run.
2. After I downgrade and if the last migration that I am downgrading from is deleted in my new concourse version,

[2021-12-14 23:49] clarafu commented on #7857
I've created a script that contains

[code]

And done some manual testing and it seems to work. Basically what this script does is run the down migrations necessary for downgrading from 7.4.1 or 7.4.2 and also **removes** the history that the up migration that was included in 7.4.1 or 7.4.2. This is a little different from what a proper downgrade does to your database but I needed to do it this wa

[2021-12-15 07:44] NitinJoshi-Nalli-rft opened #7885 "Get "/volumes/84c7ef90-ecbf-4f14-4bc6-b9209f5fe9c7": dial tcp 10.130.178.110:46175: connect: no route to host"
Some Builds are failing frequently  due to workers rotation.

* Concourse version:7.4

[2021-12-15 10:23] jamesmealing commented on #7857
Thanks, @clarafu. Just to confirm, if I am already on 7.4.0, having downgraded from 7.4.2 but without having run `concourse migrate` at any point, am I okay to run the above script as-is on 7.4.0 and I am then back to "normal", ready to upgrade to a later version (7.4.3, 7.5.0 or 7.6.0)?

[2021-12-15 18:01] clarafu commented on #7857
@jamesmealing I'm just curious, after you downgraded back to 7.4.0 without running `concourse migrate`, is everything running smoothly? Do you see any errors in your web logs or any builds that are started and are stuck and cannot finish? But to answer your question, yes you are correct that you can run the script above and then be able to upgrade to any later version (7.4.3, 7.5.0, 7.6.0).

[2021-12-15 21:32] chriseaton commented on #7684
It seems that this really appears to get worse the more pipelines are added to the concourse instance. Even if none are running it's almost as if it tries to do some cleanup job across all of them before it actually starts the job.

[2021-12-16 10:45] jamesmealing commented on #7857
@clarafu I'm not convinced they are, to be honest, but it's difficult to say for sure. We have Concourse deployed in AWS and use auto-scaling for certain worker pools and, since all of this kicked off with the 7.4.* upgrade path, we have seen a notable increase in workers getting stuck `retiring` when EC2 instances are terminated. We have also seen a slight increase in the number of stuck builds,

[2021-12-16 17:33] clarafu commented on #7857
Yes that error message is definitely related. If you run the script it should fix those build event seq does not exist errors.

[2021-12-16 19:56] jamesmealing commented on #7857
Awesome, thanks, @clarafu. I'll aim to give this a try soon. 👍

[2021-12-16 23:05] dennisjbell opened #7896 "Jobs and resources with periods in their name do not show up under groups."
## Summary

Jobs with names that contain periods or having resources with names containing periods do not show up in groups.

## Steps to reproduce

Create a pipeline that contains a group that consists of one job.  That job has one task and one resource.  The job name or the resource name contains a period (ie -  resource: concourse-go_1.16_github ).  set the pipeline via fly.  Attempt to view th

[2021-12-19 22:43] vrga commented on #5080
@xpcone https://github.com/concourse/concourse-docker/issues/76 seems to be the eventual fix for this, once they release it.

[2021-12-20 17:04] taylorshaulis commented on #7350
To clarify this did not resolve the problem. The 7.6.0 update removed the ability to reproduce the problem using the fly cli.

I am going to leave this closed and push for Jenkins.

[2021-12-20 17:19] AndoniLarz commented on #7857
Hi ! Just to say I tested the script on a preprod instance and it seems it worked fine. I just had to adapt the env vars names according to those I have and it ran smoothly. I checked the `migrations_history` table and it's correct . Thank you for this quick fix !

[2021-12-22 14:26] AndoniLarz commented on #7857
I executed the script on the production instance. It worked fine for most of the cases since we saw a massive decrease in SQL related errors but one remained.
The error was on a job that had 3 builds :
- the first 2 were cancelled
- the third one was in a `pending` status, with `aborted` being `true`

The `select max(event_id) from pipeline_build_events_3711 where build_id=71038653;` request gave

[2021-12-23 10:13] ThibaultDelaune-pro opened #7903 "Passed constraint on current job blocks its group to be displayed in the UI"
## Summary

If you put a `passed` constraint on a GET resource and this constraint specify the current job, the group/tab in which the job is will not be displayed in the UI.

## Steps to reproduce

[code]

## Expected results

It should be impossible to deploy such a pipeline!

## Actual results

The `first-group` tab is empty

![first-group](https://user-images.githubusercontent.com/79525444/147

[2021-12-23 17:27] chriseaton commented on #7684
Definitely related to the number of pipelines you have. I've added a few more pipelines, now just kicking off one job (no others running) takes 8+ minutes, yet I see a tonne of "sweep-containers" and "sweep-volumes" logs while I'm waiting.

It seems like concourse is running some cleanup on every single pipeline every time a job starts which is taking brutally long the more pipelines/jobs you have

[2021-12-24 03:25] chriseaton commented on #7684
FINALLY figured it out after tearing down servers and rebuilding them and trying a bunch of different versions all the way back to 6.*. Here's what I found and how I fixed it:

The culprit is the `serial` flag on jobs. For some reason, even if there is only one job running, it causes any subsequent job to take a heck of a long time to spin up, regardless of what pipeline it's in. I assume this is

[2021-12-24 12:47] antpk commented on #6612
I think the old api got shutdown recently and I had to upgrade to the latest 6.7.x. Would it be an idea in the release notes for 6.7.4 to mention the admin requirement?

[2021-12-24 15:17] #7721 closed

[2021-12-24 23:27] igor-nikiforov commented on #7857
@clarafu thank you so much! Script worked as expected, successfully upgraded to 7.4.3 from 7.4.2.

[2021-12-26 22:49] Infinoid opened #7905 "containerd seccomp group should include `faccessat2` call"
## Summary

This new syscall was submitted [in May of 2020](https://patchwork.kernel.org/project/linux-fsdevel/patch/20200513074537.1617-1-mszeredi@redhat.com/), is present in Linux kernels v5.8.x and above, and recent builds of [musl](https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.14.0#faccessat2) and [glibc](https://sourceware.org/git/?p=glibc.git;a=commit;h=3d3ab573a5f3071992cbc4f

[2021-12-27 15:00] Infinoid commented on #7905
I see slightly different behavior on x86-64.  It seems to fall back more gracefully than it does on aarch64.

[code]

[2021-12-28 17:16] ADustyOldMuffin commented on #3179
I'm going to pop in here and say the reasoning of

Is a terrible reason to not do this. There's plenty of use cases around building messages and other things from the resulting build besides just versioning, and even if being used for versioning I'd say it's up to the user not the pipeline to worry about it.

[2021-12-28 17:23] ADustyOldMuffin opened #7906 "Expose Build metadata to tasks"
## Summary

Build metadata should be exposed to all tasks, not just get and put operations. The reasoning for it to not be is documented [here](https://concourse-ci.org/implementing-resource-types.html#resource-metadata).

I disagree with the reasoning as there's a lot of use cases where the metadata would be needed that has nothing to do with versioning. IE we're trying to construct a message to

[2021-12-28 22:41] chriseaton commented on #7684
This is interesting, re-setup things all over for the millionth time on v7.6.0. On the deadlocked pipelines, the worker logs just keep repeating the following (debug output enabled):

[code]

So maybe it, for some reason thinks the build is locked, and is unable to unlock it?

[2021-12-29 01:22] chriseaton commented on #7056
I am still see this in 7.6.0.
[code]

[2021-12-29 01:38] chriseaton commented on #7684
I have a strong feeling https://github.com/concourse/concourse/issues/6632 may be related, which is strange because I'm using v7.6.0, but I did see that same reported message in the logs right around the stall:
`worker.garden.garden-server.attach.failed`   `load proc: no running process found: process does not exist resource: not found`.

[2021-12-29 04:15] pratikbalar commented on #7056
Not updated concourse to 7.6.x yet, will update in this one.

[2021-12-29 18:46] chriseaton commented on #7684
Also interesting, is we now see random jobs that stall, then eventually finish after sitting there for an hour. However, if you kick off a new build in the meantime, they complete quickly, while the original just sits there.

Here' you can see we kicked off jobs 8 and 9 ok after waiting 9m for this other job to do something. They both finished and we're still waiting on this deadlocked job.
![imag

[2021-12-30 01:07] kberzinch opened #7907 "No way to override `default-get-timeout` for `image_resource`"
## Summary

If there is a global `default-get-timeout` set on the web node, it is not possible to override that timeout for the implicit `get` step that is used to pull the `image_resource` configured on a task.

## Steps to reproduce

Start up Concourse with `default-get-timeout` set very low

[code]

Task config:

[code]

## Expected results

Some field is available in the task config to overrid

[2021-12-30 06:50] chriseaton commented on #7684
This problem exploded for me, took me a good week of pain to solve. But the below is the _first_ resolution to the problem discovered earlier. Everything else that came after turned out to be my own fault. On our old concourse server, apparently after a reboot docker had restarted the old concourse instances (from docker-compose) that still used the same DNS names as the _new_ concourse server. Oh

[2021-12-30 06:50] #7684 closed

[2021-12-31 20:17] kberzinch opened #7910 "Peer-to-peer streaming large volume across workers reliably fails"
## Summary

I am trying to use the `mingc/android-build-box` Docker image to build an Android app, which is relatively large compared to the other images used in this cluster. The volume on disk is about ~10 GB:

[code]

Streaming this volume across workers (even if both have lots of disk/RAM) reliably fails.

## Steps to reproduce

Set up two workers with different tags, `a` and `b`.

Configure a

[2021-12-31 22:45] dumptruckman commented on #6953
After having just written something extremely similar to this, I can confirm that quoting the variable did the trick for me.

[2022-01-01 17:45] Eeems commented on #7857
Finally got around to running this and it seems to have worked. Thanks again!

[2022-01-01 17:45] #7857 closed

[2022-01-04 17:11] clarafu commented on #7857
@AndoniLarz Thanks so much for the information, that's actually very useful because that pending build was not fixed by my script. I'll update the script and the migration with this, thanks!!

[2022-01-04 20:52] xtremerui opened #7915 "Resource check creates overflow logs files in external syslog server"
## Summary
While Concourse syslog drainer is enabled, users notice huge amount of logs files are created in the external log server.

An example of resource

[code]
will causes many log files to be created as following

[code]

## Steps to reproduce
Enable syslog drain

## Expected results
logs files are created for job logs

## Actual results
huge amount of resource check logs files created

## A

[2022-01-04 20:55] taylorsilva opened #7916 "Update icon pack"
### Discussed in https://github.com/concourse/concourse/discussions/7904

<div type='discussions-op-text'>

<sup>Originally posted by **kberzinch** December 24, 2021</sup>
It looks like Concourse is [currently using version 5.0.45](https://github.com/concourse/concourse/blob/6d0e44f602fbb86e78e2862e0da7e7ac66d20b0d/yarn.lock#L902) of [@mdi/svg](https://www.npmjs.com/package/@mdi/svg) for icons, wh

[2022-01-04 20:56] #7916 closed

[2022-01-04 21:00] taylorsilva commented on #7896
Was fixed in 7.6.0 by https://github.com/concourse/concourse/pull/7616

[2022-01-04 21:00] #7896 closed

[2022-01-04 22:03] taylorsilva commented on #5997
You can do this with OPA in Concourse now https://concourse-ci.org/opa.html

[2022-01-05 14:45] #7850 closed

[2022-01-05 15:38] xtremerui commented on #7875
I think this is related to https://github.com/concourse/concourse/pull/7461 that introduced since 7.5.
@taylorsilva any ideas?

[2022-01-05 16:30] taylorsilva commented on #7875
Hmm maybe the code could be updated to only delete subvolumes?

Also, which driver are you trying to use @drahnr? That error only occurs on the code path for when Concourse is using the overlay driver. Are you trying to use overlay or btrfs?

[2022-01-05 16:31] taylorsilva commented on #7875
I think this may work. Basically only try and delete if the `*.img` file exists.
[code]

[2022-01-05 17:33] xtremerui commented on #7875
Could be the case that cmd.Driver is `detect` and the kernel supports overlay, which makes cmd.Driver to be `overlay` later.

[2022-01-05 19:13] taylorsilva commented on #7875
Yes, that is definitely happening. Another possible solution could be to make the detect logic go with btrfs if it detects the underlying system is a btrfs filesystem.

[2022-01-05 23:03] clarafu commented on #3179
@ADustyOldMuffin The reason why it is an anti-pattern is because we want to keep Concourse as stateless as possible. This comment (especially case 3) https://github.com/concourse/concourse/issues/3325#issuecomment-465401803 explains the reasoning for this design decision in further detail.

[2022-01-06 03:21] evanchaoli opened #7927 "Invalid var_sources causes build to error without any hint"
## Summary

If a pipeline contains an invalid `var_sources`, then build will immediately fail without any error message. As users cannot get hint of why build fails, they may have to ask support from OPs, which would significantly increase OPs cost.

## Steps to reproduce

Submit the following pipeline to a cluster:

[code]

Then trigger a build of the job, the job will immediately fail without an

[2022-01-06 15:49] clarafu opened #7929 "Release 7.4.4"
Steps for a new patch release:

* [x] Ensure each resource type is pinned to whatever version was last shipped within the MAJOR.MINOR series. This is to avoid accidentally shipping breaking changes in resource types with patch releases.

  * If a patch release is being shipped in order to bump a resource type (e.g. for a CVE or bug fix), pin it to the appropriate version instead.

* [x] Go through

[2022-01-06 16:04] #7862 closed

[2022-01-06 16:44] #7929 closed

[2022-01-07 03:14] evanchaoli commented on #7910
This is true, I am encountering this issue also. If you look at the code:

https://github.com/concourse/concourse/blob/4e105fab919930557e279f9f3cbb9c82bb246bb9/worker/baggageclaim/volume/repository.go#L513-L530

With p2p streaming, source worker compress the volume into a memory buffer first, then send the buffer to remote.

But with streaming-via-atc, source worker just use a `HttpResponseWriter`

[2022-01-07 15:37] pypmannetjies commented on #4322
This would be such a useful feature IMO

[2022-01-07 15:42] clarafu commented on #7791
I guess I am a little curious as to why there are the pq constraint violations that happen because the only things that should be trying to decrease the `active_tasks` count are `Approve` and `Release`. In theory, there should be a 1:1 with increasing and decreasing the `active_tasks`. @odormond did you ever run `UPDATE workers SET active_tasks = 0`?

Also, I'm curious to know the reason behind wh

[2022-01-07 17:59] #7704 closed

[2022-01-07 19:57] databus23 commented on #6956
Looking at the metrics code I have a theory why the garbage collection inside the prometheus emitter for worker metrics is not working as expected:

As @taylorsilva mentioned it seems some emitted metric keeps updating the `workerLastSeen` timestamp for workers that are no longer connected to the atc.

From looking at `metrics.go` there are only 6 metrics that carry the `worker` attribute that is

[2022-01-08 15:49] ywei2017 commented on #5997
Thanks, I think opa will work fine. I do agree with earlier comments that
disabling at containerd will be a meaningful security improvement.

On Tue, Jan 4, 2022 at 4:03 PM Taylor Silva ***@***.***>
wrote:

[2022-01-10 08:39] evanchaoli commented on #7927
Actually, the error message is available in UI, just need to display the error message in some manner.

For example, for such a bad build, `plan` API will return:

[code]

And `events` API will return:

[code]

Here `origin`'s id "61dbed25" is the plan id. So if build errors, and there is an event with origin id of plan id, then display the message.

Unfortunately, I'm not a front-end guy. Anyone

[2022-01-10 09:07] evanchaoli commented on #7907
@kberzinch when I added the timeout, my idea was to add a bottom-line gate, I would use very loose timeout values. In our clusters, I use 1h for get/put, and 8h for task. I think 1h should be good enough for fetching any big image.

[2022-01-10 12:26] odormond commented on #7791
Hi @clarafu, Happy New Year!

I certainly did run such an update in the past but at least not in the last month or two. And our workers are not living that long as we do auto-scale and even force-replace (gracefully) workers after 7 days.

I've looked for newer occurrences of the error over the last 7 days and have found 7, all of them between 1AM and 2AM on two days only. After a bit of digging,

[2022-01-10 14:38] kberzinch commented on #7907
Hmm, I guess that makes sense. On my cluster I expect _most_ `get`s to complete within a minute, and I would rather set it lower to reduce actively running builds since I have autoscaling workers.

This is the only step that needs a longer timeout, so I'll just keep it as an explicit `get` for now.

[2022-01-10 15:51] odormond opened #7946 "Worker cannot complete retirement if it was involved in the setup of a task it is not running"
## Summary

When a task start, the image to use for it is looked up by running the check operation of the image_resource followed by the get operation for the version found. When multiple workers are involved, it can happen that the check runs on a worker, the get on another worker and the task on a third worker. if any of the worker that took care of the check or get operation for the image is di

[2022-01-11 07:16] odormond commented on #7946
I forgot to mention that you can reliably reproduce the problem but without being able to sort out whether it's the check or get operation that block the worker from retiring using the following steps:
1. Start the ATC with limit-active-tasks set to 1.
2. Start a single worker.
3. Setup the pipeline.
4. Trigger the must-be-aborted job.
5. Trigger the must-be-aborted-job a second time. The check an

[2022-01-11 15:02] AndoniLarz opened #7950 "Having resources sharing the same config but with different names makes them get triggered as if they were one resource"
## Summary

I have two git-resource resources 1 & 2 that share the same config, pointing to the same git repo.
They share the same content under the `source` key.
They have different names and the `webhook_token`s' values are different.
When I trigger a webhook on resource 1, both of resource 1 and 2 get checked.

Pipeline example :
[code]

## Steps to reproduce

Have a pipeline like the one above

[2022-01-11 15:24] taylorsilva commented on #7950
Sounds like you have gloabl resources enabled: https://concourse-ci.org/global-resources.html

and it's working as intended. Resources are considered the same by Concourse if their type+source fields are the game.

[2022-01-11 16:21] AndoniLarz commented on #7950
Thank you for answering that fast !
I didn't know of that feature.
I will do some tests and will probably close the issue as soon as I'm done with this.